[2014-07-29 14:43] beriberikix opened #1 "core: design"
Document the design of the Ruby gcloud library

[2014-07-29 14:45] beriberikix opened #2 "core: service account auth"
Implement authorization using the [Service Account flow](https://developers.google.com/accounts/docs/OAuth2ServiceAccount).

[2014-07-29 14:47] beriberikix opened #3 "core: unit testing strategy"
Document the design and execution plan for unit testing.

[2014-07-29 14:48] beriberikix opened #4 "core: functional testing strategy"
Document the design and execution plan for functional testing.

[2014-07-29 14:49] beriberikix opened #5 "core: make gcloud-ruby repo public"
Anyone should be able to read this message once this is public.

[2014-07-29 14:51] beriberikix opened #6 "core: public continuous integration"
Implement continuous integration service anyone can run.

[2014-07-29 14:53] beriberikix opened #7 "datastore: transactions"
Details at [/datastore/docs/concepts/transactions](https://developers.google.com/datastore/docs/concepts/transactions)

[2014-07-29 15:00] beriberikix opened #8 "datastore: key management"
Details at [/datastore/docs/concepts/entities](https://developers.google.com/datastore/docs/concepts/entities).

[2014-07-29 15:02] beriberikix opened #9 "datastore: querying"
Details at [/datastore/docs/concepts/queries](https://developers.google.com/datastore/docs/concepts/queries).

[2014-07-29 15:12] beriberikix opened #10 "datastore: protobuf backend"
Add support for the highly-performant [Protobuf protocol](https://code.google.com/p/protobuf/).

[2014-07-29 15:13] beriberikix opened #11 "datastore: entity management"
Implement entity management

[2014-07-29 15:19] #1 closed, assigned to beriberikix

[2014-07-29 18:10] beriberikix opened #12 "storage: bucket management"
Details at [/storage/docs/concepts-techniques](https://developers.google.com/storage/docs/concepts-techniques).

[2014-07-29 18:11] beriberikix opened #13 "storage: idiomatic file abstraction"
Handling files the Ruby way.

[2014-07-29 18:12] beriberikix opened #14 "storage: file upload"

[2014-07-29 18:13] beriberikix opened #15 "storage: file download"

[2014-07-29 18:15] beriberikix opened #16 "storage: object management"

[2014-07-29 18:17] beriberikix opened #17 "storage: signed url generation"
Details at [storage/docs/accesscontrol#Signed-URLs](https://developers.google.com/storage/docs/accesscontrol#Signed-URLs).

[2014-07-29 18:19] beriberikix opened #18 "storage: ACL management"
Details at [/storage/docs/accesscontrol](https://developers.google.com/storage/docs/accesscontrol).

[2014-11-12 12:02] blowmage opened #24 "Custom Error Classes"
Add new Error classes that are thrown instead of raising a string. Users should be able to rescue a generic error (Gcloud::Error) or a specific error (Gcloud::Datastore::InvalidKeyfileError).

[2014-11-12 12:12] blowmage opened #25 "Feedback requested for accessing property values"
How should Datastore's Entity behave when accessing properties that have not yet been set?

[code]

The current behavior is to return `nil`. Another option is to raise an error.

IMO the behavior should be permissive. Consider the case of a projection query where entity records stored in Datastore have both name and email, but only name is projected in the query. In ActiveRecord the attributes tha

[2014-11-21 22:22] #24 closed, assigned to yoshi-automation

[2014-12-17 00:03] silvolu opened #33 "Add support for specifying if a property is indexed"
There is no support for specified if a property is indexed. Any user who uses gcloud-ruby with existing data will have all their indexing specifications reset when doing a put.

In gcloud-node this is exposed as an ['excludeFromIndexes'](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/datastore/request.js#L242) boolean property that get's translated to the opposite value for 'In

[2014-12-17 00:04] silvolu opened #34 "Add 'get' alias for find method in datastore"

[2014-12-17 00:14] silvolu opened #35 "Datastore keys should be immutable."
Once a key is stored in the Datastore it is immutable. Keys should be immutable in the client too.

[2014-12-17 00:20] silvolu opened #36 "Datastore: support delete by key."
A user should not need to have the entity to delete it; it should be possible to delete by key.
Check the [gcloud-node implementation](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/datastore/request.js#L309).

Enables use cases like user running a query with a `__key__` projection and then deleting all the results.

[2014-12-17 01:07] silvolu opened #37 "calls to lookup (find and find_all) should return the value of deferred if present."
The [response to `lookup` calls](https://cloud.google.com/datastore/docs/apis/v1beta2/datasets/lookup) can contain a list of keys that were not looked up due to resource constraints in the `deferred` array. If present, it should be returned to the user.

[2014-12-17 01:17] silvolu opened #38 "calls to runQuery should return the value of `moreResults`"
The [response to runQuery](https://cloud.google.com/datastore/docs/apis/v1beta2/datasets/runQuery) contains a `moreResults` field that should be returned to the user (indicate that the query should be continued).

[2014-12-18 22:57] #34 closed, assigned to blowmage

[2014-12-19 17:35] #37 closed, assigned to blowmage

[2014-12-19 17:37] #35 closed, assigned to blowmage

[2014-12-19 17:40] #36 closed, assigned to blowmage

[2014-12-19 20:49] #38 closed, assigned to blowmage

[2014-12-19 23:25] #33 closed, assigned to blowmage

[2015-01-08 00:59] silvolu opened #45 "datastore regression test failing"
I have 9 regression tests for datastore consistenly failing; @blowmage if you have time take a look, otherwise I'll try to check what is going on tomorrow morning.

[2015-01-09 19:19] #45 closed, assigned to silvolu

[2015-01-15 02:04] silvolu opened #48 "Do we need the 'cleanup' branch?"

[2015-01-15 06:51] blowmage commented on #48
No, I didn't realized it was pushed. Removing.

[2015-01-15 06:51] #48 closed

[2015-01-15 18:36] silvolu opened #49 "Add coverage reports to travis build"

[2015-01-15 18:37] silvolu opened #50 "Add regression tests to travis build"

[2015-01-20 19:05] blowmage commented on #49
Do you want to use [Coveralls](https://coveralls.io) for this?

[2015-01-20 19:28] silvolu commented on #49
Yeah, that's how we did it in the other gcloud projects.

[2015-01-20 21:33] blowmage commented on #49
Do you want the coverage for the unit tests, regression tests, or a combination of both?

[2015-01-20 22:16] silvolu commented on #49
I would add both; that is at least what we do in the other projects.

[2015-01-22 22:56] blowmage commented on #49
I've got a branch that _should_ work, but I'd like to test it to make sure. What is needed to configure travis to work with coveralls?

[2015-01-22 23:03] silvolu commented on #49
On coveralls, you need to sign in and enable access to the repo; I've already done it for gcloud-ruby, but if you want to try on your fork, you'll have to enable access to it.

[2015-01-26 17:03] blowmage commented on #7
This is in master and delivered.

[2015-01-26 17:03] #7 closed

[2015-01-26 17:03] blowmage commented on #8
This is in master and delivered.

[2015-01-26 17:03] #8 closed

[2015-01-26 17:03] blowmage commented on #9
This is in master and delivered.

[2015-01-26 17:03] #9 closed

[2015-01-26 17:03] blowmage commented on #10
This is in master and delivered.

[2015-01-26 17:03] #10 closed

[2015-01-26 17:04] blowmage commented on #11
This is in master and delivered.

[2015-01-26 17:04] #11 closed

[2015-01-26 17:04] blowmage commented on #12
Is the functionality in master sufficient to close this?

[2015-01-26 17:04] blowmage commented on #13
Is the functionality in master sufficient to close this?

[2015-01-26 17:05] blowmage commented on #14
Is the functionality in master sufficient to close this?

[2015-01-26 17:05] blowmage commented on #15
Is the functionality in master sufficient to close this?

[2015-01-26 17:05] blowmage commented on #16
Is the functionality in master sufficient to close this?

[2015-01-26 17:05] blowmage commented on #17
This is still being implemented.

[2015-01-26 17:05] blowmage commented on #18
This is still being implemented.

[2015-01-26 17:08] #49 closed

[2015-01-26 17:08] #50 closed

[2015-01-26 17:08] blowmage commented on #5
The gcloud-ruby repo is now public.

[2015-01-26 17:08] #5 closed

[2015-01-26 17:09] blowmage commented on #6
The gcloud-ruby repo is [running on travis-ci](https://travis-ci.org/GoogleCloudPlatform/gcloud-ruby/).

[2015-01-26 17:09] #6 closed

[2015-01-26 17:11] blowmage commented on #4
Running the regression tests is described in the [CONTRIBUTING](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/CONTRIBUTING.md) document. Is this sufficient? If not, what are the expectations for this?

[2015-01-26 17:11] blowmage commented on #3
Running the unit tests is described in the [CONTRIBUTING](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/CONTRIBUTING.md) document. Is this sufficient? If not, what are the expectations for this?

[2015-01-26 17:17] blowmage commented on #2
All authentication uses a JSON keyfile. Is that sufficient to close this?

[2015-01-26 19:35] jgeewax commented on #25
/cc @GoogleCloudPlatform/cloud-datastore

[2015-01-26 19:37] #2 closed

[2015-01-26 19:37] #3 closed

[2015-01-26 19:37] #4 closed

[2015-01-26 19:37] #12 closed

[2015-01-26 19:37] #13 closed

[2015-01-26 19:37] #14 closed

[2015-01-26 19:37] #15 closed

[2015-01-26 19:37] #16 closed

[2015-01-26 19:52] pcostell commented on #25
The next version of the API will have an explicit null value. So something to consider is that if entity[...] returns nil, there will be no way to distinguish between a set null value and a missing value.

[2015-01-27 15:35] blowmage commented on #25
For the past month or so I've been thinking about differentiating between and entity not having a property vs. having a property with a NULL value. Closely related is how to remove a property from an entity vs. setting the property's value to NULL. First, a bit of background. Currently the Entity has a `properties` method that returns an array of arrays of the properties and values. But this is a

[2015-01-27 17:00] jgeewax commented on #25
:+1: from me.

[2015-01-28 22:01] ryanseys opened #53 "Document storage"
I'd like to use this for uploading files to google cloud storage and notice there's some code hanging around for it but it's not documented in the README or [the docs](http://googlecloudplatform.github.io/gcloud-ruby/docs/). Perhaps storage is not yet feature complete, so also wondering on ETA for it. Thanks! :+1:

[2015-01-28 23:20] blowmage commented on #53
Storage is in active development, and is able to create/delete buckets and upload/download files now. The [documentation](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage.html) is a bit rough ATM but will be improved shortly as well. If you have any questions feel free to ask.

[2015-01-31 17:31] ryanseys commented on #53
Thanks, I'll take a look.

[2015-01-31 17:31] #53 closed

[2015-02-02 18:48] jgeewax opened #54 "Update the README to follow the new format"
See GoogleCloudPlatform/gcloud-meta#3 for what we're hoping to be the shared (mostly) format.

[2015-02-02 19:42] jgeewax opened #55 "Support generation property for Cloud Storage"
When..

- pulling a file down
- setting ACLs or other meta-data
- deleting a file

Also be able to get all generations of a file

[2015-02-02 19:42] jgeewax commented on #55
Assigning for triage and fixing-up :)

[2015-02-02 19:43] jgeewax opened #56 "Update the gcloud-ruby documentation on github.io"
Assigning to @blowmage for triage. Ideally this would be automatically updated and deployed by the build process.

[2015-02-02 19:48] jgeewax opened #57 "Get final review of Datastore API by GCD team from Google"
Datastore stuff we probably need to have covered:

We should be able to...

- [x] get an entity (or set of entities) by key
- [ ] ~~run a GQL query~~
- [x] build a query using operations like `.filter()`, `.order()`, etc
- [x] iterate over items in a query (including multiple pages)
- [x] delete an entity (or set of entities)
- [x] update properties on an entity using ruby-ish semantics
- [x] save

[2015-02-02 19:50] jgeewax opened #58 "Get final review of Pub/Sub API by Cloud Pub/Sub team from Google"
Placeholder issue until we are ready for a review

[2015-02-02 20:03] blowmage opened #59 "Generate docs on successful Travis-CI build"
We want the docs in the gh-pages branch to be updated on a successful build of the master branch.

We are running the build for each commit against multiple versions of Ruby, and while there are hooks for a successful individual build, there is no hook yet for a total successful build. We don't want to generate the docs for each version of Ruby, just once for the commit. The solution needs to take

[2015-02-02 20:07] blowmage opened #60 "Remove Lorem Ipsum from the gh-pages documentation"
The gh-pages branch has several instances of "Lorem ipsum" that should be removed or replaced.

[2015-02-03 20:30] jgeewax commented on #57
@blowmage : Added a checklist at the top here.. if these things aren't done, can we create issues to track their progress? I'd consider all of these "necessary" to call our Datastore code "stable".

Are there any things that should be on this list which I'm forgetting? I just took a rough pass at this...

[2015-02-03 20:52] blowmage commented on #57
This is a great set of features and gives me some ideas for how to improve the documentation.

The only feature not in the current implementation is running a GQL query. I was told GQL was being phased out and we weren't going to support it in gcloud-ruby. @silvolu can probably explain it better than I.

[2015-02-03 21:09] silvolu commented on #57
It's never on the roadmap, and my understanding was that we would not do it. More than being phased out, it's never been included in project. In previous reviews from the Datastore team, the absence of GQL was not mentioned.

[2015-02-09 12:27] blowmage opened #61 "Improve Property Management"
We need a better way to differentiate between removing an entity's property and setting that property to a NULL value. See #25 for previous discussion.

[2015-02-09 12:27] #25 closed

[2015-02-09 17:11] blowmage commented on #25
Please see #62.

[2015-02-09 17:48] blowmage opened #65 "Custom documentation theme"
We need a custom documentation theme to match the look and feel of the [gcloud-ruby](http://googlecloudplatform.github.io/gcloud-ruby/) site. The [current documentation](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/) using the default RDoc template.

The theme can be for either RDoc or YARD.

[2015-02-09 18:19] #54 closed

[2015-02-09 18:51] #56 closed

[2015-02-09 18:57] blowmage opened #67 "Get final review of Storage API by Cloud Storage team from Google"
Placeholder issue until we are ready for a review.

[2015-02-10 14:39] jgeewax opened #68 "Update README.md to fit consistent style"
See https://github.com/GoogleCloudPlatform/gcloud-meta/issues/3 for the format.

[2015-02-10 14:44] blowmage commented on #68
Is there anything in particular that is missing from the current README that you want added? I think the most recent revision is pretty close.

[2015-02-10 14:46] jgeewax commented on #68
If it matches the Proposal in https://github.com/GoogleCloudPlatform/gcloud-meta/issues/3, then feel free to close. I don't think it lines up exactly just yet.

[2015-02-10 18:45] jgeewax opened #70 "Looks like the build is broken?"
On the homepage the badge says failing... So either the badge needs fixing or the build needs fixing... not sure which.

[2015-02-10 18:56] jgeewax commented on #70
Badge is back... resolving...

[2015-02-10 18:56] #70 closed

[2015-02-10 19:15] blowmage commented on #70
The build is somewhat unreliable because we run multiple tests concurrently for the various versions of ruby. Sometimes we make too many requests across the concurrent tests and the service rate limits us. Even with incremental backoff. Retuning the failed will resolve it.

[2015-02-13 18:34] blowmage opened #71 "Handle ALREADY_EXISTS responses"
There are two API calls that a ALREADY_EXISTS response will occur:

* Topic Create
* Subscription Create

[2015-02-13 18:35] blowmage opened #72 "Handle NOT_FOUND responses"
There are three API calls that a NOT_FOUND response is likely to occur:

* Topic Get
* Subscription Get
* Subscription Create

[2015-02-13 18:36] blowmage opened #73 "Set a Subscription's acknowledge data on create"
The following acknowledge data can be set on a subscription during create:

* ackDeadlineSeconds
* pushEndpoint
* ~~attributes~~

[2015-02-13 18:36] blowmage opened #74 "Update an Event/Message ack deadline"

[2015-02-13 18:36] blowmage opened #75 "Update a Subscription's endpoint"

[2015-02-13 18:37] blowmage opened #76 "Support pagination on Topics"
Return and use token for paging results.

[2015-02-13 18:37] blowmage opened #77 "Support pagination on Subscriptions"
Return and use token for paging results.

[2015-02-13 18:38] blowmage opened #78 "Support publishing multiple messages in batch"

[2015-02-13 18:39] blowmage opened #79 "Ensure messages are base64 encoded if not a string"
Can message data be an array or hash? Should these structures use JSON to store in Pub/Sub?

[2015-02-13 18:40] blowmage opened #80 "Add ensure_connection! to Project"
Project methods can't work with out an active connection, similar to how Topic/Subscription behave.

[2015-02-13 18:41] blowmage opened #81 "Automatically acknowledge events/messages when pulled?"
Should we have an option to acknowledge events/messages when they are pulled? Is this a good idea?

[2015-02-13 18:41] blowmage opened #82 "Implement incremental backoff?"
Which Pub/Sub service APIs will respond with backoff errors? Any?

[2015-02-13 18:44] blowmage opened #83 "Message labels?"
The API has a data structure for labels that can be added to messages and allow subscriptions to filter on a label. The current Pub/Sub implementation does not expose labels on event messages or subscriptions. Is this expected?

If so, we will need the following:

  - [ ] Support additional message data (labels, deleted, etc)
  - [ ] Allow creating a message with a label
  - [ ] Allow subscribing

[2015-02-16 20:32] quekshuy opened #84 "Is the gem working?"
I'm trying to use this gem but so far am unsuccessful with trying to load it.

I installed as usual. I used sudo, since this is the system installation of ruby.

In irb I do this and it says cannot load such file:

[code]

I only have one ruby installation and that's the system one.

Could it be the gem is broken? If it isn't then I apologize for submitting this issue and I'll try again.

[2015-02-16 20:44] #84 closed

[2015-02-16 20:44] quekshuy commented on #84
Sorry it's my own error.

[2015-02-17 19:31] #61 closed

[2015-02-17 19:44] blowmage opened #86 "Bucket Search and Pagination"
Support the following options when listing files:

- [ ] prefix (prefix)
- [ ] max (maxResults)
- [ ] token (pageToken)

Return the following values with the list of files:

- [ ] token (nextPageToken)

[2015-02-17 19:45] blowmage opened #87 "File Search and Pagination"
Support the following options when listing files:

- [ ] prefix (prefix)
- [ ] max (maxResults)
- [ ] token (pageToken)
- [ ] versions (versions)

Return the following values with the list of files:

- [ ] prefixes (prefixes)
- [ ] token (nextPageToken)

[2015-02-17 19:51] blowmage opened #88 "Predefined ACL"
The following API calls support setting predefined ACL.

- [ ] Bucket insert (predefinedAcl/predefinedDefaultObjectAcl)
- [ ] Bucket patch (predefinedAcl/predefinedDefaultObjectAcl)
- [ ] Bucket update (predefinedAcl/predefinedDefaultObjectAcl)
- [ ] File copy (destinationPredefinedAcl)
- [ ] File insert (predefinedAcl)
- [ ] File patch (predefinedAcl)
- [ ] File update (predefinedAcl)

(The googl

[2015-02-17 19:54] blowmage opened #89 "File Copy by Generation"
Support generation in File#copy. The copied file can be a specific version/generation of the original file.

[code]

[2015-02-17 19:55] blowmage opened #90 "Support generation/metageneration flags?"
Do we support the ifGenerationMatch / ifGenerationNotMatch / ifMetagenerationMatch / ifMetagenerationNotMatch flags on the following API calls?
- [ ] Bucket delete
- [ ] Bucket get
- [ ] Bucket patch
- [ ] Bucket update
- [ ] File copy
- [ ] File delete
- [ ] File get
- [ ] File insert
- [ ] File patch
- [ ] File update

[2015-02-17 19:58] blowmage opened #91 "Manage Bucket Versioning"
Support management of a bucket's versioning setting. Allow getting values using a well named method.

[code]

Allow setting a new value using a setter method.

[code]

[2015-02-17 19:59] blowmage opened #92 "Manage File Attributes"
Support management (create, read, update) of the following:

- [x] contentType
- [x] cacheControl
- [x] contentDisposition
- [x] contentEncoding
- [x] contentLanguage

In addition, support create and read only of the following:

- [x] md5Hash
- [x] crc32c

Allow providing values during file creation:

[code]
Allow getting values using a well named method.

[code]

Allow setting new values using a

[2015-02-17 20:00] blowmage opened #93 "Storage watch and channels?"
Do we support watch and channels?

https://cloud.google.com/storage/docs/json_api/v1/objects/watchAll
https://cloud.google.com/storage/docs/json_api/v1/channels/stop

These APIs are not called in the node or python projects.

[2015-02-17 20:00] blowmage opened #94 "Should we support storage object method Compose?"
Does gcloud support composing a new storage object from existing objects? (https://cloud.google.com/storage/docs/json_api/v1/objects/compose)

This API is not called in the node or python projects.

[2015-02-17 20:03] blowmage opened #95 "Do ACL calls need to support incremental backoff?"
We have facilities to retry some API calls by incrementally delaying the retry. This is implemented on creating/deleting buckets. Does this also need to be applied to the ACL API calls?

[2015-02-17 20:05] blowmage opened #96 "Setting ACL on CRUD"
The Storage API supports setting ACL entities on insert/patch/update. Right now the gcloud-ruby sets ACL in separate calls. Is it important to allow setting ACL on CRUD actions? The benefit being that less API calls are made.

[2015-02-17 20:08] blowmage opened #97 "Update a File by generation"
The Storage API allows updates to be performed on a specific object version/generation. The default is the update is performed on the most recent version/generation. Is this something that gcloud-ruby needs to support? Or is that outside of the typical use and not worth complicating the API to support it?

[2015-02-17 20:09] #17 closed

[2015-02-18 00:33] #68 closed

[2015-02-22 03:08] blowmage opened #98 "Support PubSub's v1beta2 API"
Looks like [v1beta2 was just released](https://groups.google.com/d/msg/cloud-pubsub-lp/VClP6U8gTWU/Q1Kd438lmKkJ). The gcloud-ruby implementation in process is for v1beta1, and should switch to support v1beta2 instead.

[2015-02-22 03:08] blowmage commented on #98
@jgeewax We should switch versions, yes?

[2015-02-23 21:08] #18 closed

[2015-02-23 21:08] #55 closed

[2015-02-23 21:08] #86 closed

[2015-02-23 21:08] #87 closed

[2015-02-23 21:08] #88 closed

[2015-02-24 12:24] jgeewax commented on #98
I suspect that v1beta2 will be much closer to the final `v1`, so my guess is yes.

[2015-02-24 16:38] blowmage commented on #98
Yes, the mailing list has indicated that there are no changes planned between v1beta2 and v1.

[2015-03-02 22:16] jgeewax opened #102 "Simple authentication when running in GAE + GCE (or locally via Cloud SDK)"
Ideally we can "figure out" the environment and "just use the right credentials".

Order of eval should be the same as Python:

1. Specific credentials provided in code
1. Specific credentials provided in env var
1. Credential available in the Cloud SDK's magic path
1. ~~GAE credentials (magically discovered)~~
1. GCE credentials (magically discovered)

[2015-03-17 17:46] blowmage commented on #97
@jgeewax This is one of those things that seems outside the 90% use case.

[2015-03-17 17:49] blowmage commented on #95
This answer might be more obvious as part of the review by the storage team. I just don't have a great deal of knowledge on what storage API endpoints will return a backoff response.

[2015-03-17 17:53] blowmage commented on #90
I don't see any explicit support for these flags in gcloud-node or gcloud-python.

[2015-03-24 14:51] blowmage commented on #102
@jgeewax We already support 1 and 2, and I have code for 3. It looks to me that the "_magically discovered_" credentials will be supported in [google-auth-library-ruby](https://github.com/google/google-auth-library-ruby). I think it would make more sense to wait for google-auth-library-ruby to be available than to [duplicate that code](https://github.com/google/google-auth-library-ruby/blob/master

[2015-03-24 15:08] blowmage opened #103 "Add required_ruby_version to gemspec"
The gem is targeting Ruby 1.9.3+. This should be reflected in the [required_ruby_version](http://guides.rubygems.org/specification-reference/#required_ruby_version=).

[2015-03-24 15:12] blowmage commented on #102
I just saw that [google-api-client](https://rubygems.org/gems/google-api-client) and [googleauth](https://rubygems.org/gems/googleauth) were updated this morning. I'll update our dependency on those libraries and rework my changes to it.

[2015-03-24 15:42] jgeewax commented on #102
We can't announce anything until we have all these things done, so it's up to you whether you want to wait for external feedback or duplicate code. I'm fine with waiting, but we should set a hard deadline where we decide to stop waiting........

[2015-03-24 15:46] blowmage commented on #102
The code that would be duplicated was released this morning. My original comment was written last week but wasn't submitted until this morning.

[2015-03-24 15:47] jgeewax commented on #102
OK great :)

[2015-03-24 15:56] blowmage commented on #102
Google App Engine doesn't have a Ruby runtime so that will be skipped for now. Updating description.

[2015-03-24 19:57] blowmage commented on #90
The more I think about this, the more I think this is something we could use in gcloud-ruby without exposing it directly in the API. We could add the flags to the update/patch calls to make sure the record isn't stale.

[2015-03-24 20:35] blowmage commented on #67
@jgeewax Who does this need to be assigned to?

[2015-03-24 20:36] jgeewax commented on #67
Assigning to me to find the right person. Should have someone soon.

[2015-03-24 20:56] jgeewax commented on #67
/cc @thobrla

[2015-03-24 23:48] #102 closed

[2015-03-25 16:25] blowmage commented on #103
Also, it looks like [support for 1.9.3 has ended](https://www.ruby-lang.org/en/news/2015/02/23/support-for-ruby-1-9-3-has-ended/). Should this version be removed from the supported versions?

[2015-03-27 22:11] pcostell opened #107 "datastore local development creation"
The user shouldn't have to update their code in order to run locally vs against production Datastore.

In particular, they should be able to call:

    dataset = Gcloud.datastore "my-project"

If `DATASTORE_HOST` is set, it should use that for the host. Otherwise, it should use the default host (googleapis.com)

Also, even as is it should always use `DATASTORE_HOST` and `DATASTORE_PROJECT`. There

[2015-03-30 14:10] blowmage commented on #107
@pcostell Please take a look at #108. Thanks!

[2015-03-30 20:53] #107 closed

[2015-04-16 06:04] premist opened #109 "Keyfile from environment variables"
Do you have any plans to allow setting json key file from environment variables?

Right now I toss all credentials via environment variables, and gcloud ruby library is the only exception which requires json file to be placed somewhere in the filesystem.

[2015-04-16 14:53] blowmage commented on #109
Currently Gcloud only supports the project identifier and keyfile path in environment variables. The path must point to an actual file.

[code]

Here is what I think you are asking for:

[code]

Is that right?

[2015-04-16 15:05] premist commented on #109
Yes, that's right. Or since JSON file contains string values, it would be possible if gcloud allows setting them separately via environment variable.

[2015-04-20 18:03] blowmage opened #114 "Update documentation look and feel"
Match the Gcloud site.

[2015-04-28 16:36] blowmage commented on #72
During Subscription Create, NOT_FOUND is raised when the topic provided does not exist. This seems like an exceptional condition as as such I think the library should continue the current behavior of converting the response to an ApiError.

[2015-04-28 16:41] blowmage commented on #71
The only times I've seen these responses is when creating a topic or subscription with a name that already exists. The more I have played with this, the more I think the current behavior of converting the response to an ApiError is appropriate.

That said, we could convert the response to a new error, something like AlreadyExistsError.

[2015-04-28 16:42] blowmage commented on #72
We could convert the response to a new error, something like NotFoundError.

[2015-04-28 16:45] blowmage opened #116 "Update a Subscription's push config attributes"

[2015-04-29 17:29] blowmage commented on #78
I was thinking that one way to allow for this is to let `publish` take a block. Here is the syntax I am thinking of:

[code]

[2015-04-29 17:55] blowmage commented on #116
The only Subscription attribute we may need to update is `endpoint`. Per the [pubsub docs](https://cloud.google.com/pubsub/reference/rest/v1beta2/projects/subscriptions#google.pubsub.v1beta2.PushConfig), the only attribute supported is `x-goog-version`. gcloud-ruby isn't intending on supporting multiple versions of the Pub/Sub API, so this attribute has no reason to be set.

[2015-04-29 17:57] blowmage commented on #73
I don't think we have a need to support `attributes` at this time. According to the [pubsub docs](https://cloud.google.com/pubsub/reference/rest/v1beta2/projects/subscriptions#google.pubsub.v1beta2.PushConfig), the only attribute supported is `x-goog-version`, and we have no plans on supporting multiple version of the Pub/Sub API.

[2015-04-29 17:59] blowmage commented on #73
I think we should support these values as options in the create call.

[code]

[2015-04-29 18:02] blowmage commented on #74
I think we should call [`modifyAckDeadline`](https://cloud.google.com/pubsub/reference/rest/v1beta2/projects/subscriptions/modifyAckDeadline) when setting the dealine.

[code]

[2015-04-29 18:03] blowmage commented on #116
I think we should call [`modifyPushConfig`](https://cloud.google.com/pubsub/reference/rest/v1beta2/projects/subscriptions/modifyPushConfig) when setting the endpoint.

[code]

[2015-05-04 11:01] jgeewax opened #117 "Should we drop support for 1.9.3?"
@blowmage says:

[2015-05-04 11:04] jgeewax commented on #117
Does Ruby have a standard for how long libraries support a version after security fixes stop coming out? I'd expect that we should give it O(months) before officially stopping support -- particularly if the fixes aren't all that much effort.

[2015-05-04 11:32] blowmage commented on #117
I am not aware of a standard for libraries supporting EOL'd versions of Ruby.

[2015-05-04 12:35] jgeewax commented on #117
Thought I'd add this link to the thread: http://archive.oreilly.com/pub/a/ruby/excerpts/ruby-best-practices/writing-backward-compatible.html

[2015-05-04 16:12] jgeewax commented on #67
/cc @Capstan

[2015-05-04 16:15] #98 closed

[2015-05-04 16:15] #71 closed

[2015-05-04 16:15] #72 closed

[2015-05-04 16:15] #73 closed

[2015-05-04 16:15] #74 closed

[2015-05-04 16:15] #75 closed

[2015-05-04 16:15] #76 closed

[2015-05-04 16:15] #77 closed

[2015-05-04 16:15] #78 closed

[2015-05-04 16:15] #79 closed

[2015-05-04 16:15] #80 closed

[2015-05-04 16:15] #116 closed

[2015-05-04 16:19] blowmage opened #118 "Pub/Sub Review"
We need a review of Gloud::Pubsub by Google Cloud Pub/Sub team.

[2015-05-04 16:20] blowmage commented on #118
@jgeewax Who should this be assigned to?

[2015-05-04 18:45] blowmage commented on #83
This is part of the previous API. Labels were a part of v1beta1, and Gcloud is v1beta2.

[2015-05-04 18:45] #83 closed

[2015-05-04 18:46] blowmage commented on #81
This is trivial to implement with the current Gcloud API. Closing for now. May be reopened if suggested by the Google Cloud Pub/Sub Team.

[2015-05-04 18:46] #81 closed

[2015-05-04 18:47] blowmage commented on #118
Duplicate of #58.

[2015-05-04 18:47] #118 closed

[2015-05-04 18:47] blowmage commented on #58
@jgeewax Pubsub is merged to master. Who should this be assigned to?

[2015-05-04 21:06] blowmage opened #119 "Rename `QueryResults#cursor` to `QueryResults#end_cursor`"
From @pcostell:

[2015-05-04 21:24] blowmage opened #121 "Improve `more_results` convenience methods"
From @pcostell:

[2015-05-05 05:22] #109 closed

[2015-05-05 05:23] #119 closed

[2015-05-07 19:23] Capstan commented on #67
Setting some expectations:
* I'm a lead in GCS, not a Ruby maven. Bear with my n00bitidity.
* I am likely to have time for this first on Monday, 5/11.

[2015-05-07 19:26] blowmage commented on #67
Great! Please let me know if you have any questions.

[2015-05-08 12:26] jgeewax opened #122 "Language switcher image links seem broken."
If you go to the homepage (http://googlecloudplatform.github.io/gcloud-ruby/) and click on the language switcher, it looks like we have Python and Node both missing the images (and they show up as broken).

[2015-05-08 12:27] jgeewax opened #123 "The default docs page is a placeholder"
If you go to the docs homepage and click on Read the Documentation, you're brought to http://googlecloudplatform.github.io/gcloud-ruby/docs/ which is just placeholder text.

If you go to "master" (click on the far right), you get to http://googlecloudplatform.github.io/gcloud-ruby/docs/master/ which has real documentation.

Also, if you click on "0.1.0 (latest release"), you get to http://googlecl

[2015-05-08 12:28] jgeewax commented on #59
I believe this is all completed, right?

[2015-05-08 12:29] jgeewax commented on #65
Looks like this is all completed, right?

[2015-05-08 12:31] jgeewax opened #124 "Keep the left navigation bar in the documentation consistent"
Looks like when I click around in the items in the left-hand navigation bar, the content changes depending on where I am in the hierarchy.

Could we make this stay consistent so that you always have access to all of the navigation options (ie, I don't have to click to the top-level and then navigate down the tree) ?

I suspect that this will get long, so this div will need to be scrollable. Check

[2015-05-08 12:32] blowmage commented on #59
No, there are complications with Travis that were never resolved. Still too buggy.

[2015-05-08 12:34] blowmage commented on #65
We could close this, but I kept it open to collect feedback on the template. I'm fine closing it and opening a new issue for any changes.

[2015-05-08 12:34] jgeewax commented on #59
OK, what can we do to sort this out?

[2015-05-08 12:38] jgeewax commented on #65
Yep, let's do that.

[2015-05-08 12:38] #65 closed

[2015-05-08 12:50] blowmage commented on #59
I couldn't get this to work reliably, so I set it aside. I'll look at it again, perhaps some fresh eyes will help.

I suspect this may be better handled as a third party integration with Travis than as part of the script running on Travis. I've seen somewhat erratic behavior in my tests for doing this in the script. Another complication is that the post/success hook fires on Travis for every versi

[2015-05-08 12:51] jgeewax commented on #59
That's weird. The gcloud-node and gcloud-python guys have this all under control. Maybe @ryanseys can help ?

[2015-05-08 14:00] #122 closed

[2015-05-08 14:37] #123 closed

[2015-05-08 16:47] jgeewax opened #125 "Language switcher inside the docs (/docs/v0.1.0) is broken :("
Looks like when I click on the language switcher on http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/, nothing happens.

Could we make that go back to working?

[2015-05-08 17:12] blowmage commented on #125
Oops. Yeah, I'll get this fixed real quick.

This does highlight one of the problems with keeping the rdoc template in this repo. If we have a problem like this that needs to be applied to older docs, the template needs to be backported to those tags, because the template is local. I think a better solution is to put the template in an external repo/gem so we can fix problems like this without mov

[2015-05-08 17:28] #125 closed

[2015-05-08 17:34] jgeewax commented on #125
Hmm -- looping in the gcloud-node folks...

@ryanseys @stephenplusplus : How do we handle generating docs for older versions ? Do we have any issues with a singleton template (master) running against older versions ?

[2015-05-08 17:39] stephenplusplus commented on #125
Nope, our same template can handle any version given, as long as we log when modules were changed/added/deleted in this file: https://github.com/GoogleCloudPlatform/gcloud-node/blob/bc2b57ce4e2d84a8d2ff722d677ddfe681fc8d00/docs/site/components/docs/docs-values.js#L111

Unfortunately I don't have much experience with Ruby or the system here, so I can't be much more help. In fact, I'm not even sure

[2015-05-11 17:40] jgeewax opened #126 "Add $ to the `gem` command on the landing page ?"
ie, `$ gem install gcloud` to indicate to everyone that it's a shell command?

[2015-05-11 17:41] jgeewax opened #127 "Remove the line saying "One-line install" from the landing page header ?"

[2015-05-11 17:41] jgeewax opened #128 "Remove the word "Featuring" from the docs landing page?"
Seems to be taking up extra space, and pushes stuff below the fold on smaller screens (Macbooks in particular)

[2015-05-11 17:42] jgeewax opened #129 "Change "Sample code" to "Retrieve and entity from Cloud Datastore" on the docs landing page"
I think the sample would be more useful if it said what it was actually doing. :)

[2015-05-11 17:43] jgeewax opened #130 "Sample code on the landing page is broken :("
Code is

[code]

[2015-05-11 17:46] jgeewax opened #131 "On landing page, "gcloud-ruby" should probably say StackOverflow"
I understand that we're trying to be more specific (by saying the actual StackOverflow tag), but most people don't know the SO logo, so I think we need to be more clear about what the link does, which is take people to StackOverflow.

[2015-05-11 17:48] jgeewax opened #132 "Add FAQ section to the bottom of the landing page?"
On the Node page we have:

`s/Node.js/Ruby/` ?

[2015-05-11 17:51] #130 closed

[2015-05-11 17:51] #126 closed

[2015-05-11 17:51] #127 closed

[2015-05-11 17:51] #128 closed

[2015-05-11 17:51] #129 closed

[2015-05-11 17:52] jgeewax opened #133 "Make version history and Report issue buttons on docs side-by-side ?"
The buttons on the docs page aren't actually side-by-side -- any chance we could make them appear horizontally stacked?

Screenshot of http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/Gcloud/Datastore/KeyfileError.html:

![not-side-by-side](https://cloud.githubusercontent.com/assets/112928/7571319/d57effac-f7e4-11e4-8fce-c57ff5eedc81.png)

[2015-05-11 17:52] jgeewax commented on #114
I believe this is complete now, right?

[2015-05-11 17:52] jgeewax commented on #60
I can't seem to find any lorem ipsum anymore -- is this safe to close out ?

[2015-05-11 17:55] jgeewax opened #134 "Anchor links on the docs don't take the header bar into consideration"
Example: http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/index.html#label-Quick+Start

Note in the screenshot that the anchor is covered up by the header bar -- looks like we need some extra offset.....

![anchor covered](https://cloud.githubusercontent.com/assets/112928/7571395/53889e6c-f7e5-11e4-917a-f2e723011412.png)

[2015-05-11 17:57] jgeewax opened #135 "Make links to files at the bottom of the navigation bar use nicely friendly names"
Right now, CHANGELOG.md, CONTRIBUTING.md, etc are all shown verbatim, rather than as a nicely formatted string. Could we maybe hard-code these files in (it's unlikely that they'll change) to read Change history, Contributing, etc ?

[2015-05-11 18:00] jgeewax opened #136 "Put the title in the white area of the docs rather than overloading the grey header?"
Looking at http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/Gcloud/Storage/Bucket.html, notice that the grey header changes to Gcloud::Storage::Bucket

I think it might look better if the header lived inside the white target area -- here is how gcloud-node does it: http://googlecloudplatform.github.io/gcloud-node/#/docs/v0.14.0/storage/bucket

Not firm on this, but I think it's worth h

[2015-05-11 18:06] jgeewax opened #137 "Is there a way to globally configure Gcloud and have that configuration trickle down?"
The examples I see are things like

[code]

If I wanted to configure this, I have to configure each item individually:

[code]

Is there a way to configure things at the Gcloud level? that is:

[code]

[2015-05-11 18:06] jgeewax commented on #131
This also should be in the left-navigation inside the docs (http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/index.html -- see toward the bottom left)

[2015-05-11 18:09] jgeewax opened #138 "Organize left-hand navigation a bit more explicitly?"
Right now the left-nav looks like all of the stuff in the package. Is there any way to make this a bit more explicit:

For others, we have an arrangement that is:

- gcloud
- BigQuery
  - Dataset
  - Job
  - Table
- Datastore
  - Dataset
  - Transaction
  - Query
- PubSub
  - Topic
  - Subscription
- Storage
  - Bucket
  - File

Then

- Authorization
- FAQ
- Troubleshooting

Might be better to fol

[2015-05-11 18:18] blowmage commented on #137
An issue I see with making all services available on the initial require is that gcloud could be loading many, many services that are never used. What happens when gcloud supports Datastore, Storage, Cloud SQL, BigQuery, Pub/Sub, Compute Engine, DNS, Load Balancing, Monitoring, Logging, etc? Do we really want to load all that if the user only wants to make calls to Storage? If the services are sco

[2015-05-11 18:19] blowmage commented on #136
What text would you like to see in the gray header?

[2015-05-11 18:20] jgeewax commented on #137
Maybe you can help me understand how much overhead it is to "load" all these service.

In Python and Node it's not that big of a deal to import the module.

The idea would be that someone doing this would be using **at least 2** of the services -- because the whole point is that you want to configure all of your stuff one time.

Is it reasonable to at least make this *possible*, while saying "if y

[2015-05-11 18:22] jgeewax commented on #136
In the others, we just show the name of the language... So "Ruby" ?

[2015-05-11 19:09] blowmage commented on #137
My concern about loading services is about dependencies. Datastore requires the beefcake library for protobuf, while Storage requires the mime-types and digest-crc libraries for dealing with files. IMO gcloud shouldn't load those dependencies unless they are needed. (And shouldn't load `Gcloud::Datastore` or `Gcloud::Storage` namespaces until needed either.) The easiest, most idiomatic way to mana

[2015-05-11 19:15] blowmage commented on #114
The documentation is matching the look and feel, but #115 isn't merged yet, which is why I haven't closed this issue. There are still some issues around applying the template to previous releases that need to be resolved.

[2015-05-11 19:15] blowmage commented on #60
Yep, this is done.

[2015-05-11 19:15] #60 closed

[2015-05-12 14:21] jgeewax commented on #57
@blowmage : Can you open issues for anything that's remaining and then close this issue?

[2015-05-12 14:21] jgeewax commented on #58
@tmatsuo -- any interest in taking a look at the Ruby Pubsub code?

[2015-05-12 14:33] jgeewax commented on #94
I think we should support it, going to dream up some code that I'd want to write for this....

[2015-05-12 14:39] tmatsuo commented on #58
I'm not proficient with Ruby.
@remi Is it possible to take a look?

[2015-05-12 15:10] jgeewax commented on #94
**Option 1: Put this on the bucket**

Seems like it makes a good deal of sense to put as a bucket-level method. The idea is you get a bucket, and then compose several objects from the bucket into a new object in that same bucket.

[code]

**Option 2: Make this a "factory-style" method on the File object?**

I don't like that so much, and it might actually not be a reasonable idea... I also don't k

[2015-05-12 15:22] jgeewax commented on #91
Are we going to make these one set of attributes, or a method for each one? ie,

[code]

or
[code]

[2015-05-13 15:45] jgeewax commented on #92
What's the code I'd write to set these things? Would it be one method or separate methods?

One idea that seems good is....

[code]

[2015-05-13 16:17] blowmage commented on #92
file.content_type #=> "text/plain"
file.content_type "text/html"

[2015-05-13 16:18] jgeewax commented on #92
Is that ruby-ish to have things look like properties but actually make API requests?

[2015-05-13 16:24] blowmage commented on #92
Reading the properties wouldn't make API requests, only updating them. Another option is make changes to a file object and then call `.save` to make all the calls to the API.

[code]

[2015-05-13 16:26] jgeewax commented on #92
Hmm the `.save` style means that there might be some state hanging around... I'm -1 to that, but I also know very little about Ruby...

Are read-only properties with setter methods a reasonable idea ?

[2015-05-13 16:28] blowmage commented on #92
Yes, that is where I was going. The common idiom for setter methods is `file.content_type = val` instead of `file.set_content_type(val)`.

[2015-05-13 16:28] jgeewax commented on #92
Also - if the reads don't make an API request, there's a chance of stale data in long-lived processes, right? So we'd need a way to force a reload of all that data too.

@ryanseys , How do we handle the File properties (ie, file.content_type) in Node.js?

[2015-05-13 16:38] blowmage commented on #92
IIRC, all file attributes are acquired when the file data is retrieved from the API.

[code]

[2015-05-13 16:41] jgeewax commented on #92
But

[code]

Would make an API call, correct?

[2015-05-13 16:48] jgeewax commented on #92
In the AWS version of this (for S3), note that `content_type` is read-only... However in S3, objects seem to be immutable... so to update metadata, you copy to a new object (changing the metadata at copy-time) and delete the old object (or copy to/from the same name? ... it's not entirely clear).

[2015-05-13 16:50] blowmage commented on #92
yes, the direction I've been going has been to make the API call when setting the property.

Another common idiom is to use "bang methods" for methods that mutate state, have side effects, or are dangerous in some way.

[code]

We could do something similar for managing these attributes:

[code]

Or, we could isolate the mutable state to an `update` method call that yields a mutable object to the

[2015-05-13 16:52] jgeewax commented on #92
I think the latter (`file.update` block) is really nice, but a lot of extra typing if you just want to set one thing (ie, `content_type`). Is it crazy to offer both the first (bang-style) and the second (block-style) ?

[2015-05-13 16:59] blowmage commented on #92
Not crazy, no. I also prefer the `update` method, but like the convenience of the bang methods. The benefit of `update` is that users could change all the attributes and only make one call to the [update API](https://cloud.google.com/storage/docs/json_api/v1/objects/update).

A simple implementation for the bang methods would be:

[code]

These tradeoffs are what I was hung up on, BTW. Talking thr

[2015-05-13 17:00] jgeewax commented on #92
No problem -- I think it'd be cool to offer the bang-style methods (implemented as you mentioned) for the one-off changes, and mention in the docs that if you're doing multiple changes at once, we have a zippier way of doing that... (`.update do |f|`).

[2015-05-13 17:03] jgeewax commented on #92
@blowmage : Can you update the description of what we're going to do based on this thread?

[2015-05-13 17:08] blowmage commented on #92
Updated! :sunglasses:

[2015-05-13 17:23] ryanseys commented on #92
IIRC we get the content type for a file based on its extension using a mimetype library which maps extensions to mime types. Otherwise we fallback to `application/octet-stream` as the type.

[2015-05-15 18:59] Capstan commented on #90
Buckets don't have generations. Objects have both. If you don't use patch, but rather manual read/modify/write via get/update, the update should necessarily use ifMetagenerationMatch so that you don't clobber intervening edits.

[2015-05-15 19:06] blowmage commented on #90
Right, buckets have [metageneration parameters](https://cloud.google.com/storage/docs/json_api/v1/buckets/update) on their crud API calls, and files/objects have both generation and metageneration.

[2015-05-15 19:08] blowmage commented on #90
Let me know if this needs to be in gcloud-ruby for release and I'll assign it to the appropriate milestone.

[2015-05-15 19:30] Capstan commented on #67
From reading the [Gcloud::Storage docs](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage.html):
* Why name the class `File` for a GCS object? Is that not confusing vis-a-vis the [Core `File`](http://ruby-doc.org/core-2.2.0/File.html) class? Java uses `StorageObject` to differentiate between `Object`, and that seems useful here too to differentiate between Ruby's [`Object

[2015-05-15 19:45] Capstan commented on #67
What is the way a gcloud-ruby consumer adds their own application (or tool) name/version to the `UserAgent` header? Presumably it should look something like `MyWebsite/1.0 gcloud-ruby/0.1.0 google-api-ruby-client/0.8.6`. Or perhaps the last is subsumed by the second-to-last, if you tie releases to specific underlying clients.

[2015-05-15 20:06] aozarov commented on #67
On Fri, May 15, 2015 at 12:30 PM, Nathan Herring <notifications@github.com>
wrote:

preferred to use non-resumable read/writes and resumable is preferred?
I found one example -
https://cloud.google.com/storage/docs/json_api/v1/objects/insert where it
is suggested for small files (and example is using ~2MB) to use
non-resumable and resumable otherwise.

[2015-05-15 20:22] aozarov commented on #67
Also, reading the [chunking] (https://cloud.google.com/storage/docs/json_api/v1/how-tos/upload#chunking) reference it looks like its being discouraged ("This is not the preferred approach since there are performance costs associated with the additional requests, and it is generally not needed."). I am surprised about that as that was not my impression/experience when working on the appengine_gcs_c

[2015-05-15 20:26] thobrla commented on #67
Querying upon failure and continuing is desirable with seekable data; for non-seekable data, chunking+buffering is necessary.

[2015-05-15 20:27] blowmage commented on #67
Family emergency. I'll try to respond later tonight or over the weekend.

[2015-05-15 23:22] Capstan commented on #67
Chunking is not discouraged in that it solves two problems:
1. GAE has per-HTTP request size limits
2. For being able to retire client-side write buffer, esp. when the client itself is being streamed data, knowing the committed point is useful. If you get a `308 Resume Incomplete` response, you will get the # of bytes stored so far server side and can retire the buffer.*

Aside from those two thin

[2015-05-15 23:27] Capstan commented on #67
The break-even point for resumable vs. non-resumable is how much latency the creation of the resumable session incurs vs. the throughput and quality of your network connection to Google. The fatter and consistent the pipe, the bigger the object would need to be to make it worth performing a second round trip, since retransmitting that data is likely to be as fast if not faster in the event of an e

[2015-05-15 23:30] Capstan commented on #90
In order of priority:
1. Being able to specify an object generation for read, copy, compose
2. Being able to specify an object generation & metageneration, and bucket metageneration for CRUD.

ifGenerationMatch=0 is the equivalent of "don't overwrite", which ends up being useful.

[2015-05-15 23:36] Capstan commented on #92
Can we rather suggest clients integrate with something like [Transaction::Simple](http://www.rubydoc.info/gems/transaction-simple/1.4.0.2) or an analog that calls a hidden/utility method that allows batch update of metaadata?

[2015-05-15 23:40] Capstan commented on #97
It is certainly outside of the 90% use case.

The two caveats are:
* For folks with versioning turned on, it's the only way to see/use archived objects.
* It is the way to know that you are still operating on the same object. You don't to start downloading GCS object, have it fail midway through, and then retry on the live GCS object – you want to retry on the GCS object *at that generation* or yo

[2015-05-15 23:44] Capstan commented on #95
Pretty much everything should be dealt with by using some form of backoff for a 5xx or 429 response.

The problem comes when the client makes non-idempotent operations. In that case, just a dumb retry may not do what you want. For ACLs, setting an individual entry is likely to be OK. For setting the entire list, you may wish to be careful about ensuring you're editing the same metadata generation

[2015-05-15 23:52] Capstan commented on #94
I'd say option 1 or 2 and specifically not option 3 / 3a. Depending on your answer to another comment elsewhere, could we stuff in a File object representing a not-yet-extant GCS object you're about to write (or really, form by composition)?

We think of it internally as 1, but we don't have reified objects that can have factories. (We just have the data model objects.) It's also not merely on the

[2015-05-16 00:05] Capstan commented on #93
Is it easy to spawn/host a webhook in ruby? If so, and the developer can validate that the site is owned and [registers it as a valid push destination](https://console.developers.google.com/project/_/apiui/notification), then they could set up subscriptions. It requires [`OWNER / FULL_CONTROL`](https://cloud.google.com/storage/docs/access-control#permissions) permission on the bucket.

Especially

[2015-05-16 00:21] Capstan commented on #67
`file.download()` needs help. Downloading a very large object directly will cause you to OOM, if not risk having your connection be broken. Retrying by redownloading the whole object again is not ideal. Does Ruby allow io-based HTTP responses, or must it fit everything in memory? In the latter case, you'll want to choose an appropriate chunk size, and download it using `Content-Range: bytes 0-chun

[2015-05-16 00:34] Capstan commented on #67
It seems like [google-api-ruby-client's media.rb](https://github.com/google/google-api-ruby-client/blob/master/lib/google/api_client/media.rb) is missing download support, so perhaps we should come up with what is appropriate for that level of abstraction and reuse it here.

[2015-05-18 13:46] jgeewax commented on #93
There's no way at all for GCS web-hooks to prove that they indeed did come from GCS ? That's cray. Are we working on something for that?

[2015-05-18 16:15] Capstan commented on #93
I err. You specify a client token that you validate on incoming messages: See https://cloud.google.com/storage/docs/object-change-notification#_Terminology

[2015-06-01 17:37] blowmage commented on #136
FWIW, the node project is now putting the title text in the gray header.

Changes to the documentation are coming, promise. :)

[2015-06-04 13:30] #132 closed

[2015-06-04 13:39] #133 closed

[2015-06-04 13:39] #134 closed

[2015-06-04 13:56] blowmage commented on #134
This is fixed. Here is an [example anchor](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/#label-Authentication) that is no longer be hidden by the navigation bar.

[2015-06-04 13:57] blowmage commented on #133
The buttons are now side-by-side.

[2015-06-04 13:58] blowmage commented on #135
This is now [configurable](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/gcloud-rdoc/lib/rdoc/generator/gcloud/config/side.yml) as part of the documentation template.

[2015-06-04 13:58] #135 closed

[2015-06-04 13:59] blowmage commented on #138
This is now [configurable](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/gcloud-rdoc/lib/rdoc/generator/gcloud/config/side.yml) as part of the documentation template.

[2015-06-04 13:59] #138 closed

[2015-06-04 14:20] blowmage commented on #131
This is now changed.

[2015-06-04 14:20] #131 closed

[2015-06-04 14:24] blowmage commented on #124
The left navigation is now [configurable](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/gcloud-rdoc/lib/rdoc/generator/gcloud/config/side.yml) as part of the documentation template. It is consistent across pages. A new API Reference link was added to display all constants and methods, leaving the left navigation free for only the most import links.

[2015-06-04 14:25] blowmage commented on #114
I am pretty confident that the lastest changes address the look and feel of the site and documentation. When I get a thumbs up on the changes I'll close the remaining open issues.

[2015-06-04 14:39] blowmage commented on #136
@jgeewax I'd like to close this as wontfix. Is that okay?

[2015-06-04 15:15] blowmage commented on #67
@Capstan Apologies for the delay. As you said, we are at the mercy of google-api-ruby-client here. Google API Client is built on a library named Faraday, and Faraday does not support streaming downloads. Ruby's stdlib HTTP library does support streaming downloads, but users may configure any number of alternate providers to use, for any number of justifiable reasons.

I'll follow up with @remi and

[2015-06-10 22:07] blowmage commented on #59
The travis documentation build seems to be working as of f1a92ea7b542950ba83c31b79c896b847cec936d.

[2015-06-10 22:07] #59 closed

[2015-06-11 12:53] jgeewax commented on #124
Looks like the first part of this is finished. Going to create a new issue to track the overflow + position.

[2015-06-11 12:53] #124 closed

[2015-06-11 12:54] jgeewax opened #141 "Left-navigation in the docs doesn't stay fixed"
When I scroll down in the page, the left-side navigation seems to move along with the page, which means that to navigate again I have to scroll all the way up.

Could we make the left-nav fixed on the page so that I can navigate regardless of the scroll position?

[2015-06-11 12:55] jgeewax opened #142 "Header bar in docs doesn't stretch across the width of the page"
Perhaps best shown with a screen shot:

![headerbar stretch](https://cloud.githubusercontent.com/assets/112928/8107494/97900a4c-1017-11e5-987b-6a6934d08a2e.png)

This should fit across the top of the page

[2015-06-11 13:10] jgeewax opened #143 "Anchor links on the docs still are a bit off positionally"
For example, going to http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/Gcloud/Storage/Bucket.html#delete-method

Here's what this looks like:

![scroll position](https://cloud.githubusercontent.com/assets/112928/8107715/71615d42-1019-11e5-9da2-9eaf115310b1.png)

Here's what I'd expect this to look like:

![scroll correct](https://cloud.githubusercontent.com/assets/112928/8107758/a45c38

[2015-06-11 13:11] jgeewax commented on #114
After looking things over, I think we're in good shape for the goal of this issue (based on http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud.html)

[2015-06-11 13:11] #114 closed

[2015-06-11 13:13] jgeewax opened #144 "Pubsub has a concept of 'project' where the others don't?"
For example (taken from the documentation)

Datastore:

[code]

and Pubsub:

[code]

Why does Pubsub need `.project` ? Should we just make it

[code]

[2015-06-11 13:13] jgeewax opened #145 "Pubsub doc doesn't have the `require` statement"
Looking at http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub.html

[code]

[2015-06-11 13:14] jgeewax commented on #144
Might also be worth noting the difference in `Gcloud::Pubsub` versus `Gcloud.datastore` ... Any background on this inconsistency? Can we reasonably avoid this?

[2015-06-11 13:16] jgeewax opened #146 "Does Pubsub.topic() make an HTTP request?"
In reference to http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub/Project.html#topic-method

Topic itself doesn't have any real data with it, so in the other libraries we've had to think about this pretty carefully... I believe Node does an idea of "auto-create"...

In short, is there a way to "get" a topic without making an HTTP request? And is there a way to check that a

[2015-06-11 13:18] jgeewax opened #147 "Should we make the defaults use the auto-magical project + credential discovery?"
In most of our code samples, we provide the project ID + keyfileJson path. Should we consider instead just using the implicit "I'll figure it out" syntax?

To be specific, I mean replacing (http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Dataset.html)

[code]

with

[code]

[2015-06-11 13:21] jgeewax opened #148 "Should we be explicit about defining a Dataset in Datastore?"
Currently, Datastore only allows you to have one dataset, but this won't be the case forever. Eventually you'll be able to create datasets, and you'll need a way of asking for a specific Dataset. Further, the projectId would not be the same as the dataset ID, so we'd need both of those explicitly.

Would it be wise to still support the "default dataset" (dataset ID == project ID), but also allow u

[2015-06-11 13:23] jgeewax opened #149 "Datastore docs use `task` which could be confusing"
Could we switch our datastore docs to use a more obvious demo Kind / Entity ?

For example, http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Dataset.html#delete-method has

[code]

It makes me think there are tasks floating around somewhere -- not that I have a Kind called Task and these are entities.

I'd be happier with...

[code]

[2015-06-11 13:24] jgeewax opened #150 "Add a way to get the dataset ID ?"
Since we expose Datastore/dataset.project, maybe we shoudl expose dataset.id? (http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Dataset.html#project-method)

These are currently identical, but won't always be that way.

[2015-06-11 13:25] jgeewax opened #151 "Datastore Key isn't in the left-navigation"
To get to the Key documentation (http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Key.html) you have to find a link to it somewhere.

Any chance we could add it to the left nav?

[2015-06-11 13:26] jgeewax opened #152 "Storage docs don't list the `find_bucket` method in public class methods?"
I'd expect the top-level doc for Storage (http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage.html) to have the `find_bucket` method listed there.

It's in the example, but not listed on that page. Any idea why that is the case?

[2015-06-11 13:27] jgeewax commented on #152
Ah, it seems this is on the Gcloud::Storage::Project class -- should we put this on the Storage main page ?

[2015-06-11 13:29] jgeewax opened #153 "More explicit documentation for `options` parameters"
If we're going to accept a map of `options`, we should say what the different options are. For example, most of the methods on Storage Project have this, but don't say much else except in examples: http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage/Project.html

The way gcloud-node does this is: https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.15.0

Note the tab

[2015-06-11 13:47] jgeewax opened #154 "Change "Home" in the left nav to "Overview""
Seems like "Home" is a misnomer -- as the landing page is closer to what I'd consider "Home"

[2015-06-11 13:48] jgeewax opened #155 "Rearranging report issue and version history buttons?"
If you look at the Node page, we moved the report issue button to the top header, so that it's always available.

And then put the version selection stuff on the top left

https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.15.0

Could we do likewise for Ruby?

[2015-06-11 13:49] jgeewax opened #156 "Put argument docs into a table?"
Feels like we could make things more concise if we put the arg docs into tables (similar to https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.15.0/datastore/transaction).

Would Ruby folks would be put off by that?

[2015-06-11 13:56] jgeewax opened #157 "Add docs last built note in the master version's left nav"
See https://googlecloudplatform.github.io/gcloud-node/#/docs/master in the left nav for an example

[2015-06-11 13:56] jgeewax opened #158 "Add the latest version and date to the landing page"
See https://googlecloudplatform.github.io/gcloud-node/#/ for an example (look top right)

[2015-06-11 20:05] blowmage commented on #150
Gcloud originally has a `dataset_id` alias for `project`, but it was removed in c551eac46ae3d03f25862af1bfee1088b07d391d at the request of the Datastore team. I don't know much about the details. @silvolu, do you remember why?

[2015-06-11 20:08] blowmage commented on #136
@jgeewax Since gcloud-node is using the gray header now, can I close this as wontfix?

[2015-06-11 20:10] jgeewax commented on #136
Yep! Closing.

[2015-06-11 20:10] #136 closed

[2015-06-11 20:14] blowmage commented on #144
This is a mistake in the docs. It should be:

[code]

What `Gcloud.pubsub` returns is an instance of `Gcloud::Pubsub::Project`, as all the classes are under the `Gcloud::Pubsub` namespace. But the guidance is to use `Gcloud.pubsub` to get that object instead of calling `Gcloud::Pubsub::Project.new`.

[2015-06-11 20:25] blowmage commented on #146
`Gcloud::Pubsub::Project#topic` does make an HTTP request to verify the topic exists. If the topic does not exist it returns `nil` instead of the object. This type of feedback, returning nil instead of the object, is expected by most rubyists. Mistyping the topic name and having a new topic created seems like surprising behavior to me. Its certainly possible to do, but not a behavior I would prefe

[2015-06-11 20:29] blowmage commented on #147
My intention is to only show the `Gcloud.datastore` calls with `project` and `keyfile` arguments when discussing authentication or documenting the `Gcloud.datastore` method. The Dataset code sample slipped through the cracks, I'll fix it.

[2015-06-11 20:33] blowmage commented on #148
I have heard whispers that multiple Datasets are coming to Datastore, but I don't know any of the specifics. The conclusion arrived previously is that Datastore service will have an API change to support these changes, and Gcloud will have API changes in response to that. I would expect that Datastore would behave more like Storage, with a top-level Project object that creates the Datasets. (I've

[2015-06-11 20:34] blowmage commented on #149
Makes sense. This is an oversight and a holdover from the code examples in the previous documentation.

[2015-06-11 20:35] blowmage commented on #151
Yes, Key was originally in the left nav, but I removed it to closer match the gcloud-node left nav. I'll add it back.

[2015-06-11 20:36] blowmage commented on #152
I think the revised Storage documentation will address this better. Coming soon.

[2015-06-11 20:37] jgeewax commented on #148
This is correct. So given that, should we add this as a concept?

[2015-06-11 20:39] blowmage commented on #154
The home page is the same as the Getting Started/README file. We shouldn't have two links in the left nav for the same page. Do you prefer the term "Overview" to "Getting Started"?

[2015-06-11 20:42] blowmage commented on #155
Yes, the way documentation is structured we have the ability to implement this. This is on my roadmap of future changes to make, but I didn't have an issue created for it.

[2015-06-11 20:44] blowmage commented on #156
This is possible. RDoc markup doesn't generate tables, but we can put HTML in the documentation to achieve this.

[2015-06-11 21:16] jgeewax commented on #146
OK, so is there a way to just get a topic object, whether it exists or not? and then publish to it (and maybe get a failure?)

I argued for this elsewhere as well, however the point is a topic is literally nothing more than a name. If there was extra metadata, I could see why we'd want to check, but... there's nothing else.

I'm thinking we should have:

[code]

Seem reasonable?

[2015-06-11 21:19] blowmage commented on #148
A few questions:

1. Is the preferred term "dataset" or "database"?
2. When are these changes expected to be available? Will they be in a future v1beta3 release? Or post v1?
3. Are dataset/database names going to be globally unique across all accounts like buckets in the Storage service? Or locally unique within the project like topics in the PubSub service?
4. How will the names work with the cur

[2015-06-11 21:44] blowmage commented on #146
I don't like the idea of having an Topic object that can behave so differently by how it was instantiated. I'd prefer that when I have a Topic object I know it exists. However, I think we can get the same convenience of a weak Topic object with the addition of a `Project#publish` method that takes topic_name as an argument and can auto-create:

[code]

After `publish`, the only thing a Topic objec

[2015-06-12 00:58] #142 closed

[2015-06-12 01:17] blowmage commented on #143
Ah, took me a bit to find this. The links in the blue area were linking to a different anchor point that didn't have the offset. I've updated the links to use the correct anchors. The link you would use now is http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.0/Gcloud/Storage/Bucket.html#method-i-delete

[2015-06-12 01:18] #143 closed

[2015-06-12 16:02] #141 closed

[2015-06-12 16:50] #154 closed

[2015-06-12 16:58] #147 closed

[2015-06-12 16:58] #149 closed

[2015-06-12 18:05] blowmage commented on #151
The key left nav is now there for both master and v0.1.0.

[2015-06-12 18:05] #151 closed

[2015-06-16 19:03] jgeewax commented on #146
So the issue is that most people (for this API at least) have been asking for the equivalent of "get_or_create" for topics and subscriptions. That is, they don't want:

[code]

Given this, I'd expect the following behavior:

[code]

This means we can check for the existence of a topic in two ways:

[code]

Or

[code]

[2015-06-16 19:06] jgeewax commented on #148
As of today, it's "dataset".

Don't know for sure yet. Likely to be v2.

Locally unique within a project AFAIK.

We'll likely keep that around as your "default dataset", so if you send requests without specifying the dataset, we'll fill it in with the default one (which is named after your project).

[2015-06-16 19:36] jgeewax opened #159 "Can't find the anchor for some methods in the docs?"
For example, http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Entity.html#method-i-key-3D-label-Example

is an anchor to the example for the `key=(new_key)` method, but I can't get an anchor thing to appear for the method itself.

[2015-06-16 19:37] jgeewax opened #160 "Make the anchor links always visible?"
Looks like the anchor links only ever appear when I hover. Could we make them always visible and use the `#` sign instead ? See https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.15.0/datastore?method=dataset for an example.

[2015-06-16 19:40] jgeewax opened #161 "Entity.exclude_from_indexes?(name) method is a bit confusing"
Particularly the definition about what's happening here is super confusing to me:

entity["tags"] = ["ruby", "code"]
entity.exclude_from_indexes? "tags" #=> true [false, false]
[code]

[2015-06-16 19:42] jgeewax opened #162 "Highlight the currently selected item in the left navigation?"
Right now, the current page (if it exists in the left nav -- which it should) doesn't get highlighted when I'm on it.

Any chance we could add this? Ie, http://googlecloudplatform.github.io/gcloud-node/#/docs/v0.15.0/pubsub/topic (look on the left nav)

[2015-06-16 19:42] jgeewax opened #163 "Highlight area in the left nav for sub-items is smaller"
Looks like we're using margin instead of padding to indent the sub-items in the left nav. The side effect here is the hover are that gets lit up is shorter for these sub-items.

Can we tweak that to look like hovering over items in gcloud-node?

[2015-06-16 19:46] blowmage commented on #161
Typo. That should be:

[code]

[2015-06-16 19:53] blowmage commented on #161
The method is named like that because it is the lookup companion for `exclude_from_indexes!`.

[code]

[2015-06-16 19:55] jgeewax commented on #161
I still have no idea why I'm getting back an array of booleans for a single property. Does it really work that way in production?

I thought you could say to exclude a property (in this case, the property "tags") -- not specific values of the property? I could be wrong though.

[2015-06-16 19:58] jgeewax opened #164 "Do we need the API Reference page?"
Seems a bit redundant given the left nav that we have, right?

[2015-06-16 19:58] jgeewax opened #165 "Do we need the LICENSE / Contribute Guide on the usage-focused docs?"
I'd expect this stuff to be on the GH repo, but not necessarily on the docs on gh-pages. Any thoughts?

[2015-06-16 19:59] blowmage commented on #161
It returns arrays of booleans if the property is an array. If the property is a single value, it returns a single boolean.

[2015-06-16 20:01] jgeewax commented on #161
I'm confused still though. Are we effectively saying that "certain values for this won't be indexed" ? Isn't that a bit confusing? Wouldn't it be easier (and more common) to keep the level of granularity at the property-level?

[2015-06-16 20:02] jgeewax commented on #161
And what happens if...

[code]

Error?

[2015-06-16 20:03] blowmage commented on #165
We can easily remove them. I find value in them but can see why you would rather not have them there. Should I make this change?

[2015-06-16 20:04] jgeewax commented on #165
I'd vote to keep the gh-pages focused on people wanting to *use* the library.

GH's repo with MD files named appropriately would be for people wanting to *contribute* to the library.

[2015-06-16 20:12] blowmage commented on #164
IMO it is not redundant. There are many classes and methods that are not easily discoverable from the left nav. [Backoff](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Backoff.html) configuration, for example, can be found by linking from a method that supports backoff, but it is not listed anywhere else. In the future I would like to add search/filter functionality to the AP

[2015-06-16 20:14] jgeewax commented on #164
Hm -- OK, let's leave it for now. :)

[2015-06-16 20:14] #164 closed

[2015-06-16 20:16] blowmage commented on #160
The `#` symbol is meaningful in Ruby documentation. An instance method is described as `Class#method`, where a class method is `Class.method`. Is there another symbol you would prefer?

[2015-06-16 20:20] blowmage commented on #161
That will not error, it will use any flags given, and then use the default afterwards.

[code]

[2015-06-16 20:26] blowmage commented on #161
You can still do that. If you exclude a property that is an array, but you only give it a single value, that will be used for all property values.

[code]

This is actually the expected use case. Passing in a list of exclude flags or providing a block to evaluate each element in the array is the edge case.

[2015-06-16 20:33] jgeewax commented on #160
Got it. The paragraph symbol will be fine then :)

[2015-06-16 20:50] jgeewax commented on #161
OK, can we update the documentation for this then ? Maybe a big long thing in the setter saying what all of this means?

Referring specifically to "Properties that are arrays can be given multiple exclude flags." -- we should make that more detailed. I can take a crack at it.

[2015-06-16 22:48] blowmage commented on #159
Links to method anchors have been added. See http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Entity.html#method-i-key-3D

[2015-06-16 22:48] #159 closed

[2015-06-16 22:50] blowmage commented on #160
I'm not able to change the markup in headings within the method descriptions, but I am able to style it differently. See http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud.html#method-c-datastore

[2015-06-16 22:50] #160 closed

[2015-06-17 05:18] #157 closed

[2015-06-17 05:19] #158 closed

[2015-06-17 05:34] #103 closed

[2015-06-17 08:40] #165 closed

[2015-06-17 09:51] blowmage commented on #152
Please take a look at the updated documentation. There are links from the [Storage URL](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage.html) you used to [Project#find_bucket](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage/Project.html#method-i-find_bucket). If this is sufficient then this issue can be closed.

[2015-06-17 15:31] jgeewax commented on #152
SGTM.

[2015-06-17 15:31] #152 closed

[2015-06-17 15:35] jgeewax opened #167 "Anchor links for non-methods are off a tiny bit"
(I thought I reported this already, and was trying to re-open, but I can't find that bug... apologies if this is a duplicate.)

Looking at http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Dataset.html#class-Gcloud::Datastore::Dataset-label-Dataset and comparing it to http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Datastore/Dataset.html#method-i-all

[2015-06-17 15:47] blowmage commented on #167
@jgeewax Can you look at the links again and see if that fixes the issue?

[2015-06-17 15:48] jgeewax commented on #167
LGTM.

[2015-06-17 15:48] #167 closed

[2015-06-17 16:11] jgeewax opened #168 "Add "getting started for developers" in the CONTRIBUTING file?"
We say how to run the tests, but not how to install dependencies, etc.

Not sure if I'm doing this right, but I did...

[code]

Maybe we can have a couple extra sessions for how you'd get going if you're not really an expert in Ruby?

[2015-06-17 16:53] blowmage commented on #168
Oh yeah, this has actually changed recently. Before we were using a library named Hoe to manage dependencies, but now we are using bundler. I'll take a pass at updating this to be more beginner friendly.

[2015-06-17 17:23] jgeewax commented on #168
Right now... I did bundle install, but then got more errors. So far, to keep moving, I've had to

[code]

Now I'm getting `/usr/lib/ruby/1.9.1/rubygems/custom_require.rb:36:in `require': cannot load such file -- google/api_client (LoadError)` :(

[2015-06-17 17:43] blowmage commented on #168
Huh, I don't see that behavior. Here is what I did. I loaded the project in a fresh instance of ruby, where I only have the default gems installed:

[code]

Then I installed bundler and performed a `bundle install` to get the dependencies:

[code]

[2015-06-17 17:45] jgeewax commented on #168
You're positive there's no globally-installed gems available to you ?
(rubocop in particular) ?

[2015-06-17 17:47] blowmage commented on #168
`bundle install` should install all the gems for you. Can you past the output of what `bundle install` does for you?

[2015-06-17 17:49] jgeewax commented on #168
Looks like it got halted halfway through due to Ruby < 1.9. I suspect this
is a user-error :P

[2015-06-17 17:50] blowmage commented on #168
Hah! No prob. :) I'll make the fact that we require ruby 1.9.3+ more obvious in the Contributing Guide.

[2015-06-19 13:55] blowmage commented on #155
The GitHub issue button is now moved to the header, and the versions button is removed as we have the version switcher dropdown now.

[2015-06-19 13:55] #155 closed

[2015-06-19 13:56] blowmage commented on #162
The current page is now highlighted in the left nav.

[2015-06-19 13:56] #162 closed

[2015-06-19 13:57] blowmage commented on #163
The background color no longer shifts when hovering over a side nav link.

[2015-06-19 13:57] #163 closed

[2015-06-19 15:07] jgeewax opened #170 "Authentication guide + release history pages are gone in master?"
Looks like we chopped them out. Seems like those are really useful for users of the library (whereas I can see why removing the contribution guide from these docs, as that's for contributors rather than consumers).

Any chance we could add these back?

[2015-06-19 15:08] jgeewax opened #171 "What is the ordering logic for the version dropdown?"
Looks like it's listed as:

- v0.1.1
- master
- v0.1.0

I don't think there's enough data, but it could be: latest public (selected), master, older (incrementing)

I think it might be better to do: master, latest public (selected), older (incrementing)

Thoughts?

[2015-06-19 18:33] blowmage commented on #171
Yes, the way I have it now is current, then previous. This is mean to match the sort order found on the [documentation page](http://googlecloudplatform.github.io/gcloud-ruby/docs/). (This URL isn't linked to anywhere, but folks manipulating the URL will find it.) It shows the Current versions, which is the current released version, and master. Then it shows the Previous versions, which right now i

[2015-06-19 18:38] jgeewax commented on #171
+1 to that. LGTM

[2015-06-19 18:58] blowmage commented on #171
K, the nav switcher has the separator option now. Please check it out.

[2015-06-19 18:59] blowmage commented on #171
Oops, commits 6779938 and ba3790f were supposed to reference this issue.

[2015-06-19 20:35] blowmage commented on #170
Authentication Guide and Release History are back in the documentation.

[2015-06-19 20:35] #170 closed

[2015-06-21 13:01] jgeewax commented on #146
@blowmage Any thoughts?

[2015-06-22 18:59] jgeewax commented on #146
@blowmage Can you summarize what we decided today based on the chat? Just want to make sure we're on the same page ....

[2015-06-22 19:48] blowmage commented on #146
The plan is move the current Project#topic functionality to Project#get_topic, and have Project#topic return a lazy topic object. [NotFoundError](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub/NotFoundError.html) errors raised from the lazy topic object's [`publish` ](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub/Topic.html#method-i-publish)

[2015-06-22 20:17] blowmage commented on #146
@jgeewax We also discussed the possibility of maintaining the object laziness through subscriptions. Suppose we have the following:

[code]

The topic object is lazy, and doesn't make an HTTP call when created. Is the subscription object also lazy? If the subscription object is also lazy, and the call to `Subscription#pull` fails because subscription doesn't exist, does it need to be created vs. r

[2015-06-23 12:16] jgeewax commented on #146
@blowmage

There should be a way to turn this off too (ie, `auto_create: false` or similar)

I think subscriptions need more metadata (ack deadline, and potentially a push configuration) so I don't know if auto-create should be possible there. If we go that route, then we have the same pattern:

- `subscription` gets you a subscription without making an API request. If you call `pull` on it and it

[2015-06-23 12:43] blowmage commented on #146
Yep, we are on the same page. Thanks for the clarification.

[2015-06-25 14:51] #146 closed

[2015-06-29 14:57] blowmage opened #177 "Update Pub/Sub to v1 API"
The Google Cloud Pub/Sub team recently [announced](https://groups.google.com/forum/#!topic/cloud-pubsub-discuss/xdOlqXrN4hI) the availability of the `v1` API. Switch Gcloud to `v1` from `v1beta2`.

[2015-07-01 03:57] #171 closed

[2015-07-01 03:58] blowmage commented on #144
This has been addressed in the updated documentation.

See https://github.com/GoogleCloudPlatform/gcloud-ruby#pubsub

[2015-07-01 03:58] #144 closed

[2015-07-01 03:59] blowmage commented on #145
This is fixed in the updated documentation.

See http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub.html

[2015-07-01 03:59] #145 closed

[2015-07-01 04:00] #177 closed

[2015-07-01 04:01] #153 closed

[2015-07-01 08:07] premist opened #181 "Gcloud::Storage::File#signed_url does not work when using Google Cloud SDK credentials"
I tried using [Gcloud::Storage::File#signed_url](http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.1/Gcloud/Storage/File.html#method-i-signed_url) to generate object url with query strings, but I can't get it to work. I used the following code:

[code]

It returns the following error:

[code]

I tried to investigate this and found out that [signing_key on Gcloud::Credentials](https://gith

[2015-07-01 14:40] blowmage commented on #156
After playing with tables and having issues with them on the smaller screens, I decided a better solution may be to style the definition lists in a more compact, table-like way on bigger screens. See http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage/Project.html#method-i-buckets Does this work?

[2015-07-01 14:50] jgeewax commented on #156
It's definitely better than before -- however what's the issue with small screens and tables? https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.16.0/bigquery/table?method=copy for example works just fine for me on mobile.

[2015-07-01 16:06] blowmage commented on #156
I had some issues where I had to scroll the page horizontally to see the text on mobile screen sizes. And the documentation with longer descriptions weren't very readable in a table on small screens IMO. e.g. http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Storage/Bucket.html#method-i-create_file But I'm on an older iPhone with the smaller screen. :)

[2015-07-01 16:15] blowmage commented on #181
Hey @premist, the `File#signed_url` method expects that the Signet::OAuth2::Client object used for authenticating returns a valid object when calling it's [`signing_key`](http://www.rubydoc.info/gems/signet/0.6.1/Signet/OAuth2/Client#signing_key-instance_method) method. According to the documentation, `signing_key` can return a OpenSSL::PKey (which we expect), or a string (which we don't expect ye

[2015-07-01 20:38] jgeewax commented on #171
Awesome - thanks :)

[2015-07-02 03:59] premist commented on #181
I will try to replicate this on clean Linux machine soon and let you know. If this works properly on clean environment, there should be some misconfiguration on my machine which causes the issue.

[2015-07-06 12:18] jgeewax opened #182 "Language dropdown broken on certain pages..?"
I found this one (http://googlecloudplatform.github.io/gcloud-ruby/docs/) but I'm guessing there may be more?

Might be worthwhile to do a quick pass over this.

[2015-07-06 12:18] jgeewax opened #183 "Add /docs/latest URL?"
We want to be able to have one link that we can pass around that points to the latest version of our docs page -- any chance we can make it /docs/latest ?

[2015-07-06 12:20] jgeewax opened #184 "Make dropdown inside the docs to link to "inside the docs" for other languages"
The dropdown you see here: http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.1.1/, when switching, links to the other-language-equivalent of http://googlecloudplatform.github.io/gcloud-ruby/

Could we have it link inside the docs of those other languages?

ie:

Python: http://googlecloudplatform.github.io/gcloud-python/latest/
Node: http://googlecloudplatform.github.io/gcloud-node/#/docs

[2015-07-06 13:09] jgeewax commented on #156
Hmm weird, this feels still like a table though -- maybe the border was an issue ? Let's call this closed for now and re-open if we think of a better way.

[2015-07-06 13:09] #156 closed

[2015-07-06 14:31] blowmage commented on #182
Is the dropdown broken? Or is it just missing?

[2015-07-06 14:34] jgeewax commented on #182
It is visible, but broken in the sense that clicking on it does nothing.

[2015-07-06 14:34] blowmage commented on #184
Do you want these links changes so while you are in the docs you switch to the other language docs? Or do you want to link to the docs even from the homepage?

e.g http://googlecloudplatform.github.io/gcloud-ruby/ links to http://googlecloudplatform.github.io/gcloud-node/#/docs

[2015-07-06 14:34] jgeewax commented on #184
Moral would be "switching should take you the same type of page, just in the other language". So the landing page switcher should take you to other language's landing page. Docs-page switcher should take you to the other language's docs-page.

[2015-07-06 14:37] blowmage commented on #182
Oh, I thought you meant the doc navigation switcher dropdown. Yeah, that isn't working for me either. I'll get it working.

[2015-07-06 14:52] blowmage commented on #182
The dropdown on this page is now working. Problem with how the `<script>` tags were formed. Thanks for the heads up!

[2015-07-06 14:52] #182 closed

[2015-07-06 14:53] blowmage commented on #184
When viewing documentation the dropdown now links to the other languages' documentation. On the homepage it links to the other languages' homepage. Thanks!

[2015-07-06 14:53] #184 closed

[2015-07-06 15:02] blowmage commented on #183
The URL http://googlecloudplatform.github.io/gcloud-ruby/docs/latest redirects to the current version documentation.

[2015-07-06 15:02] #183 closed

[2015-07-06 18:27] blowmage commented on #181
@premist Any luck reproducing this?

[2015-07-08 02:20] blowmage commented on #58
@tmatsuo @remi Could either of you take a look at this? Thanks!

[2015-07-13 02:51] premist commented on #181
Hi @blowmage, sorry for late reply. Will try this later today and I'll let you know how it goes.

[2015-07-13 03:37] blowmage commented on #181
Thanks! Looking forward to it. :)

[2015-07-13 23:40] blowmage commented on #181
Hey @premist, when you provide the keyfile explicitly, are you giving the absolute path to the file? e.g `/Users/premist/gcloud.json` and not `~/gcloud.json`?

[2015-07-15 15:29] premist commented on #181
I created a clean Ubuntu (15.04 x64) VM, and did the following:
- Install Ruby 2.2.2 via rbenv
- Install [Google Cloud SDK](https://cloud.google.com/sdk/)
- Used `$ gcloud auth login` to sign in
- Install gcloud gem

I tried the code above again and it failed. Seems like `signing_key` doesn't work as intended when gcloud gem [authenticates using Cloud SDK credentials](https://github.com/GoogleClou

[2015-07-15 15:34] blowmage commented on #181
@premist Thanks! You also said:

I can't get it to fail when explicitly providing a keyfile, but I assume that the path you provided didn't resolve and so it fell back to the cloud SDK credentials. Any chance you can confirm?

[2015-07-15 15:50] premist commented on #181
I tried providing JSON keyfile explicitly to `Gcloud.storage`, and it worked. Providing an invalid path like `~/Downloads/keyfile.json` raised a proper error, which is the following:

    RuntimeError: The keyfile '~/Downloads/keyfile.json' is not a valid file.

I'm not sure why I was unable to get signed url when I provided keyfile explicitly, but seems like it works as intended.

[2015-07-15 15:58] blowmage commented on #181
It looks like that the code that derives credentials from the cloud SDK doesn't return "service account" credentials, which is missing the private key needed to sign the URLs. Right now we're trying to determine how we can convert "authorized user" credentials to "service account" credentials.

[2015-07-15 16:21] premist commented on #181
I found something that might be related to this on gsutil documentation. In order to use `gsutil signurl` command, **you need to explicitly provide private key file regardless of Google Cloud SDK authentication**.

I checked [gcloud-python](https://github.com/GoogleCloudPlatform/gcloud-python) and [gcloud-node](https://github.com/GoogleCloudPlatform/gcloud-node), seems like those libraries don't s

[2015-07-15 16:24] jgeewax commented on #181
I'm pretty sure both node and python will pull the creds set by the cloud SDK. CC @stephenplusplus @dhermes to comment.

[2015-07-15 16:25] dhermes commented on #181
Yes, we have a tight integration with https://github.com/google/oauth2client and don't implement much of the signing ourselves, just proxy it out to the auth library.

[2015-07-15 16:30] stephenplusplus commented on #181
Same as @dhermes said, our auth library is https://github.com/google/google-auth-library-nodejs which respects the cloud sdk session.

[2015-07-15 16:31] premist commented on #181
Ah, thanks for the correction. Then it should be possible to generate signed url using Cloud SDK credentials.

[2015-07-15 16:34] blowmage commented on #181
@dhermes @stephenplusplus Do your auth libraries give you credentials with the private key when authenticating with the cloud SDK? Or do you have a way to exchange the "authorized user" credentials for "service account" credentials?

[2015-07-15 16:37] blowmage commented on #181
The [signed url documentation](https://cloud.google.com/storage/docs/access-control#Signed-URLs) is clear about requiring service account authentication for signing the url. We need the private key to sign the url.

[2015-07-15 16:39] stephenplusplus commented on #181
No, haven't found a way to do this yet: https://github.com/GoogleCloudPlatform/gcloud-node/issues/211

[2015-07-15 16:45] dhermes commented on #181
There is no way to sign with "authorized user" credentials, it must be a service account. Our code paths fail on non-service account credentials (as well as on GCE service account credentials).

[2015-07-15 16:46] blowmage commented on #181
@stephenplusplus Ah, thanks for the link. I had missed than in my searches. Makes sense.

@dhermes Thank you for the confirmation.

@premist I have some ideas. I'll try to get a PR up today.

[2015-07-16 15:08] jgeewax commented on #58
@remi - Any chance you have time to take a look ? If not, we're going to go ahead and cut a release with this ...

[2015-07-16 15:54] tmatsuo commented on #58
@blowmage @jgeewax I will try to look at it.

[2015-07-16 15:58] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L81
Change Datastore to Cloud Pub/Sub

[2015-07-16 15:58] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L95
Creating a topic (remove "s")

[2015-07-16 16:00] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L113
What is the type of the "msg"? Does it contain the auto assigned message id?

[2015-07-16 16:01] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L133

If the batch call returns multiple msg objects, I feel it's more natural with "msgs" like:
[code]

[2015-07-16 16:03] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L165

Do you take care of collisions between the auto created subscription names?

[2015-07-16 16:03] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L176

TYPO: acknoeledged -> acknowledged

[2015-07-16 16:05] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L186

How can you create a subscription in project-b, subscribing to a topic in project-a?
Can you add an example?

[2015-07-16 16:06] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L198

What's the default batch size?

[2015-07-16 16:08] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L243

Wrong title.

Modifying a Message
->
Modifying a Deadline (or Acknowledge Deadline)

[2015-07-16 16:11] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L246

[code]

I feel this sentence is little hard to parse. What does it mean?

[2015-07-16 16:12] tmatsuo commented on #58
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L277

Does it use the batch interface with v1 API?

[2015-07-16 16:13] blowmage commented on #58
@tmatsuo said:

Topic#publish returns a single Message object when called without a block, and an array of Message objects when called with a block. See the documentation [here](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub/Topic.html#method-i-publish-label-Returns).

[2015-07-16 16:15] blowmage commented on #58
@tmatsuo said:

The Pub/Sub service takes care of assigning the name, and I assume it makes sure there are no name collisions.

[2015-07-16 16:16] tmatsuo commented on #58
Ok, I just looked at the usage doc in pubsub.rb and put some comments. If the implementation complies to the usage doc, LGTM.

Basically I feel it is very well written and provides very natural feeling. Great job.

[2015-07-16 16:19] blowmage commented on #58
@tmatsuo said:

We don't allow subscriptions to subscribe to topics in a different project. Is this possible? Is it wanted?

[2015-07-16 16:23] tmatsuo commented on #58
@blowmage

Yes and yes. It is a very legitimate use case.

[2015-07-16 16:24] blowmage commented on #58
@tmatsuo said:

I didn't even think of this, we are setting a default batch size of 100, but I think that was for convenience during development more than anything. I will document the default size in the [Subscription#pull](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Pubsub/Subscription.html#method-i-pull) documentation.

Is 100 a reasonable default? If not, what should it

[2015-07-16 16:27] blowmage commented on #58
@tmatsuo

Okay, right now subscriptions are created on the same project as the topic. We will have to change the API to accommodate this use case. Do you have any suggestions for how the API should allow for this?

[2015-07-16 16:27] tmatsuo commented on #58
@blowmage

The API doesn't have any default since it's required parameter.
100 seems fine as long as you have a good documentation with possible max value of 1000.

[2015-07-16 16:33] tmatsuo commented on #58
@blowmage

What about:

[code]

[2015-07-16 16:43] blowmage commented on #58
@tmatsuo

Agreed, that is cumbersome. How about this:

[2015-07-16 16:44] blowmage commented on #58
@tmatsuo

Yes, it uses the v1 batch API. We moved all of gcloud-ruby to v1 as soon as it was released.

[2015-07-16 16:45] tmatsuo commented on #58
LGTM

[2015-07-16 17:01] blowmage commented on #58
@tmatsuo We will create a new PR for creating a subscription to a topic in a different project. This will require an API change and a separate PR will allow easier discussion of it.

All of your other comments, including the ones I have not addressed yet are corrected in #190. Thank you for your attention to detail, it is super appreciated. Let me know if you want a different default value for the

[2015-07-16 21:38] tmatsuo commented on #58
@blowmage
Great please cc me on the PRs

[2015-07-16 23:50] remi commented on #58
I've been reading through the docs and updating a sample of mine to utilize any Pub/Sub features that I haven't already used and I ran into *1* thing:

[`Message#attributes`](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub/message.rb#L65) returns an object directly from the Google API client.

When I tried to ...

[code]

I was surprised by the `undefined method 'e

[2015-07-16 23:59] remi commented on #58
Other than attributes, Gcloud Pub/Sub has been pleasant and straight-forward.

Two other things surprised me though ...

### Blocking on Pull

`Subscription#pull` defaults to blocking.  IMHO I expect an API client call to return immediately.  If I want it to wait for a response, I would expect to pass an option.  *Also* it would be nice to have a method on Subscription such as `Subscription#wait_f

[2015-07-17 00:15] remi commented on #58
re: Blocking on pull by default, my assumption that the default `#pull` would pull immediately is influenced by an assumption that Gcloud will frequently be used in web applications.

For waiting for messages, not only would an alias be nice but also a method that blocks indefinitely, yielding retrieved messages to a block when received.  eg:

[code]

I would need to verify, but node's gcloud lets

[2015-07-17 16:09] blowmage commented on #58
@tmatsuo We've been working on creating a subscription in one project for a topic in a different project. We actually think the following code works right now, with no code changes:

[code]

However, we don't know how to test it. Specifically, we can't figure out how to grant a service account in the first project permissions to the second project. We would really like to verify this works before

[2015-07-17 17:37] blowmage commented on #58
@remi

You are correct, we will fix this. It should return a Hash, not a Google API Client object.

This is strange, because the default behavior is indeed to [return immediately](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub/connection.rb#L166). In looking into this further I noticed that the API call to Pub/Sub sometimes took a second to return, although the fl

[2015-07-17 17:56] quartzmo opened #191 "Pull docs from gcloud-common"
[Like gcloud-node](https://github.com/GoogleCloudPlatform/gcloud-node/issues/717), we need to update our docs to pull from gcloud-common (dependent on [this PR](https://github.com/GoogleCloudPlatform/gcloud-common/pull/3)).

[2015-07-17 20:25] remi commented on #58
My fault!

I got this impression when I read [*"Results can be returned immediately with the __:immediate__ option"*](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub.rb#L197).  Then we show an example that explicitly sets `immediate: true` which made me assume that `:immediate` was not `true` by default.

This makes sense so that the developer can ack all of the me

[2015-07-17 20:37] remi commented on #58
Is `pubsub.subscription "name", immediate: true` actually a typo here?  [`Project#subscription`](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub/project.rb#L273) doesn't take options :smile:

[2015-07-17 20:45] remi commented on #58
In the [Subscription#pull](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub/subscription.rb#L203-L204) documentation, update the `:immediate` option documentation:

Should become:

[2015-07-17 20:59] remi commented on #58
How about something like this for the **Pulling Messages** section?

### Pulling Messages

Messages are pulled from a Subscription.

[code]

A maximum number of messages returned can also be specified:

[code]

Messages are returned immediately.  If no messages are available, an empty array is returned.

Pulling messages can block until a message is available using the +:immediate+ option:

[code]

[2015-07-17 22:00] blowmage commented on #58
@remi

Not your fault at all. That is confusing. We have corrected that in PR #192.

I opened issue #81 for auto ack, but no discussion ever came up around it. It is problematic though, I'm personally not sure if we should encourage folks to ack a message before it is handled. Could we move this discussion to that issue?

Ugh, yes, we found that earlier today. So embarrassing...

That is actually

[2015-07-17 23:12] tmatsuo commented on #58
@blowmage

[code]

For now, the naive way to do this is to add the service account (or accout) to the other project with an Editor or greater permission.

Soon (it is actually in production, but no documentation), you can set finer grained ACL on topic/subscriptions.

First, look at the gmail push notification example at (Grant publish rights on your topic):
https://developers.google.com/gmail/api

[2015-07-18 00:01] blowmage commented on #58
@tmatsuo

Thanks! We will work on adding cross-project permissions first thing Monday morning. Hopefully we can demonstrate this working without any code changes.

This does not make an API call to Cloud Pub/Sub. If you were calling `pubsub.get_topic` it would, but `pubsub.topic` does not.

[2015-07-18 00:14] tmatsuo commented on #58
@blowmage

Great :)

[code]

I think it is cleaner to have the `project` parameter as follows:
[code]
Sorry if I'm writing wrong code, but what do you think?

[2015-07-20 14:51] blowmage commented on #58
@tmatsuo

We will enable this syntax in #192 today.

[2015-07-20 16:22] blowmage opened #193 "Support autonaming of Pub/Sub Subscriptions"
The [Pub/Sub documentation](https://cloud.google.com/pubsub/reference/rest/v1/projects.subscriptions/create) states:

We are unable to make an API call to create a subscription without a name. We suspect this is an issue with the Google API Client library, since `ArgumentError` is being raised.

[2015-07-20 18:34] blowmage opened #194 "Cross-project functionality in regression tests?"
Do we want to support cross-project functionality, like creating a Pub/Sub subscriptions for a topic is a different project, in the regression tests? We currently have one project for regression tests.

[2015-07-20 18:47] quartzmo opened #195 "Add RELEASING.md"
We need documentation detailing how to cut a release, including all manual steps as well as how to author release notes using [GitHub's Releases feature](https://github.com/blog/1547-release-your-software). (The [gcloud-node releases](https://github.com/GoogleCloudPlatform/gcloud-node/releases) provide good release notes examples.)

[2015-07-20 18:47] jgeewax commented on #195
/cc @stephenplusplus

[2015-07-20 20:47] blowmage commented on #58
@tmatsuo

I see that `getIamPolicy`/`setIamPolicy` are listed in the [API Explorer](https://developers.google.com/apis-explorer/#p/pubsub/v1/), but they are not listed in the [API Documentation](https://cloud.google.com/pubsub/reference/rest/v1/projects.topics). Should gcloud-ruby expose this functionality?

[2015-07-20 21:24] tmatsuo commented on #58
@blowmage
Great point. We will add documentations for these method soon, and they will become official. So it's good to have it in gcloud series anyways.

[2015-07-20 21:26] blowmage commented on #58
@tmatsuo Okay, we will add support for getting and setting the policy. We also see `testIamPermissions`, is that something we should add as well?

[2015-07-20 21:32] tmatsuo commented on #58
@blowmage
Yes, but on the second thought, it is hard for you to support correctly without the official documentation, because you can not tell what values are valid for the role.

I will update here once we have done with the documentation.

[2015-07-20 22:20] blowmage commented on #58
@tmatsuo We are adding methods to get and set the policy on topic and subscription, using the service definition as our guide. Right now they are returning and accepting a hash of values which match what the Google API client is using. We can either document the hash structure in the gcloud-ruby documentation, or we can mark these methods hidden so they don't show up in the docs until you have the

[2015-07-20 22:26] tmatsuo commented on #58
Either is fine :)

[2015-07-22 17:08] #181 closed

[2015-07-22 20:06] #58 closed

[2015-07-22 20:08] blowmage commented on #58
Thanks for your valuable feedback! Please open new github issues for future requests. :heart:

[2015-07-22 21:01] #137 closed

[2015-07-23 19:07] blowmage opened #197 "Use GCLOUD_PROJECT and GCLOUD_KEYFILE environment variables"
The gcloud libraries are standardizing on common environment variable names.

[2015-07-29 20:26] stephenplusplus commented on #193
@tmatsuo - sorry if you've already been pinged about this elsewhere, but I couldn't find anything. Do you know if support for auto-named subscriptions is real, or if this was a documentation error?

[2015-08-03 11:25] jgeewax opened #198 "Re-order the left-navigation to match gcloud-node"
In Node, we went with 3 groupings:

- Getting Started
 - Auth
 - FAQ
 - Troubleshooting
- API
 - gcloud
 - BigQuery
 - ...
- (no title)
 - GitHub
 - Issues
 - StackOverflow
 - npm (in our case, gem)
 - Change history (would go here)

Can we follow the same ordering for Ruby?

[2015-08-03 12:51] jgeewax opened #199 "How do I create a DRA or Nearline storage bucket?"
Docs here don't seem to have an option to specify the storage class when creating a bucket: http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.2.0/Gcloud/Storage/Project.html#method-i-create_bucket

Is this something we can add?

[2015-08-03 14:52] blowmage opened #200 "Get final review of BigQuery API by Cloud BigQuery team from Google"
We need someone on the Google team to review the ruby implementation and documentation and provide feedback.

[2015-08-04 18:00] blowmage opened #201 "Stream downloads to disk"
Storage downloads are read into memory and then written to the file system. We want the files to be streamed to the file instead of storing all contents into memory. The Google API Client does not support streaming downloads, so we might want to handle downloads outside of it. See #67.

[2015-08-04 18:00] #67 closed

[2015-08-04 18:01] #57 closed

[2015-08-04 18:03] blowmage opened #202 "BigQuery Access Control Settings"
Display and update the access rules on a BigQuery table. The proposed API is:

- [x] `Dataset#access` getter
- [x] `Dataset#access=` setter
- [x] `Dataset#access` DSL with block
- [x] `Project#create_dataset` with access DSL block
- [x] Updated documentation

The `access` getter/setter will return and set the raw data as represented in the API. The access block will yield an access object that wil

[2015-08-04 18:07] blowmage opened #203 "Arel-inspired convenience methods"
It would be nice to have arel-ish methods on a table for generating the SQL to run a query.

[code]

[2015-08-04 18:08] blowmage opened #204 "Rerun BigQuery Jobs"
It would be useful if `Job` had a convenience method to create a new job with the same configuration.

[2015-08-04 18:10] blowmage opened #205 "Import data from Datastore backup"
The BigQuery API can import data from a Datastore backup, but this is not exposed in the gcloud API yet.

[2015-08-04 18:12] blowmage opened #206 "BigQuery Synchronous query?"
Right now all queries use the `job.insert` API to create a job. There are no calls to the `job.query`. If we want to call the latter we should figure out a good API for differentiating between the two.

[2015-08-04 18:21] blowmage opened #207 "Move Gcloud::Error definition"
Right now this class is defined in `lib/gcloud.rb`. It probably should be located in `lib/gcloud/error.rb` or `lib/gcloud/errors.rb`

[2015-08-04 18:22] blowmage opened #208 "Add inspect"
Some objects are overly large when displayed in IRB or test output. Overriding `inspect` on the classes will make them to be easier to view.

[2015-08-04 18:25] blowmage opened #209 "Custom Scopes"
Each service authentication requires a different scope. Right now those scopes are hard coded, but they can be passed in when creating the service objects. We need to extend the API to allow for `:scope` to be specified.

[code]

[2015-08-04 18:26] blowmage opened #210 "Rename regression tests to acceptance tests"

[2015-08-04 18:28] blowmage opened #211 "Support getting project id from GCE"
In the same way we retrieve the access token from the GCE environment, we should also pull the project info from GCE.

The info should be available at http://metadata.google.internal/computeMetadata/v1/project/project-id. Here is how [googleauth](https://github.com/google/google-auth-library-ruby/blob/master/lib/googleauth/compute_engine.rb) accesses the access token.

[2015-08-04 18:29] blowmage opened #212 "Make `.from_response`/`.from_resp` usage consistent"
The names of these private methods are sometimes inconsistent across gcloud.

[2015-08-12 13:22] stephenplusplus commented on #193
@tmatsuo friendly ping :)

[2015-08-12 18:29] blowmage commented on #204
The BigQuery documentation has a [section](https://cloud.google.com/bigquery/docs/managing_jobs_datasets_projects#managingjobs) on re-run a job. Basically insert a new job with the same configuration.

[2015-08-12 20:44] #204 closed

[2015-08-13 15:00] blowmage opened #214 "RDoc Categories are not displaying the name correctly"
The classes with methods organized into categories are not displaying as expected. The category names are not being displayed where we expect them to be.

![example](http://i.imgur.com/3MExd23.png)

[2015-08-13 17:09] blowmage opened #215 "Error building v0.1.0 docs with `rake pages:rebuild`"
Calling `bundle exec rake pages:rebuild` will fail on v0.1.0 because of missing hoe dependency. It would be good if that first release played nice with bundler...

We don't want to add hoe as a dependency because it was only used on the v0.1.0 release and we'd rather not force all future developers to install it.

[2015-08-13 18:32] quartzmo opened #216 "Add examples to Bigquery module rdoc"
The rdoc in lib/gcloud/bigquery.rb is currently just an outline and needs to be completed with a top-level explanation of how to use the library, including example code.

[2015-08-13 19:12] quartzmo opened #217 "Improve API for configuring the schema for a BigQuery Table"
The current JSON-as-hash mechanism for setting a Table schema is needlessly verbose and exposes the all-caps convention of the underlying Rest API. Here is the example from the docs.

[code]

I believe it would improve the API to use something more structured and native to Ruby, such as a builder inside a block:

[code]

Both Dataset#create_table and Table#schema= would need to be updated for the

[2015-08-13 19:40] jgeewax commented on #217
Likely related to https://github.com/GoogleCloudPlatform/gcloud-python/issues/1058 (Python)

[2015-08-13 20:14] blowmage commented on #200
@jgeewax Do we have someone to look at this?

[2015-08-13 23:00] VincentVanGoat opened #218 "Certificate verify failed (Faraday:SSLError)"
I got this error while trying to create a new file in my bucket.

[code]

[2015-08-13 23:01] VincentVanGoat commented on #218
the last line is:

from storage-api-test.rb:5:in '<main>'

[2015-08-13 23:02] VincentVanGoat commented on #218
the last line is:

from storage-api-test.rb:5:in 'main'

The main is in tags but doesn't get displayed for some reason..

[2015-08-13 23:36] blowmage commented on #218
Hi @VincentVanGoat, thanks for opening the issue! The problem you are having is due to how Ruby looks for the SSL certificates on your system. It looks like Ruby is unable to find a valid SSL cert that will work for connecting to the Google Cloud API. This is apparently a common problem with Ruby on Windows due to some changes in RubyGems and how Ruby uses SSL certificates. Unfortunately this is n

[2015-08-14 20:22] VincentVanGoat commented on #218
Thank you for your answer. The Stack Overflow answer does give a great method. It says that I'll have to find and download the cacert.pem into c:\railsinstaller\. I unfortunately could not find 'railsinstaller' anywhere on my computer. Where do I download the cancert.pem then?

[2015-08-15 00:40] blowmage commented on #218
@VincentVanGoat The Stack Overflow answer instructs you to download the cert from http://curl.haxx.se/ca/cacert.pem and then you can put it anywhere on your system. The location is not important, as long as the location is stored in the `SSL_CERT_FILE` environment variable.

[2015-08-15 17:03] VincentVanGoat commented on #218
Thanks! This issue was fixed.

[2015-08-15 17:03] #218 closed

[2015-08-15 17:05] VincentVanGoat opened #219 "'create_file' unhandled exception"
I'm trying to upload a file to a bucket using the following script:

[code]

When I run this, I get this error:

[code]

Please help!

[2015-08-15 17:14] blowmage commented on #219
Hi @VincentVanGoat, it would be helpful to see the entire error backlog. But it would be most helpful to remote pair with you. Can you connect to the following URL so we can step through your code and see what is happening?

https://join.me/blowmage1

[2015-08-15 17:19] blowmage commented on #219
Are you sure that file exists? What happens if you open IRB and do the following:

[code]

[2015-08-15 17:37] blowmage commented on #219
I have to leave now. Send me an email at mike@blowmage.com so we can schedule a time for remote pairing.

[2015-08-15 17:47] blowmage opened #220 "Raise named error when file does not exist"
Currently we are raising an unnamed error when uploading a file that does not exist. Add a new error class for this instance with a helpful error message.

refs #219

[2015-08-15 17:53] VincentVanGoat commented on #219
Hey! I made a very stupid blunder: my .csv file was saved as a text document. Thanks and sorry.

[2015-08-15 17:53] #219 closed

[2015-08-15 17:57] blowmage commented on #219
No problem! Glad you figured it out. Thank you for using gcloud! Please feel free to ask questions or open issues.

[2015-08-15 17:58] VincentVanGoat opened #221 "Uploading a file to a bucket"
I successfully uploaded a file in my bucket with the help of the following script:

require "gcloud"

gcloud = Gcloud.new "g-storage-103621",
                    'C:\Users\Kanishka\GoogleCloudStorage\keyfile\google-storage-756c0950e8bc.json'
storage = gcloud.storage

bucket = storage.bucket "g-storage-bucket"

bucket.create_file "C:/Users/Kanishka/GoogleCloudStorage/dataset/language_id.csv"

When

[2015-08-15 18:03] blowmage commented on #221
Hi @VincentVanGoat, the [Bucket#create_file](http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.2.0/Gcloud/Storage/Bucket.html#method-i-create_file) method takes two arguments, the first is the file to upload, the second is the path for the file to use in the bucket. If the second argument isn't given, the file's path is used.

[2015-08-15 19:08] VincentVanGoat commented on #221
Got it.

[2015-08-15 19:08] #221 closed

[2015-08-17 18:31] blowmage commented on #198
@jgeewax It is pretty cumbersome to move Release History to the bottom of the side nav due to the way RDoc deals with documentation text files. How about treating it like README and only showing that page on the git repo and not in the documentation?

[2015-08-17 19:01] blowmage commented on #200
@thagomizer You gave a talk about BigQuery at a ruby conference, do you have time this week to look over the API we've come up with and give us feedback?

[2015-08-17 19:05] thagomizer commented on #200
Yes. I'm also getting a BigQuery proposal together for RubyConf. Is Wednesday okay?

[2015-08-17 19:11] blowmage commented on #200
That would be awesome! Thanks!

[2015-08-17 20:03] #220 closed

[2015-08-17 21:56] blowmage commented on #200
Our docs can be found here: http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Bigquery.html

They are only on the master docs until they are released. Hopefully we'll release on Friday. :)

[2015-08-17 22:22] jgeewax commented on #198
SGTM.

[2015-08-17 22:27] blowmage commented on #198
DONE!

[2015-08-17 22:27] #198 closed

[2015-08-17 22:27] #214 closed

[2015-08-17 23:51] #210 closed

[2015-08-18 16:33] blowmage commented on #209
Currently for Pub/Sub and BigQuery we are asserting both a service specific and a universal access scope. We really only need to assert one, [not both](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/7ac2e988462587bb0bf503131fb6d01e69dbb7fb/lib/gcloud/pubsub/credentials.rb#L23-L24).

[2015-08-19 01:24] quartzmo opened #224 "Response error handling fails when service returns 404"
I experienced this error on the current master branch, while using `bundle exec rake console` to manually test a doc example for BigQuery.

[code]

Because this error occurs while trying to initialize an ApiError from a non-success response from BigQuery, I modified my local `bigquery/project.rb` to raise the response object, then recreated the error with the following output (auth details removed

[2015-08-19 01:43] quartzmo opened #225 "Required path parameter projectId missing in Jobs: query request"
I experienced this error on the current master branch, while using bundle exec rake console to manually test a doc example for BigQuery.

[code]

Because this error occurs while trying to initialize an ApiError from a non-success response from BigQuery, I modified my local bigquery/project.rb to raise the response object, then recreated the error with the following output (auth details removed):

[2015-08-19 19:44] jgeewax opened #226 "Do we test our example code anywhere?"
Example code (`@example` in our doc strings) needs automated testing. This is done with [yard-doctest](https://github.com/p0deje/yard-doctest) and a new `doctest` Rake task.

Done for the following core packages:

- [x] BigQuery
- [x] Datastore
- [x] Logging
- [x] Storage

Also needs to be completed soon for the ML packages:

- [x] Language
- [x] Speech
- [x] Translation
- [x] Vision

Followed by

[2015-08-19 19:56] blowmage commented on #226
We've been testing the example code manually. We don't have any automated tests for code examples. There isn't a generally accepted library for automating doc code like python's doctest.

[2015-08-19 20:00] jgeewax commented on #226
We thought that too for Node... and tossed something together ourselves.. Can we consider doing that? At least for testing to typos?

/cc @stephenplusplus @ryanseys @callmehiphop

[2015-08-19 20:29] blowmage commented on #224
I've seen this when my environment isn't set up correctly and I don't have a `PROJECT_ID` configured. I suspect that is what is going on here. So there may be multiple changes to address this, one to guard against a missing project, and another to guard against API calls not returning the expected JSON payload.

[2015-08-19 20:30] blowmage commented on #225
I agree this related to #224.

[2015-08-19 21:47] thagomizer commented on #200
This looks great. It makes sense and I think is pretty straightforward to integrate into a project. The async query API looks a bit awkward but async is awkward in Ruby so that part feeling weird makes sense.

[2015-08-19 21:53] blowmage opened #227 "BigQuery Table#id"
I would like to ask a table what its ID is. It would be useful for using the fully namespaced table name in queries.

[code]

[2015-08-19 21:54] VincentVanGoat commented on #84
Hey what was the error?

[2015-08-19 21:55] blowmage opened #228 "BigQuery Job#wait_until_complete"
I would like a helper method that will block on a job until the state moves to `DONE`.

[code]

[2015-08-19 21:56] VincentVanGoat opened #229 "cannot load such file -- gcloud"
Hey I am using g-cloud to upload a some files in the cloud storage and whenever I upload the .csv file, I get an error saying: cannot load such file -- gcloud

This is my controller logic:

[code]
Please Help!

[2015-08-19 21:58] blowmage commented on #228
`The mechanism could be similar to the incremental backoff we use when dealing with API calls and quotas. We could incrementally increase the time between refreshing the job data to check if its complete. We might also put a max on the total number of seconds to wait (or iterations to perform) before returning.

[code]

[2015-08-19 22:01] blowmage commented on #200
Thanks Aja!

[2015-08-19 22:05] quartzmo commented on #200
Thank you @thagomizer. It will be so great to have your input.

[2015-08-19 22:10] blowmage commented on #226
The syntax highlighting and colors won't be applied to the code examples if the code can't be parsed by ruby. I've caught a couple of typos in code examples by just looking at the documentation. :)

There are a couple of projects that attempt to implement a doctest for ruby, but they are all pretty rough. I'll look into it a bit more. I agree it would be nice to catch code examples that can't be p

[2015-08-19 22:10] quartzmo commented on #225
Bringing this comment over from #224:

[2015-08-19 22:12] quartzmo commented on #224
Agreed.
* #225 is to guard against a missing project
* This issue (#224) is to guard against API calls not returning the expected JSON payload

[2015-08-19 22:13] blowmage commented on #229
@VincentVanGoat I assume the error occurs on the `require 'gcloud'` line? Do you have `gcloud` added as a dependency in your Gemfile?

[2015-08-19 22:17] VincentVanGoat commented on #229
yes.

[2015-08-19 22:28] blowmage commented on #229
I asked two questions. Which one are you saying "yes" to?

[2015-08-19 22:29] blowmage commented on #229
In cases like this it is best to create a reliable reproduction that anyone can run on any system and see the behavior you suspect is a defect in the library. This means you have to post much more code for us to be able to recreate this. I suspect that this is not an issue with the library, but an issue in your setup, and the process of creating a reproduction would help you identify what needs to

[2015-08-19 22:35] VincentVanGoat commented on #229
I have the gcloud dependency in my Gemfile. Sorry for being unclear :disappointed:

[2015-08-19 22:39] blowmage commented on #229
Is a remote pair programming session a possibility? Is that something we can try?

[2015-08-19 22:40] VincentVanGoat commented on #229
Yes. I'll send you an email about the same then.

[2015-08-19 22:41] blowmage commented on #229
Excellent. Thanks!

[2015-08-19 23:03] quartzmo commented on #84
@quekshuy Can you please post your error and solution? It may help @VincentVanGoat resolve #229.

[2015-08-19 23:05] quartzmo commented on #229
@VincentVanGoat I will try to help. How are you installing the gcloud gem? Can you paste your exact commands into a comment?

[2015-08-19 23:06] quartzmo commented on #226
I agree, this would be great!

[2015-08-19 23:24] quartzmo commented on #229
I am going to assume the controller above is in a Rails application, using bundler. I'll try to reproduce...

[2015-08-20 00:12] quartzmo commented on #229
I didn't have any problem using Gcloud in a fresh Rails application (Ruby 2.2.3, Rails 4.2.3). Here are the steps I took, using [rbenv](https://github.com/sstephenson/rbenv) and [rbenv-gemset](https://github.com/jf/rbenv-gemset). Not all console output is shown.

[code]

Then, in Rails console. Note that `require 'gcloud'` returns `false` because Rails already required it.

[code]

Hopefully this

[2015-08-20 15:45] VincentVanGoat commented on #229
Hey! @quartzmo. I'll try this today and let you know. Thanks for all the help!

[2015-08-20 17:29] VincentVanGoat commented on #229
Hey all, I did a fresh install of gcloud and ran 'bundle install'. Surprisingly, my code worked. Thanks for all the help!

[2015-08-20 17:29] #229 closed

[2015-08-20 17:32] blowmage commented on #229
:+1: Glad you got it worked out!

[2015-08-20 17:34] quartzmo commented on #229
Great to hear!

[2015-08-20 18:28] quekshuy commented on #84
Hello,

Sorry for the delay in responding.

In an older version of the gem, the requires weren’t working. I updated to
a later version of the gem (0.2.0) and it works now. Is it happening with
the latest version for you @VincentVanGoat?

On Wed, Aug 19, 2015 at 4:03 PM Chris Smith <notifications@github.com>
wrote:

[2015-08-20 19:16] VincentVanGoat commented on #84
Yes. I found that in my project as well. It is fixed now! Thanks!

[2015-08-20 19:41] quekshuy commented on #84
No problem. Again, sorry I didn’t reply sooner!

On Thu, Aug 20, 2015 at 12:16 PM Kanishka Misra <notifications@github.com>
wrote:

[2015-08-20 21:35] quartzmo commented on #224
The commit above handles 404 response as shown in this example:
[code]

[2015-08-20 21:37] #224 closed

[2015-08-20 21:38] quartzmo commented on #224
I guess maybe it would be nice if the ApiError `message` contained "404" as well, just to be clear. Calling `ApiError#code` will return `404`. Should I prepend the code to the message?

[2015-08-20 22:46] #225 closed

[2015-08-20 23:30] blowmage commented on #216
Closed with #230

[2015-08-20 23:30] #216 closed

[2015-08-21 17:43] blowmage commented on #206
This was added to the BigQuery implementation, which now supports both synchronous and asynchronous queries.

[2015-08-21 17:43] #206 closed

[2015-08-21 21:08] #197 closed

[2015-08-22 01:29] #195 closed

[2015-08-24 16:16] blowmage commented on #209
Closed in 54bf387de52f89652d7fd9423db1734091194b0b

[2015-08-24 16:16] #209 closed

[2015-08-24 16:17] #200 closed

[2015-08-24 18:27] jgeewax opened #236 "[Documentation Issue] Example code on BQ doesn't have highlighting"
http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Bigquery/Dataset.html

[2015-08-24 18:56] #236 closed

[2015-08-24 18:57] blowmage commented on #236
This typo was fixed in other code examples, but missed in this file. I didn't find any other instances of this mistake.

[2015-08-24 19:26] blowmage commented on #117
We will keep 1.9 support for as long as we can. Some services will require 2.0, and we will raise a runtime error when running on 1.9.

[2015-08-24 19:26] #117 closed

[2015-08-24 20:10] blowmage opened #237 "Support `DATASTORE_DATASET` environment variable"
The gcloud SDK instructs users to use the `DATASTORE_HOST` and `DATASTORE_DATASET` environment variables. Add `DATASTORE_DATASET` to the list of environment variables that gcloud-ruby looks for.

[refs GoogleCloudPlatform/gcloud-common#24]

[2015-08-24 20:13] blowmage commented on #236
This is fixed now.

[2015-08-24 20:13] blowmage commented on #236
More ammunition for GoogleCloudPlatform/gcloud-ruby#226...

[2015-08-24 22:46] blowmage commented on #205
Be sure to map the .backup_info extension to the `DATASTORE_BACKUP` format in `BigQuery::Connection#source_format`.

[2015-08-24 23:08] quartzmo commented on #205
Got it. Thanks Mike.

[2015-08-24 23:22] quartzmo opened #238 "Storage File docs example could use real-world detail"
I got the following error while trying to use the example for downloading a file at the [top of the File class](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/v0.3.0/lib/gcloud/storage/file.rb#L35). I was trying to download some Datastore backup files.

[code]

I think the example implies that missing directories in the path will be created. (In this case, the bucket name directory.) Also

[2015-08-24 23:28] blowmage commented on #238
Did you create a directory with the name of the bucket? The download isn't going to creat the directory structure, just the file.

[2015-08-24 23:37] blowmage commented on #238
You get this behavior in ruby by writing to a file path that has a directory structure that does not exist.

[code]

[2015-08-24 23:37] quartzmo commented on #238
Yes, I know. I just think the example is misleading. My preference (as far as it is practical) is for examples that you paste in and they actually work. On this note, the global namespace for bucket names is at odd with examples like: `storage.create_bucket "my-bucket"`.

[2015-08-24 23:40] quartzmo commented on #238
I think it's worth the additional complexity to add some supporting details like:

[code]
So that the example actually works. Just my preference.

[2015-08-24 23:42] quartzmo commented on #238
I shouldn't have added the `bug` label. This is just my opinion on the docs.

[2015-08-24 23:45] blowmage commented on #238
Yes, this is why very generic names were used in the documentation. The problem with creating a random bucket name for the create example you referenced in your previous comment is that you can't use the exact same name when retrieving a bucket by its name like the code example you referenced in the issue's description does.

[2015-08-24 23:58] blowmage commented on #238
A Storage file's name is just a string, but can behave like a path. It can include directory structures, but Storage isn't a real file system. It looks like the Datastore backup prepended "`/`" to the name of the file, which is perfectly okay to do. Or not to do. You just have to be aware of that when downloading the file.

[2015-08-25 00:04] blowmage commented on #238
You can treat Storage files that follow a nested directory naming convention like a file system by passing the parent directory path in the `prefix` option:

[code]

[2015-08-25 18:47] #205 closed

[2015-08-25 20:54] quartzmo commented on #237
Just wondering: Is the value of `DATASTORE_DATASET` is always a Google Cloud Project ID?

From the official Datastore [Sign Up](https://cloud.google.com/datastore/docs/activate) doc:

Or is it possible to create a Datastore Dataset with an ID other than a Project ID?

[2015-08-25 21:01] blowmage commented on #237
The Datastore project ID and dataset ID will eventually be separate identifiers in a future version of the Datastore API. But for now they are the same.

[2015-08-25 21:02] quartzmo commented on #237
OK, great, about to submit PR for this.

[2015-08-25 21:49] #237 closed

[2015-08-25 21:54] blowmage opened #242 "BigQuery table refresh"
In BigQuery we added `Job#refresh!` to update the data for the job. This has proven to be very useful, we should extend this to Table and View.

[2015-08-25 22:03] quartzmo commented on #227
An added convenience would be for `Table#id` to detect dashes in the project name, and supply the enclosing square brackets if needed.

from: https://cloud.google.com/bigquery/query-reference#from

So that you can then write the following without worrying about whether you need the square brackets. (Most projects will need them, I think.)

[code]

[2015-08-25 22:23] blowmage commented on #242
I kinda wonder if we should refresh all the things... Thoughts?

[2015-08-25 22:31] quartzmo commented on #242
The question is where to stop... I know Table makes sense because I find myself trying it in console, and feeling frustrated that it's not there. I say we add it to Table for now, and see where else we wish we had it.

[2015-08-25 22:34] blowmage commented on #242
I meant being able to refresh a Storage Bucket and File, a Pub/Sub Topic and Subscription, and a Datastore Entity. Extending this pattern to more than just BigQuery.

[2015-08-25 22:54] quartzmo commented on #242
Agreed. If you know where it's needed, let's do it.

Question: Any chance you want to go with `reload!` instead of `refresh!` if we are going to do this widely? Fewer characters and similar to http://api.rubyonrails.org/classes/ActiveRecord/Persistence.html#method-i-reload

[2015-08-25 22:59] blowmage commented on #242
Currently Storage ACL and BigQuery Job use `refresh!`. Nothing in the public API uses `reload!`, although we can add an alias for it.

[2015-08-25 23:00] quartzmo commented on #242
OK, I vote for adding a `reload!` alias.

[2015-08-25 23:05] blowmage opened #243 "Datastore refresh!"
Add a method to allow Entity objects to refresh the data from the API.

refs #242

[2015-08-25 23:06] blowmage opened #244 "Storage refresh!"
Add a method to allow Bucket and File objects to refresh the data from the API.

refs #242

[2015-08-25 23:06] blowmage opened #245 "Pub/Sub refresh!"
Add a method to allow Topic and Subscription objects to refresh the data from the API.

refs #242

[2015-08-25 23:16] quartzmo opened #246 "Rename refresh! methods to reload! and alias with refresh!"
I think `reload!` is a better choice than `refresh!`. The `reload` method (no bang) is familiar to everyone who uses Rails and ActiveRecord. http://api.rubyonrails.org/classes/ActiveRecord/Persistence.html#method-i-reload

To preserve the existing API (and offer choice), wherever `reload!` is present, we can add the `refresh!` alias.

refs #242, #243, #244, #245

[2015-08-25 23:31] blowmage commented on #228
@quartzmo Is there a better name for this method than `Job#wait_until_complete`?

[2015-08-25 23:37] blowmage commented on #228
`Job#block_until_done`?

[2015-08-25 23:55] quartzmo commented on #228
I think `wait` is better than `block`, it is a common term in concurrent programming. What about `Job#wait_until_done`? Is `Job#wait` edging too far into concurrency?

[2015-08-26 00:24] #228 closed

[2015-08-26 01:28] #227 closed

[2015-08-26 01:28] #242 closed

[2015-08-26 15:39] quartzmo commented on #215
Any suggestions for how to fix this without adding hoe to the Gemfile?

[2015-08-26 16:34] blowmage commented on #215
I think we should just swap the Gemfile and gcloud.gemspec file to a version that works with what we use since the transition to using Bundler. Similar to the ae0019150f07c8ffde4bb96a996ceec0ac79b119 commit. Thats the only way I can see to resolve this.

R.I.P [hoe](https://rubygems.org/gems/hoe)...

[2015-08-26 17:06] quartzmo commented on #243
Dataset doesn't need a `refresh!` method, does it? It seems like a stateless [repository](http://martinfowler.com/eaaCatalog/repository.html).

[2015-08-26 17:29] blowmage commented on #243
Correct, Dataset doesn't need refresh. In my notes I just listed Entity. I don't know why I added Dataset to the issue. ¯\\_(ツ)_/¯

[2015-08-26 18:21] quartzmo commented on #243
Right now, `Entity` doesn't implement the [ActiveRecord pattern](http://www.martinfowler.com/eaaCatalog/activeRecord.html), meaning that it doesn't contain the persistence logic needed for `refresh!`. This logic is in the repository, `Dataset`. Introducing a dependency on the `Dataset` singleton into `Entity` seems like a bad idea, and moving the logic (`to_gcloud_entities`, etc) into Entity is a

[2015-08-26 18:29] quartzmo commented on #244
Bucket looks pretty much immutable to me. I was thinking maybe a Bucket's Acl could use `refresh!`, but it already has it. File definitely can use `refresh!`. OK to remove Bucket from this issue?

[2015-08-26 18:37] quartzmo commented on #243
All I can think of is to add a `refresh` (no bang) method to `Dataset`:

[code]

[2015-08-26 18:48] jgeewax commented on #243
Why wouldn't I just use:

[code]
?

[2015-08-26 18:56] quartzmo commented on #243
@jgeewax I agree. If you are required to have both the repository and the entity to invoke it, refresh doesn't add much.

[2015-08-26 18:58] jgeewax commented on #243
Sure -- but there's value (IMO) of having `entity.refresh!`, right..? I get that we don't want to make this too heavy, but if that's the case shouldn't we just deal with hashes all the time?

If we're going to do Entity objects, shouldn't it know how to save itself, and therefore refresh itself?

[2015-08-26 19:09] quartzmo commented on #243
It sounds good to me. I want to hear what @blowmage thinks, he may know some backstory on the current design.

[2015-08-26 19:12] blowmage commented on #243
I forgot that Entity doesn't hold a connection to the service. We would need to change the way Datastore is implemented to add an Entity#refresh! method. I say we put this issue on hold for now.

A bit of history, the original proposal for Datastore put forth the idea of a "model API" similar to lots of other ruby ORMs. It would allow for users to define classes that would be backed by Datastore e

[2015-08-26 19:14] jgeewax commented on #243
Huge +1 to that.

An ORM should (ideally) live somewhere else. Nothing stopping us from doing
it, but putting the ORM inside gcloud-ruby might be a bit heavy...

[2015-08-26 19:15] quartzmo commented on #243
Is it OK then to remove this issue from the 0.3.1 milestone?

[2015-08-26 19:17] blowmage commented on #243
Yeah, remove it from 0.3.1.

[2015-08-26 19:19] blowmage commented on #243
In late 2014 I made a couple attempts at a gcloud-model gem that would implement this Model API using the Datastore implementation in gcloud-ruby. (This was on the side and not part of working on gcloud-ruby.) I think the Model API is possible to do as an external library, I unfortunately never finished it.

Apologies for causing confusion by creating this issue. I didn't give it enough thought be

[2015-08-26 19:21] quartzmo commented on #243
No prob! It was good for me to get more familiar with the Datastore impl.

[2015-08-26 19:22] jgeewax commented on #243
Agreed -- no problem :)

[2015-08-26 19:23] blowmage commented on #244
Bucket has data, its just not on the implementation yet. See #91. I say we implement it.

[2015-08-26 19:26] quartzmo commented on #244
OK, great. So some/all of the mutable attributes in #91 will be on the bucket's `@gapi` object? In that case I'll go ahead.

[2015-08-26 21:57] quartzmo commented on #245
I can't find any mutable attributes to refresh, so after discussion with @blowmage, closing this one with wontfix.

[2015-08-26 21:57] #245 closed

[2015-08-26 23:51] #244 closed

[2015-08-26 23:51] #246 closed

[2015-08-26 23:56] quartzmo commented on #208
The easy, quick way to end the horrendously verbose console output is to override `inspect` (or `to_s`) in the connection classes. Another approach would be to try to bring the output of `inspect` (or `to_s`) for every public class in line with the Rest API resource representation. A big job for sure, but there may be value in it. As suggested by the official [Ruby documentation](http://ruby-doc.o

[2015-08-26 23:58] quartzmo commented on #212
Which one do you prefer, `from_response` or `from_resp`? I vote for `from_response`, but not if it's going to cause line-length issues with rubocop.

[2015-08-27 00:05] blowmage commented on #208
The default inspect reveals the internals of the object, the implementation, which may change over time. Normally it isn't a problem, but we have some very large objects in the object graph and the output is ridiculously big. I agree that the biggest bang for the buck is overriding the Connection objects, which are not part of the public API but expose many things about how gcloud works. Google AP

[2015-08-27 00:06] blowmage commented on #212
Sounds good to me.

[2015-08-27 00:09] quartzmo commented on #212
OK, i'll do this one right now.

[2015-08-27 00:09] quartzmo commented on #208
Let's schedule a time to pair on this one.

[2015-08-27 13:13] jgeewax commented on #212
+1 to `from_response` :)

[2015-08-27 17:08] quartzmo commented on #208
Here's what I currently have locally. The final method call shows how the new Storage connection inspect looks in a collection.

[code]

I think the new inspect on the Connection class for each service solves most of the problem at very low cost, but maybe I should try to improve some of the *slightly* too verbose classes such as Bucket?

[2015-08-27 17:13] blowmage commented on #208
I kinda agree about overriding inspect on other classes. Especially when viewing collections. But I can also see the argument for only doing Connection.

Up to you IMO. :)

[2015-08-27 17:16] quartzmo commented on #208
After thinking about it, I think it's best to leave this @gapi output as-is, for the benefit of easy inspection of any attribute that someone may be interested in. PR coming soon for connection changes.

[2015-08-27 21:10] #212 closed

[2015-08-27 21:26] blowmage opened #253 "Add gcloud-java"
Add links to the gcloud-java project from the site and the documentation.

[2015-08-27 21:45] #208 closed

[2015-08-27 22:36] blowmage commented on #253
This is completed. The link now shows up on the site and all documentation pages.

[2015-08-27 22:36] #253 closed

[2015-08-28 15:12] #215 closed

[2015-08-28 15:21] blowmage commented on #215
The problem wasn't loading Hoe, it was Bundler applying the parent settings to sub shells. Judicial use of `Bundler.with_clean_env` solved the problem. The tag commit remains unchanged. :+1:

[2015-08-28 15:42] ajkannan opened #256 "Shorten URL for gcloud-java link"
gcloud-java is in the midst of cleaning up it's gh-pages branch, and part of that is making the URL shorter. The link on ruby's website to gcloud-java should be modified to http://googlecloudplatform.github.io/gcloud-java/ (removing "site/latest/").

[2015-08-28 22:05] ajkannan commented on #256
@blowmage It seems like lib/rdoc/generator/gcloud/_header.html.erb in the `gcloud-rdoc` branch controls the link to gcloud-java from the docs pages.  However, if I modify the gcloud-java link in that file, that won't update the existing docs pages' links, right?  Do you have a recommendation on how to best modify the links in the existing docs pages?

[2015-08-28 23:36] blowmage commented on #256
I'll take care of it, no problem. I was distracted all afternoon on another issue. :)

[2015-08-28 23:37] ajkannan commented on #256
Great, thanks!

[2015-08-28 23:41] blowmage commented on #256
K, the site links and the documentation links are updated now. Thanks for the heads up!

[2015-08-28 23:41] #256 closed

[2015-08-28 23:59] blowmage opened #258 "Allow BigQuery Table/View Representation as a String"
Allow tables to be represented as a string in BigQuery methods that accept table/view objects. Use the `table_id` format: `project:dataset.table` If the project_id or dataset_id values are missing they should use the current project and dataset when available.

One problem we have with copying tables in the current Ruby API is that the destination table must already exist.

[code]

If we could rep

[2015-08-29 00:01] blowmage commented on #258
Most of the Google Cloud BigQuery API methods just need the `project_id`/`dataset_id`/`table_id` combination, which the string format provides. This will give us the flexibility of a "lazy" table object, without having a lazy table object.

[2015-08-30 18:47] enzomd opened #259 "Gcloud::Datastore::PropertyError: A property of type NilClass is not supported."
[code]
This happens with values that are null.

[2015-08-30 18:48] jgeewax commented on #259
Do you have some sample code that raises the error?

[2015-08-30 18:54] enzomd commented on #259
To replicate:
Set values to null in the datastore UI:
![86014afd-567f-4f8c-8f31-51bce938ccf0](https://cloud.githubusercontent.com/assets/11319476/9568905/ab749730-4f50-11e5-9639-2f2f9b488ba3.png)

Read them:
`dataset.find("Kind", "Key")`

[2015-08-30 18:56] jgeewax commented on #259
Awesome -- thanks -- we'll dig in :)

[2015-08-30 18:59] blowmage commented on #259
@enzomd Thanks for submitting the issue. I'll take a look at it. Let me know if you have a reproduction. Thanks again.

[2015-08-30 21:49] #259 closed

[2015-08-30 21:52] blowmage commented on #259
@enzomd I think we've identified a fix for this with #260. We will include this in the 0.3.1 release that is planned for this week.

It looks like you are using Bundler to reference the GitHub repo instead of using the gem. Can you update to the latest commit (`$ bundle update gcloud`) and let us know if this change has fixed the error you were seeing?

[2015-08-31 13:57] enzomd commented on #259
@blowmage @jgeewax thank you its working now

[2015-08-31 13:58] blowmage commented on #259
:metal:

[2015-09-01 17:22] #258 closed

[2015-09-01 23:31] #207 closed

[2015-09-02 21:12] #202 closed

[2015-09-03 12:31] vitaliel opened #265 "Require pathname library in gcloud"
Snippet:
[code]
Exception
[code]

If I add require 'pathname' before requiring gcloud it works.

[2015-09-03 12:35] blowmage commented on #265
Thank you for opening this issue.

[2015-09-03 13:21] vitaliel opened #266 "BigQuery: Errno::EPIPE on loading csv file"
Hi,

I'm trying to upload 100Mb csv file to bigquery, but I get Errno::EPIPE errors.

Snippet:
[code]

I get the error after 10 seconds, but If I do not pass chunk_size, it fails after 50 seconds.

Exception:
[code]

[2015-09-03 13:22] blowmage commented on #266
Thanks again for opening the issue. We'll get right on it.

[2015-09-03 13:50] vitaliel commented on #266
It's strange, I succeded only with a csv file with size < 5_000_000 bytes and 39250 rows.

[2015-09-03 16:54] quartzmo commented on #266
Hi @vitaliel, and thank you for reporting this!

This `Broken pipe (Errno::EPIPE)` error that you appear to have encountered is a known issue that is the root cause of **three** of the 39 currently open issues in [google-api-ruby-client](https://github.com/google/google-api-ruby-client) (upon which Gcloud depends.) They are:

* **[#67](https://github.com/google/google-api-ruby-client/issues/67) -

[2015-09-03 19:45] #265 closed

[2015-09-04 12:38] vitaliel commented on #266
@quartzmo Thanks, it worked.

[2015-09-04 14:53] quartzmo commented on #266
@vitaliel Great. I will add documentation of this issue to the API doc for `Table#load`, and in a Cloud Storage method where it is also possible. Then I will close this issue. Thanks again.

[2015-09-04 16:46] blowmage opened #269 "Upgrade to Google API Client 0.9"
The [next version](https://github.com/google/google-api-ruby-client/milestones/0.9) of Google API Client makes some major changes, including a new ruby API for connecting to services and a replacing Faraday for Hurley. This transition will require changes in tests to use Hurley's new test API.

[2015-09-04 16:50] blowmage commented on #269
We will want to make sure that lostisland/hurley#18 is resolved as all our tests depend on this behavior.

[2015-09-04 16:58] #266 closed

[2015-09-04 17:02] blowmage commented on #266
FYI, the updated docs will be included in the next point release (0.3.1), but the release after that (0.4.0) will most likely switch dependencies from Faraday to Hurley, meaning this guidance will change. Hopefully Hurley will be an improvement on Faraday and not have this issue in the default provider. :)

[2015-09-04 23:42] #217 closed

[2015-09-05 00:42] #211 closed

[2015-09-08 17:25] blowmage commented on #269
[Migrating notes](https://github.com/google/google-api-ruby-client/blob/master/MIGRATING.md)

[2015-09-09 16:34] blowmage commented on #91
Closing this issue. New issues are being created for each of these features.

[2015-09-09 16:34] #91 closed

[2015-09-09 17:08] blowmage opened #272 "Manage Bucket Versioning"
Support management of a bucket's versioning setting.

- [ ] Allow setting versioning during bucket creation:

[code]

- [ ] Allow getting values using a well named method.

[code]

- [ ] Allow setting a new value using a setter method.

[code]

Calling this method makes an API call to update the value.

[2015-09-09 17:08] blowmage opened #273 "Manage Bucket CORS"
Support management of a bucket's CORS settings.

- [x] Allow setting primitive CORS data during bucket creation:

[code]

- [ ] Allow setting primitive CORS using the DSL during bucket creation:

[code]

- [x] Allow getting values using the `cors` method.

[code]

- [x] Allow setting the CORS rules using the primitive data structure used by the API:

[code]

Also allow the CORS settings to be conf

[2015-09-09 17:08] blowmage opened #274 "Manage Bucket Logging Settings"
Support management of a bucket's logging settings.

- [x] Allow setting the values using bucket creation:

[code]

- [x] Allow getting the values from the bucket:

[code]

- [x] Allow setting the website values:

[code]

This will make two API calls. This will be addressed in a future issue to add the `update` method which can make both of these changes in a single API call:

[code]

[2015-09-09 17:08] blowmage opened #275 "Manage Bucket Location"
Support management of a bucket's [location](https://cloud.google.com/storage/docs/bucket-locations) setting.

- [ ] Allow setting location during bucket creation:

[code]

- [ ] Allow getting values using a well named method.

[code]

[2015-09-09 17:08] blowmage opened #276 "Manage Bucket Website Settings"
Support management of a bucket's website settings.

[code]
Support management of a bucket's website settings.

- [x] Allow setting the values using bucket creation:

[code]

- [x] Allow getting the values from the bucket:

[code]

- [x] Allow setting the website values:

[code]

This will make two API calls. This will be addressed in a future issue to add the `update` method which can make both of

[2015-09-09 17:08] blowmage opened #277 "Manage Bucket StorageClass"
Support management of a bucket's [storage class](https://cloud.google.com/storage/docs/storage-classes) setting.

- [ ] Allow setting location during bucket creation:

[code]

- [ ] Allow getting values using a well named method.

[code]

[refs #199]

[2015-09-09 17:18] blowmage commented on #92
Moved metadata to a separate issue.

[2015-09-09 17:27] blowmage opened #278 "Manage File Metadata"
Support management of a file's [metadata](https://cloud.google.com/storage/docs/gsutil/addlhelp/WorkingWithObjectMetadata#custom-metadata). _This issue is rudimentary, needs details to be filled in as we learn more._

- [x] Allow setting metadata during file creation:

[code]

- [x] Allow getting values using the `metadata` method.

[code]

- [x] Allow setting a new value using a setter method.

[

[2015-09-09 17:34] blowmage opened #279 "Storage Bucket Update"
Allow multiple attributes to be changed in a single API request.

[code]

[2015-09-09 17:35] blowmage opened #280 "Storage File Update"
Allow multiple attributes to be changed in a single API request.

[code]

[2015-09-09 17:56] #89 closed

[2015-09-09 21:45] blowmage opened #282 "DNS Project data representation"
Represent the [DNS project](https://cloud.google.com/dns/api/v1/projects) data, including the quota data.

[2015-09-09 21:46] blowmage opened #283 "DNS Project reload"
Allow a DNS project object to reload itself and the associated quota data.

[code]

[2015-09-09 21:47] blowmage opened #284 "DNS Project create new Zone"
Allow a DNS project object to create a new zone object.

[code]

[2015-09-09 21:48] blowmage opened #285 "DNS Zone data"
Represent a DNS [ManagedZones resource](https://cloud.google.com/dns/api/v1/managedZones#resource), and all of the associated data.

[2015-09-09 21:54] blowmage opened #286 "DNS project list zones"
Allow a DNS project object to [list zones](https://cloud.google.com/dns/api/v1/managedZones/list) associated with it. Zones can be paginated with a token, and a `max` limit can be set on the number of zones to return per page. This will most likely require a Zone::List class.

[code]

[2015-09-09 21:56] blowmage opened #287 "DNS zone delete itself"
Allow a zone object to delete itself.

[code]

[2015-09-09 22:01] blowmage opened #288 "DNS Change data"
Represent a [Changes resource](https://cloud.google.com/dns/api/v1/changes) including the records that were added and removed and the change metadata like start time and status.

[2015-09-09 22:03] blowmage opened #289 "DNS Change reload"
Allow a change object to reload itself. This will be useful for checking if the status has changed.

[2015-09-09 22:05] blowmage opened #290 "DNS Change auto block/reload"
Allow a change object to block until the change is completed. This should be similar to Gcloud::Bigquery::Job#wait_until_done!`

[2015-09-09 22:08] blowmage opened #291 "DNS Record data"
Represent the [ResourceRecordSets](https://cloud.google.com/dns/api/v1/resourceRecordSets) data. These objects will be immutable, and should be easy for end users to create.

[2015-09-09 22:12] blowmage opened #292 "DNS Zone list Records"
A DNS zone object must be able to [list the records](https://cloud.google.com/dns/api/v1/resourceRecordSets/list) belonging to the zone. The records can be filtered by name and type. A maximum number of records to return can be set. The returned records can be paginated with a token. This will require a Record::List class.

[2015-09-09 22:13] blowmage opened #293 "DNS Zone add Records"
A zone object must allow for new records to be added to the zone.

[2015-09-09 22:14] blowmage opened #294 "DNS Zone remove Records"
A zone object must allow for new records to be removed to the zone.

[2015-09-09 22:15] blowmage opened #295 "DNS Zone bulk change Records"
A zone object must allow for multiple records to be added and removed in the same API call. This will return a Change object that can be used to track the status of the change.

[2015-09-09 22:18] blowmage opened #296 "DNS Zone list Changes"
A zone object must [list the changes](https://cloud.google.com/dns/api/v1/changes/list) that were made against it. The resulting list can be sorted, a max can be set, and can be paginated. Will require a Zone::List class.

[2015-09-09 22:19] blowmage opened #297 "DNS Zone find Change by id"
Allow a zone object to [retrieve a change object by a given id](https://cloud.google.com/dns/api/v1/changes/get).

[2015-09-09 22:21] blowmage opened #298 "DNS replace records by criteria"
Instead of specifying the records that need to be deleted, allow users to specify the types of records to be removed and replaced.

[code]

**Update:** The example code should be:

[code]

See the discussion below about this.

[2015-09-09 22:22] blowmage opened #299 "DNS remove records by criteria"
Instead of specifying the records to be removed, provide the types of records to be removed

[code]

[2015-09-09 22:23] blowmage opened #300 "DNS import records from a file"

[2015-09-09 22:23] blowmage opened #301 "DNS export records to a file"

[2015-09-09 22:24] blowmage opened #302 "DNS Acceptance Tests"
Import the gcloud-node acceptance tests.

[2015-09-09 23:29] quartzmo commented on #283
Does the quota data (or other properties) change frequently enough to justify this?

[2015-09-09 23:29] quartzmo commented on #289
Just a note that the method name should be `reload!`.

[2015-09-09 23:33] blowmage commented on #282
It doesn't look like gcloud-node pulls the [project resource](https://cloud.google.com/dns/api/v1/projects#resource) or has a way to convey the quota data to users. @jgeewax, is pulling the project resource and showing the quota something we should skip?

[2015-09-10 00:38] blowmage opened #303 "DNS Project get Zone by name or id"
Allow a project object to [retrieve a zone object](https://cloud.google.com/dns/api/v1/managedZones/get) by the zone's name or id value.

[2015-09-10 01:50] blowmage commented on #283
Not sure. @jgeewax, who can we talk to about decisions like these? Is there someone on the DNS team?

[2015-09-10 01:50] blowmage commented on #283
Not sure. @jgeewax, who can we talk to about decisions like these? Is there someone on the DNS team?

[2015-09-10 01:53] blowmage commented on #289
Updated.

[2015-09-10 05:26] tattansp opened #305 "Create file from blob"
Hello,

I'm trying to upload an image created in-line with rmagick (imagemagick), but when I try to upload it with:

[code]

I get this error: no implicit conversion of Magick::Image into String

and if I try:

[code]

I get this error: `string contains null byte`

Of course because is expecting a String argument (the path where the file I want to upload is ), but I cannot find any documentation o

[2015-09-10 06:36] jgeewax commented on #298
Definitely have a look at what we did on gcloud-node for this, it was a bit
of a discussion IIRC
On Sep 10, 2015 1:21 AM, "Mike Moore" <notifications@github.com> wrote:

[2015-09-10 12:50] jgeewax opened #306 "Make sure we work happily with windows?"
Is there anything broken on Windows?

[2015-09-10 15:05] blowmage opened #307 "Resolve test warnings"
Travis is [reporting warnings](https://travis-ci.org/GoogleCloudPlatform/gcloud-ruby/jobs/79673306) from the `test/gcloud/bigquery/dataset_test.rb` test file on ruby 2.2. The test is using two local variables without instantiating them. These names are also methods on minitest objects, which is why it works, but probably not as expected. Compare the [test in question](https://github.com/GoogleClou

[2015-09-10 15:26] blowmage commented on #305
Hi @tattansp, thanks for opening the issue. Right now gcloud only supports uploading a File object, or a string of the path to a file on the file system. It doesn't support uploading IO objects or StringIO objects. Yet. For a workaround I would suggest writing the image to a temp file and uploading that.

[code]

Uploading an in-memory object is on the roadmap. The upcoming 0.9 release of [Google

[2015-09-10 17:23] blowmage commented on #298
@jgeewax is that discussion somewhere we can see it? I didn't find many DNS issues on gcloud-node. But I may be poor at searching for it...

[2015-09-10 17:26] jgeewax commented on #298
@stephenplusplus - do you recall where we had the debate about replacing
records in cloud DNS?

On Thu, Sep 10, 2015 at 1:23 PM, Mike Moore <notifications@github.com>
wrote:

[2015-09-10 17:26] quartzmo commented on #298
There is some discussion here: https://github.com/GoogleCloudPlatform/gcloud-node/pull/706

[2015-09-10 17:31] quartzmo commented on #298
@jgeewax Is this likely to be the concern you meant to point us to?

In that case, point taken: Be sure to fetch *all* matching records before making the call to replace.

[2015-09-10 18:45] quartzmo commented on #306
@jgeewax Not that we know of. We can certainly do some manual testing on Windows. Travis CI [does not offer a Windows env](https://github.com/travis-ci/travis-ci/issues/216#issuecomment-124138138), afaik.

[2015-09-10 18:51] quartzmo commented on #306
The [four issues](https://github.com/GoogleCloudPlatform/gcloud-ruby/issues?utf8=%E2%9C%93&q=+is%3Aissue+author%3AVincentVanGoat+) from @VincentVanGoat show evidence of Storage working fine on Windows (apart from the issues, of course, but they are now closed.)

[2015-09-10 19:23] stephenplusplus commented on #298
I don't think there was much of a discussion about it. I just did it and you said something like "this is cool, just make sure you mention it's not atomic."

Here it is: https://github.com/GoogleCloudPlatform/gcloud-node/pull/706#discussion_r33977558

[2015-09-10 19:29] quartzmo commented on #298
Thanks @stephenplusplus

[2015-09-10 20:40] quartzmo commented on #291
The gcloud-node [record test](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/test/dns/record.js) tests for following resource record types: `a`, `aaaa`, `cname`, `mx`, `ns`, `soa`, `spf`, `srv`, and `txt`. If anyone can suggest additional types, please post them here.

[2015-09-10 21:32] blowmage commented on #291
See the [supported record types](https://cloud.google.com/dns/what-is-cloud-dns#supported_record_types).

[2015-09-10 21:33] quartzmo commented on #291
Perfect, thanks @blowmage

[2015-09-10 21:45] quartzmo commented on #291
@blowmage So, I think I now see that the record type support should be handled by #300 and #301 instead of this issue?

[2015-09-10 21:57] blowmage commented on #291
Yeah, there is definitely a lot of work to be done to create a terrific experience working with records while using gcloud/dns, and it will probably be done outside of this particular issue.

[2015-09-10 22:05] blowmage commented on #291
I do think that some time could be spent on thinking about the ease of creating record objects. Since these are value objects, and not remote resources like most things in gcloud, we will need a way to easily create new objects to be added (or removed). I think I would prefer something like:

[code]

To something like this:

[code]

Or:

[code]

I have no set idea of what the ux should be like, ju

[2015-09-10 22:06] quartzmo commented on #291
Yes, regarding this request:

Unlike the typical GCloud entity (such as a Zone), which is created by a factory method that calls an `insert` API method on the service, the Record is actually more of a value object. It does not have an `id` for example, cannot be retrieved using a `get` API method, and is always managed in a ResourceRecordSet. It seems like the most user-friendly experience might b

[2015-09-10 22:18] quartzmo commented on #291
I was picturing this:

[code]

The first two parameters in the constructor, `type` and `data`, are required. The `name` and `ttl` are optional.

[2015-09-10 22:22] blowmage commented on #291
Makes sense.

My earlier point is that `zone.record` is less characters and easier to type than `Gcloud::Dns::Record.new`. So perhaps a `#record` helper method on Project and Zone would be useful.

[2015-09-10 22:26] blowmage commented on #291
BTW, I don't know if `name` and `ttl` are optional. But I also don't know that they aren't.

I'm also not good at not avoiding to not write double negatives, and i'm not not good at not following non double negatives as well.

[2015-09-11 16:18] #307 closed

[2015-09-11 17:17] quartzmo commented on #292
Regarding:

I am planning to do this via the [API method's optional params](https://developers.google.com/apis-explorer/#p/dns/v1/dns.resourceRecordSets.list) `name` **AND** `type`. But I happened to notice that the gcloud-node implementation [does its filtering client-side](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/dns/zone.js#L620-L624). @callmehiphop Do you have any bac

[2015-09-11 17:35] tattansp commented on #305
Hi @blowmage I manage to workaround with a Tempfile

		file = Tempfile.new("#{name}.png")
		file.binmode
		file.write canvas.to_blob
		file.close
                bucket.create_file file.path,  "/path/file.png", metadata: {'Content-Type'=> 'image/png'}

but now I cannot make the metadata work. I upload the image but when I go to the image link the image is downloaded to my HD, and the content type

[2015-09-11 17:36] callmehiphop commented on #292
I believe we went with client-side filtering to allow the user to provide multiple types to filter by, where as the upstream API looks like it only allows you to filter by a single type. Obviously it's not very efficient if the user only specifies a single type to filter by.. maybe @stephenplusplus can elaborate why we went this route?

[2015-09-11 17:38] quartzmo commented on #292
Supporting multiple types is exactly what @blowmage guessed. Just thought I'd ask in case there was more to the story. Thanks.

[2015-09-11 17:41] stephenplusplus commented on #292
It was this requirement that made it pretty inconvenient for a user to "just get the A records" or "mail records" etc, since all of their fully qualified domain names would be different.

[2015-09-11 17:43] quartzmo commented on #292
Thanks @stephenplusplus!

[2015-09-11 17:56] blowmage commented on #292
[code]

[2015-09-11 20:24] blowmage commented on #305
Hey @tattansp, I would be honored to help. I hope we can. I think the problem here is that the name of the file that `Tempfile.new` returns does not use the given file extension. Unfortunately, right now gcloud determines the content-type from the file extension, and we don't have a way to override it. Yet.

This means that calling `Tempfile.new "image.png"` will return a file with a name somethin

[2015-09-14 15:47] #284 closed

[2015-09-14 15:47] #285 closed

[2015-09-14 15:47] #286 closed

[2015-09-14 15:47] #287 closed

[2015-09-14 15:47] #288 closed

[2015-09-14 15:47] #289 closed

[2015-09-14 15:47] #290 closed

[2015-09-14 15:47] #291 closed

[2015-09-14 15:47] #296 closed

[2015-09-14 15:47] #297 closed

[2015-09-14 15:47] #303 closed

[2015-09-14 17:26] quartzmo commented on #300
It looks like `Zone#import` will require an external dependency for zonefile parsing, just as [gcloud-node utilizes the `dns-zonefile` lib](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/dns/zone.js#L28). I am currently evaluating [boesemar/zonefile](https://github.com/boesemar/zonefile).

[2015-09-14 17:44] blowmage commented on #300
I want to keep the dependencies to a minimum, but I agree with this approach. :+1:

[2015-09-14 19:13] quartzmo commented on #300
Unfortunately, [boesemar/zonefile](https://github.com/boesemar/zonefile) does not have a license. The readme states: "based on Simon Flack Perl library DNS::ZoneParse", for which I found this [copyright summary](https://launchpad.net/ubuntu/trusty/+source/libdns-zoneparse-perl/+copyright).

[2015-09-14 19:16] quartzmo commented on #300
Another unfortunate oversight in all three of Ruby zonefile libs that @blowmage identified is that they do not expose the "rrdata" as a single string, but instead immediately decompose it into object properties. This then requires recomposition [as done in gcloud-node](https://github.com/GoogleCloudPlatform/gcloud-node/blob/master/lib/dns/record.js#L84-L97). Not too big a deal, but unfortunate.

[2015-09-15 00:25] quartzmo commented on #295
The [Changes API documentation](https://cloud.google.com/dns/api/v1beta1/#Changes) for `v1beta1` states:

We should research/test whether this is still required for `v1`, or if perhaps the service has automated it.

This comment also applies to #293, #294.

[2015-09-16 03:40] jgeewax commented on #283
I pinged someone internally asking him to comment on the issue -- hopefully that can be our contact for DNS.

[2015-09-16 04:03] jgeewax commented on #282
Quota info is lower priority for sure, so let's keep this towards the bottom of the list.

[2015-09-16 04:24] blowmage commented on #282
Will do.

[2015-09-16 17:00] quartzmo commented on #300
@jgeewax The PR I have created for this issue adds a dependency on [boesemar/zonefile](https://github.com/boesemar/zonefile), which currently does not have a license. I have opened an issue on the project to add one.

[2015-09-17 15:42] quartzmo commented on #300
Good news, the maintainer of the zonefile lib responded to my issue by [adding the MIT license] (https://github.com/boesemar/zonefile/commit/7062c06a430c7df416f1aba72a10e95a5ed20f360).

[2015-09-17 16:47] blowmage commented on #298
@stephenplusplus @callmehiphop Hey guys, can you give us some background on the use case for `replace()` removing _all_ records by type? What user problem is it solving?

[2015-09-17 16:54] stephenplusplus commented on #298
My only direct experience with records has been pretty simplistic: updating the nameservers for my domains. When I was playing with the API while developing, I wanted to see how easy that would be, which is how I ended up with removing the records by type. Was it a bad idea?

[2015-09-17 17:48] blowmage commented on #298
No, not at all! :) We were just curious where it came from. We are thinking about an option to auto-update the SOA record when changes are made, and we were curious where `replace()` came from. In order to auto-update SOA we will need to grab all records like `replace()` does. Thanks for the info!

[2015-09-17 17:48] blowmage commented on #300
:+1:

[2015-09-18 03:02] jgeewax commented on #300
Awesome ! Great catch Mike

[2015-09-18 03:02] jgeewax commented on #300
Whoops! I meant Chris! Sorry!

[2015-09-18 03:29] quartzmo commented on #300
No prob!

[2015-09-18 04:28] JustinBeckwith opened #314 "Upgrade Datastore to use v1beta3"

[2015-09-18 18:09] blowmage commented on #314
Hey @JustinBeckwith, thanks for the issue! The Google Cloud [Datastore docs](https://cloud.google.com/datastore/docs/apis/v1beta2/datasets/lookup) are still showing `v1beta2`. Is `v1beta3` available? If not, do you know when it will be generally available?

[2015-09-18 18:21] blowmage commented on #299
I've spent some time looking at this, and I think the best signature for `Zone#remove` is to provide `name` and `type`. The record can be looked up with those two arguments and then given to `Zone#update`.

[code]

[2015-09-18 18:22] quartzmo commented on #299
Agreed! This is how Cloud DNS manages resource records.

[2015-09-18 18:26] blowmage opened #315 "Record argument priority"
The Record's `name` and `type` values combine for a unique combination in Google Cloud DNS. (AFAICT) Because of this, I think we should swap the order of the arguments when creating to reflect this.

[code]

Currently `ttl` is the second parameter and that call looks like this:

[code]

This new order should be implemented everywhere these arguments are used.

[2015-09-18 18:30] blowmage commented on #292
The `Zone#records` method as implemented now allows `name` and `type` to be passed in as optional parameters. I think these two should be promoted to named parameters to reflect their importance for querying records.

[code]

The current signature is:

[code]

[2015-09-18 18:44] blowmage commented on #298
I've spent a fair amount of time looking into managing DNS records and how Google Cloud DNS behaves. My thinking has changed from the time this issue was first created. Google Cloud DNS does not allow multiple records to exist for a `name`/`type` combination, so replace can simply take the 4 records values, check if a record already exists, and them perform the add/remove. So the method signature

[2015-09-18 18:56] blowmage opened #316 "Update TTL on all zone records"
We think that it may be useful to have a convenience method to update the TTL value on all zone records. This would effectively replace all records, so there would be an expensive operation with lots of records changed.

[code]

We consider this feature experimental or optional. This issue is here to gather feedback.

[2015-09-18 19:11] blowmage commented on #298
Our intention is to allow multiple replacement calls within a single change request using `Zone#update` when passing a block:

[code]

[2015-09-20 09:08] jgeewax commented on #314
@pcostell, can you link us to the v1beta3 docs?

[2015-09-20 18:21] pcostell commented on #314
`v1beta3` is in alpha/pre-alpha(?). The protos live here: https://github.com/google/googleapis/tree/master/google/datastore/v1beta3. I can email anyone the release docs (we are waiting until v1beta3 is available for everyone to actually stage them). Also, let me know if you need an app whitelisted for testing.

[2015-09-20 19:11] blowmage commented on #314
How long will v1beta2 be supported during the transition to v1beta3?

[2015-09-21 17:53] pcostell commented on #314
Here are the release notes: https://cloud.google.com/datastore/docs/release-notes.

We don't have any plans for the timeline for deprecating v1beta2. v1beta3 should be significantly more performant so it is probably good for users to transition as quickly as possible. Once the gcloud-* libraries move over we'll have a better sense of how long we should give people to transition.

[2015-09-21 17:56] blowmage commented on #314
Great! So if we switch now will all users be able to use v1beta3? Is it generally available? Or will they need to request access?

[2015-09-21 18:25] pcostell commented on #314
No it is not yet available. We'll update everyone as soon as it is. I can get Google developers early access, but we don't have a public early access program.

[2015-09-21 19:03] blowmage commented on #314
@pcostell Can you allow access to v1beta3 to helical-zone-771 and nodal-almanac-725?

[2015-09-21 19:08] pcostell commented on #314
You're all set.

[2015-09-21 21:37] #292 closed

[2015-09-21 21:37] #293 closed

[2015-09-21 21:37] #294 closed

[2015-09-21 21:37] #298 closed

[2015-09-21 21:37] #299 closed

[2015-09-21 21:37] #315 closed

[2015-09-21 21:38] #295 closed

[2015-09-22 15:32] #300 closed

[2015-09-22 16:54] blowmage opened #319 "DNS Modify records"
We have the ability to replace records (if they exist), but we also want to be able to modify an existing record. For instance, we want to be able to update the `ttl` without caring what `data`. Currently, we need to do something like this:

[code]

We would prefer it be this instead:

[code]

[2015-09-22 17:42] quartzmo commented on #301
I'm debating whether or not to sort the Records before exporting. Most importantly, this sort would put the SOA record at the top. The gcloud command-line tool's [dns record-sets export](https://cloud.google.com/sdk/gcloud/reference/dns/record-sets/export) command does *not* appear to perform a sort. Here is its output:

[code]

[2015-09-22 17:45] blowmage commented on #301
I don't have many thoughts on how the exported zone file should look. I'll think on it. I kinda assumed it would be grouped by record types, then sorted by domain names.

[2015-09-22 18:10] quartzmo opened #320 "Update SOA serial with each change"
The SOA record serial number must be incremented for every recordset change. The gcloud command-line tool automates this as shown in the generated transaction below, in which `0` is incremented to `1`.

[code]

Cloud DNS uses a simple integer serial number, but it is possible to use a date format, as described in [this article](http://www.zytrax.com/books/dns/ch8/soa.html). The complete story of s

[2015-09-22 19:10] blowmage commented on #320
@jgeewax Thoughts on this type of functionality? We think this is something that would be really helpful.

[2015-09-23 15:18] quartzmo commented on #320
I'm going to go ahead and add this feature today. Its inclusion in the command-line tool is strong evidence of its value.

[2015-09-24 20:54] #320 closed

[2015-09-24 20:56] #301 closed

[2015-09-24 20:57] quartzmo commented on #319
Closed by PR #321

[2015-09-24 20:57] #319 closed

[2015-09-24 20:58] quartzmo commented on #301
Closed by PR #322

[2015-09-24 20:59] quartzmo commented on #320
Closed by PR #323.

[2015-09-25 13:57] vitaliel opened #326 "BigQuery: Table copy is not working if destination table does not exist"
Samples from the docs: http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Bigquery/Table.html#method-i-copy

[code]
/Users/lz/.rvm/gems/ruby-2.2.2@bq_uploader/gems/gcloud-0.3.0/lib/gcloud/bigquery/table.rb:428:in `copy': undefined method `gapi' for "logging.logs_week_test":String (NoMethodError)

If I uncomment line 2 and use that variable I get
/Users/lz/.rvm/gems/ruby-2.2.2@bq_u

[2015-09-25 14:01] quartzmo commented on #326
Thanks for reporting this @vitaliel. We will investigate it today.

[2015-09-25 14:37] blowmage commented on #326
Hi @vitaliel, the ability to reference a table as a string was added to version 0.3.1, but the error line you shared confirms you are using 0.3.0. Can you try upgrading to 0.3.1 and see if that fixes this?

As for the second error you get when you uncomment line 2. That looks to be because the table "logs_week" doesn't exist yet. To send in a table object you will need to make sure the variable is

[2015-09-25 15:59] quartzmo commented on #326
I would be happy to try to improve the error messages today, @blowmage.

[2015-09-25 16:01] blowmage commented on #326
Okay, gcloud could use some better messaging when methods are given a nil object for sure.

[2015-09-25 16:17] quartzmo opened #327 "Add DNS module documentation"
The PR for this issue can also include any fixes or enhancements needed for DNS docs in general.

[2015-09-25 16:31] blowmage commented on #316
@quartzmo Thoughts on this?

[2015-09-25 16:33] quartzmo commented on #316
Let's remove it from 0.4.0; but keep it open, as you originally stated, to gather feedback.

[2015-09-25 21:57] quartzmo opened #330 "Zone#import record merge is too early, adds records with same name and type"
The introduction of the Fully Qualified Domain Names feature (PR #324) exposed a critical flaw in the [record merging behavior](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/dns/importer.rb#L89-L103) of Gcloud::Dns::Importer. The merge needs to occur *after* record names have been converted to their fully-qualified form.

[2015-09-25 23:40] quartzmo commented on #330
Turned out the issue is a bit more subtle: The fix is to set the record name to the current zone file origin if it is `@`. Simple enough, but overlooked.

[2015-09-26 15:49] vitaliel commented on #326
With 0.3.1 I get below error:
[code]

/Users/lz/.rvm/gems/ruby-2.2.2@bq_uploader/gems/gcloud-0.3.1/lib/gcloud/bigquery/table.rb:520:in `copy': Required parameter is missing (Gcloud::Bigquery::ApiError)

[2015-09-26 15:54] vitaliel commented on #326
It worked if I put project_id in destination_table:
[code]

Maybe we need to add documentation that for copy operation project id is required.

[2015-09-26 18:15] quartzmo commented on #326
Thanks @vitaliel, this is very helpful! We will need to handle the case in which `table_id` and `dataset_id` are specified, but not `project_id`.

[2015-09-26 18:46] blowmage commented on #326
The `project_id` is required for the API call to BigQuery, but the source table's `project_id` and `dataset_id` values _should_ be used when they are missing from the destination table string. Hmmm...

Thanks for your continued help. We'll get this fixed ASAP.

[2015-09-28 15:01] blowmage commented on #326
I was able to recreate this. We will get a fix posted soon. Thanks again for your help and letting us know about this.

FWIW, the intention here is that if you are copying _within_ the same project and dataset you _should_ be able to only specify the table name in the string. But as you said you can specify the entire table string to workaround this bug for now.

[2015-09-28 15:26] #326 closed

[2015-09-28 15:31] blowmage commented on #326
@vitaliel The fix for this has been merged into master. If you are using bundler you can change your dependency to this git repo. Otherwise, we will get this included in the release scheduled for this week.

[2015-09-28 16:13] #330 closed

[2015-09-28 17:53] #302 closed

[2015-09-28 19:41] quartzmo commented on #282
gcloud python is loading the DNS quotas: https://googlecloudplatform.github.io/gcloud-python/latest/dns-usage.html#project-quotas

[2015-09-28 19:44] blowmage commented on #282
That makes me think we should have it then.

[2015-09-28 23:57] #327 closed

[2015-09-29 18:49] blowmage opened #339 "Final review of DNS API by Google Cloud DNS team"
We need someone from the Google Cloud DNS team to perform a review of the DNS implementation in gcloud-ruby. The documentation is [available here](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Dns.html).

[2015-09-29 18:52] blowmage commented on #339
@balajisam Is this something you can help us with?

[2015-09-29 18:52] jgeewax commented on #339
/cc @balajisam -- any chance you can take a look and tell us if anything's completely backwards?

@blowmage : Can you point him at the docs to review?

I'm going to set a 1-week timer, so if we don't hear anything, let's ship Oct 6.

[2015-09-30 16:05] quartzmo opened #341 "Should we publish a separate module (gem) for each Google Cloud service?"
This is the gcloud-ruby specific discussion of the broader conversation in gcloud-common, [#30, Should separate APIs be separately installable?](https://github.com/GoogleCloudPlatform/gcloud-common/issues/30). See also @jgeewax's [comment in gcloud-node #91](https://github.com/GoogleCloudPlatform/gcloud-node/issues/91#issuecomment-138522547).

[2015-09-30 16:28] blowmage commented on #341
This has been discussed before and the current monolithic direction was chosen.

My opinion is that they should be separate. We can manage versions independently, and release hotfixes for one service gem without requiring the other service gems to be updated. I think we should follow what rspec does and have the main gcloud gem have dependencies on all the service gems. And we should have a gcloud

[2015-09-30 16:33] blowmage commented on #341
![monolith](https://cloud.githubusercontent.com/assets/730/10199595/b46889e8-675e-11e5-9cd9-f859440d3449.png)

[2015-09-30 17:32] quartzmo commented on #283
Closed by PR #338

[2015-09-30 17:32] #283 closed

[2015-09-30 17:33] quartzmo commented on #282
Closed by PR #338

[2015-09-30 17:33] #282 closed

[2015-09-30 17:55] blowmage opened #342 "List Projects"
Include the ability to filter the projects [by criteria](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter) and paginate.

- [x] Allow searching for all projects:

[code]

- [x] Allow pagination on projects:

[code]

- [x] Allow search on projects:

[code]

[2015-09-30 17:55] blowmage opened #343 "Retrieve Project by project_id"
- [x] Allow retrieval of project by `project_id`:

[code]

[2015-09-30 17:57] blowmage opened #344 "Create New Project"
[code]

The signature for the method is `Manager#create_project(project_id, name, labels)`

[2015-09-30 17:58] blowmage opened #345 "Delete a Project"
- [x] Call delete on a project object:

[code]

- [x] Call delete with only a `project_id`:

[code]

[2015-09-30 17:59] blowmage opened #346 "Undelete Project"
- [x] Call undelete on a project object:

[code]

- [x] Call undelete with only a `project_id`:

[code]

[2015-09-30 18:04] blowmage opened #347 "Project Attributes"
Represent project_id, project_number, name, labels, state, created_at on a project. Allow name and labels to be updated.

[code]

[2015-09-30 18:08] blowmage opened #348 "Project Update"
Allow project attributes to be updated in a single API call by calling `update` with a block:

[code]

[2015-09-30 18:10] blowmage opened #349 "Project state helpers"
Add helpers for determining the state of a project:

[code]

[2015-09-30 18:13] blowmage opened #350 "Project Reload"
Allow a project to be reloaded. Useful for checking for state changes:

[code]

[2015-09-30 18:18] blowmage commented on #350
What happens if you call `reload!` on a project object that was deleted? The API will return a 404. Does `reload!` raise? Is there are 5th state for `deleted?`? Hmm....

[2015-09-30 18:50] blowmage opened #351 "Bad example code"
The `Gcloud.dns` public class method [docs](http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud.html#method-c-dns) are showing the `Gcloud#dns` public instance method. The example should be updated to show the correct usage.

[code]

[2015-09-30 20:37] #351 closed

[2015-09-30 21:55] quartzmo commented on #274
The update issue mentioned above is Issue #279.

[2015-10-01 14:26] blowmage opened #360 "Final review of Resource Manager API by Google Cloud team"
We need someone from the Google Cloud Resource Manager team to perform a review of the Resource Manager implementation in gcloud-ruby.

* [Code](https://github.com/GoogleCloudPlatform/gcloud-ruby/tree/resource-manager)
* [Documentation](http://blowmage.com/gcloud-ruby/docs/master/Gcloud/ResourceManager.html)

[2015-10-01 14:28] blowmage commented on #360
@jgeewax Do you know anyone from the Resource Manager team who can review the ruby implementation?

[2015-10-01 16:15] jgeewax commented on #344
What does the `env` do? Just curious. We don't have that (AFAIK) in the other implementations.

[2015-10-01 16:16] jgeewax commented on #345
Does `.project` make an API call or is it just a factory for a Project object?

[2015-10-01 16:17] jgeewax commented on #350
I have an open request to have the `delete` API request return the updated project resource, so that the `reload` call shouldn't be required. If that happens, does that change anything here?

[2015-10-01 16:40] quartzmo commented on #344
I see `environment` as an example for the `labels` map  in the docs, but that's all. https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects#Project

[2015-10-01 16:41] jgeewax commented on #344
Got it -- those are the labels. Wasn't super clear reading the example --
didn't see the word "labels" anywhere. :-X

[2015-10-01 16:55] quartzmo opened #361 "Should we rename DNS Resource to ResourceSet?"
When we started work on DNS, we did not fully understand how the service aggregates traditional zone file resource records (RRs - as defined in RFC 1035 and RFC 1034) by `name` and `type`, as `rrdatas` in [ResourceRecordSet](https://cloud.google.com/dns/api/v1/resourceRecordSets) resources. Because of this, we named our class [`Record`](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/maste

[2015-10-01 16:59] quartzmo commented on #361
@jgeewax I would love to get your opinion on 1) If you think this is actually helpful, and if so, 2) what sort of priority we should give this. In my experience this type of refactoring involves a lot of code changes, but goes quickly and is best done soon.

[2015-10-01 17:43] blowmage commented on #344
Yeah, it is the labels. I created these issues in a hurry. I'll try to update them with more info.

[2015-10-01 17:44] blowmage commented on #345
It makes an API call. We will have a delete on Manager that takes just the project_id. Similar to Manager#undelete.

[2015-10-01 17:47] blowmage commented on #350
No, we will handle that just fine with the API we've decided on. Will undelete also return a project resource?

[2015-10-01 17:48] blowmage commented on #361
I'm :-1: on this. I like the name. Simpler is better.

[2015-10-01 18:37] quartzmo commented on #272
The getter will have a `?`: `bucket.versioning? #=> false`

[2015-10-01 21:27] blowmage opened #362 "Resource Manager Acceptance Tests"
We would like to have acceptance tests, but service accounts don't have permissions to access most of the Resource Manager API. This issue is a placeholder for these tests.

See https://github.com/GoogleCloudPlatform/gcloud-python/issues/1105#issuecomment-135467296 and https://github.com/GoogleCloudPlatform/gcloud-node/issues/851#issuecomment-140620629

[2015-10-01 22:03] blowmage commented on #272
IMO it would be good for the getter to be without the `?`, and have an alias with the `?`.

[2015-10-01 22:04] blowmage commented on #342
I promoted the filter option to a named parameter, so you can instead do this:

[code]

[2015-10-01 22:06] jgeewax commented on #342
What if I have a list of labels as a hash that I built up somewhere. Now I have to prepend "labels." to each key in the hash? That seems like a bummer... right?

[2015-10-01 22:12] blowmage commented on #342
That's the syntax for the [filter option from the list API](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter). You can also filter on `id` and `name`.

What syntax would you prefer to see?

[2015-10-01 22:15] jgeewax commented on #342
I don't think this is necessarily bad (it's what we do in Python for example).

I think it might be cool if eventually we could handle "labels" as a nested hash ... but no idea if that's a good idea...

[2015-10-01 22:19] blowmage commented on #342
_nods_

I agree something better would be good, but I also don't know what it could be. :)

I've been moving fast on getting RM stubbed out, but I expect we will have some time to give it some TLC after.

[2015-10-01 22:20] jgeewax commented on #342
Totally.

Ok, move along, nothing to see here ;)

[2015-10-01 22:23] blowmage opened #363 "Improved Filter Syntax"
It would be super cool to have a better way to express the filter criteria rather than the [filter syntax supported by the API](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter). We don't know what that syntax looks like, but it would be super cool.

See https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/342#issuecomment-144862909

[2015-10-01 22:30] jgeewax commented on #350
That's the request -- we'll see whether they actually do it....

[2015-10-01 22:50] blowmage commented on #350
I haven't been able to get permissions to actually create/update/delete projects, so I am having a really hard time figuring out what the API behavior is. I am unsure if the state is updated immediately after calling `delete`/`undelete`. If it is I think the project object should call `reload!` when calling `delete`/`undelete` to mimic the requested behavior. (We'd simply remove the `reload!` call

[2015-10-01 22:52] jgeewax commented on #350
Woah -- meaning... you haven't tested the code against prod?

You should be able to use `gcloud auth login` and do all of these things (CRUD projects) with the oauth2 token that gets generated there. No?

[2015-10-01 22:54] blowmage commented on #350
I have created my user credentials using `gcloud auth login` and can list all the projects I have permissions to. But I cannot make changes or create new projects. The error I get is `The caller does not have permission`. Even on projects I create from the web UI.

[2015-10-01 22:55] blowmage opened #364 "Call `reload!` after deleting/undeleting a project"
A project object should reload itself when calls to delete or undelete are successful.

See https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/350#issuecomment-144866580

[2015-10-01 22:56] jgeewax commented on #350
So you can't create projects on cloud.google.com ? That's.... Weird.

[2015-10-01 23:00] blowmage commented on #350
Sorry, that was confusing. I can create projects on the web UI, but I can't update those projects from gcloud-ruby.

[2015-10-02 16:46] quartzmo commented on #344
It's just my opinion, but I think that for the "least surprise" we should stick to the convention so common in this library: a final `options` hash parameter.

[code]

I do realize that the only option right now is `labels`. In isolation this may seem wrong, but in the context of the whole library, the benefits from consistency should be worth the tradeoff.

[2015-10-02 16:49] jgeewax commented on #344
I'm +1 to @quartzmo

[2015-10-02 17:06] blowmage commented on #344
Updated.

[2015-10-02 17:08] blowmage commented on #344
The example is now:

[code]

[2015-10-02 17:09] quartzmo commented on #344
`filter`? How about `labels`?

[2015-10-02 17:10] blowmage commented on #344
Typo, comment was updated 1 second after posting.

[2015-10-02 17:15] quartzmo commented on #344
Since the second parameter, `name`, is [also listed as optional in the rest API docs](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects#Project), can it be changed to an `options` param as well?

[2015-10-02 17:24] blowmage commented on #344
Updated again. The signature for the method is now `Manager#create_project(project_id, options)`

[code]

[2015-10-02 17:26] jgeewax commented on #364
Is there a way to stop this from happening? Aka, fire and forget?

[2015-10-02 17:29] blowmage commented on #364
Yes. You can call `Manager#delete` and `Manager#undelete`.

[code]

[code]

[2015-10-02 17:51] quartzmo commented on #342
Again for reasons of consistency, as with `name` and `labels` in #344, maybe the `filter` parameter should have been left an `options` param, as in the original example?

This is how it is done in [Bigquery::Project#jobs](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/bigquery/project.rb#L510):

[code]

[2015-10-02 17:54] blowmage commented on #342
@jgeewax Thoughts? FWIW I am opposed to reverting 485e6c6f02d71527ec1763669620e0a6b631d361, so we need a tie breaker.

[2015-10-02 18:06] quartzmo commented on #342
In case it sways anyone: https://robots.thoughtbot.com/ruby-2-keyword-arguments#keyword-arguments-vs-positional-arguments

[2015-10-02 18:09] blowmage commented on #342
In ruby 2.0+ a method can have both positional and named arguments. Its no different than what we are doing with the options hash today.

[2015-10-02 18:21] blowmage opened #365 "Verify filter prefix for labels"
The [official docs](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter) show the example `labels.color:red label.size:big`. Verify that projects can be filtered by both `labels` and `label`. If not, fix the docs on gcloud-ruby and submit a doc fix to the Google Cloud docs.

[2015-10-02 18:28] blowmage commented on #365
I've verified that `label` is not supported by the filter option. Correcting the ruby docs now.

@jgeewax How do we submit an issue on the [official docs](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter) to get this corrected?

[2015-10-02 20:03] jgeewax commented on #342
I'm not sure who I'm siding with here, but I think the following is more clear to me as an outsider:

[code]

(https://github.com/GoogleCloudPlatform/gcloud-ruby/commit/485e6c6f02d71527ec1763669620e0a6b631d361#diff-62fdafe487a3890dedaf56be4d01b329L102)

What's unclear to me in that syntax is how I filter with multiple labels... and I'm no Ruby expert, but I'd expect the map to be an actual map, no

[2015-10-02 20:05] jgeewax commented on #365
There should be a button somewhere on the page.... ?

[2015-10-02 20:14] quartzmo commented on #342
@jgeewax The rest API docs [give an example](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter), as Mike noted above: `labels.color:red label.size:big` (Note that the example contains a typo, `label.size` should be `labels.size`.)

BUT I do agree that a [query by example]() approach would be much nicer. I think the only question is how to q

[2015-10-02 20:50] blowmage commented on #342
I've reverted 485e6c6. Let's move the discussion for improving the filter to #363.

[2015-10-02 20:51] blowmage commented on #363
in https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/342#issuecomment-145141655 @jgeewax said:

[code]

[2015-10-02 20:54] blowmage commented on #363
According to the [documentation](https://cloud.google.com/resource-manager/reference/rest/v1beta1/projects/list#body.QUERY_PARAMETERS.filter), multiple expressions are AND. There doesn't seem to be any support for OR.

[2015-10-02 21:04] blowmage commented on #363
The above example:

[code]

would have to become:

[code]

would be equivalent to:

[code]

[2015-10-02 21:16] blowmage commented on #363
One thing I noticed is you can't do a partial match. I kinda hoped that you could find all projects with "gcloud" in the name with the following:

[code]

But that sadly does not work. The filter needs to be an exact match, albeit case-insensitive. Because of this, you wont filter by `labels`, and `name` or `id`. In fact, of the 3, only `labels` would have multiple criteria being other labels. So,

[2015-10-02 21:29] blowmage commented on #363
BTW, I have yet to figure out how to filter on a name with spaces in it.

[code]

[2015-10-03 18:57] jgeewax commented on #350
Is it an issue with your code (and the token?) or an issue with the API?

On Thu, Oct 1, 2015 at 7:00 PM, Mike Moore <notifications@github.com> wrote:

[2015-10-03 18:59] quartzmo commented on #365
I can't find one. But there is a rating widget with stars in the upper right corner!

[2015-10-03 18:59] blowmage commented on #350
AFAICT it's an issue with my permissions. I don't believe it's a problem with the code or the API.

[2015-10-03 19:01] jgeewax commented on #350
The API isn't a whitelisted situation at all. Are you able to do it with gcloud-python (or -node)?

[2015-10-03 19:17] blowmage commented on #350
That was my next step. I ran out of time yesterday. I'll try to do that this weekend or on Monday.

[2015-10-04 14:46] #342 closed

[2015-10-04 14:46] #343 closed

[2015-10-04 14:46] #344 closed

[2015-10-04 14:46] #345 closed

[2015-10-04 14:46] #346 closed

[2015-10-04 14:46] #347 closed

[2015-10-04 14:46] #348 closed

[2015-10-04 14:46] #349 closed

[2015-10-04 14:46] #350 closed

[2015-10-04 14:46] #364 closed

[2015-10-05 14:43] blowmage commented on #350
@jgeewax said:

Are you sure? The [official docs](https://cloud.google.com/resource-manager/) says "To access this API, contact either your account manager or our sales team." And I've found [this issue comment](https://code.google.com/p/google-bigquery/issues/detail?id=285#c2) that says that Resource Manager _is_ whitelisted. Right now my account not being whitelisted makes the most sense.

I've

[2015-10-05 14:47] jgeewax commented on #350
Fair point -- I'll ping someone to get you whitelisted...

[2015-10-05 14:49] blowmage commented on #350
Thanks!

[2015-10-05 15:15] quartzmo commented on #350
@jgeewax Me too, please!

[2015-10-05 17:46] balajisam commented on #339
I have looked at the doc's and they are fine. I haven't had a chance to
test myself, however will do it shortly.

If I have to provide comments/ or edit myself in future, what's the
workable way?

On Tue, Sep 29, 2015 at 11:52 AM, JJ Geewax <notifications@github.com>
wrote: