[2016-05-10 16:34] jgeewax commented on #682
Also - if we have to choose between allowing the `translate "word1", "word2", to: "fr"` or not requiring the splat, I vote for the non-splatting version.

I expect that the number of people hard-coding stuff in that call is far lower than the number of people who have an array of things that need translating...

[2016-05-10 16:39] blowmage commented on #682
We don't have to choose. Ruby supports splat arguments and optional arguments on the same method.

[2016-05-10 16:54] #682 closed

[2016-05-11 17:34] #314 closed

[2016-05-11 17:34] #604 closed

[2016-05-11 17:34] #615 closed

[2016-05-11 17:34] #648 closed

[2016-05-11 17:34] #676 closed

[2016-05-11 19:49] #601 closed

[2016-05-12 05:48] timanovsky opened #687 "Datastore question: how to get estimation of on-the-wire packet size?"
As you know each operation is limited to 10MB on the wire. I want to pack as many entities into single batch insert as possible but with 100% guarantee it fits into the limit. In *v1beta2* I used the the following workaround: `entity.to_proto.encode.length` which worked fine and I have never seen size limit errors. Now with *v1beta3* this hack does not work, and I'm not sure how to get correct est

[2016-05-12 06:05] timanovsky commented on #687
Worked around again by `entity.to_grpc.to_proto.length` But would be good to have public API

[2016-05-12 07:08] timanovsky opened #688 "Datastore: hangs instead of throwing exception"
Two example:

1) when I set `DATASTORE_EMULATOR_HOST` to "http://127.0.0.1:3001" as it was with `DATASTORE_HOST`, and invokead datastore operation I've got the following message in terminal
[code]
After which ruby process just hanged and could not be interrupted by Ctrl-C, only `kill -9` did the job

2) When I fixed  `DATASTORE_EMULATOR_HOST` to "127.0.0.1:3001" but did not start the actual emulat

[2016-05-12 07:13] timanovsky opened #689 "Datastore does not talk to emulator"
I'm having a bad luck with new release and emulator. After starting actual emulator (see my previous attempts #688) and invoking datastore query I'm getting the following exception:

[code]

[2016-05-12 07:46] timanovsky opened #690 "Datastore feature request: implement Enumerator interface in QueryResults"
Something like `QueryResults.to_enum` should return enumerator with lazy page loading contrary to `.all` eager loading.

[2016-05-12 11:06] timanovsky opened #691 "Datastore: does not work inside Puma webserver"
Would be good to receive independent confirmation, but from what I can tell is that Datastore queries hang if run inside Puma webserver. Same query runs fine from `rails console` process. Worker processes running other queries/inserts also look to be running ok. All environment is the same.

Web process  just hangs when calling `dataset.run(query)`

[2016-05-12 11:36] timanovsky commented on #691
Actually same Puma server runs fine on localhost. The problem only manifests on Heroku and v1beta3 API. Weird

[2016-05-12 12:38] bmclean commented on #688
@timanovsky What if you try localhost without the http:// like this?
`ENV['DATASTORE_EMULATOR_HOST'] = 'localhost:3001'`

[2016-05-12 13:05] blowmage commented on #688
Are you running the `gcd.sh` grpc emulator [linked to in the docs](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.9.0/gcloud/datastore)? Or are you running the emulator by using `$ gcloud beta emulators start`?

[2016-05-12 14:24] bmclean commented on #688
@blowmage I am able to see the same thing using the new gcd.sh grpc emulator. If I initialize my cloud datastore dataset like this:
`ENV['DATASTORE_EMULATOR_HOST'] = 'http://localhost:8180'`
The first time I interact with the gcd emulator I receive the following:
`E0512 08:14:03.713381000 123145316659200 resolve_address_posix.c:126] getaddrinfo: nodename nor servname provided, or not known`
and I

[2016-05-12 14:48] blowmage commented on #687
I think that this is a great feature. It is obviously important for folks trying to maximize the effectiveness of their calls to Datastore. We will add a method to the public API to get you this data.

[2016-05-12 15:10] blowmage commented on #688
We have verified that setting the host to an invalid value will hang the ruby client. This is an upstream issue and have opened grpc/grpc#6559 for it.

When starting the emulator you are given the following message:

[code]

It is important to properly set the environment variable name and value to get the integration to work.

[2016-05-12 15:12] blowmage commented on #689
@timanovsky Are you running the `gcd.sh` grpc emulator [linked to in the docs](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.9.0/gcloud/datastore)? Or are you running the emulator by using `$ gcloud beta emulators start`?

[2016-05-12 15:27] blowmage commented on #690
I 100% agree. I had a spike that implemented this many moons ago, but it was before gcloud-ruby dropped 1.9 support. Now that gcloud-ruby only supports 2.0+ we can safely add this. When we do we will add this to all result objects, across all services.

Also, the method `QueryResults#to_enum` already exists. The object is a delegate to an array, and you can already enumerate over the page of resul

[2016-05-12 15:31] blowmage commented on #691
@timanovsky I don't know what this is about. I'll investigate. What size are your dynos? How many threads are you running on each one? How many dynos are you running?

[2016-05-12 15:51] timanovsky commented on #691
This is scary: https://github.com/grpc/grpc/issues/6278

[2016-05-12 16:16] blowmage commented on #691
@timanovsky Is there anything interesting in the logs before the process hangs? Feel free to email me a private gist if you don't want to share publicly.

[2016-05-12 16:21] timanovsky commented on #688
@blowmage I missed that part about `gcd.sh`, I was using `beta emulators`. So the second part of the ticket is probably not relevant

[2016-05-12 16:24] timanovsky commented on #689
@blowmage I missed that part about `gcd.sh`, I was using `beta emulators`. So the second part of the ticket is probably not relevant

[2016-05-12 16:24] #689 closed

[2016-05-12 16:31] blowmage commented on #688
@timanovsky Okay. For the first part of the issue you should set the environment variable to the value the emulator provides. If you do that you should have no problems.

I'm going to close this issue. The issue filed against GRPC remains still open, and hopefully we see the GRPC client stop hanging when set with an invalid host soon.

[2016-05-12 16:31] #688 closed

[2016-05-12 16:34] timanovsky commented on #688
What about second part? If host is not there it also hangs. This may happen
in real set up to due to network problems. (Sorry, at the moment I don't
have time to simulate this)

Best regards,
Alexey Timanovsky.

On 12 May 2016 at 19:31, Mike Moore <notifications@github.com> wrote:

[2016-05-12 16:40] blowmage commented on #688
In both cases the host provided was invalid. When you provide a valid host (pointing to a working service) the emulator connectivity works. The hanging on an invalid host is an upstream issue with GRPC and there isn't much gcloud-ruby can do about it other than raise the issue to them, which we have done.

[2016-05-12 18:12] bmclean commented on #691
@blowmage Unfortunately I can reproduce this as well on 1 standard professional dyno.

Puma config:
threads_count = 5
workers = 2
preload_app!

Heroku logs:
2016-05-12T18:04:40.011516+00:00 heroku[router]: at=error code=H12 desc="Request timeout" method=GET path="/" request_id=ff9a7f0a-2202-49b3-8f56-376be41623f1 fwd="198.169.134.185" dyno=web.1 connect=20ms service=30000ms status=503 bytes=0
2016

[2016-05-12 18:50] blowmage commented on #691
@murgatroid99 @nicolasnoble Sorry to pull you guys in on this, but do you have any insight on why the GRPC client would hang on Heroku?

[2016-05-12 21:18] murgatroid99 commented on #691
I don't recognize this specific problem. It would help to have more information. If you run with the environment variable `GRPC_TRACE=all`, it will output a bunch of log information that might contain something useful (make sure to remove private information).

The problem could be a bug in the gRPC client, or it could be that the server is not responding properly.

[2016-05-12 22:21] bmclean commented on #691
I added the environment variable `GRPC_TRACE=all` and the output is captured [here](https://gist.github.com/bmclean/fedc6a5589ce714bd744694ed2ea7e54).

[2016-05-12 23:08] murgatroid99 commented on #691
What I see happening in that log is: grpc connects to the server, completes a TLS handshake, and starts initializing an HTTP2 stream. And then it suddenly stops, and ~20 seconds later, Heroku kills it. Unfortunately, I don't recognize that failure case.

Can you open a bug against grpc (https://github.com/grpc/grpc) including that trace and a description of how you encountered the error?

[2016-05-12 23:14] blowmage commented on #691
Thanks for your help @murgatroid99!

[2016-05-13 00:06] vyper commented on #656
@blowmage how I can use this? I not found! ):

![screen shot 2016-05-12 at 21 05 35](https://cloud.githubusercontent.com/assets/22549/15234176/586b6cae-1885-11e6-8968-1bce81268e09.png)

[2016-05-13 00:50] vyper opened #694 "Order by __key__ desc its broken"
[code]

In old version (0.8.2) this code was worked.

[2016-05-13 01:46] bmclean commented on #691
OK, will do. @blowmage the gcloud-ruby gcloud.gemspec lists `"grpc", "~> 0.13.1"`. It looks like the current version is 0.14.1. Any chance this has already been fixed?

[2016-05-13 01:46] blowmage commented on #694
Hi @vyper. Unfortunately this doesn't look like an issue in gcloud-ruby, this is behavior the of Datastore v1beta3. To illustrate, I will run a GQL query in the [Google Cloud console](https://console.cloud.google.com/datastore/entities/query/gql):

Here is the query without specifying `ASC` or `DESC`:

![sort](https://cloud.githubusercontent.com/assets/730/15235578/cf9807da-1879-11e6-928d-5f33d261

[2016-05-13 01:50] blowmage commented on #691
@bmclean We'd like to bump the dependency, but we have an [open issue](https://github.com/grpc/grpc/issues/6571) that is blocking us from doing that.

[2016-05-13 02:48] bmclean commented on #694
@blowmage I think this is expected behaviour. Cloud Datastore has always required indexes for queries with a sort order on keys in descending order. It is documented [here](https://cloud.google.com/datastore/docs/concepts/indexes#index_configuration).

[2016-05-13 02:59] blowmage commented on #694
Thanks for the link!

[2016-05-13 03:11] bmclean commented on #691
@timanovsky Are you able to connect to an actual datastore while running Puma locally?

[2016-05-13 04:02] timanovsky commented on #691
Yes, from local puma with same settings it works. This is Linux VM though.
On 13 May 2016 6:11 am, "Bryce McLean" <notifications@github.com> wrote:

[2016-05-13 05:19] timanovsky commented on #691
Btw those `got goaway` log messages are pretty frequent even in normally working processes (local, or non-puma).

[2016-05-13 11:51] vyper commented on #694
Thank for help! (:

[2016-05-13 11:51] #694 closed

[2016-05-13 12:13] jgeewax commented on #656
Do we use the Datastore Key proto? If so, this should just be the base-64 encoded serialized representation of the Key....

[2016-05-13 12:16] vyper commented on #656
To find without know how key is composite!

[2016-05-13 12:46] blowmage commented on #656
@jgeewax I can't find any protobuf definition for ndb Key, and I don't read the encoding well enough to know how to decode it. Any info you could pass our way is appreciated.

[2016-05-13 12:50] jgeewax commented on #656
Sorry, to be more clear: we populate a Ruby protobuf object (a Datastore
"Key"), right? And serialize that to binary before sending it over the wire
to the v1beta3 API endpoint?

If you pipe that serialized binary through a Base64 encoder (instead of
sending it over the wire), the output should be the key format people are
talking about.

[2016-05-13 13:38] blowmage commented on #656
That will only work if the proto definitions of Datastore Key and NDB Key are the same, which they don't appear to be. To illustrate:

[code]

[2016-05-13 13:52] jgeewax commented on #656
Is that key actually valid? It doesn't check out on http://datastore-key.appspot.com/ ...

[2016-05-13 14:18] blowmage commented on #656
The urlsafe string you provided does not decode as a v1beta3 key.

[code]

It also does not decode as a Google Protobuf Any:

[code]

[2016-05-13 14:27] blowmage commented on #656
If you look at the bytes of the urlsafe you provided, they look like this:

[code]

If you look at the bytes of the proto generated by v1beta3 they look similar, but are still different:

[code]

[2016-05-13 14:35] jgeewax commented on #656
Right... I think we're dealing with different protos here. In Python we have the old "Reference" proto (https://code.google.com/p/googleappengine/source/browse/trunk/python/google/appengine/datastore/entity_pb.py#1701) which works as expected (in Python at least):

[code]

Which spits out: `app: "s~bustling-kayak-91516" path { Element { type: "Person" name: "name" } }`

@pcostell : How do we deal

[2016-05-13 14:44] pcostell commented on #656
We are working on defining a new serialized format which is proto version agnostic. I definitely don't think we should try to use the old one we used in App Engine. I'll work on getting that language fixed in the console.

[2016-05-13 14:45] pcostell commented on #656
/cc @Alfus @dmcgrath

[2016-05-13 14:54] blowmage commented on #656
@pcostell Glad to hear there is a new serialization format coming!

This issue is specifically to support the old App Engine `urlsafe` strings. I can imaging that maintaining existing URLs is important for folks attempting to move apps from App Engine to ruby. I personally don't think this belongs in glcoud-ruby, but I can see having this functionality in an extension library. That said, we really

[2016-05-13 15:02] pcostell commented on #656
This isn't really possibly. Even if you have the proto format, you don't have the application id (as opposed to the project is). I'd rather backport the format into app engine libraries if we need to support a seamless migration from GAE to ruby. At this point, the urlsafe keys are just a format used in 2 libraries, and not a Cloud Datastore-wide feature.

[2016-05-13 15:06] blowmage commented on #656
@pcostell Thank you for the clarification! That jives with my understanding. @jgeewax, what do you think?

[2016-05-13 16:07] bmclean commented on #691
I am also able to reproduce the hang using the phusion passenger web server on Heroku. However, deploying to Heroku using WEBrick works. Obviously this isn't a production solution but perhaps it can give us a little more information.

[2016-05-13 16:23] dmcgrath commented on #656
I agree with Patrick.

[2016-05-13 16:30] bmclean commented on #691
Issue has been created against grpc [grpc/grpc#6577](https://github.com/grpc/grpc/issues/6577)

[2016-05-13 17:22] timanovsky commented on #691
@bmclean Thanks for your tests, glad problem confirmed and easily reproducible.

[2016-05-16 15:30] blowmage opened #695 "Rename Analysis to Annotation"

[2016-05-19 04:58] blowmage commented on #691
So I've been experimenting with running the GRPC client in a threaded environment. My guess is before the threaded webserver hangs (Puma, Passenger, etc.) you see the following message printed to stdout:

[code]

I've looked into this and it basically boils down to the GRPC client not handling more than 6 threads. My guess is that you are using more than 6 threads in your production environment. T

[2016-05-19 05:11] timanovsky commented on #691
Does not look like my case. I'm using the same connection pool code
(connection_pool gem) on both worker dynos which work fine and web dynos
which hangs.  Each thread gets its own connection. Also I couldn't find D0518
message in the logs.

Best regards,
Alexey Timanovsky.

On 19 May 2016 at 07:58, Mike Moore <notifications@github.com> wrote:

[2016-05-19 05:35] blowmage commented on #691
How many threads are you running on your worker dynos and your web dynos?

[2016-05-19 06:06] murgatroid99 commented on #691
That `Too many outstanding grpc_completion_queue_pluck calls` message isn't related to the number of threads. That's related to a bug that should have been fixed in the most recent release that's related to the internal structure of the library.

If you look at the most recent updates on that grpc issue linked above, it looks like the root cause of this problem is eagerly loading the grpc library

[2016-05-19 08:59] timanovsky commented on #691
I was running configurations with up to 20 threads, but not sure what
number of connection did they checkout out of the pool at any given time.
May be less than 6. And also web dynow which do have problems, they are
single thread on Heroku (but multiple forked processes)

Best regards,
Alexey Timanovsky.

On 19 May 2016 at 08:35, Mike Moore <notifications@github.com> wrote:

[2016-05-19 12:52] gramos74 commented on #570
With the workaround proposed above the upload worked fine until today. Today I have some huge files (2.1 Gb) to be uploaded and the upload process failed: "integer 2245126166 too big to convert to `int' "

Checking the backtrace I saw the problem is in the transport layer and it is related to the size of the string (file).

/usr/local/rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/openssl/buffering.rb:326:i

[2016-05-19 13:14] blowmage commented on #691
@murgatroid99 Unfortunately we are blocked by grpc/grpc#6571 for depending on the most recent release. I can reliably reproduce that message using only threads, no forked processes.

[2016-05-19 14:49] blowmage commented on #570
@gramos74 I think this is a regression. You should be able to set `chunk_size` on the `load` method. We will get that restored ASAP.

Also, when a `chunk_size` is not set, the current behavior is to leave it undefined, which means Faraday will send the entire file in one chunk, but that seems to not work for files larger than 2GB. So I'm thinking we should set a default chunk_size in those cases.

[2016-05-19 15:01] blowmage opened #701 "Unable to set chunk_size in BigQuery Table#load"
As [reported](https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/570#issuecomment-220314990) there is no way to set the `chunk_size` options in `Gcloud::Bigquery::Table#load` since the move away from an options hash to named arguments. We need this restored.

Additionally, it is reported that files larger than 2GB need to have a chunk_size set to something less than 2GB. Therefore we should

[2016-05-19 15:02] gramos74 commented on #570
Well, seems that is not working in the ssl transport, so in this case is not a problem of Faraday :p

You can find more info here: https://bugs.ruby-lang.org/issues/10633

I would say that a default size of 1Gb is ok.

[2016-05-19 15:04] gramos74 commented on #570
BTW... I already have a fork of the project because I need to fix it asap in production. So I can prepare a pull request once it is ready if you agree.

[2016-05-19 15:06] blowmage commented on #570
@gramos74 Go ahead and submit the PR. We are also actively working on it.

[2016-05-19 15:23] blowmage commented on #701
@gramos74 We've been discussing it and we think 10MB should be the default chunk size. Once we restore the `chunk_size` option you will be able to set a 1GB chunk size, trading memory usage in the ruby upload process for the performance benefits.

[2016-05-19 15:43] gramos74 commented on #701
ok, got it

[2016-05-19 17:12] #701 closed

[2016-05-19 18:23] quartzmo commented on #570
This was fixed in PR #702 and refactored for reuse in Storage in #703.

[2016-05-19 19:10] #659 closed

[2016-05-19 19:11] #660 closed

[2016-05-19 19:11] #661 closed

[2016-05-19 19:11] #662 closed

[2016-05-19 19:11] #668 closed

[2016-05-19 19:49] #695 closed

[2016-05-20 10:36] jgeewax opened #706 "Weird project issue with Cloud Vision API?"
For some reason it looks like Gcloud.vision is detecting my project as `google.com:cloudsdktool` rather than the one set in my environment (`jjg-cloud-research`).

Any chance this is a bug somewhere?

[code]

[2016-05-20 12:28] blowmage commented on #706
Can you use the other services with those environment variables? Or is this only affecting Vision?

[2016-05-20 12:38] blowmage commented on #706
Oh, I think I know what is going on. That `cloudsdk` is the default authentication project id when using the gcloud cli credentials. The Vision API calls aren't scoped to the provided project id like every other API, so I bet the API is deriving the project id to charge the API call to from the credentials provided. In this case it is getting the `cloudsdk` project id.

Do you have a `GCLOUD_KEYFI

[2016-05-20 12:40] jgeewax commented on #706
Doesn't seem to be a problem with Datastore, just Vision.
[code]

[2016-05-20 12:40] jgeewax commented on #706
OK -- so you're saying that this whole "we don't know who to bill" problem is cropping up here as well? Even if I clearly state the project ID, it still uses the object assigned to the service account?

[2016-05-20 12:41] jgeewax commented on #706
If that's the case, we need a much better error than "The Cloud SDK's project isn't activated! Go activate it!"

We should tell people they need to generate a service account and use that.

[2016-05-20 12:51] blowmage commented on #706
We clearly state the project id when using gcloud-ruby, but the actual API call doesn't have that info. Other APIs will post to paths like `/datastore/v1beta3/<project_id>/dataset.run_query`, but vision posts to `/v1/annotate`, and the project id is not included in the request payload.

I agree that we should add some documentation that the cli auth credentials won't work for Vision. (Unless we ca

[2016-05-20 13:20] jgeewax commented on #706
Yep - I'm arguing this out on the API side. In the meantime, if we detect using credentials for `google.com:cloudsdk`, we should give a good error description.

[2016-05-20 14:31] jgeewax opened #707 "Pagination seems a bit ... confusing (specifically Datastore)"
Doc: https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.10.0/gcloud/datastore#paginating-records

This discussion has also been happening over at https://github.com/GoogleCloudPlatform/gcloud-python/issues/895

Basic gist is that we have a few different scenarios when "listing things":

1. Give me all the things
  - Kind of link infiniscroll
  - I don't care about how many API calls are m

[2016-05-20 14:44] quartzmo commented on #707
@jgeewax I edited the docs link in your description to point to `googlecloudplatform.github.io` (was `quartzmo` fork.) Thanks for all these suggestions! I'll keep an eye on GoogleCloudPlatform/gcloud-python#895.

[2016-05-20 14:48] blowmage commented on #707
I think we can get most of the way there with lazy enumerables. See #690. The only thing that won't do is limit the number of total API calls.

[2016-05-20 20:18] quartzmo commented on #707
@jgeewax PR #708 (just merged) replaces the example you linked with this one:

[code]

[2016-05-20 21:31] blowmage commented on #707
We could also use `#all`, but it will pre-fetch all the results before starting the iteration. It isn't lazy, but it is in the current release:

[code]

I'm currently working on an implementation of a lazy enumerator, so in the future the pre-fetch can be avoided and the results can be iterated while pages are fetched:

[code]

Lazy enumerators are super cool, as you can also take the first N reco

[2016-05-20 21:50] bmclean commented on #691
In summary, this is what we discovered when testing with Ruby web servers configured to fork processes (Puma, Passenger, Unicorn):
- the grpc library is initialized with `require 'gcloud/datastore'`
- the way that the gRPC library within gcloud initializes does not persist properly across forks
- if the grpc library is initialized prior to the web server forking, the sub-processes don't have corre

[2016-05-20 23:07] quartzmo commented on #691
@bmclean Thank you to you and your team for the effort you've put into this! It is an incredible help.

[2016-05-21 00:06] blowmage commented on #691
@bmclean Thanks for such a great writeup! This is incredibly useful!

If you (or anyone reading this) are bothered by the fact that you require the library each time you access the dataset object, you can change the implementation a bit to run the require only when you need to create the object:

[code]

[2016-05-21 01:12] bmclean commented on #691
That is awesome, thanks @blowmage!

[2016-05-22 12:06] jgeewax commented on #707
Sounds like a lazy enumerator is the way to go (http://patshaughnessy.net/2013/4/3/ruby-2-0-works-hard-so-you-can-be-lazy)

My big question then is... how do I tell you where to start the next page? Ie, imagine I'm building a web app where I want to see 10 items at a time, and click the "next page" link? How does that work?

[2016-05-23 12:32] mia-0032 opened #709 "Does any processing need to publish multibyte charactor to Pubsub?"
I am trying to send logs including multibyte charactor to Pubsub.
But encoding error is occured.
Does any processing such as Base64 encoding need to publish multibyte charactor to Pubsub?

My test environment is below:
Ubuntu 14.04
Ruby 2.3.1
gcloud-ruby 0.10.0

Test program is below:

[code]

The error is below:
[code]

[2016-05-23 16:01] quartzmo commented on #709
I can also reproduce this error:

[code]

[2016-05-23 17:37] blowmage opened #710 "Support IO on Pub/Sub Publish"
Pub/Sub should support IO-ish objects on publish, similar to Datastore supporting blob values using IO-ish objects (File, StringIO, Tempfile).

A good example of how to use this would be to publish an image file, and the subscription worker gets the published bytes and resizes the image.

[2016-05-23 17:43] blowmage commented on #709
Hi @mia-0032, thanks for opening this issue. This is definitely a bug. Publishing a string should not raise an error. We will get a fix applied and documentation updated ASAP.

For now, you can force the encoding of your string when publishing to avoid the error:

[code]

Please note that the data returned by Pub/Sub will always be encoded as ASCII-8BIT. You can force those bytes back into UTF-8 u

[2016-05-23 18:05] blowmage opened #711 "Per-result cursor support (v1beta3)"
Datastore v1beta3 adds a [cursor for every result](https://cloud.google.com/datastore/reference/rest/v1beta3/EntityResult#FIELDS.cursor) returned. We don't currently expose this, and only show the cursor for the last result on the page. The QueryResults object should provide cursors for every result.

[code]

[2016-05-23 20:18] quartzmo commented on #707
@blowmage I think changing the return type of `#all` from an array to an enumerator that supports [`Enumerable#lazy`](http://ruby-doc.org/core-2.0.0/Enumerable.html#method-i-lazy) is the perfect solution, and appears compatible with the addition of an option for `max_api_calls `. Let's do this asap.

[2016-05-24 10:03] barakcoh opened #712 "Doesn't work on JRuby"
Hi

Trying to upgrade my Logstash input https://github.com/Wondermall/logstash-input-google-cloud-pubsub
But `gcloud-ruby`'s dependency on `google-protobuf` is causing it to trigger a native extensions build which is not supported by JRuby, making `gcloud-ruby` unusable for JRuby based environments which is a shame because it could be tremendously useful for Logstash.

I've tried `JRUBY_OPTS="--2.

[2016-05-24 16:45] quartzmo commented on #712
@barakcoh Thanks for reporting this, and sorry about the trouble. My understanding is that JRuby should use [protobuf/java](https://github.com/google/protobuf/blob/master/java/README.md) instead of trying to install the Ruby C extensions. Can you try installing `google-protobuf` independently from `gcloud` in your environment, and if it still fails, open an issue in [google/protobuf](https://githu

[2016-05-24 17:13] blowmage commented on #712
I'm looking into this.

[2016-05-24 19:47] blowmage commented on #712
@barakcoh What platform are you seeing this behavior on? Mac? Linux? x86? x64?

[2016-05-25 00:13] arparker opened #713 "Publishing messages to PubSub with 0.6.2 or earlier failing"
Utilizing version 0.6.2 or earlier of the gem, publishing messages to a topic (topic.publish "Hello") appears to have begun failing out with an API error code of 400 and message:

"Invalid value at 'messages[0].data' (TYPE_BYTES), \"SGVsbG8=\n\""

This was previously working in several ongoing functioning apps, but appears to have broken sometime earlier this month (estimated May 10th).  Updating

[2016-05-25 00:20] quartzmo commented on #713
@arparker Thanks for reporting this issue. We will try to reproduce it and get back to you by tomorrow.

If we need to release a fix, updating to a new patch version (0.6.3) is an option for you, correct?

[2016-05-25 00:22] arparker commented on #713
Thanks for the quick response.  Yes, a patch like that should work.

[2016-05-25 12:40] mia-0032 commented on #709
Hi @blowmage, thank you for your reply.
I added `force_encoding` to my log collector plugin and succeeded to publish logs including multibyte charactor ! :)
I'll check #453 later.

[2016-05-25 14:24] barakcoh commented on #712
@quartzmo that was my understanding as well, however that doesn't seem to be the case.
@blowmage I'm building a docker container on Docker for Mac which is essentially running Alpine linux AFAIK.

[code]

[2016-05-25 15:38] blowmage commented on #713
@arparker When did this error message start?

[2016-05-25 16:14] dolzenko opened #714 "Backoff for all (or selected) storage methods"
As per [0] we're getting rate limited on e.g. file copy call etc. It seems to make sense to have backoff on all methods, instead of just bucket ones? At least updates are documented to be rate limited [1] but its probably safe to apply universally?

[0] https://stackoverflow.com/questions/37431917/gcloud-ruby-backoff-on-copying-files-and-other-operations/37439948#37439948
[1] https://cloud.google.

[2016-05-25 16:18] arparker commented on #713
We don't have complete log data to pinpoint exactly, but best we can tell we started seeing instances of it on or around May 10-11th.  It appears that it may have been intermittent at first, then becoming constant.  The earliest log evidence we still have is for May 12th, where it still appeared intermittent.

[2016-05-25 16:20] blowmage commented on #713
I think I've identified the issue. In gcloud pre-0.7.0 the pubsub data is encoded using base64, as required by the Pub/Sub REST API. The data was encoded according to [RFC 2045](https://tools.ietf.org/html/rfc2045), which has worked fine. However, now the service returns an error. The solution is to encode using [RFC 4648](https://tools.ietf.org/html/rfc4648) instead.

Release coming soon.

[2016-05-25 16:36] quartzmo commented on #714
@dolzenko Agreed. Thank you for opening this issue, and the Stack Overflow question.

[2016-05-25 16:55] blowmage commented on #713
@arparker gcloud [0.6.3](https://github.com/GoogleCloudPlatform/gcloud-ruby/releases/tag/v0.6.3) was just published and should fix this issue. Thanks for opening the issue!

[2016-05-25 16:57] blowmage commented on #713
Kinda frustrating the commit isn't being linked properly. Here is the fix: 6b3bcfa126186460ec587df4f9d92bddee391bbd

[2016-05-25 17:28] ktowle commented on #713
Thank you! I was able to bundle 0.6.3 successfully and it's put us back in business until we can get into an environment where we can upgrade. Really appreciate the quick resolution.

(I work with @arparker)

[2016-05-25 17:37] arparker commented on #713
Yes, thank you for the quick turn around!  We'll go with this and let you know if anything turns up.

[2016-05-25 17:43] blowmage commented on #713
This is likely due to a change made by the Pub/Sub API. They were probably rolling out the change which is why the error was inconsistent for a while.

Thanks for making us aware of the issue!

[2016-05-25 17:43] #713 closed

[2016-05-26 00:44] samkelly opened #715 "Installing dependencies for native extensions"
When deploying apps built with gcloud-ruby, say I want to use capybara-webkit, which has a lot of server side dependencies... how would I go about getting docker to automatically install these dependencies? Right now I am just using `gcloud preview app deploy` to deploy to managed app engine. Would love to see some documentation associated with this in gcloud-ruby, as it is sort of a ruby-specific

[2016-05-26 00:46] samkelly commented on #715
FYI I currently use a very complicated shell script to keep capybara-webkit from being installed server side when I deploy, but obviously this is specific to my situation and isn't a future-proof solution

[2016-05-26 15:29] quartzmo commented on #592
I’m not sure that using gRPC is an option. Even though in our Pub/Sub service we appear to be using top-level IAM resources (`Google::Iam::V1::IAMPolicy`, etc), when I try to use these same stubs against `iam.googleapis.com` instead of  `pubsub.googleapis.com`, I get the following error:

`12:GRPC target method is not implemented.`

[2016-05-26 15:33] quartzmo commented on #592
Placing this issue on hold, since the original opportunity (gRPC-based IAM) does not appear to exist. If anyone feels we should proceed with an implementation for the [Rest API](https://cloud.google.com/iam/reference/rest/), feel free to remove the label.

[2016-05-26 19:15] quartzmo commented on #715
@samkelly Is this perhaps more of a general question about [Ruby and App Engine](https://cloud.google.com/ruby/getting-started/hello-world)? I think of gcloud-ruby as agnostic about its runtime environment. I'm not sure gcloud-ruby is the right place for this documentation.

[2016-05-27 10:14] mia-0032 commented on #453
Option 1) or 2) is seems good to me.

Our system has two encodings `UTF-8` and `Shift-JIS`. Publishing `Shift-JIS` charactor I would like to pull `Shift-JIS` charactor. So option 3) is not good for me.

I use gcloud-ruby for publishing messages, but pulling messages I use another packages. If option 2) is common to Pubsub clients, I think option 2) is good.
In another aspect, if we change encoding

[2016-05-27 17:48] blowmage commented on #453
Option 2) would be specific to gcloud-ruby. AFAIK there is no standard among the various Pub/Sub clients to specify or atomically format the message data bytes.

[2016-05-28 08:09] buithehien1991 opened #717 "How to delete a directory in bucket"
I'd like to ask about how to delete a exist directory/folder in bucket by gcloud-ruby.

[code]

Is right?

Thank you and best regards,
Bui The Hien

[2016-05-30 04:45] buithehien1991 commented on #717
I tested in rails console with above command but I have error
[code]

So, could you please help me how to delete a folder/directory in Cloud Storage.
Thank you so much.

[2016-05-30 19:40] timanovsky commented on #711
Is it related to #690 ?

[2016-05-31 12:40] blowmage commented on #711
Kinda. I'm working on both.

[2016-05-31 12:54] blowmage commented on #717
Hi @buithehein1991, to delete a file you will need to specify the exact file name. See [`File#delete`](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.10.0/gcloud/storage/file?method=delete-instance)

[code]

If you want to delete all files that match a directory, you will first have to select the files, and then delete them.

[code]

This is because there are no directories in Google

[2016-05-31 21:06] Aguasvivas22 opened #718 "downloading large file: failed to allocate memory (NoMemoryError)"
Simple script to download file:
[code]

When downloading 1.8GB file:

[code]

If I change 'verify' to 'none', I don't encounter this error.

free mem + cached > 3GB

[2016-05-31 21:30] quartzmo commented on #718
@Aguasvivas22 Thanks for opening this issue! I'll see if I can reproduce it myself today.

[2016-05-31 21:46] quartzmo commented on #718
I'm hoping that the solution will be to change the implementation to something that uses less memory (see "Compute digest by chunks" in examples for [Digest](http://ruby-doc.org/stdlib-2.2.3/libdoc/digest/rdoc/Digest.html)), but this is just an initial guess.

[2016-05-31 21:57] Aguasvivas22 commented on #718
Thanks!

Also, I should mention that even when with the "no memory error", it still seems to download the file successfully, so it's just the verification part that fails(?)

[2016-06-01 15:04] #715 closed

[2016-06-01 15:16] #718 closed

[2016-06-01 15:52] quartzmo commented on #715
@samkelly Thanks. If you find something helpful, can you link to it from this issue? For anyone who lands here in the future...

[2016-06-01 17:31] samkelly commented on #715
I haven't found anything but will certainly link it if I do

[2016-06-01 17:57] Aguasvivas22 commented on #718
Awesome.

Thanks, @quartzmo!

[2016-06-01 17:58] quartzmo commented on #718
@Aguasvivas22 This fix was contributed by @blowmage!

[2016-06-01 18:09] Aguasvivas22 commented on #718
well then, thank you too @blowmage!

[2016-06-01 21:51] quartzmo commented on #588
@blowmage I implemented this using gRPC. But when I try to get the Policy for the current project, I get this error:

[code]

[2016-06-02 00:10] blowmage commented on #588
Right. The Pub/Sub service allows only Topic and Subscription to get/set an IAM Policy, and testing permissions. That is why the current Pub/Sub implementation does not have policy implemented on Project. Users would have to use either the IAM service, or Cloud Resource Manager, to manage a project's policy. I was hoping that the move to gRPC would allow these calls to be made on the IAM service,

[2016-06-03 17:11] quartzmo commented on #714
@blowmage I'll take this today, and try to implement for all services that need it, not just Storage.

[2016-06-06 19:07] jgeewax opened #722 "Support custom encryption keys for storage?"
Can we support custom encryption keys for files uploaded?

Spec is here: https://cloud.google.com/compute/docs/disks/customer-supplied-encryption#top_of_page

[2016-06-06 20:48] quartzmo commented on #722
Docs above are for Compute Engine, I believe this is the correct docs page for Storage:

https://cloud.google.com/storage/docs/encryption

[2016-06-06 21:24] jeffmendoza opened #723 "Backoff Questions"
Will the docs link to the [backoff page](https://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Backoff.html) on the left nav?

Is Pub/Sub using backoff currently?

[2016-06-06 22:04] quartzmo commented on #723
@jeffmendoza

The "curated" docs do not currently list Backoff in the left nav, although we can certainly revisit this decision. The "standard Ruby" docs [list all types in the left nav](http://www.rubydoc.info/gems/gcloud). We have [an open issue](https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/543) to refer readers from the curated docs to the rubydoc.info docs in order to help them lo

[2016-06-06 22:36] jeffmendoza commented on #723
Thanks for the quick response. Yes a link to rubydoc.info seems appropriate.

The reason I ask is that we have this section on retry handling: https://cloud.google.com/pubsub/configure#retry-handling For the 'Ruby' tab we can mention that gcloud-ruby handles backoff and link to the backoff doc.

[2016-06-06 22:48] quartzmo commented on #723
@jeffmendoza That sounds great!!! Looking forward to seeing gcloud-ruby docs on https://cloud.google.com/pubsub !

[2016-06-06 23:20] blowmage commented on #722
Been looking at this. This looks really cool.

[2016-06-06 23:25] quartzmo commented on #722
This appears to work just fine. I added the headers as follows to `Bucket#create_file`:

[code]

Then I uploaded a file with a key, and reloaded it to see the response. As described, "the object's CRC32C checksum and MD5 hash" were no longer in the response. Downloading also failed, although I haven't yet inspected the reason.

[code]

[2016-06-06 23:27] quartzmo commented on #722
If you scroll over far enough to the right, you can see that the response contains:

[code]

[2016-06-06 23:32] blowmage commented on #722
Awesome. I can't wait to have some design discussions on how to expose this in the ruby API!

[2016-06-06 23:37] quartzmo commented on #722
The response is `400`:

[code]

[2016-06-06 23:44] blowmage commented on #722
Its a bug in the error handling then. Good catch!

[2016-06-06 23:48] blowmage commented on #723
It would be nice to have Backoff and Upload listed on the left navigation somewhere. We used to have a full API listing in the previous doc site. We should make sure we link to Backoff from all the service overview docs too.

[2016-06-07 00:30] quartzmo commented on #722
I successfully completed a roundtrip insert, get, and download using a customer-supplied key (below). My [branch is here](https://github.com/quartzmo/gcloud-ruby/tree/storage-keys) if anyone wants to try it.

[code]

[2016-06-07 00:39] quartzmo commented on #722
Thanks @blowmage for helping me debug some of this, or I would still be at it... :)

[2016-06-07 17:20] quartzmo commented on #722
@jgeewax We can definitely do this. How urgent should we consider it?

[2016-06-07 17:44] blowmage commented on #722
I see three main options for specifying keys:

1) Globally
2) Per Session
3) Per API Call

Do we allow users to configure all 3?

[2016-06-07 17:45] blowmage commented on #722
@quartzmo Which API calls support custom encryption keys?

[2016-06-07 17:52] quartzmo commented on #722
@blowmage They are not listed, but implicitly it seems every operation on the stored object (File):

-- [Managing Data Encryption](https://cloud.google.com/storage/docs/encryption#response)

[2016-06-07 17:59] blowmage commented on #722
Does listing files in a bucket behave differently if a custom key is provided? Like, do you get or not get the md5 hash when listing files?

[2016-06-07 18:20] quartzmo commented on #722
I haven't tried it, but I would guess that the md5 would be omitted. I will try it in a bit.

[2016-06-07 21:07] quartzmo commented on #723
@blowmage: I agree, #721 should definitely add top-level docs to each service that explain how to configure retries, etc.

[2016-06-07 21:32] quartzmo opened #725 "Change gcloud to gcloud-ruby in docs"
From: GoogleCloudPlatform/gcloud-common#142

Change `gcloud` (and also `Gcloud`?) to `gcloud-ruby` when referring to the Ruby library.

[2016-06-08 19:05] jgeewax commented on #722
I think people will want to specify a key *per file* -- and not per session or per API call.

In the future, they will want to use some key derivation function that they set at the top level, but to start the focus is "when I upload a file, let me give you a key to encrypt it with". Does that make life any easier?

[2016-06-08 19:11] blowmage commented on #687
Hey @timanovsky, we've been discussing this and we have a couple paths we can go. One is to add this estimated size and let users like yourself manage updates. The other is to attempt to manage this within gcloud-ruby, and make multiple updates when the size is bigger than 10MB.

What are your thoughts on this? Do we choose option 1 and grow the API? Or choose option 2 and make the library do more

[2016-06-08 19:19] quartzmo commented on #722
@jgeewax Maybe we can work incrementally toward such higher-level conveniences? Should we start just by adding key-per-API request support? That's not hard to do, my [spike branch](https://github.com/quartzmo/gcloud-ruby/tree/storage-keys) already adds it for a few methods.

[2016-06-08 19:30] #709 closed

[2016-06-08 21:12] blowmage commented on #722
Makes sense. Thanks for clarifying the direction.

[2016-06-09 15:50] timanovsky commented on #687
Well in my case (batch ops) it wouldn't be much of a difference, but if you
consider transactions, the user-level control/visibility is a must. I don't
want my huge transaction be silently broken down to smaller ones.

API growing is not a big problem, as it is only for advanced use, and
people does not need to learn it from the start.

Best regards,
Alexey Timanovsky.

On 8 June 2016 at 22:11, Mi

[2016-06-09 19:50] #714 closed

[2016-06-09 19:51] blowmage commented on #687
Thanks for your input!

[2016-06-09 22:42] quartzmo commented on #722
The key headers do not seem to be used in these API methods:

* [Objects: list](https://cloud.google.com/storage/docs/json_api/v1/objects/list) - even if there is only one object in the bucket, passing the key used to insert it does not return a representation including `md5`, etc
* [Objects: delete](https://cloud.google.com/storage/docs/json_api/v1/objects/delete) - deleting an object is successf

[2016-06-09 23:09] quartzmo opened #730 "Support rotating keys with File#rewrite"
The following Storage API method is not currently supported by gcloud-ruby:
- [objects.rewrite](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite) - Rewrites a source object to a destination object. Optionally overrides metadata. Can be used to [rotate keys](https://cloud.google.com/storage/docs/encryption#customer-supplied) (see #722.)

[2016-06-11 03:30] JustinBeckwith opened #732 "Add support for the App Engine Admin API"
We have an Admin API (service management) for App Engine here:
https://cloud.google.com/appengine/docs/admin-api/reference/rest/

It's a pretty basic CRUD / REST style API, but it would be great to have wrappers that make it easier to use.

[2016-06-13 21:29] #722 closed

[2016-06-15 19:03] ThadeuBrito commented on #367
In case to use VCR? I have this same error, I can  rec the VCR but I can't read it.

[code]

[2016-06-15 19:05] blowmage commented on #367
What version of Faraday? Do you have any of the workarounds in place?

[2016-06-15 19:12] ThadeuBrito commented on #367
Faraday version is `0.9.2` but I have already pin to `0.9.1` and it did not work.
The curious fact is:
1 - I recorded the VCR using the gcloud gem
2 - I switch to use the `abronte/BigQuery` gem, and the `abronte/BigQuery` gem can read the VCR recorded by gcloud

It is not a great flow to work : )

[2016-06-15 21:53] quartzmo commented on #367
@ThadeuBrito We are planning to complete work for #269 (Upgrade to Google API Client 0.9) very soon. Will you be able to upgrade gcloud-ruby after we release this to see if it resolves your issue?

[2016-06-16 13:02] ThadeuBrito commented on #367
Of course, it is gonna be awesome!!

[2016-06-16 14:13] quartzmo commented on #367
@ThadeuBrito Great. We are working on the upgrade right now.

[2016-06-16 19:26] ThadeuBrito commented on #367
My query was returning a large data, more than 20588 lines. I was not running the `.next` to get the rest of data, so in my option the saved gzip on VCR was broken, so it could not unzio that.

I was using it:
[code]
I did not sure how I fixed that, but i'm just using it:
[code]

Thanks for all : )

[2016-06-16 22:08] blowmage commented on #367
You can tighten that up if you are using the latest release. You can use the `all` enumerator to get all the rows on all the pages, and call `to_a` on it to get it as an array:

[code]

[2016-06-16 23:24] ThadeuBrito commented on #367
awesome @blowmage . Thanks!

[2016-06-17 16:13] blowmage commented on #711
Resolved in the 0.11.0 release.

[2016-06-17 16:13] #711 closed

[2016-06-17 16:13] blowmage commented on #710
Resolved in the 0.11.0 release.

[2016-06-17 16:13] #710 closed

[2016-06-17 16:13] blowmage commented on #707
Resolved in the 0.11.0 release.

[2016-06-17 16:13] #707 closed

[2016-06-17 16:17] blowmage commented on #690
Resolved in the 0.11.0 release.

[2016-06-17 16:17] #690 closed

[2016-06-17 16:18] blowmage commented on #677
This works. We didn't need to make any code changes to support this since the ruby GAE is built on top of GCE.

[2016-06-17 16:18] #677 closed

[2016-06-17 16:21] blowmage commented on #595
After discussing this further we decided not to go in this direction.

[2016-06-17 16:22] blowmage commented on #594
After discussing this further we decided not to go in this direction.

[2016-06-17 16:22] #594 closed

[2016-06-17 16:22] #595 closed

[2016-06-17 16:22] #592 closed

[2016-06-17 16:22] #588 closed

[2016-06-17 16:23] blowmage commented on #587
This was implemented in the 0.11.0 release.

[2016-06-17 16:23] #587 closed

[2016-06-17 16:24] blowmage commented on #593
This was implemented in the 0.11.0 release. A policy object with tag value is yielded in a block and it is much easier to not override settings accidentally.

[2016-06-17 16:24] #593 closed

[2016-06-17 16:26] blowmage commented on #576
Vision was added in 0.10.0 and Translate was added in 0.8.0.

[2016-06-17 16:26] #576 closed

[2016-06-17 16:37] blowmage commented on #463
With the move of the REST services to Google API Client 0.9 and gRPC to the GAX libraries backoff will be provided by the underlying libraries. So `Gcloud::Backoff` will be going away. We think we can support the backoff configuration on the service constructors. e.g. `Gcloud#datastore` and `Gcloud.datastore`

[2016-06-17 16:39] blowmage commented on #453
This is not going to happen. Multibyte strings will be passed as their bytes, and returned as a ASCII-8BIT string. This is consistent with how Google Cloud APIs deal with binary data.

[2016-06-17 16:39] #453 closed

[2016-06-17 16:44] blowmage commented on #361
Not sure if we will make this change, but if we do it should be before 1.0.

[2016-06-17 16:50] blowmage commented on #96
This has been implemented. Users can set ACL on create and update.

[2016-06-17 16:50] #96 closed

[2016-06-17 16:54] blowmage opened #734 "Add proper Cors object to Storage"
Replace use of Hash objects with well defined class.

[2016-06-17 16:55] blowmage opened #735 "Make Resource Manager Policy match Pub/Sub Policy"
Resource Manager should use a well defined Policy object same as Pub/Sub.

[2016-06-17 21:11] wardbekker opened #737 "Confusing behaviour of Pubsub listen method with max parameter"
I find the 'batch' option using the max: parameter for the pubsub listen method confusing: It's not really batching, as it just guarantees a max amount of block yields before the method returns. Also not a batch of messages (e.g. array) is passed as the block argument, but a single msg.

I've run in this issue, because I was actually looking for a real batching listen method, on that will listen w

[2016-06-17 21:42] quartzmo commented on #737
@wardbekker

Thanks for opening this issue. This is good feedback about the mention of "batch" being confusing in the context of this method.

Regarding a real batching listen method, have you any suggestions for how to implement it? Here is the underlying API for [PullRequest](https://cloud.google.com/pubsub/reference/rpc/google.pubsub.v1#pullrequest), for reference.

[2016-06-19 06:42] wardbekker commented on #737
Below a workaround for the behaviour I was looking for. It's pulling and yielding an array of messages upto `max_messages`.

[code]

[2016-06-19 07:01] wardbekker commented on #737
Actually, it looks like a trivial change to the current code.

[code]

[2016-06-19 11:26] jgeewax commented on #737
@wardbekker , Thanks for the feedback -- really appreciate you taking the time.

Out of curiosity ... can you share any more about the higher-level use case of what you're trying to accomplish? I'm just trying to understand the scenario where getting chunks of 20 is easier to work with than a stream of individual requests.

[2016-06-19 14:40] wardbekker commented on #737
Use case: I use pub/sub for queuing i.a. image annotation via Google Vision API. There are [request usage limits ](https://cloud.google.com/vision/docs/image-best-practices#usage_limits) like requests per second.  You can specify multiple images per annotation request to have higher throughput. As my  solutions creates one pub/sub message per annotation request, I like to batch listen from the sub

[2016-06-20 15:39] Damaotimlin commented on #712
have same issue here +1

[2016-06-20 16:41] quartzmo commented on #712
@Damaotimlin Can you provide the details of your environment? Thank you!

[2016-06-20 16:55] quartzmo commented on #737
@wardbekker Thanks for sharing this use case, really cool to hear about these services being used together.

[2016-06-20 20:12] blowmage commented on #737
@wardbekker Thanks for bringing this up. I'm sorry that the documentation caused you confusion. We will remove the word "batch" so that others won't also get tripped up by that.

I'm glad that you have identified a solution that you consider "trivial". Enabling folks to craft their own solutions was our intention, and I'm glad you arrived there. I think your batch use case makes sense. This is som

[2016-06-20 20:13] blowmage opened #738 "Remove "batch" from method documentation"
See #737

[2016-06-21 05:10] 34code opened #739 "gcr.io listing tags?"
feature request..

would love to get access to gcr.io images and tags and creation dates.. so i can set up some cleanup scripts to remove old versions of images.

we deploy about 3x per day and this can lead to many many tags over time

[2016-06-21 12:59] Draiken opened #740 "Subscription name is not optional"
https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/v0.11.0/lib/gcloud/pubsub/topic.rb#L94-L141

The example says we can leave out the name and get a generated name, but the method requires a name.

It's also not a good example, since we give name `my-topic-sub` and get name `generated-sub-name`

[2016-06-21 13:00] Draiken commented on #740
Nevermind... duplicate of #193

[2016-06-21 13:02] Draiken commented on #193
It' been one year and I still got bitten by this issue after following the documentation [here](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.11.0/gcloud/pubsub)
Is there anything I can do to help fix this issue?

[2016-06-21 14:42] blowmage commented on #739
We were just looking at the container registry yesterday! I agree this would be great to support. Thanks for opening the issue.

[2016-06-21 14:46] blowmage commented on #740
Ho @Draiken, thanks for opening this issue. We thought we had removed that example from the documentation when we discovered the discrepancy between the official API documentation and the API behavior. That is very confusing. I'm sorry for that. We will get the documentation updated.

[2016-06-21 14:52] Damaotimlin commented on #712
@quartzmo Please see below and let me know if you need any further information !
rails -v `5.0.0.rc1`
ruby -v `jruby 9.1.2.0 (2.3.0) 2016-05-26 7357c8f Java HotSpot(TM) 64-Bit Server VM 25.45-b02 on 1.8.0_45-b14 +jit [darwin-x86_64]`
gem -v `2.6.4`
bundler -v `1.12.5`
gcloud -v
[code]

[2016-06-21 17:55] Damaotimlin commented on #712
After I successfully install `google-protobuf (3.0.0.alpha.6.0.0)` follow by java and ruby(jruby) guide.
https://github.com/google/protobuf/tree/master/java
https://github.com/google/protobuf/tree/master/ruby

While I try to install `jruby -S gem install gcloud`, it still force me to install `google-protobuf (3.0.0.alpha.5.0.5.1)` and run into C extensions error again and again.

Don't know how to

[2016-06-21 18:13] quartzmo commented on #712
@blowmage Any ideas, other than to fork gcloud-ruby?

[2016-06-21 18:17] blowmage commented on #712
The issue here isn't gcloud-ruby, it's the grpc and google-protobuf gems. What is needed is for those gems to support JRuby. That is where I would start.

[2016-06-22 07:02] wardbekker commented on #737
Thx @quartzmo and @blowmage

BTW: My apologies for using the term "trivial". Maintaining and improving this great ruby gem is anything but trivial offcourse, so thank you!

I'll will take a look at the contributers guide and see if I can start working on a contribution.

[2016-06-23 20:45] designium opened #741 "gcloud-ruby asking for Translation API Key but nowhere to add that"
Hi,

There's no documentation showing how to add the translation API key.

Where or how to do that?

[2016-06-23 20:51] quartzmo commented on #741
There are two examples here:

http://www.rubydoc.info/gems/gcloud/Gcloud#translate-instance_method

Does that help?

[2016-06-23 20:51] designium opened #742 "Does gcloud-ruby works with TEXT_DETECTION type?"
I'm trying to do OCR with gcloud but I can't find how to do it.

[2016-06-23 20:56] quartzmo commented on #742
Use the gcloud-ruby [support for Cloud Vision API](http://www.rubydoc.info/gems/gcloud/Gcloud/Vision). Either use the general-purpose [Project#annotate](http://www.rubydoc.info/gems/gcloud/Gcloud/Vision/Project#annotate-instance_method) method with the `text` flag, or use the special-purpose [Image#text](http://www.rubydoc.info/gems/gcloud/Gcloud/Vision/Image#text-instance_method) convenience meth

[2016-06-23 21:03] designium commented on #741
Thanks a lot.

[2016-06-23 21:03] #741 closed

[2016-06-23 21:06] designium commented on #742
I tried the following based on what I found from the source code of gcloud-ruby:

  gcloud = Gcloud.new [credentials]
  vision = gcloud.vision
  img = vision.image "IMAGE.JPG"
  txt = img.text

The system keeps hanging on irb. I tried using the landmark example and it happens the same, so not sure if the server has replied to my computer but the response is lost somewhere.

[2016-06-23 21:17] quartzmo commented on #742
I will try it myself within the next 30 minutes. It may simply be a question of availability. I have noticed in the past that sometimes there are periods where requests time out. Let me know if it starts working for you.

[2016-06-23 21:23] quartzmo commented on #742
@designium It works for me right now, using this image from the project's acceptance tests. Note that I am using environment variables for my credentials, and a `console` rake task included in the project, which initializes the top-level Gcloud object.

[code]

[2016-06-23 21:33] designium commented on #742
Thanks, quartzmo.

So I left the commands on without doing ctrl+z to stop the processes and after more than 10 minutes!!! they returned the results.

Is that normal or expected behavior? I mean, if I create an app with that kind of response time, I'm doomed.

[2016-06-23 21:37] designium commented on #742
Just saw your message now.

I did some network test and I realized that my current upload speed is at 0.30 Mbps, maybe that's the issue.

Thanks again, quartzmo.

[2016-06-23 21:37] #742 closed

[2016-06-23 21:38] quartzmo commented on #742
No problem!

Anyway, how big are your files? There are some guidelines here:

https://cloud.google.com/vision/docs/image-best-practices#image_sizing

If they are a lot bigger than 1024 x 768, maybe you can do some preprocessing?

[2016-06-23 21:49] designium commented on #742
The file I was testing is about 2448 × 3264 with 2.6MB.

What is the recommendation for preprocessing? Should I use Imagemagick or Google has something for preprocessing the image? Or do you recommend something else?

I found Imagmagick kind of bulky and then I tried the mini-magick which is a bit better in terms of memory processing but it's not 2016-ish. Most image processing tools are old guard

[2016-06-23 21:52] quartzmo commented on #742
Personally I have only ever used Imagemagick. I don't know of anything else to recommend. But if you (or any future reader of this issue) find something better, please post it here!

[2016-06-24 02:32] designium commented on #742
Just FYI: gcloud-ruby ahead of gcloud-python:

https://github.com/GoogleCloudPlatform/gcloud-python/issues/1896#issuecomment-228230869

[2016-06-24 16:14] quartzmo commented on #725
@blowmage I'm proposing that all "Gcloud" usages be changed to "gcloud-ruby". This is a bit tricky however in the many cases in which "Gcloud" begins a sentence:

[2016-06-24 18:20] rok987 opened #743 "Logging is missing from the ReadMe"
It seems like we have a wrapper for the Logging API in Ruby. Therefore we should add the following to the ReadMe (just like for the other APIs):

- a link at the top to the Logging API section
- a Logging API section with links to the documentation
- an example

[2016-06-24 20:07] quartzmo commented on #743
Is this what you mean? https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/README.md#logging

[2016-06-26 09:34] Temikus opened #744 "vision API runs all features unless one is set to `true`"
I noticed a behaviour that the features I don't need don't get deselected unless one of them is set to true:
[code]

[2016-06-26 14:38] jgeewax commented on #744
I think this is on purpose -- the idea being if you call `annotate`, you want all annotations. Unless you specify certain annotations (ie, faces only). Otherwise you're trying to annotate an image with no annotations, which is a no-op.. right?

Or are we missing an important point ?

[2016-06-26 14:50] Temikus commented on #744
@jgeewax Thanks for looking into this!

The important point here is that I called annotation with `faces: false` but it still made the request and, ofc., billed me for it. IMO this should not be so. I fully accept I may be missing something here too.

[2016-06-27 11:44] blowmage commented on #744
Hi @Temikus, thanks for using gcloud-ruby and opening this issue!

The behavior of `Gcloud::Vision::Project#annotate` is to run all features unless one or more are selected. The [documentation states](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.11.0/gcloud/vision/project?method=annotate-instance):

(The count in the docs is wrong. The default is actually 100. We will get that corre

[2016-06-27 11:51] blowmage commented on #743
The [list of services](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/README.md#ruby-api-client-library-for-google-cloud) at the top of the README is missing Logging, Translate, and Vision.

[2016-06-27 12:23] Temikus commented on #744
@blowmage Thanks for looking into this.

I've re-read the docs and it seems that I made a logical error, assuming that the arguments work both ways, not only as inclusive arguments, but as exclusive (`false`) as well.

I think I may not be the only one to run into this issue, however, looking through the code, I do not see a more elegant way to do it either, so I you can close this as WAI.

[2016-06-27 17:08] blowmage opened #745 "Update Vision annotate count"
The [current documentation](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.11.0/gcloud/vision/project?method=annotate-instance) states:

This default count is incorrect. The default is 100. Update the documentation to reflect the real count, or not give a count since the real value is dependent on configuration.

[refs #744]

[2016-06-27 18:27] #725 closed

[2016-06-28 01:49] rok987 commented on #743
Correct! The Logging section looks good. And yes, the only thing missing is to add the full list of services at the top (the one @blowmage called out).

[2016-06-28 03:58] quartzmo commented on #743
@rok987 @blowmage Thanks for reiterating the suggestion about the link at the top. (Sometimes I just need to read something twice!)

@blowmage I wonder if we should add a subsection to [RELEASING](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/RELEASING.md) about adding new services, because it's not good that we're missing the list at the top.

[2016-06-28 13:46] blowmage commented on #743
As we add more and more services and move to individual gems I think we will have to rethink the layout and content of the README. I don't have any concrete ideas on exactly how it should change though.

[2016-06-28 16:31] #743 closed

[2016-06-28 18:22] #745 closed

[2016-06-28 18:22] #738 closed

[2016-06-28 18:35] #687 closed

[2016-06-28 18:42] blowmage commented on #737
Documentation updated in #749.

[2016-06-28 18:43] blowmage commented on #744
Documentation updated in #749.

[2016-06-28 23:16] quartzmo opened #750 "Update mentions of "Cloud Logging" to "Stackdriver Logging""
The [official docs](https://cloud.google.com/logging/docs) now use "Stackdriver Logging" in all API descriptions. For example:

Update all gcloud-ruby Logging docs to match.

[2016-06-29 01:15] #611 closed

[2016-06-29 01:15] #612 closed

[2016-06-29 17:54] simonmorley opened #753 "GRPC::Core::OutOfTime (grpc_call_start_batch timed out)"
Seems to be identical to https://github.com/grpc/grpc/issues/6045.

Under high load, the publisher throws a GRPC::Core::OutOfTime error. We happen to have tried without the Ruby client but suffered from horrific latency.

We're using this in Rails 4.2 project with Ruby 2.3

[code]

Am just about to test with grpc 0.15.0

[code]

[2016-06-29 18:47] quartzmo opened #755 "Update Resource Manager to v1 (and gRPC?)"
Resource Manager [Rest API `v1`](https://cloud.google.com/resource-manager/reference/rest/v1/projects) is now available. A [RPC API `v1`](https://cloud.google.com/resource-manager/reference/rpc/) also appears to be available.

gcloud-ruby is [currently targeting](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/v0.11.0/lib/gcloud/resource_manager/connection.rb#L27) Rest API `v1beta1`.

[2016-06-29 18:53] blowmage commented on #753
Thanks for the issue. Might be related to #691

[2016-06-29 18:58] simonmorley commented on #753
blaalarrr not puma again :(

[2016-06-29 19:33] blowmage commented on #755
Are protobufs available? I don't see any in the [googleapis repo](https://github.com/googleapis/googleapis/tree/master/google).

[2016-06-29 19:38] blowmage commented on #753
@simonmorley I have a branch that switches gcloud-ruby to use grpc 0.15.0. Can you set your rails app to reference this branch and let me know if this resolves the `grpc_completion_queue_pluck` error?

https://github.com/blowmage/gcloud-ruby/tree/grpc-0.15

/cc @murgatroid99

[2016-06-29 20:04] blowmage commented on #755
@jgeewax Any word on Resource Manager support for gRPC?

[2016-06-29 20:19] simonmorley commented on #753
I just forced 0.15 in another way. That one is just building. After that, I'll do the same with this yours.

[2016-06-29 22:08] simonmorley commented on #753
I have a couple of my servers in production running 0.15 without issue. Not from your branch though, do you want me to test with that also?

[2016-06-29 22:20] simonmorley commented on #753
No errors but latency having a party.

<img width="623" alt="screen shot 2016-06-29 at 23 18 10" src="https://cloud.githubusercontent.com/assets/309336/16470748/ec181dfe-3e4f-11e6-90ff-3edb02361f0c.png">

[2016-06-29 22:22] blowmage commented on #753
@murgatroid99 Any thoughts on the added latency?

[2016-06-29 22:23] blowmage commented on #753
@simonmorley How did you force 0.15.0? I don't know if my branch will be any different. Depends on what exactly you did.

[2016-06-29 22:26] simonmorley commented on #753
As a reference, until 11pm, we were publishing the messages into rabbitmq. That was the only change.

I just installed via the gemfile ~> 0.15

[code]

[2016-06-29 22:34] blowmage commented on #753
@simonmorley gcloud-ruby version 0.6.3 used the REST API for Pub/Sub, not the gRPC API. So the latency you see might be due to that. I'd try using my branch and see how that works for you.

It looks like grpc 0.15 doesn't have the issues that 0.14 had, which is super encouraging.

In the issue description you say:

I'm having trouble parsing that. Can you clarify that statement? What clients have

[2016-06-29 22:38] simonmorley commented on #753
That might explain it. Let me rebuild.

And your comment about the REST API basically resolves my vagueness. We had tried using the google-api-client since we already had that. That's what first gave us high latencies. We swapped to the gcloud gem to test not realising the both used http.

That will also explain the photo I was just about to send:

<img width="722" alt="screen shot 2016-06-29 at 2

[2016-06-29 22:53] blowmage commented on #691
@timanovsky @bmclean Could you fellas try out a branch that uses the recently released grpc 0.15.0 gem? So far my tests have been successful. I'm curious if the latest gem solves some of the issues you've had running in puma.

https://github.com/blowmage/gcloud-ruby/tree/grpc-0.15

[2016-06-29 23:18] blowmage commented on #753
Depends on what your code is doing! :)

[2016-06-29 23:21] simonmorley commented on #753
Lol. Ok, you can have that. Should just be a publish, nothing else. Honest guvnor.

Your branch installed, things are looking normal. No crashes/

<img width="620" alt="screen shot 2016-06-30 at 00 19 40" src="https://cloud.githubusercontent.com/assets/309336/16471998/98e0faee-3e58-11e6-815f-a8b2112c2ef2.png">

[2016-06-29 23:32] blowmage commented on #753
Woo! God to see latency drop!

[2016-06-29 23:49] simonmorley commented on #753
I think that went pretty well on the whole, thank you for the help.

Just seen this though. Ooops. Will request a quota increase, although there's no way we're at the limit.

[code]

[2016-06-29 23:57] simonmorley commented on #753
Actually, having re-read the docs. It's now clear that the following also retrieves a topic:

[code]

That'll be why there's a get request in there and probably why we're over limit.

I'll move into a global variable and use that way instead.

[2016-06-30 00:44] blowmage commented on #753
You can also use [`Gcloud::Pubsub::Project#publish`](https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.11.0/gcloud/pubsub/project?method=publish-instance) to avoid the lookup request.

[2016-06-30 00:47] blowmage commented on #753
Or you can create the topic object without the lookup call:

[code]

[2016-06-30 01:16] simonmorley commented on #753
Thanks, this is great. Was surprised that was missing. Clearly reading the wrong docs.

Cheers for the help, things are looking rosy again.

[2016-06-30 03:43] bmclean commented on #691
@blowmage Unfortunately Puma still hangs. I tried your branch as follows:
`gem 'gcloud', :git => 'https://github.com/blowmage/gcloud-ruby.git', :branch => 'grpc-0.15'`
I ran bundle install and verified that I was now using grpc (0.15.0 universal-darwin).
I moved the `require 'gcloud/datastore'` back to the top of the Rails CloudDatastore initializer.
I ran my app with `rails s -e production` conne

[2016-06-30 22:00] blowmage opened #756 "Rename Pubsub::Topic::Batch to Pubsub::Topic::Updater"

[2016-07-01 21:32] quartzmo commented on #750
@jgeewax Should we do this?

[2016-07-04 12:39] jgeewax commented on #750
I'm +1 to that. Can you make a ticket on gcloud-common so that others can do similarly ?

[2016-07-04 14:08] jgeewax commented on #755
@blowmage I created a bug to ask for these.... hopefully will hear back this week.

[2016-07-06 17:40] quartzmo commented on #750
This is gcloud-ruby issue for GoogleCloudPlatform/gcloud-common#147.

[2016-07-11 17:51] #201 closed

[2016-07-11 17:51] #490 closed

[2016-07-11 17:51] #734 closed

[2016-07-11 17:51] #735 closed

[2016-07-11 18:19] blowmage opened #758 "Convert Vision implementation to use gRPC"
The [Vision protobuf files](https://github.com/googleapis/googleapis/blob/master/google/cloud/vision/v1/image_annotator.proto) are now available.

[2016-07-11 19:04] quartzmo opened #759 "Expand acceptance testing"
The current acceptance tests do not provide sufficient coverage. Tests should be added for all services, until we have the confidence to release without additional manual testing after making project-wide changes, such as those in #733 .

[2016-07-11 19:10] blowmage opened #760 "Switch Logging to Gax"
Update to use google-gax.

[2016-07-11 19:10] blowmage opened #761 "Upgrade Pub/Sub to Gax"
Upgrade to use the google-gax.

[2016-07-12 15:21] gramos74 opened #764 "chunk_size"
Some days ago I created a pull request https://github.com/GoogleCloudPlatform/gcloud-ruby/pull/757
because I realised that the chunk_size was removed from the version 0.11.

But I see now that it is available again in the master branch... so you can close it if you want.

[2016-07-12 16:32] blowmage opened #765 "Upgrade MIME Types dependency"
Ensure we are using the [columnar store](https://github.com/mime-types/ruby-mime-types#columnar-store) and the same version as the latest [Google API Client](https://github.com/google/google-api-ruby-client/issues/424#issuecomment-228154814).

[2016-07-12 16:38] gramos74 commented on #764
ops... this is a huge problem for us

which google api client version is ?

[2016-07-12 16:41] blowmage commented on #764
[0.9.11](https://rubygems.org/gems/google-api-client/versions/0.9.11)

[2016-07-12 17:00] #463 closed

[2016-07-12 17:50] gramos74 commented on #764
Ok, I will do a fork of 0.11 with my fix.

I will investigate that point with the new google api client unless you are faster than me :)

Thaks

[2016-07-12 18:07] quartzmo commented on #764
@gramos74 Much thanks for your help and input on this issue!

[2016-07-12 18:59] gramos74 commented on #764
The Hurley that the new google api client use is : https://github.com/lostisland/hurley ?

[2016-07-12 19:00] quartzmo commented on #764
Yes, correct. We are also aware of this (and concerned):

[2016-07-12 19:11] gramos74 commented on #764
ooohhhh... I'm shocked :o

[2016-07-12 23:37] quartzmo opened #766 "BigQuery API for creating View has changed"
The `query` attribute of `Table` in the BigQuery API (v2) is now nested within a `view` attribute, presumably to allow the addition of the experimental attribute `use_legacy_sql`. Our current implementation of `Dataset#create_view` needs to be updated for this change.

[2016-07-12 23:52] quartzmo opened #767 "Error querying view data"
I get this error when calling `View#data`:

[code]

Inspecting the `QueryRequest` protobuf values shows the query as: `SELECT * FROM bustling-kayak-91516:gcloud_ruby_acceptance_2016_07_12t23_42_36z_76938d38_dataset.urls`. The documentation indicates that the table/view `id` must be enclosed in square brackets. (Thus, it should be changed to: `SELECT * FROM [bustling-kayak-91516:gcloud_ruby_accepta

[2016-07-13 22:35] quartzmo opened #769 "Convert strings to numbers"
While converting to google-api-client `v0.9.9`, I noticed that numeric values in the BigQuery API are represented as strings in the google-api-client generated classes.

[code]

Pending a fix for google/google-api-ruby-client#439, these strings should be converted to the numeric types shown in the Rest API documentation.

[2016-07-15 17:52] blowmage opened #770 "Bug: TypeError resolving errors"
There is a bug if the GRPC or GAPI error can't be resolved.

`TypeError: superclass must be a Class (String given)`

[2016-07-15 18:46] blowmage opened #771 "Bug: Cors::Rule freezing GAPI object values"
The Cors::Rule object is using the GAPI object's arrays by reference,
and when the rule object freezes it is partially freezing the GAPI object.
Be sure to dup the arrays when creating a Cors::Rule from a GAPI object,
and when createing a GAPI object from a Cors::Rule object.

[2016-07-15 18:48] quartzmo commented on #771
Good find! Way to go.

[2016-07-15 19:17] blowmage opened #772 "Bug: File metadata changes not being persisted"
It is possible to modify the `File#metadata` hash in a `File#update` block and not have the values persisted.

[2016-07-15 19:24] blowmage opened #773 "Bug: Storage encryption keys don't work with default base64"
Since moving to the new Google API Client, calls with customer provided encryption keys raise an error. This is ultimately due to using the non-strict form of base64 encoding. Switch all uses of base64 encoding to be strict. The base64 decoding can remain un-strict.

[2016-07-15 23:29] #770 closed

[2016-07-15 23:29] #771 closed

[2016-07-15 23:29] #773 closed

[2016-07-18 16:34] dbenjamin57 opened #777 "Documentation links to master instead of latest release version"
This whole block of code doesnt work:

require "gcloud"

gcloud = Gcloud.new
bigquery = gcloud.bigquery
dataset = bigquery.dataset "my_dataset"

schema_fields = [
  Gcloud::Bigquery::Schema::Field.new(
    "first_name", :string, mode: :required),
  Gcloud::Bigquery::Schema::Field.new(
    "cities_lived", :record, mode: :repeated
    fields: [
      Gcloud::Bigquery::Schema::Field.new(
        "pla

[2016-07-18 16:36] quartzmo commented on #777
@dbenjamin57 Thanks for reporting this, I'll give it a try myself today. When you write "doesn't work", what do you mean? Do you get an error? Can you paste in a backtrace?

[2016-07-18 16:44] dbenjamin57 commented on #777
NameError: uninitialized constant Gcloud::Bigquery::Schema

[2016-07-18 16:52] quartzmo commented on #777
@dbenjamin57 Thanks a lot. I couldn't reproduce this on my first try, but I will continue to investigate. Which version of gcloud-ruby are you using?

[2016-07-18 16:57] dbenjamin57 commented on #777
I am using 0.11.

Just noticed that you removed this example in the new version of the documentation:
http://googlecloudplatform.github.io/gcloud-ruby/docs/v0.11.0/Gcloud/Bigquery/Dataset.html

In master (the doc version that opens initially) it still exists:
http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Bigquery/Dataset.html

[2016-07-18 17:01] quartzmo commented on #777
I can also reproduce this in `v0.11.0`.

[code]

[2016-07-18 17:08] quartzmo commented on #777
Using the big, red "Read the Docs" button at https://googlecloudplatform.github.io/gcloud-ruby/ should always bring you to the latest version instead of master, in case that helps.

[2016-07-18 17:12] dbenjamin57 commented on #777
Well.. take a look at your documentation - it leads to:
http://googlecloudplatform.github.io/gcloud-ruby/docs/master/Gcloud/Bigquery.html

[2016-07-18 17:15] quartzmo commented on #777
It's not that it "still exists" in master and was removed. The current version `v0.11.0` is *older* than master. `Gcloud::Bigquery::Schema` was introduced in [this recent commit](https://github.com/GoogleCloudPlatform/gcloud-ruby/commit/8817fd47e7ce270f5f5334dbb729cc2c25922d2e).

Which link did you use to reach the documentation for master? We are trying hard to direct to the latest version by def

[2016-07-18 17:21] dbenjamin57 commented on #777
Just below the bigquery section (and beneath the authentication) in the
main documentation there's a link to the documentation.
ᐧ

On Mon, Jul 18, 2016 at 8:15 PM, Chris Smith <notifications@github.com>
wrote:

[2016-07-18 17:29] quartzmo commented on #777
@dbenjamin57 Great, thank you for pointing that out! I'm going to leave this issue open until we can figure out what to do about those links, which continue to link to `master` even if you switch the version in GitHub.

Really appreciate your help!

[2016-07-18 17:40] quartzmo commented on #777
@dbenjamin57 We are going to update these Readme links to point to the latest release, rather than master. Thanks again.

[2016-07-18 20:32] quartzmo opened #780 "Error loading full representation from list item"
I get this error when calling some methods on `Table` instances returned by `Dataset#tables`:

[code]

The implementation of `data_complete?` in `Dataset`, `Table`, and `View` should be changed to test the presence of accesors with `respond_to?`. The current implementation is a remnant from when the gapi object was hash-like. Now the gapi objects for partial representations are actually different

[2016-07-18 21:27] blowmage commented on #780
So there are two different table classes, one with a minimal subset of data, and one with the full data. The object you have there is a [`Google::Apis::BigqueryV2::TableList::Table`](http://www.rubydoc.info/github/google/google-api-ruby-client/Google/Apis/BigqueryV2/TableList/Table), instead of a [`Google::Apis::BigqueryV2::Table`](http://www.rubydoc.info/github/google/google-api-ruby-client/Googl

[2016-07-18 21:45] quartzmo commented on #780
Sounds ok to me, I don't mind testing the class instead of relying on a duck-typing approach. Will do.

[2016-07-19 23:10] quartzmo opened #782 "Error updating frozen Dataset::Access"
Because calling `Dataset#access` without a block [freezes the underlying `@gapi.access` object](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/bigquery/dataset/access.rb#L97), a subsequent call to `Dataset#access` with a block that attempts to modify `@gapi.access` results in an error.

[code]

[code]

[2016-07-20 17:44] #782 closed

[2016-07-20 22:10] quartzmo opened #784 "Error in Job#rerun!"
I get this error while attempting to re-run a QueryJob instance that is otherwise consistently successful:

[code]

Inspecting the `configuration` that is passed to `Service#insert_job`, it looks like it is a hash, rather than a `JobConfiguration` instance, which is what is now expected by google-api-client 0.9:

[code]

[2016-07-21 19:10] blowmage commented on #772
This was fixed in ea78b85.

[2016-07-21 19:10] #772 closed

[2016-07-21 19:12] blowmage commented on #650
This change was made in ecd87f6032b9a3f498a6e0ed8ea08dee0d19dbed.

[2016-07-21 19:12] #650 closed

[2016-07-21 19:18] quartzmo opened #785 "Error granting a View access to a Dataset"
I get this error while attempting to grant Dataset access to a View:

[code]

[code]

[2016-07-21 19:28] blowmage commented on #756
The more I think of this, the more I think Updater is not correct. A better name is `Topic::Publisher` since the only thing this object does is publish. It does not represent multiple changes to the Topic the way an `Updater` does in other services.

@quartzmo Thoughts?

[2016-07-21 20:07] blowmage commented on #785
So happy you found this. Yay acceptance tests!

[2016-07-21 20:08] quartzmo commented on #756
Publisher seems better than Updater, I agree.

[2016-07-21 20:56] #756 closed

[2016-07-21 21:43] blowmage commented on #570
@gramos74 Thoughts on #788?

[2016-07-21 22:39] #765 closed

[2016-07-22 08:34] genghuiluo commented on #712
exactly same issue when install with jruby on Solaris10.

[2016-07-22 16:01] #766 closed

[2016-07-22 16:01] #767 closed

[2016-07-22 16:01] #769 closed

[2016-07-22 16:01] #780 closed

[2016-07-22 16:01] #784 closed

[2016-07-22 16:01] #785 closed

[2016-07-22 16:43] blowmage opened #789 "Renaming "Gcloud""
We have received word that we need to move away from use of "gcloud". This means we need to rename the library to "Google Cloud" and use a different top-level namespace. Consider the following code for the current library:

[code]

Here are the 3 most likely options:

1. Rename `Gcloud` to `Google`. This is likely the easiest for users are they can search/replace their code and the formatting rema

[2016-07-22 16:44] blowmage commented on #789
/cc @jgeewax @quartzmo

[2016-07-22 16:49] blowmage commented on #789
I like the boldness of option 1, but the flip-side of that is that option 2 is probably a safer approach. Also, the code example for option 1 might need to be the same as option 2. I haven't worked all the details out yet, but its possible that we need to create the main gcloud object using `Google::Cloud` even if datastore uses `Google::Datastore` and not `Google::Cloud::Datastore`.

I like optio

[2016-07-22 17:57] timanovsky opened #793 "QueryResults.next? keeps returning true forever under emulator"
Hello, I've finally got some time to upgrade from 0.8.2. I'm running into the problem running a query under emulator. Basically subject says it all. Query returns 1 entry, but `next?==true`, `.next` return 0 entries, but again `next?==true` and so on. With real cloud API it works fine returning one record. This btw results in `.all` hanging.
The emulator I downloaded from documentation page link:

[2016-07-22 18:00] timanovsky commented on #793
BTW, in the emulator log I don't see any new requests when I'm calling `.next`

[2016-07-22 18:04] quartzmo commented on #789
The `require` in option 1 is: `require "google/cloud"`, is that correct?

[2016-07-22 18:05] timanovsky commented on #789
Under rails option 2, which I like more regardless, would probably autoload without `require`, which is a plus.

[2016-07-22 18:21] blowmage commented on #789
Assuming the new gem will be named something like `google-cloud`, what if the old `gcloud` gem only provided a dependency on `google-cloud` and some files so the old requires continue to work. So in effect the `gcloud` gem becomes a compatibility layer from the existing pre-1.0 code to migrate to the 1.0 `google-cloud` code? Does that make sense?

[2016-07-22 18:30] timanovsky commented on #793
I found out that `cloud-datastore-emulator` (--no-leagacy) is now available in `gcloud` tool, does it mean separate download is nit necessary? Anyways it behaves the same. `next?` keeps returning `true`; `next` keeps returning `[]` without doing actual calls it seems.

[2016-07-22 18:33] timanovsky commented on #793
`.more_results == :MORE_RESULTS_AFTER_LIMIT` for initial and following query results

[2016-07-22 18:51] blowmage opened #795 "Update documentation references to Gcloud::Backoff"
`Gcloud::Backoff` is deprecated and removed since the Google API Client upgrade. The documentation should now direct users to control back this behavior with the `retries` optional argument on the service constructors.

[2016-07-22 18:51] blowmage opened #796 "Update documentation for uploads"
`Gcloud::Upload` is deprecated and removed since the Google API Client upgrade. The documentation should remove references to this module, as well as any associated options such as `chunk_size`.

There is also documentation on how to workaround issues with Faraday. Those should be removed as the Google API Client now uses Hurley.

[2016-07-22 19:28] timanovsky commented on #691
Hello, any updates on this? Unfortunately I have to `require "gcloud/datastore"` at the top, as I have several functions which do not need dataset object, but work with objects like`Gcloud::Datastore::Key`. It would be a mess to change all such functions to `require "gcloud/datastore"`inside.

[2016-07-22 19:38] timanovsky commented on #793
And, as a separate related issue, if understand semantics of `MORE_RESULTS_AFTER_LIMIT` correctly, `.all` should stop iterations once limit is reached. That would be logical from user standpoint.

[2016-07-22 20:41] #796 closed

[2016-07-22 20:42] #750 closed

[2016-07-22 21:42] #777 closed

[2016-07-22 23:50] #795 closed

[2016-07-22 23:54] blowmage commented on #793
I'll look at this over the weekend. That's frustrating that the live service and emulator behave differently. Thanks for letting us know @timanovsky!

[2016-07-23 06:45] timanovsky commented on #793
@blowmage if you want to reproduce, it is very basic ancestry query, no any other query params (no limit etc).
[code]

[2016-07-23 18:26] timanovsky commented on #793
You don't need ancestry query. Minimal code to reproduce the problem:
[code]

[2016-07-25 16:04] blowmage commented on #793
I've looked into this over the weekend and this appears to be a bug in the beta emulator. I didn't get the `cloud-datastore-emulator` to work for me, so I only used the emulator referenced in our documentation.

Normally, when a query has no more results it will return the value `NO_MORE_RESULTS`. But the emulator is not returning this, it instead returns `MORE_RESULTS_AFTER_LIMIT`. This makes it

[2016-07-25 16:20] blowmage commented on #793
@pcostell Can you confirm that this is a bug in the emulator? If so, how do we file an issue for it?

[2016-07-25 16:39] pcostell commented on #793
This is a known issue with the emulator, I'll find the public issue you can
track when I'm at a computer. This is a result of the emulator being built
on the Cloud Datastore API for App Engine, which only distinguishes between
NOT_FINISHED or not. Since the `more_results` flag is a hint (see below),
the only safe response when the query is finished is
MORE_RESULTS_AFTER_LIMIT.

Something to note:

[2016-07-25 17:04] blowmage commented on #793
@pcostell Interesting. So [currently](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/1666591f09370965fbdd662c8b6879710345051c/lib/gcloud/datastore/dataset/query_results.rb#L135-L137) gcloud-ruby is paginating based on whether `more_results != NO_MORE_RESULTS`. But since you say this should be changed to `more_results == NOT_FINISHED` we will make that change. Thanks for the guidance.

[2016-07-25 17:10] pcostell commented on #793
Importantly there are two features exposed through the `more_results` field: batching and paging.

Our desired behavior for RunQuery is a streaming API. If a user asks for a limit of N, we will give them a stream of up to N entities. We can then add some helpers on top of that to convert the stream to a list. Since we are still moving everything over to gRPC (which will allow this), we have a batc

[2016-07-25 17:15] pcostell commented on #793
I couldn't find an existing issue (I believe it lives in one of the other gcloud libraries). Here is one for the emulator: https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/130

[2016-07-25 17:31] blowmage commented on #793
Okay, so interestingly, with the change it is no longer possible to paginating with `#next` or `#all` after setting a limit in the query:

[code]

This is the desired behavior, right?

[2016-07-25 17:32] pcostell commented on #793
The use of `all` is a bit confusing to me. If the user wants all the results, they shouldn't set a limit.

[2016-07-25 17:36] blowmage commented on #793
Agreed, it doesn't mesh with `#limit` very well. Its intended to ease multiple paginations to get the desired results. Also for consistency with the other gcloud-ruby services. :)

[code]

[2016-07-25 21:53] quartzmo commented on #759
I mistakenly closed this issue in a commit message. Re-opening because the following services still need expanded acceptance testing:

- [ ] Datastore
- [ ] Logging
- [ ] Pub/Sub

[2016-07-26 18:56] blowmage commented on #789
It looks like we are going with option 2. 😄

[2016-07-26 19:22] blowmage commented on #789
@remi @nicolasnoble @pcostell @jgeewax What do you all think of renaming `Gcloud` to `Google::Cloud`?

[2016-07-26 19:52] pcostell commented on #789
/cc @dmcgrath

[2016-07-26 19:52] jgeewax commented on #789
I'm +1 to Google::Cloud and all the code in option 2:

[code]

(per http://guides.rubygems.org/name-your-gem/)

and then

[code]

I'm also OK calling stuff `client` or whatever... but we can use `gcloud` as a variable name if its convenient.

[2016-07-27 07:05] timanovsky opened #808 "Question / feature request: error handling / retries in Datastore"
**Question**: What is current error handling procedure and retry approach? Documentation says

However from the code (`service.rb`, `backoff.rb`) I see that operation is only retried in case of grpc code 14. What is this code? It is not documented. Does it cover rate limit back off? What about network errors?

In the past with API v2 I used the following list of exception to retry the operation (i

[2016-07-27 18:06] quartzmo commented on #808
@timanovsky Thank you for yet another well-written and thoughtful issue. Here are some supporting links: First, [the retry handling for gRPC](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/v0.12.0/lib/gcloud/backoff.rb#L114), which as you note, only tests for one error code: `self.grpc_codes = [14]` (which is `UNAVAILABLE `.)

The documentation that I could find for [gRPC status codes](ht

[2016-07-27 20:02] quartzmo commented on #808
Here is the [Datastore documentation for error codes](https://cloud.google.com/datastore/docs/concepts/errors#error_codes).

[2016-07-27 20:09] quartzmo commented on #808
It seems to me that retry handling (like a lot of things) should be **customizable with sensible defaults**. I agree that the smallest scope of customization should be a single method (API request), but it is also good to avoid duplication and support applying the same customization to multiple method calls. So I am wondering if an enclosing block might work.

  This would be similar to the age-ol

[2016-07-27 20:52] blowmage commented on #808
In the future the retry behavior will be controlled these [these GAX classes](https://github.com/googleapis/gax-ruby/blob/0fd4c80015b3b519d5c60e1410cfd9e1c57dc977/lib/google/gax.rb#L184-L232). I have no idea how (or if) gcloud-ruby exposes it. GAX should retry when needed, so I would tend towards ensuring that GAX behaves correctly over exposing the configuration in gcloud-ruby.

[2016-07-27 21:00] quartzmo commented on #808
I would personally hope that the GAX configuration is accessible when using gcloud-ruby with GAX.

@blowmage Any timeline on moving to GAX? Would it be worth it for me to attempt a PR supporting per-method retry configuration for gRPC in the meantime?

[2016-07-27 21:26] blowmage commented on #808
I wouldn't want to add to the existing API before we know exactly what we can support across Google API Client, gRPC, and GAX.

[2016-07-27 21:39] blowmage commented on #808
To answer the original question, retries are now handled by Google API Client for REST services, and the code that used to be `Gcloud::Backoff` for gRPC services. But moving forward, retries for the gRPC services will handled by GAX. This change may happen as soon as the next major release.

The challenge is how gcloud-ruby maintains a consistent API across REST and gRPC services, across different

[2016-07-27 22:18] quartzmo commented on #744
@blowmage Can we close this?

[2016-07-27 23:18] blowmage commented on #744
Looks like it.

[2016-07-27 23:18] #744 closed

[2016-07-28 06:24] timanovsky commented on #808
@quartzmo Thanks for the link to documentation. From what I see there `INTERNAL` should also be retried. It is recommended once, but... Also it looks like `RESOURCE_EXHAUSTED`is the quota exhaustion, then should not the library properly handle the back off?

And still not clear how network errors propagate (if they do) from grpc layer.

I have run the project on test setup for last 16 hours, but d

[2016-07-28 06:37] timanovsky commented on #808
Here are more error codes: http://www.grpc.io/docs/guides/error.html

[2016-07-28 16:44] quartzmo commented on #808
@timanovsky I'm very interested to hear what errors are raised in your fully-loaded deployment. Thanks again.

[2016-07-28 17:45] timanovsky commented on #808
@quartzmo See code snippet in my initial comment. All cases were added after seeing on production (except that 500..599 range was added in full). You may wonder about seeing `SSLError` but yes, it is indeed happening, and it is indeed transient. Just sometimes SSL handshake is rejected by server.

[2016-07-28 17:46] timanovsky commented on #808
@quartzmo Sorry, you probably meant new API. That I will be able to tell in a week probably

[2016-07-28 17:48] quartzmo commented on #808
@timanovsky Yes, I meant the new one. And trust me, we want to do all we can to make sure you can continue to upgrade your production deployment(s). If you have any chance to look into GAX, and if you find anything in it that concerns you, please let us know.

[2016-07-29 16:59] jmuk commented on #789
Hi,

Sorry I'm late on the party, but some of upcoming APIs somehow chose 'google/cloud' namespace (see proto files under https://github.com/googleapis/googleapis/tree/master/google/cloud), which might cause some confusions.

[2016-07-29 17:20] blowmage commented on #789
Yep. We are aware and are ensuring we are not conflicting with the ruby code generated from the protobuf files. Especially since gcloud-ruby will be consuming them! :)

[2016-07-29 20:11] dmcgrath commented on #789
+1 on Option 2 (gem: google-cloud, require "google/cloud, module Google::Cloud), especially since Datastore *is* cloud branded (Its formal name is Google Cloud Datastore).

[2016-07-29 20:17] quartzmo commented on #789
Update: PR #806 has been opened, implementing Option 2.

PTAL (as best you can; there are many changed files) and comment on the PR!

[2016-07-29 20:44] jmuk opened #810 "Documentation for Gapic-generated code"
I created a PR https://github.com/GoogleCloudPlatform/gcloud-ruby/pull/809 which brings gRPC client and automatically generated client code wrapper (we call it Gapic).

We intend this (Gapic-generated code) to be usable to the external users as well, so I want some mentions in the documentation https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.12.0/gcloud as well.

An idea is to have a l

[2016-07-29 20:44] jmuk commented on #810
Cc: @omaray

[2016-08-01 03:42] mpcm opened #811 "uninitialized constant Gcloud::Pubsub::Subscription::Hurley"
Hit this just a few moments ago:

`rescued...
uninitialized constant Gcloud::Pubsub::Subscription::Hurley`

specific line with issue: https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/master/lib/gcloud/pubsub/subscription.rb#L237

general search link: https://github.com/GoogleCloudPlatform/gcloud-ruby/search?utf8=%E2%9C%93&q=Hurley

Not sure if this is just left over and still needs removing

[2016-08-01 03:45] mpcm commented on #811
For those hitting this, looks like requiring hurley myself is a valid work around...
`require 'hurley'`

[2016-08-01 14:39] blowmage commented on #811
Hi @mpcm, thanks for opening this issue. The problem is that `#pull` is rescuing the wrong class. The latest Google API Client the dependency switched from Faraday to Hurley, but Pub/Sub is using gRPC, so the rescue is all sorts of wrong. We'll try to get a fix released for this today.

[2016-08-01 15:50] #793 closed

[2016-08-01 16:23] quartzmo commented on #811
@mpcm Thanks for catching this! I'm merging @blowmage's fix now and will release it soon (hopefully within an hour or so.)

[2016-08-01 16:24] #811 closed

[2016-08-02 05:22] timanovsky opened #814 "Unwanted debug prints in console"
Hi, with new 0.12.1 release I see messages on console like below when I start my application. As far as I remember, there were no with 0.11. It is not critical, but a bit nasty
[code]

[2016-08-02 12:38] mpcm commented on #811
Thanks.

[2016-08-02 23:39] blowmage commented on #814
Those logging statements are coming from [within the GRPC C code](https://github.com/grpc/grpc/blob/13d3e3b7e2538025148dd08956765eab516b2f0b/src/core/lib/iomgr/ev_posix.c#L106). The GRPC ruby gem loads the C code, and supports ruby's logger with `GRPC.logger`. However, log messages within the C code [does not use the same logging mechanism](https://github.com/grpc/grpc/blob/8fb6c924b54775be2d9fea5

[2016-08-03 22:12] #341 closed

[2016-08-05 12:08] timanovsky commented on #808
@quartzmo  That's the first error surfaced :
`Gcloud::InternalError: 13:{"created":"@1470385322.049611107","description":"OS Error","errno":32,"file":"src/core/lib/iomgr/tcp_posix.c","file_line":340,"os_error":"Broken pipe","syscall":"sendmsg"} `

`cause` :  `GRPC::BadStatus: 13:{"created":"@1470385322.049611107","description":"OS Error","errno":32,"file":"src/core/lib/iomgr/tcp_posix.c","file_lin

[2016-08-05 20:43] quartzmo commented on #808
Hmmmm, `"Broken pipe"`!

Any idea about this @blowmage?

[2016-08-05 20:49] blowmage commented on #808
No idea. It looks like a problem in the GRPC client though. What OS and hardware is this running on?

@murgatroid99 Do you have any input on this?

[2016-08-06 18:22] timanovsky opened #816 "Question/documentation: thread safety and concurrency"
Hello,
would be good to have documentation describing how to use the library in multithreaded environment. Does user need to create multiple say `Gcloud.datastore` objects, one per thread, or is it possible to use single object?
I currently assume the former and use a connection pool gem to manage connections.

[2016-08-08 14:57] timanovsky commented on #808
@blowmage This is on Heroku

[2016-08-08 14:59] timanovsky commented on #808
FYI, i have seen this exception (broken pipe) three times so far. I believe it is some form of socket error.  For now I added retry logic in case of this exception.
THis one https://github.com/grpc/grpc/issues/7661 worries me much more though.

[2016-08-08 17:01] quartzmo commented on #808
@timanovsky:

1. Is grpc/grpc#7661 possibly a gcloud-ruby bug?
2. Do you want to open a grpc issue for this [broken pipe error](https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/808#issuecomment-237834246)?
3. Are you happy with the latest gcloud-ruby retry implementation? If so, are you ok to close this issue?

[2016-08-08 17:12] timanovsky opened #817 "DataStore protocol error?"
Got this exception (Ruby) when reading from DataStore, as far as I understand it is while deserializing server response:

[code]
Probably it is more gcloud bug than grpc's one (https://github.com/grpc/grpc/issues/7661)

[2016-08-08 17:16] timanovsky commented on #808
1 & 2 makes sense. Here we go: #817; https://github.com/grpc/grpc/issues/7663
3. How I can be happy if I need to keep observing my live deployment to see which exceptions pop up to application layer and then implement retry logic there. Sorry.

[2016-08-08 17:44] quartzmo commented on #808
@timanovsky Makes sense. Can you suggest an API design for gcloud-ruby that will let you configure the retry implementation for arbitrary exceptions? The goal in my mind is that clients should never need to implement retry logic, but should have control over when retry occurs. (Do you agree?)

[2016-08-08 21:00] ylastic opened #818 "Cannot install on El Capitan 10.11.5"
Gem install results in this:

[code]

[2016-08-09 13:33] pchaganti opened #820 "Cannot create table in BQ"
[code]

[2016-08-09 14:26] pchaganti opened #821 "Build gem locally?"
Checked out latest src. Running rake build :

[code]

[2016-08-09 15:53] blowmage commented on #820
What version are you using? You want to make sure you are viewing the documentation for the same version you are using. The [v0.12.0 release](https://github.com/GoogleCloudPlatform/gcloud-ruby/releases/tag/v0.12.0) saw some changes to the BigQuery and Storage APIs as the project moves to 1.0, and it looks like you are using a pre-0.12.0 version.

[2016-08-09 15:56] pchaganti commented on #820
Switching over to the 0.12.1 version. Trying to build gem locally from sources. Running into this issue - https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/821

[2016-08-09 15:57] blowmage commented on #818
I don't understand why the installation started a compile. The grpc gem ships a [pre-compiled version](https://rubygems.org/gems/grpc/versions/1.0.0.pre1-universal-darwin) for OS X. Your install should have identified the pre-compiled gem and installed that instead.

What do you get when you run `gem install grpc`? Does it also attempt to compile the gem?

[2016-08-09 16:01] blowmage commented on #821
To build the v0.12.1 gem try checking out the `v0.12.1` tag instead of the master branch. The master branch is transitioning to a new source code layout and not all the guidance is up to date.

[2016-08-09 16:07] pchaganti commented on #820
Switched to the 0.12.1 tag. Works perfect!

thanks!

[2016-08-09 16:07] #820 closed

[2016-08-09 16:07] pchaganti commented on #821
Switched to the 0.12.1 tag. Works perfect!

thanks!

[2016-08-09 16:07] #821 closed

[2016-08-09 16:11] pchaganti commented on #818
Yes. I already have grpc installed.

[code]

Wondering if this is something specific to my mac environment. Will dig into this more and post back if I find anything.

thanks!

[2016-08-11 16:01] Hopperman opened #825 "Mysterious Pub/Sub timeouts if using any version past 0.6.3"
For some odd reason if I try and upgrade the gem version past 0.6.3 Gcloud pubsub stops working.

`gcloud = Gcloud.new('my_project_id', 'my_key')`
`pubsub = gcloud.pubsub`
works up until here:
`pubsub.topic = "my_topic"`

Just runs endlessly...  Any ideas on how I can better debug or figure out what's wrong?

I've tried 0.12.2 and 0.11.0

[2016-08-12 17:05] quartzmo commented on #825
@Hopperman Thanks for opening this issue! I tried to reproduce it myself using `0.12.2`. This is what I get:

[code]

Are you sure about the code you pasted in your description?

[2016-08-12 17:13] quartzmo opened #827 "How can separate packages load core without conflict?"
As we modularize into separate packages (see #813), we must ensure that separately-loaded gems' dependencies on `google-cloud-core` never conflict.

I am guessing that we must simply guarantee that `google-cloud-core` is always backwards-compatible. Failing that, we must move behavior that is not backwards-compatible to a new namespace. Any other ideas?

[2016-08-12 17:19] blowmage commented on #827
When we've discussed this before, we agreed that core will never conflict. So any change in behavior will have to be made in a backwards compatible way. Right now, the only things in core are the initial constructor, (`Google::Cloud.new`), the main credentials class, and the error classes.

[2016-08-12 17:21] quartzmo commented on #827
Great, just wanted to make sure about our explicit commitment here.

/cc @jgeewax

[2016-08-12 18:15] Hopperman commented on #825
@quartzmo No worries! thought it might be helpful to others who stumble upon the same issue

Pretty sure. I'll attach a screenshot from my terminal soon

[2016-08-12 23:19] quartzmo commented on #825
@Hopperman The method invoked in your code does not exist, either in the current version (`0.12.x`) or in earlier versions such as `0.6.x`. Can you try some other logic to test your upgrade?

[2016-08-12 23:24] Hopperman commented on #825
@quartzmo This is using the old version in my rails console
`rails c
Running via Spring preloader in process 57909
Loading development environment (Rails 5.0.0.rc1)
irb: warn: can't alias context from irb_context.
irb(main):001:0> Gcloud.new('comship-1198', File.open('./cs-pubsub-develop.json'))
=> #<Object:0x007f9eb927a510 @project="comship-1198", @keyfile=#<File:./cs-pubsub-develop.json>>
irb(ma

[2016-08-12 23:30] Hopperman commented on #825
Also wow that's weird because after I call pubsub.create_topic I can do this:

`irb(main):007:0> pubsub.topic "my-topic"
=> #<Gcloud::Pubsub::Topic:0x007f9eb85b9c40 @connection=Gcloud::Pubsub::Connection(comship-1198), @gapi=#<Google::APIClient::Schema::Pubsub::V1::Topic:0x3fcf5c2dced4 DATA:{"name"=>"projects/my-project/topics/my-topic"}>, @name=nil, @exists=nil>`

[2016-08-12 23:31] quartzmo commented on #825
In the description for this issue (above), you wrote:

[code]

not

[code]

[2016-08-12 23:34] quartzmo commented on #825
I can't reproduce any issue in `0.12.2`, it all works fine for me.

[2016-08-12 23:35] Hopperman commented on #825
My apologies, that must have been a typo.

Must be something wrong with my local environment then, will try a complete fresh install on a VM or different machine. Thanks for looking into this.

[2016-08-12 23:54] quartzmo commented on #825
Sounds good! If you don't find anything can you please close this issue? Cheers!

[2016-08-13 17:18] quartzmo commented on #825
When you do your fresh install, you might want to look for anything amiss with the installation of the `grpc` dependency. In all versions `0.7.0` and later, the Pub/Sub support uses gRPC for its transport layer.

[2016-08-13 18:13] Hopperman commented on #825
Will do, I think it might actually be grpc somehow. Will close once I've confirmed

[2016-08-15 07:40] timanovsky commented on #808
@quartzmo For me the retry API is a smaller problem than unknown/undocumented exceptions. The former is understood problem and if there is API in `gclud-ruby` I could use it, or I could use external retry logic. However not knowing what exceptions to expect and what returned exception classes really mean makes it very hard to build production grade system.

Nobody has answered yet what is throttli

[2016-08-15 11:02] jgeewax commented on #827
I agree that we need to follow this rule for the global constructor, but I thought we also settled that we'd put other stuff (ie, common iteration logic) in there that was common rather than repeating ourselves... If we don't, we're setting ourselves up for mistakes where `common_method_1` in one library is different than another - which is bad....

So given we'll have common logic in this core pa

[2016-08-15 14:11] blowmage commented on #827
Yes, this is what we discussed before. One example would be the incremental backoff, which is already replaced by Google API Client for JSON APIs, and will soon be replaced by GAX for GRPC APIs. We would have a common implementation of backoff as `Backoff#execute`, and if we needed some backwards compatible change we would introduce a new method such as `Backoff#execute2`. Or, if the change needed

[2016-08-15 15:10] blowmage opened #828 "Implement Natural Language Service"
Implement the Natural Language service. The implementation should use the GAX middleware. The Ruby API should be similar to Vision, by allowing multiple features to be run at once, or individual features to be run on a Document object.

[code]

Here are some remaining tasks, not all are needed for release.

- [x] Documentation pass!
- [ ] Enable retries configuration
- [ ] Check content string enc

[2016-08-15 15:18] blowmage opened #829 "Automate Individual Package Deployment to RubyGems"
With the switch from monolithic gem to individual gems, we need to replace the deployment task provided by Travis-CI that generated packages and pushed to RubyGems. The new mechanism should be aware of package-specifc git tags (`google-cloud-datastore:v1.2.0` vs. `v1.2.0`) and only deploy the appropriate gem. It might also check if the version identified in the tag matches the version in the code,

[2016-08-15 15:21] blowmage opened #830 "Automate Individual Package Documentation Build"
With the switch from monolithic gem to individual gems, we need to replace the previous build process that identifies new releases and generates the documentation. The new mechanism should be aware of package-specifc git tags (google-cloud-datastore:v1.2.0 vs. v1.2.0) and create a new version for the appropriate gem.

[2016-08-15 15:27] blowmage opened #831 "Update top-level guides to reflect individual gems"
The top-level guides (README, CONTRIBUTING, OVERVIEW) should be updated to reflect the switch to individual gems from the monolithic gem. Where appropriate, content can be moved from the top-level guide to individual guides.

[2016-08-15 15:31] blowmage opened #832 "Update individual README guides"
With the switch from monolithic gem to individual gems, each package now has a README. The individual README files are currently empty, and need to be updated with information about the gem. Since the README is not shared with other gems, we can provide more information about the service than we did previously. We have an opportunity to revisit the experience that users will have when becoming fam

[2016-08-15 16:41] quartzmo commented on #827
I think we are all in agreement as to how to manage breaking changes, as there are not a lot of options. What @jgeewax calls "path versioning", I call "a new namespace" and @blowmage calls "a new class".

@jgeewax I agree with your recommendation to aggressively refactor duplicated code to the core library.

[2016-08-15 17:22] quartzmo commented on #830
@blowmage To be clear, when a new version of an individual gem is released, a new version of the `gcloud-common` "bundled" gem will also be released, and new documentation published for both the individual and the bundled gems?

See [previous discussion on gcloud-common](https://github.com/GoogleCloudPlatform/gcloud-common/pull/157#issuecomment-237376667):

[2016-08-15 22:12] quartzmo commented on #808
@timanovsky I agree with all points. We will do our best to improve the documentation of the possible exception types, as well as to document the retry intervals.

[2016-08-16 14:54] ylastic opened #834 "Errors loading json.gz into BQ table"
I have a json file with 1 item in it. Testing loading it into BQ before we start ingesting 50GB files.

[code]

That works just fine and here is the result
[code]

Now if I gzip the exact same json file and try to load it, I get back an error.
[code]

Is there anything special we need to do to load gzipped json from GS into BQ?

thanks!

[2016-08-16 15:25] quartzmo commented on #834
@ylastic Thanks for opening this issue. I don't believe that gcloud-ruby explicitly supports loading gzipped JSON (there are no docs or tests covering it), and it's not mentioned in the BigQuery API docs afaik. However, I did find [documentation supporting importing gzipped JSON for the `bq` command-line tool](https://cloud.google.com/bigquery/bq-command-line-tool#creatingtablefromfile). I'll look

[2016-08-16 15:34] blowmage commented on #834
@ylastic What does your call to `Table#load` look like. In your first code sample you show loading a GCS URL, but in your output you show a Storage File object. Are you passing a URL or a Storage object?

More importantly, are you specifying the format? The ruby client cannot infer the format because the file extension shown in your Storage File has `.gz` appended to it, so you may need to make th

[2016-08-16 15:48] ylastic commented on #834
Passing a GS url in both cases.

Specifying json as the format seemed to have loaded it from GS into BQ. Will try this out with a bigger set.

Awesome! thanks for your help!

[2016-08-16 15:48] #834 closed

[2016-08-16 18:31] eddavisson opened #835 "Update gcloud-ruby/google-cloud-datastore to use the v1 API"
The v1 API is now available.

The protos are identical (just a different package name). The only behavioral change is captured in the release notes:
https://cloud.google.com/datastore/release-notes

[2016-08-16 22:27] quartzmo commented on #835
Hooray for `v1`! Thanks @eddavisson.

Nice to see these changes:

[2016-08-17 22:37] MatthiasWinkelmann commented on #818
I ran into the same problem on ```10.11.4 / ruby 2.3.1p112```. ```gem install gcloud``` fails, but for reasons I couldn't figure out – it worked when I included the gem in a Gemfile and used bundler.

[2016-08-17 22:41] blowmage commented on #818
@MatthiasWinkelmann Are you also using RVM?

[2016-08-17 22:59] MatthiasWinkelmann commented on #818
I'm using rbenv. A subsequent ```rbenv exec gem install gcloud``` also works, so it's either a problem with the default gem environment or it was solved by install via bundler.

I notice I have four versions of grpc in my gems:

[code]

```grpc-1.0.0.pre1``` is the failing compile. Venturing a guess I'd say something goes wrong when it tries to recognize the arch and it therefore doesn't use the p

[2016-08-18 00:06] quartzmo opened #837 "Document the new gcloud package"
Add documentation explaining that the `gcloud` gem is to be used to aid in the transition to `google-cloud` and multiple packages.

Currently in the multi-package documentation, there is no content at [/#/docs/gcloud/master/gcloud](https://quartzmo.github.io/gcloud-ruby/#/docs/gcloud/master/gcloud).

[2016-08-18 23:38] quartzmo commented on #831
This is related to #832.

[2016-08-18 23:42] quartzmo commented on #837
This is a special case of #832: In addition to the README, etc, some additional work is needed for the `Gcloud` module (the package landing page in the gh-pages docs).

[2016-08-22 16:49] bmclean commented on #808
@timanovsky We are seeing the broken pipe errors several times a day on Heroku as well.
[code]
Are you finding an application retry successful?

[2016-08-22 16:55] timanovsky commented on #808
yes, retrying has always been successful.

Best regards,
Alexey Timanovsky.

On 22 August 2016 at 19:49, Bryce McLean <notifications@github.com> wrote:

[2016-08-22 17:10] apolcyn opened #839 "issues with README instructions and gcloud gem"
I think this is related to https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/789 and https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/837.

The main README on the github page here says to `gem install gcloud`, and then `require google/cloud`.

Found that I needed to do

[code]

in order to use the package.

[2016-08-22 17:10] #832 closed

[2016-08-22 17:13] #830 closed

[2016-08-22 17:14] quartzmo commented on #839
@apolcyn The library is in transition to a new namespace in `master`. However, if you use the latest release (`0.12.2`), you should indeed use `require "gcloud"`. If you switch [the version in GitHub to the latest release](https://github.com/GoogleCloudPlatform/gcloud-ruby/tree/v0.12.2), the docs correctly show this.

[2016-08-22 17:35] quartzmo commented on #839
If you go to the docs site:

https://googlecloudplatform.github.io/gcloud-ruby/

and click the "Read the Docs" button, it should always bring you to the correct documentation version for the latest release (not `master`.) The examples here also display `require "gcloud"`.

[2016-08-22 17:35] #839 closed

[2016-08-22 19:00] quartzmo commented on #226
Bump! Is yard doc test an option?

[2016-08-22 19:03] jgeewax commented on #226
https://github.com/p0deje/yard-doctest

[2016-08-22 21:18] quartzmo commented on #816
@apolcyn Do you know? Given that the [`Google::Datastore::V1beta3::Datastore::Stub` instance is memoized](https://github.com/GoogleCloudPlatform/gcloud-ruby/blob/v0.12.1/lib/gcloud/datastore/service.rb#L46-L47), is using this single instance threadsafe?

[2016-08-22 21:53] apolcyn commented on #816
The client stub is thread safe, assuming a standard ruby interpreter like MRI.

The grpc client stub is meant to be able to make multiple calls from different threads on the same client.

[2016-08-22 21:56] quartzmo commented on #816
@apolcyn Thank you! I agree with @timanovsky that it would be good to mention this in the documentation. This issue should remain open until this done.

[2016-08-22 22:14] apolcyn commented on #816
I should even add that it's encouraged to use the same stub for as many calls as possible to the same serve. It's set up to be able to share multiple calls across a single http2 connection, and you should be able to get much better performance this way.

Thanks for bringing this up, this should be noted somewhere in grpc ruby docs if it's unclear.

[2016-08-22 22:38] quartzmo commented on #831
@blowmage What do you think about replacing the current content in CONTRIBUTING.md with a referral list of links to the gh-pages docs pages for contributing? Something like:

[2016-08-22 22:39] quartzmo commented on #831
The duplication between CONTRIBUTING.md and https://googlecloudplatform.github.io/gcloud-ruby/#/docs/v0.12.2/guides/contributing seems undesirable...

[2016-08-22 22:47] bmclean commented on #816
@apolcyn In issue #691 we had discussed using a Rails initializer with one datastore object for each web server thread instead of one datastore object for all threads. Something like this:

`Thread.current[:dataset] ||= Gcloud.datastore(config)`

To confirm, we would be better off using one datastore object shared across all threads?

`@dataset ||= Gcloud.datastore(config)`

[2016-08-22 22:50] quartzmo commented on #816
@apolcyn If you can find mention of this in the gRPC docs, please link it here! I searched earlier today, but couldn't find it.

[2016-08-22 23:32] apolcyn commented on #816
@bmclean yes it should be better to use a single client stub from a performance perspective, and there shouldn't be any reason not to use the same client as long as you have the same channel settings on all of them (e.g., all of the client stubs that you're creating use the same channel credentials, and are all set to make calls to the same server).

[2016-08-23 20:06] quartzmo opened #842 "Add gcloud-ruby to gcloud-common deploy_docs script"
After the release of the new jsondoc for multiple packages, gcloud-ruby should be added to the list of client libraries in [deploy-docs.sh](https://github.com/GoogleCloudPlatform/gcloud-common/blob/master/deploy-docs.sh). GoogleCloudPlatform/gcloud-common#168 did this for gcloud-python.

[2016-08-23 20:06] quartzmo commented on #842
This will automate updates to the gcloud-common Angular app and site styles.

[2016-08-24 07:25] nicolasnoble commented on #817
I have created a full bug report on protobuf, since this is the relevant code base for this one: https://github.com/google/protobuf/issues/2004

[2016-08-24 11:45] blowmage commented on #817
Thanks @nicolasnoble!

[2016-08-24 14:59] #842 closed

[2016-08-24 21:46] blowmage commented on #828
I think we may have to release without the retry configuration settled. See #848 and #849.

[2016-08-24 22:07] #835 closed

[2016-08-24 23:02] #837 closed

[2016-08-24 23:19] blowmage commented on #758
We should switch Vision to using GAX as well as GRPC.

[2016-08-24 23:21] blowmage opened #850 "Upgrade Datastore to use GAX"
Upgrade to use the google-gax.

[2016-08-25 18:22] blowmage commented on #789
@omaray @jgeewax The repo was renamed to `google-cloud-ruby` and everything looks to be working great. The namespace change will be released tomorrow and then this issue will be closed.

[2016-08-25 18:40] quartzmo opened #853 "Should Logging support Stackdriver Logging error reporting JSON?"
Should we make it easy for Ruby users to report errors in Stackdriver Logging's native format?

https://cloud.google.com/error-reporting/docs/formatting-error-messages

How best to expose this support?

Thanks to @stevenkroon for the suggestion.

/cc @dazuma

[2016-08-25 19:15] blowmage commented on #827
Gonna close this. Please reopen if there are more questions.

[2016-08-25 19:15] #827 closed

[2016-08-26 06:55] Dragor2 opened #857 "Cannot query entities with embedded entities"
I ran into this problem while messing around with datastores to get an idea of how to use them, but ran into the following error:

I created a small ruby script to reproduce the issue. Follow these steps to reproduce:

1.  Create 2 Entities in a cloud datastore via the Google Console. One that has an Embedded Entity, other that doesn't have one.
2. Run the following script (adjust according to you

[2016-08-26 12:41] blowmage commented on #857
Thanks for reporting the issue!

[2016-08-26 14:57] #857 closed

[2016-08-26 21:30] quartzmo commented on #831
I forgot to update CONTRIBUTING.md. Reopening.

[2016-08-26 21:44] quartzmo commented on #831
Regarding contributing, these are the services with acceptance tests:

google-cloud-bigquery
google-cloud-datastore
google-cloud-dns
google-cloud-language
google-cloud-logging
google-cloud-pubsub
google-cloud-speech
google-cloud-storage
google-cloud-translate
google-cloud-vision

(all but resource manager)

[2016-08-27 14:51] pchaganti opened #865 "Docs for 0.20.0 for BQ not working"
Unable to browse the docs for BQ with the latest release.

Clicking on https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.20.0/google/cloud/bigquery/dataset loads up the main page.

[2016-08-27 14:55] blowmage commented on #865
Thanks for the report. We'll get it fixed.

[2016-08-29 00:21] omaray commented on #789
Sweet!

[2016-08-29 14:48] blowmage commented on #789
This was released Friday in v0.20.0.

[2016-08-29 14:48] #789 closed

[2016-08-29 14:49] blowmage commented on #828
This was released Friday in v0.20.0

[2016-08-29 14:49] #828 closed

[2016-08-29 14:49] blowmage commented on #850
@jmuk Do you know when we will get GAPIC support for Datastore?

[2016-08-29 14:52] blowmage commented on #817
@timanovsky Can you retry this using the recent 0.20.0 release? That version is the first to use the grpc 1.0 and google-protobuf 3.0 releases.

[2016-08-29 14:53] blowmage commented on #818
@ylastic @MatthiasWinkelmann Can you try using the recent 0.20.0 release? It is using a newer grpc version.

[2016-08-29 14:59] blowmage commented on #814
@timanovsky The 0.20.0 release uses grpc 1.0 and it looks to me that the polling library chosen is no longer being printed. Can you verify and close this issue? Thanks!

[2016-08-29 15:00] blowmage commented on #740
@quartzmo Can you make sure the documentation is correct?

[2016-08-29 15:02] blowmage commented on #717
@buithehien1991 Does this answer your question? If so, can this issue be closed?

[2016-08-29 15:03] blowmage commented on #691
Does the 0.20.0 release using grpc 1.0 change this at all?

[2016-08-29 15:09] #269 closed

[2016-08-29 15:09] blowmage commented on #269
This should have been closed by #733.

[2016-08-29 15:13] quartzmo commented on #740
Yes, I'll look into it.

[2016-08-29 15:17] blowmage opened #866 "Remove "gcloud" from project site"
The homepage still shows the project as "gcloud". Update project references and code examples to "Google Gloud".

[2016-08-29 15:33] quartzmo commented on #865
@pchaganti The BigQuery docs paths are fixed now. Thanks again for reporting this error!

[2016-08-29 15:33] #865 closed

[2016-08-29 22:38] bmclean opened #868 "Datastore - 0.20.0 - Ancestor query structure has changed"
We see differences in the construction of query ancestors when upgrading from `gcloud 0.12.2` to `google-cloud-datastore 0.20.0`. For example:

[code]
Inspecting ancestor_int_key and ancestor_string_key using `gcloud 0.12.2`:
[code]
Inspecting ancestor_int_key and ancestor_string_key using `google-cloud-datastore 0.20.0`:
[code]
This change doesn't seem to be causing any problems (except with our

[2016-08-29 23:22] bmclean commented on #817
@blowmage We just pushed 0.20.0 to our staging environment today and have not seen it yet. We did also upgrade to Ruby 2.3.1, which seems to make it less likely to occur.
https://github.com/google/protobuf/issues/2004 already has a pull request which is fantastic!

[2016-08-29 23:24] quartzmo commented on #868
@bmclean Yes, this is correct. The change from `nil` values to defaults such as `""` and `0` is due to [this correctness fix](https://github.com/google/protobuf/blob/master/CHANGES.txt#L127) in google/protobuf. We have had to update our tests for this behavior. It sounds like you'll need to do the same. Thanks for reporting!

[2016-08-29 23:28] quartzmo commented on #868
Oops, maybe I replied too quickly. The `id` and `name` fields do not seem likely to be `oneof` fields. I'll keep this issue open and look into it.

[2016-08-29 23:30] blowmage commented on #868
Yes, instead of testing the `id` and `name` values, try testing the key object's `id_type` value. See 5351cc9fddbec35f5efc1b1ed57a9901cc464b90

[2016-08-29 23:32] blowmage commented on #868
Oops, sorry. Wrong commit. I meant 243227c5664268d2fb80122c6ebb361d0315d8f6

[2016-08-30 02:33] bmclean commented on #868
@blowmage `id_type` is perfect. Thanks!

[2016-08-30 02:33] #868 closed

[2016-08-30 17:29] bmclean commented on #691
@blowmage No, the problem still exists with 0.20.0.

[2016-08-30 17:39] pcostell opened #869 "Emit header for gRPC messages"
gRPC connections currently don't have enough information in the request for us to do efficient traffic management/routing.

Will you add a header that allows for us to optimize for this on the server? The header format is:

[code]

In general, the prefix would be the same as the JSON-over-http URL up to any custom method. For example, a Cloud Datastore commit message over JSON would hit the url `p

[2016-08-30 18:50] omaray opened #870 "Verify case of headers"
**This might be a no-op, but please double check. Filing this issue just in case.**

We need to ensure that all headers used for gRPC are written in lower-case. Please review this [Pull Request](https://github.com/GoogleCloudPlatform/gcloud-python/pull/2212) for reference of what needs to be updated.

Again, perhaps this doesn't apply to your language. Feel free to comment and then close the issue

[2016-08-30 18:53] quartzmo commented on #870
Thanks for the heads-up @omaray! Will do.

[2016-08-31 20:35] whitmanc opened #873 "Datastore: Google::Cloud::InvalidArgumentError: 3:The referenced transaction has expired or is no longer valid"
Hello. What does this error mean? Is there any way to find further information about it?

This only happens on `0.12.2`, and not on `0.7.2`, and only on a staging server, not locally.

Any idea what might be going on? Currently, the only way to fix this is to run `0.7.2`, but `0.7.2` won't work locally then due to an auth error. Something seems seriously wrong

[2016-08-31 20:38] blowmage commented on #873
Ho @whitmanc, thanks for opening the issue. Does this happen all the time? Or just for specific operations? Can you give us some code that reproduces the error?

[2016-08-31 20:39] blowmage commented on #873
A backtrack would also be very helpful.

[2016-08-31 20:45] whitmanc commented on #873
We're working to try to extract code which can reproduce it for you. Is there anything internally in particular that might raise the error?
 cc @emboss

[2016-08-31 20:48] blowmage commented on #873
The error is coming from the Datastore service. So it is either something you are sending, or something the google-cloud library is sending. It depends on what endpoint you are hitting when the error occurs. The more info you can give us the more we can help you with this.

[2016-08-31 20:49] whitmanc commented on #873
@blowmage Preparing stack trace, code snippets, etc. for you now as your message was received :)

[2016-08-31 20:52] whitmanc commented on #873
@blowmage In the meantime, let me share some of the code with you and the full stack trace:

[code]

<img width="1055" alt="screen shot 2016-08-31 at 1 48 38 pm" src="https://cloud.githubusercontent.com/assets/1023159/18145872/ea5347ce-6f81-11e6-9713-4e0ede33f01b.png">

<img width="768" alt="screen shot 2016-08-31 at 1 51 12 pm" src="https://cloud.githubusercontent.com/assets/1023159/18145905/0bba

[2016-08-31 21:07] blowmage commented on #873
A few more follow up questions:

1. Does this error happen all the time or intermittently?
2. Does this happen on both save and delete? Or does this happen on just one of those?
3. What is the error that is being rescued in the `sync` method?
4. Does this happen with 0.20.0?

[2016-08-31 21:09] blowmage commented on #873
Another follow up, I can recreate this error by trying to rollback a transaction that has already been committed:

[code]

[2016-08-31 21:23] whitmanc commented on #873
1. All the time it seems, although the 1 time we tried to rescue the specific error, then it worked. Se  num 3 below
2. Save & delete both have the issue
3.  Strangely, when we did this before posting this ticket, the save worked and it didn't throw an error, and it was the only time it seemed to work. Going to follow up with more info, working on this with @emboss now
4. Happens with 0.20.0 as we

[2016-08-31 23:54] emboss commented on #873
@blowmage Thanks for taking care! I wasn't able to reproduce the original error, but I have found a very easy way to reproduce the original error that lead us on this path :)

After updating from `0.7.2`, we noticed that the application just hung itself up after calling `datastore.transaction`. No error, no timeout, it just hangs. This happens only on our staging server, but at least I was able to

[2016-09-01 04:25] bmclean opened #874 "Compatibility with Datastore Emulator from Cloud SDK 124.0.0"
After upgrading the gcloud sdk command line tools to version 124.0.0 (2016/08/31) the cloud_datastore_emulator doesn't work with gcloud-ruby.

I start the datastore emulator like this:

`cloud_datastore_emulator start --port=8180 tmp/local_datastore`

with the following:

`ENV['DATASTORE_EMULATOR_HOST'] = 'localhost:8180'`

When I attempt to connect to the datastore this exception is thrown:

`'Go

[2016-09-01 14:02] blowmage commented on #873
Hi @emboss, that actually sounds like a different problem than the one that this issue was opened for. There are some lingering issues running the GRPC client in a threaded environment line Puma. See #691 for more detail there. So far we have been unable to diagnose the problem, but there are several workarounds identified on that issue that seem to be working.

[2016-09-01 14:03] blowmage commented on #874
@pcostell Any input here?

[2016-09-01 14:14] whitmanc commented on #873
@blowmage Happens on Apache as well.

[2016-09-01 14:40] whitmanc commented on #873
@blowmage is there any idea why the problem happens on one system (Ubuntu / Passenger)  but not another (OS X El Capitan / Puma)?

[2016-09-01 15:36] pcostell commented on #874
Looks like a bug on our side. I'll dig into it.

On Thu, Sep 1, 2016, 8:17 AM Mike Moore <notifications@github.com> wrote:

--

Patrick Costello |  Cloud Datastore |  Software Engineer |
pcostello@google.com

[2016-09-01 15:55] blowmage commented on #874
Thanks @pcostell! ❤️

[2016-09-01 15:59] blowmage commented on #873
The problem in environments like Puma seems to be about the GRPC client in a forked process hanging. The original problem you opened this issue about seems to be different. It seems to me that you are calling rollback on a transaction object that is already committed. So the process isn't hung. I'd still really like to know what the error that your code is capturing is.

[2016-09-01 16:52] pcostell commented on #874
@bmclean Do you have a code snippet to reproduce?

[2016-09-01 17:23] whitmanc commented on #873
@blowmage I wish I could help you help me more, haha. I feel like I'm not doing everything I can to aid you, but am not sure what else to provide... not getting any information other than what is posted unless I am missing something.

I'd be happy to screen share and reproduce for you, but obviously wouldn't expect such support

Our current plan is to try one of the workarounds in #691, see if one

[2016-09-01 17:36] bmclean commented on #873
@whitmanc In your different systems (Ubuntu / Passenger / Apache) vs (OS X El Capitan / Puma) is Rails always running in production mode? Or is one of those running in development mode?

[2016-09-01 17:38] whitmanc commented on #873
@bmclean Rails is in development mode when running locally on El Capitan, staging mode when on Ubuntu

[2016-09-01 18:21] bmclean commented on #873
@whitmanc If your hanging problem is related to the GRPC forked process issue (#691), you might not see it when Rails is running in development mode. One difference between Rails development and production environments is that eager loading is enabled at boot for production environments. If the grpc library is initialized prior to the web server forking, the sub-processes don't have correct initia

[2016-09-01 19:18] blowmage commented on #873
FWIW, I think that #875 may help with being able to use Google Cloud libraries from the main process before sub-processes are created.  PTAL

[2016-09-01 19:22] blowmage commented on #691
Can you take a look at #875? I think it might help remove the need for `const_missing` hacks. It should even allow you to create a `Google::Cloud::Datastore::Dataset` object in an initializer as long as you don't make any API calls with it before Puma forks the sub-processes.

[2016-09-01 19:43] bmclean commented on #874
@pcostell

[code]
will throw:
[code]

[2016-09-01 19:47] bmclean commented on #874
One difference I see between emulator versions when launching is this:

Version 123.0.0:
[code]
Version 124.0.0:
[code]

[2016-09-01 20:12] pcostell commented on #874
Thanks @bmclean. We've identified the issue, looks like we'll miss the 125.0.0 release, but gcloud 126.0.0 will pick up the new version.

[2016-09-01 21:56] whitmanc commented on #873
@blowmage I'm trying your branch now. Locally first, then on the server. Meanwhile, @emboss is trying @bmclean's fix

Will follow up

[2016-09-01 22:45] Aguasvivas22 opened #876 "uploading large file: execution expired"
script to upload file.
[code]

When uploading 1.8 GB file.
[code]

with and without the 300s timeout, it always errors out after about 1m 30s.

this only started recently and we were using gcloud 0.10.0.
I've since upgraded to google-cloud-storage, 0.20.0, but getting the same result.

I'm not sure if there's even a connection made or if it breaks, hangs, etc...

Is there anything I can add to get

[2016-09-01 22:48] emboss commented on #873
Thank you so much for your support guys. Great news, we were able to solve it!

We were using a singleton instance that was created in an initializer. Requiring `gcloud/datastore` and the datastore instance itself lazily as shown in #691 solved the issue for us. It's also working locally in the console now, no more problems here.

@blowmage For whatever reason I wasn't able to reproduce the origin

[2016-09-01 22:51] bmclean commented on #874
@pcostell Does the addition of proto-over-HTTP and JSON support mean we can use the cloud_datastore_emulator with the App Engine Python SDK dev_appserver.py?

[2016-09-01 23:01] pcostell commented on #874
It would mean you could hit it manually from a dev_appserver using normal http request methods. However it is not in any way integrated into the App Engine development environment.

[2016-09-01 23:29] blowmage commented on #873
@emboss Would it be possible to try the branch in #875 without the workaround in #691?

[2016-09-01 23:34] bmclean commented on #874
@pcostell OK, thanks.

[2016-09-01 23:41] bmclean commented on #691
@blowmage Sure, I will give it a try.

[2016-09-01 23:57] bmclean commented on #691
@blowmage I tried your branch:
`:git => 'https://github.com/blowmage/gcloud-ruby.git', :branch => 'grpc-delay-require'`
Using an initializer like this:
[code]
and Puma works fine configured with 2 workers.

[2016-09-02 00:04] blowmage commented on #691
Great. Thank you!

[2016-09-02 00:46] whitmanc commented on #873
@blowmage I will do it still, it's the least I could do since you've been so helpful. Will follow up, wrapping up other daily priorities and will swing back around to this

[2016-09-02 02:51] whitmanc commented on #873
@blowmage Your branch (#875) resolves the hanging issue locally and when deployed on the server. Hallelujah! cc @emboss @bmclean

Thanks again everyone.

[2016-09-02 02:54] blowmage commented on #873
Okay, I'll get that merged and release some point releases tomorrow. Let me know when you get a reproduction on this issue.

[2016-09-02 03:00] whitmanc commented on #873
Sweeet! That's great news, we can reference the gem normally then once released. Will let you know if the error in the title comes up.

[2016-09-02 15:40] blowmage commented on #876
@Aguasvivas22 Thanks for opening the issue. I've been looking into it. Hope to update you on this later today.

[2016-09-02 15:45] blowmage commented on #876
@Aguasvivas22 Can you tell me which version of google-api-client you are using?

[2016-09-02 16:11] Aguasvivas22 commented on #876
Hey @blowmage, thanks for looking into this.

I'm using google-api-client (0.9.12)

[2016-09-02 20:59] blowmage commented on #876
Hi @Aguasvivas22, I found the problem. `google-cloud-storage` uses Google API Client for Ruby to connect to the Storage service, and there are two main timeout settings: `timeout_sec` and `open_timeout_sec`. Unfortunately we are only configuring one of the settings, but I have opened #878 to fix this. As soon as the build passes I'll cut new releases of the gems that need this configuration change

[2016-09-02 21:07] blowmage commented on #876
Here is some data I've collected for the behavior of Google API Client's `timeout_sec` and `open_timeout_sec` on Ftorage file uploads. The default for `open_timeout_sec` was set to 20, so the ~90 second execution time you saw was the original request and the 3 retries. Basically, `timeout_sec` is the setting that gets used for most API requests, but `open_timeout_sec` is the setting that gets used

[2016-09-02 23:04] #876 closed

[2016-09-02 23:32] Aguasvivas22 commented on #876
Thanks for the details @blowmage.

Follow-up question:

does "open_timeout_sec" determine the max time an upload can take? Asking since our uploads usually take over a minute so wondering why it only started failing a couple days ago.

Thanks

[2016-09-02 23:52] blowmage commented on #876
The version Google API Client for Ruby was recently changed [starting in v0.12](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/v0.12.0). It introduced some changes to the HTTP stack that are likely responsible.

I'm just waiting on the CI build to complete so I can release.

[2016-09-02 23:58] Aguasvivas22 commented on #876
Cool, well thanks a lot for jumping on this so quickly!

[2016-09-03 06:19] blowmage commented on #876
This is fixed in `google-cloud-storage` v0.20.1. Please update and let us know if it fixes this for you.

[2016-09-03 20:57] ylastic commented on #818
Confirming that not having this issue with the 0.20.0.

thanks!

[2016-09-03 21:00] blowmage commented on #818
Fantastic! Thanks @ylastic!

[2016-09-04 14:35] blowmage commented on #869
Is this needed just for Datastore? Or does every service using GRPC to connect need this as well?

[2016-09-04 16:23] pcostell commented on #869
This will be needed for all services though we are working with the gRPC team to expose this information automatically.

/cc @eddavisson

[2016-09-04 23:56] omaray opened #879 "Update google-cloud-ruby landing page to rename "gcloud" (where appropriate)"
The current [Landing Page for Ruby](https://googlecloudplatform.github.io/google-cloud-ruby/#/) mentions "gcloud" still. We should update to "google-cloud" as appropriate. The [Landing Page for Node](https://googlecloudplatform.github.io/google-cloud-node/#/) is a good reference.

_Note: if this is not the right place to file the issue (perhaps in gcloud-common?) feel free to close of course and r

[2016-09-05 18:15] quartzmo commented on #879
Dup of #866, which was closed, but the gh-pages branch was never updated with the change. Done now.

[2016-09-05 18:15] #879 closed

[2016-09-05 18:17] blowmage commented on #879
Thanks @quartzmo!

[2016-09-06 11:34] erikaxel opened #880 "Google Vision doesn't seem to work with gs:// URLs"
Hi, when doing this in my console:
[code]
I get the following error:
```NameError: undefined local variable or method `url' for #<Google::Cloud::Vision::Image:0x007fa378e33348>```

It comes from the to_s method in image.
If I try to use a method directly to avoid the to_s, such as:
`text = vision.image('gs://my-project.appspot.com/my-image').text`

I get the following error
`Google::Cloud::Invalid

[2016-09-06 14:18] timanovsky commented on #817
ok, will try in next couple of days and will report

Best regards,
Alexey Timanovsky.

On 29 August 2016 at 17:52, Mike Moore <notifications@github.com> wrote:

[2016-09-06 14:18] timanovsky commented on #814
ok, will check

Best regards,
Alexey Timanovsky.

On 29 August 2016 at 17:59, Mike Moore <notifications@github.com> wrote:

[2016-09-06 14:21] #825 closed

[2016-09-06 14:53] blowmage commented on #880
Hi @erikaxel, thanks so much for opening this issue! I identified the problem and submitted a patch for it. I hope we will have this reviewed, merged, and released today.

Thanks again for making us aware of this!

[2016-09-06 15:36] #880 closed

[2016-09-06 15:37] quartzmo commented on #880
@erikaxel Thank you for reporting this. The fix is on the way.

[2016-09-06 15:45] blowmage commented on #825
@Hopperman Did you find the problem?

[2016-09-06 15:45] erikaxel commented on #880
That was quick! Thank you very much. I can verify that it now works. (I checked out source locally and tested it)

[2016-09-06 15:49] Hopperman commented on #825
@blowmage  Yep, I started seeing gRPC errors. Not sure why yet but I'm guessing it's my environment. Will reopen another, more specific, ticket if I can't manage to fix it.

[2016-09-06 15:50] blowmage opened #883 "Revert User Agent to "gcloud-ruby""
The user agent values were changes during the modularization conversion. Revert them back to use "gcloud-ruby". See GoogleCloudPlatform/gcloud-common#179

[2016-09-06 15:51] blowmage commented on #825
@Hopperman More info would be terrific. Let me know if you want to remote pair on it.

[2016-09-06 15:54] Hopperman commented on #825
@blowmage thanks! that would be amazing. Will keep you posted, busy implementing pubsub (again) in another service where I'll be using the latest versions. So I'm pretty sure I'll run into it soon.

[2016-09-06 16:37] eddavisson commented on #869
As @pcostell notes, our eventual goal is to build this into the gRPC layer, but we'd like to get something in place in the meantime.

[2016-09-06 17:42] Aguasvivas22 commented on #876
upgraded and confirmed.

thanks!

[2016-09-06 19:10] blowmage commented on #880
This is resolved in [google-cloud-vision v0.20.2](https://rubygems.org/gems/google-cloud-vision/versions/0.20.2). Thanks!

[2016-09-07 21:33] quartzmo commented on #691
Does the 0.20.1 release (with PR #875) resolve this issue?

[2016-09-07 21:34] quartzmo commented on #873
Does the 0.20.1 release (with PR #875) resolve this issue?

[2016-09-08 00:06] omaray commented on #870
Hey folks, are we good here? Can we close?

[2016-09-08 01:55] quartzmo commented on #870
I believe that in google-cloud-ruby, gRPC headers are never set directly. See this [Pub/Sub stub initialization code](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/service.rb#L43-L57) for an example similar to that in the Python PR above.

Closing. (@blowmage: Please affirm or re-open, thanks!)

[2016-09-08 01:55] #870 closed

[2016-09-08 01:57] blowmage commented on #870
I'm not aware of any custom headers in the GRPC service implementations.

[2016-09-08 22:34] bmclean commented on #691
Yes.

[2016-09-08 22:37] blowmage commented on #869
I thought I understood how to set custom headers in the GRPC client, but it turns out I was confused. Can you point us to some documentation on configuring the GRPC client or making API calls with custom headers? @jmuk is there anything in GAX that exposes this?

[2016-09-08 23:25] bmclean opened #888 "How to read datastore blob values created as ndb compressed JsonProperty"
We have entities in our datastore that were previously created using the ndb [JsonProperty](https://cloud.google.com/appengine/docs/python/ndb/entity-property-reference) with `compressed=True`. For example:
`ndb.JsonProperty(compressed=True)`
How do we use these with google-cloud-datastore? After we retrieve the entity the property is a StringIO object, so we tried this:
`Zlib::GzipReader.new(enti

[2016-09-08 23:33] blowmage commented on #888
All blob values will be returned as a StringIO object. I am not familiar with ndb or its compression configuration. Is the value readable as a JSON stream? Or does it look t be compressed?

[2016-09-09 01:01] quartzmo commented on #691
@timanovsky Can you confirm 0.20.1 release (with PR #875) as a fix?

[2016-09-09 04:20] jmuk commented on #869
It seems a bit obscure, but gRPC sends the custom metadata as the headers, see https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

Metadata can be specified for individual method call with optional `metadata:` parameter. For Ruby, the keys are `Symbol` for some reasons, and the values are string.

In GAX, `CallOptions` has `kwargs` which are (I think) used as the HTTP headers in gRPC:

[2016-09-09 04:24] bmclean commented on #888
Here is an example of the value of a compressed JsonProperty straight out of the datastore:
[code]
If I run this:
[code]
I get the correct result. However, I can't see how to perform the equivalent on the StringIO object that is returned using google-cloud-datastore.

[2016-09-09 04:28] blowmage commented on #888
What about this?

[code]

[2016-09-09 04:40] bmclean commented on #888
Yes, thank you that works. I had tried:
[code]
which gives Zlib::BufError (buffer error) but I didn't think to try read.

[2016-09-09 04:40] #888 closed

[2016-09-09 12:08] #814 closed

[2016-09-09 13:02] blowmage commented on #888
Glad it worked!

[2016-09-09 13:07] timanovsky commented on #691
Seems to work, thanks for fixing this!

[2016-09-09 13:07] #691 closed

[2016-09-09 16:59] quartzmo commented on #869
Thank you @jmuk! That is very helpful.

[2016-09-09 20:45] quartzmo commented on #873
@whitmanc Can we close this issue?

[2016-09-09 22:47] blowmage opened #889 "Add AppVeyor integration to GitHub"
We should follow the [AppVeyor documentation](https://www.appveyor.com/docs/notifications/#github-pull-request) and get notifications on builds on GitHub pull requests.

[2016-09-09 23:14] swcloud opened #890 "Add clouderrorreporting API using Gapic generated code"

[2016-09-12 06:02] timanovsky commented on #817
@blowmage It has been running on staging for last three days, and I have not seen it yet. We will be pushing this to production this week and I'll let you know how it behaves.

BTW, we are running with built-in `retries: 0` now to let our higher level logic to deal with it, and I'm a bit surprised with a rate of `Google::Cloud::UnavailableError` caused by  `GRPC::BadStatus` – it is roughly one exc

[2016-09-12 06:27] blowmage commented on #817
@murgatroid99 Any thoughts on this error?

[2016-09-12 14:26] timanovsky opened #893 "Code: duplicate files"
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-core/lib/google/cloud/core/backoff.rb
and
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-core/lib/google/cloud/core/grpc_backoff.rb

First should probably be deleted

[2016-09-12 15:09] murgatroid99 commented on #817
Status code 14 just means "Unavailable", and it looks like that information is already surfaced by the Google Cloud exception type. That kind of error is transient, and you should be able to fix it by retrying.

[2016-09-12 15:12] blowmage commented on #817
Thanks @murgatroid99. Is that status code coming from the server? Or is that from the client because it can't connect to the server?

[2016-09-12 21:55] timanovsky opened #896 "Datastore: invalid UnauthenticatedError exception"
Hi, we just pushed the code to production, and one hour after started seeing unexpected `UnauthenticatedError` exceptions.

`cause` is `GRPC::BadStatus` and `message` is `"16:Faraday::ConnectionFailed"`, `.details="Faraday::ConnectionFailed"`

Which looks like transient HTTP AUTH connection failure, which should be retriable, and in any case should not be reported as `Google::Cloud::Unauthenticate

[2016-09-12 22:09] timanovsky commented on #896
token refresh?

[2016-09-12 22:16] timanovsky commented on #896
Update: looks like token refresh indeed. Problems started exactly (within couple of seconds) 1 hour after the corresponding process restart on multiple Heroku dynos.

[2016-09-12 22:18] quartzmo commented on #896
Indeed, `UNAUTHENTICATED = 16` in [google/rpc/code.proto](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto#L99).

[2016-09-12 22:21] blowmage commented on #896
cc @murgatroid99 Any thoughts on this behavior?

[2016-09-12 22:22] blowmage commented on #896
The Google Auth library has a dependency on Faraday, so it might be something related to that.

[2016-09-12 22:23] timanovsky commented on #896
Btw, we have not seen this problem running on staging setup. Must be related to traffic somehow

[2016-09-12 22:28] blowmage commented on #896
You don't happen to have the backtraces, do you?

[2016-09-12 22:29] quartzmo commented on #896
@blowmage I am also trying to understand why Faraday is present. Is it loaded [here by google-cloud-core](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-datastore/v0.20.1/google-cloud-core/Gemfile#L6), do you think?

[2016-09-12 22:32] blowmage commented on #896
Google Auth is built on top of Signet, and Signet is built on top of Faraday. When the authentication token is refreshed it makes a call to a Google service to get a new hash. Those calls are all made through Faraday. The actual API calls to Datastore are all through GRPC, using the authentication hash from the token object.

[2016-09-12 22:33] timanovsky commented on #896
@blowmage I have a stacktrace for top-level exception which is not very helpful:
[code]

[2016-09-12 22:36] timanovsky commented on #896
Oh, just before that stacktrace, I see what must be native code prints:
[code]

[2016-09-12 22:43] timanovsky commented on #896
Also we have (much smaller) number of unwrapped `Faraday::ConnectionFailed` exceptions with `Net::OpenTimeout` cause. Stack trace in that case is more useful:
[code]

[2016-09-12 22:58] blowmage commented on #896
So this is my thinking about what is going on. The Signet object is trying to fetch a new access_token, but during this process a `Faraday::ConnectionFailed` error is raised. GRPC handles the `Faraday::ConnectionFailed` error, and since it doesn't have a valid access_token GRPC raises `GRPC::BadStatus` with code 16, because the request has no valid authentication. Google Cloud handles the `GRPC::B

[2016-09-13 02:18] murgatroid99 commented on #817
It looks like it can either come from the server directly, or it can be translated from a 503 error.

[2016-09-13 06:18] timanovsky commented on #817
@blowmage  It looks like protocol error has been fixed.

[2016-09-13 07:11] timanovsky commented on #896
Exceptions in auth code should be wrapped into proper `Google::Cloud::Exception`, so the retry/error handling code is the same.  As a user I don't really care at which API endpoint did call fail - auth or the service. And network errors should surface in uniform way which is `Unavailable` now, it should not be mixed with real authentication problems.

[2016-09-13 14:04] blowmage commented on #817
Great! Glad this is now working!

[2016-09-13 14:04] #817 closed

[2016-09-13 16:33] quartzmo commented on #890
Closing, per @dazuma's [comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/891#issuecomment-246439662) on PR #891.

[2016-09-13 16:33] #890 closed

[2016-09-13 16:35] quartzmo commented on #893
Thanks for catching this duplication! Our goal is to replace this functionality soon with GAX, at which time we will remove both files.

[2016-09-13 16:40] quartzmo commented on #889
We now have it. Closing.

[2016-09-13 16:40] #889 closed

[2016-09-13 16:42] quartzmo commented on #873
Closing. @whitmanc Please reopen if you experience this issue again while using the 0.20.1 release.

[2016-09-13 16:42] #873 closed

[2016-09-13 16:42] blowmage opened #897 "Sync Coveralls Repo"
The coveralls repo needs to be synched after the repo was renamed. Coverage reports are not currently being run on commits or pull requests. We don't have permissions to the repo on Coveralls, so I assume this is something JJ can do.

[2016-09-13 16:43] quartzmo commented on #897
/cc @jgeewax

[2016-09-13 16:45] quartzmo commented on #853
Closing, as this issue was addressed by @dazuma's [comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/891#issuecomment-246439662) on PR #891.

[2016-09-13 16:45] #853 closed

[2016-09-13 17:40] timanovsky commented on #817
Just got this error:
`TypeError: wrong argument type false (expected String)`

stacktrace:
[code]

[2016-09-13 17:41] timanovsky commented on #817
Seems it is back :(

[2016-09-13 17:58] timanovsky commented on #817
@blowmage would you mind reopening the ticket? :(

[2016-09-13 17:59] bmclean commented on #817
The discussion around `TypeError: wrong argument type false (expected String)` on [grpc#7761](https://github.com/grpc/grpc/issues/7661) was closed and moved to [google/protobuf#2004](https://github.com/google/protobuf/issues/2004). The fix is in a merged pull request but doesn't look like it has been released just yet.

[2016-09-13 18:05] timanovsky commented on #817
@bmclean looks like they did a release, but not gem publish

[2016-09-13 18:15] quartzmo commented on #817
@timanovsky OK then to keep this issue closed and focus discussion in google/protobuf#2004?

[2016-09-13 18:15] timanovsky commented on #817
ok

Best regards,
Alexey Timanovsky.

On 13 September 2016 at 21:15, Chris Smith <notifications@github.com> wrote:

[2016-09-13 18:53] quartzmo commented on #226
As discussed offline with @jgeewax, these tests will be unit tests against mocked service implementations.

[2016-09-13 20:53] ohadpartuck commented on #706
problem solved for me using
export GOOGLE_APPLICATION_CREDENTIALS=personal-gmail-account.json

[2016-09-14 15:39] blowmage commented on #896
I looked into this yesterday and last night. I was originally intending to contribute a retry on the token refresh, either by configuring Faraday or putting the retry logic somewhere in Google Auth or Signet. But the problem with that is that the call to refresh an access token is non idempotent, and not something that should be retried when failed. I'm not sure what the right approach is here, so

[2016-09-14 16:15] timanovsky commented on #896
@blowmage We have not seen this error since then. My theory is that it may be a form of ingress DoS protection in Google auth service, or egress in Heroku one. Once it adapted to (relatively) high traffic from our service it allows connections through. We didn't observe any other networking problems (including google datastore) at the time auth connections were failing.

[2016-09-14 16:28] blowmage commented on #896
I'm very glad that this error hasn't been persistent this whole time. We very much look forward to more feedback from you on the new package and new API.

What do you want us to do with this issue? I'm unsure about what changes we can make in google-cloud-ruby to account for this.

[2016-09-14 17:38] quartzmo commented on #817
@timanovsky I have no special relationship, but I asked as well on  google/protobuf#2004.

[2016-09-14 17:50] timanovsky commented on #817
@quartzmo Thanks, looks like we may expect updated gem today.

[2016-09-14 17:53] blowmage commented on #817
cc @nicolasnoble

[2016-09-14 19:16] dazuma opened #898 "High latency when using Logger class"
It appears that the Google::Cloud::Logging::Logger class makes individual blocking RPCs for each log entry. We were prototyping a Rails app that emits maybe a few dozen log entries per request, and this quickly became by far the bulk of the request latency as a whole.

Is there currently any plan or discussion around non-blocking RPCs, batching log entries, and/or any other ideas for improving Log

[2016-09-14 19:20] blowmage commented on #898
No current plans, but we are open to any/all of these ideas to improve.

[2016-09-14 21:45] quartzmo commented on #898
@dazuma Great issue! Thanks for investigating this. I'm sure there are obstacles, but it would be awesome to have access to your test/demo app, if by any chance you can open-source it. (and most importantly: its deployment configuration...)

[2016-09-14 22:50] bmclean commented on #874
Google Cloud SDK 126.0.0 has been released which contains version 1.2.1 of the Cloud Datastore Emulator and it fixes the problem.

[2016-09-14 22:50] #874 closed

[2016-09-14 22:50] blowmage commented on #874
🎉

[2016-09-15 08:00] timanovsky opened #899 "Datastore: infrequent operations always fail first time, requires retry"
Once we moved to v1 API we saw significant slow down of one particular operation. Investigation suggested that only particular type of operation is affected - infrequent (once per tens of minutes) reads, and unfortunately the servers performing these ops are not doing any other kind of datastore operations. I believe it is due to the reason mentioned in https://github.com/grpc/grpc-java/issues/164

[2016-09-15 12:40] blowmage commented on #899
@murgatroid99 does the GRPC client have a keep alive feature for non-streaming requests?

@timanovsky what is the operation that is affected in V1?

[2016-09-15 14:10] timanovsky commented on #899
@blowmage It is just query (with ancestor)

[2016-09-15 15:39] quartzmo opened #900 "Datastore Entity properties should support symbol access"
I found this bug while testing the documentation examples. In the docs:

[code]

Test result:

[code]

[2016-09-17 08:34] timanovsky commented on #896
I think it would make sense to wrap `Faraday::ConnectionFailed` into `UnavailableError` (as well as potentially other Faraday exceptions such as TimeOut into corresponding `Google::Cloud::Error` classes. May be with additional property (e.g. `auth_error?`) set.

In general I would separate two concepts: error manifestation and retry logic. Retry logic can be internal or external, but errors poppin

[2016-09-17 17:08] ylastic commented on #712
Same issue on installing with JRuby,  OSX El Capitan.

[2016-09-18 20:21] omaray opened #905 "Cloud Vision docs for Ruby feedback: typo perhaps."
The very first sentence is the following:

"Google Cloud Vision allows easy integration of vision detection features developer applications, including image labeling, face and landmark detection, optical character recognition (OCR), and tagging of explicit content."

The "...developer applications..." sounds a bit off. I wonder if you meant to say "... to develop applications..." or perhaps someth

[2016-09-18 20:24] omaray opened #906 "URL for Best Practices is invalid"
In the "Creating Images" paragraph of the Cloud Vision docs, the "Best Practices - Image Sizing" link send the user to a 404.

Current value: https://cloud.google.com/vision/docs/image-best-practices#image_sizing

Expected value: https://cloud.google.com/vision/docs/best-practices#image_sizing

[2016-09-18 21:00] omaray opened #907 "Not advertising individual modules in docs"
In the Vision docs (and others too) we are still advertising to `require "google/cloud"` and instantiate the Service through `Google::Cloud.new`.

I was wondering if there were plans to show in the docs that individual modules could be installed instead and then how to instantiate the individual services.

For example, in [Vision for Node.js](https://googlecloudplatform.github.io/google-cloud-node

[2016-09-18 21:04] omaray commented on #906
In fact, I'm noticing the wrong URL being used in a few places:

http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.2/google/cloud/vision

http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.2/google/cloud/vision/image

[2016-09-18 21:06] omaray commented on #905
Just noticed the right sentence in this page: http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.2/google/cloud/vision/project

I guess you are missing the word "within", such as "...features within developer applications..." in the original page:

http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.2/google/cloud/vision

[2016-09-18 21:11] omaray commented on #906
and here: http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.2/google/cloud/vision/project

[2016-09-18 21:45] omaray opened #908 "Source Code links broken in Ruby docs"
It seems like all the `Source Code` links in the Ruby docs are broken at the moment.

As an example, if you navigate to the [root of the docs](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.20.0/google/cloud) and look for the first `Source Code` link, it won't work.

And this seems to be the case for all of them:
![image](https://cloud.githubusercontent.com/assets/6

[2016-09-18 22:05] quartzmo commented on #906
@omaray Thanks for catching this change!

[2016-09-18 22:11] quartzmo commented on #905
Yes, a typo, thank you for the thorough review! Fixing now.

[2016-09-18 22:40] quartzmo commented on #907
@omaray The emphasis on the top-level "umbrella" factory for services was a deliberate decision, but it can certainly be revisited. I believe the usage should be consistent across the documentation at this time (all examples should use `require "google/cloud"`), and if there is consensus to change it, all examples except perhaps a few should then be changed to `require "google/cloud/<service>"`.

[2016-09-18 22:43] quartzmo commented on #908
Thanks @omaray. I think fixing this will require an update to our JSON docs generation. I'll look into it.

[2016-09-18 23:30] #905 closed

[2016-09-18 23:30] #906 closed

[2016-09-19 15:51] callmehiphop commented on #907
We created a [template](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/scripts/docs/overview.template.html) for the service overview.

[2016-09-19 16:05] stephenplusplus commented on #907
Ah, right. So we have a build process that takes that template and injects the instantiation code in the right context, then plops it into the `overview`.

https://github.com/GoogleCloudPlatform/google-cloud-node/blob/gh-pages/json/bigquery/0.1.1/dataset.json:
[code]

The "Getting Started" process can be a huge area of frustration for the user, so introducing ambiguity in the docs was going to be

[2016-09-19 17:26] blowmage commented on #907
We've actually put a lot of effort into maintaining the monolithic API when users are using the individual packages. For example, if the user only installs the `google-cloud-vision` gem, and does _not_ have `google-cloud` umbrella gem installed, they can continue to use the monolithic API.

[code]

You can change the require to `require "google/cloud/vision"` and above code will run unchanged.

[2016-09-19 17:30] blowmage commented on #907
We also support creating the `vision` object without creating the `gcloud` object first:

[code]

This also works whether users `require "google/cloud"` or `require "google/cloud/vision"`.

For the most part Ruby respects the PERL philosophy of allowing multiple ways to do things.

[2016-09-19 21:06] dhirajbajaj opened #910 "rails tutorial with gem "google-cloud""
Hi all,

I have been exploring GAE for rails and couldn't find a appropriate tutorial for clarity.
Either way, i am left a bit confused about using datastore, storage, service accounts, keyfile.json, setting up emulator, gem "gcloud" / "google-cloud" etc.

Can anyone share a repo or tutorial that can helps to test and get running quickly with datastore and other services based on the concept.

[2016-09-19 21:48] quartzmo commented on #910
Hi @dhirajbajaj, did you try this in-depth tutorial?

https://cloud.google.com/ruby/getting-started/tutorial-app

You can chose to use Cloud Datastore on the second page. It also covers Storage, Logging and Pub/Sub.

[2016-09-19 21:50] quartzmo commented on #910
We recently changed the name of this library from "gcloud" to "google-cloud" and the tutorial needs to be updated, but all of the examples should work with the current version of this library.

[2016-09-19 22:10] dhirajbajaj commented on #910
Yes @quartzmo, i followed bookshelf tutorial, and i got Google::Cloud API error with cloud-data-store example which led me to fix it with setting up credentials and emulator for local env.
I got it working locally, but its raising 503 when  `gcloud app deploy` which is cloudstore - access error.

It makes me to think that i am missing something when deploying. Thus the issue.
Can you share any sam

[2016-09-19 22:32] quartzmo commented on #910
I don't know of any other resources, but I think it would be great to document what you experienced in detail here on this issue, for three reasons:

1. @blowmage and I can hopefully help you find a solution right away.
1. In time, the authors of the tutorial will be able to fix/update what's not working.
1. Anyone else experiencing the same problem will hopefully land on this issue, and find the

[2016-09-19 22:45] bmclean commented on #910
@dhirajbajaj We have an example Rails app using 'google-cloud-datastore' located [here](https://github.com/Agrimatics/active-model-cloud-datastore) which works on Heroku.

[2016-09-19 22:54] quartzmo commented on #907
The proposal for resolving this issue is to change the `require` statements in examples for **individual gems** only, leaving the examples in the `google-cloud` umbrella package unchanged.

Thus, the [Vision examples for the umbrella package](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.20.0/google/cloud/vision) will continue to show:

[code]

However, the [Vision

[2016-09-19 23:05] dhirajbajaj commented on #910
@quartzmo yes this makes sense. I will share it by tomorrow. Allow me some time.

@bmclean thanks for sharing. But would be great if its deployable to GAE making it more manageable.
Btw, i followed this repo only to setup datastore.rb initializer for local env.

[2016-09-19 23:07] quartzmo commented on #910
@dhirajbajaj Sounds good, thank you! Once you've posted here, I'll try to reproduce your issue as well.

[2016-09-19 23:47] bmclean commented on #910
@dhirajbajaj OK, perfect. At one point we did have the Agrimatics Rails app running on the App Engine Managed VMs (I think it is called Flexible Environment now) so I might be able to help.

[2016-09-20 00:12] blowmage commented on #907
I just want to make sure everyone knows this change is not necessary to use the library. Either require works.

[2016-09-20 02:02] omaray commented on #907
I should be able to just `gem install google-cloud-vision` though, right? And then your example above should work basically (even if I don't install the umbrella package `google-cloud`).

[2016-09-20 02:03] blowmage commented on #907
Yep, exactly right.

[2016-09-20 02:04] omaray commented on #907
kewl.

[2016-09-20 09:58] dhirajbajaj commented on #910
@quartzmo

Some background: I am still exploring and coming from quick deployment mindset like capistrano, rubber to ec2 with clarity on configs, or to heroku setting up config/postgres service from cli.

I started with ruby documentation/quickstarts, installed cloud sdk and then moved to [bookshelf tutorial] (https://cloud.google.com/ruby/getting-started/tutorial-app) to try it out.
I use ruby 2.

[2016-09-20 15:11] bmclean commented on #910
Regarding _ah/health, take a look at the Procfile from [6-task-queueing](https://github.com/GoogleCloudPlatform/getting-started-ruby/blob/master/6-task-queueing/Procfile) in getting-started-ruby. You need something that responds to those health requests, otherwise the instance will be classified as unhealthy and it won't receive any requests. The example uses `health_check.ru`. Alternatively you c

[2016-09-20 16:45] remi opened #911 "BigQuery client doesn't implement Projects.list"
As far as I can tell, google-cloud-bigquery does not implement Projects.list

API reference: https://cloud.google.com/bigquery/docs/reference/v2/projects/list
Documentation: https://cloud.google.com/bigquery/docs/managing_jobs_datasets_projects#projects
Endpoint: https://www.googleapis.com/bigquery/v2/projects

For reference, see similar issue filed and fixed for google-cloud-python:
https://githu

[2016-09-20 17:02] quartzmo commented on #910
@dhirajbajaj Thank you, this is great. I will try to follow along and reproduce today.

Do you have any feedback on our [google-cloud-datastore Authentication docs](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-datastore/v0.20.1/guides/authentication)?

And did you try connecting locally to Cloud Datastore (not the emulator) using just google-cloud-datastore? You coul

[2016-09-20 19:38] pchaganti commented on #712
Trying to use JRuby so we can speed up some of our BigQuery analytics pieces. Any workarounds to get gcloud to install and work on JRuby?

thanks!

[2016-09-20 19:44] blowmage commented on #712
@pchaganti The `grpc` and `google-protobuf` gems are needed for services that connect using gRPC. However, BigQuery does not use gRPC and instead uses the JSON endpoints. So, instead of installing the `google-cloud` gem which contains all services, try just installing the `google-cloud-bigquery` gem which will only connect to BigQuery.

[2016-09-20 19:44] quartzmo commented on #712
@pchaganti Did you try installing just the [google-cloud-bigquery gem](https://rubygems.org/gems/google-cloud-bigquery)? It has no dependency on gRPC, and thus it should work on JRuby.

[2016-09-20 20:22] quartzmo commented on #911
@remi Thanks for bring this omission to our attention. I read the Python issue and PR, it all makes sense. We will add it.

[2016-09-20 20:29] pchaganti commented on #712
Ah! @quartzmo  @blowmage  Thanks. Will try this out.

[2016-09-20 21:13] dhirajbajaj commented on #910
@bmclean Thanks i will try it out. 👍

@quartzmo Just feel that authentication docs should be to be linked in the tutorial in prerequisite section to cloud-data-store or much better to include the setup step in the tutorial.

Yes, using only gem "google-cloud-datastore" runs in IRB. I tried it.
Now i see the problem was the env variables and bmclean pointers. Still far from a production level app d

[2016-09-20 22:43] quartzmo commented on #910
@dhirajbajaj

This and your other bullet points, above, are valuable feedback for the authors of the tutorial, and we will do what we can to bring it to their attention. As far as I know the tutorial is not open-source.

The sample application is open-source, so I assume the best way to update the gem name(s) from `gcloud` to `google-cloud` in the tutorial examples is to open a PR there. Although,

[2016-09-20 22:44] quartzmo commented on #910
@bmclean Like usual, thank you!!!

[2016-09-21 15:32] quartzmo commented on #910
Thank you @dhirajbajaj for creating the issue for the Bookshelf tutorial, hopefully it will be updated soon with our new library and gem name(s).

Can I close this issue now?

[2016-09-21 16:17] dhirajbajaj commented on #910
@quartzmo  Yes, you can close it. I have got it deployed with @bmclean pointers.

Its working on production except for create/update/delete request are raising 422 error whereas in dev env its create/update/delete are working fine.

[2016-09-21 17:02] quartzmo commented on #910
Closing, kudos to @bmclean.

[2016-09-21 17:02] #910 closed

[2016-09-21 17:21] whitmanc commented on #873
@quartzmo missed these notifications, all good for closing, issue is resolved.

[2016-09-21 17:25] quartzmo commented on #873
Great, thanks @whitmanc.

[2016-09-21 19:29] quartzmo opened #912 "Link to "Gcloud" redirects to Not Found page"
Clicking the nested "Gcloud" link in the left nav leads to the "Not Found" page.

![gcloud-link](https://cloud.githubusercontent.com/assets/205445/18725927/752ebf94-7fff-11e6-8dcd-8df40df53311.png)

I am guessing that this is due to missing JSON docs content for this type, which has no public members.

[2016-09-21 19:32] bmclean commented on #910
Thanks @quartzmo!

[2016-09-22 00:14] omaray opened #913 "Links in the google-cloud-logging pages are broken"
Navigating to the root of the [Google Cloud Logging](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-logging/v0.20.1/google/cloud/logging), you'll notice that all the links at the top are broken.

We need to fix them basically.

![image](https://cloud.githubusercontent.com/assets/6609430/18733330/c6ab90c6-801e-11e6-825e-c0bab95b5bd6.png)

[2016-09-22 16:13] quartzmo commented on #913
These anchors are broken due to the hashbang-based routing in the single-page Angular app.

The sub-headings have the correct `id`s: `<h2 id="listing-log-entries" class="ng-scope">Listing log entries</h2>`, but that is not the problem.

See GoogleCloudPlatform/gcloud-common#40, GoogleCloudPlatform/gcloud-common#136, and GoogleCloudPlatform/gcloud-common#137. (I wonder if we should close one or two

[2016-09-22 16:28] callmehiphop commented on #913
It might be a good move. This is definitely something that needs to be addressed though..

Instead of using `<a>` tags to deeplink, we could create a directive/data attribute that can be used to generate an `<a>` tag that creates the appropriate deeplink url? `<a data-section="listing-log-entries">Read and filter log entries</a>`.

[2016-09-22 16:45] quartzmo commented on #913
@callmehiphop Sounds good. If you can use "anchor" in the directive name it will make it easy for me to find it in the future. Something in the spirit of the `gotoAnchor` function in the [$anchorScroll](https://docs.angularjs.org/api/ng/service/$anchorScroll) example.

[2016-09-22 16:46] quartzmo commented on #913
I'm going to resolve this issue by removing these links (and any similar anchor convenience links in the documentation.)

[2016-09-22 16:47] callmehiphop commented on #913
Sure, `data-anchor`? I only suggest putting it behind a data attribute for portability if we ever decide to not use Angular.

[2016-09-22 16:49] quartzmo commented on #913
@callmehiphop Yes, sounds great. Actually, I'll hold off on removing the links to see if this works.

[2016-09-22 16:50] callmehiphop commented on #913
Sounds good, I'll try and get something for you to test this afternoon then!

[2016-09-22 18:40] quartzmo commented on #908
GoogleCloudPlatform/gcloud-common#188 added support to the site for git tags containing both package name and version number, solving one cause of this issue.

I've fixed the links in all individual packages manually (and will follow up with automation), but the links for the "umbrella" package will require a change to our JSON docs generation.

Example of a current (broken) path:

https://github.

[2016-09-24 18:31] JasonLunn commented on #712
[google-cloud-datastore](https://rubygems.org/gems/google-cloud-datastore) does have dependencies on `grpc` and `google-protobuf` so this workaround doesn't help. Any hope of this bug getting addressed soon?

[2016-09-26 00:24] omaray commented on #908
Thanks for looking into this Chris and also automating the process to ensure there are no regressions.

[2016-09-26 06:18] omaray opened #921 "Update Stack Overflow link on client library ref landing page for Ruby"
On the [current landing page for google-cloud-ruby](http://googlecloudplatform.github.io/google-cloud-ruby) there is a Stack Overflow icon:

![image](https://cloud.githubusercontent.com/assets/6609430/18824123/8f7ada86-8374-11e6-9807-687667b0d488.png)

[Current Result]
That icon currently points to http://stackoverflow.com/questions/tagged/google-cloud-ruby (which was a good attempt!)

[Expected R

[2016-09-26 15:16] #306 closed

[2016-09-26 21:27] quartzmo opened #924 "Add custom endpoint environment variables to all services."
We already have emulator environment variables for setting the service location in Datastore and Pub/Sub. We should add similar variables for all other services (if possible.)
- [ ] BigQuery
- [ ] Datastore
- [ ] DNS
- [ ] Language
- [ ] Logging
- [ ] Pub/Sub
- [ ] Resource Manager
- [ ] Speech
- [ ] Storage
- [ ] Translate
- [ ] Vision

[2016-09-26 21:29] quartzmo commented on #924
The existing variable names are `DATASTORE_EMULATOR_HOST` and `PUBSUB_EMULATOR_HOST`.

[2016-09-26 22:46] quartzmo commented on #924
This is similar to GoogleCloudPlatform/google-cloud-node#1630. Using the same environment variable names would be best.

[2016-09-26 22:48] quartzmo commented on #226
Adding a checklist to the description, since this will be done service-by-service.

[2016-09-27 01:33] omaray opened #927 "How to instantiate a client after installing google-cloud-{api}"
Thanks to our modularization, we can now do `gem install google-cloud-bigquery` and then simply use the BigQuery client. This can be done in the following manner today:

[code]

A question that I had was to know if we also wanted to support the following way of instantiating a client:

[code]

Is that more idiomatic or expected basically?

/cc @jgeewax @dazuma @jmuk @blowmage @quartzmo

[2016-09-27 03:05] blowmage commented on #927
Determining whether one is more idiomatic than the other is subjective, but for me I'd say `bigquery = Google::Cloud::Bigquery.new` is probably a bit more idiomatic ruby than `gcloud = Google::Cloud.new; bigquery = gcloud.bigquery "publicdata"`. However, @jgeewax has expressed a strong vision of creating a top level `gcloud` object instance that all services would use to connect to. And we've trie

[2016-09-27 19:32] quartzmo commented on #927
I agree, I'm in favor of adding `bigquery = Google::Cloud::Bigquery.new "publicdata"` (and similar) as a way to instantiate each service.

[2016-09-27 20:24] gsbucks opened #931 "Storage object with spaces fails signed_url signature match"
Hi. I'm on google-cloud-storage 0.20.1 and just narrowed down what I think is an issue, but could be an error on my part.

When trying to view generated signed_urls, they were failing with SignatureDoesNotMatch, and returning a StringToSign that had the spaces in the object name escaped to %20. If I printed out the return value of Google::Cloud::Storage::File::Signer#signature_string it showed the

[2016-09-27 20:45] blowmage commented on #931
Thanks for opening this issue and making us aware of this, @gsbucks. Hopefully we'll get a fix out for you this week.

[2016-09-28 12:56] AlfonsoUceda opened #939 "Way to create schema during the table's load"
Hi:

I'd like to know if there is a way to create the schema atomically when you load the file, an example is the google-cloud-sdk with the bq binary:

`bq load ds.new_tbl ./info.csv ./info_schema.json`
or you can use the `--schema` option:
`bq load ds.new_tbl ./info.csv --schema=./info_schema.json`

I ask this because this operation is atomic and I need this behaviour with the gem, why? some of m

[2016-09-28 14:05] AlfonsoUceda commented on #939
I have a fork adding `schema` option to `#load` table method and I could do the following:
[code]
This works, I can modify the schema, the CSV and I can add more fields and works perfect but it isn't an elegant solution in my opinion.

Are you opened to accept a PR for adding `schema` options in `#load` table method?

[2016-09-28 21:34] #911 closed

[2016-09-29 07:47] omaray commented on #927
Okay,  @jgeewax any objections?

Also, just to confirm, the current ways (plural) of doing the require and instantiation won't change right? Meaning we will support what we are doing today even if we add the new approach?

... because a lot of samples are doing for instance:

[code]

And of course we still want them to work!

[2016-09-29 11:17] blowmage commented on #927
Yes, this proposed change would be additive. The current behavior will not change.

[2016-09-29 14:21] JasonLunn commented on #712
Trying to get this fixed via https://github.com/google/protobuf/pull/2199

[2016-09-29 15:28] quartzmo opened #942 "Broken requires in gapic code for pubsub"
Unfortunately we didn't catch this before merging #925:

The require statement `require "google/iam/v1/iam_policy_services_pb"` in [`publisher_api.rb`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/v1/publisher_api.rb#L171) and [`subscriber_api.rb`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-p

[2016-09-29 16:20] quartzmo commented on #939
@AlfonsoUceda Yes! I see no reason why not to support [`configuration.load.schema`](https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.load). (And apologies that it slipped by us!) Please proceed with your PR and let us know if we can help in any way.

[2016-09-29 16:32] blowmage commented on #942
Also note [this approach used in Speech](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-speech/lib/google/cloud/speech/v1beta1.rb#L16-L17), where the non-service protobufs are loaded up front so the classes are available.

[2016-09-29 16:36] blowmage commented on #939
One way we specify schema in `#create_table` is to specify the schema's fields:

[code]

Can we make `Table#load` use the same API?

[code]

[2016-09-29 17:01] AlfonsoUceda commented on #939
Hi folks:

Thank ypu for your answers. I'll elaborate the PR tomorrow and we can work in it.

Thanks so much!

[2016-09-29 21:10] quartzmo opened #943 "list methods in vkit generated code should support page_token"
In all cases in which underlying Google Cloud service APIs support pagination with tokens, `google-cloud`  has exposed this functionality, which @blowmage and I feel is very important for web development use cases in which only minimal state may be available between page requests. Here is an example:

[code]

`gax-ruby`'s [`PagedEnumerable` exposes the `page_token`](https://github.com/googleapis/g

[2016-09-29 21:23] quartzmo commented on #927
Although it will be additive and preserve the existing API, it is important to decide which approach to show in documentation, especially in headline examples such as those in the README. Any opinions?

[2016-09-29 21:27] quartzmo commented on #712
@JasonLunn Thanks for pursuing this!

[2016-09-29 21:36] blowmage commented on #927
I'll defer to what @jgeewax and @omaray think.

[2016-09-29 22:03] quartzmo commented on #942
I actually think the require statements are correct, and the file names should be changed to have the `_pb` suffix.

[2016-09-30 01:06] omaray opened #944 "Python link in language drop-down sends user to gcloud-python"
The language drop-down on the [Client Library Reference page for Ruby](https://googlecloudplatform.github.io/google-cloud-ruby/#/) sends users to gcloud-python when selecting Python:

![image](https://cloud.githubusercontent.com/assets/6609430/18977480/6ee5d7a0-866f-11e6-8750-e4bbf6216529.png)

It's a problem because sometimes we'll see a 404 appear.

[Expected]
It should point to google-cloud-pyt

[2016-09-30 01:09] omaray opened #945 "Change title of tab from gcloud to google-cloud-ruby"
When opening the [Client Library Reference page for Ruby](https://googlecloudplatform.github.io/google-cloud-ruby/#/) we can notice that the tab title says `gcloud`:

![image](https://cloud.githubusercontent.com/assets/6609430/18977514/ce43caa4-866f-11e6-8682-0c1ea1956292.png)

[Expected Result]
We should update it to say `google-cloud-ruby`.

[2016-09-30 01:11] omaray commented on #921
Just to clarify: this is still the plan. Let's do the update to be consistent across all languages (and consistent with internal expectations).

After I get some answers (might take a bit of time) we might update all at once. Should be an easy fix (and only if we need to).

[2016-09-30 04:01] jmuk commented on #943
We provides page_token as in a part of `options` actually (see https://github.com/googleapis/gax-ruby/blob/master/lib/google/gax.rb#L164), so it would work as
[code]

This design is borrowed from Python's one.

What would be the better way here?  Unflatten all of the call-options field as the keyword arguments to the method?

[2016-09-30 04:21] quartzmo commented on #943
@jmuk Thank you, the `page_token` option in `CallOptions` works perfectly. I was so certain I knew everything in `CallOptions` that I didn't look there.

As for the API design, the only thing that I find non-intuitive is that it will be present for all methods, not just list methods, correct?

Thank you for responding, very happy to now close this issue.

[2016-09-30 04:21] #943 closed

[2016-09-30 04:22] quartzmo commented on #942
@jmuk Any guidance on this issue?

[2016-09-30 04:23] quartzmo commented on #942
@jmuk I can easily fix this, I just want to be sure everyone knows about it, and that I do it correctly.

[2016-09-30 04:33] jmuk commented on #942
Oops. That would be probably because I didn't regenerate iam-related files when updating to grpc-1.0 (I just missed them). File name without `_pb` suffix looks like it is pre-grpc-1.0 one. Let's regenerate them.

@Landrito is, however, working on IAM-Admin API, and he is working for some packages related to IAM protos. He might have a different idea of where those files should be.

[2016-09-30 04:34] quartzmo commented on #942
OK, I will wait for a PR with new files. Thank you @jmuk.

[2016-09-30 17:31] quartzmo commented on #924
I believe this issue should follow the lead of GoogleCloudPlatform/gcloud-common#193. Changing title to reflect this new direction.

[2016-09-30 19:20] quartzmo commented on #945
We changed the title to `google-cloud-ruby` some time ago, but the automated doc site update script in `gcloud-common` overwrites `index.html` regularly. You can see that it reverted the title to `gcloud` in [this commit](https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/2f1ca8164cac7229d70b20200842851fd71cf3df).

I will open a `gcloud-common` issue to resolve this for all platforms

[2016-09-30 22:14] blowmage commented on #608
@ptinsley: Is this still something you are seeing?

[2016-09-30 23:21] beccasaurus opened #951 "google-cloud-ruby does not work with Application Default Credentials"
See also: [google-cloud-node does not work with Application Default Credentials](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1653)
## Problem

After running `gcloud beta auth application-default login` I should be able to use google-cloud-ruby to access Google Cloud Platform services, but I can't. I must set the `GOOGLE_CLOUD_PROJECT` env var or explicitly pass a project ID to

[2016-09-30 23:24] jmuk commented on #942
Created a PR -- but a different approach; since IAM can be shared among multiple APIs, we created a package called `grpc-google-iam-v1` which keeps the grpc-generated files. This PR is using it.

@landrito is actually working on a minor fix https://github.com/googleapis/api-client-staging/pull/59, so I'm going to update the version after it's merged (I was waiting but it seems not coming by today

[2016-09-30 23:32] blowmage commented on #951
Thanks for the issue, @remi. I was not aware this was being discussed on the other language projects.

In GoogleCloudPlatform/google-cloud-node#1653 it seems like the consensus is that this functionality should be provided by [the authentication library](https://github.com/google/google-auth-library-nodejs/issues/97), and not the google-cloud-node library. For ruby, that is the googleauth gem. The

[2016-10-01 01:58] remi commented on #951
Because this feature is so tightly coupled to the Google Cloud SDK command-line tool, I think it makes sense for this feature to be implemented in google-cloud rather than the generalized Ruby Google API client.

For Python, project ID detection is currently implemented in google-cloud-python, not pushed down into the general Python Google API client.

I rather like Python's project [detection](ht

[2016-10-01 02:22] remi commented on #951
**Follow-up comment:** I have been discussing this offline with Python and Node.js stakeholders.  The [referenced Node.js issue](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1653) also includes [discussion](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1653#issuecomment-250794512) about upcoming changes to the the Python Google Auth library to **move project de

[2016-10-01 02:29] blowmage commented on #951
Sounds good to me! We noticed that the newer keyfile JSON files also include the project_id. Since the google-cloud libs already provide googleauth with the JSON file I think it would be great if it gave back the project_id as well as the credentials object.

[2016-10-01 02:58] blowmage commented on #931
Hi @gsbucks, I believe this is fixed in google-cloud-storage version 0.20.2. All my tests show this now working. Can you verify the new release fixes this for you. If it does, please close the issue.

Thanks again for opening the issue and reporting the problem!

[2016-10-01 02:59] blowmage commented on #911
Hi @remi, today google-cloud-bigquery version 0.20.2 was released with this. Please take a look. Thanks for opening the issue!

[2016-10-02 16:33] gsbucks commented on #931
Looks good. Thanks for the quick turnaround.

[2016-10-02 16:33] #931 closed

[2016-10-03 15:45] #921 closed

[2016-10-03 18:00] quartzmo commented on #945
Closing, since 100% of the fix will be in gcloud-common.

[2016-10-03 18:00] #945 closed

[2016-10-03 18:03] quartzmo commented on #944
This was a gcloud-common issue (GoogleCloudPlatform/gcloud-common#194). Fixed now on google-cloud-ruby docs.

[2016-10-03 18:03] #944 closed

[2016-10-04 13:29] vyper opened #955 "Correct way to retrieve signed url to put object"
I trying to retrieve signed url to put an object in storage, but `#file` returns `nil`.

[code]

[2016-10-04 20:18] #942 closed

[2016-10-05 16:50] quartzmo commented on #664
The google-cloud-speech [gem](https://rubygems.org/gems/google-cloud-speech) is now available!

[2016-10-05 16:50] #664 closed

[2016-10-05 16:57] quartzmo opened #956 "Support streaming speech recognition"
Can google-cloud-speech support streaming?

[Streaming Speech API Recognition](https://cloud.google.com/speech/docs/basics#streaming-recognition)

[2016-10-05 17:24] blowmage commented on #939
Hey @AlfonsoUceda, I would prefer the following API:

[code]

Would this work for you?

@quartzmo We would have to support both the `fields` array and `schema` object as parameters to `Project#create_table` and `Table#load`, and note in the documentation that one will have precedence over the other. That work for you?

[2016-10-05 17:32] quartzmo commented on #939
@blowmage I like this design. I think `schema` should have precedence over `fields`, and that the examples should only show `schema`.

@AlfonsoUceda I think @blowmage has a nice design, do you have any concerns about it?

[2016-10-05 17:34] blowmage commented on #956
Yes. I'm still working on it! Hopefully soon!

[2016-10-05 18:17] AlfonsoUceda commented on #939
Folks thanks for the feedback, I'll work in that API and I'll update this PR ;)

[2016-10-05 18:18] quartzmo commented on #939
@AlfonsoUceda great, thank you!

[2016-10-05 23:28] quartzmo commented on #907
It turns out that having different examples in the umbrella package, [as discussed above](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/907#issuecomment-248152489) is not currently feasible, since the docs for the umbrella package are simply copied from the individual packages.

[2016-10-05 23:29] blowmage commented on #907
Yeah, makes sense.

[2016-10-06 20:03] #907 closed

[2016-10-06 20:03] #927 closed

[2016-10-07 16:00] #758 closed

[2016-10-07 18:39] #761 closed

[2016-10-08 14:22] #850 closed

[2016-10-11 10:10] loretoparisi commented on #706
I have used the `GOOGLE_APPLICATION_CREDENTIALS` as it follows

[code]

But this did not solve my problem

[code]
It still hangs on the default project, but I have set the project env too:

[code]

[2016-10-11 17:10] frankyn opened #965 "Page not found in Ruby Docs"
Issue:
Source links in [Ruby API documentation](http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.20.1/google/cloud) are broken.

Example:
If you go to the [Ruby API documentation](http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.20.1/google/cloud) and click on any **Source Code** link it will 404.

[2016-10-11 17:15] JasonLunn commented on #712
@quartzmo / @blowmage - https://github.com/google/protobuf/pull/2199 merged a week ago but I haven't yet seen a gem pushed to RubyGems for the JRuby platform. My [last comment](https://github.com/google/protobuf/pull/2199#issuecomment-251471515) on the PR (about the release process) hasn't been answered - and ideas?

[2016-10-11 17:17] #760 closed

[2016-10-11 20:10] gguuss opened #966 "Vision API should not require project"
When trying to run the Cloud Vision API sample from Ruby for the first time, I encountered the following error:

    bundle exec ruby vision_samples.rb labels images/cat.jpg
    /usr/local/google/home/class/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/google-cloud-vision-   0.20.2/lib/google-cloud-vision.rb:106:in `vision': project is missing (ArgumentError)
	from /usr/local/google/home/class/.r

[2016-10-11 21:24] blowmage commented on #966
I believe we do need project. #869 requests `project_id` is sent in the headers (until the GRPC library provides a mechanism to do so).

[2016-10-11 21:58] gguuss commented on #966
If we do require a project, then why does commenting out the project fields resolve the issue?

[2016-10-13 21:12] blowmage commented on #712
Unfortunately we don't have any visibility into the GRPC team or what their release schedule is.

[2016-10-13 22:17] quartzmo commented on #908
Reopening since although this solution has been merged, the fix has not yet been applied to all of the latest library versions in documentation. (#965)

[2016-10-13 22:20] quartzmo commented on #965
@frankyn Thank you for taking the time to report this. I am closing it as a dupe of #908, which I reopened. (#908 captures some discussion on the cause and solution; in case there is any more, I want to keep it in that issue.)

Please never hesitate to open an issue when you see something that can be improved in the docs (or the libraries.) Much appreciated!

[2016-10-13 22:20] #965 closed

[2016-10-13 22:46] quartzmo commented on #966
@gguuss How are you authenticating? With an API key? Can you paste in any relevant client code in `vision_samples.rb`? (Keeping auth details hidden, of course.)

[2016-10-13 22:51] quartzmo commented on #955
@vyper Just to be sure that I understand what you want to do, can you provide an example that shows the success path? If the method(s) that you want to call do not exist, write it as if they did. Thanks!

[2016-10-13 23:06] frankyn commented on #965
Thanks @quartzmo!

[2016-10-14 00:19] vyper commented on #955
I need signed url for a new file (inexistent file)...

[code]

[2016-10-14 01:53] frankyn opened #971 "Outdated usage of entries.list API request"
Issue: In the logging/service.rb file, an deprecated fieldName (projectIds) of [entries.list](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/entries/list) API is being used.

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/2d6c92137152d5297e91e1b5c336ed94b5ac96e7/google-cloud-logging/lib/google/cloud/logging/service.rb#L95-L109

[2016-10-14 02:05] blowmage commented on #971
Ugh. When was this field deprecated?

It looks like `resource_names` was [added to the protobuf fields](https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/afab11003c60f13be9dede40f06d32bc85540716#diff-c4caad6baa73da990e0545a7aebdb078R28) a couple weeks ago. I take it we should `resource_names` instead of `project_ids`?

[2016-10-14 02:10] blowmage commented on #971
@dazuma's Any input on this?  Should we add a `resources` argument to the `project#entities` method?

[2016-10-14 02:40] frankyn commented on #971
While working with Remi, we came across it trying to figure out a different issue. Yes, that's what we understood as of now.

[2016-10-14 03:00] blowmage commented on #971
@hxiong388 Thoughts?

[2016-10-14 05:16] hxiong388 commented on #971
According to the [doc](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/entries/list), resourceNames field includes the deprecated projectIds value. But since the [GAPIC API](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/82dba112a1b5202fb07c616f488cc181fd72d9f6/google-cloud-logging/lib/google/cloud/logging/v2/logging_service_v2_api.rb#L374-L376) currently requires

[2016-10-14 14:23] blowmage commented on #971
When will `project_ids` be removed from the API? Also, the [documentation site that shows the field as deprecated](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/entries/list#body.request_body.FIELDS.project_ids) is showing the version as `v2beta1`, but Google Cloud Stackdriver Logging is using `v2`. Are the GAPIC/GRPC endpoints stable? Or will there be additional changes to th

[2016-10-14 15:29] quartzmo commented on #955
I'm sorry, can you write an example for this library (google-cloud-storage) which shows the actual (and proposed) API calls that will achieve your goal?

[2016-10-14 16:11] Capstan commented on #955
And you want a one-shot upload? `PUT` only? This versus either of

- signed URL to create a resumable upload session
- POST policy for use in a traditional browser web form

My understanding is that if you know the object name you want to upload to, you should still be able to produced a signed URL for it in some fashion, though perhaps not through the `file` object.