[2017-08-15 19:34] quartzmo commented on #1635
@blowmage

Should this be an option on `Dataset#insert` or a new method? (And for either choice, what should the new option or method be named?)

[2017-08-15 19:54] blowmage commented on #1635
I think adding this functionality in `Dataset#insert` makes a lot more sense.

[2017-08-15 19:55] blowmage commented on #1635
When we've done this in other libraries we have used the `autocreate` method argument.

[2017-08-15 21:28] NickTitle opened #1672 "Google::Cloud::Pubsub::Subscription::Listener.start does not appear to begin processing messages"
While trying to use the latest version of the `subscription#listen` api, i'm unable to force the listener to block and process my messages. following the example added to the guide in #1608, i see the following behavior

- creating a listener works
- starting that listener works
- no messages get pulled
- manually pulling from the subscription shows me queued messages
- calling `listener.stop.wait

[2017-08-15 21:39] blowmage commented on #1672
Hi @NickTitle, thanks for opening the issue. Your code looks correct. We have very similar code in our [acceptance test](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/acceptance/pubsub/async_test.rb) as well. How long are you waiting for the subscriber to receive the message before stopping it? Do you have any other processes active that might be running

[2017-08-15 21:50] NickTitle commented on #1672
@blowmage you're awesome - sure enough, a very short stack trace complaining about a missing method is attached:
[code]

[2017-08-15 22:28] blowmage commented on #1672
It looks like the API method `StreamingPull` is not enabled for your project. @geigerj, what can you tell us about this? Is there anything users need to do to enable this API?

[2017-08-15 22:32] geigerj commented on #1672
This method is should be enabled by default. Looping in @maxdietz.

[2017-08-15 22:35] geigerj commented on #1672
FYI @lukesneeringer

[2017-08-15 22:39] quartzmo commented on #1629
@blowmage @geigerj @tswast

I have implemented a [simple version](https://github.com/quartzmo/google-cloud-ruby/blob/93b6efaadb33285a44448e1f1b5c07a6741ede27/google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb#L1090) of this feature that sends the `ETag` value in the patch request. However, I am not seeing the expected behavior in my [acceptance test](https://github.com/quartzmo/google-clou

[2017-08-15 23:12] tswast commented on #1633
Labels was explicitly requested to be supported in client libs by Jeremy on the BigQuery team.

I'm not certain about `schemaUpdateOptions`.

Related: is there a way to pass in options that aren't explicitly supported by the client libraries? I'm wondering about ways to better support alpha/beta customers.

[2017-08-15 23:13] tswast commented on #1629
@jskeet I remember you had a comment on the requirements doc about this. Mind taking a look at the Ruby implementation?

[2017-08-15 23:24] blowmage commented on #1633
We've looked into before and there is no easy way. We have encouraged users who need this to skip the Google Cloud Ruby library and drop down to the Google API Client library.

[2017-08-15 23:28] quartzmo commented on #1633
We have issue #1638 for the discussion of supporting experimental features.

[2017-08-16 05:39] jskeet commented on #1629
@tswast: I don't know Ruby so would almost certainly miss details. I'm happy to answer specific questions though.

One thing to be aware of is that the etag in the JSON returned when you create a table/dataset is currently different from the etag you'll get if you immediately fetch the object again.

[2017-08-16 16:08] quartzmo commented on #1629
My problem is that no matter what value I send in the `etag` field of the object in the patch request, I never get an error. (My expectation is that if I send an `etag` value and it doesn't match the current value in the backend, I should get an error.)

Here is a test run with `puts` debug logging:

#### dataset_test.rb
[code]

#### dataset.rb
[code]

[code]

[2017-08-16 16:13] jskeet commented on #1629
Ah - just to check, is anything converting that into an If-Match header? (The .NET REST library does this automatically - [implementation](https://github.com/google/google-api-dotnet-client/blob/a87b6297585e5f59ef30ebc7e2d15fcd33cd5ec2/Src/Support/Google.Apis/Requests/ClientServiceRequest.cs#L256).)

[2017-08-16 16:56] quartzmo commented on #1629
@jskeet Thanks for this crucial bit of info. I bet this is the problem.

[2017-08-16 18:03] quartzmo commented on #1629
@jskeet Thanks, setting the `If-Match` header does the trick, I now get `<Google::Apis::ClientError: conditionNotMet: Precondition Failed>`. Pretty cool how the .NET REST lib does that.

[2017-08-16 18:40] blowmage commented on #1629
@jskeet Wow, really? Why is that? Should we always get the resource after creating it to ensure that users always have a valid tag?

[2017-08-16 19:04] jskeet commented on #1629
Unsure. I'm chasing it internally - I'd really like this to be changed server-side.

[2017-08-16 19:07] blowmage commented on #1629
One of our requirements is to use etag on changes, so it looks like we will add a `get` call after `create` so that the user always has a valid etag. If the server-side implementation changes we can remove the `get` call.

[2017-08-16 20:05] quartzmo commented on #1629
@blowmage Do you want to request this on PR #1674?

[2017-08-16 20:56] geigerj commented on #1672
We are investigating this internally. I'll update this issue when we know more.

[2017-08-16 21:04] quartzmo commented on #1629
@jskeet I am seeing a similar issue with `service.patch_table`. The table representation returned by `service.patch_table` does NOT have the updated etag, but rather the stale etag. (But a `get` after a `patch` returns a table representation with the new etag.)

Here is some debug logging:

[code]

And the output:

[code]

This is different from `patch_dataset`, which works correctly.

[2017-08-16 21:14] jskeet commented on #1629
@quartzmo: Hmm - that's very odd. I haven't looked at that in C#. I'll have a look tomorrow.

[2017-08-16 21:19] geigerj commented on #1672
@NickTitle Are you still seeing this error?

[2017-08-16 22:00] NickTitle commented on #1672
Hi @geigerj, running my example above and aborting threads on exception, i still see the error around this missing method.

Thanks for investigating!

As an aside, I refactored my listen to a  `while true` loop, polling for messages in the interim. Do you have any guidance for a reasonable frequency for me to hit p/s?

[2017-08-16 22:10] blowmage commented on #1672
@NickTitle the previous release's implementation that used `pull` is here:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-pubsub/v0.26.0/google-cloud-pubsub/lib/google/cloud/pubsub/subscription.rb#L339-L348

[2017-08-16 23:17] geigerj commented on #1672
@NickTitle I'm having trouble reproducing. I was able to run your snippet and saw the expected behavior.

Please install `google-cloud-pubsub` in a clean Ruby environment and run your snippet? If you're still seeing the issue, could you then give the output of running `gem list`? (Just in case the difference in behavior is coming from having dependencies on different versions of, say, gRPC.)

[2017-08-17 08:44] jskeet commented on #1629
Confirmed, I see the same behaviour for both patch and update of tables, but not of datasets. Will pursue that internally too.

[2017-08-17 22:00] tiagopog commented on #1672
Hey there! Since I've updated `google-cloud-pubsub` from `0.23.0` to `0.27.0` I started experiencing the same issue reported by @NickTitle.

I did a little debug and that's what I've got so far:

[code]
Well, I don't have time enough now to go deeper into the gem's code and and try to check what's happening so I hope this report can somehow guide you guys on figuring it out.

Should I stick with a

[2017-08-17 22:04] mdietz94 commented on #1672
Could you provide information about your environment, for example the OS, and the output of gem list? We have not yet been able to reproduce this on our machines, and understanding what is different about your environment would be a big help.

Thanks

[2017-08-17 22:20] tiagopog commented on #1672
All right, here's the requested information:

[code]

[2017-08-17 22:20] groob commented on #1672
@mdietz94 (I work with @NickTitle )

We are on GKE, deploying our rails app in a `FROM ruby:2.4.1` container.
I'm in the ruby channel on GCP slack (also @groob) if I can be of further assistance.
Here is our gem list:

[code]

And `gem list` from macOS environment that nick is working off of:

[code]

[2017-08-18 13:10] tiagopog commented on #1672
FYK I've downgraded from `0.27.0` to `0.26.0` and things got back working as expected.

[2017-08-18 14:10] blowmage commented on #1672
Yes, `0.27.0` included several changes, including calls to the new StreamingPull API. Downgrading to `0.26.0` will use the synchronous Pull.

[2017-08-18 20:35] #1322 closed

[2017-08-19 05:37] Nakilon commented on #1521
@palladius where did you get this structure from? It reminds me objects that I saw in Error Reporting but can't find docs by googling `"script_ver"`

[2017-08-20 20:21] rushilagr opened #1679 "Errors not being reported"
I have deployed a simple ruby web app (using Rack and Puma) on Google Container Engine and Im unable to enable Stackdriver error reporting. Although logging works perfectly

Since the gem states that it takes care of all configuration, I have simply installed and required the file at the top of my rack server file.

For my Google Cloud project, StackDriver error reporting is generally correctly co

[2017-08-21 16:19] quartzmo commented on #1629
Closed by #1674.

[2017-08-21 16:19] #1629 closed

[2017-08-21 16:19] quartzmo commented on #1630
Closed by #1674.

[2017-08-21 16:19] #1630 closed

[2017-08-21 17:30] hxiong388 commented on #1679
Hi @rushilagr. Thanks for reporting the issue. A common pitfall for error reporting is that the [Cloud Error Reporting API](https://console.cloud.google.com/apis/api/clouderrorreporting.googleapis.com/overview) isn't enabled by default. Please make sure it is enable on your GCP project.

Also, I noticed you stated "Since the gem states that it takes care of all configuration, I have simply install

[2017-08-22 18:15] quartzmo commented on #1632
Closed by #1681.

[2017-08-22 18:15] #1632 closed

[2017-08-22 18:21] quartzmo commented on #1633
@tswast Since `Job.labels` is requested, should we also add support for a labels `filter` param to our method for listing jobs? Seems like scope creep for this deliverable, but without it Job labels won't have as much value.

[2017-08-22 18:22] quartzmo commented on #1633
@tswast Can you find out if `schemaUpdateOptions` should be exposed at this time?

[2017-08-22 18:30] tswast commented on #1633
Got confirmation from the backend team. The docs for `schemaUpdateOptions` are out-of-date. It's a GA feature.

It's considered a P2 item, so not a GA blocker for the client libs, but hopefully available soon after GA.

[2017-08-22 19:57] geigerj commented on #1672
@groob @tiagopog @NickTitle We're still having trouble reproducing this bug internally. Could you run the reproduction code [from the original report](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1672#issue-250444590) with the following environment variables set: `GRPC_TRACE=http GRPC_VERBOSITY=debug`? Then put the output into a gist or attach it as a text file to this issue.

T

[2017-08-22 20:57] quartzmo commented on #1631
Closed by #1682.

[2017-08-22 20:57] #1631 closed

[2017-08-22 21:30] quartzmo commented on #1635
Well, this is embarrassing. It turns out that `Dataset#insert` doesn't exist. Should I add it, with this signature?

` def insert table, rows, skip_invalid: nil, ignore_unknown: nil, create: nil`

[2017-08-22 21:36] blowmage commented on #1635
Yes, please.

[2017-08-23 14:48] rushilagr commented on #1679
The error reporting API was not enabled. The documentation around it is a bit confusing.

But even after enabling, It's not working.

Here is the error trace from server logs:
[code]

My config.ru

[code]

I am using another service, Sentry, in quite a similar fashion. Just adding the Middleware in the config.ru file, and thats working just fine.

Might be an issue with configuration.
The code is

[2017-08-23 14:56] rushilagr commented on #1679
Another question,

What is the difference between Stackdriver Logging API (https://console.cloud.google.com/apis/api/logging.googleapis.com/overview?project=...)
and
Stack Driver Logging Dashboard(https://console.cloud.google.com/logs/viewer?project=...)

Does the Stackdriver Logging API simply monitor the traffic on that particular API?

Thanks

[2017-08-23 15:39] NickTitle commented on #1672
@geigerj @blowmage @tiagopog i just figured it out!

Locally I was running the p/s emulator in docker, and though my gems were updated, the cloud-sdk image i had installed was WAY out of date.

[code]

I happened to update it when troubleshooting something else, and when I ran the example code today with the original commit checked out, it worked! By changing the docker image to the outdated one,

[2017-08-23 15:39] #1672 closed

[2017-08-23 15:48] blowmage commented on #1672
@groob Are you also targeting an emulator?

[2017-08-23 17:45] hxiong388 commented on #1679
@rushilagr Thanks for checking. I will test the `roda` gem with `google-cloud-error_reporting` to see if I can reproduce the issue.

You're correct. The Stackdriver Logging API Dashboard, and other API dashboards alike, just monitors the API usage.

[2017-08-23 21:08] rushilagr commented on #1679
Thanks for the quick reply Heng.

Roda is a simple wrapper on top on rack. And it is production tested, so it
would be very very unlikely that there is exists a problem specific to it.

Are there any other things I might be missing? Is there a checklist that I
can go through or some other details I can provide you?
On Wed, Aug 23, 2017 at 11:15 PM Heng Xiong <notifications@github.com>
wrote:

[2017-08-23 21:42] hxiong388 commented on #1679
Hi @rushilagr. I actually got Roda to work with the Stackdriver Error Reporting gem by using the Hello World app on Roda's home page. However, I further enabled Roda's built-in error handling mechanism to test if it interferes with Stackdriver Error Reporting:
[code]
And sure enough, Roda's built-in error handling mechanism intercepts the raised exception and stops it from propagating up the Rack

[2017-08-24 13:26] tiagopog commented on #1672
@geigerj, running with the env vars you've asked:

[code]

[2017-08-24 13:28] tiagopog commented on #1672
@blowmage I'm targeting an emulator as well, by the way, in that last test I was running this image: https://hub.docker.com/r/adilsoncarvalho/gcloud-pubsub-emulator/

[2017-08-24 13:38] blowmage commented on #1672
@tiagopog Can you update to the latest emulator and verify whether that fixes this for you?

[2017-08-25 08:05] Edo-A opened #1688 "examples for stream.rb are incorrect"
The examples for using stream.rb do not match across the project, there are differences.
The only example that works correctly is in file speech/stream.rb directly below the section:
[code]

The other examples in the .rb files generate an exception: "undefined method `stream' for #<Google::Cloud::Speech::Audio:0x005624cbaaf708> (NoMethodError)"

Note that the examples in the documentation generate

[2017-08-25 12:35] blowmage commented on #1688
Hi @Edo-A, thanks for opening the issue. Are you running these examples against the

[2017-08-25 12:37] blowmage commented on #1688
Hi @Edo-A, thanks for opening the issue. Are you running these examples against the Cloud Pub/Sub API? Or are you running this against an emulator?

[2017-08-25 13:24] Edo-A commented on #1688
running them from a Ruby file. The example here [1] for
Speech::Project:#stream is found in multiple comment inside the actual
library. This however throws an error "undefined method `stream' for
#<Google::Cloud::Speech::Audio:0x005572fc471688> (NoMethodError)" for the
line "stream = audio.stream encoding: :linear16, language: "en-US",
sample_rate: 16000​"​

Pub/Sub has nothing to do with it.

[1]

[2017-08-25 13:43] blowmage commented on #1688
Apologies, I meant Cloud Speech, not Cloud Pub/Sub.

[2017-08-25 14:08] blowmage commented on #1688
Okay, I have verified there is one code example in [`google/cloud/speech.rb`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-speech/v0.26.1/google-cloud-speech/lib/google/cloud/speech.rb#L157-L179) that is incorrect. It shows calling `stream` from an audio object, not the main `speech` object. However, I have gone through all the examples in [`google/cloud/speech/stream

[2017-08-25 18:12] quartzmo opened #1690 "Vision acceptance tests are too specific for an ML service"
Change assertions of specific value such as:

[code]
to less-specific assertions of type, that will be more resistant to false failures due to the normal evolution of the service:

[code]

[2017-08-25 18:14] quartzmo opened #1691 "Improve BigQuery Docs"
The BigQuery docs for minor methods such as setters/getters lack param and type tags. Bring these docs up to the level of other GA and Beta packages.

[2017-08-25 19:47] quartzmo opened #1692 "Support templateSuffix option in Tabledata.insertAll"
The `templateSuffix` option in [`Tabledata.insertAll`](https://cloud.google.com/bigquery/docs/reference/rest/v2/tabledata/insertAll) is currently marked `[Experimental]`, but should the [template tables](https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables) feature be supported for Beta/GA?

See #1635 for another issue related to table creation while streaming data.

/cc

[2017-08-25 20:45] tswast commented on #1692
I'm checking with the backend folks. I need to figure out how template tables interact with writing to partitions.

[2017-08-25 21:00] tswast commented on #1692
Template tables are a low priority feature. Not required for GA by the client libraries. They are mostly obsolete now that tables can be partitioned.

[2017-08-25 21:30] quartzmo commented on #1635
@tswast The suggestions for retry behavior (above) are a bit contradictory/fuzzy (emphasis mine):

They state: "try creating using **exponential** backoff with first delay >= 1m" and "if failed, wait **another minute**, repeat". Do you think the delay should start at 1 minute, double to 2 minutes, and then exponentially increase (4 min, 16 min...) with no limit? Any other ideas or guidance? Afaik,

[2017-08-26 00:59] hxiong388 commented on #1679
@rushilagr I just remembered another thing that may have caused the problem you're seeing. The Google Container Engine cluster needs to have the correct permissions and scope to access any of the other Google Cloud Platform services. Some services, like Stackdriver Logging, have the scope enabled by default. The others, such Stackdriver Error Reporting, need to have the scope enabled during the cr

[2017-08-27 12:31] rushilagr commented on #1679
Enabling the Cloud Platform access fixed it!
I would suggest the team to make the documentation a bit more clearer.

Thanks !

[2017-08-27 12:32] #1679 closed

[2017-08-28 16:42] hxiong388 commented on #1679
I'm glad we find out what the problem is. We'll definitely document this required setting for future GKE users.

[2017-08-28 17:31] hxiong388 opened #1694 "Add documentation to enable GKE cluster scope before using gems"
When many of the google-cloud-ruby gems (bigquery, pubsub, datastore, stackdriver suite, etc) are used in GKE environment, the GKE clusters need to have the corresponding scope enabled upon creation. Otherwise the gems wouldn't work and users not familiar with GKE may think the problem is on the client libraries.

ref #1679

[2017-08-29 01:23] bjwatson commented on #1351
@blowmage Looks like https://github.com/grpc/grpc/issues/8899 has been fixed and released. Does that resolve this issue?

[2017-08-29 07:52] Edo-A commented on #1688
issue is also present in the ruby docs linked below:
https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-speech/master/google/cloud/speech

On Fri, Aug 25, 2017 at 4:08 PM, Mike Moore <notifications@github.com>
wrote:

--

Edo Akse |  Cloud Platform |  eakse@google.com |  Sellbytel BCN

[2017-08-29 16:22] quartzmo commented on #1634
Closed by #1684.

[2017-08-29 16:22] #1634 closed

[2017-08-29 16:51] #1688 closed

[2017-08-29 18:59] blowmage commented on #1351
I am working on verifying the latest releases on Arch. I'll close when we have verification.

[2017-08-29 19:17] blowmage commented on #1688
This code example as been corrected. Thanks!

[2017-08-29 20:50] thagomizer opened #1695 "Please add a quick start to the Readme"
Ideally I'd like a Rails Quick Start and a separate Rack Quick Start. @remi says there is specific support for Sinatra built in to this gem and calling that out would be helpful too.

[2017-08-29 22:00] quartzmo commented on #1635
@tswast While working on the PR for this issue, I think I discovered why the requirements ask for a retry backoff that begins with 1 min delay. My [initial approach during development](https://github.com/quartzmo/google-cloud-ruby/blob/8688a02516ff7672306d4da87f5ab626e9f2637b/google-cloud-bigquery/lib/google/cloud/bigquery/dataset.rb#L1161-L1169) was to retry the insert just 10 seconds after creat

[2017-08-30 18:31] quartzmo commented on #1629
@jskeet. As of yesterday (2017-09-29), it appears that this issue with invalid etags from the service has been resolved, based on a couple of acceptance tests that we put in place to detect a fix:

[code]

Therefore, I am now preparing a PR to revert our workarounds for this issue.

[2017-08-30 18:35] jskeet commented on #1629
Right - I was going to report that good news, but I've been seeing issues with etags being ignored when updating datasets.

[2017-08-30 18:37] quartzmo commented on #1629
Oh, thanks for pointing this out. In that case, I'll do a partial revert just for the inserts.

[2017-08-30 18:47] quartzmo commented on #1629
@jskeet I'm currently seeing etag failures on Table updates, but not Dataset:

[code]

[2017-08-30 18:53] jskeet commented on #1629
We may be talking about different things - I'm talking about deliberately providing an incorrect etag in an If-Match header on update, and expecting (but not getting) a failure. Once that's fixed, I'll look at the other issues we've had :)

[2017-08-30 18:54] quartzmo commented on #1629
Yes, you're right. Thanks for the clarification.

[2017-08-31 03:37] danoscarmike commented on #1181
Ping. @landrito @geigerj can you please update the status of this one?

[2017-08-31 03:39] danoscarmike commented on #1628
Hi MIke, is this really P0?

[2017-08-31 03:45] blowmage commented on #1628
At standup on Monday I was told this was P0.

[2017-08-31 03:51] quartzmo commented on #1628
I believe that although this deliverable is P0 internally, it should be P1 on GitHub, similar to the other BigQuery "P0" issues that @geigerj changed to P1 some time ago (see log above.)

[2017-08-31 04:02] blowmage commented on #1628
Ah, that does seem familiar. I'll move it back.

[2017-08-31 11:47] Carpela commented on #1214
Is there a workaround I can use here to execute that Operation lookup from id for v 0.22.2.
i.e. creating a job object such that it will look up and reload the operation  just using the id.
Or could you at least tell me which version this was working for so I can try and pick through the code to mirror it?

[2017-08-31 14:05] geigerj commented on #1181
I will regenerate monitoring today, and once that's pushed to the github.io site we can verify the fixes that we made in the generator.

[2017-08-31 14:23] Carpela opened #1700 "Speech Api - Long Running Responses - How do you store the operation to come back later?"
There doesn't seem an obvious way to store the operation via the id such that you can return to a long running response and get the results through the Ruby library.
Am I missing something obvious? (I'm using v0.22.2 but have looked at the latest and while there's an 'id' method, there doesn't appear to be any way of using it).

[so_question](https://stackoverflow.com/questions/45980266/save-googl

[2017-08-31 14:53] quartzmo commented on #1635
@jskeet Do you have any knowledge of the reason for this requirement? (Specifically, to let insertAll fail on a missing table, then wait a minimum of 1 minute before creating the table and attempting insertAll again.)

[2017-08-31 14:57] jskeet commented on #1635
No, I haven't implemented this one yet, and was looking for more details myself. I would personally not want to create a delay of a whole minute automatically.

@jba may have more details.

[2017-08-31 20:14] quartzmo commented on #1633
QueryJob `preserveNulls` is marked `[Deprecated]`, so I'm not going to expose it.

[2017-09-01 15:52] blowmage commented on #1214
@Carpela This functionality was added in [google-cloud-speech 0.24.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-speech%2Fv0.24.0).

[code]

[2017-09-01 15:56] blowmage commented on #1700
@Carpela If you upgrade to [google-cloud-speech 0.24.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-speech%2Fv0.24.0) or later you can use [`Operation#id`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-speech/latest/google/cloud/speech/operation?method=id-instance) and [`Project#operation`](https://googlecloudplatform.github.io/g

[2017-09-01 15:56] #1700 closed

[2017-09-01 18:43] quartzmo commented on #1633
Closed by #1699, #1701, #1703.

[2017-09-01 18:43] #1633 closed

[2017-09-01 23:34] quartzmo commented on #1181
In Video Intelligence, there is now content configured from the `V1Beta2` module for the link/page of this name. However, it is [not showing up](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-video_intelligence/master/google/cloud/videointelligence/v1beta2). I think this may be due to a limitation in our `gcloud-jsondoc` tool, which I believe only generates documentati

[2017-09-05 17:34] geigerj commented on #1181
@quartzmo Once you have a better idea of what the limitation is, could you give me a sense of the approximate cost of changing the tool to support module-level documentation? Also, whether there's some other approach we can take with the code generator to feed these docs to the `gcloud-jsondoc` tool -- can we write this to a text file and feed it through the the `jsondoc` Rake task?

[2017-09-05 20:42] bobber205 commented on #1695
What's the Sinatra support?

[2017-09-05 20:48] hxiong388 commented on #1695
The `google-cloud-error_reporting` gem under `stackdriver` gem has [code](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/8e93817078b9990a8ec1d6810bb82a7172161c8a/google-cloud-error_reporting/lib/google/cloud/error_reporting/middleware.rb#L77-L81) to capture and report exceptions from Sinatra even if Sinatra error handling mechanism is enabled.

As far as I remember, this is currentl

[2017-09-05 23:10] danoscarmike commented on #1628
Thanks guys.  Yes, I think the BigQuery "P0" just means absolutely required for next release.  Issue label P0 means drop everything, the house is on fire :)

[2017-09-06 16:44] tswast commented on #1635
The `tabledata.insertAll` 404 response is cached by the backend for 1m, so that indeed should be the minimum time before trying to insert the rows again.

The `table.insert` request should happen sooner than 1 minute, but at a random delay. The reason for a random delay is that the `table.insert` method is a low QPS method whereas `tabledata.insert` is a high QPS method, so there might be lots of

[2017-09-06 17:10] quartzmo commented on #1635
@tswast Thank you. A couple of questions:

1. What is the best sequence of delays for retrying `tabledata.insertAll`? Exponential delays starting at 1 min (1m, 2m, 4m, 16m, ...)? Or something like exponential starting at x seconds with an initial "base" delay of 1m (1m+1s, 1m+2s, 1m+4s, 1m+16s, ...)?

1. If the call to `table.insert` fails because the table has been created by another worker durin

[2017-09-06 20:51] tswast commented on #1635
Regarding (1) I'm asking for more clarification. The requirements that Jeremy wrote say "Retry insert, create table if failed, wait another minute, repeat" but also "Use exponential backoff with first delay >= 1m". Based on the email I got from him this morning, I think he may have meant to say random instead of exponential.

(2) Correct. If `table.insert` fails because it already exists, wait 1 m

[2017-09-06 23:02] quartzmo commented on #1181
I spent most of today working on it, but I did not yet find a solution. So I can only guess that it will take another day, or two.

I have a feeling this might be easier. If I get any ideas I won't hesitate to run them by you here on this issue.

[2017-09-06 23:06] geigerj commented on #1181
Thanks, @quartzmo.

[2017-09-07 17:33] quartzmo commented on #1181
@geigerj Will it work with the generator to move these top-level docs to a declaration of the module that is in a `doc` directory? In the case of Video Intelligence `V1Beta2`, this would be from [`lib/google/cloud/video_intelligence/v1beta2.rb#L51-L62`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-video_intelligence/v0.22.0/google-cloud-video_intelligence/lib/google/c

[2017-09-07 17:45] geigerj commented on #1181
@quartzmo Sure, we can try that. (It's slightly complicated from the generator side because there is not always a module in the `doc/` directory currently that corresponds to the API client module, e.g., for any API that doesn't have a `cloud` package in its proto namespace. But we can generate a new file in those cases.)

Before I start making the change to the generator, were you able to confirm

[2017-09-07 17:58] quartzmo commented on #1181
Yes, it works for me locally after changing the `gcloud-jsondoc` tool to include modules as well as classes.

FYI, the left nav item [can be mapped to any jsondoc output](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-video_intelligence/v0.22.0/google-cloud-video_intelligence/docs/toc.json#L26). The problem is that the YARD objects used to generate these outputs do not

[2017-09-07 18:26] geigerj commented on #1181
Thanks for looking into this, @quartzmo.

@eoogbe is going to make the change in the code generator. We expect to have an update early next week.

[2017-09-07 18:30] quartzmo commented on #1181
OK, I'll push the change to the gcloud-jsondoc tool to include modules as well as classes now.

[2017-09-07 19:59] blowmage opened #1708 "Deprecated Sink attributes"
Recently Logging's Sink resource has deprecated [`output_version_format`](https://cloud.google.com/logging/docs/reference/v2/rest/v2/billingAccounts.sinks#LogSink.FIELDS.output_version_format), [`start_time`](https://cloud.google.com/logging/docs/reference/v2/rest/v2/billingAccounts.sinks#LogSink.FIELDS.start_time), and [`end_time`](https://cloud.google.com/logging/docs/reference/v2/rest/v2/billin

[2017-09-12 22:12] quartzmo commented on #1635
Closed by #1707.

[2017-09-12 22:12] #1635 closed

[2017-09-13 19:43] quartzmo opened #1715 "Update BigQuery retry behavior"
The default retry behavior in [`HttpCommand#execute`](https://github.com/google/google-api-ruby-client/blob/master/lib/google/apis/core/http_command.rb#L81-L120) in google-api-ruby-client does not satisfy the requirements for retrying idempotent BigQuery RPCs. The behavior of google-api-ruby-client should be configured or overridden as necessary, but google-api-ruby-client should be kept as a depe

[2017-09-13 20:13] quartzmo opened #1716 "Support Table labels"
Add CRUD methods for Table labels. At present there is no "filter" param on tables.list.

See [Using Labels](https://cloud.google.com/bigquery/docs/labels) .

[2017-09-13 20:34] hxiong388 opened #1717 "Trace middleware doesn't read keyfile argument from `Google::Cloud.configure.keyfile`"
This code should work:
[code]

But right now it fails with this error:
[code]

[2017-09-14 00:48] #1717 closed

[2017-09-14 18:47] quartzmo commented on #1716
Closed by #1719.

[2017-09-14 18:47] #1716 closed

[2017-09-14 22:41] quartzmo opened #1720 "Add high-level (synchronous) BigQuery operations"
Add new high-level (synchronous) convenience methods that encapsulate waiting for a job to complete. These should be similar to `#query`, except that polling should use `jobs.get` instead of `jobs.getQueryResults`. The naming of the new methods should be consistent with the pairing of `#query` (high-level) and `#query_job` (low-level). The following methods should be added:

- [x] `#copy`
- [x] `#

[2017-09-14 23:29] quartzmo commented on #1181
@geigerj

I was just alerted to an issue in the page that was generated following #1714 by @blowmage: On the [Google::Cloud::VideoIntelligence::V1beta2](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-video_intelligence/master/google/cloud/videointelligence/v1beta2) page, the two links in the table are broken.

I'm not sure of the root cause, but I noticed that the brok

[2017-09-14 23:39] geigerj commented on #1181
@eoogbe This looks an issue with the `toolkit` template that's generating [these lines](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1714/files#diff-0ddd7effd5b90c3e650f047087da1903R26). Could you take a look?

[2017-09-14 23:57] eoogbe commented on #1181
@geigerj It looks like it's [this line](https://github.com/googleapis/toolkit/blob/master/src/main/java/com/google/api/codegen/transformer/ruby/RubyPackageMetadataTransformer.java#L144) that's causing the problem. It's based on the brittle [`proto_path`](https://github.com/googleapis/artman/blob/80decc01a66325dbefbc7ca6a943feb489c4956e/artman/tasks/package_metadata_tasks.py#L90) property which var

[2017-09-15 00:03] geigerj commented on #1181
@eoogbe Agreed. Suggest that instead of using `proto_path` from the PackageMetadata we should instead use the package declared for the `.proto` file that contains the `service` being documented. This should contain the version already, so there will be no need to append the version explicitly in `RubyPackageMetadataTransformer.generateTocContent()`.

[2017-09-15 00:54] eoogbe commented on #1181
How do I access the file path from the ProtoFile object?

[2017-09-15 03:13] geigerj commented on #1181
@eoogbe For the package, you want `protoFile.getProto().getPackage()`.

[2017-09-15 12:49] G-Bianchi opened #1723 "Deprecated parameters warning"
The `channel`, `chan_creds`, and `updater_proc` parameters will be removed on 2017/09/08

[2017-09-15 12:56] blowmage commented on #1723
Which gem?

[2017-09-15 13:03] G-Bianchi commented on #1723
Sorry, google-cloud-speech

[2017-09-15 13:15] blowmage commented on #1723
Thanks. I'll release an update to stop triggering the warning. Thanks for opening the issue!

[2017-09-15 15:16] blowmage commented on #1723
So apparently the version of the `googleapis-common-protos` gem that was released this week is raising that deprecation warning. We probably need to address this for all gems that use `Google::Longrunning::OperationsClient`.

[2017-09-15 15:21] blowmage commented on #1723
Right now it looks like Spanner and Speech are the only gems affected.

[2017-09-15 15:23] quartzmo commented on #1720
I was originally thinking it would be ok for these methods to return `Job` subtypes, but in response to [your comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1722#pullrequestreview-62923233) on the PR, should they all simply return `true` if successful?

[2017-09-15 15:42] blowmage commented on #1720
I do. I think the "high level" methods should return `true`, and the "low level" methods return the job object.

[2017-09-15 17:38] geigerj commented on #1181
From @blowmage on #1714:

@eoogbe we should also switch to use a relative link here to avoid the issue @blowmage raises.

[2017-09-15 21:17] sam0x17 opened #1724 "rails errors in stackdriver only contain stack trace, not error name"
Using the 'stackdriver' gem with a new rails 5 app results in errors being reported to stackdriver, however the error name is not recorded. Here is a side-by-side comparison of an error from Cloud Functions (which is formatted correctly) and an error from rails, which only shows the stack trace and forces me to go into the logs to see the actual error:

![screenshot from 2017-09-15 17-13-29](https

[2017-09-15 21:18] sam0x17 commented on #1724
Note that even if I click on the error and view the raw payload, only the stack trace is included -- only by going into the logs can I see the actual error, which is pretty annoying

[2017-09-15 21:21] sam0x17 commented on #1724
Here is the full output of raw for that rails error:
[code]
And here is what it looks like in the logs:

![screenshot from 2017-09-15 17-20-39](https://user-images.githubusercontent.com/1855021/30503966-562028f8-9a3a-11e7-95ba-add3ad8daf49.png)

[2017-09-15 21:27] hxiong388 commented on #1724
@sam0x17 Thanks for submitting this issue.

This is a known problem where these Error Events are auto-generated by backend Stackdriver Logging service from parsing the application logs. The Stackdriver Logging log parser currently doesn't fully translate Ruby Exception logs, as you've noticed. We have an internal ticket tracking this issue.

cc/ @dazuma
ref b/37483336

[2017-09-15 21:37] eoogbe commented on #1181
What does a correct relative link look like? For example, if this is the absolute:
`https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-video_intelligence/latest/google/cloud/videointelligence/v1beta2/videointelligenceserviceclient`

[2017-09-15 22:44] hxiong388 commented on #1724
Will be fixed by https://github.com/GoogleCloudPlatform/fluent-plugin-detect-exceptions/pull/17

[2017-09-17 22:03] igorpeshansky commented on #1724
This is fixed in [fluent-plugin-detect-exceptions v0.0.6](https://rubygems.org/gems/fluent-plugin-detect-exceptions/versions/0.0.6).

[2017-09-18 16:54] quartzmo commented on #1628
Closed by #1711 and #1725.

[2017-09-18 16:54] #1628 closed

[2017-09-18 18:17] geigerj opened #1729 "Google Cloud `Credentials` classes should subclass `Google::Auth::Credentials`"
The new GAPIC surface assumes the `credentials` argument is an instance of `Google::Gax::Credentials`. By having `Google::Cloud::Credentials` subclass `Google::Gax::Credentials`, we can remove some duplicated code and resolve this issue.

(Context: I originally hand-edited the [Spanner autogen](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1727/commits/c439522aec458db7f0853daae9631

[2017-09-18 18:37] hxiong388 commented on #1724
@igorpeshansky I just tested again with a Rails app on GAE Flex, seems like the problem still persists. Do you know when will GAE Flex upgrade to use the latest fluent-plugin-detect-exceptions v0.0.6 gem?

[2017-09-18 18:38] #1694 closed

[2017-09-18 18:43] blowmage commented on #1729
The problem with this is that it forces a dependency on `google-gax` on to gems that would otherwise not have a dependency on it. Another option is to only change the `Credentials` classes of the gems that already depend on `google-gax` to inherit from `Google::Gax::Credentials` rather than `Google::Cloud::Credentials`.

[2017-09-18 20:00] igorpeshansky commented on #1724
@hxiong388 I'm trying to find that out. Will ping this issue when I know more.

[2017-09-19 15:29] quartzmo commented on #1720
Closed by #1722, #1726, #1730.

[2017-09-19 15:29] #1720 closed

[2017-09-19 18:49] quartzmo opened #1731 "Sanity check insert requests before sending"
Reject requests with zero rows, which has been reported as a "major source of user error."

* Raise `ArgumentError` with appropriate message, since service will similarly raise an error if empty `rows` reaches it, as can happen currently.
* Assume that `Tabledata.insert` is the only RPC that requires this check.

[2017-09-19 23:40] #1715 closed

[2017-09-19 23:52] rizidoro opened #1734 "Unable to make RPC calls using Pry"
I'm getting an Google::Cloud::UnauthenticatedError when trying to execute the following code:

[code]

I already enabled PubSub and granted a ProjectOwner to the service account.

[2017-09-20 00:00] blowmage commented on #1734
@geigerj Is there anything in the new connection configuration that might explain the deadline exceeded error?

[2017-09-20 14:02] rizidoro commented on #1734
@blowmage it is happening when I call the `create_topic`.

This is the google-cloud Gemfile.lock versions:
[code]

[2017-09-20 16:59] blowmage commented on #1734
So I'm noticing you are using an older version of Pub/Sub. I don't know of any issues with that version, but it might be worth trying to upgrade to the latest google-cloud and google-cloud-pubsub versions just to see.

Here is what I get when installing google-cloud-pubsub on a fresh ruby install and running your code:

[code]

[2017-09-20 17:00] blowmage commented on #1734
What is the network connection like where you are getting this error? Is it a slow connection?

[2017-09-20 17:55] quartzmo commented on #1731
Closed by #1733.

[2017-09-20 17:55] #1731 closed

[2017-09-20 18:03] quartzmo opened #1736 "Batch-and-flush option for Dataset and Table #insert"
* Buffers rows on client for ~10s before sending.
* Option (or separate method.)
* Needs parameters to control batching.
* Needs mechanism to flush accumulated data when done streaming.
* See google-cloud-python for possible implementation.

[2017-09-20 18:09] blowmage commented on #1736
Does the create on insert behavior apply here as well? It would be unfortunate do have multiple batches attempt to create the table at the same time...

[2017-09-20 18:14] rizidoro commented on #1734
Hmm I noticed that this problem only happens when I'm stopped on a `binding.pry` session.

I removed the `binding.pry`, and it worked.

[2017-09-20 21:00] blowmage commented on #1736
@tswast ^

[2017-09-20 21:02] quartzmo commented on #1736
@tswast Do you know if any other platform has implemented this feature? I looked at google-cloud-python, but I didn't find it.

[2017-09-20 22:12] quartzmo opened #1739 "Support Storage Pub/Sub notifications"
Support create, list, delete configurations for buckets to send notifications to Pub/Sub topics.

[2017-09-21 12:52] brauliobo opened #1740 "Very slow and cpu intensive"
I'm running `UPDATE` queries with 20 threads that is enough to make the bigquery calls use 100% of one intel i7 6700hq core!

It seems the problem isn't related to bigquery itself but to the HTTP calls and likely authentication.

[2017-09-21 13:37] brauliobo commented on #1740
Confirmed the problem also with jruby and 10 threads

[2017-09-21 13:39] blowmage commented on #1740
How much data are you sending in each thread? Can you post some code to reproduce this?

[2017-09-21 13:56] brauliobo commented on #1740
Sorry, my mistake, it was another big loop in the code.

[2017-09-21 13:56] #1740 closed

[2017-09-21 16:41] tswast commented on #1736
I know that Java doesn't have it and neither does Python (it was wrongly marked as done in the tracking spreadsheet).

Not sure about create-on-insert. I'll ping Jeremy in the requirements doc. My guess is the existing insert method would be used by the batching method and inherit the same behavior.

[2017-09-21 17:51] blowmage opened #1741 "Support Additional BigQuery View attributes"
We just noticed that View added the ability to specify standard vs. legacy SQL, and user defined functions as part of the query definition. Add support for setting, displaying, and updating these attributes.

https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#view

[2017-09-21 17:52] blowmage commented on #1736
I'll continue on the insert-only path I'm on for this then. Thanks!

[2017-09-21 18:50] blowmage commented on #1736
@tswast We have done a similar asynchonous batch publisher thing for Pub/Sub. They had three thresholds for publishing a batch:

1) How old the batch is (0.25 seconds)
2) How many messages the batch contains (1,000)
3) The total size of the batch (10MB)

Do you want users to be able to specify similar threshold amounts for the asynchronous batch BigQuery inserter? We had to set special GRPC header

[2017-09-21 19:12] tswast commented on #1736
The limit is documented to be 10 MB for streaming insert. https://cloud.google.com/bigquery/quotas#streaminginserts

[2017-09-21 19:29] blowmage commented on #1736
Oh, that's excellent. There is a max of 10,000 rows per batch, but recommended 500. Perfect. Thanks!

[2017-09-23 19:46] sam0x17 commented on #1724
@igorpeshansky any updates?

[2017-09-24 17:45] igorpeshansky commented on #1724
The fix is in and expected to roll out within the next two weeks.

[2017-09-25 02:53] sam0x17 commented on #1724
great thanks! 👍

[2017-09-25 16:26] #1739 closed

[2017-09-25 16:38] quartzmo commented on #1741
Closed by #1743.

[2017-09-25 16:38] #1741 closed

[2017-09-25 22:46] geigerj commented on #1438
Actually, still need to add the error types to this repo before GAX will be able to deserialize them.

[2017-09-26 20:00] quartzmo commented on #1626
Unfortunately, the impact of an initial delay of 60s on our acceptance testing was dramatic, causing the time for most tests to increase dramatically.

[2017-09-26 20:19] quartzmo commented on #1626
I believe I misunderstood the requirement. After discussion with @blowmage, we concluded that the exponential ramp-up occurs prior to reaching the constant 60s interval. Will proceed on this understanding.

[2017-09-27 02:14] #1438 closed

[2017-09-27 14:58] quartzmo commented on #1626
Closed by #1751.

[2017-09-27 14:58] #1626 closed

[2017-09-27 14:59] quartzmo commented on #1626
@danoscarmike This last remaining P1 issue for BigQuery is now closed.

[2017-09-28 16:20] blowmage opened #1753 "Google API Client 0.14.x"
Upgrade all services the depend on Google API Client to the latest 0.14 releases.

- [ ] BigQuery
- [ ] DNS
- [ ] Resource Manager
- [ ] Storage

[2017-09-28 16:21] #1736 closed

[2017-09-28 17:27] #1753 closed

[2017-09-29 00:30] mterring commented on #1539
Hi @kumudt
Did you get a workaround for this other than changing hardware? I'm encountering the same issue on a GKE build cluster.

[2017-09-29 11:28] kumudt commented on #1539
@mterring No. I changed the machine type for that one instance group. But, haven't tested this with new grpc version.

[2017-09-29 13:15] pongad opened #1757 "pubsub: streaming pull needs keepalive"
With default configuration, streaming pull will hang if the stream is idle for a few minutes. This usually happens when the subscription has no more messages. In Go, we set gRPC keepalive to 5 minutes [(CL)](https://code-review.googlesource.com/#/c/gocloud/+/17070/). A similar option should be available in Ruby, though I'm not sure what the code to pass in the option looks like.

[2017-09-29 15:09] blowmage commented on #1757
@apolcyn Does the grpc ruby gem have a keepalive setting?

[2017-09-29 20:23] apolcyn commented on #1757
"channel args" can be passed down by passing the name/value of a channel arg in one of the ruby "channel" or "stub" constructors. [I believe this is the channel arg for specifying a keepalive](https://github.com/grpc/grpc/blob/master/include/grpc/impl/codegen/grpc_types.h#L218).

At the same time though, when you mention that the stream hangs in this scenario, this seems a little strange - attempt

[2017-09-29 21:26] blowmage commented on #1757
@geigerj Is this something we should set on the GRPC channel args? Or is this something that should be part of the GAPIC/GAX configuration?

[2017-09-29 22:13] jwnx opened #1759 "Segmentation Fault on AsyncActor::ensure_thread"
Getting frequent segmentation faults on GKE using stackdriver gem. More specifically:
[code]

It is a Rails app and the only configuration done was adding stackdriver to Gemfile. Tested on Ruby 2.4 and 2.3 official Docker container images.

[code]

Full log available here:

[segfault.log](https://github.com/GoogleCloudPlatform/google-cloud-ruby/files/1345801/segfault.log)

[2017-09-29 23:12] dazuma commented on #1759
@jwnx Thanks for the report.

A couple quick questions:

* How frequently do you see these? (A few times a day? Within a few seconds of just about every puma process starting?)
* I see you have `grpc` 1.6.0 installed. What's the version of `google-protobuf`?

---

On some preliminary analysis of the posted log, it looks like grpc is segfaulting in its C code. Here's the control frame list:

[code]

[2017-09-30 01:22] jwnx commented on #1759
@dazuma

- I see it in every puma process on GKE, but couldn't replicate it locally. Which is weird, since I'm using the same Docker containers running other Rails apps and I'm getting this error only on this one app. Maybe is somewhat related to puma configuration?

-   Gem version follows:

[code]

[2017-10-02 18:54] geigerj commented on #1757
@blowmage You should set this on the gRPC channel args. However, the GAPIC doesn't currently provide an easy way to do that. (Currently, AFAICT, you'd have to construct the channel yourself and pass it to the GAPIC.) Temporarily re-assigning to myself to provide an a way to expose the gRPC channel arguments via a new hash-type parameter on the GAPIC client initializer.

[2017-10-02 19:30] blowmage commented on #1757
@geigerj We actually [already do set channel args on Pub/Sub](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/service.rb#L48-L51) to allow for messages larger than 4MB, so I imagine adding a new arg would be straightforward.

[2017-10-02 19:42] geigerj commented on #1757
@blowmage Ah, I see -- you're already constructing the channel yourself. In that case, let's just add a new arg.

Is this something we do frequently enough among other APIs that it might be useful for the client to accept an optional `channel_args` parameter directly?

[2017-10-02 19:50] blowmage commented on #1757
Pub/Sub is the only service that needs this so far. But I do think that being able to specify these args is essential.

[2017-10-03 01:32] pongad commented on #1757
@apolcyn I don't completely understand the network world myself, but my current understanding is this.

To determine whether the connection is broken, we send some packet from client to server, with the expectation that the server should respond within some amount of time. If the server doesn't, we consider the connection "broken".

When a pubsub stream is idle (the client acked all messages it go

[2017-10-03 03:29] apolcyn commented on #1757
ok, I believe that this case in which the connection breaks silently is a valid use, thanks for the info. I am not sure atm if there is a lower bound for these keepalive times though, will double check that...

[2017-10-03 16:43] hxiong388 opened #1761 "Debugger: Use GCP project **number** ID for agent registration"
The Debugger team said they prefer agents to register with the **number** GCP ID when running on GCP environments. The agent should be able to get that number ID from GCP metadata service. It's ok to use the string project ID when running from standalone or AWS.

The attribute needs to change is [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/89494ec65a6a274096e5cb53e926a0afdc

[2017-10-05 20:17] thagomizer opened #1762 "Video Intelligence Documentation has VideoIntelligence listed twice"
<img width="282" alt="screen shot 2017-10-05 at 1 16 48 pm" src="https://user-images.githubusercontent.com/479249/31250402-896a758e-a9cf-11e7-8198-6b066e0b9103.png">

It should only be listed once.

[2017-10-05 20:21] blowmage commented on #1762
They are two different namespaces. One with "i", the other with "I".

[2017-10-05 20:25] quartzmo commented on #1762
This root issue of the namespaces was discussed in #1750, leading to googleapis/artman#288.

[2017-10-05 20:25] thagomizer opened #1764 "Video Intelligence API docs say it is alpha, not beta"
http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-video_intelligence/v0.23.0/google/cloud/videointelligence

Says alpha, not beta at the top.

[2017-10-05 20:35] quartzmo commented on #1764
@geigerj This is in the generated files at [video_intelligence.rb#L23](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-video_intelligence/lib/google/cloud/video_intelligence.rb#L23) and [overview.rb#L20](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-video_intelligence/lib/google/cloud/video_intelligence/v1beta2/doc/overview.rb#L

[2017-10-05 20:38] geigerj commented on #1764
Yup, I'll take this one.

[2017-10-05 20:52] thagomizer opened #1765 "VideoIntelligence quickstart crashes on require"
Using the quickstart from the samples, [here](https://github.com/GoogleCloudPlatform/ruby-docs-samples/tree/master/video) with Ruby 2.3.1, 2.4.1, and mac system ruby I get the following error:

[code]

[2017-10-05 20:54] blowmage commented on #1765
@geigerj I thought you yanked the google-gax release that introduced this dependency?

[2017-10-05 20:58] blowmage commented on #1765
@thagomizer The reason for this is because the google-gax gem is trying to load a file that was introduced in the grpc 1.6.2 gem, but google-gax is not specifying that grpc version on in the dependency. You can solve this by updating your grpc gem to the latest version while we try to get the gem dependencies updated correctly.

[2017-10-05 20:59] geigerj commented on #1765
Yes, this is my fault. gRPC released a new version (1.6.6) that fixed the issues with this file, and I released a new version of GAX without specifying the right bounds on the dependency. It should be fixed now.

[2017-10-05 21:00] geigerj commented on #1765
@thagomizer Could you update GAX and close if the issue goes away?

[2017-10-05 21:01] thagomizer commented on #1765
I'll close the issue once the samples in the docs work.

[2017-10-05 21:03] frankyn commented on #1765
Question from sample side. All that is required now is `bundle update` and verification of gRPC 1.6.6?

[2017-10-05 21:04] geigerj commented on #1765
Yes, for this particular issue, that should be it.

[2017-10-05 21:06] blowmage commented on #1765
@geigerj I see that [google-gax 0.8.12](https://rubygems.org/gems/google-gax/versions/0.8.12) narrows the dependency on grpc, but I think the dependency is now too narrow. A dependency on `~> 1.6.6` means that it won't allow a future 1.7.0 release to be used. I believe the correct dependency to use is `>= 1.6.6, < 2.0`.

[2017-10-05 21:12] geigerj commented on #1765
@blowmage Sure, we can be looser in the next release. https://github.com/googleapis/gax-ruby/pull/95

[2017-10-06 01:38] frankyn commented on #1765
@geigerj ruby-docs-samples work with the latest version of the Video Intelligence gem. I have updated the samples in the following PR.

https://github.com/GoogleCloudPlatform/ruby-docs-samples/pull/203

[2017-10-06 18:28] qingling128 commented on #1438
Just verified the fix. Working perfectly! Thanks everyone. :)

[code]

[code]

[code]

[code]

[2017-10-06 18:44] qingling128 commented on #1438
BTW, the GAX gem dependency version is updated to `0.8.11` in https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1769.

[2017-10-06 21:09] quartzmo commented on #1691
Closed by #1770.

[2017-10-06 21:09] #1691 closed

[2017-10-06 22:25] #1761 closed

[2017-10-07 02:41] nrser opened #1772 "ssl_transport_security.c "Corruption detected" failure on GKE"
I just added the `stackdriver` gem to my Rails app running on Docker in Google Container Engine (GKE).

I have done no additional installations or configuration, just require the Stackdiver gem. Attempting to log a message produces the following error:

[code]

I've just upgraded to the latest Stackdriver gem (was at `0.8.0` before and attempting to log would segfault the Ruby process, so this is

[2017-10-09 17:04] blowmage commented on #1757
@apolcyn In addition to setting `grpc.keepalive_time_ms`, should we also set values for `grpc.keepalive_timeout_ms` and `grpc.keepalive_permit_without_calls`?

[2017-10-09 17:35] frankyn opened #1773 "[Request] Verify User Project methods comments are not ambiguous"
General Request:

Verify that the comments are clear for methods which accept User Project with and without Requester Pays.

Here's a distinction between Requester Pays and User Project:
User Project: Is a request metadata field that is used to assign Storage operational costs to a specified project.

Requester Pays: Is a bucket-level metadata field that is used to enforce the use of the User Proj

[2017-10-09 22:32] pongad commented on #1757
@blowmage FWIW, at least for Go, we thought the defaults are reasonable. I believe the timeout is 20s which should definitely be long enough.

[2017-10-10 19:27] somethingnew2-0 commented on #1672
Although this issue is now closed, is there a workaround for this issue besides downgrading to 0.26?

[2017-10-10 21:23] apolcyn commented on #1757
[code]

+1

we should keep `keepalive_timeout_ms` should be ok at it's default. `keepalive_permit_without_calls` should also be left alone (that will allow sending pings when there are no active calls, but that shouldn't be needed since it looks like there is a always an outstanding RPC when we are interested in ping behavior in here).

[2017-10-10 23:34] #1757 closed

[2017-10-11 17:45] blowmage commented on #94
We have gotten a request to provide this functionality so I am reopening this issue.

[2017-10-13 14:30] NickTitle commented on #1672
@somethingnew2-0 i was able to get around the issue by replacing the pull message logic with a rough rework of the old internal method - snippet looks like this:

note: we're acking after consuming the message, so make sure you handle errors or else messages that crash will never get removed off the queue (they'll replay over and over)

[code]

[2017-10-16 23:05] quartzmo opened #1778 "Showcase Subscription#listen in docs"
In the guide and the [Subscription](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-pubsub/v0.27.1/google/cloud/pubsub/subscription) docs, we talk about `pull` first, then `listen`. However, we should be encouraging users to use `listen`.

* In any case where we demonstrate both ways to pull messages, we should always highlight/prefer/elevate `listen`.
* In any spot whe

[2017-10-17 18:16] #1773 closed

[2017-10-17 23:45] #94 closed

[2017-10-18 20:05] #1778 closed

[2017-10-19 05:57] frankyn opened #1782 "[Spanner] Ambiguous documentation with using staleness reads"
While using the staleness parameter with `Google::Cloud::Spanner::Client#snapshot`, I found the [documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.44.0/google/cloud/spanner/client?method=snapshot-instance) confusing on what a Numerical value could be for this staleness parameter.

After reviewing the code, I found that the value provided to the staleness

[2017-10-19 06:33] kappiah opened #1783 "Allow usage of googleauth ~> 0.6 in google-cloud-core"
Would it be possible to allow `google-cloud-core` to use `googleauth ~> 0.6`?

This currently results in an unresolvable gemfile if there is a need to use `> 2.0` of the `jwt` gem

[2017-10-19 12:50] blowmage commented on #1783
Unfortunately it is not as easy as updating the dependency set in the google-cloud-core gem. We are matching the dependency set in the grpc and google-gax gems. So in order to update our dependency we will need new versions of those gems that also update the dependency.

I hope to see a grpc 1.7.0 and google-gax 0.9.0 release that update their dependency on googleauth.

[2017-10-19 13:52] blowmage commented on #1782
Can you suggest revised wording that add the clarification you are seeking?

[2017-10-19 16:24] frankyn commented on #1782
Current documentation:

Suggested documentation:

[2017-10-19 17:19] blowmage commented on #1782
K, I'll submit a PR to update the docs with your description, but I'll correct some of the specifics. For example, the value doesn't have to be a Float, it can be any Numeric, including Integer, Float, BigDecimal, or Rational. And 10.1 is 10 seconds and 100,000,000 nanoseconds (or 100 milliseconds). :)

[2017-10-19 17:24] frankyn commented on #1782
Ah, misunderstood that translation! Thanks for the clarity 👍

[2017-10-19 21:33] blowmage opened #1785 "Support `skip_lookup` for Dataset and Table"
Support the `skip_lookup` argument for Dataset and Table object creation.

[2017-10-20 17:57] quartzmo opened #1787 "Improve AsyncInserter error handling"
Currently, only row-level errors are exposed by the batching for streaming data provided by `AsyncInserter`. Because `AsyncInserter` uses a background thread, any top-level error returned by `TableData.insertAll` will not be raised in the main thread. Here is the example (which should probably be updated to show error handling):

[code]

`AsyncInserter` needs to somehow expose RPC errors in the ca

[2017-10-20 17:59] blowmage commented on #1787
This will become even more important when BigQuery objects support the `skip_lookup` optional argument.

[2017-10-20 18:30] quartzmo commented on #1785
Will this become the preferred approach for operations that do not involve dataset or table metadata/management? So that with `Table#insert`, for example, after this change, should the example be the following?

[code]

[2017-10-20 18:36] blowmage commented on #1785
My opinion is the main code example should show the default behavior which is to perform the lookup, but should also have additional named code examples that show skipping the lookup. Similar to how main code example for [Pub/Sub's `Project#topic`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-pubsub/latest/google/cloud/pubsub/project?method=topic-instance) shows the

[2017-10-20 18:37] quartzmo commented on #1787
@blowmage I was thinking this should be done before #1785, what do you think?

[2017-10-20 18:38] blowmage commented on #1787
I think it could be done before. Or both changes could be made in the same pull request.

[2017-10-20 22:45] quartzmo opened #1788 "Add "round-trip" acceptance test for requester_pays and user_project"
We need to add a test or tests demonstrating the interaction between setting the `Bucket#requester_pays` property and the `user_project` option (available on multiple methods). This will involve using a second project.

Some questions:

1. How should the second project be configured? In environment variables? Should the tests be conditional to only run if the second project is configured, or shoul

[2017-10-21 00:24] blowmage commented on #1788
IMO the tests should check for specific environment variables and only run the tests if those env vars are present. I don’t think we need to have acceptance tests every method, but we should test most of them.

[2017-10-21 01:03] #1782 closed

[2017-10-24 03:00] qingling128 opened #1791 "Expose error details when converting Google::Gax::GaxError to Google::Cloud::Error"
When `Google::Gax::GaxError` gets converted to `Google::Cloud::Error`, it does not expose the error details to extract `partial_success` info.

When calling `Google::Cloud::Logging::V2::LoggingServiceV2Client.write_log_entries` directly, we get a `Google::Gax::GaxError` with `partial_success` info.

[code]

[code]

However, if we follow the official instruction at https://github.com/GoogleCloudPla

[2017-10-24 03:06] qingling128 commented on #1791
BTW, I was testing this with a gem I built from this PR (Add partial_success in write_entries method: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1790)

[2017-10-24 16:10] blowmage opened #1792 "Make google-cloud-errors"
Separate the `Google::Cloud::Error` classes into its own gem, ala. `Google::Cloud::Env`. This will make it possible to use the Error classes from libraries that do not want to depend on google-cloud-core, or be part of the Google Cloud package, such as the Stackdriver gems.

[2017-10-24 18:49] #1788 closed

[2017-10-25 21:21] #1787 closed

[2017-10-27 02:51] mbrukman commented on #1118
Looks like this was implemented in https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1786 — thank you!

[2017-10-27 02:59] sduskis commented on #1118
We will need to either reopen this issue, or create a new one.  The Cloud Bigtable team would like to flesh out a hand-written client.  The GAPIC client isn't enough by itself to make a usable client.

[2017-10-29 23:09] rxbynerd opened #1795 "PubSub StreamingPull example doesn't work"
:wave:

[The example code for StreamingPull](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/v1/subscriber_client.rb#L743) doesn't produce any output with Ruby 2.4.2 and google-cloud-pubsub 0.27.2.

The exact script I'm running:

[code]

This is an amalgamation of the example from the `SubscriberClient` docs, and the recommended way

[2017-10-29 23:24] rxbynerd commented on #1795
Not confident this is a problem with the library, rather gRPC, as my reimplementation has the same issue:

[code]

[2017-10-30 00:04] blowmage commented on #1795
I have run some tests and can confirm that using an Array's `each` Enumerator does not seem to work. I agree this looks to be a gRPC issue, and not something specific to the Google Cloud libraries, or the GAPIC/Gax code.

FWIW, the Google Cloud libraries do not pass an Array's `each` Enumerator to gRPC, but use a version of EnumeratorQueue as described in the [gRPC documentation](https://grpc.io/d

[2017-10-30 00:32] blowmage commented on #1795
I have a working theory, but this is just a theory. It looks like gRPC is keeping the stream open as long as the Enumerator provided to the streaming method is blocking. As soon as the Enumerator ends the stream is closed. This is why using an Array's Enumerator is not showing output, because the stream is closed as soon as the Enumerator is done, which is pretty much instantaneous. For Google Clo

[2017-10-30 00:49] rxbynerd commented on #1795
Confirmed this a bug upstream, and using `EnumeratorQueue` in place of `Array#each` works for Cloud Pub/Sub.

Thank you @blowmage, I'll look to get a PR for the docs up soon, and feed this upstream to gRPC.

[2017-10-30 00:49] #1795 closed

[2017-10-30 00:57] rxbynerd commented on #1795
Ah sorry, closed this issue before seeing your response! Happy to re-open if you want to keep it tracked here?

[2017-10-30 00:59] apolcyn commented on #1795
@blowmage in the general case, the stream/RPC will stay open until both the sender's enumerator/stream has been sent, and the receiving end has indicated it's end-of-stream (by sending a status).

Not sure what the problem is right away, will need to take a closer look

[2017-10-30 01:25] blowmage commented on #1795
@apolcyn thanks for the update! Looking forward to hearing what you find.

[2017-10-30 17:57] blowmage opened #1796 "Update Datastore GAPIC for TransactionOptions"
The official googleapi Datastore protos now [support TransactionOptions](https://github.com/googleapis/googleapis/blob/master/google/datastore/v1/datastore.proto#L347-L373). Can we get updated Datastore GAPIC generated files?

[2017-10-30 17:57] blowmage commented on #1796
@geigerj Is this something you can take?

[2017-10-31 08:45] matti opened #1797 "docs on Google::Cloud::Debugger constructor have "project_id", should be "project""
All README's + https://cloud.google.com/debugger/docs/setup/ruby

vs
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-debugger/lib/google/cloud/debugger.rb#L365

[2017-10-31 11:18] matti opened #1798 "Google::Cloud::Logging::Entry overrides ruby reserved word"
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/entry/http_request.rb#L36

vs

[code]

[2017-10-31 17:02] blowmage commented on #1797
@frankyn Is this something you can help with? The code example in the section [Using agent parameters](https://cloud.google.com/debugger/docs/setup/ruby#using_agent_parameters) on the cloud site are incorrectly using `project_id` instead of `project`. The previous code examples are using the Stackdriver configuration approach where the `project_id` argument is correct.

[2017-10-31 17:10] blowmage commented on #1798
I think this issue's title is misleading, as `method` is not a reserved word in ruby. I believe it is only appropriate to say that is `Google::Cloud::Logging::Entry::HttpRequest#method` overrides `Object#method`. Is this a problem?

[2017-10-31 17:12] frankyn commented on #1797
@blowmage, I'll help resolve and update cloud site.

[2017-10-31 17:14] blowmage commented on #1797
Thanks!

[2017-11-01 09:22] matti commented on #1798
Yes - because it Google::Cloud::Logging::Entry::HttpRequest#method gets called with an argument here https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-debugger/lib/google/cloud/debugger/breakpoint/evaluator.rb#L940

and then this is rescued without checking the exception class in the next line: https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/goo

[2017-11-01 15:58] qingling128 opened #1799 "New release for google-cloud-logging"
Can we do a new release for `google-cloud-logging` to pick up this commit below?

Update google-gax dependency
The latest partial success support requires some changes that were added in google-gax 0.8.11.
https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/bc749e871757d9e0634b01935dc5039db850fe27#diff-43e7ec6ea7110b556828ce59bd21fd0c

Right now only `google-gax` `v0.8.10` gets install

[2017-11-01 16:07] blowmage commented on #1799
The current release google-cloud-logging has a dependency on google-gax set as `~> 0.8.0`. There is no reason why google-gax 0.8.12 cannot be installed and used with it. However, google-gax 0.8.11 was yanked, and so will not be able to be installed or used.

I am not in favor of making a release right now. We are expecting a new google-gax 0.9.0 release any day that will bring updated dependencies

[2017-11-01 16:12] blowmage commented on #1799
Canyon verify the code you are expecting to be in google-gax 0.8.11 is also in google-gax 0.8.12?

[2017-11-01 16:14] qingling128 commented on #1799
Yes, I've verified that. We can pin the `google-gax` at `0.8.12` separately as a workaround for now. When `google-gax 0.9.0` get released and there is a new `google-cloud-logging` is released, we will update accordingly.

[2017-11-01 16:25] geigerj commented on #1799
GAX 0.9.0 depends on gRPC 1.7.1, which has a bug that drops support for Ruby 2.0. @apolcyn is working on a gRPC patch release, after which I'll release GAX.

[2017-11-01 16:34] qingling128 commented on #1799
@geigerj - Thanks for the heads up!

Seems `GAX 0.8.12` also depends on `gRPC 1.7.1`. For our case, we don't really support `Ruby 2.0`. So the workaround should work for us for now. We'll stay tuned. But take you time. :D

[2017-11-01 17:06] geigerj commented on #1799
Sounds good. (`GAX 0.8.12` depends on `gRPC ~> 1.6.6` so it should work with Ruby 2.0.)

[2017-11-02 05:18] apolcyn commented on #1799
grpc 1.7.2 was just released btw, which fixes the ruby 2.0 breakage.

[2017-11-02 12:54] pongad opened #1800 "pubsub: implement streaming pull receipt"
StreamingPull currently has a "protocol" level bug affecting all languages.

TLDR: client libs should send modify ack deadline for all messages upon receiving them.

## Problem description
When streaming, `StreamingPullResponse` can be buffered, either by gRPC itself or by proxy/firewall.
There might be significant delay between the server sending a response and the client library reading it.
For

[2017-11-02 14:12] blowmage commented on #1800
The streaming client does modack received messages as part of the leasing mechanism now. Are you saying that the client should modack request as soon as a response is received? If so, does making a modack request as soon as a response is received somewhat negate the benefits of leasing received messages and batching all acks, nacks, and leased modacks requests?

For example, if a stream received a

[2017-11-02 19:13] TempestMia opened #1801 "Trying to add an MX record fails silently"
I'm using `add_record` to add an MX record to my zone but it seems to be failing silently.

Here are the steps to reproduce:

Step 1: Look at what records are in the zone
[code]

returns
[code]

OK, step 2, try to add the MX record:
[code]
returns:
[code]

Hmmm doesn't look like my MX record's in there.

Step 3: Let's try and fetch it?
[code]

returns:
[code]

No dice.

Am I missing something or i

[2017-11-02 19:32] #1801 closed

[2017-11-02 19:33] quartzmo commented on #1801
@TempestMia How did you resolve this?

[2017-11-02 19:42] frankyn commented on #1797
Republished. Closing issue.

[2017-11-02 20:16] TempestMia commented on #1801
@quartzmo It looked to end up being a combination of my use of VCR and the fact that I shouldn't expect a record to be there right after being added (since it looks like any addition/removal can be in a "pending" state)

That's where I'm at now. Gonna change my integration's tests to reflect this.

[2017-11-02 20:50] blowmage opened #1802 "Consider using `credentials` instead of `keyfile`"
Now that [`Google::Auth::Credentials`](http://www.rubydoc.info/gems/googleauth/0.6.1/Google/Auth/Credentials) exists and we are going to be replacing our internal `Google::Cloud::Credentials` class with it, should we consider deprecating the `keyfile` argument name and use `credentials` instead? We already allow `keyfile` to be overloaded with a Hash the JSON file contents, or a `Signet::OAuth2::C

[2017-11-02 20:58] quartzmo commented on #1802
SGTM to make the addition of `credentials` and update all docs to use `credentials`, but I think we should continue to accept `keyfile` indefinitely as an alias. Why deprecate it?

[2017-11-02 21:03] dazuma commented on #1802
@quartzmo agreed

[2017-11-03 01:10] pongad commented on #1800
Yes, otherwise messages might expire too late.

Hmm. When user code finishes with a message, does Ruby impl wait until the message is about to expire before actually sending the ack? When we worked on Java and Go (sorry, I'm most familiar with those two), pubsub team encouraged us to send acks and nacks promptly, so that users don't loose work if the machine crashes etc. So, Java and Go were sendi

[2017-11-03 05:28] matti commented on #1797
Still multiple project_id’s out there? https://github.com/GoogleCloudPlatform/ruby-docs-samples/blob/master/stackdriver/debugger.ru (linked from the web docs that still also contain project_id) @frankym

[2017-11-03 14:14] blowmage commented on #1800
User-driven acks, nacks, and modacks are sent at the same cadence and lease modacks, in the same batch request. So if the stream specifies a 60 second ack, then that batch request is sent about once a minute.

@lukesneeringer Thoughts on this?

[2017-11-03 15:36] frankyn commented on #1797
Thanks for the follow-up. I'll review, I misunderstood.

[2017-11-03 16:42] frankyn commented on #1802
+1 to @quartzmo

[2017-11-03 16:48] blowmage opened #1803 "Enable Google::Cloud.configure for all Google Cloud gems"
The Stackdriver gems have introduced the following additional configuration syntax:

[code]

This can be used to configure more than just authentication:

[code]

Should this be enabled for all Google Cloud gems?

[2017-11-03 17:09] dazuma commented on #1803
TL;DR: Maybe, if we think it's useful, but I'm not yet convinced it is. The need for it in the stackdriver gems is different (and much stronger) than any of the other client libraries.

Here's some background on the stackdriver gems configuration syntax that might help.

It is something @hxiong388 and I put together to provide a sane "global" configuration mechanism for the stackdriver gems. Those

[2017-11-03 17:21] hxiong388 commented on #1803
Agree with everything @dazuma mentioned above. But I think the biggest driver to make all the clients to also default from this configuration mechanism is consistency. I can imagine there are users current doing this in their Rails or Sinatra app:

[code]

New users will be very confused when they encounter this pitfall.

[2017-11-03 19:14] blowmage commented on #1803
The consistency argument is what is driving my view on it. I would prefer if Storage could take advantage of the config when set.

[2017-11-03 19:21] TempestMia commented on #1801
@quartzmo Any chance I could get your input on what to pass as `data` for setting a TXT?

I've tried (with and without the `;`):
`data = "k=rsa; t=s; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDPtW5iwp"`
`data = ["k=rsa;", "t=s;" "p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDPtW5iwp"]`
`data = ["value: k=rsa;", "t=s;" "p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDPtW5iwp"]`

But I always seem to get escapes

[2017-11-03 20:17] quartzmo commented on #1801
@TempestMia Hmmm, I'm a little rusty on this zonefile stuff. Did you check out [the example in the zonefile fixture](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-dns/acceptance/dns/dns_test.rb#L235) in the acceptance tests? (I can't remember from exactly where I borrowed the example zonefile. As a rule I always add a link-back comment, but I don't see one. Anyw

[2017-11-03 20:21] quartzmo commented on #1801
It might be worth asking your question on Stack Overflow with the [google-cloud-dns](https://stackoverflow.com/questions/tagged/google-cloud-dns) label. This should open you up to answers for all languages/platforms. I'm guessing that for google-cloud-ruby, this behavior is pass-through (although I didn't look to be absolutely sure.)

[2017-11-03 20:23] quartzmo commented on #1801
Next week I should have a little time to help you research it if you're searching. Otoh, if you do find an answer elsewhere, please link to it here for future visitors to this issue.

[2017-11-03 21:38] TempestMia commented on #1801
Looks like those `\` are expected, hmm... https://cloud.google.com/dns/records/json-record

[2017-11-03 21:50] TempestMia commented on #1801
Thanks for your advice @quartzmo ! I'll keep those fixtures and Stack Overflow in mind as I continue my integration ;)

[2017-11-03 22:32] blowmage commented on #1802
Deprecated does not mean removed. But if we rename I think we should change the guidance offered in guides and code examples to use `credentials`, and not even mention `keyfile`.

[2017-11-03 22:32] blowmage commented on #1802
Should we also support this in environmental variable names? So we would consider `LOGGING_CREDENTIALS` as well as `LOGGING_KEYFILE`?

[2017-11-06 20:20] aagarwal92 opened #1805 "LoadError: cannot load such file -- google/rpc/status_pb"
Hi,

I'm attempting to run the google cloud vision libraries with ruby ruby 2.0.0p648

I have successfully added gem "google-cloud-vision" to my gemfile and run a proper bundle install. When trying to require "google/cloud/vision", I get the below stacktrace:

LoadError: cannot load such file -- google/rpc/status_pb
	from /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/lib/ruby/2.0.0/ru

[2017-11-06 20:40] danoscarmike commented on #1351
@blowmage any update on this?

[2017-11-06 20:47] blowmage commented on #1805
@geigerj This looks like another file permission problem with the proto gems. I'm seeing files in the googleapis-common-protos 1.3.6 and googleapis-common-protos-types 1.0.0 gems that are missing global write permissions (`[-rw-r-----]`). So if the gem is installed by a different user in a different group it can't be used. This is the same problem discussed in GoogleCloudPlatform /google-cloud-rub

[2017-11-06 20:50] geigerj commented on #1805
@blowmage Ack. We can track with this issue here. I will get a patch out for these gems.

[2017-11-06 20:55] blowmage commented on #1805
@aagarwal92 Thank you for opening the issue and letting us know of this problem. We are working on getting new gems released that will fix this for you. Until then, you can try uninstalling/reinstalling these two gems with the same user that ruby is running as. If that isn't an option, you can try to fix the file permissions directly using the approach described in [this comment](https://github.co

[2017-11-06 21:01] blowmage commented on #1351
I never got verification. I'll try to verify this myself this week.

[2017-11-06 21:12] geigerj commented on #1805
@aagarwal92 I have released `googleapis-common-protos-1.3.7` and `googleapis-common-protos-types-1.0.1`. Please upgrade to the latest versions, and re-open if the problem persists.

[2017-11-06 21:12] #1805 closed

[2017-11-06 23:55] blowmage opened #1806 "Add google-cloud postinstall message"
Add a message to the google-cloud gem encouraging users to install only the libraries they need.

[Example message for fog](https://github.com/fog/fog/blob/master/fog.gemspec#L109-L121)

[2017-11-07 17:52] quartzmo commented on #1796
@geigerj Any ETA on this?

[2017-11-07 18:02] quartzmo opened #1807 "Add support for TransactionOptions"
## Overview

Datastore has introduced two transaction options that can be passed when creating a transaction (BeginTransaction RPC):

* A transaction can be declared read-only. A read-only transaction cannot modify data.
* A read-write transaction can provide the ID of a previous transaction.

## Rationale

### Transaction Mode

Transactions can optionally be created in read-only or read-write mod

[2017-11-07 19:02] blowmage commented on #1796
I believe this is included in #1804.

[2017-11-07 19:07] quartzmo commented on #1796
You're correct, [class TransactionOptions is included](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1804/commits/5157b08d49b4019ca83c7379fd562e401a1be619#diff-207f52728246f84e330393c58608d8b0R280) in #1804. Thanks @blowmage!

[2017-11-08 09:35] vestimir commented on #1772
Any news about this – we are hitting the same issue, but only for production env (for dev/staging everything works like a charm)?

Is there any code for the `Stackdiver` gem that executes only for `Rails.env.production?`?

[2017-11-08 17:57] frankyn opened #1809 "Add max_staleness/bounded_staleness to Client#snapshot method"
I'm not currently able to define a max_staleness/bounded_staleness when creating a snapshot as a parameter, but [Python](https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/snapshot-api.html) for example does include this parameter in their snapshot method. This parameter is surfaced in the `Client#read` method, and I think it's better understood if surfaced as part of `Client

[2017-11-08 18:22] quartzmo commented on #1809
@frankyn Thanks for requesting this. Is this addition urgent for any reason?

[2017-11-08 18:36] vkedia commented on #1809
Bounded staleness mode is only useful for single use transaction which means users can only do a single read/query with this timestamp. That is the reason it is not added to `Client#snapshot` since users should create that only if they want to do more than one read/query at that snapshot.
Python has it because in Python for both single user and multi use snapshots, one needs to create the snapshot

[2017-11-08 18:49] quartzmo commented on #1809
@vkedia Thank you for this clarification!

[2017-11-08 19:24] blowmage commented on #1809
Closing as these arguments are not supported on Read/Only transactions.

[2017-11-08 19:24] #1809 closed

[2017-11-08 19:26] frankyn commented on #1809
Thanks @vkedia for the clarification!

[2017-11-09 00:01] #1785 closed

[2017-11-09 05:19] danoscarmike commented on #712
@geigerj @blowmage suggest we close this issue and move this to the feature backlog (wiki).  @hsaliak and grpc team confirm that the user contributed route is the only viable and that is being tracked elsewhere.

[2017-11-09 05:19] #712 closed

[2017-11-09 05:22] danoscarmike commented on #712
Added to feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog

[2017-11-09 18:38] quartzmo commented on #407
@dazuma Can we close this issue?

[2017-11-09 18:40] quartzmo commented on #542
Related to #1729.

[2017-11-09 18:42] quartzmo commented on #543
Closing, as we now expect greater prominence for the external docs.

[2017-11-09 18:42] #543 closed

[2017-11-09 18:58] quartzmo commented on #1261
@Draiken Have you seen this issue again?

[2017-11-09 18:59] quartzmo commented on #1261
@landrito Did you ever look into this?

[2017-11-09 19:01] landrito commented on #1261
I did look into this but never was able to repro :(

[2017-11-09 19:04] quartzmo commented on #1386
Is this related to #1803?

[2017-11-09 19:10] quartzmo commented on #1539
@dazuma @geigerj To whom should this issue be assigned?

[2017-11-09 19:14] quartzmo commented on #1614
@frankyn I'm thinking of closing this, since we do not show error handling as a rule in job examples. Are you ok with that?

[2017-11-09 19:17] quartzmo commented on #1692
Closing, based on the comment above that this feature is now mostly obsolete.

[2017-11-09 19:17] #1692 closed

[2017-11-09 19:21] quartzmo commented on #1695
@dazuma Do you want to take this issue?

[2017-11-09 19:25] quartzmo commented on #1724
@igorpeshansky Has the fix for this been rolled out as expected? Can we close this issue?

[2017-11-09 19:28] blowmage commented on #1729
I'll take this now that Credentials has been added to the googleauth gem.

[2017-11-09 19:29] hxiong388 commented on #1386
@quartzmo I don't think so. The config mechanism discussed in #1803 is for non-GCP environments, where auth info needs to be provided, one way or another. Versus this issue is about clarifying auth self-discovering on GCP environments.

[2017-11-09 19:32] quartzmo commented on #1734
@blowmage Can you take a look at this, perhaps see if you can figure out some way to make things for pry? If not, should we document this somewhere as a known issue?

[2017-11-09 19:38] quartzmo commented on #1762
@geigerj Should we close this? Or assign it to you?

The latest docs for the gem at [rubydoc.info](http://www.rubydoc.info/gems/google-cloud-video_intelligence) still show the two namespaces.

[2017-11-09 19:40] quartzmo commented on #1765
Closing for now since this appears to be resolved. If this is not the case, please re-open.

[2017-11-09 19:40] #1765 closed

[2017-11-09 19:43] quartzmo commented on #1783
This will be addressed by #1804.

[2017-11-09 19:51] quartzmo commented on #1797
@frankyn Is there anything left to do for this issue? The docs now look correct to me.

[2017-11-09 19:53] quartzmo commented on #1798
@dazuma Do you have any input/opinion on this issue?

[2017-11-09 19:57] quartzmo commented on #1799
@qingling128 Can we close this issue?

[2017-11-09 20:17] blowmage commented on #1261
Should this issue be kept open?

[2017-11-09 20:34] igorpeshansky commented on #1724
This should have been rolled out in GAE Flex on October 10. @sam0x17, could you please verify and confirm here? Thanks.

[2017-11-09 21:01] geigerj commented on #1762
Sure, you can assign to me. This is basically pending the implementation of https://github.com/googleapis/artman/issues/288.

[2017-11-09 22:02] blowmage commented on #1729
I believe we should deprecate `Google::Cloud::Credentials`, and change the existing service `Credentials` classes to inherit from `Google::Auth::Credentials` instead. The existing service `Credentials` classes should also remove their `@private` designation and become part of the public API.

[2017-11-09 22:05] qingling128 commented on #1799
@quartzmo - Seems we are still waiting for a `google-cloud-logging` release to go out?

[2017-11-09 22:09] landrito commented on #1261
Lets close this since this was before we reimplemented pubsub and reopen if found again.

[2017-11-09 22:09] #1261 closed

[2017-11-09 22:10] quartzmo commented on #1261
Thanks @landrito!

[2017-11-09 22:17] dazuma commented on #1798
That code in the debugger should be checking the exception type rather than rescuing the world. That should be fixed over in the debugger. I'll open a separate issue for that.

However, that said, overriding methods of `Object` is probably not a good idea regardless. I'd advocate for renaming the accessor to `request_method` since that's the name of the underlying proto field anyway. We can take a

[2017-11-09 22:20] quartzmo commented on #1798
@dazuma SGTM. Please self-assign if this is something you want to do, otherwise I will take a shot at it.

[2017-11-09 22:30] dazuma commented on #407
Oh, yes. Sorry.

[2017-11-09 22:30] #407 closed

[2017-11-09 22:33] quartzmo commented on #407
Thanks!

[2017-11-09 22:51] quartzmo commented on #1799
@qingling128 You're right, somehow your changes were never released. I'm sorry about that. #1804 is likely to be merged soon and [will update GAX to `0.9.0`](https://github.com/geigerj/google-cloud-ruby/blob/4440f5e74f9ba66f3a4c137511eb120117a250d5/google-cloud-logging/google-cloud-logging.gemspec#L23). A release with GAX at `0.9.0` should also resolve this issue, correct?

[2017-11-10 00:21] frankyn commented on #1797
@matti I reviewed the client libraries and `project_id` is expected except when using Debugger with `Debugger.new`.

[2017-11-10 00:35] frankyn commented on #1614
I'd still push to have one example handling the error. Is there more information why this is a rule?

[2017-11-10 01:06] #1797 closed

[2017-11-10 01:43] sam0x17 commented on #1724
Still experiencing the old behavior, and I re-deployed and updated all my gems three days ago. @igorpeshansky @quartzmo

[2017-11-10 01:53] igorpeshansky commented on #1724
@sam0x17, are you able to verify the version of the fluent-plugin-detect-exceptions gem on your GAE Flex nodes?

[2017-11-10 03:05] sam0x17 commented on #1724
I don't see that gem anywhere in Gemfile.lock:
[code]

[2017-11-10 03:56] matti commented on #1797
what about https://cloud.google.com/debugger/docs/setup/ruby

[2017-11-10 04:00] blowmage commented on #1797
All those examples look correct to me.

[2017-11-10 05:13] igorpeshansky commented on #1724
`google-fluentd` uses a different Ruby path. Try running `/opt/google-fluentd/embedded/bin/gem list fluent-plugin-detect-exceptions`.
@sam0x17

[2017-11-10 05:46] sam0x17 commented on #1724
@igorpeshansky I was unable to find that directory, in fact `sudo find / -name google-fluentd` comes up empty.

Here is the list of local gems for the app if that helps:

[code]

[2017-11-10 14:43] igorpeshansky commented on #1724
@sam0x17, just confirmed that you'll need to run that command via `docker exec`, i.e.:
[code]

[2017-11-10 17:32] sam0x17 commented on #1724
@igorpeshansky I don't have docker set up to talk to GAE -- just been using `gcloud app deploy`... do you have a one liner I can enter from the root of my project? Right now of course I just get `Error: No such container: fluentd_logger`

[2017-11-10 18:37] quartzmo commented on #1614
@frankyn I am not aware of any special reason that we have rarely shown error handling in examples, I guess we've mostly just wanted to emphasize the happy path. However, I did find this `BigQuery::Job` example showing basic error handling:

[code]

Personally I'm not opposed to updating many or most of the `Job` examples in BigQuery and Spanner to show this type of simple error handling, if it is

[2017-11-10 18:37] igorpeshansky commented on #1724
@sam0x17 I think you have to [connect to the instance in debug mode](https://cloud.google.com/appengine/docs/flexible/python/debugging-an-instance) to run that command.

[2017-11-10 19:04] blowmage commented on #1614
I generally prefer to keep the docs as-is, but that is not a strong opinion. I've found it is usually wise to defer to @quartzmo's instincts on these matters.

[2017-11-10 19:27] quartzmo commented on #1614
And I'll defer to @frankyn! There are currently about 20 examples across BigQuery and Spanner that test for `job.failed?` (BigQuery) or `job.error?` (Spanner; not sure why the method name is different). Would you recommend changing all of them to the `if/else` block above, or just a few?

[2017-11-10 19:36] blowmage commented on #1803
To add to Heng's argument, the debugger README also has the following code example:

[code]

Those shared parameters are intended to be shared across all libraries, but currently are only shared for Stackdriver gems. I believe this is a problem and the config syntax should be supported on all Google Cloud gems.

[2017-11-10 20:32] blowmage opened #1812 "Support Datastore reserve_ids"
The recent PR #1804 updated the Datastore GAPIC/Protobuf code and added a new API call `reserve_ids`. Should this be supported in the high-level Ruby API?

[2017-11-10 20:34] blowmage opened #1813 "New Natural Language features"
The recent PR #1804 updated the Natural Language GAPIC/Protobuf code and added the following:

* `LanguageServiceClient.analyze_entity_sentiment`
* `LanguageServiceClient.classify_text`
* `Features.extract_entity_sentiment`
* `Features.classify_text`
* `EntityMention#sentiment`
* `AnnotateTextResponse.categories` (and `ClassificationCategory`)

Should these be supported in the high-level Ruby API?

[2017-11-10 20:36] blowmage opened #1814 "Support Logging Exclusions"
The recent PR #1804 updated the Logging GAPIC/Protobuf code and added a new resource and API calls for exclusions. Should exclusions be supported in the high-level Ruby API?

The PR also added the following new values to existing resources:

* `HttpRequest#protocol`
* `LogEntry#receive_timestamp`

[2017-11-10 20:39] blowmage opened #1815 "Updated Pub/Sub Topic features"
The recent PR #1804 updated the Pub/Sub GAPIC/Protobuf code and added `Topic#labels` as well as a new API call to update Topic. Should these be supported in the high-level Ruby API?

[2017-11-10 20:39] blowmage opened #1816 "Updated Pub/Sub Snapshot features"
The recent PR #1804 updated the Pub/Sub GAPIC/Protobuf code and added `Snapshot#labels` as well as a new API call to update Snapshot. Should these be supported in the high-level Ruby API?

[2017-11-10 20:40] geigerj commented on #1813
No, the high-level API will be replaced by a GAPIC in a subsequent release.

[2017-11-10 20:42] blowmage opened #1817 "Updated Spanner features"
The recent PR #1804 updated the Spanner GAPIC/Protobuf code and a new API call to list sessions. Should these be supported in the high-level Ruby API, even though we don't expose Session currently?

The following attributes were also added to the Session resource:

* `Session#labels`
* `Session#create_time`
* `Session#approximate_last_use_time`

[2017-11-10 20:44] vkedia commented on #1817
We don't need to support list sessions, unless someone asks for it.
But we do need to support Session#labels. They way to support it would be to take in a map of labels as a configuration to session pool. All sessions created in that pool would be assigned to that label.
This is how I am doing it in Java:
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2606

[2017-11-10 21:05] sam0x17 commented on #1724
cool -- never tried this before -- will get back to you

[2017-11-10 22:15] frankyn commented on #1614
Referencing [#1595](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1595/files#diff-5d0eec9af06babe5b16d930b718321a4R38). I see an example of using `job.error?` without a conditional block was added in this PR, but I don't see it the current published docset for Spanner.

**Update to the original request**: Add a conditional example of handling errors similar to
the BigQuery example,

[2017-11-10 23:03] #1521 closed

[2017-11-10 23:24] sam0x17 commented on #1724
@igorpeshansky from within the instance:
[code]

[2017-11-11 01:13] igorpeshansky commented on #1724
Sorry, my fault. I inadvertently quoted the command — even the [docker exec manual](https://docs.docker.com/engine/reference/commandline/exec/#extended-description) says that this won't work.
The command should have been:
[code]

[2017-11-11 04:21] sam0x17 commented on #1724
@igorpeshansky

[code]

[2017-11-11 04:59] igorpeshansky commented on #1724
Ah, so for whatever reason they seem to have 2 versions of the gem... I suspect the logging agent is picking up the wrong version. I'll reopen the issue and ask them to remove the old version. Stay tuned.

[2017-11-11 06:28] sam0x17 commented on #1724
ok thanks!

[2017-11-12 14:23] #1798 closed

[2017-11-13 02:10] blowmage opened #1823 "Trace test warnings"
The Trace unit tests succeed, but the following errors are printed afterwards:

[code]

[2017-11-13 18:38] #1806 closed

[2017-11-13 20:53] #1823 closed

[2017-11-13 23:08] qingling128 commented on #1791
Hi @blowmage - I'm not sure if it's recommended to use `Google::Cloud::Logging::V2::LoggingServiceV2Client.write_log_entries` directly. But that workaround works for us. I'm happy to switch to `write_entries` when it exposes the error. Before that we can live with the workaround (using `Google::Cloud::Logging::V2::LoggingServiceV2Client.write_log_entries` directly. So I won't deem this very urgent

[2017-11-14 00:24] blowmage commented on #1791
We are working on a fix for this, but you can always get the inner GaxError using [`Error#cause`](https://ruby-doc.org/core-2.4.2/Exception.html#method-i-cause).

[2017-11-14 05:24] blowmage commented on #1729
Implemented in #1824.

[2017-11-14 05:24] #1729 closed

[2017-11-14 05:25] blowmage commented on #1802
Implemented in #1824.

[2017-11-14 05:25] #1802 closed

[2017-11-14 05:30] blowmage opened #1830 "Missing CREDENTIALS env vars for Natural Language"
We [recently](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/0d55eb8393325de676eb429fdcae8ea9fc18807b/google-cloud-language/lib/google/cloud/language/credentials.rb#L42-L51) added support for environment variable such as `LANGUAGE_CREDENTIALS`, but these new vars are now [missing](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/f5cc6623400f90bcd37ee1f49c2a7e2f411900f2/

[2017-11-14 17:47] #1791 closed

[2017-11-14 21:40] quartzmo commented on #1539
@dazuma @geigerj Ping. To whom should this issue be assigned? Can you suggest any steps/resolution?

[2017-11-14 21:41] quartzmo commented on #1724
Hi, has there been any resolution to this issue?

[2017-11-14 23:27] quartzmo commented on #1807
Regarding requirement 2.i, above:

Because neither the manual layer nor the GAX client will retry a transaction (all tx methods are "non_idempotent"), we will instead expose the option per 2.ii, above.

[2017-11-14 23:40] blowmage commented on #1807
Instead of exposing this as an option, I think we should change Datastore's `Dataset#transaction` to retry, similar to what has been done in Spanner's `Client#transaction`.

[2017-11-14 23:59] igorpeshansky commented on #1724
Not yet — I've been swamped. It's still on my radar, though...

[2017-11-15 00:16] geigerj commented on #1539
@quartzmo Unfortunately, I don't have background on the technical details of this issue.

[2017-11-15 00:31] quartzmo commented on #1539
@dazuma Can I assign this to you?

[2017-11-15 03:20] dazuma commented on #1539
Yeah I'll take this. I think I've seen at least two separate reports of this, both on EC2.

[2017-11-15 03:23] blowmage commented on #1799
[Logging 1.3.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-logging%2Fv1.3.0) was released today and includes updated dependencies. So I'm closing this issue. If you have any other concerns or requests please open a new issue. Thank you for your contribution!

[2017-11-15 03:23] #1799 closed

[2017-11-15 03:23] blowmage commented on #1723
Today all google-cloud-* gems were refreshed and released, and I've ensured that none of the gems raise warnings during their normal usage. Closing this issue as fixed. If you continue to see warnings, please open a new issue. Thank you for your contribution!

[2017-11-15 03:23] #1723 closed

[2017-11-15 03:23] blowmage commented on #542
Today's releases add a Credentials class to each gem, and support passing a Credentials object in the constructor. I believe this satisfies this issue, so I'm closing it.

[2017-11-15 03:23] #542 closed

[2017-11-15 03:24] blowmage commented on #1798
This is released in [Logging 1.3.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-logging%2Fv1.3.0). You can continue to use `HttpRequest#method` to  get the logging value, but you can now get a `Method` object when passing an argument. This maintains backwards compatibility while fixing the issues described in this issue.

Even though you can continue to use `

[2017-11-15 03:24] blowmage commented on #1791
[Logging 1.3.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-logging%2Fv1.3.0) was released today and updates the google-gax dependency to `~> 0.10.1`.

In previous versions of google-gax you were using `GaxError#details` to access this information. However, this method has been renamed to `GaxError#status_details` starting in version 0.10.0. Similarly, you ca

[2017-11-15 03:27] blowmage commented on #1792
I'm closing this issue as this doesn't seem to be a change that will be made anytime soon.

[2017-11-15 03:27] #1792 closed

[2017-11-15 04:55] quartzmo commented on #1539
Thanks @dazuma!

[2017-11-15 12:16] tragiclifestories opened #1832 "[Feature request] Support Cloud KMS"
Currently there is no support for Cloud KMS in this client, but it would be useful to my company at least. I will try and find the time to make a PR, but if anyone else has the bandwidth that would be super.

[2017-11-15 21:52] quartzmo commented on #1832
@tragiclifestories Thank you for this request. I believe Cloud KMS support is on the official roadmap, and that you can expect the PR to come from the maintainers.

@geigerj  Can you provide any guidance on when we might expect a Cloud KMS package?

[2017-11-15 22:12] geigerj commented on #1832
Correct, KMS is on the roadmap. We expect to have a library out mid-December.

[2017-11-15 22:13] tragiclifestories commented on #1832
Excellent, thanks.

On Wed, 15 Nov 2017, 22:12 Jacob Geiger, <notifications@github.com> wrote:

[2017-11-15 22:16] lukesneeringer commented on #1800
Would it be possible to have an entirely separate modack thread that only handles the newly-received messages and sends on a much faster cadence (say, a second)?

[2017-11-15 22:29] pongad commented on #1800
Doing that is probably OK. If one second turns out to be too long, I suppose it's not much work to tweak the time later.

That said, my feeling is that if you're going to modack anyway, you might as well ack and nack too. @mdietz94 Do you have an opinion?

[2017-11-15 22:43] mdietz94 commented on #1800
I think what Java/Go are doing is preferred, there's no reason to avoid ack/nack if you are sending a request anyway, and there's no reason to tie ack/nack to stream_ack_deadline. With this change, stream_ack_deadline is effectively meaningless anyway, since we will not expire until we receive a receipt, so it is best to just replace the timer there currently is with 1s, and do everything every se

[2017-11-15 23:43] quartzmo opened #1834 "Provide anonymous (unauthenticated) access to public-access buckets"
Developers should be able to download public data (files) without specifying any authentication information, in a manner consistent with the rest of the API.

Therefore, provide a simple mechanism to construct a `Storage::Project` instance with no authentication details. This object should be usable in a normal way for whatever actions don't require authentication from a server perspective. It is

[2017-11-16 00:31] quartzmo opened #1835 "Verification fails incorrectly on gzipped file"
This general issue was first reported in GoogleCloudPlatform/google-cloud-dotnet#1641. Thank you @jskeet for bringing this to our attention!

The problem appears to be that the client library is decompressing the gzipped content before verification, with the result that`File::Verifier`  is comparing a hash of the uncompressed data against the hash of the compressed data that is returned by the ser

[2017-11-16 00:35] blowmage commented on #1835
This has been previously discussed in #1360

[2017-11-16 00:37] quartzmo commented on #1835
google-cloud-node has a [solution](https://github.com/googleapis/nodejs-storage/blob/05fa3f709e80b5c4228a47ca049838b13d413861/src/file.js#L509) in which the hash is computed before decompression, and a supporting [system test](https://github.com/googleapis/nodejs-storage/blob/05fa3f709e80b5c4228a47ca049838b13d413861/system-test/storage.js#L1540).

[2017-11-16 00:44] quartzmo commented on #1835
@blowmage Thanks for linking the previous issue.

[2017-11-16 01:27] quartzmo commented on #1835
I'm attempting to apply the google-cloud-node solution (decompress after computing the verification hash), but I think I'm blocked by the `transparent_gzip_decompression = true` called on the `HTTPClient` instance in [this line](https://github.com/google/google-api-ruby-client/blob/0.17.1/lib/google/apis/core/base_service.rb#L403) in google-api-ruby-client.

[2017-11-16 03:35] jrun opened #1836 "undefined method `credentials_with_scope' for Google::Cloud::Trace::Credentials:Class"
My Rails app produces this error after upgrading to google-cloud-trace 0.28.0:

[code]

`Google::Cloud::Trace::Railtie` calls `Google::Cloud::Trace::Credentials.credentials_with_scope` which was removed in fbd13ed330fba01c23f4cba93ddcf93aa7253714.

[2017-11-16 04:19] jrun opened #1837 "Ruby syntax error in Google::Cloud::Monitoring::Credentials prevents auth"
These two word lists defined in `Google::Cloud::Monitoring::Credentials` shouldn't be delimited by commas. I discovered this issue because `Google::Cloud::Monitoring::Credentials.default` fails.

[code]

These libraries have the issue:

* bigtable (`bigtable/credentials.rb` and `bigtable/admin/credentials.rb`)
* language
* monitoring
* video_intelligence
* spanner (`spanner/admin/database/credenti

[2017-11-16 04:52] blowmage commented on #1836
Thank you for opening this issue. I can confirm this is indeed an issue for all `Railtie` classes. I am updating these libraries now and will be deploying new versions for all of them very soon.

[2017-11-16 04:53] blowmage commented on #1837
Thank you for opening this issue. I can confirm this is indeed an issue. I am updating these libraries now and will be deploying new versions for all of them very soon.

All of these files were created through code generation, and we will follow up with that process and ensure that these files are generated correctly and properly tested.

[2017-11-16 06:29] blowmage commented on #1837
This has been corrected in the following releases:

* [Natural Language 0.28.1](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-language%2Fv0.28.1)
* [Monitoring 0.26.1](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-monitoring%2Fv0.26.1)
* [Spanner 1.1.1](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/go

[2017-11-16 06:30] blowmage commented on #1837
@jrun Thanks for your contribution!

[2017-11-16 06:30] #1837 closed

[2017-11-16 06:30] blowmage commented on #1837
@geigerj FYI.

[2017-11-16 07:47] blowmage commented on #1836
The credentials verification bug has been fixed in Railtie for the following gems:

* [Debugger 0.29.1](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-debugger%2Fv0.29.1)
* [Error Reporting 0.28.1](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-error_reporting%2Fv0.28.1)
* [Logging 1.3.1](https://github.com/GoogleCloudPlatform

[2017-11-16 07:47] #1836 closed

[2017-11-16 19:16] geigerj opened #1838 "Upgrade rubocop"
### What

Currently, we pin rubocop to `<= 0.35.1`. Upgrade to the latest version. This will require a review of our configuration and/or updating the many files that fail the linter under the latest version. This might be a good backlog item for a fixit.

### Why

This has a low-severity vulnerability in which other users on a shared filesystem may be able to corrupt local rubocop output, and Git

[2017-11-16 19:17] quartzmo commented on #1835
See also: https://cloud.google.com/storage/docs/transcoding

[2017-11-16 19:19] quartzmo commented on #1835
I tried re-compressing the file content on the client, but it doesn't seem to produce the correct hash:

[code]

[code]

[2017-11-16 19:22] jskeet commented on #1835
Recompressing could work in some cases, but only if you happen to recompress to the same form. There's no canonical compressed form, unfortunately.

[2017-11-16 19:25] quartzmo commented on #1835
Thanks @jskeet, I'll drop that idea.

[2017-11-16 19:37] quartzmo commented on #1838
Just for the record, Rubocop was pinned around Jan 14, 2016 in #522 with this comment:

So it seems safe enough to finally move forward with this upgrade.

[2017-11-16 20:05] geigerj commented on #1837
Thank you @jrun for the report, and @blowmage for the prompt fix and release. I've filed a PR in the code generator to fix this, and an issue to add test coverage for these files.

[2017-11-16 23:04] bgood opened #1840 "No address found for accounts.google.com"
We are trying use the gem inside Google Kubernetes Engine, however, when authenticate using a service account key file this exception is thrown.

```Hostname not known: accounts.google.com at ["/usr/local/lib/ruby/2.1.0/resolv-replace.rb:12:in `rescue in getaddress'", "/usr/local/lib/ruby/2.1.0/resolv-replace.rb:9:in `getaddress'", "/usr/local/lib/ruby/2.1.0/resolv-replace.rb:23:in `initialize'",

[2017-11-16 23:48] blowmage commented on #1840
@bgood Thanks for opening this issue. Which google-cloud-* gems are you using? Can you also provide the versions? Is there more of the backtrace you can share?

[2017-11-16 23:49] blowmage commented on #1840
@geigerj Thoughts on this?

[2017-11-17 01:14] bgood commented on #1840
We are using **google-cloud-pubsub (0.27.2)** among others, but the error is getting thrown when we try to init that gem.  Unfortunately, that is all the trace I have.

Honestly, I'm not sure is this is more of a core Ruby issue, Kubernetes/GKE issue or gem issue, but I figured it is fixable or at least the easiest to workaround in the gem.

[2017-11-17 04:24] geigerj commented on #1840
That behavior with `Resolv.getAddresss` is perplexing. I'm not able to reproduce in Ruby 2.1.0 outside of GKE, which makes me suspect a GKE issue rather than core Ruby, but I'm not sure.

Since adding the trailing dot shouldn't hurt, I don't have a problem adding it as a workaround here. If you have a stack trace, it might be helpful to determine whether this string is coming from `google-cloud-co

[2017-11-17 17:44] bgood commented on #1840
Yes, this is an interesting problem.  Even on GKE but outside of Ruby the address resolves, so it doesn't seem to be squarely in any particular technology or system.  Thank you for your willingness to implement a workaround.

Here is more stack trace:

```Hostname not known: accounts.google.com at ["/usr/local/lib/ruby/2.1.0/resolv-replace.rb:12:in `rescue in getaddress'", "/usr/local/lib/ruby/2.1

[2017-11-17 19:11] quartzmo commented on #1813
Closing per @geigerj's answer.

[2017-11-17 19:11] #1813 closed

[2017-11-17 19:12] quartzmo opened #1841 "New Logging Features"
The recent PR #1831 updated the Logging GAPIC code and added the following:

- [ ] `update_mask`
- [ ] `span_id`

Should these both be supported in the high-level Ruby API?

/cc @geigerj @draffensperger

[2017-11-17 20:40] #1834 closed

[2017-11-20 02:58] Nakilon commented on #1734
During last two week I began to get `16:Deadline Exceeded` when using Cloud Logging. Retrying does not help -- it just throws this error again and again, even after 2 days with 10 minutes pause between retries. When I restart the program the issue does not happen until it works for few hours or days, then it hangs again. How do I debug this grpc error?

[2017-11-20 07:27] ammaristotle opened #1843 "Segmentation fault at 0x00000000000170f6"
While experimenting with a rails app on alpine linux (in Docker), I got a segfault (running in a forked process, a puma app server).

Upon inspection, it looks like it has to do with pubsub/grpc, which is why I'm opening the issue here.

#### Relevant version info
* Alpine linux version: 3.6.2
* ruby version: 2.4.2
* relevant gems:
[code]

<details open>
<summary>Stack trace:</summary>

[code]
</d

[2017-11-20 17:15] bmclean opened #1844 "Datastore 1.2.0 - prints deprecation warnings when using emulator"
After upgrading to `google-cloud-datastore 1.2.0' our development and test logs are filled with this:

It looks like it is being generated [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/b0e936c65717db7df2a6693e5ec9c8b590e314c0/google-cloud-datastore/lib/google/cloud/datastore/v1/datastore_client.rb#L114).

To use the datastore emulator we configure the ENV['DATASTORE_EMULATOR

[2017-11-20 17:23] blowmage commented on #1843
Hi @ammaristotle, thank you so much for opening this issue. It looks like the segfault is coming from the google-protobuf library so I have opened a similar issue for the protobuf team to track this at google/protobuf#3925.

/cc @geigerj

[2017-11-20 17:31] blowmage commented on #1844
Several of the low level arguments were recently deprecated, and as part of the 1.2.0 release we tried to make sure that none of these warnings were being raised. However, we obviously missed the warnings when for connecting to the emulator.

I don't believe there is anything you can do to avoid these warnings until we can get a new release out that avoids using these arguments.

[2017-11-20 19:10] danoscarmike commented on #1351
ping @blowmage what's the status of this one?

[2017-11-20 19:12] quartzmo commented on #1840
Just for the sake of being up-to-date (I don't know that it will fix the problem), would it be much trouble for you to reproduce the issue with the latest google-cloud-pubsub `0.28.0`?

[2017-11-20 19:14] quartzmo commented on #1840
Sorry, and google-cloud-core `1.1.0` as well.

[2017-11-20 19:17] bmclean commented on #1844
Thanks @blowmage!

[2017-11-20 20:50] blowmage commented on #1351
Still haven’t verified. I will try to get it done this week.

[2017-11-20 22:57] blowmage commented on #1734
@Nakilon Unless this is happening while running in Pry it is a completely different issue. We won't be able to resolve it here. Can you open a new issue with all the relevant information (gem versions, ruby versions, runtime info, stack traces, etc) instead?

[2017-11-21 12:44] #1844 closed

[2017-11-21 21:21] bgood commented on #1840
Looks like this was a bug in Ruby (fixed in 2.1.6 and higher) after all.  We upgraded to the current version of Ruby 2.1 and it is now working.

For reference purposes here is the link to the Ruby bug (https://bugs.ruby-lang.org/issues/10412)

Sorry for the trouble.

[2017-11-21 21:21] #1840 closed

[2017-11-21 21:31] quartzmo commented on #1840
@bgood No problem, we're always happy to try to help. Thanks for linking to the Ruby issue.

[2017-11-24 14:49] Merovex opened #1856 "Google Language API documentation points to wrong URL"
The [Natural Language API Readme](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-language/README.md) points to a dead URL. Correct URL follows.

https://cloud.google.com/natural-language/

[2017-11-26 22:08] jicardu opened #1857 "Google Language API Analyze Syntax is returning -1 for all Being Offsets on TextSpans"
As this issue in python section:

AnalyzeSyntax request  is returning -1 for all offsets. I'm using Ruby Natural Language Client Library v0.28.0

The documentation says that I need to send the encoding type to get the offsets I want.

So I'm trying to do that writing:
`syntax = language.analyze_syntax content: text, type: :PLAIN_TEXT, encoding_type: 'UTF8'`

but I'm getting this error:

How Is the

[2017-11-26 22:46] jicardu commented on #1857
Also I follow this documentationof v0.25.0:

method=analyze_syntax-instance

And tried to do the following:

[code]

But I got this error:

**wrong number of arguments (given 2, expected 1)**

[2017-11-27 15:08] geigerj commented on #1857
Hi @jicardu, `0.28.0` introduced some breaking changes; `encoding_type` is now a keyword argument, so your request should look like:

[code]

The documentation for the latest version of the client library is available [here](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-language/v0.28.1/google/cloud/language/v1/languageserviceclient?method=analyze_syntax-instance); I

[2017-11-27 15:10] geigerj commented on #1856
This URL is autogenerated from API metadata in [googleapis/googleapis](https://github.com/googleapis/googleapis/). We should investigate how the canonical URL for product documentation on cloud.google.com is formed, and ensure we generate it correctly from the given metadata. Note that the current link does already redirect to the right URL.

[2017-11-27 15:23] blowmage commented on #1857
Hi @jicardu, thank you for opening this issue. The core problem you are having is that you are not providing the correct value for `encoding_type`. In your first example you are providing a string value for the `encoding_type`.

[code]

Providing a string is incorrect, and this is why the offset is being returned as `-1`. Instead, the value for `encoding_type` can be a symbol, as are already corre

[2017-11-27 22:25] Merovex commented on #1856
I just checked the link, which led to a 404 page. Perhaps I am clicking the wrong link?

[2017-11-27 22:36] blowmage commented on #1856
The URL https://cloud.google.com/language gives me a 404 as well.

[2017-11-27 22:46] geigerj commented on #1856
Thanks for the correction. (Strangely the behavior seems to depend on whether you're inside Google or not...) Filed #1858 as a temporary fix until we can update the code generator.

[2017-11-27 23:03] jicardu commented on #1857
@geigerj @blowmage Thank you so much!

[2017-11-28 19:07] ilyaevseev commented on #1772
The same problem under Nginx compiled with BoringSSL-stable:

    $ egrep -o 'OPENSSL_internal:.* while waiting for request' /var/log/nginx/error.log | sort | uniq -c | sort -nr
       46 OPENSSL_internal:BAD_DECRYPT error:1000008b:SSL routines:OPENSSL_internal:DECRYPTION_FAILED_OR_BAD_RECORD_MAC) while waiting for request
       13 OPENSSL_internal:DATA_NOT_MULTIPLE_OF_BLOCK_LENGTH error:1000008b

[2017-11-28 19:55] #1807 closed

[2017-11-28 22:36] quartzmo opened #1859 "Package landing pages display low-level API"
The documentation landing pages for packages (labeled) that include low-level (GAPIC) APIs incorrectly display the low-level API overview content, while the pages for the version-numbered nav items are mostly (except Speech and Vision) blank.

For example, [Datastore landing page](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-datastore/v1.2.1/google/cloud/datastore) a

[2017-11-29 14:39] britg opened #1860 "Stackdriver Debugger breaks grpc connections when working with Puma's forking/workers"
*Edit* Here's a StackOverflow question: https://stackoverflow.com/questions/47558606/google-stackdriver-working-with-pumas-cluster-mode-workers-outside-of-google-cl

I'm attempting to get the stackdriver logging gem working with puma's cluster mode on my own server (e.g. outside of Google Cloud). My set up is a brand new rails 5.1.4 ruby 2.4 app with only the stackdriver gem added. I am able to se

[2017-11-29 17:04] quartzmo commented on #1860
@britg Thanks for opening this issue. Are you running your cluster on GKE? Is this StackOverflow question relevant?  [gce container logs not showing up in cloud logging](https://stackoverflow.com/questions/39253616/gce-container-logs-not-showing-up-in-cloud-logging)

/cc @dazuma

[2017-11-29 17:04] quartzmo commented on #1860
You may also want to open a StackOverflow question. If you do so, please link to it from this issue.

[2017-11-29 17:12] quartzmo commented on #1724
@igorpeshansky Any update?

[2017-11-29 17:15] igorpeshansky commented on #1724
Looks like they've bumped the plugin version again (https://github.com/GoogleCloudPlatform/appengine-sidecars-docker/pull/80). Hopefully this time they'll only have one.
@andrerod @Cynocracy for visibility.

[2017-11-29 17:40] britg commented on #1860
Hi @quartzmo - thanks for the reply. I am running this rails app on my own server outside of Google Cloud. I've updated the issue to be more clear and I've created a Stack Overflow question.

[2017-11-29 18:00] quartzmo commented on #1860
@britg Great, thank you. Can you link to your Stack Overflow question?

[2017-11-29 18:02] britg commented on #1860
Sure, I have editing the original issue text with the Stack Overflow link, and here it is as well:

https://stackoverflow.com/questions/47558606/google-stackdriver-working-with-pumas-cluster-mode-workers-outside-of-google-cl

[2017-11-29 18:03] quartzmo commented on #1860
Ah, sorry, missed the edit. Thank you.

[2017-11-29 18:18] #1650 closed

[2017-11-30 04:30] bmclean commented on #1860
@britg This might be the loading grpc before forking problem. There is a summary of the problem [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/691#issuecomment-220726907). The grpc library is initialized when you require 'google/cloud/logging/rails'. Could you try forking the process first and then initialize the grpc library?

Also see grpc [#7951](https://github.com/grpc/

[2017-11-30 14:49] britg commented on #1860
@bmclean Thanks for the pointers. Sounds like in order to solve this I need to require `google/cloud/logging/rails` after puma forks workers.

To accomplish this, though, I need to somehow set configuration on the `config.google_cloud.logging` config object, but `config.google_cloud` is nil on application start.

Is there a way to set config parameters without requiring `google/cloud` first? Seems

[2017-11-30 18:53] blowmage commented on #1860
You can require `google/cloud/logging` pre-fork to configure. As long as you don’t create a Logging client you should be fine.

[2017-11-30 19:06] blowmage commented on #1860
@dazuma Any input on this?

[2017-11-30 19:08] britg commented on #1860
Alternatively, if there's a way for me to manually construct a `Google::Cloud::Logging.new` -- are there any examples of how to do this with a project_id and keyfile.json?

Everything I found in the documentation assumes the configuration exists in the Rails.config

[2017-11-30 19:40] remi opened #1862 "annotate_video providing input_content always times out"
If I try to annotate a local video file by passing its base64 encoded bytes as input_content, my request hangs forever.

The same request works if I provide input_uri to the same file stored in Google Cloud Storage
The same request using content_uri works in other language's Video client libraries

[code]

Example video: http://storage.googleapis.com/demomaker/cat.mp4

This seems to hang forever f

[2017-11-30 21:59] dazuma commented on #1860
The problem appears to be at the gax/gapic layer. The gapic clients are supposed to avoid requiring grpc until an actual service connection needs to be opened. However, gax is messing this up. Requiring "google/gax" by itself already causes grpc to be loaded: google/gax.rb -> google/gax/errors.rb -> google/gax/grpc.rb -> grpc

[2017-11-30 22:05] dazuma commented on #1860
@britg a couple ideas:

* Does turning off preload help?
* Have you tried initializing during `on_worker_boot`?

[2017-11-30 22:38] britg commented on #1860
@dazuma Turning off preloading does not help. I have tried with both preloading on and off and neither produce Stackdriver logs (but running in single mode does produce logs).

How would I go about initializing in `on_worker_boot` -- re: my last question on `Google::Cloud::Logging.new` -- all I have is a `project_id` and a valid `keyfile.json`. I can't find an example of setting up a logger with j

[2017-11-30 23:48] blowmage commented on #1862
Why are you base64 encoding the video? I’ve seen that as a requirement for sending binary data to REST APIs, but VideoIntelligence is GRPC and for those APIs we’ve been sending BINARY encoded Ruby strings.

[2017-11-30 23:49] geigerj commented on #1862
@blowmage Able to confirm that's correct; the repro code above succeeds without base64 encoding.

[2017-12-01 17:57] blowmage opened #1863 "Pub/Sub Subscriber Threading Bug"
This week I was informed by a user of a bug in Pub/Sub's Subscriber where threaded actions are not blocking until completed properly. The code creates an array of thread objects, like the following:

[code]

The bug is the last line, which joins the array. Instead, it needs to call `join` on all the threads in the array.

[code]

[2017-12-02 11:35] NirKamara opened #1864 "Pubsub, Ruby & Faraday dependency"
Hi,

I'm trying to develop a custom output plugin for logstash (Ruby) that uses google-cloud-pubsub.
I get dependencies issues because logstash needs faraday < 0.10 and google-cloud needs > 0.11.

    ERROR: Installation Aborted, message: Bundler could not find compatible versions for gem "faraday":
    In snapshot (Gemfile.lock):
    faraday (= 0.9.2)

    In Gemfile:
    octokit (= 3.8.0) java d

[2017-12-04 17:48] thagomizer opened #1866 "Generated docs for google-cloud-language don't work"
The generated documentation throws a GAX error

[code]
Here's the error
.../google-gax-0.10.2/lib/google/gax/api_callable.rb:351:in `rescue in block in retryable': GaxError Exception occurred in retry method that was not classified as transient, caused by 3:One of content, or gcs_content_uri must be set. (Google::Gax::RetryError)

[2017-12-04 18:10] Nakilon opened #1867 "Spontaneous 16:Deadline Exceeded after long sleeps"
I have a wrapper. When it faces an exception on calling `Google::Cloud::Logging::Logger`'s `debug`, `info`, `warn`, `error`, methods it just retries:
[code]
It worked fine since spring but nearly a month ago (or a bit earlier) it started to hang -- I mean, sometimes retrying does not help anymore and so it gets stuck in a loop, because I don't want to skip any lines to be logged. So before `sleep

[2017-12-04 18:11] Nakilon commented on #1734
@blowmage done: https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1867

[2017-12-04 18:25] thagomizer opened #1868 "Google::Cloud::Language classes should implement #to_s"
When working in irb trying to build up a script to interact with language it is hard to figure out what properties/fields each class has because they don't all implement #to_s. To understand what's going on you have to use #inspect. It would be handy if they all implemented #to_s.

For example, compare
[code]

to

[code]

The second one helps me see what fields I can call and makes learning the li

[2017-12-04 20:46] geigerj commented on #1868
I think this is best treated as a feature request for [google/protobuf](https://github.com/google/protobuf/tree/master/src/google/protobuf), rather than for the client libraries.

[2017-12-04 20:49] geigerj commented on #1868
Filed as https://github.com/google/protobuf/issues/3998.

[2017-12-04 20:49] #1868 closed

[2017-12-05 00:00] quartzmo commented on #1864
In the output above, it looks to me like octokit is declaring the `< 0.10` requirement for faraday, not logstash. Is this correct?

[2017-12-05 07:36] NirKamara commented on #1864
yes, but `octokit` is part of the `Gemfile` in logstash.

I'm not sure what is the role of octokit in logstash and if it can be removed / upgraded.

[2017-12-05 17:47] quartzmo commented on #1864
@NirKamara I believe you posted this question [Custom plugin - octokit / sawyer / faraday versions](https://discuss.elastic.co/t/custom-plugin-octokit-sawyer-faraday-versions/108921) on the Elastic forum? Hopefully they will be able to address the issue by removing the pin on Faraday `< 0.10` or removing octokit.

Meanwhile, I'm not sure why google-cloud-env sets the Faraday dependency to `~> 0.11

[2017-12-05 18:09] quartzmo commented on #1867
This is just a shot-in-the-dark suggestion (since I really don't know why the Logging service is requiring that you retry in the first place), but i wonder if it might help to retry with exponential backoff rather than every second.

[2017-12-05 18:11] quartzmo commented on #1867
Also, do you want to open a Stack Overflow question with the [`google-cloud-logging` tag](https://stackoverflow.com/questions/tagged/google-cloud-logging)? If you do so, please link to it from this issue for future visitors.

[2017-12-05 18:17] quartzmo commented on #1835
The question came up offline if this client should decompress file data with a `Content-Type` of `application/gzip`.

And the answer is that for a `Content-Encoding` of `gzip`, it's reasonable for us to decompress. If the `Content-Type` is `application/gzip` instead, then we  shouldn't be decompressing it.

[2017-12-05 20:20] NirKamara commented on #1864
Yes, thank you @quartzmo.
Hopefully I will get feedback on elastic forum...

[2017-12-05 20:21] #1864 closed

[2017-12-05 23:16] sam0x17 opened #1869 "'DEBIAN7' for property vm_image_type is not an allowed choice" error on deploy"
I just suddenly got this error this morning when I tried to deploy. I've been deploying successfully for months and this deploy contained a merely cosmetic change to my app so I think this is rather strange.

[code]

[2017-12-05 23:18] sam0x17 commented on #1724
It is now working. Note that I had to re-enable the stackdriver API for some reason -- maybe the change they pushed disabled it.

[2017-12-05 23:18] #1724 closed

[2017-12-05 23:20] quartzmo commented on #1869
Hi @sam0x17, is this an error that involves this client library, [google-cloud-ruby](https://rubygems.org/gems/google-cloud) or one of its sub-packages, such as [google-cloud-bigquery](https://rubygems.org/gems/google-cloud-bigquery) ?

[2017-12-05 23:20] sam0x17 commented on #1869
When I re-tried the deploy it worked -- interesting

[2017-12-05 23:25] sam0x17 commented on #1869
@quartzmo feel free to close -- too bad app engine doesn't have a place to report issues like this

[2017-12-05 23:26] #1869 closed

[2017-12-05 23:29] dazuma commented on #1869
@sam0x17 You can report app engine issues on https://github.com/GoogleCloudPlatform/ruby-docker which is the Ruby runtime. That will at least be one step closer to the teams involved. (In this case, I don't know what the deal was with the error you saw, but if it corrected itself it might have been a momentary fluke in the service. I'll see if I can get some answers.)

[2017-12-05 23:30] quartzmo commented on #1869
@sam0x17 You can also try asking on Stack Overflow with the [google-app-engine](https://stackoverflow.com/questions/tagged/google-app-engine) tag. If you get an answer, please link back to it from this issue, to help out any future person who comes across this issue in a web search.

[2017-12-05 23:32] sam0x17 commented on #1869
ah ruby-docker -- totally forgot about that -- thanks @dazuma !!!

[2017-12-08 07:17] Nakilon commented on #1867
Exponential didn't help:
[code]
However, this time it happened on another line! Seems like it happens in just a random moment of time so larger sleep have larger chance to caught it and so it's unrelated to the specific line of code.
Is there in this gem anything internal such as "connection" to a GCP Logging service? Something that should be kept and automatically renewed but sometimes that renew

[2017-12-08 07:32] Nakilon commented on #1867
Here I opened SO question: https://stackoverflow.com/q/47709700/322020

[2017-12-08 09:37] averell23 commented on #1772
We get the same, sometimes as part of a segfault. It happens reproducibly when the debugger is enabled, and goes away when not.

Segfault info:

[code]

Version info is Ruby 2.4.2

[code]

[2017-12-08 18:50] quartzmo commented on #1867
I don't think so. The lowest-level stub in library is here:
[google/cloud/logging/v2/logging_service_v2_client.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-logging/v1.3.1/google-cloud-logging/lib/google/cloud/logging/v2/logging_service_v2_client.rb#L217-L225)

[2017-12-08 21:21] quartzmo commented on #1867
@dazuma Can you suggest anything?

[2017-12-11 17:02] blowmage commented on #1772
@apolcyn This looks to be coming from GRPC. Can you confirm?

[2017-12-11 17:56] nambrot opened #1872 "Segmentation Fault when using logging"
We have been very happy with GCP so far, but running into a seemingly nasty issue. We do all our logging from our background workers in Rescue, but it seems like from time to time, they will segfault when using `google-cloud-logging`. (What's worse is that this won't register a failing process in Kubernetes, but this is a separate issue)

[code]

I'll try to update the relevant gems, but just want

[2017-12-11 20:11] blowmage commented on #1872
Hi @nambrot, thank you for opening this issue. It looks to me that this is the same issue that has been reported against google-protobuf. The most recent report is google/protobuf#3925. Thankfully, it looks to be corrected in google/protobuf#4011. If you can test out the protobuf team's fix I'm sure they would love to get feedback on it.

I'll keep this issue one until the fix has been released. A

[2017-12-11 20:14] apolcyn commented on #1772
I'm not sure where the root of this is necessarily from, but this is a grpc stack trace - it does look like the error messages and segv are from within grpc.

[2017-12-11 20:15] nambrot commented on #1872
Thanks for pointing me to the fix. We are unfortunately not yet on Ruby 2.4, but will let you know if we make it there. Since this seems to be the root cause, feel free to close this ticket

[2017-12-11 21:31] dazuma commented on #1867
There is a "connection" object internally, but it doesn't need to be renewed. The one thing that does need renewal (sometimes, depending on the setup) is credentials, but that should happen automatically unless you're doing something strange to set up credentials.

Can I ask:

* Are you doing something specific to get credentials (e.g. do you point to a JSON credentials file) or do you use the cre

[2017-12-12 02:32] blowmage commented on #1872
I believe when the fix it released it will be applied to all ruby versions. I think the PR was just poorly named.

[2017-12-12 06:43] premist opened #1875 "Stackdriver Debugger Logpoints: Frequent 'MutationError's"
I'm trying out Stackdriver Debugger (although it's in beta currently) and encountering Google::Cloud::Debugger::MutationError a lot. I installed Stackdriver Debugger on a Rails app, and tried to use Logpoints with multiple types of objects.

I tried logging `params = {params}` or tried to log specific parameter like `object_id = {params[:id]}` but they all result in this logpoint message:

[code]

[2017-12-12 17:17] nambrot commented on #1872
Great to hear!

On Mon, Dec 11, 2017 at 9:32 PM, Mike Moore <notifications@github.com>
wrote:

[2017-12-12 17:58] quartzmo commented on #1875
@premist Thank you for opening this issue. I don't yet have any experience using logpoints with Rails (@thagomizer and @dazuma may be able to offer more insight), but I did notice something of interest while reading the google-cloud-debugger source code:

[Logpoint#evaluate_log_message](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-debugger/lib/google/cloud/debu

[2017-12-12 21:26] mdietz94 opened #1876 "Pub/Sub admin operation default deadline should be 60s"
Right now the deadline defaults to infinity as declared by gRPC (https://github.com/grpc/grpc/blob/master/src/ruby/lib/grpc/generic/client_stub.rb). We should set this to 60s so it can more quickly be retried by clients if a server is unreachable or unavailable. This also mirrors the deadlines set by Java/C#.

[2017-12-12 21:46] blowmage commented on #1876
While GRPC sets the default timeout to infinity, the GAPIC layer sets a total timeout to 60 seconds for most operations. For example:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/v1/publisher_client_config.json#L64

Are these considered an "admin operation"? Or are you referring to different calls?

[2017-12-13 15:12] mdietz94 commented on #1876
Ah, thanks, didn't see these overrides.

[2017-12-13 15:12] #1876 closed

[2017-12-13 21:33] Nakilon commented on #1867
* I'm using a keyfile (generated for a service account) like this:
[code]
  this all is in a wrapper that is used by few other daemons on the same machine and they don't have the issue
* I see around 5000 log items for last 3 days and they are coming in bursts sometimes -- like when I restart the process that is facing the issue
* free tier

Also there is a detail that RAM on my machine is almost

[2017-12-13 21:35] Nakilon commented on #1867
Oh and I guess this is another answer on the question about amount of logging:
![image](https://user-images.githubusercontent.com/2870363/33963634-a42842fc-e066-11e7-9ddd-35cec8d57f9f.png)

[2017-12-14 17:02] retnuh commented on #1118
Is there an update on this?  Is there a new issue tracking further work, or will updates be posted here?

[2017-12-14 17:36] quartzmo commented on #1118
@geigerj Can we reopen this issue? It states:

[2017-12-14 18:02] geigerj commented on #1118
@quartzmo Sure.

@retnuh No updates so far, but we expect to begin work early next year. The new ETA is by the end of 2018Q1.

[2017-12-14 18:17] quartzmo commented on #1118
Thanks @geigerj !

[2017-12-15 07:44] blowmage commented on #1800
It turns out we already had separate lease time and a much shorter ack/modack time. My apologies for being confused on this earlier.

I believe #1880 satisfies this request. PTAL.

[2017-12-15 10:29] retnuh commented on #1118
Thanks for the update @geigerj !

[2017-12-15 19:32] blowmage opened #1882 "Update Copyright Headers?"
Currently most copyright headers use the [following format](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google-cloud-bigquery.rb#L1):

`Copyright YEAR Google Inc. All rights reserved.`

The latest generated code uses a slightly [different format](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1881):

`Copyright YEAR, Google LLC All

[2017-12-15 19:33] geigerj commented on #1882
Yes. Additionally, "All rights reserved" should be removed. This is the canonical license header:

[code]

[2017-12-15 19:44] blowmage commented on #1882
Should we make this change to the generated files as well? The newly generated files still state “All rights reserved.”, and have a comma after year.

[2017-12-15 19:48] geigerj commented on #1882
Sure, if you're doing it mechanically, updating autogen headers should do no harm. We actually just updated the generator a few minutes ago (https://github.com/googleapis/toolkit/pull/1748), so everything should be in sync on refresh.

[2017-12-15 19:53] blowmage commented on #1882
Comma, no comma, or doesn't matter?

[2017-12-15 20:09] geigerj commented on #1882
I'm the wrong person to ask whether it matters 😛

But the canonical text has no comma, so I'd follow that.

[2017-12-15 21:07] #1835 closed

[2017-12-16 21:18] quartzmo commented on #1882
Should this change be retroactively applied to files from past years? For example, should files from before 2017 be updated to "Google LLC", even though the name of the company was "Google Inc." at the time they were authored?
It would seem logical to me that only *new* files should get the new license header.

[2017-12-16 21:25] blowmage commented on #1882
Or, should old files be updated to use the current year?

[2017-12-18 15:35] #1800 closed

[2017-12-18 15:35] #1863 closed

[2017-12-18 15:40] #1857 closed

[2017-12-18 15:46] lukesneeringer commented on #1882
Yes. However, the year should _not_ be changed.

The correct copyright is:

    Copyright XXXX Google LLC

Here is the gist of what is going on here:

  1. Google changed its legal name (actually, its corporate structure, which ultimately affects the name) to "Google LLC" on September 30, 2017.  We retain a d/b/a as "Google, Inc." but things should be changed. This is roughly analogous to what wou

[2017-12-18 15:47] blowmage commented on #1882
@geigerj @lukesneeringer ^ Can either of you answer these questions?

[2017-12-18 15:47] lukesneeringer commented on #1882
I beat you by five seconds. ;-)

[2017-12-18 15:48] blowmage commented on #1882
I was 11 seconds too late! Thanks @lukesneeringer

[2017-12-18 15:48] lukesneeringer commented on #1882
If it is not extra trouble, please do. If it is a pain, then do not bother, and our next auto-gen refresh will deal with it.

[2017-12-18 15:49] blowmage commented on #1882
I submitted #1883 that updated all files, including the generated files. PTAL.

[2017-12-18 18:32] blowmage opened #1884 "Rename BigQuery"
Use `BigQuery` instead of `Bigquery` for the namespace constant. This request comes from the BigQuery team.

We should probably keep the file and directory paths as they are.

[code]

[2017-12-18 18:56] blowmage commented on #1764
@geigerj These generated files still say "Alpha". Should we manually update them to "Beta"?

[2017-12-18 18:57] geigerj commented on #1764
@blowmage Yes, please.

[2017-12-18 19:24] blowmage opened #1886 "Update BigQuery Data Documentation"
Feedback from the BigQuery team indicates that the Data class documentation is not as clear as they would like. Update the documentation for BigQuery's Data class to reduce confusion and improve the code examples. Here is the main documentation for the Data class:

[code]

[2017-12-18 19:48] #1882 closed

[2017-12-18 21:03] #1764 closed

[2017-12-19 00:46] quartzmo commented on #1872
@nambrot Were you able to test out the protobuf fix?

[2017-12-19 00:54] quartzmo commented on #1875
@premist Any progress on this issue?

[2017-12-19 04:01] dazuma commented on #1875
@quartzmo @premist This is probably my issue. We have a mutation detector that we know is conservative and probably prevents a variety of legitimate use cases. We have a project on the books to provide a way to disable it selectively and/or whitelist additional cases. Let me take this issue.

[2017-12-19 13:54] nambrot commented on #1872
I have not yet deployed it, yet it seems like it is no longer happening (at
least in the last week)

On Mon, Dec 18, 2017 at 7:46 PM, Chris Smith <notifications@github.com>
wrote:

[2017-12-20 01:23] frankyn opened #1891 "Unable to use ADC with Video Intelligence client library"
Hi all,

I'm currently testing Ruby 2.5.0-rc1 with [ruby-docs-samples](https://github.com/GoogleCloudPlatform/ruby-docs-samples). I found an issue with the Video Intelligence samples where I'm unable to use ADC provided by the Cloud SDK. However, I'm able to use the NLP client library with ADC credentials. ~~Although, changing the Ruby version to 2.4.2 the similar issue is not raised.~~ More info,

[2017-12-20 04:04] geigerj commented on #1891
It's unexpected for ADC provided by the Cloud SDK -- that is, ADC as provided by the `gcloud auth application-default login` command -- to work with Video Intelligence at all, including in other versions of Ruby. ADC is supported with a service key. I'd like to drill into this a bit more before we classify it as a bug.

[2017-12-20 04:33] frankyn commented on #1891
Version is not an issue, I didn't `unset` the `GOOGLE_APPLICATION_CREDENTIALS` after switching to Ruby 2.4.2. My mistake, and I have updated the description of this issue to follow-up with the NLP client library successfully using ADC (made sure to unset the variable this time).

Thanks Jacob.

[2017-12-20 17:01] geigerj commented on #1891
@vchudnov-g Which APIs work with `gcloud auth application-default login` and which don't? Is there a list documented somewhere?

[2017-12-20 18:51] blowmage commented on #1891
AFAIK all google-cloud gems should work with the gcloud CLI authentication. I believe the issue here is that the grpc gem is not compatible with Ruby 2.5. I have tested on both OS X and Linux and have not been able to get the grpc gem to work on Ruby 2.5.0-rc1.

I don't know why you are getting that specific error message, but I suspect it has more to do with the Ruby 2.5 support than recognizing

[2017-12-20 18:58] geigerj commented on #1891
@blowmage Video Intelligence doesn't work with `gcloud auth application-default login`. This is known and is intended behavior. @vchudnov-g is our lead for auth and should be able to clarify in which cases `gcloud auth application-default login` should work.

[2017-12-20 18:59] frankyn commented on #1891
@blowmage I compiled the gRPC gem using Ruby 2.5.0-rc1. This issue also occurs using Ruby 2.4.2, but I made a mistake thinking ADC worked with Video Intelligence using this version.

[2017-12-20 20:33] frankyn commented on #1891
Sat with @blowmage debugging this issue and found it to be a service side issue with the API not being enabled for the `usable-auth-library` project. @geigerj also confirmed this and we are hoping to understanding the state of the auth world from @vchudnov-g :smile:

[2017-12-20 21:40] #1886 closed

[2017-12-20 22:11] qingling128 opened #1893 "Exception Handling using write_log_entries"
`google-cloud-logging` Version: `v1.2.3`.

We are using `google-cloud-logging`'s [write_log_entries](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/v2/logging_service_v2_client.rb#L371) method to make RPC calls.

For exception handling, we are expecting it to throw `Google::Gax::GaxError` only (`GRPC::BadStatus` would be wrapped i

[2017-12-21 00:36] blowmage commented on #1884
We have also heard that we may want to change the file paths from `require "google/cloud/bigquery"` to `require "google/cloud/big_query"`, to adhere to conventions on file path naming. If we do this, we should maintain the common old file paths to ensure that they continue to work.

It seems like renaming the gem to `google-cloud-big_query` is not wanted though.

[2017-12-21 13:56] casperisfine opened #1897 "Google::Cloud::Storage is about twice slower than gsutil cp for downloading files"
Hi, I ran the following benchmark from a GKE container:

[code]

In short, upload an then download a random 500MB file, with the following results:
  - gsutil cp upload `7.1s`
  - gsutil cp download `6.1s`
  - G::C::S upload `4.8s`
  - G::C::S download `13.9s`

There obviously a bit of variance between the runs, but `G::C::S#download` is constantly twice slower than the rest.

Also note that `gsut

[2017-12-21 15:10] blowmage commented on #1897
Are you disabling the verification check when downloading? You pass `verify: :none` to the download method to do this.

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v1.9.0/google/cloud/storage/file?method=download-instance

[2017-12-21 15:10] casperisfine commented on #1897
I'll try this, thanks!

[2017-12-21 15:17] blowmage commented on #1897
Ugh, the app I use for GitHub notifications didn’t show the benchmark code in the issue description.  Now that I’m reading this in a browser I see that you were not disabling the verify check.

It is possible that this verification stuff is the cause for the difference. Calculating MD5 on a 500 MB file will take some time, but we think we are doing this as efficiently as possible.

[2017-12-21 15:18] casperisfine commented on #1897
I ran the benchmark twice with `verify: :none`:

  - run 1: `gsutil` -> `8.0s`, `gcs-ruby` -> `11.6s`
  - run 1: `gsutil` -> `6.3s`, `gcs-ruby` -> `13.0s`.

So I'm afraid disabling the check only improve things marginally :/

[2017-12-21 17:20] blowmage commented on #1897
K, I'll look into this. FWIW, google-cloud-storage uses google-api-client to access the API, which uses httpclient for the HTTP calls. So it will take a bit to dive through all the dependencies to see where we can pick up performance.

[2017-12-21 17:22] blowmage commented on #1897
@casperisfine Oh! One more thing! Your benchmark includes creating the File object, which also makes an API call. Can you update it to something like the following?

[code]

[2017-12-21 22:26] geigerj commented on #1893
This isn't expected behavior; the GAPIC layer is supposed to wrap all `GRPC::BadStatus` errors in a `Google::Gax::GaxError`.

If you have a repro case (or some code that I can run that may eventually trigger this unexpected error), that would be helpful.

FWIW `Google::Gax.create_api_call` is called only when the service object is initialized, not each time you write an entry, so it's unlikely to

[2017-12-22 00:05] qingling128 commented on #1893
@geigerj  -  I haven't been able to consistently reproduce it. The effective piece of code is as below though.

[code]

I've tried to set the client side timeout to really low, yet not able to trigger a timeout. For some reason it's not taking effect (maybe the way I set it is wrong).

On the other side, I've verified that a server side timeout returns a `GaxError` correctly (by setting the entry_

[2017-12-22 10:45] casperisfine commented on #1897
Good point, but still no sensible change (~`6s` vs ~`12s`). But it's still nice to do one less call so I'll add this to our production system.

Yeah my hunch says the performance difference is more likely to be at that layer. Either some non-optimal buffering, or different compression, etc

What is interesting too is that it impacts only the download performance, the upload performance is fine.

I

[2017-12-22 11:37] casperisfine commented on #1897
I did 3 more runs, this time with 100M, 500M and 1G ([speadsheet](https://docs.google.com/a/shopify.com/spreadsheets/d/1UTsWhw3V5Iy_apa_53MPOkJoRc5PakoTvV3UTlrWN-I/edit?usp=sharing))

There is a lot of variance obviously, but is does appear to be a fairly linear progression:

![capture d ecran 2017-12-22 a 12 35 34](https://user-images.githubusercontent.com/19192189/34296803-ac55e4c0-e714-11e7-980

[2017-12-22 21:17] quartzmo commented on #1897
Hi @casperisfine, what is this line for?

[code]

Can you share your entire configuration somewhere so that I can run this script in my own GKE deployment? I'm just trying to reproduce your results first, then I'll try to debug.

[2017-12-22 21:20] DazWorrall commented on #1897
[context: I work with @casperisfine]

You can ignore that line I think @quartzmo , it looks like some leftover cruft as a result of extracting this code from the project we're using it in.

[2017-12-22 21:25] quartzmo commented on #1897
@DazWorrall, OK, sounds like maybe it isn't easy to share your deployment configuration.

@casperisfine I know my home workstation isn't your deployment target, but here's what I get locally:

[code]

[2017-12-22 22:43] byroot commented on #1897
[context: I am @casperisfine alias]

It's entirely my bad. I used this in my initial benchmark, but that method simply contain what I copy pasted above:

[code]

If it can help, I'm benchmarking from a GKE cluster.

[2017-12-25 06:27] premist commented on #1875
Sorry @quartzmo, I was quite busy on the past weeks due to some company internal milestone. I will wait until resolution comes from @dazuma and will test with the new version.

[2017-12-25 19:10] sunit4155 opened #1903 "gli"

[2017-12-26 17:36] blowmage commented on #362
Closing this issue as the behavior of Resource Manager that blocks the use of service accounts is by design and not something that is likely to change.

If the situation changes and these acceptance tests are wanted in the future, please open an new issue and reference this issue.

[2017-12-26 17:36] #362 closed

[2017-12-26 19:58] blowmage commented on #1216
Should setting a Google::Cloud Logger object also override the Logger objects used by GRPC and the Google API Client?

[code]

In other words, does setting a Google Cloud logger also change the logging performed by the clients used to make the API calls? I ask because I was originally hopping to simply set the logger object on the client instance objects, but it turns out both GRPC and Google API

[2017-12-26 20:03] blowmage commented on #1216
Actually, setting a client instance object logger may be possible with Google API Client, but isn't possible yet with GRPC. But this might be something we could add to google-gax...

[2017-12-26 20:05] blowmage commented on #1216
@geigerj ^ What do you think about this? How deep into the dependency chain should setting `Google::Cloud.logger` affect?

[2017-12-26 20:29] quartzmo commented on #1903
Hi @sunit4155,

Can you please provide a description for this issue?

Thank you.

[2017-12-26 20:37] blowmage commented on #1216
Nope, this isn't possible right now. It must be set using the following:

[code]

[2017-12-26 21:53] quartzmo commented on #1216
What is the motivation for logging statements in the Veneer layer? As a user of these libraries, I think my goal would be to enable debug logging of **request** and **response** data, but I believe this can already be done through [grpc/logconfig.rb](https://github.com/grpc/grpc/blob/master/src/ruby/lib/grpc/logconfig.rb) and/or [google-api-ruby-client#logging](https://github.com/google/google-api

[2017-12-26 22:02] blowmage commented on #1216
This was an open question that was created as an issue back when we were using issues to track questions.  I do agree that logging the lower level API access libraries will likely be much more valuable than logging the Google Cloud (veneer) libraries.

After exploring this today I don’t really see many instances where logging in the Google Cloud layer will be that useful. @geigerj what do you thin

[2017-12-26 22:55] geigerj commented on #1216
I generally agree with @quartzmo that request/response logging is probably better done with documentation than additional functionality in the libraries, unless we see a specific request for this logging within the libraries themselves.

[2017-12-26 23:02] geigerj opened #1906 "OS Login documentation landing page is blank"
### What

http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-os_login/v0.1.0/google/cloud/oslogin has no content. It should display the readme contents analogously to the other GAPIC-only APIs.

[2017-12-26 23:14] blowmage commented on #1216
K, I'll stop working on this and close the issue and create a new issue to better document meaningful logging in these libraries.

[2017-12-26 23:14] #1216 closed

[2017-12-26 23:19] blowmage opened #1907 "Document Logging of Google Cloud libraries."
Logging in most Google Cloud libraries is possible by enabling the logging of the lower-level libraries used to make the API calls. These libraries are GRPC and Google API Client.

[code]

Logging can be very useful for debugging applications, or performance tuning. We think this should be documented somewhere that users can more easily discover which to choose for the library they are using.

See

[2017-12-26 23:40] blowmage commented on #1906
This is likely due to using both `Google::Cloud::OsLogin` and `Google::Cloud::Oslogin` being in the same project, and the way the documentation UI is written it can't differentiate between them. We have the same issue we have with `Google::Cloud::VideoIntelligence` and `Google::Cloud::Videointelligence`, and probably need to apply the [same fix](https://github.com/GoogleCloudPlatform/google-cloud-

[2017-12-27 19:46] quartzmo commented on #1903
I'm going to close this issue for now due to the lack of a description and lack of response from the submitter. We can re-open if needed.

[2017-12-27 19:46] #1903 closed

[2017-12-27 23:00] sbr1601 opened #1909 "Delimiters used for break down words different between TEXT_DETECTION and DOCUMENT_TEXT_DETECTION"
To get the response for TEXT_DETECTION, I'm calling `response_text = vision.annotate(image, text: true)`.
For DOCUMENT_TEXT_DETECTION, I call `response_doc = vision.annotate(image, document: true)`.

`response_text.text.words` seems to split words using only the space and newline delimiter, whereas `response_doc.text.words` splits words by `[,-.()].....`.

Any specific reason why the output is dif

[2017-12-28 23:57] quartzmo commented on #1909
@sbr1601 Thanks for opening this issue. I don't know the answer, but I'll look into it and let you know what I find.

[2017-12-29 01:27] blowmage commented on #1909
@geigerj Is there someone from the ML team that can field questions like this?

[2017-12-29 14:26] mberrueta opened #1913 "Update to ruby 2.5.0 fails"
I'm using  that it's working well
- gem 'google-cloud'
- gem 'google-cloud-error_reporting'
- gem 'google-cloud-vision'

but trying to update to ruby 2.5.0
[code]
I'm getting the error.

`google-protobuf-3.2.0.2-universal-darwin requires ruby version < 2.5, which is incompatible with the current version, ruby 2.5.0p0`

there is a 3.5 version. probably upgrading this it can works.

## Environment

[2017-12-29 14:30] mberrueta commented on #1913
with 3.5 also fails

`google-protobuf-3.5.0-universal-darwin requires ruby version < 2.5, which is incompatible with the current version, ruby 2.5.0p0`

[2017-12-29 17:17] #1386 closed

[2017-12-29 17:33] pdougall1 commented on #1386
Wow I'm sorry I haven't been paying attention to this!  I just got the notification that it was closed, but I never saw that it was answered!

Thanks for putting work in!  Sorry I was silent!  Things look great!

[2017-12-29 17:44] blowmage commented on #1913
Hi @mberrueta, thanks for opening this issue. The problem is that both the `grpc` and `google-protobuf` gems you are using are pre-compiled and they don't have support for Ruby 2.5 since it was just released. We expect new versions of both these gems that will add support for Ruby 2.5 sometime early January.

One workaround may be to compile these gems by following [these instructions](https://git

[2017-12-29 19:00] #1690 closed

[2017-12-29 19:53] quartzmo commented on #1909
@sbr1601 I am pretty certain that this behavior is pass-through for this library, meaning that this client library simple returns the results returned by the Google Cloud Vision API service. My guess is that the service makes no guarantee that text detection and document detection will return the same result, and that these features should not be considered equivalent, even though they are apparen

[2017-12-29 20:01] sbr1601 commented on #1909
Thanks, that answers my question.

Seems like it should guarantee the same result since having both options enabled,
 the document detection overrides text detection and only 1 result is returned.
`vision.annotate(image, text: true, document: true)` => only returns response from DOCUMENT_TEXT_DETECTION (TEXT_DETECTION option is ignored).

Anyway, thanks for your help.

[2017-12-29 20:04] quartzmo commented on #1909
vision.annotate(image, text: true, document: true) => only returns response from DOCUMENT_TEXT_DETECTION (TEXT_DETECTION option is ignored).

This is a different issue, and is something that can be changed in this client library. If this is a problem for you and you would like to see it changed, please open an issue for it, and I will label it as a feature request.

[2017-12-29 20:05] #1909 closed

[2017-12-29 20:12] quartzmo commented on #1909
Actually, I was mistaken. The precedence of `DOCUMENT_TEXT_DETECTION` over `TEXT_DETECTION` is in the Google Cloud Vision API service, so there is nothing that can be done in this client library to change the behavior.

From: https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1#google.cloud.vision.v1.Feature

[2017-12-29 20:36] mberrueta commented on #1913
thanks man!

[2017-12-29 20:39] #1614 closed

[2017-12-29 22:25] quartzmo commented on #1321
Closing this, since the yard-doctest examples testing was added to google-cloud-error_reporting.

[2017-12-29 22:25] #1321 closed

[2018-01-03 19:38] geigerj commented on #1913
GRPC has filed https://github.com/grpc/grpc/issues/13908 to track a release supporting Ruby 2.5.

[2018-01-03 22:46] jeremywadsack opened #1919 "BigQuery schema management from a configuration file"
In [this comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/367#issuecomment-146251415) the author used a YML file passed to `create_table` that specified the schema. It appears this feature was removed in preference for only programatic schema definitions. I'd really prefer to have a the schema defined in a configuration file and so I re-created that functionality myself.

I

[2018-01-03 23:45] blowmage commented on #1919
The gcloud CLI uses a [JSON schema file](https://cloud.google.com/bigquery/docs/schemas#using_a_json_schema_file) to define the schema when making these calls. I think it would be advantageous to support creating and loading these files as part of the Ruby API. To support this I would add the following methods to `Schema`:

* `Schema#load source`
* `Schema#dump source`

The source argument would b

[2018-01-03 23:56] jeremywadsack commented on #1919
Aligning with the `gcloud` API makes sense. The implementation you suggest works fine for me. Being able to write the current schema is a good point.

Question: if the API already works this way, is there a short-cut that we could use to directly read/write this from the `service` or should I parse the JSON, verify the field types and modes, and update the `Schema` object from that (which is what

[2018-01-04 00:01] blowmage commented on #1919
I don't believe the API supports the JSON schema files. They are specific to the gcloud CLI AFAIK.

@quartzmo and I spent time time discussing this. Here is a quick sketch of how we would approach an implementation. There are some methods called here that are not yet implemented, but this should be enough to get started.

https://gist.github.com/blowmage/e86d4b8d5b07b0d496d1234064b49e7f

[2018-01-04 00:41] jeremywadsack commented on #1919
Wow, thanks for the starter code. I'll need to dig more into how the whole `gapi` model works — I haven't really gotten my head around that yet.

Out of curiosity, any reason to push the parsing down into the `gapi` instead of just using `Schema#add_field` to iteratively and recursively add the fields?

https://gist.github.com/jeremywadsack/b45bb85fb3d4e08f3c156ed447af2f9c

[2018-01-04 01:00] quartzmo commented on #1919
I'm pretty sure @blowmage had this idea as well, we just didn't put it into the gist.

[2018-01-06 19:54] dazuma commented on #1351
@blowmage What would you say we need to do for verification? e.g. do we need a way to run acceptance tests against Alpine (maybe via Docker)? I can look at this as well, as I'm in the middle of putting together customer guidance for using our stuff in containers, and Alpine is a part of that.

I can confirm from my ad-hoc testing that at least the current version of the trace client (which uses gr

[2018-01-08 18:44] quartzmo commented on #1866
@geigerj This is falling outside of SLO, any update?

[2018-01-08 18:45] geigerj commented on #1866
This was fixed on a local refresh so is likely an upstream configuration issue that has since been fixed. I'll get a refresh out asap.

[2018-01-08 18:45] quartzmo commented on #1772
@dazuma This issue is falling outside of SLO, can we confirm if this is indeed occurring in grpc? Is there an upstream issue?

[2018-01-08 18:49] quartzmo commented on #1539
This issue is falling outside of SLO for closure. Any update?

[2018-01-08 18:49] quartzmo commented on #1526
This issue is falling outside of SLO for closure. Any update?

[2018-01-08 18:53] blowmage commented on #1803
This is being worked on in #1912.

[2018-01-08 18:53] blowmage commented on #1897
I'm still looking into this.

[2018-01-08 18:53] blowmage commented on #1734
I'm still looking into this.

[2018-01-08 18:54] blowmage commented on #1891
@geigerj Can you give us an update?

[2018-01-08 18:54] blowmage commented on #1875
@dazuma Can you give us an update?

[2018-01-08 18:54] blowmage commented on #1862
@geigerj Can you give us an update?

[2018-01-08 18:55] blowmage commented on #1860
@dazuma Can you give us an update?

[2018-01-08 18:56] geigerj commented on #1862
IIRC this was fixed in https://github.com/GoogleCloudPlatform/ruby-docs-samples/ by not base64 encoding the input.

[2018-01-08 18:56] #1862 closed

[2018-01-08 19:00] blowmage commented on #732
Moving this issue to the [backlog wiki](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog).

[2018-01-08 19:00] #732 closed

[2018-01-08 19:00] blowmage commented on #739
Moving this issue to the [backlog wiki](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog).

[2018-01-08 19:00] #739 closed

[2018-01-08 19:03] blowmage commented on #1477
@geigerj This issue is falling outside of the SLO. Is there an issue on another repo to update the documentation to demonstrate how to use `RepeatedField`?

[2018-01-08 19:04] blowmage commented on #1708
I am working on this now.

[2018-01-08 19:05] blowmage commented on #1474
@geigerj Have the docs been moved to the `googleapis/googleapis` repo yet? Can this issue be closed?

[2018-01-08 19:07] blowmage commented on #1383
Moved to [feature backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog).

[2018-01-08 19:07] #1383 closed

[2018-01-08 19:10] blowmage commented on #951
This issue is blocked by google/google-auth-library-ruby#90, so I am moving this issue to the [feature backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) until we are unblocked.

[2018-01-08 19:12] blowmage commented on #1118
This is still on track for 2018Q1.

[2018-01-08 19:14] blowmage commented on #363
Moved to [feature backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog).

[2018-01-08 19:14] #363 closed

[2018-01-08 19:16] blowmage commented on #1695
@dazuma This issue is falling outside of the SLO. Do you have an update on this?

[2018-01-08 19:18] blowmage commented on #529
@geigerj Is this something you can help with? This should probably be reassigned, yes?

[2018-01-08 19:22] blowmage commented on #562
Moved to [feature backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog).

[2018-01-08 19:22] #562 closed

[2018-01-08 19:24] blowmage commented on #1913
I am closing this issue as there is an upstream issue for this (grpc/grpc#13908) and we don't anticipate any changes needed when that issue is fixed.

[2018-01-08 19:24] #1913 closed

[2018-01-08 19:25] geigerj commented on #529
Could I get some additional context on the request: what does CI need to be configured to do with this domain name?

[2018-01-08 20:03] blowmage commented on #529
We need a domain name to be added to the project that the acceptance tests can use to create records against. Right now it is using one of my domains.

[2018-01-08 20:20] vchudnov-g commented on #1891
Apologies for the delay in replying.

The error message quoted above includes the critical part `API has not been used in project usable-auth-library`. This is the Google-owned Cloud Console project that allows `gcloud auth application-default login` to work with a given API. We are actively discouraging the use of this mechanism, particularly for new APIs. The recommended way of using Application

[2018-01-08 22:10] quartzmo commented on #529
@geigerj The acceptance tests require `GCLOUD_TEST_DNS_DOMAIN` to be set. They test for it [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-dns/acceptance/dns_helper.rb#L21).

[2018-01-09 01:09] blowmage commented on #1897
I've tried to reproduce this on several different systems, with several different network connections, and for the vast majority i've found google-cloud-storage to be faster than the gcloud CLI.

The fastest connection has been (not surprising) using a Google Compute Engine virtual machine, the same platform the GKE runs on. After installing the gcloud CLI, ruby, the google-cloud-storage gem, and

[2018-01-09 10:27] casperisfine commented on #1897
Could the bucket configuration have an impact here? If so I'm benchmarking with the `shopify-ci/shopify-ci` bucket which is configured as multi-regional, and the benchmark was ran from `us-east1`.

I can't think of any other information that could help pinpoint the issue. So if you think it's not it I'll close and look for issues elsewhere in the stack.

[2018-01-09 14:02] blowmage commented on #1897
I don’t know if bucket configuration would affect this, or why it would affect the gem only and not the cli. But I’m also not a Google employee and have no insight into the Storage service beyond the public documentation. Is there a support channel you can ask that question to?

[2018-01-09 14:04] casperisfine commented on #1897
Well, thanks for all the time you spent on this. I'll indeed try to go through support with this.

[2018-01-09 14:04] #1897 closed

[2018-01-09 14:14] blowmage commented on #1897
I’m sorry we couldn’t repro the download speed you are seeing. If you discover the cause we would love to know so we can change the Ruby client to avoid it if possible.

[2018-01-09 14:15] casperisfine commented on #1897
No need to be sorry, that's actually helpful. And I'll make sure to report any further findings here even if there is no modifications to do to the library.

[2018-01-09 14:19] blowmage commented on #1897
Sounds good. Best of luck!

[2018-01-09 18:28] blowmage commented on #1734
Hi @rizidoro, apologies this took so long to follow up on, but I am unable to reproduce the error you are reporting while using Pry.

My repro files are here: https://gist.github.com/blowmage/b9f65a3bc6188506baa0c2bedba74120

With it I was able to start a rake task, creating a `Google::Cloud::Pubsub::Project` object, and then call Pry. Once in the Pry console I was able to make authenticated API c

[2018-01-09 20:26] playerfm opened #1921 "README has wrong arguments for Bigquery"
I found this to be out of date, unless I'm missing something:

[code]

What worked for me was `project` and `keyfile` arguments.

[2018-01-09 20:47] blowmage commented on #1921
It depends on what version of the gem you are using. If you are using the latest version then the `project_id` and `credentials` arguments are supported. If you are using an older version, before the `project_id` and `credentials` arguments were added, then they won't be supported.

The `project` and `keyfile` arguments are considered deprecated in the latest version, but we have no plans to remov

[2018-01-09 21:54] blowmage commented on #1351
I have also been able to install the grpc and google-protobuf gems on Alpine Linux and connect to the Pub/Sub API without issue. The gems perform a compile for native extensions when installed, but everything completes cleanly without warnings or errors. So I am going to close this issue.

If anyone runs into issues with Alpine Linux, please open a new issue with all the relevant information. Than

[2018-01-09 21:54] #1351 closed

[2018-01-09 22:21] playerfm commented on #1921
You're right, thanks, bundle had installed 0.27 not 0.30 due to some dependency issue.

[2018-01-09 22:21] #1921 closed

[2018-01-10 19:19] NickTitle opened #1922 "Inconsistent behavior when using 'offset' with queries"
To paginate data in datastore (gem v 1.2.1), we are using int offsets (instead of cursors) so that we can skip to predictable places in the result set. Instead of only `next/prev` which cursors would support, we want "go to page 7", which I understand you need an int offset for.

In the following code, I execute queries, following cursors until hitting `more_after_limit` or `no_more`. Our behavior

[2018-01-10 20:22] blowmage commented on #1922
Huh, this is an interesting question. I'm not a Datastore expert, but my understanding is that you should use `limit` in conjunction with `offset`, and try to keep all results in a single batch. I believe that `offset` it being applied *after* the `cursor`.

Let's take the following query:

[code]

The first batch starts at index 0, applies the offset of 150 to the index, making the index 150, and

[2018-01-10 20:41] NickTitle commented on #1922
@blowmage thanks so much for weighing in so quick - while we'd love to use cursors, doesn't that make it impossible to jump to arbitrary pages?

in the interim i'll try my same experiment with a limit of '25' and post my findings

[2018-01-10 20:56] frankyn commented on #1891
@vchudnov-g is it possible to update this error message to redirect users to using a service account? The message is very confusing without this additional context.

[2018-01-11 09:32] casperisfine commented on #1897
I received an update from Google support, they were able to reproduce the issue:

🤞

[2018-01-11 10:36] Nakilon commented on #1477
As far as I remember the trick was that you don't have explicitly create repeated fields -- they are kind of created by gem and you just push items to it. Here is simplified old code for example
[code]
where you see I didn't create `points` on my own.

[2018-01-11 15:58] bmclean commented on #1922
@blowmage I believe the default batch size is 300. We have yet to see any batch results differ. I think the size can vary based on distribution and consistency though.

The first few examples (counts of 1, 46, 96) would also fail if the total number of entities was greater than 600. For example, try an offset of 1 with greater than 600 entities. You will get entities 2 to 301 in the first batch, e

[2018-01-11 18:29] vchudnov-g commented on #1891
I agree that a better error message would be very helpful. We're working on this internally.

[2018-01-11 18:59] frankyn commented on #1891
Thanks @vchudnov-g!

[2018-01-11 22:49] blowmage commented on #1884
Closing as this change isn't going to happen.

[2018-01-11 22:49] #1884 closed

[2018-01-11 22:52] blowmage commented on #1843
My understanding is this issue has been fixed in google-protobuf, and there are no actions for the google-cloud-* libraries to take, so I am closing this issue.

[2018-01-11 22:52] #1843 closed

[2018-01-11 22:52] blowmage commented on #1872
Closing as this looks to be fixed by the google-protobuf gem.

[2018-01-11 22:52] #1872 closed

[2018-01-12 00:57] geigerj commented on #1866
I miscategorized this issue on the misunderstanding that it referred to the API quickstart, which the GAPIC team has prioritized, rather than the method samples, which are generally unconfigured and a known issue across GAPICs and GAPIC languages. @vchudnov-g is leading the effort to improve sample generation in GAPIC, including for method samples like this one, but unfortunately, currently, we're

[2018-01-12 02:00] blowmage commented on #1838
@geigerj The latest Rubocop drops support for Ruby 2.0. We have already dropped Ruby 2.0 from Travis-CI because we can't find an OS vm that will run the most current and 2.0. What are your thoughts about dropping Ruby 2.0 from the CI builds as part of fixing this issue?

[2018-01-12 21:37] geigerj commented on #1838
@blowmage Did you end up dropping support in the end? IIRC we retained Ruby 2.0 support only because it continued to be the default system Ruby on OS X.

[2018-01-12 21:41] blowmage commented on #1838
@geigerj I ended up downgrading from Rubocop 0.25.1 to 0.50.0, which is the last release that still supports Ruby 2.0.

FWIW, I would expect more and more gems to start dropping Ruby 2.0, as it was EOL'd nearly a year ago.

https://www.ruby-lang.org/en/news/2016/02/24/support-plan-of-ruby-2-0-0-and-2-1/

[2018-01-12 21:44] geigerj commented on #1838
@blowmage Right, in general, we should not commit to supporting EOL versions of Ruby; this was an exceptional case due to OS X.

@frankyn Could you weigh in on the importance of continued support for Ruby 2.0 due to OS X?

[2018-01-13 00:13] frankyn commented on #1838
I'm okay with dropping support for EOL Ruby 2.0. Mac OS X High Sierra updated the system Ruby to 2.3.3.

[2018-01-13 00:13] #1838 closed

[2018-01-13 00:21] dazuma commented on #1838
Ditto on dropping Ruby 2.0. I'm also okay with generally promoting a best practice of using a custom Ruby install instead of the system Ruby, for those actually doing Ruby development work on OSX.

[2018-01-16 00:23] dazuma commented on #1526
Closing this, as it does not seem to be an issue. An application should not be terminated in the middle of a call to `AsyncWriter#write_entries`, as that call happens in the context of a request. If it does happen, it would be an error. And much more would go wrong, as the request itself would be interrupted in the middle of its execution (before it ever got to that raise).

[2018-01-16 00:23] #1526 closed

[2018-01-16 04:46] #1695 closed

[2018-01-16 04:50] dazuma commented on #1875
I need to complete the documentation of this item and release an update of the debugger gem. I'll be focusing on my assigned issues in the repo this week, and will take care of this.

[2018-01-16 06:12] #1708 closed

[2018-01-16 16:26] blowmage commented on #1922
`offset` will still pull all those records, but skip them and return only the results afterwards. (But you still pay for pulling the results AFAIK.) It would not surprise me if there are issues with large offsets, since they are intended to be used on a single page/batch of results.

[2018-01-16 16:27] blowmage commented on #1922
I believe #1930 will fix this.

[2018-01-16 18:37] vchudnov-g commented on #1866
While I am working on improving our sample generation, this particular issue is tracking an error in something we're already generating. Until the better samples are ready, maybe we should ameliorate this by inserting comments about fields that the user needs to populate.

[2018-01-16 21:48] blowmage commented on #1922
I believe this is fixed in #1930. @NickTitle, you can apply the same fix by change your code to set the query's `offset` to 0 in your `while` loop.

[code]

[2018-01-16 21:48] #1922 closed

[2018-01-16 21:50] blowmage commented on #1734
Closing as we haven't heard back and haven't been able to reproduce.

[2018-01-16 21:50] #1734 closed

[2018-01-16 21:50] blowmage commented on #1803
Closed by #1912.

[2018-01-16 21:50] #1803 closed

[2018-01-17 00:03] geigerj commented on #1181
https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-video_intelligence/v1.0.0/google/cloud/videointelligence/v1 now shows a table of contents. Closing this issue.

[2018-01-17 00:03] #1181 closed

[2018-01-17 00:22] geigerj commented on #1474
@blowmage No. The GAPIC team is not currently maintaining method sample initialization code. This is essentially the same problem as https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1866. Since like issues will affect nearly every GAPIC method, I don't think addressing them individually is sustainable. These changes will ultimately come from upstream and not at the google-cloud-ruby

[2018-01-17 00:22] #1474 closed

[2018-01-17 00:31] geigerj commented on #1866
Tracking upstream as https://github.com/googleapis/toolkit/issues/1809.

This could be very helpful. We already do have information from configuration on which fields are required, so it should be quite simple to generate a comment in the method sample whenever one of these fields does not have initialization fields specified. Filed https://github.com/googleapis/toolkit/issues/1810

[2018-01-17 00:31] #1866 closed

[2018-01-17 00:34] geigerj commented on #1477
This particular issue seems to be with protobuf usage, but we can and should mitigate the problem by showing how to create repeated fields in the autogenerated method samples. We're tracking upstream progress on autogenerate, correctly initialized method samples in the code generator (at https://github.com/googleapis/toolkit/issues/1809), so I'm closing this issue.

[2018-01-17 00:34] #1477 closed

[2018-01-17 07:55] Paxa opened #1935 "BigQuery error running example from README"
[code]

Is there any working example with which can "just run"? (with CSV file included)

[2018-01-17 17:44] geigerj commented on #1891
Closing this question. Thanks for the clarification, @vchudnov-g.

[2018-01-17 17:44] #1891 closed

[2018-01-17 19:05] geigerj commented on #529
JJ's domain has lapsed. I'll update once there's another set up.

[2018-01-17 19:24] geigerj commented on #529
I registered google-cloud-tests.com. @quartzmo @blowmage You should both have management permissions on the domain through https://domains.google.com/.

Do you need me to do anything else here? The domain is not configured to use Cloud DNS and doesn't point anywhere. I also haven't changed the CI environment variables. Let me know if you need assistance on any of those points.

[2018-01-17 19:45] quartzmo commented on #529
@geigerj Thanks, I'll try to test the new domain today.

[2018-01-17 23:21] geigerj commented on #1796
Fixed by #1804.

[2018-01-17 23:21] #1796 closed

[2018-01-17 23:22] geigerj commented on #1783
Fixed by #1804.

[2018-01-17 23:22] #1783 closed

[2018-01-17 23:27] geigerj commented on #1856
Tracking this issue upstream in the code generator as https://github.com/googleapis/toolkit/issues/1811, and closing this issue. For the time being, we should continue to manually maintain documentation links that the code generator mishandles.

[2018-01-17 23:27] #1856 closed

[2018-01-18 17:00] quartzmo commented on #1935
Have you tried following this guide? https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v1.0.0/google/cloud/bigquery

[2018-01-18 21:50] quartzmo commented on #529
I set `GCLOUD_TEST_DNS_DOMAIN=google-cloud-tests.com` and got the following error for every acceptance test:

[code]

[2018-01-18 21:55] geigerj commented on #529
@quartzmo Did you do any set-up on the domain? As noted, I just registered it and gave you management permissions; I didn't point it anywhere or set it up to use Cloud DNS as its name server.

[2018-01-18 21:59] blowmage commented on #529
@quartzmo I think we need to add the domain to the project before we can use it. I'll take the issue and work on getting the new domain working.

[2018-01-19 01:26] blowmage commented on #529
The CI environment has been updated.

[2018-01-19 01:26] #529 closed

[2018-01-19 23:03] qingling128 opened #1938 "Deprecation Warning in google-cloud-logging gem"
We are seeing some deprecation warning in `google-cloud-logging` gem starting with `v1.3.0`.

**The warning**
The `channel`, `chan_creds`, and `updater_proc` parameters will be removed on 2017/09/08.

**The script to reproduce**
[code]
**v1.2.3 does not have the warning**
[code]

**v1.3.0 - v1.4.0 all have this warning**
[code]

Potentially related issue: https://github.com/GoogleCloudPlatform/goo

[2018-01-19 23:10] geigerj commented on #1938
@qingling128 A number of GAPIC constructor arguments, including `channel`, were deprecated and replaced by a [catch-all `credentials` argument](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/e06b63c73fcdbdf3b5636088e11292c2fe3e47d6/google-cloud-logging/lib/google/cloud/logging/v2/logging_service_v2_client.rb#L123) which can accept a GRPC Channel instance, among other things. Can you

[2018-01-21 09:12] mackeee-orange opened #1939 "In Pubsub: NameError: uninitialized constant Google::Cloud::Pubsub::V1::Subscriber"
[code]

[2018-01-21 15:03] blowmage commented on #1939
Have you tried the following?

[code]

[2018-01-21 15:59] mackeee-orange commented on #1939
@blowmage thank you. I can use it.
Are there api document of `SubscriberClient` ??
I wanna use streaming function.

[2018-01-21 16:17] blowmage commented on #1939
You can find the SubscriberClient documentation here:

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-pubsub/v0.29.0/google/cloud/pubsub/v1/subscriberclient

The Pub/Sub gem has two different APIs, the public API and the low-level API. SubscriberClient is the low-level API. I would suggest looking at [`Subscriber#listen`](https://googlecloudplatform.github.io/google-cl

[2018-01-22 02:48] #1939 closed

[2018-01-22 09:20] casperisfine commented on #1897
Another update:

The CPU part is interesting. Maybe the API used for HTTP end up using `write(read())` instead of leveraging `sendfile()`

[2018-01-22 11:00] mackeee-orange opened #1940 "Pubsub: Doesn't work subscriber in Rails"
I'm using GCP Pubsub in Rails application. Environment:
[code]
this is code:

[code]
And I exec a rake command:
[code]
What is this error message??
I wanna use streaming subscriber.

[2018-01-22 11:07] Paxa commented on #1935
Yes, and it worked. Should we copy that examples to README? or remove examples from README?

[2018-01-22 12:16] JoN1oP commented on #1940
Ruby: v2.4.3
google-cloud-pubsub: v0.29.0
Ubuntu 16.04

I had the same error message when trying to use `listen`. Couldn't find any relevant information as to what it means.

It's worth noting that `listen` will still work if you run your process as a daemon (infinite loop) but as soon as you exit the process, the error above will appear.

[2018-01-22 15:34] NickTitle commented on #1922
@blowmage thanks so much for investigating! will this make its way out to a versioned release soon? i'm adding the patch in the interim

[2018-01-22 15:45] blowmage commented on #1922
I expect we will have releases in the next week or so.

[2018-01-22 19:00] scottrobertson commented on #1118
Is this still on track for end of Q1?

[2018-01-23 00:17] sduskis commented on #1118
We ought to have a functional Cloud Bigtable client by the end of the quarter.  I don't think that the Q1 client will be production ready.  Given our experience with other languages, it is highly likely that we will have to work on reliability and performance in subsequent quarters.

[2018-01-23 15:04] casperisfine commented on #1897
So I reran the download benchmark with a (very dirty) patch to `httpclient` to use `IO.copy_stream` (which leverage `sendfile()` when possible) instead of `read_partial`.

For 500M, the bench went down from `~15s` to `>5s`, so that is definitely the difference between `gsutil` and `gcs-ruby`.

The shitty patch: https://gist.github.com/casperisfine/f7830c20718813a570927f07d6357bfe
And the bench: ht

[2018-01-23 16:20] blowmage commented on #1897
The `httpclient` gem is used by `google-api-client`, the library that is actually making the API calls. It used to use `faraday`, but there were several issues with `faraday`. It eventually migrated to `hurley`, which solved many of the issues, but `hurley` never gained wide adoption and was eventually abandoned. Not wanting to revert on the many improvements that `hurley` made possible, the maint

[2018-01-23 16:26] casperisfine commented on #1897
Thanks for the history :), much appreciated.

I didn't try very hard to make that patch maintainable. We could certainly do much better.

Another possibility would be to expose a specific API for this in `httpclient`, since they have an open issue for it, they might be open to the idea. This specific call is likely the only one which would benefit from it.

[2018-01-23 17:12] mackeee-orange commented on #1940
@JoN1oP oh! It is true. I used that code with `timer` and `subscriber.stop.wait!`, that works correctly.
but when I execute that in `irb` , that works correctly too without `subscriber.stop.wait!` .

hmm...  why that doesn't work on Rails??

[2018-01-23 17:43] blowmage commented on #1940
What version of the `grpc` gem are you folks running?

[2018-01-23 18:03] blowmage commented on #1940
@apolcyn Can you give us some insight into this GRPC message? It looks to me that this is printed during the process cleanup. Is that accurate? Is this an information message, a warning, or an error? Is there something the GRPC client can do to suppress this message?

FWIW, I can produce this message when opening read/write streams using grpc versions 1.8.0, 1.8.3, _and_ 1.9.0.pre1, but not 1.7.3

[2018-01-23 18:06] blowmage commented on #1940
@mackeee-orange Can you elaborate on how this is not working with Rails? It appears to me to be a messages printed by the `grpc` gem, but I don't see any error being raised. AFAICT all processes are closing properly.

[2018-01-23 18:25] blowmage commented on #1897
Yes, I listed that in my first option. I think adding a new API is a better solution that breaking backwards compatibility, most of the time. But I also think your solution of yielding block arguments of `io` and `offset` is far superior to `chunk`, so as an uninterested observer I would prefer the API to use that. But either solution would be an improvement for sure! :)

[2018-01-23 18:45] mackeee-orange commented on #1940
@blowmage using `grpc (1.8.3 universal-darwin, 1.0.1 universal-darwin)`

When I execute `subscriber.start` without `subscriber.stop.wait!` on `irb` , streaming function work properly.
Off course, if I publish message, message is printed until put `Ctr-C`.
But on Rails, It doesn't seem to work without `stop.wait!`. After call function, the message appears immediately. => `E0121 21:39:49.713197000 1

[2018-01-23 19:46] blowmage commented on #1940
@mackeee-orange Okay, so there is a lot here to unpack. A Pub/Sub Subscriber object is intended to belong to a long-running process where it can both receive and modify/acknowledge messages. To do this it opens an HTTP/2 stream using the `grpc` gem when calling `Subscriber#start` and closes it when calling `Subscriber#stop`. So calling `stop` immediately will not give the subscriber any time to do

[2018-01-23 20:51] shivanshgaur opened #1942 "google-cloud-ruby doesn't bundle for ruby 2.5.0"
I want to use google-cloud-ruby with ruby version 2.5.0. But its still not available for latest version of ruby and I keep getting this error while bundling
[code]
`grpc 1.9.0.pre1-x86_64-linux` compatible with ruby 2.5.0 has already made a prerelease.
when can we expect a new release for google-cloud-ruby?

[2018-01-23 21:10] blowmage commented on #1942
It looks like when grpc 1.9.0 is released it will support Ruby 2.5. The google-cloud-* gems will not need new releases to use the new version of grpc.

If you want to use the prerelease in your project using Bundler now, you can specify it by adding the following to your Gemfile:

[code]

[2018-01-23 21:12] brauliobo opened #1943 "Heavy CPU/memory usage on inserts compared to postgresql/redshift"
To insert hashes into bigquery requires a lot of cpu usage, aproximately 10 times more when inserting the same hashes into postgresql or redshift. My guess is that the protocol is heavy to encode. It also uses 50%+ more memory usage.

[2018-01-23 23:59] blowmage opened #1944 "Add Firestore Tests"
The shared tests were added to. Update the tests to covers these additional tests.

https://github.com/GoogleCloudPlatform/google-cloud-common/pull/242

[2018-01-24 00:32] mackeee-orange commented on #1940
@blowmage Thank you for your polite explanation!
I will consider to use that libraries.

[2018-01-24 03:46] apolcyn commented on #1940
@blowmage ack for your question above. It is indeed coming from shutdown though, and it would <i>seem</is> to indicate that something wasn't completely shut down. But still I'm not sure and this needs more investigation.

[2018-01-24 05:21] shivanshgaur commented on #1942
I suppose `google-cloud-logging` needs `grpc -v 1.8.3`
Even `gem install google-cloud-logging` throws following error
[code]

[2018-01-24 06:10] apolcyn commented on #1940
@blowmage I'm seeing this error reproduce 100% under these somewhat-unique circumstances:
* an "operation view" of a new RPC is created by specifying `return_op: true` to the grpc stub
* that same RPC is also created with a deadline, e.g., `deadline: Time.now + 5`
* that RPC is never started or executed. (e.g., `<call>.execute` is never called)

For example, if I tweak the `main` method of [https:

[2018-01-24 06:21] blowmage commented on #1940
I see this message when running our acceptance tests, which definitely make the RPC calls.

[2018-01-24 06:26] blowmage commented on #1940
Is it possible something in the GAPIC layer causes this?

[2018-01-24 07:36] apolcyn commented on #1940
A search for `return_op` in (https://github.com/googleapis/gax-ruby)[the gax repo] turned up empty, which IIC is where the code that creates the stub here lives.

It's definitely possible that it has influence here... what I'm mostly wondering if if there's a situation where a grpc call is left anywhere in a "created but unfinished" state

[2018-01-24 09:37] casperisfine commented on #1897
Yeah my bad. It was late -_-.

I'll try to see what's possible in term of API, and submit a PR to `httpclient` if I have something decent.

[2018-01-24 17:08] casperisfine commented on #1897
I submitted a PR to httpclient: https://github.com/nahi/httpclient/pull/383

[2018-01-24 18:49] blowmage commented on #1943
Hi, can you give us more information on how you are inserting data into BigQuery? For example, are you calling Table#insert? Or are you using Table.insert_async? How many rows are you inserting? What type and how many fields does each row have? Thanks.

[2018-01-24 19:47] blowmage commented on #1940
If you look at the IRB example I posted above, or the acceptance tests, you will see that we do call the RPC endpoints. We see this message being printed in both pubsub and spanner when creating streams. Streaming RPC calls are mostly pass-through in regards to the GAPIC layer; it doesn't do any error handling or retry. Is it possible that something with how GAPIC is preparing the RPC calls is con

[2018-01-24 19:53] blowmage commented on #1940
It definitely looks to happen when passing an `Enumerable` to a streaming RPC endpoint. Receiving an `Enumerable` from an RPC endpoint doesn't print the message.

[2018-01-24 20:37] geigerj commented on #1940
GAPIC/GAX doesn't have any special code to trigger the gRPC "operation view", but it does allow you to pass arbitrary keyword args to the gRPC stub. To get the operation view, `return_op` would have to be set somewhere in the code calling GAPIC. It doesn't look like that's happening in google-cloud-ruby.

[2018-01-24 21:03] danoscarmike opened #1947 "Please update top level README to include latest library additions"
container, dlp, dataproc, os_login (there may be more)

[2018-01-24 21:19] blowmage commented on #1947
Should these be added as Alpha or Beta?

[2018-01-24 21:25] geigerj commented on #1947
We stay consistent the existing API-specific READMEs.

[2018-01-24 23:11] #1947 closed

[2018-01-24 23:13] apolcyn commented on #1940
@blowmage for your last comment:

Do you know which types of RPC's are getting called here? e.g., bidirectional-streaming, streaming-from-client-to-server, or streaming-for-server-to-client?

That is, have you noticed the error when passing an `Enumerable` to the bidi-streaming RPC endpoint and ignoring the response? Or  have you noticed the error when passing an `Enumerable` to a streaming-from-c

[2018-01-24 23:19] brauliobo commented on #1943
hi, the project/table is `bigquery-174210:test.reviews`, there is around 20 fields, with three repeated (array of strings). I'm using `#insert` with 10 concurrent threads (using `ruby-concurrent` gem), so I don't think it makes sense to switch to `insert_async`. I'm inserting no more than 1000 rows per `insert`, but most times much less as it is a sync operation from another database.

[2018-01-24 23:29] blowmage commented on #1940
Bidirectional. We don't access any endpoints where we only upload. We do hit some endpoints where we only download, but those don't print the message.

[2018-01-24 23:53] blowmage commented on #1943
@brauliobo Would it be possible for you to use a branch with some changes to address performance? If you have a Gemfile you can do this by adding the following:

[code]

I suspect we won't be able to match the performance of postgresql, but I am seeing some performance improvement with this branch so far.  Here are some benchmarks that show a decrease in CPU usage when using `Table#insert`. I am c

[2018-01-25 02:19] apolcyn commented on #1940
Ok, I believe that I am also reproducing the originally posted error by using the pubsub API directly, with this repro script:

[code]

Running that under `GRPC_VERBOSITY=DEBUG` env var shows this output:

[code]

That exact same log can be reproduced by tweaking [this grpc test that uses bidi streaming](https://github.com/grpc/grpc/blob/master/src/ruby/spec/client_auth_spec.rb#L133) to this:

[co

[2018-01-25 05:38] igorpeshansky commented on #1938
Looks like https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/206 worked.

[2018-01-25 05:48] qingling128 commented on #1938
Yup, Igor beat me to fix that. I'm closing this. Thanks @geigerj and @igorpeshansky!

[2018-01-25 05:48] #1938 closed

[2018-01-25 15:30] blowmage commented on #1940
Our situation is a bit different than your test code. We call the RPC on the main thread, but iterate the returned Enumerable on a child thread.

[code]

When a Pub/Sub Subscriber object is stopped, we have many of these child threads that are killed. Because of the coarseness of using Enumerable to represent the streaming requests and responses, we can't apply back-pressure on the service, so we

[2018-01-25 15:48] boris-layvant opened #1951 "Syntax error raised when attempting to use named parameters in query"
I have a Rails 5.1.4 application with ruby 2.4.1 and the following Google cloud gems:

    google-cloud-bigquery (1.0.0)
      concurrent-ruby (~> 1.0)
      google-api-client (~> 0.17.0)
      google-cloud-core (~> 1.1)
      googleauth (~> 0.6.2)
    google-cloud-core (1.1.0)
      google-cloud-env (~> 1.0)
    google-cloud-env (1.0.1)

The app defines a class which utilizes Google::Cloud::Bigqu

[2018-01-25 17:13] blowmage commented on #1940
I can also reproduce this message in google-cloud-spanner, which only uses response Enumerable objects and doesn't use threads. But the repro is not clean and is too complex to share here.

[2018-01-25 17:39] blowmage commented on #1951
BigQuery's [query parameters](https://cloud.google.com/bigquery/docs/parameterized-queries) are used for the parameters only; the conditionals after the `WHERE` in the query. Unfortunately, you are using a parameter for the table name. This is not part of the BigQuery API and not allowed by the Cloud service, which is why you are getting an error.

If you made the following changes it should work:

[2018-01-25 18:59] apolcyn commented on #1940
Thanks for info. Note that threads could still potentially be ending abruptly when the spanner API is used because a grpc-ruby bidi stream spawns it's own [background thread](https://github.com/grpc/grpc/blob/master/src/ruby/lib/grpc/generic/bidi_call.rb#L74).

Anyways seeing that this can be caused by unclean <i>process shut down</i>, I think we might be able to relax the verbosity of that error

[2018-01-25 19:14] blowmage commented on #1940
We don’t want to close the GRPC stream, we want to stop getting responses while we process all previously received responses. Once all the previous responses are processed and subsequent requests are made (they have to be made on the same stream) then we can close the stream. We need to keep the upstream connection open.