[2017-03-16 21:15] quartzmo commented on #1333
Thanks @hxiong388, this helps a lot.

[2017-03-17 08:51] omaray commented on #1336
Cool. Just out of curiosity though: shouldn't we have had tests to verify that? Or did we just miss that one?

[2017-03-17 12:46] blowmage commented on #1336
The way we need to set up our code example tests means that this would not fail. We have to mock our all the API calls, so we have another storage require in the mock setup.

[2017-03-17 13:54] quartzmo commented on #1336
@omaray wrote:

Please see #1337 (and the other similar issues for Datastore, Logging, and Storage), which I opened yesterday and which refers to this issue.

[2017-03-17 14:59] quartzmo commented on #1336
@blowmage It occurred to me that this particular issue probably would not be caught by any unit test using mocks, since the mocks would have already performed the require.

[2017-03-17 15:11] quartzmo commented on #1336
@blowmage I'm wondering if we should have a policy that examples used in the guides MUST also be used (and therefore tested) in API docs. What do you think?

[2017-03-17 15:19] blowmage commented on #1336
Also agreed. I assumed that was the case already. We want the guides and class/method code examples to be as cohesive as possible.

[2017-03-17 15:39] quartzmo commented on #1336
I updated the title and description for the 4 issues listed above to reflect this policy: Instead of manually testing the guides, ensure that all guide examples are copied from tested API docs examples.

[2017-03-17 17:19] #305 closed

[2017-03-17 18:38] #1144 closed

[2017-03-19 15:39] AndrewVos opened #1342 "Can't authenticate with cloud storage"
I am getting the following error, which is unexpected:

[code]

I am setting these environment variables:
[code]

They contain the JSON keyfile.

This is how I am building the Storage object:

[code]

[2017-03-19 15:51] AndrewVos commented on #1342
Ok, my bad, turns out I just had the `_JSON` key not parseable because of the way I converted it for use in `dotenv`.

[2017-03-19 15:51] #1342 closed

[2017-03-19 22:26] samkelly opened #1343 "(stack-driver) error name not shown in stack driver"
I'm using the stack-driver integration with ruby which I love, however it's been very frustrating that the actual error name is not reported anywhere in stack driver, just the formatted stacktrace. Here is an example:

![screenshot from 2017-03-19 18 23 57](https://cloud.githubusercontent.com/assets/1855021/24085375/70d75eba-0cd1-11e7-968e-aaf43ecaa84e.png)

And even in detail view, impossible to

[2017-03-19 23:25] samkelly commented on #1343
Looks like the stack driver API was inexplicably disabled for my project, which was causing this situation. After re-enabling, everything works again. Please disregard.

[2017-03-19 23:25] #1343 closed

[2017-03-20 00:37] dazuma commented on #1343
@samkelly Thanks for the report. Apologies for the confusion here. The error reporting API is not currently enabled by default on new projects; you need to enable it explicitly for error reports to surface properly. It really ought to be enabled by default, and we have an internal bug open to fix that, but we could also try to make the current situation more clear in the documentation.

[2017-03-20 01:07] samkelly commented on #1343
@dazuma thanks -- no I know that already, but what's weird is I had it enabled and it must have turned itself off somehow. No idea why.

[2017-03-20 05:04] apolcyn commented on #1327
This bug indeed looks within grpc, and it does looks similar to #1096.

This repros every time <i>on OS X</i> with this plain grpc repro:

tweaking the greeter_client.rb(https://github.com/grpc/grpc/blob/master/examples/ruby/greeter_client.rb) example `main` to:
[code]

and change the [greeter_server.rb](https://github.com/grpc/grpc/blob/master/examples/ruby/greeter_server.rb) "greeter handler" to

[2017-03-20 05:33] samkelly opened #1344 "unable to deploy due to persistent timing out of random bundler network requests"
This started happening today. Every time I try to deploy, I get an error like the following during the gem installation phase:

[code]

Every time it happens it is a different gem that times out. At first I was thinking maybe rubygems or google was having network issues, but it fails so consistently that I think maybe something else is wrong. It's been about a month since I deployed, so maybe some

[2017-03-20 06:11] murgatroid99 commented on #1327
I have to ask: how important is it really that gRPC exits cleanly when the process is interrupted in the middle of execution? Does it really matter, as long as it exits in a timely manner?

It may be possible to correct this in gRPC, depending on what exactly is happening here. It looks like the thread's stack is getting deallocated while something has a reference to it. If that is indeed the case

[2017-03-20 07:57] wrs commented on #1327
Well, there's "not exiting cleanly", and then there's segfaulting! I don't think having services that core dump when you stop them with a simple `SIGINT` is a normal or reasonable situation.

[2017-03-20 13:18] blowmage commented on #1344
@swcloud Who should this issue go to?

[2017-03-20 15:11] samkelly commented on #1344
update: tried another million times, always the same issue. Also tried building docker image locally and deploying manually, but ran into different problems with that where the server never starts.

[2017-03-20 17:46] hxiong388 commented on #1327
@apolcyn Nice example, very easy to repro the leak. On my Ubuntu machine, the example doesn't produce a segfault, but I still get the "connection leaked" error message.

Besides termination with `SIGINT`, I'm also experiencing the connection leak with other thread terminations. For example, if we tweak the greeter_client.rb example with a `t.kill`:
[code]
The child thread would return normally in

[2017-03-20 18:50] dazuma commented on #1344
@samkelly Can you refile this issue in https://github.com/GoogleCloudPlatform/ruby-docker which is where we develop the runtime. (I assume you're doing App Engine Flex deployments here, right?)

Also, could you provide:

* Your gcloud version (run `gcloud --version`)
* Your Gemfile (and ideally Gemfile.lock). (Feel free to email it directly to me if you're concerned about posting it publicly).

[2017-03-20 18:51] apolcyn commented on #1327
Just on the feasibility though, it looks like the crash on invalid stack reference might be doable to fix, but it looks like getting read of the connection leaked error would be complicated

[2017-03-20 19:27] omaray opened #1345 "Support Service Account for Translation?"
It seems like Service Account should be supported with the Translation API. For instance in Python: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2731

@jonparrott : can you confirm?

[2017-03-20 19:30] lukesneeringer commented on #1333
@hxiong388 Poking you here to ask you to send me the explanation of what you decided to do on Ruby, as at some point I will be wanting to make a consistent automation plan for multiple languages. (My Google LDAP is the same as my GitHub username.)

[2017-03-20 19:30] jonparrott commented on #1345
Yes, it should

On Mon, Mar 20, 2017, 12:27 PM Omar Ay <notifications@github.com> wrote:

[2017-03-20 20:21] quartzmo commented on #1345
Once Service Account support is working, should API key support be removed?

[2017-03-20 20:59] blowmage commented on #1345
Looks like the python lib has [removed API key](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2823/files) support.

[2017-03-20 21:10] blowmage commented on #1345
I looked at the implementation again, and it turns out we have already implemented support for service accounts last November. (issue: #1046, pr: #1050)

@omaray @jonparrott Currently we support both service accounts and API keys. Python has removed support for API keys. Should we do the same? Or should we maintain both modes of authentication?

[2017-03-20 21:29] hxiong388 commented on #1333
@lukesneeringer For lack of better documentation, the current Ruby integration tests can be found at the [Rakefile ](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/853c00f3a933aec8bbe49c9a3e278f59aacd468e/Rakefile#L656-L741) and [integration test directory](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/integration). I think the code is self-explanatory for Rub

[2017-03-20 21:30] lukesneeringer commented on #1333
@hxiong388 I guess the question I was asking is, how did you automate this on GCE/GKE? (I manually created instances and ran tests.)

[2017-03-20 21:31] hxiong388 commented on #1333
@lukesneeringer Almost forgot, we do have some [instructions ](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/CONTRIBUTING.md#integration-tests) on how to run the integration tests.

[2017-03-20 21:37] hxiong388 commented on #1333
@lukesneeringer We don't automate GCE tests, because 1. it's really hard to automate configuration on GCE VM. 2. We think almost all the features for GCE scenario is covered by other automated tests.

For GKE, the testing GCP project does need to have a GKE cluster configured before hand. After that, you can automate docker image building, pushing to GCR, and GKE pod deployment using gcloud SDK an

[2017-03-20 21:51] lukesneeringer commented on #1333
Thanks @hxiong388, that was what I needed. I will try to create something even more complete in the future.

[2017-03-20 22:09] hxiong388 commented on #1333
@lukesneeringer Sounds good. Let us know if you figure out an easy way to automate GCE tests. cc @nkubala, who is probably also interested in GCE automation.

[2017-03-21 00:45] samkelly commented on #1344
@dazuma OK will do

[2017-03-21 01:02] blowmage commented on #1344
Thanks @samkelly, I am going to close this issue now that the other issue is opened. All the best!

[2017-03-21 01:02] #1344 closed

[2017-03-21 02:41] samkelly opened #1346 "stackdriver errors no longer showing up"
I'm not sure why but I can't get errors in my Rails app running on flexible ruby runtime to show up in stackdriver. It is enabled and has the proper permissions -- the errors just never make their way to stackdriver. I am using the stackdriver gem, and this was working previously.

[2017-03-21 02:44] samkelly commented on #1346
And for no reason at all, now suddenly all error notifications are coming through :confused:

[2017-03-21 02:44] #1346 closed

[2017-03-21 18:19] bjwatson opened #1347 "Docs (README) should warn customers about the implications of requiring the all-in-one google-cloud module"
See https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2102 for corresponding NodeJS issue.

Per @lukesneeringer: "You should definitely open up an issue on Ruby; aggressive require resolution is standard practice in Sinatra and other places, and use of the meta-package should be discouraged there."

[2017-03-21 18:40] blowmage commented on #1347
Does Ruby have this problem? We limit what code is loaded until the calls are actually made, so requiring "google/cloud" does not load every gem fully into memory.

[2017-03-21 18:53] quartzmo commented on #1347
Here is where `google-cloud-bigquery` [lazily executes the require](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google-cloud-bigquery.rb#L105). Other service support is similar.

[2017-03-21 19:14] lukesneeringer commented on #1347
Sounds good. You clearly actively covered this base already.

[2017-03-21 19:15] quartzmo commented on #1347
@bjwatson Can we close this issue?

[2017-03-21 19:26] bjwatson commented on #1347
Yep, thanks!

[2017-03-21 19:26] #1347 closed

[2017-03-21 19:53] blowmage commented on #1347
For the sake of history, here is the memory pressure that the google-cloud libraries add. We have tried really hard to make it so only the services that are used are loaded.

First creating a global gcloud object and loading a service from it:

[code]

Second, load google/cloud, but don't create a global object:

[code]

Third, load and create a service object, then load google/cloud:

[code]

As

[2017-03-21 19:57] blowmage commented on #1347
Most ruby applications use a Gemfile to declare their dependencies, and some applications like Sinatra and Rails may choose to pre-load libraries. We have thought through this and believe we properly control how much is loaded into memory in these circumstances. For instance, given this Gemfile:

[code]

And creating a ruby process with `bundle exec`, the following memory is used:

[code]

If the

[2017-03-21 19:59] blowmage commented on #1347
Finally, here is the memory usage for loading all services into memory:

[code]

Creating object instances for each service will use additional memory.

[2017-03-22 01:34] ernie opened #1351 "Unable to use gem on Alpine Linux"
Hi! At work, we've been working hard to migrate most of our applications to Google Cloud Platform, initially running in Docker in Compute Engine, and eventually migrating to Container Engine. Like many other folks who are using Docker, we've landed on Alpine Linux as our preferred base image.

Much of the new infrastructure we're building will be communicating via Pub/Sub, and so pretty much all o

[2017-03-22 05:58] omaray commented on #1345
Per the conversation with the API team, we should keep both (and thanks for checking and confirming).

[2017-03-22 05:58] #1345 closed

[2017-03-22 18:21] bjwatson commented on #1347
Great! Thanks for the metrics @blowmage, and thanks to both of you for all the effort to keep the metapackage lean (i.e. only loading what's needed).

[2017-03-22 20:59] #1336 closed

[2017-03-22 20:59] #1337 closed

[2017-03-23 22:27] apolcyn commented on #899
grpc-1.2.1.pre1 pre-release gem was just pushed, which should fix this (it includes https://github.com/grpc/grpc/pull/9986). Can you please use this pre-release gem to further test and verify?

[2017-03-23 22:43] swcloud commented on #899
@timanovsky Can you please give it a try?

[2017-03-23 23:13] swcloud commented on #1325
@timanovsky According to https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html,

Based on the above, returning Unavailable hence triggering retry seems to be reasonable to me.

[2017-03-23 23:25] quartzmo commented on #1339
@blowmage I manually tested the examples in the Storage guide (`storage.rb` docs) and encountered no errors. However, I did notice that the examples for [bucket iteration](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage.rb#L91-L101) and [file iteration](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-clo

[2017-03-23 23:35] blowmage commented on #1339
Yes, we should encourage use of `#all` in the guides.

[2017-03-24 00:06] blowmage commented on #1325
@swcloud You linked to the HTTP/1.1 spec, but GRPC is built on top of HTTP/2, right? Why is the GRPC request (using HTTP/2) receiving a HTTP/1.1 response?

[2017-03-24 00:13] #1338 closed

[2017-03-24 02:18] samkelly opened #1355 "[stackdriver] API enabled, but stackdriver not working, suspicious errors in logs"
my rails GAE application is throwing errors (I can see them in the logs), but they are not getting logged in stackdriver. I use the stackdriver gem, and I have all stackdriver-related APIs enabled. I am seeing this log entry whenever an error occurs:

[code]

edit: actually I am seeing the above error intermittently -- when a ruby error occurs, there doesn't seem to be anything related to stack dr

[2017-03-24 02:29] samkelly commented on #1355
this one does appear in stackdriver every once in a while, but I have no idea what it means (no error name or description, just this):

[code]

[2017-03-24 02:30] remi opened #1356 "Download from Storage to IO"
#1335 [Upload to Storage with IO](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1335) was recently merged, so I can now upload directly from a `StringIO`!!! 🎉  😄

Now that you can upload IO-ish objects, it would be great if we could support downloading to IO-ish objects.

#friction #usecase I have test suites that upload/download lots of small bits of text to GCS and using tempfile

[2017-03-24 03:10] apolcyn commented on #1327
also one other idea in the meantime: is it doable to trap the SIGINT and wait for a bit for the call to complete before exiting?

[2017-03-24 03:19] timanovsky commented on #1325
Guys, I created GRPC ticket for that - https://github.com/grpc/grpc/issues/10213
This one can probably closed,  I don't think anything can be done at this level.

@swcloud Except that a) user does not have visibility of `Retry- After` header b) retries (which we do by default) do not help

[2017-03-24 04:02] wrs commented on #1327
I'm not sure how that would work…if you trap the SIGINT then how would `grpc` know it was supposed to be exiting?

[2017-03-24 07:28] remi commented on #1355
/cc @hxiong388 @dazuma

Hey Sam, thanks for the report!  Looks like Trace is blowing up, for sure (*from both of your posted errors*).

I wonder if the Stackdriver Error Reporting and Logging integrations are working for you?  If you visit [Error Reporting](https://console.cloud.google.com/errors) in the Console, do you see any errors reported?

![Example of Error Reporting](http://i.imgur.com/FCP

[2017-03-24 13:45] blowmage commented on #1356
I think this is doable. We are limited by Google API Client's capabilities, but it looks to support this now.

[2017-03-24 17:10] frankyn opened #1357 "[Datastore] Query namespaced entities"
Hi all,

I had a customer question about how-to query namespaced entities. I couldn't find an example snippet in the gem documentation for Datastore Queries.

After reviewing [issue 404](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/404), I found the following solution. This should be called out somewhere in the documentation.

[code]

[2017-03-24 17:20] blowmage commented on #1357
@franklyn Are you happy with the API we are providing in that code example? Would you prefer a namespace object?

[code]

[2017-03-24 17:41] frankyn commented on #1357
I'm not sure if a namespace object would make me happy. At first glance, I thought `namespace.save` was a typo and I tried to fix it.

I first tried a naive approach to solve my problem by using what seem's to me as common usage in related snippets. I think a naive solution might help new users.

[code]

[2017-03-24 17:42] hxiong388 commented on #1327
@apolcyn I tried the trap approach and tried to explicitly terminate/destroy the grpc connection. The closest destructor I could find was `grpc_stub.instance_variable_get(:@ch).close`, assuming this would close the active communication channel. But the connection still leaks. Do you happen to know a better way to close the grpc connection without waiting for it to complete?

[2017-03-24 17:44] frankyn commented on #1357
On second thought, that would reduce the number of keystrokes needed when using namespaces, and could also create awful bugs if the correct namespace object isn't used.

[2017-03-24 17:50] blowmage commented on #1357
I believe there were valid reasons why we didn't add a `Query#namespace=` method.

[2017-03-24 18:21] apolcyn commented on #1327
@hxiong388 there isn't such an API if you're making the call through the standard high-level stub.

but https://github.com/grpc/grpc/pull/10306#pullrequestreview-28975934 should fix this crash anyways, once that is in.

[2017-03-24 19:09] blowmage commented on #1327
@apolcyn Is it possible to get that released in a `1.2.1.pre2` gem to make it easier for folks to verify?

[2017-03-24 19:45] frankyn commented on #1357
@blowmage I'll bring it up in the ruby-cloud standup. Can we add this to the docs until we decide? I don't have a definite answer at this moment.

[2017-03-24 20:01] blowmage commented on #1357
I'll defer to @quartzmo on that.

[2017-03-24 20:20] quartzmo commented on #1357
@frankyn The `namespace` option is demonstrated [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore/dataset.rb#L425-L432) and [here (GQL)](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore/dataset.rb#L443-L450) for `Dataset#run`, and [here](https://github.c

[2017-03-24 20:25] murgatroid99 commented on #1327
To be clear, the "connection leaked" message is just a warning from gRPC. It's pretty much unavoidable if you're forcibly killing the process, and it shouldn't cause any problems. Any open sockets will still be closed by the kernel when the process dies.

[2017-03-24 20:36] frankyn commented on #1357
Thanks @quartzmo! I would expect it to be in https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.26.0/google/cloud/datastore.

[2017-03-24 20:45] quartzmo commented on #1357
@frankyn The "guide" in that file has been the subject of some debate. It is intended to be something like the README in smaller GitHub projects: A guided tour of the API demonstrating only the most common use cases. I do not personally think it should cover all issues and options. The section "Querying records" ends with [a reference to the API docs](https://github.com/GoogleCloudPlatform/google-

[2017-03-24 20:57] apolcyn commented on #1327
@blowmage I think that can be done soon.

[2017-03-24 21:26] AndrewVos opened #1359 "Signed URL generation is really slow"
I'm migrating over from S3 and I was really surprised to see that signed url generation is extremely slow with this library. This must be a bug? I'm getting one of these for every signed url:

[code]

Is this expected?

This is my code:

[code]

[2017-03-24 21:31] quartzmo commented on #1359
Hi @AndrewVos, thanks for reporting this issue.

Have you tried [Creating Signed URLs with gsutil](https://cloud.google.com/storage/docs/access-control/create-signed-urls-gsutil)? I am wondering how the response time would compare.

[2017-03-24 21:36] ioverzero opened #1360 "Issues with downloading GCS objects previously transferred with GCS transfer"
As part of a bigger application I was able to whittle this problem down with MD5 verification previous to downloading a file using the "google/cloud/storage" gem. Using my service account I can download files that either I or the service account have uploaded to the bucket with the following test script

<pre>require "google/cloud/storage"
storage = Google::Cloud::Storage.new(
  project: ENV['GCLO

[2017-03-24 21:54] AndrewVos commented on #1359
@quartzmo yeah I have and if I recall correctly there was some sort of request happening with that too. Strange.

Anyway, this is way faster: https://blog.oestrich.org/2016/01/signing-google-cloud-storage-urls/

[2017-03-24 21:55] AndrewVos commented on #1359
Oh also another issue, if `content_type` isn't specified in `PUT` then the signature will not match.

Not sure if that is a bug or just lack of documentation.

[2017-03-24 22:20] blowmage commented on #1359
It depends on how the code you've shared is being used. If the `bucket` instance object is being created new each time, then yes it will make an API request for the Bucket data.

The [GCS docs](https://cloud.google.com/storage/docs/access-control/create-signed-urls-program) seem to state that pretty clearly.

[2017-03-24 22:23] blowmage commented on #1359
@quartzmo Should we add `Project#signed_url` that accepts both `bucket` and `path`, similar to [`Bucket#signed_url`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/google/cloud/storage/bucket?method=signed_url-instance) and [`File#signed_url`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/google/cloud/storag

[2017-03-24 22:31] blowmage commented on #1360
What types of files are you unable to download? Are they all of the same type? Images? Videos? Text? CSV?

Can you download the file using `file.download './foo', verify: :none`, compute the MD5 locally, and compare it to the value in `file.md5`?

[2017-03-24 22:34] quartzmo commented on #1359
@blowmage Yes, I think that is a good idea.

[2017-03-24 22:40] quartzmo commented on #1359
@blowmage Does this need to be added to google-cloud-storage docs?

[2017-03-24 23:12] blowmage commented on #1359
Up to you. I think the current docs are fine, but we have different opinions on the role of docs. :) If you think otherwise I will support any changes you think best.

[2017-03-24 23:13] #1356 closed

[2017-03-24 23:34] ioverzero commented on #1360
I am working with gzipped `csv` and `json` files.

I took a look at the `filename.md5` and `filename.crc32c` using

<pre>gsutil ls -L gs://bucket.filename.json.gz</pre>

and after downloading a local copy of the file, I used the same method that the download verifier was using to calculate the hashes

<pre>require "digest/md5"
require "digest/crc32c"
require "pathname"

f = File.open(Pathname("fil

[2017-03-25 00:13] ioverzero commented on #1360
I downloaded the file from AWS and used the above script to get the `md5` and `crc32c` files and I got the same value that the file attributes on GCS has `filename.md5` and `filename.crc32c`, however when I download directly from GCS and run the same script on the file, I get different `md5` and `crc32c` hashes.

[2017-03-25 00:33] apolcyn commented on #1327
@blowmage personally I'd tentatively think that the pre2 with that can be made on monday or early next week

[2017-03-25 01:12] frankyn commented on #1357
I think it would be helpful. Could you add it to the following page?
https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.26.0/google/cloud/datastore/query

[2017-03-25 03:08] quartzmo commented on #1357
Sure, will do.

[2017-03-25 12:19] AndrewVos commented on #1359
Well you don't really expect http requests when you're newing and object. Maybe that's just me.

Is content_type a required parameter? If it isn't then it probably should be...

[2017-03-25 12:25] AndrewVos commented on #1359
@blowmage even if the GCS docs do state that clearly it's not where I would be looking if this gem wasn't working for me. I had to search around and found the answer on stackoverflow. If the param is required the people wouldn't have this problem.

Also the problem with doing these requests when you new up the bucket is that in Rails you would have to somehow store a singleton which isn't very nic

[2017-03-25 17:32] blowmage commented on #1359
Pretty much every object in Google Cloud has an associated API call. This is how we know information about the bucket, such as whether it exists.

The `content_type` argument is not required because there are URLs that can be generated that do not specify it. For example, a `GET` request usually does not specify a content type.

I did find one code example that was using `PUT` but did not specify

[2017-03-25 18:08] AndrewVos commented on #1359
Sure, but what I'm trying to get at here is that it seems to be a convention in Ruby to not do anything much other than setting ivars in `initialize`. Maybe that's just me, but I was 100% sure it was `signed_url` causing the request, because I don't expect calling `new` on something to be doing anything slow.

Regarding `content_type` maybe raising when it is actually required and isn't present de

[2017-03-27 01:35] ababich opened #1363 "Cloud Storage integration testing (local, CI, etc.)"
Good day!

I cannot find any solution how to automate testing of integration my code with Cloud Storage.

I imagine some Cloud Storage auth mode like `local` which will work in test (and may be dev) environment of application and simulate API but operate with objects in `./tmp` or [even better] in memory.

The idea is to allow CI and other automated testing w/o touching actual `Cloud Storage`

Tot

[2017-03-27 01:54] blowmage commented on #1363
Generally, I recommend creating an application entity that is responsible for the functionality you want to expose in your application, and then mock that. For example, you could create a FileStorage store that is backed by GCS in production, but backed by an in-memory cache during tests. That way you only mock what you own.

Mocking at the API layer like we do is not generally a good approach, bu

[2017-03-27 02:48] ababich commented on #1363
I agree, so the fact is that there is no existing solution for the API wrapper I noticed and you've described.

Thanks for confirmation! Just didn't want to reinvent the wheel

[2017-03-27 03:24] blowmage commented on #1363
No problem. Thanks for the question!

[2017-03-27 15:22] #1363 closed

[2017-03-27 17:35] apolcyn commented on #1327
@hxiong388 @blowmage the grpc-1.2.1-pre2 was just published with the fix for this

[2017-03-27 18:18] blowmage commented on #1327
@wrs Can you upgrade to grpc 1.2.1-pre2 and let us know if it addresses this issue?

[2017-03-27 18:27] blowmage commented on #1327
@apolcyn FWIW, I'm no longer seeing a segfault when using grpc 1.2.1-pre2. 👍

[2017-03-27 19:14] wrs commented on #1327
@apolcyn 1.2.1.pre2 no longer faults in my test program or in my actual program. :) 👍

[2017-03-27 19:31] #1339 closed

[2017-03-27 20:39] quartzmo commented on #1359
Is this issue resolved by #1362?

[2017-03-27 21:15] blowmage commented on #1359
I don't know if this issue is completely resolved by #1362. It seems that what @AndrewVos is looking for is a way to sign urls completely independently from all the other functionality of google-cloud-storage. Even using googleauth's default credentials might be too much, since that also involves API calls to establish an OAuth token.

I suspect the only way to consider this issue resolved is crea

[2017-03-27 23:47] ababich opened #1368 "Cloud Storage lib v0.24 docs are irrelevant to actual gem"
Example:

Doc says that you can upload `String.IO`

The same time change [0d72f5a](https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/0d72f5a738f0381c123edc55c8c27cf0285a7360#diff-122338ec8adc682e620848e917b3e6ec) was pushed way later than `0.24` version of gem and docs at https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/guides/authentication

[2017-03-28 00:16] quartzmo commented on #1368
Hi @ababich, thank you for reporting this issue with the documentation.

Just to be sure I understand, are you reporting that the [`0.24.0` gem](https://rubygems.org/gems/google-cloud-storage/versions/0.24.0) has a different API (or other behavior) than is described in the [`0.24.0` docs](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/google/cloud/stora

[2017-03-28 04:01] ababich commented on #1368
I mentioned initially

But I posted wrong link, sorry about that - http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/master/google/cloud/storage/bucket?method=create_file-instance
and yes, as I mentioned, it is about current, `0.24` docs

[2017-03-28 04:03] ababich commented on #1368
Same mentioned in Storage guide http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/master/google/cloud/storage

under section "Creating a File"

[2017-03-28 04:14] #1357 closed

[2017-03-28 04:16] #1340 closed

[2017-03-28 12:47] AndrewVos commented on #1359
Yeah that's definitely what I was looking for @blowmage and I just ended up using some code from that link I pasted earlier.

I think this issue is resolved, but perhaps it might be useful to somehow explain in the documentation that the bucket class should be memoized? I can see people copying and pasting the example code in (which instantiates a bucket) and ending up with the belief that Google

[2017-03-28 12:48] #1359 closed

[2017-03-28 13:11] quartzmo commented on #1368
You are now linking to [docs for `master` branch](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/master/google/cloud/storage). Does the mention of uploading StringIO appear in the docs for the [docs for the `v0.24.0` tag](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/google/cloud/storage)?

[2017-03-28 19:32] quartzmo commented on #1328
@hiroshi I investigated this, and I am nearly certain that `gsutil cp` does a rewrite when invoked with a storage class change. This passage in [`storage/docs/gsutil/commands/cp`](https://cloud.google.com/storage/docs/gsutil/commands/cp) supports it:

[2017-03-28 19:42] quartzmo commented on #1328
Thus, copying (vs rewriting) is not a solution to your issue. The correct API method for changing storage classes is `Objects.rewrite`, which is resumable using `rewriteToken` as mentioned in the passage above, and also in the [`Objects.rewrite` docs](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite):

Thus, #1196 should resolve your issue. I will close this issue now, so please s

[2017-03-28 19:42] #1328 closed

[2017-03-28 20:44] quartzmo commented on #1196
Per the request in #1328, a new implementation of `copy` should also support [Changing Object Storage Classes](https://cloud.google.com/storage/docs/changing-storage-classes) at the same time that an object is copied to a new location.

The existing [`File#storage_class=`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/file.rb#L28

[2017-03-28 21:14] quartzmo opened #1369 "Objects.rewrite operations should support multiple requests"
Currently, `File#storage_class=` and `File#rotate` use `Objects.rewrite`, but do not provide for multiple requests in case of an incomplete operation (incomplete rewrites should return a `rewriteToken`).

Similarly, a solution for #1196 and #1328 based on `Objects.rewrite` should support multiple requests using `rewriteToken`.

From [Objects.rewrite](https://cloud.google.com/storage/docs/json_api/

[2017-03-28 22:26] blowmage commented on #1369
Are you meaning that the public API should expose the `rewriteToken`? Or that `File#storage_class=` and `File#rotate` should make multiple calls when needed, maintaining the existing API?

[2017-03-28 22:30] blowmage commented on #1196
☑️ for option 2.

[2017-03-28 22:33] blowmage commented on #1196
3. yield a file object that you can make changes to as part of the copy:

[code]

[2017-03-28 22:40] quartzmo commented on #1196
@blowmage I think 3. is the best solution, because `Objects.rewrite` is a POST that accepts the entire Object representation, including metadata. Do you agree? Any concerns?

[2017-03-28 22:40] Capstan commented on #1196
As a warning, running `storage.objects.copy` in a way that changes locations or storage classes runs the risk of failing. The only reason we didn't remove it is because we'd have had to change all client libraries out there and go through a whole deprecation period. GCS prefers that `google-cloud-`*`x`* libraries (re)implement their own copy exposure via rewrite.

[2017-03-28 22:43] quartzmo commented on #1369
@blowmage The latter. My assumption is that the default behavior should be to automatically make multiple calls when needed. However, we could expose a `single_request` option (default: `false`) for cases in which the timeout is preferable to multiple requests.

[2017-03-28 22:45] blowmage commented on #1196
@Capstan  perfect, that was our plan.

[2017-03-28 22:52] blowmage commented on #1196
@quartzmo Let's go with option 3 then.

[2017-03-28 23:05] blowmage commented on #1369
Understood. I actually thought we already supported multiple API calls using `rewriteToken`. FWIW, I agree with you, but would prefer to not expose `single_request`. :+1:

[2017-03-28 23:15] quartzmo commented on #1196
@Capstan Thanks for confirming our hunch on this!
@blowmage Will do option 3.

[2017-03-29 02:09] hiroshi commented on #1328
I don't understand about `Objects.rewrite` yet, but what I want to do is `keep storage class on copy to avoid slow transfer`.

Anyway, I'll revisit the issue later.

[2017-03-29 17:15] swcloud commented on #899
@Rob117 @timanovsky This issue is blocking our release. If there are no updates from you, we will close this issue. You may reopen it if you still run into the issue later.

[2017-03-29 17:17] #1327 closed

[2017-03-29 17:46] quartzmo opened #1370 "Links to library methods not resolved in guides"
I believe this issue is consistent in all of the guides (package landing pages in the gh-pages docs). It is easy to see many examples in the [Datastore guide](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/master/google/cloud/datastore), such as the one shown below. Note that the links to library classes resolve correctly, but not the link to the library method `Google

[2017-03-29 17:51] quartzmo commented on #1368
I can only find the instructions for creating a file in the [`master` branch docs](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/master/google/cloud/storage):

This example is not present in the [`0.24.0` tag docs](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/google/cloud/storage), which is the correct version of

[2017-03-29 17:51] #1368 closed

[2017-03-29 18:15] quartzmo commented on #1369
Ok, at this time I will not add an option for limiting the operation to a single request.

[2017-03-29 19:06] blowmage commented on #1360
@swcloud I'm unsure how to address this, so I've assigned it to you. It looks to me like a possible bug in the GCS transfer service, but I don't know for sure. What I can say is that I'm pretty confident that `google-cloud-storage` is downloading the file properly, since downloading the file using `gsutil` produces the same result (according to [this Stack Overflow comment](http://stackoverflow.co

[2017-03-29 21:20] blowmage commented on #542
The Google API Client docs state:

Per-request:

It is important to note that the `authorization` value in these examples is an instance of `Signet::OAuth2::Client`, and not a string token value.

Google Cloud for Ruby does already support a user passing in authorization, it does this by accepting a `Signet::OAuth2::Client` instance for the credentials. Here is how it would work, using the same ob

[2017-03-29 21:20] blowmage commented on #542
^ @swcloud @quartzmo

[2017-03-29 22:53] quartzmo commented on #1333
Per today's offline meeting, all testing for this issue should be completed ASAP, with no automation needed. I will try to document what the manual steps I took as best I can.

### Google Compute Engine

#### bundle exec rake test

[code]

@blowmage Are the unit test failures above consistent with your expectations for GCE?

[2017-03-30 00:28] swcloud commented on #1325
@blowmage HTTP/2 will use the same status code as HTTP/1.1. https://http2.github.io/

Close this issue since it should be resolved at grpc level.

[2017-03-30 00:28] #1325 closed

[2017-03-30 01:01] swcloud commented on #1360
@ioverzero @blowmage I will file an internal bug.

[2017-03-30 01:50] blowmage commented on #1333
Those are all unit tests, which should be completely mocked out. So them failing surprises me.

But I thought we discussed running the acceptance tests on GAE/GKE/GCE, not the unit tests. Don't we want to hit the real API?

[2017-03-30 15:06] lukesneeringer opened #1374 "Add unit tests for the superset of expected responses."
There was [a bug][] in the Node.js Vision client which was effectively that the client raised an exception if it ever got a key that it did not expect. This is relatively easy to do for any number of reasons:

[code]

This is an anti-pattern, because it strongly assumes that you will never get a new key that is not already in your key map. If the API adds a `gammaObject` key and this (Python) code

[2017-03-30 15:15] blowmage commented on #1374
@lukesneeringer Did you mean to create this on google-cloud-python?

[2017-03-30 15:23] lukesneeringer commented on #1333
Yes re: acceptance tests, although if your unit tests are failing, that is likely a problem. ;-)

[2017-03-30 15:30] quartzmo commented on #1333
@blowmage I'll run acceptance tests too, I just need to modify the rake task(s), since they currently expect a special test auth configuration. I need to test the ordinary credentials in these environments.

I'll look into why those unit tests are failing.

[2017-03-30 15:44] lukesneeringer commented on #1374
I created a copy on all six languages.

[2017-03-30 18:14] blowmage commented on #1374
I'm going to close this since google-cloud-ruby does not use this approach to response conversion. We have had new values returned without generating these types of errors.

[2017-03-30 18:14] #1374 closed

[2017-03-30 18:59] ioverzero commented on #1360
Thank you, how can I get notified of the progress?

[2017-03-30 19:30] blowmage commented on #899
FWIW, I have not been able to reproduce the behavior in described in this issue. I've left a process idle for hours and it connects again without error.

[2017-03-30 23:04] BrandonY commented on #1360
Hi @ioverzero, I'd like to try and reproduce this problem. Could you either give me reproduction instructions for some test data or else send me the name of the bucket and object? If you'd rather not share it in public, you could email it to gs-team@google.com.

[2017-03-30 23:13] quartzmo commented on #1333
I have run both unit and acceptance tests on GCE, with all tests passing for the entire project, except for a small number of tests which were written to depend on credentials present in the downloaded project keyfile that are not present in the GCE environment.

[2017-03-30 23:53] qingling128 commented on #1239
Some update:
Turned out the desired status metadata got stripped when clients were on public IP (e.g. on GCP). This has been fixed. The Logging API release including the fix went out on Mar 17.

[2017-03-31 00:07] blowmage commented on #1239
Thanks @qingling128!

[2017-03-31 00:15] swcloud commented on #1351
@ernie If I understand this issue correctly, this issue is that you cannot build grpc on Alpine Linux. I don't think we can eliminate 'google-cloud-pubsub's dependency on grpc. So it seems that we cannot resolve the issue at the client-library level.

[2017-03-31 00:17] ioverzero commented on #1360
@BrandonY yes I will send out an email, Thanks for all the help.

[2017-03-31 01:00] BrandonY commented on #1360
Thanks @ioverzero. I examined the first object you cited. GCS and the client correctly report the MD5 of the .gz file.

The second MD5, the one that you are calculating by hand, is the MD5 of the unzipped object.

I suspect that either the google-cloud library, the Ruby networking stack, or Google is unzipping the resource. The file's metadata notes a "contentDisposition" of "gzip", which I believ

[2017-03-31 01:33] dazuma commented on #1355
@apolcyn Can you shed any light on this error (happening on the client side during send)?
[code]
Is this due to a network issue or an internal state out of sync?

[2017-03-31 01:37] swcloud commented on #1355
@samkelly This is the same error reported from #899

grpc-1.2.1.pre1 pre-release gem has a work-around. Please give it a try

[2017-03-31 01:40] ernie commented on #1351
@swcloud Well, I said I "would ask" -- as in, yeah, I'm aware. But as it sits, we can't use this gem on our choice of platform without being able to link or (ideally) build grpc. Hence raising the issue. :)

[2017-03-31 01:55] apolcyn commented on #1355
@dazuma @swcloud yeah this looks like the same issue as in #899.

The problem this looks like is a problem in the grpc gem, happening when a "grpc client stub" of "grpc client channel" is inactive while the connection breaks, and then a new call is made on it.

As noted there a fix for this was made in grpc-1.2.1.pre1

(the cause is that in grpc-ruby < 1.2.1.pre1, the grpc "c-core" library doesn't

[2017-03-31 16:18] thagomizer commented on #1351
@swcloud can we get a bug against the grpc gem so that it can build on Alpine Linux? It seems like we'll run into this more and more as folks move to containers and GKE.

[2017-03-31 16:26] blowmage commented on #1351
There is already an issue opened for this: grpc/grpc#8899. But it is labeled as an enhancement and not a bug. I would love to see it reclassified as a bug though!

[2017-03-31 17:09] swcloud commented on #1360
@ioverzero @BrandonY I was able to reproduce the issue.

1. upload a file gzipped (using the client library)
2. In the GCS GUI, set the contentType to 'application/json', contentEncoding to 'gzip'
3. download the file (using the client library)
4. get the same error message and verify the downloaded file is indeed decompressed.

@blowmage Do we decompress in the client library?

[2017-03-31 17:18] blowmage commented on #1360
@swcloud The google-cloud-storage library does not explicitly decompress, but by setting that Content-Encoding HTTP header you are indicating to the HTTP client that the contents are gzipped and most HTTP clients will decompress. A common use-case for this is to store compressed website assets like stylesheets and javascript in a bucket.

@sqrrrl Do you have any input on whether files should be au

[2017-03-31 17:25] blowmage commented on #1360
FWIW, I agree with @BrandonY on this statement:

[2017-03-31 17:37] ioverzero commented on #1360
Hello @blowmage @swcloud @BrandonY the last comment by @BrandonY  made this work, I was able to download using the gcs gem.

the next question is how to set this as a default for the GCS transfer service as all my files are coming in as `content-type = application/json` and `content-encoding = gzip`

[2017-03-31 18:00] frankyn opened #1379 "[Storage] List associated ACL permissions for a bucket using on an email"
Hi,

Is it possible to get a list of associated ACL permissions for a bucket using an email? I'm looking for a shorter way of doing the following:

[code]

Thank you!

[2017-03-31 18:40] sqrrrl commented on #1360
@blowmage - yes, client is decompressing. Given the client mostly works with JSON responses that it needs to parse, it has to check the content encoding and decompress if necessary. Basically we're always interested in the content itself, and content-encoding tells us how to interpret it. If the content-encoding isn't set or is set to identity we'll just treat the content as-is.

[2017-03-31 19:09] blowmage commented on #1379
There is no alternate API to collect permission roles by entity. What you have provided is the way the API works.

Do note that ACL entities values need to be prepended with the type. For an individual user that would be `"user-"`. Per the [documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v0.24.0/google/cloud/storage/bucket/acl?method=add_owner-ins

[2017-03-31 20:06] ioverzero commented on #1360
I guess a better question would be how to use the mentioned components (GCS transfer service, and the GCS gem) to get objects from AWS S3 into GCS and be able to download them using the GCS gem.

[2017-03-31 21:04] swcloud commented on #899
Close it now since no updates from the original reporters. Fix added in grpc 1.2.1-pre1 gem.

[2017-03-31 21:04] #899 closed

[2017-03-31 21:22] frankyn commented on #1379
Thanks @blowmage!

[2017-03-31 21:22] #1379 closed

[2017-03-31 21:22] Capstan commented on #1379
[testIamPermissions](https://cloud.google.com/storage/docs/json_api/v1/buckets/testIamPermissions) was recently released to Alpha. There's not a lookup for the pre-IAM roles of `OWNER`, `WRITER` and `READER`, but rather individual permissions, like `storage.objects.create` and `storage.objects.get`.

[2017-03-31 21:26] frankyn commented on #1379
@Capstan I closed this seconds before you posted your comment. Although, I'm not sure I follow what you meant.

[2017-03-31 21:56] blowmage commented on #1379
@Capstan We are waiting on an upstream release to add IAM support to Storage. Hope to have this released soon!

[2017-03-31 22:30] blowmage opened #1383 "Support IAM methods in File"
The IAM methods have been added to Storage Bucket and FIle/Object. These methods are considered Alpha, and should be added to the Ruby Storage client.

[2017-03-31 22:36] blowmage opened #1384 "Allow Storage File#update to set storage_class"
Currently, `File#update` does not allow `storage_class` to be set, since it would require a separate call to `objects.rewrite` after the call to `objects.put`. Is it possible to make all the other changes to the file using only a single call to `objects.rewrite`?

[2017-03-31 23:02] quartzmo commented on #1384
Sure, afaik you can change everything with rewrite.

[2017-03-31 23:47] quartzmo commented on #1333
I have run both unit and acceptance tests on GKE as well. Unit tests passed. Acceptance tests for every gem passed with the exception of the 2 Sink tests in Logging and a number of Storage tests, which all failed on permissions for my service account. The service account has the "Owner" role so I'm a bit stumped. I am continuing to try to debug the issue.

[2017-04-01 00:53] pbogle opened #1385 "Recognize timeout needs to be > 185 seconds (instead of 60)"
In client_config.json, we have

  "Recognize": {
          "timeout_millis": 60000, // This is too short.
          "retry_codes_name": "idempotent",
          "retry_params_name": "default"
        },

This rpc timeout need to be at least 185 seconds.  (60 * 3 + 5)

[2017-04-01 15:11] pdougall1 opened #1386 "clarification on handling auth/access to storage from GKE"
It is not clear what is meant by "we handle authentication for you with no configuration" interms of implementation.  Does this mean the environment variables are already present and ready to use?
[code]

or that the library will access them directly from the environment so they do not need to be passed in?
[code]

[2017-04-01 15:59] quartzmo commented on #1386
@pdougall1 Thanks for asking this question! And the answer is yes, for sure! It's covered in more detail in [AUTHENTICATION.md](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/AUTHENTICATION.md).

[2017-04-02 01:07] hxiong388 commented on #1386
@pdougall1 FYI the [Compute Engine](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/AUTHENTICATION.md#compute-engine) section from authentication guide also applies to Google App Engine and Google Container Engine. If your application is running from any one of the three Google Cloud Platform environments, you won't need to pass in `project_id` and `keyfile`, unless you wish t

[2017-04-02 11:18] palladius commented on #1033
I have a very similar issue with the same gem (!!). Trying to install Google's  GoogleCloudPlatform.getting-started-ruby/2-cloud-datastore/ and looking at this documentation: https://cloud.google.com/ruby/getting-started/using-cloud-datastore#installing_dependencies

$ bundle install
<all good>
$ rails server
/var/lib/gems/2.3.0/gems/google-cloud-error_reporting-0.21.2/lib/google/cloud/error_repor

[2017-04-02 11:20] palladius opened #1387 "[similar to #1033] broken 0.21.2 cannot load such file -- google/gax but needed by gcloud gem"
I have a very similar issue as #1033 with gem google-cloud-error_reporting-0.21.2.

Trying to install Google's GoogleCloudPlatform.getting-started-ruby/2-cloud-datastore/ and looking at this documentation: https://cloud.google.com/ruby/getting-started/using-cloud-datastore#installing_dependencies

$ bundle install

$ rails server
/var/lib/gems/2.3.0/gems/google-cloud-error_reporting-0.21.2/lib/goo

[2017-04-02 13:56] blowmage commented on #1387
Hi @palladius, thanks for the issue. Unfortunately, this is completely unrelated to #1033. But, it is directly related to #1193 and #1194. The fix was provided in googleapis/gax-ruby#54.

Essentially, there are some incorrect file permissions set on a dependency that Error Reporting 0.21.2 has. And it is only an issue when the gem was installed by one user and is being used by another user. The us

[2017-04-02 19:48] quartzmo commented on #1386
@hxiong388 I will do that as part of resolving this issue. Good suggestion!

@pdougall1 Can you suggest locations in the docs where this should be discussed, and isn't, so that I can add better coverage?

[2017-04-03 18:48] landrito opened #1388 "Language: Support for AnalyzeEntitySentiment."
[`AnalyzeEntitySentiment`](https://github.com/googleapis/googleapis/blob/master/google/cloud/language/v1beta2/language_service.proto#L47) method was introduced. Support for this method would be great.

[2017-04-03 19:14] blowmage commented on #1388
@landrito Are you going to submit a PR adding the `v1beta2` GAPIC files?

[2017-04-03 19:23] quartzmo commented on #1383
The google-api-client dependency will need to increase to `0.10.3` to support this feature.

[2017-04-03 21:38] ioverzero commented on #1360
@blowmage is there a way to specify the MD5 hash check against the gzipped version of the file being downloaded?

[2017-04-03 23:05] quartzmo commented on #1360
@ioverzero Maybe I don't understand what you're asking for, but did you try the [`encryption_key` option](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/file.rb#L360-L362)?

[2017-04-03 23:38] ioverzero commented on #1360
@quartzmo I need to download gzipped files that have been transferred over with GCS transfer service. I have considered some of my options but none of these will work for me:
1. Have a script that changes the metadata of the incoming files to be `content-type = application/x-gzip`
**Cons**: Resource intensive, not guaranteed to work since ruby script will try to download files as soon as they hit

[2017-04-03 23:43] quartzmo commented on #1360
@ioverzero Thanks for the clarification. (I thought I misunderstood your question to @blowmage, and indeed I did.)

[2017-04-03 23:44] blowmage commented on #1360
No, the decompressing happens during transport. The only way to control this behavior is to correct the content-type and content-encoding values.

[2017-04-04 08:21] palladius commented on #1387
Oh wow- that was fast and effective. Looking fwd to try it out. Thanks!

[2017-04-04 16:32] ioverzero commented on #1360
Thanks @blowmage, I can work around this.

[2017-04-04 18:23] quartzmo commented on #1333
Following @remi's [instructions for Ruby in a Google App Engine (GAE) flexible environment SSH session](https://gist.github.com/remi/ab8d9c6d998f56cf31a6ac2030ec1fe3), have run both unit and acceptance tests on GKE as well. Results were the same as with GKE. Unit tests passed. Acceptance tests for every gem passed with the exception of the 2 Sink tests in Logging and a number of Storage tests, whi

[2017-04-04 19:17] lukesneeringer commented on #1333
Great. Thank you @quartzmo.

[2017-04-04 19:17] #1333 closed

[2017-04-05 00:01] blowmage commented on #1369
Interestingly enough, `File#rotate` does make multiple API calls to `objects.rewrite`, but `File#storage_class=` does not. I will add code to fix this.

[2017-04-05 03:18] #1196 closed

[2017-04-05 03:18] #1369 closed

[2017-04-05 15:23] blowmage commented on #1385
This has been changed in the googleapis repo and in the speech-v1 PR.

[2017-04-05 15:23] #1385 closed

[2017-04-05 15:29] blowmage commented on #407
@dazuma Can this issue be closed now that `google-cloud-env` is released?

[2017-04-05 16:23] #1384 closed

[2017-04-05 17:06] blowmage opened #1396 "Debugger build fails on AppVeyor"
The error raised is:

[code]

[2017-04-05 20:23] #1205 closed

[2017-04-05 20:23] #1207 closed

[2017-04-05 20:23] #1209 closed

[2017-04-05 20:23] #1214 closed

[2017-04-05 23:20] thagomizer opened #1398 "google-cloud-language requires 2.3 or above"
Running with mac system ruby (2.0.0) I get this error:

/Users/ajahammerly/.gem/repos/machine-learning/gems/google-cloud-language-0.26.0/lib/google/cloud/language/annotation.rb:673:in `<class:Annotation>': undefined method `DelegateClass' for Google::Cloud::Language::Annotation:Class (NoMethodError)
	from /Users/ajahammerly/.gem/repos/machine-learning/gems/google-cloud-language-0.26.0/lib/google/c

[2017-04-05 23:27] blowmage commented on #1398
We have CI set up to run against ruby 2.0, 2.1, 2.2, 2.3, and 2.4.

I don't fully understand why you are getting that error with your system ruby. DelegateClass is present [in ruby 1.9 at least](https://ruby-doc.org/stdlib-1.9.3/libdoc/delegate/rdoc/Object.html), and I'm pretty sure it was in 1.8. Is the mac system ruby incomplete? Is it missing parts of the standard library?

[2017-04-05 23:29] miguelmyers8 opened #1399 "image-annotator::error(12)"
Google::Cloud::InternalError

image-annotator::error(12): We can not access the URL currently. Please download the image and pass it in.

Has anyone run into this error before? I am too far into my app to download images and pass it in.

[2017-04-05 23:29] blowmage commented on #1398
Ah, this could actually be as simple as a missing require.

[2017-04-06 00:08] landrito commented on #1388
Closing for now.

The method responses from v1beta2 are not of GA quality yet so we do not want to add them to the main surface. We do, however, want to give the user the ability to use the v1beta2 endpoint. This can be done by including the v1beta2 gapic in the package.

[2017-04-06 00:08] #1388 closed

[2017-04-06 15:52] #1398 closed

[2017-04-06 17:23] blowmage commented on #1398
This is fixed in Release Natural Language 0.26.1.

[2017-04-06 17:54] quartzmo commented on #1399
@miguelmyers8 Thank you for reporting this.

Unfortunately, my understanding is that there is nothing that we can do about this at the client level (this project).

A Google Cloud Vision [Internal Error](https://cloud.google.com/vision/docs/reference/rest/v1/Code) is defined as follows:

Yes, this has been [encountered recently](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2087)

[2017-04-06 18:09] thagomizer commented on #1398
Thanks @blowmage. Much appreciated.

[2017-04-06 19:59] qingling128 opened #1404 "Add support for latency in Google::Cloud::Logging::Entry::HttpRequest"
The [doc](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/v2/doc/google/logging/type/http_request.rb#L57) seems to show support for `latency`:

[code]

But it's missing from the actual class [Google::Cloud::Logging::Entry::HttpRequest](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/goo

[2017-04-06 20:23] remi commented on #1388
@landrito How can I analyze entity sentiment today using google-cloud-language?

[2017-04-06 20:27] landrito commented on #1388
Sorry, The issue should read. **Language: Support for AnalyzeEntitySentiment in manual layer**.

After the next release cycle of NL. The way to analyze entity sentiment would be through the v1beta gapic.

[2017-04-06 20:46] qingling128 commented on #1404
Wait, I think I was looking at the wrong thing. Ignore this.

[2017-04-06 20:46] #1404 closed

[2017-04-07 15:35] premist opened #1407 "Missing quality level for Stackdriver Trace(Google Cloud Trace)"
It seems like README.md misses quality level indication for Stackdriver Trace. Is it intentionally missing?

[2017-04-07 17:44] hxiong388 commented on #1407
@premist Stackdriver Trace, Stackdriver Error Reporting, Stackdriver Debugger, and Stackdriver Monitoring are all currently in Alpha quality level.

They are intentionally left out from the top level README.md, because they are somewhat different from the rest of the libraries in this repo. We will add in these documentation soon when we figure out the best documentation strategy.

[2017-04-07 20:34] hxiong388 opened #1410 "Debugger Railtie raises exception if project id missing"
The current `Google::Cloud::Debugger::Railtie` initialization procedure raises an exception if a GCP project id isn't provided through environment variable or Rails configuration while running from non-GCP environments.

Ideally, the `Google::Cloud::Debugger::Railtie` should behave similarly to the other Stackdriver Railties. It should log an warning message explaining the Debugger Railtie initial

[2017-04-07 22:38] #1410 closed

[2017-04-08 03:53] mpcm opened #1413 "[pubsub] immediate:false does not see new msgs promptly"
When I have a statement like the below, it readily see's messages as they come in, even with gaps were there are no messages can be delivered.
`messages = sub.pull( immediate: true, max: 1, autoack: false )`

But with this statement, I'm seeing it sit on that line... even as messages pile up that could be acted upon.
`messages = sub.pull( immediate: false, max: 1, autoack: false )`

Is this expect

[2017-04-08 04:10] mpcm commented on #1413
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/subscription.rb#L186 seems to support my expectation.

[2017-04-08 11:25] palladius commented on #1387
So I ran this:

     sudo find $(bundle show google-gax) -type f -perm 640 -print -exec chmod 644 {} \;

and it fixed the error. Now I get a new one:

$ rails server
/var/lib/gems/2.3.0/gems/google-cloud-error_reporting-0.21.2/lib/google/devtools/clouderrorreporting/v1beta1/error_group_service_pb.rb:6:in `require': cannot load such file -- google/api/annotations_pb (LoadError)
	from /var/lib/gems/

[2017-04-08 15:35] blowmage commented on #1387
Right. Look at my comment again. You need to run that for both the `google-gax` and `googleapis-common-protos` gems. You should be good to go if you run that same command but for the protos gem.

[2017-04-10 05:51] premist commented on #1407
Thanks for explanation!

[2017-04-10 14:33] blowmage commented on #1413
@landrito Can you take this since @swcloud is out? The behavior described is coming from the Pub/Sub service. The client is waiting on a response from the server. The ruby documentation referenced is taken from the [service documentation](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#google.pubsub.v1.PullRequest). Did the service make any changes to the API implementation lat

[2017-04-10 14:53] blowmage opened #1414 "Inline audio is not allowed with LongRunningRecognize. Please use a GCS URI."
Users are no longer able to process audio inline. When attempted, they receive the following error:

`Google::Cloud::InvalidArgumentError: 3:Inline audio is not allowed with LongRunningRecognize. Please use a GCS URI.`

This has been working before last Friday, when the API behavior changed.

[2017-04-10 19:01] #1360 closed

[2017-04-10 23:33] bmclean commented on #617
We have released [Agrimatics/activemodel-datastore](https://github.com/Agrimatics/activemodel-datastore) as a gem.

[2017-04-11 06:27] gagaJay opened #1416 "How to get the project number of console developer account"
Hey guys, I know this is weird but I really want to know if the client provide a way to get the project number (every project id comes with a project number) from the developer console, given that I have the jsonkey which contains the project id. I need this project number because I want to use it for GCM senderID.

another side question is that, does the API provide a way to retrieve the android

[2017-04-11 13:29] blowmage commented on #1416
@swcloud Do you know this?

[2017-04-11 17:06] remi commented on #1414
This change has been reversed.  No code changes are required ~ tests should now be passing again.

[2017-04-11 18:48] quartzmo commented on #617
Thanks for the update @bmclean!

[2017-04-11 19:20] blowmage commented on #1414
Thanks @remi!

[2017-04-11 21:07] #1414 closed

[2017-04-11 21:33] swcloud commented on #1355
@samkelly Does grpc-1.2.2 fix this issue for you?

[2017-04-11 21:41] samkelly commented on #1355
I will try updating and let you know. If you don't hear from me, it worked!

[2017-04-11 22:15] adziuk commented on #1207
It looks like there's still an instance of "job" in audio.rb and operation.rb

[2017-04-11 23:40] blowmage commented on #1207
The instance of `job` you are referring to is an alias to the new method. This is addressed in my comment above:

[2017-04-12 02:52] tmc opened #1419 "segfault with stackdriver 0.5.0"
details: https://gist.github.com/tmc/4bc91e3ff01e28b2281b6a75ef8628fa

ruby: 2.2.0
grpc: 1.2.2

[2017-04-12 03:00] blowmage commented on #1419
Is this consistent? Or intermittent?

Can you post some code that will reproduce this?

[2017-04-12 04:15] tmc commented on #1419
Fairly consistent. Let me see if I can whittle it down to a shareable example.

[2017-04-12 15:19] #1320 closed

[2017-04-12 22:43] bmclean opened #1421 "Memory leak with datastore using grpc version 1.2.2"
During a recent bundle update of our app the version of `grpc` changed from 1.2.0 to 1.2.2. With the new version of `grpc` I am seeing runaway memory use. Here is a screenshot from a test I ran on Heroku. The initial flat spot is the Rails app running happily after deploy and the start of the large ramp was caused by a single datastore query. I then left the app alone and didn't make any more requ

[2017-04-12 22:55] blowmage commented on #1421
@bmclean Thanks for opening the issue.

@swcloud Can we get someone from the grpc team to look at this?

[2017-04-13 08:02] remi opened #1422 "Full YARD parameter type is not displayed in documentation"
I'm trying to successfully call [MetricServiceClient#create_time_series](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.28.0/google/cloud/monitoring/v3/metricserviceclient?method=create_time_series-instance) and the param table only shows `Array` as the type.

![screen shot 2017-04-13 at 1 00 02 am](https://cloud.githubusercontent.com/assets/280/24995690/96af2e80-1f

[2017-04-13 08:41] remi opened #1423 "Links to source code of methods on protobuf types are broken"
Example: docs for [Google::Monitoring::V3::TimeInterval
](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.28.0/google/monitoring/v3/timeinterval)

![screen shot 2017-04-13 at 1 35 56 am](https://cloud.githubusercontent.com/assets/280/24996921/9417ecfc-1fe9-11e7-9525-101e221509e2.png)

^--- Source Code link broken

Broken link: https://github.com/GoogleCloudPlatform/g

[2017-04-13 12:06] blowmage commented on #1423
This is only an issue for the umbrella package. One more reason to link to the package docs IMHO.

[2017-04-13 12:12] blowmage commented on #1423
The correct link is:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-monitoring/lib/google/cloud/monitoring/v3/doc/google/monitoring/v3/common.rb#L49

[2017-04-13 12:15] blowmage commented on #1423
Unfortunately, all those links will be to the dummy documentation files, and not show any code, because so much of these GAPIC methods are created at runtime.

[2017-04-13 15:54] blowmage commented on #1422
I wonder if the angular app is not properly escaping the value, and it thinks the angle brackets are an html element.

[2017-04-13 16:03] blowmage commented on #1422
If you look at the [JSON](https://googlecloudplatform.github.io/google-cloud-ruby/json/google-cloud/master/google/cloud/monitoring/v3/metricserviceclient.json) that powers the angular app, you will see that the "create_time_series" method has a "time_series" argument with type of "Array<Google::Monitoring::V3::TimeSeries>".

[2017-04-14 18:04] frankyn opened #1426 "Update Speech Client parameter from :raw to :LINEAR16"
Hi,

We received a comment about updating samples to use :LINEAR16 instead of the file type :raw.

It may be a good idea to update snippets to use `:LINEAR16` instead of `:raw`.

[1] https://github.com/GoogleCloudPlatform/ruby-docs-samples/issues/166
[2] https://github.com/GoogleCloudPlatform/ruby-docs-samples/pull/168

[2017-04-14 18:31] remi commented on #1426
Is the request to remove the `:raw` alias?

Currently, `:raw`, `:linear`, and `:linear16` are all acceptable values/aliases for LINEAR16.

See: [the aliases](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/52b512b09ac5070a6c038f058793ecaa1f1267fe/google-cloud-speech/lib/google/cloud/speech/project.rb#L625-L630).

[2017-04-14 18:33] remi commented on #1426
/cc @sgreenberg

[2017-04-14 19:09] frankyn commented on #1426
Based on the original comment, my request was to update the snippets to use `:linear16` or `:linear` instead of `:raw`.

Also, it may be helpful to document the different available aliases found [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/52b512b09ac5070a6c038f058793ecaa1f1267fe/google-cloud-speech/lib/google/cloud/speech/project.rb#L625-L630)

[2017-04-14 20:58] bmclean commented on #1421
Might be related: https://github.com/grpc/grpc/issues/10658

[2017-04-14 21:06] bmclean commented on #1421
The `require grpc` would be happening when the first datastore query occurs (shown above).

[2017-04-14 21:45] merla18 commented on #1426
raw: :LINEAR16 is not correct.  raw can be multiple different formats (e.g., mulaw, linear16, amr)
so mapping raw to linear16 is not really correct

[2017-04-14 21:54] #1284 closed

[2017-04-14 21:54] #1285 closed

[2017-04-14 23:26] #1426 closed

[2017-04-14 23:27] frankyn commented on #1426
Thanks @blowmage!

[2017-04-14 23:39] swcloud commented on #1355
I assume it's working and close this issue.

[2017-04-14 23:39] #1355 closed

[2017-04-14 23:41] swcloud commented on #1421
Adding @apolcyn

[2017-04-14 23:53] apolcyn commented on #1421
I do think this is running into the same issue as in https://github.com/grpc/grpc/issues/10658.

If at all there is a fork after a 'require grpc', with grpc version 1.2.2, then unfortunately I'd expect these issues right now.  There is a background thread in 1.2.2 involved in grpc channel lifecycles, and after a fork, if it's not there in the child process, then garbage collection of grpc channels

[2017-04-15 00:00] apolcyn commented on #1421
^ comment above is still a guess of what the app here is doing though, I'm not certain this is the same as in grpc/grpc#10658

[2017-04-15 00:40] bmclean commented on #1421
I am not certain either. The Rails app used in the Heroku test was using Puma configured with 1 worker and 5 threads. So it could not have forked another process. The ruby client delays loading grpc until it is used (see [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/875)) and the memory starts ramping up immediately after the first datastore query (when grpc was loaded).

[2017-04-15 04:22] bmclean commented on #1421
I have created a simplified Rails 5 app that uses the `derailed` gem to show the memory usage. It uses an actual cloud datastore instance (so needs a project ID), authenticated locally through gcloud auth login. Clone the grpc-1.2.2-memory branch from [here](https://github.com/Agrimatics/activemodel-datastore/tree/grpc-1.2.2-memory). Note that when running derailed to profile the memory usage all

[2017-04-15 04:25] bmclean commented on #1421
You should end up with something that looks like this:

<img width="661" alt="graph" src="https://cloud.githubusercontent.com/assets/622145/25060704/39df1d0e-2161-11e7-95aa-0d88db79ca19.png">

[2017-04-15 07:16] apolcyn commented on #1421
Inconclusive yet but looking into this and seem to be getting similar results. Thanks for the repro, this is really helpful!

[2017-04-17 15:34] quartzmo commented on #1286
I'm working on this now.

[2017-04-17 17:57] swcloud commented on #1416
@blowmage @gagaJay

You can use the cloud resource manager API to get the project number programatically.

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-resource_manager/lib/google/cloud/resource_manager/project.rb#L69

[2017-04-17 19:38] apolcyn commented on #1421
@bmclean to be certain about the initial problem, you noticed runaway memory usage after only one datastore call? I'm not sure exactly which query it was, do we know if this translates to only one grpc call?

I'm seeing similar results with the benchmark memory comparisons in the graph above, but I'm not sure if these differences are necessarily hitting the bug in the original issue (trying reprod

[2017-04-17 21:54] bmclean commented on #1421
@apolcyn Correct. An ancestor query with an equality filter on one property:
[code]
You have a valid point that the memory benchmark isn't exactly the same. It is performing the query repeatedly. I didn't see a way for derailed to hit the url only once but keep monitoring the memory.

So, I have added displaying the memory of the process to the example app. The index page of the app does not perfo

[2017-04-17 21:56] bmclean commented on #1421
You can start the Rails server locally with `RAILS_ENV=production GCLOUD_PROJECT=project-id-goes-here rails server`

[2017-04-17 22:01] frankyn opened #1430 "[Cloud Storage] bucket-level IAM change request"
Hi @blowmage and @quartzmo!

I recently worked on samples using the new bucket-level IAM API surface. ([PR](https://github.com/GoogleCloudPlatform/ruby-docs-samples/pull/167#discussion_r111654037)).

I want to request that the API surface for reloading bucket-level IAM policy settings be changed from `bucket.policy force: true` to `bucket.policy.reload!`. It's more idiomatic and self-descriptive.

[2017-04-17 22:30] quartzmo commented on #1430
@frankyn Thanks for this suggestion, and please keep them coming!

Since google-cloud-storage is now GA/1.x, I don't think we'll want to remove the `force` option. What do you think about adding `bucket.policy.reload!` even though we keep `force`?

[2017-04-17 22:38] frankyn commented on #1430
Is the rational for not removing `force:` because it would cause a breaking change?
Could this be an exception being that Bucket-level IAM is still in Alpha?

If not possible, I prefer not documenting the named parameter `force:` and only promoting the use of  `bucket.policy.reload!`.

Thanks @quartzmo!

[2017-04-17 23:09] quartzmo commented on #1430
Good question! I don't know if an exception can be made in this case. @blowmage what's your opinion on this?

[2017-04-17 23:36] blowmage commented on #1430
AFAIK diversion and policy is for the gem, not services the gem covers

[2017-04-17 23:48] gagaJay commented on #1416
@swcloud thanks for your reply. I have actually tried to use this API for accessing the resource-manager but failed to do so. Below is the error message i got:

/usr/local/lib/ruby/gems/2.3.0/gems/google-cloud-resource_manager-0.24.1/lib/google/cloud/resource_manager/service.rb:133:in `rescue in execute': forbidden: Google Cloud Resource Manager API has not been used in project api-xxxxxxxxxxxxxxx

[2017-04-17 23:52] blowmage commented on #1430
Guidance should be to update the IAM policy with the block. If this is the only way the Policy values are changed I don't see a compelling need for `force: true` or `Policy#reload!` in the samples.

[code]

[2017-04-17 23:54] frankyn commented on #1430
@blowmage that would make sense when updating the policy, but what about when testing changes similar to [this](https://github.com/GoogleCloudPlatform/ruby-docs-samples/blob/72390d943e7e47b6ff25d4d8592382b02d18db05/storage/spec/iam_spec.rb#L46-L65)?

[2017-04-17 23:56] quartzmo commented on #1430
Great point, @blowmage. The block usage example is already in place, I think only the `force` example needs to be removed.

@frankyn Is it acceptable to simply remove the `force` examples, since the primary use case for reloading state is updating, and that is now handled in an operation that reloads automatically?

[2017-04-17 23:57] quartzmo commented on #1430
Ah, I see @frankyn already has another use case...

[2017-04-18 00:28] #1286 closed

[2017-04-18 07:16] apolcyn commented on #1421
So it looks like this is definitely a pure grpc problem, it can actually be reproduced easily with a grpc example tweaked to:

[code]

(it looks like the background thread that was added in v1.2.x to keep fix connectivity-related failures seems to be accumulating a lot of more memory - it makes a check on a timer, and memory accumulates proportionally to the speed of it  e.g., setting https://gith

[2017-04-18 17:28] bmclean commented on #1421
Thanks @apolcyn!

[2017-04-18 17:35] quartzmo commented on #1430
@frankyn I'm going to work on a PR for this issue. I will not remove the `force` option (in order to maintain backwards compatibility), but I will remove the example. In a second commit I will add `Policy#reload!` with an example. We can debate whether to merge that commit in the PR.

[2017-04-18 17:39] frankyn commented on #1430
SGTM! Thanks @quartzmo.

[2017-04-18 18:25] quartzmo commented on #1283
@swcloud Should we label this issue `Status: Blocked`?

[2017-04-18 19:17] swcloud commented on #1283
ok

[2017-04-18 19:25] blowmage commented on #1283
Why is this blocked? What feature are we waiting on?

[2017-04-18 22:54] swcloud commented on #1416
On the dashboard of the API manager, you should see the list of APIs, on the right hand side, you should see 'enable' or 'disable' link.

[2017-04-19 00:09] apolcyn commented on #1421
A heads up that the fix for this is under WIP but isn't immediate.

[2017-04-19 02:12] gagaJay commented on #1416
@swcloud thanks, finally I found it. although it took me a while since they don't put the resource manager API on the page directly so you have to search for it. But anyway, thanks buddy!

Can you also answer my side question about how to get the google map key? I know it is not very likely but still would like to know. Many thanks.

[2017-04-19 16:31] quartzmo commented on #1416
@gagaJay I think the better place to ask about getting the Android map key is Stack Overflow. There are already some existing questions such as this one, [How to get google map apikey in android](http://stackoverflow.com/questions/16462140/how-to-get-google-map-apikey-in-android). Good luck and thanks for using `google-cloud`!

[2017-04-19 16:31] #1416 closed

[2017-04-19 21:43] vkedia commented on #1236
Broken stream essentially means that grpc threw an error while consuming results from the stream. The enumerator returned by grpc will not yield any more PartialResultSets after this. So you make a new request and pass in the resume token. That will give you a new enumerator. All this should happen behind the scenes and the user should be able to continue getting results.

[2017-04-19 21:44] vkedia commented on #1237
To clarify this is only needed for the data api and not for the admin apis.

[2017-04-19 21:52] vkedia commented on #1235
As for calling `BeginTransaction` it is useful since because it allows one to make concurrent read/query calls. Otherwise you would have to wait for the first read/query to yield the first chunk before you can make any subsequent calls. Also if the first read failed for whatever reason you will not get back the transaction id.

[2017-04-20 05:44] apolcyn commented on #1421
In the meantime, going to release a 1.2.5 gem that reverts the connectivity fix (in https://github.com/grpc/grpc/pull/9986), which is causing this issue.

[2017-04-20 22:34] quartzmo commented on #1423
This behavior is unfortunately present for all types' source links (not just GAPIC) in the `google-cloud` meta-package docs.

In `google-cloud`'s [`Google::Cloud::Bigquery::Project`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.28.0/google/cloud/bigquery/project), all source code links return 404, since they link to a path (`google-cloud-ruby/blob/google-cloud/mas

[2017-04-20 22:46] quartzmo commented on #1430
@frankyn I opened a PR (#1433) removing the `force` example.

I am also working on an implementation of `Policy#reload!`. So far it is somewhat awkward,
 since the resource must be retrieved using either [`Buckets: getIamPolicy`](https://cloud.google.com/storage/docs/json_api/v1/buckets/getIamPolicy) or [`Objects: getIamPolicy`](https://cloud.google.com/storage/docs/json_api/v1/objects/getIamPolic

[2017-04-21 04:56] frankyn commented on #1430
Thanks @quartzmo!

Ah, I didn't think about `Objects: getIamPolicy`. How are you planning on implementing `Policy#reload!`?

[2017-04-21 14:49] quartzmo commented on #1430
@frankyn Which API method it uses will need to be conditional on whether the policy's `resourceId` matches the pattern `buckets/bucket/objects/object` or just `buckets/bucket`.

[2017-04-21 18:53] frankyn commented on #1430
That makes sense. I look forward to the PR!

[2017-04-21 21:27] quartzmo commented on #1430
One concern I have after implementing `Policy#reload!` in #1435 is that the memoized instance held in `Bucket` will **not** be updated when `reload!` is called, as shown in the example below:

[code]

[2017-04-21 22:53] frankyn commented on #1430
That's a concern. Is it not simple to update the memoized instance held by `Bucket`?

[2017-04-21 23:10] quartzmo commented on #1430
It's doable by passing in a reference to the bucket. But it's kind of out there as a side effect!

[2017-04-24 16:00] sveredyuk opened #1436 "Labels confidence are always 0"
I am trying to get labels and confidence level (like AWS Rekognition), but confidence always 0.

[code]

[2017-04-24 16:29] quartzmo commented on #1436
@sveredyuk Thank you for reporting this behavior. I will try to reproduce and see if I can get an answer about this for you. Have you also opened a Stack Overflow question? That would be a good thing to do. It is my expectation that this library (google-cloud-ruby) is simply passing back these values from the Cloud Vision API, and that a Stack Overflow question may receive an answer directly from

[2017-04-24 17:00] sveredyuk commented on #1436
@quartzmo thank you for your attention. Ok, will try search against StackOverflow or post a new issue.

[2017-04-24 19:45] landrito commented on #1413
I am having a bit of trouble trying to recreate 😞 . From my simple tests. If I create a subscriber and pull using `( immediate: false, max: 1, autoack: false )`, then publish a single message, the subscriber takes a bit of time to get the published message (I have seen it take as long as 7 minutes). But if I subscribe many messages, the subscriber gets the messages very quickly.

Am I missing some

[2017-04-24 19:46] blowmage commented on #1416
The Resource Manager API is a little different than most other Google Cloud APIs, in that it doesn't allow service accounts to connect to it. You need to use your user account, either by authenticating the [gcloud CLI SDK](https://cloud.google.com/sdk/gcloud/), or by connecting using the [online console's API Explorer](https://developers.google.com/apis-explorer/?hl=en_US#p/cloudresourcemanager/v1

[2017-04-25 00:01] remi opened #1437 "Request: a way to run multiple types of Vision detection on a single Image"
I have a program that runs multiple types of detection on an image.  I make a `vision.image` and then call `image.text` and `image.landmarks` and `image.labels` and more.  But this is slow *and* effects my Vision API quota.

So I looked for a method that I could call on my Vision::Image to detect multiple things in one API call, eg. `image.detect landmarks: true, text: true`.

Being very familiar

[2017-04-26 17:37] blowmage commented on #1430
@quartzmo @frankyn @remi This change raises a larger design issue around the IAM policies, which we want to be consistent across all Google Cloud libraries. What do you all think of simply removing the memoization on policy and making `force` a no-op? That would simplify the implementation, and avoid the problems raised by #1435. Also, one can argue that the behavior would be more inline with how

[2017-04-26 18:08] quartzmo commented on #1430
@blowmage I am in favor with removing memoization of Policy from all libraries, because I agree that memoization seems to be the exception rather than the rule for retrieved resources. Was there any specific motivation for this design that you can remember?

Removing memoization of Policy everywhere merits a new issue, but in the meantime, here are the  the usages of the `force` option to override

[2017-04-26 19:05] blowmage commented on #1430
I think the memoization made more sense before we introduced the block syntax to update a policy. But now it makes less sense. I would rather correct the underlying behavior than add more bandaids around it.

[2017-04-26 19:07] quartzmo commented on #1437
@remi I also feel that this would be a helpful addition to the API, and thank you for bringing it to our attention. I will add `Image#annotate` (and aliases) as soon as possible.

[2017-04-26 20:10] qingling128 opened #1438 "Force google-cloud-logging client lib to use V2 format when calling Logging API"
After the issue in https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1239 had been fixed, we were able to get partial success error details in `metadata`. However the format is weird:

[code]

And the index info is missing. (The error details should include mappings between the index and the error). After some investigation with Logging API team it turned out that this is because whe

[2017-04-26 22:59] quartzmo commented on #1438
@qingling128 Thank you for submitting this issue.

@dazuma @swcloud Do either of you know if `X-GOOG-API-FORMAT-VERSION` can and should be used in this context to force the V2 format? My understanding is that the V2 format is currently always the default.

[2017-04-27 21:05] blowmage commented on #1236
Reopening so we can track the requirement to get the delay value.

[2017-04-27 21:07] blowmage commented on #1236
Oops, wrong issue.

[2017-04-27 21:07] #1236 closed

[2017-04-27 21:28] blowmage commented on #1234
Reopening to track the discover of the backoff value from RetryInfo.

[2017-04-27 22:50] #1237 closed

[2017-04-29 00:24] #1235 closed

[2017-05-01 18:58] qingling128 commented on #1438
I checked with the Logging API folks. Seems the format in the sample error metadata

[code]

implies the ruby client is using V1 format.

[2017-05-01 19:17] blowmage opened #1444 "Update links on RubyGems.org"
We want to ensure that the links on rubygems.org are consistent and helpful. Currently, the "Homepage" link is coming from the gem spec. But the other links can be configured on the rubygems.org site. We need someone with ownership permissions to the gems to update all the links across all the gems. (e.g. [Datastore](https://rubygems.org/gems/google-cloud-datastore))

- [x] Homepage - Link to the

[2017-05-01 19:18] blowmage commented on #1444
FWIW, neither @quartzmo or myself have permissions to the gems on RubyGems.org.

[2017-05-01 20:23] quartzmo opened #1445 "Support IAM methods in Spanner"
The IAM methods have been added to Spanner for Instances, Instance operations, Databases, Database operations, and Sessions. All IAM methods listed in the guide [Access Control for Cloud Spanner](https://cloud.google.com/spanner/docs/iam) should be added to the Ruby Storage client.

When implementing tests, please note that:

Thus, do not use the following roles in docs or testing:

[2017-05-01 21:22] quartzmo opened #1446 "Remove non-streaming mode from Spanner"
The client library "should not use the non streaming requests."

The `streaming` option currently present in various execute and read methods should be removed, along with all related support for these operations.

[2017-05-01 22:56] blowmage commented on #1445
It looks like both Instance and Database have already implemented the IAM methods.

[2017-05-02 04:27] omaray commented on #1444
@thagomizer for feedback.

[2017-05-02 17:04] blowmage commented on #1430
@remi @frankyn Thoughts on removing the memoization?

[2017-05-02 19:16] #1445 closed

[2017-05-02 20:16] #1446 closed

[2017-05-03 23:22] quartzmo commented on #1438
@dazuma @hxiong388 Any idea about this? I've looked through the project but everything appears to be on `V2` as far as I can see. Is there something special that needs to be explicitly set?

[2017-05-03 23:36] blowmage commented on #1438
FWIW, I think this is something that should be set in the GAPIC layer, if it does need to be set.

[2017-05-04 00:23] hxiong388 commented on #1438
The [red warning message](https://cloud.google.com/logging/docs/migration-v2) from Logging Doc that states `March 30, 2017: The v1 API is shut down. All code using the v1 API stops working` make it sound like the Logging API shouldn't default anything to V1 format anymore.

@qingling128 Who did you contact from the Logging API team? We should get in touch with them directly to figure out where's t

[2017-05-04 15:31] qingling128 commented on #1438
Synced with @hxiong388 offline about whom to reach to internally. Stay tuned.

[2017-05-04 16:05] qingling128 commented on #1438
BTW, the v1 and v2 format is an One Platform thing when it comes to error format. It's separate from Logging API's version V1 and V2. There's more information in the internal ticket. I've sent the ticket number to @hxiong388. Let me know if there is anything I could help. Thanks!

[2017-05-04 16:32] quartzmo commented on #1438
@qingling128 Thanks for the clarification on the versioning, that explains a lot!

[2017-05-04 16:36] hxiong388 commented on #1438
@geigerj After talking with @qingling128 and reading through the internal discussion, I think it makes sense to set the `X-GOOG-API-FORMAT-VERSION: 2` header in GAPIC client. Let us know what you think.

[2017-05-04 16:41] blowmage opened #1449 "How to handle missing/duplicate field names in Spanner?"
In spanner the returned data can have missing/empty field names.

[code]

The first question is how to handle multiple missing/empty field names. The results are returned in Ruby hashes, and Hash does not allow duplicate field names, so the empty string symbol (`:""`) used for both columns is overridden.

[code]

The second question is a variation on the first. How do we handle duplicate field nam

[2017-05-04 16:42] blowmage commented on #1449
My first impulse to the first question is to replace missing/empty field names with a default name that includes the column position. For example:

[code]

But, this doesn't address the second question, since only the empty field names would be changed.

One options is to find all duplicates, and append a count to them:

[code]

A variation on this is to modify all filed names that have a duplicat

[2017-05-04 17:00] blowmage commented on #1449
One possible solution is return a Hash that has values by name _and_ position. The duplicate names would be squashed just like it is now:

[code]

We can also add additional `type` methods to allow retrieving both the type names and type values as arrays:

[code]

[2017-05-04 17:08] blowmage commented on #1449
Yet another possible solution is to add a flag to control whether the results are returned as hashes or a deeply nested arrays.

[code]

[2017-05-04 17:19] blowmage commented on #1449
That last option is exactly what the current code is doing, minus the last step that converts the deeply nested array of pairs into a Hash. The row as an array of pairs looks like this:

[code]

And when we convert that row of pairs into an Hash we get this:

[code]

[2017-05-04 17:27] quartzmo commented on #1438
@blowmage commented:

And I agree, that sounds fine, although it may be good to be able to override this setting.

[2017-05-04 17:35] qingling128 commented on #1438
Is this going to be a breaking change for the Ruby client if we enforce V2 format by default? If we have to provide a flag in the Ruby client to enforce V2 format, I'm fine with explicitly setting that too.

[2017-05-04 18:10] blowmage commented on #1438
What is the `format` that is being set to V2? Why is it set via header and not in the API request?

The only place I am aware that API version is configurable is on [LogSink](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/v2/doc/google/logging/v2/logging_config.rb#L51-L57). But that is a separate issue for writing log entries, rig

[2017-05-04 18:29] qingling128 commented on #1438
Yeah, the `LogSink` format is a different thing, which is specific to Logging API. The error format here is generic to all Google APIs built on the same framework I believe. I did not find any external documentation about this format though except that it's briefly mentioned in GMB API [here](https://developers.google.com/my-business/content/support#detailed_error_responses).

Quoting some documen

[2017-05-04 18:32] blowmage commented on #1438
Okay, so the format version here is 100% orthogonal to the Logging API version?

[2017-05-04 18:33] qingling128 commented on #1438
Yeah, that sounds right.

[2017-05-04 18:34] geigerj commented on #1438
@hxiong388 @quartzmo Sure, we should be able to change the GAPIC layer to set this header everywhere. I'm going to confirm that changing this header actually does produce the desired result first, and will update then.

[2017-05-04 18:35] blowmage commented on #1438
If so, the difference is that the V1 embeds the additional data's protobuf binary representation in the JSON, where V2 returns the additional data as JSON.  Is that correct?

[2017-05-04 18:53] qingling128 commented on #1438
@blowmage Yes.

[2017-05-04 19:19] blowmage commented on #1438
Okay, then I think this change won't break existing behavior. We don't specify this format anywhere AFAIK.

[2017-05-04 19:33] qingling128 commented on #1438
Good to know.

[2017-05-04 21:42] blowmage commented on #1438
Where is WriteLogEntriesPartialErrors defined? I don't see it in the protobufs or GAPIC code. (I'm looking into an issue for another library that is using trailing metadata and not sure I am reproducing the behavior described in this issue correctly.)

[2017-05-04 22:15] qingling128 commented on #1438
I saw the definition in `google/logging/v2/logging.proto` internally. I did not see it in the GitHub though. Is [this](https://github.com/googleapis/googleapis/blob/master/google/logging/v2/logging.proto) the public one? Maybe we need to somehow sync them? I'm not very sure how it is being handled.

[2017-05-04 22:17] geigerj commented on #1438
@qingling128 Yes, there is a process to sync them. I'll follow up with you internally.

[2017-05-04 22:22] qingling128 commented on #1438
@geigerj Sure. Thanks! You can find me by `lingshi@`.

[2017-05-04 22:49] quartzmo opened #1451 "Test Spanner code examples"
Also known as: "snippets testing". Provide automated testing in the Rake `doctest` task for the Spanner documentation examples (YARD's `@example` tag) using the [yard-doctest](https://github.com/p0deje/yard-doctest) library, as discussed in #226.

[2017-05-04 23:37] geigerj commented on #1438
@qingling128 I am seeing the misformatted error even after I set the header. (Note: this is using the GAPIC layer, not the manually written client library.)

[code]

which prints

[code]

[2017-05-04 23:39] geigerj commented on #1438
Note: you can verify that the header `x-goog-api-format-version` is being set in the above snippet by running it with the env variables `GRPC_TRACE=http GRPC_VERBOSITY=DEBUG`

[2017-05-08 15:19] blowmage opened #1457 "google-protobuf 3.3.0 causes errors in Datastore"
Last Friday [google-protobuf 3.3.0](https://rubygems.org/gems/google-protobuf/versions/3.3.0) was released. One of the [changes made](https://github.com/google/protobuf/blob/80f0c0ac40398858480fcc121b6771f40e5b02bb/CHANGES.txt#L98) was:

* Fixed `Message#to_h` for messages with map fields.

Unfortunately, this breaks API compatibility and caused failures on the Datastore CI build. I [released goog

[2017-05-08 19:34] quartzmo commented on #1444
@geigerj I'm working on a PR now for the first item in the list, which requires an update to source code gem specs. After that is done, the rest can be handled by you via rubygems.org.

[2017-05-08 20:49] quartzmo commented on #1444
@geigerj AFAIK, the remaining items in this issue can all be resolved via rubygems.org.

[2017-05-08 22:36] thagomizer opened #1460 "Source links on this page don't work."
Page: http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.28.0/google/cloud/monitoring/v3/metricserviceclient

[2017-05-08 22:49] hxiong388 commented on #1460
Seems like dup of #1423

[2017-05-09 16:31] qingling128 commented on #1438
@geigerj: Yeah, I was able to reproduce what you saw. When I call Logging API directly I got:

[code]

Do you know where the error metadata is being set? Does `"google.logging.v2.writelogentriespartialerrors-bin"` map to `"@type": "type.googleapis.com/google.logging.v2.WriteLogEntriesPartialErrors"`?

BTW the original internal ticket is b/36393329.

[2017-05-09 17:33] patrickbrownsync opened #1462 "google-cloud-logging causes delayed job to crash on production"
After installing google-cloud-logging via the stackdriver gem my production delayed_job task fails to start (my rails web server run via puma works fine)

Google cloud logging is configured like this for DJ:

[code]

Which causes this command:

`export RAILS_ENV="google_cloud" ; /usr/bin/env bundle exec bin/delayed_job run`

to fail like this:

[code]

However if the only thing I change is changin

[2017-05-09 17:37] frankyn commented on #1430
I'm okay with moving forward without memoization.

[2017-05-09 18:01] hxiong388 commented on #1462
@patrickbrownsync Thanks for reporting the issue. We'll look into the issue.

/cc @dazuma

[2017-05-11 17:22] vkedia commented on #1234
I think this has been resolved? Please close in that case.

[2017-05-11 17:43] blowmage commented on #1234
Yes.

[2017-05-11 17:43] #1234 closed

[2017-05-11 17:56] qingling128 commented on #1438
Seems @geigerj is OOO this week and potentially not available early next week either due to the Summit. Does anyone else know the answer to Shreekanth's question in b/36393329#comment33?

Note that the -bin headers are binary serialized protos. Does the client library deserialize them?

[2017-05-11 18:07] hxiong388 commented on #1438
cc @swcloud @landrito

Do you guys know the answer to Shreekanth's question?

[2017-05-12 14:59] JustinBeckwith opened #1466 "Write correlation-id into log metadata"
By writing a correlation-id into the logging metadata, users can get request-correlated logs in pantheon.  See https://gist.github.com/JustinBeckwith/43dd04cfbc4551ddd8996a5b803da0b0 for details.

[2017-05-12 16:33] hxiong388 commented on #1466
This feature request is already tracked internally through b/38239828

[2017-05-13 10:13] rdsubhas opened #1467 "Received message larger than max: PubSub error and message loop"
### Reproduce Steps:

- Publish message > 4MB to a topic
- Retrieve message through subscription: `Error: Received message larger than max (xxxxx vs. 4194304)`

### References

- https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2190
- https://github.com/mia-0032/fluent-plugin-gcloud-pubsub-custom/pull/37

### Impact

I believe gRPC introduced a request limit of 4MB. But **PubSub quo

[2017-05-14 20:07] blowmage commented on #1467
Thanks for the issue. We'll investigate this and let you know what we find.

[2017-05-15 15:32] blowmage commented on #1449
This was resolved in #1461.

[2017-05-15 15:32] #1449 closed

[2017-05-15 18:19] quartzmo commented on #1430
I have closed PR #1435, and will begin work on a new PR to remove memoization.

[2017-05-16 15:36] thagomizer opened #1470 "Improve client library doc landing page for monitoring gem"
If you click "Client Library Documentation" from the monitoring readme it directs you to an almost blank page. [https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-monitoring/v0.24.0/google/monitoring/v3](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-monitoring/v0.24.0/google/monitoring/v3)

![screen shot 2017-05-11 at 12 30 14 pm](https://clou

[2017-05-16 15:39] thagomizer opened #1471 "Monitoring gem should use the same authentication as other gems"
The monitoring API doesn't take a keyfile in object creation. It also doesn't appear to use the environment variables the other gems use. All our gems should support the same authentication schemes.

Compare: [https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-logging/v1.0.1/google/cloud/logging?method=new-class](https://googlecloudplatform.github.io/google-cloud-ruby/#/do

[2017-05-16 15:42] thagomizer opened #1472 "Monitoring gem reuqires submitting the project name with every request"
The monitoring gem requires submitting a specially formatted project name with every request. The other gems do not require this and the experience should be consistent between libraries in the same lanugage.

Also, requiring the specially formatted project name is inconsistent with the other gems as well.

[2017-05-16 15:46] thagomizer opened #1473 "Provide documentation for classes used as parameters"
In monitoring when I call MetricServiceClient#list_time_series I can provide an interval and a view.

Interval is Google::Monitoring::V3::TimeInterval
and view is a Google::Monitoring::V3::ListTimeSeriesRequest::TimeSeriesView. The types weren't linked in the docs and there are no docs for TimeSeriesView at all.

Can we link the classes in the docs and ensure that every class that may be used as a

[2017-05-16 15:48] thagomizer opened #1474 "Monitoring Docs example for MetricServiceClient#list_time_series returns an error"
The example for list_time_series doesn't create a valid TimeInterval so if you copy and paste the code you get an error.

[2017-05-16 16:03] thagomizer opened #1475 "MetricServiceClient#list_time_series filter argument is too specific"
This might be an issue with the underlying API.

Parameterizing your filter with list_time_series is awkward in Ruby because you *must* use double quotes around the metric name.

The following don't work:
filter = "metric.type = '#{metric}'"
filter = "metric.type=#{metric}"
filter = "metric.type = 'appengine.googleapis.com/system/memory/usage'"
filter = "metric.type = appengine.googleapis.com/syst

[2017-05-16 16:06] thagomizer opened #1476 "MetricServiceClient#create_time_series docs should specify what type of Array"
The MetricServiceClient#create_time_series docs say time_series is an Array but it doesn't say an array of *what*. Since the type is very specific ProtoBuf::RepeatedField we should specify that (and link to the documentation for that class). I tried several different arrays of Standard Library types and none of them worked or produced useful errors.

[https://googlecloudplatform.github.io/google-c

[2017-05-16 16:09] thagomizer opened #1477 "Can't figure out how to create a Google::Protobuf::RepeatedField of Google::Monitoring::V3::Point"
In order to create a custom metric you must pass in a RepeatedField. To instantiate a RepeatedField you must pass in the class type that the RepeatedField will contain.

I spent 30 minutes trying to figure out how to do this. Here are some things I tried:
points = Google::Protobuf::RepeatedField.new("Google::Monitoring::V3::Point".to_sym)
points = Google::Protobuf::RepeatedField.new("Google::Monit

[2017-05-17 01:31] #1407 closed

[2017-05-17 05:49] HimanshuLakra opened #1480 "No documentation how to use Google cloud Language gem for V1Beta2 Api"
I am unable to understand how to pass content and project id as argument to document(Google::Cloud::Language::V1beta2::Document) object in following code.

require "google/cloud/language/v1beta2"

Document = Google::Cloud::Language::V1beta2::Document
LanguageServiceClient = Google::Cloud::Language::V1beta2::LanguageServiceClient

language_service_client = LanguageServiceClient.new
document = Docum

[2017-05-17 06:09] blowmage commented on #1480
It looks like the `Google::Cloud::Language::V1beta2::Document` class (and `Google::Cloud::Language::V1::Document` class) is not making its way to the HTML documentation. The code docs can be seen [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-language/lib/google/cloud/language/v1beta2/doc/google/cloud/language/v1beta2/language_service.rb#L19-L46). The Docu

[2017-05-17 14:58] #1437 closed

[2017-05-17 16:37] quartzmo opened #1482 "Add docs and tests for new BigQuery options"
The options `maximum_billing_tier` and `maximum_bytes_billed` were added in #1432, but lack documentation and testing.

[2017-05-17 16:55] blowmage opened #1483 "Ensure merge logic for arbitrarily deep nested values"
We need to ensure that the merge results logic is correct for deeply nested values, such as `ARRAY<STRUCT<ARRAY<INT64>>>`.

[2017-05-17 16:56] blowmage opened #1484 "Concurrent Transaction Coverage"
Add test coverage for multiple concurrent transactions operating on the same data.

[2017-05-17 16:56] blowmage opened #1485 "Spanner Pool Changes"
The following changes have been requested:

- [x] Change max to 100
- [x] Create new sessions/transactions outside of mutex
- [x] Ensure Pool#close does not block waiting threads
- [x] Use signal instead of broadcast
- [x] Synchronize when calling keepalive
- [x] Track last used time on session, use for more intelligent keepalive
- [x] Handle errors when calling Session#delete_session
- [x] Add th

[2017-05-17 17:01] qingling128 commented on #1438
Hi, any news on this one?

[2017-05-17 17:17] vkedia commented on #1485
Can you also add cleanup of idle sessions to this list?

[2017-05-17 17:30] blowmage opened #1486 "Remove IAM Policy Memoization"
Remove the memoization for IAM Policy. Deprecate or remove the `force` argument, and issue a warning when used while deprecated.

refs #1430

[2017-05-18 19:09] quartzmo commented on #1482
Both `QueryJob` and `Dataset#query_job` need these options/fields as well.

[2017-05-18 20:42] #1482 closed

[2017-05-19 06:56] HimanshuLakra commented on #1480
@blowmage how do I pass api_key or project_id to link call with my project on google cloud ,as earlier it was passed in language object
 language  = Google::Cloud::Language.new project: project_id

[2017-05-19 18:06] blowmage commented on #1480
You don't. The code in the issue description is using the low level API. The code in your last comment is using the ruby API. When using the low level API you need to create a credential object using Google Auth.

I would recommend using the ruby API and not the low level API.

[2017-05-21 11:14] HimanshuLakra commented on #1480
Thanks @blowmage

[2017-05-22 21:01] mbrukman commented on #1118
@quartzmo -- any updates on this? Can we get started with a set of generated classes from gRPC protobufs and proceed from there?

[2017-05-22 21:06] quartzmo commented on #1118
@swcloud @geigerj What do you think?

[2017-05-22 22:18] geigerj commented on #1118
Hi @mbrukman -- I'm going to follow up with you internally about getting BigTable on the client library pipeline. At the moment, there is no ETA for support.

[2017-05-22 22:20] quartzmo commented on #1118
Thanks @geigerj!

[2017-05-22 22:26] geigerj commented on #1118
Note: I'm going to leave this issue open to track the feature requests beyond gRPC, but this will be blocked on basic GAPIC support, which is tracked internally.

[2017-05-23 10:04] dlackty opened #1496 "Update BigQuery related doc to reflect recent changes"
As 41cfacca49ab6fb7075970dba7d0c9026dbeb3d9 merged into master and new version released, the README example and related code snippets on Google Developers site need to get updated as well.

[2017-05-23 15:35] quartzmo commented on #1496
@dlackty Thanks for opening this issue! I will make the update for the README and API docs for this library. Unfortunately I have no control over snippets on the Google Developers site.

[2017-05-23 15:53] #1483 closed

[2017-05-24 01:08] quartzmo opened #1497 "Support Bucket labels"
### Google Cloud Storage user labels for buckets GA

Add `Bucket#labels`, `Bucket#labels=`, and a `labels` option to `Project#create_bucket`.

See [Key Terms - Bucket labels](https://cloud.google.com/storage/docs/key-terms#bucket-labels) and [Managing a bucket's labels](https://cloud.google.com/storage/docs/managing-buckets#manage-labels) for details.

[2017-05-24 17:20] frankyn opened #1498 "[Video Intelligence] Google::Gax::RetryError: running sample snippet."
Hi,

I'm working on samples which use the Video Intelligence API. I tried following a workflow from the [example snippet](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.29.0/google/cloud/videointelligence/v1beta1/videointelligenceserviceclient) and I receive a `Google::Gax::RetryError:` which uses project id `usable-auth-library`. Both are shown below. How should I

[2017-05-24 17:22] blowmage commented on #1498
Hi @frankyn, have you enabled the Video Intelligence API on that project? The key part of the error message is the following:

[2017-05-24 17:28] frankyn commented on #1498
I'm not sure how `usable-auth-library` was used. I set the GOOGLE_CLOUD_PROJECT id and I enabled the video intelligence API for my project `spec-test-ruby-samples`.  Is there a parameter to set the project id?

[2017-05-24 17:44] blowmage commented on #1498
It doesn't look like Video Intelligence has `project_id` as part of its API. So I assume it is using the project associated with your authentication. How are you authenticating?

Video Intelligence is a GAPIC-only gem, and doesn't offer the same API for authentication as used by other Google Cloud gems.

[2017-05-24 18:18] qingling128 commented on #1438
Hi, friendly ping. Anyone got a sec for Shreekanth's question related to this issue in b/36393329#comment33?

[2017-05-24 18:33] frankyn commented on #1498
@blowmage, I thought I had setup my environment correctly, but I didn't define GOOGLE_APPLICATION_CREDENTIALS with a service account. @remi provided me an example and I was able to get passed this error.

Thank you!

[2017-05-24 18:33] #1498 closed

[2017-05-24 18:52] blowmage commented on #1438
@geigerj, can you follow up with @swcloud on this?

[2017-05-24 19:01] geigerj commented on #1438
I will follow up on the internal discussion. As I noted above, the proposed header change didn't seem to work, so guidance from Shreekanth or the logging team would be appreciated.

[2017-05-24 19:10] qingling128 commented on #1438
Sounds good. Thanks for checking!

[2017-05-24 22:06] bmclean commented on #1421
@apolcyn I deployed `grpc` version 1.3.4 to our staging environment today and so far everything looks fine.

[2017-05-24 23:53] #1466 closed

[2017-05-25 18:00] frankyn opened #1503 "[Storage] Download a public file without a service-account."
Hi,
I tried downloading the public file `gs://cloud-ml-sandbox/video/chicago.mp4` using the Storage client, but I'm not able to because I don't have access to the `cloud-ml-sandbox` storage bucket.

Is there a way to download a public file using the storage client?

I tried using:
[code]

Error:
[code]

[2017-05-25 18:12] blowmage commented on #1503
You cannot use the Google Cloud Storage client to access buckets you do not have access to. However, instead of using the GCS URL, you can use a public HTTP URL: http://storage.googleapis.com/cloud-ml-sandbox/video/chicago.mp4

[code]

[2017-05-25 18:15] frankyn commented on #1503
Thanks @blowmage, Is there a reason why the client library doesn't support this?

[2017-05-25 18:42] blowmage commented on #1503
The Google Cloud Storage ruby library doesn't support loading of a file by the GCS URL, even if you had access. But it sounds like you don't really want the file object, you just want the contents, which is what the public URL provides.

[2017-05-25 19:15] #1496 closed

[2017-05-25 20:13] frankyn commented on #1503
Ah, sorry, I didn't explain myself well. I had a question come up about downloading a file using the client similar to `File#download` but for public files. I understand you can download it without using the client library.

This is not a request and only a question about it being the library.

[2017-05-25 20:29] blowmage commented on #1503
I don't understand your expectations. Can you share some sample code of what you expected the ruby library to do?

[2017-05-25 21:53] bmclean commented on #1421
24 hours later and memory is still holding steady. Nice work @apolcyn! Are we ok to close this issue?

[2017-05-25 21:55] frankyn commented on #1503
I don't mean to confuse you. My original question, can the client library download public files. The answer at the moment is no. I was just wondering.

I **thought** the client library could download public files by using:
[code]

[2017-05-25 22:14] blowmage commented on #1503
In order for that code to work you would need permissions to the bucket and file resources through the Storage API. Accessing a file's contents with a public URL can be configured in the Storage API, but the library itself doesn't access content with the public URL, only through the Storage API.

[2017-05-25 22:16] blowmage commented on #1421
Great news @bmclean! Feel free to close this issue if you feel it is resolved.

[2017-05-25 22:21] #1421 closed

[2017-05-25 23:10] frankyn commented on #1503
Understood! Thanks @blowmage!

[2017-05-25 23:10] #1503 closed

[2017-05-26 04:00] dts opened #1509 ""Magic" Image Urls?"
There's documentation of automatic image resizing in other clients ( e.g. https://cloud.google.com/appengine/docs/standard/python/blobstore/ ) via a mechanism varyingly named "Magic URLs" or "Public Urls".

Is such a thing available in Ruby?  I couldn't find any documentation of the mechanism underlying this behavior, though it could be as easy as hashing a few things and sending a request to goog

[2017-05-26 04:12] apolcyn commented on #1421
thanks for updates @bmclean, glad to hear that you're seeing the issue fixed!

[2017-05-26 04:30] blowmage commented on #1509
I am not very familiar with the AppEngine offerings, but it looks like Blobstore is part of the AppEngine Standard environment, which doesn't have Ruby support. The AppEngine Flex environment is the one that has Ruby support. So it doesn't look like it will be supported.

[2017-05-26 16:40] hxiong388 commented on #1396
closed by #1403

[2017-05-26 16:40] #1396 closed

[2017-05-26 16:45] hxiong388 commented on #1419
@tmc grpc v1.3.4 that was released last week have fixed a number of bugs. Does the segfault still happen to you with the new grpc gem?

[2017-05-26 19:26] blowmage commented on #1287
@garrettjonesgoogle On March 1 you said:

Is streaming pull working now?

[2017-05-26 19:39] garrettjonesgoogle commented on #1287
Not yet.

[2017-05-26 19:55] blowmage commented on #1467
@murgatroid99 It looks like a possible solution is to enable the following settings on the GRPC client:

[code]

Is that reasonable? If so, are these names and values supposed to be provided in the `channel_args` argument?

[2017-05-26 20:02] blowmage commented on #1283
@swcloud Is this issue still blocked? If not, can we start work on it?

@geigerj Do you have any input on this? All the other changes initiated by #1274 have already been implemented.

[2017-05-26 20:08] geigerj commented on #1283
@blowmage Please continue to hold off on this. There will be a batch of higher-priority changes to the pubsub client library surface coming in the next week or so that we should focus on first. (I'll have more details on those in the next few days.)

[2017-05-26 20:28] blowmage commented on #1287
K, thx!

[2017-05-26 20:32] blowmage commented on #1485
The Transaction#keepalive item has been removed from the list.

[2017-05-26 20:47] hxiong388 opened #1511 "Resource Manager create_project example returns error"
While trying the code example of `ResourceManager::Manager#create_project`:

[code]

It returns this error:

[code]

[2017-05-26 20:55] murgatroid99 commented on #1467
Yes, that should do what you want, and they are supposed to be provided in the `channel_args` argument (specifically, the third argument to the `Client` constructor). I'm surprised you're having problems with this. I thought this was fixed in #2192.

[2017-05-26 21:07] hxiong388 commented on #1511
This seems to be only happening when I use `#create_project`. The other methods work fine as expected.

I tried to dig into the underlying apiary client, but I couldn't figure out which argument was causing the error.

[2017-05-26 21:11] blowmage commented on #1467
Well, it was fixed for node, but not for Ruby. :)

Can we set the channel args on GRPC::Core::Channel? I'm having a hard time finding docs for it. The GAPIC layer takes care of creating a GRPC client for us, but we provide a channel object as an argument.

[2017-05-26 21:49] murgatroid99 commented on #1467
That's what I get for not paying attention to which repo I'm looking at. Yes, when constructing a client stub, those should be passed in a hash in the `channel_args` keyword argument. When constructing a Channel directly, it looks like that goes into the second argument.

[2017-05-26 21:50] #1497 closed

[2017-05-26 22:12] blowmage commented on #1467
Thank you for the confirmation. I have reproduced this error, added the channel_args configuration, and verified the fix. Opening a PR for this change.

[2017-05-30 15:53] dbesserman opened #1514 "pubsub: acknowleging messages doesn't prevent them from getting pulled again"
I can't figure a way to have the message 'consumed'
After creating a subscription, pulling events from it, then acknowledging those events, I expect those events to be marked. But when I pull the subscription again, it sends me the same results as the first time. Just as if I did not acknowledged those results.
What am I missing ?
Thanks

[2017-05-30 16:17] #1511 closed

[2017-05-30 19:12] #1467 closed

[2017-05-30 20:33] quartzmo commented on #1509
@dts Did this response answer your question? Or is there any more information you can add to move this forward?

[2017-05-30 20:44] quartzmo commented on #1514
@dbesserman This should not be happening, and I'm not sure what the problem is. This project has acceptance tests that run against the live service verifying that once an event is acknowledged, pulling will not return it again. Please take a look at [this test](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/acceptance/pubsub/pubsub_test.rb#L229-L239) for e

[2017-05-30 21:55] dts commented on #1509
It did - but it does seem unfortunate that this feature is limited in this way.

[2017-05-30 21:55] #1509 closed

[2017-05-30 21:57] quartzmo commented on #1509
@dts Nevertheless, thanks for asking. It will hopefully serve as feedback for product owners.

[2017-05-31 17:49] geigerj commented on #1476
Tracking feature request to GAPIC code generator here: https://github.com/googleapis/toolkit/issues/1311

[2017-05-31 17:51] geigerj commented on #1474
Configuring the initialization values for the variables in all the samples is outside the scope of the GAPIC team but, per offline discussion, assigning to myself to configure a single method as a proof-of-concept of how this will be done.

[2017-05-31 17:56] geigerj commented on #1473
Filed https://github.com/googleapis/toolkit/issues/1312 as feature request for linking.

[2017-05-31 17:58] geigerj commented on #1476
https://github.com/googleapis/toolkit/issues/1313 for missing enum types

[2017-05-31 18:03] geigerj commented on #1472
Note: there's a larger discussion between @anthmgoogle and others about this, but there are no immediate plans to address this at the GAPIC level.

[2017-05-31 18:08] geigerj commented on #1471
@thagomizer We currently support this through the `chan_creds` parameter of the client object constructor (https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-monitoring/v0.24.0/google/cloud/monitoring/v3/metricserviceclient?method=initialize-constructor). We don't necessarily intend to support the exact same format as the manually written surfaces as long as it's not overl

[2017-05-31 18:21] thagomizer commented on #1471
We can take this offline but the expectation of the user community is that all of the gems should support the same authentication schemes. There is shared code that's available to be used for this.

[2017-05-31 19:23] geigerj commented on #1471
Sure, let's discuss offline.

[2017-05-31 23:19] #1486 closed

[2017-06-01 16:25] frankyn commented on #1430
Thanks @quartzmo and @blowmage for fixing this issue!

[2017-06-01 16:25] #1430 closed

[2017-06-01 18:10] quartzmo commented on #1430
No prob! Planning to release the change today.

[2017-06-01 19:13] qingling128 commented on #1438
Hi Jacob, I just verified the fix in the ruby client lib for non-grpc/REST path (https://github.com/google/google-api-ruby-client/issues/544). Seems Shreekanth's suggestion to enforce V2 format worked there. (See details in that ticket). So the remaining issue is only exclusive to gRPC side.

Looking at the actual fix (https://github.com/google/google-api-ruby-client/pull/583/files#diff-09b6e5f1a0

[2017-06-01 22:21] geigerj commented on #1181
@landrito Let's put the README content in the version landing page in the meantime.

[2017-06-02 06:24] patrickbrownsync commented on #1462
Any solutions?

[2017-06-05 19:28] geigerj commented on #1471
After some discussion in the team, we've decided to support passing a path to a keyfile for channel credentials. Tracking the code generator change as https://github.com/googleapis/toolkit/issues/1324.

[2017-06-05 23:35] hxiong388 commented on #1462
@patrickbrownsync Sorry for the delayed response. This issue seems to be caused at the gRPC level, as discussed in several gRPC issues like [this one](https://github.com/grpc/grpc/issues/7951). When you configure the DJ logger in an initializer or environment file, it creates the gRPC client before forking the processing using the `daemons` gem, resulting the gRPC client to crash after the forking

[2017-06-06 06:17] vkedia opened #1519 "Cloud Spanner Client should prevent nested transactions"
Cloud Spanner does not support [nested transactions](https://en.wikipedia.org/wiki/Nested_transaction). But the client library does allow users to call `database.transaction` inside of the callback that is provided to an outer `database.transaction`. This is misleading since users might believe that this will behave like a nested transaction but in reality these will be two independent transaction

[2017-06-06 09:05] echan00 opened #1520 "Release of the Cloud Speech API v1"
https://cloud.google.com/speech/release-notes

Should we expect utilization of the google-cloud-speech gem to change based on the new release?

[2017-06-06 13:46] blowmage commented on #1519
How do other languages detect and prevent this?

[2017-06-06 14:04] blowmage commented on #1520
I'm not sure what you were asking here. Are you asking if the gem needs to change to support V1? Or are you asking if we expect total usage of the gem to increase because of the release of V1?

The gem already supports V1. Changes were made in google-cloud-speech 0.24.0 to support V1. You can read the 0.24.0 release notes here:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag

[2017-06-06 14:26] blowmage commented on #1519
I expect we can put the transaction_id on the current Thread when a transaction starts, and check for the value when other transactions start, but that may block users from creating and using concurrent transactions with Fibers.

I suppose we could walk the closure's AST and detect if it opens another transaction, but I don't know if that approach is performant enough for production use. This is a

[2017-06-06 15:45] geigerj opened #1521 "Writing Logs via jsonPayload is undocumented"
## Context

This is ported from an internal report from @palladius. @quartzmo @blowmage Could you advise on how to use `jsonPayload` with the Ruby client library?

## Original report

### Issue summary

As a Cloud Logging developer, I'm able to use (as described in [1]) either of  "textPayload",  "jsonPayload" or  "protoPayload": I was able to test first 2 in API Explorer. However, i'm unable to u

[2017-06-06 15:54] quartzmo commented on #1521
I believe this issue is correct: I could not find any documentation examples showing the use of a JSON payload. I did however find this [acceptance test](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/acceptance/logging/logging_test.rb#L130).

[2017-06-06 15:58] quartzmo commented on #1521
As shown in the acceptance test, the [supported way to set a JSON value](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/entry.rb#L463-L464) as the payload is to pass a hash to `Entry#payload=` (not `#json_payload=`).

[2017-06-06 16:02] blowmage commented on #1521
I don't believe this is undocumented. The docs for [`Entry.payload=`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-logging/v1.1.0/google/cloud/logging/entry?method=payload%3D-instance) state:

So to change your code use `jsonPayload` don't convert the JSON value to a string, convert it to a Hash:

[code]

[2017-06-06 16:04] quartzmo commented on #1521
@blowmage Not undocumented, but there is no example.

[2017-06-06 16:38] qingling128 commented on #1438
Hi, do we know if this is an issue with `google-cloud-ruby` or `gRPC` yet? I wonder if I should bother them instead... Keep me posted. Thanks!

[2017-06-06 16:58] vkedia commented on #1519
Does Ruby have Fibers? Where can I read up more on them? Ideally as you said we would put something on Thread local but presence of FIbers make this interesting.
In Go, which has goroutines which are in some sense similar to Fibers, there is a Context object being passed around. So we use that to record the fact that there is already an ongoing transaction.

[2017-06-06 16:59] #1484 closed

[2017-06-06 17:07] blowmage commented on #1519
Yes, Ruby does have a [`Fiber`](https://ruby-doc.org/core-2.0.0/Fiber.html) class.

https://ruby-doc.org/core-2.0.0/Fiber.html

[2017-06-06 17:22] echan00 commented on #1520
I'm asking if the gem needs to change to support V1. Thanks

[2017-06-06 17:22] #1520 closed

[2017-06-06 17:30] vkedia commented on #1519
I guess we can use Fiber local variables
https://ruby-doc.org/core-2.2.2/Thread.html#class-Thread-label-Fiber-local+vs.+Thread-local

[2017-06-06 17:52] blowmage commented on #1519
Yeah, it looks like we get/set values using `Thread.current[]` using either threads or fibers and the behavior will be as expected.

That is, unless users create a nested thread or fiber in the transaction block:

[code]

[2017-06-06 18:01] vkedia commented on #1519
I think we are ok allowing that case. The intent here is to prevent people
from mistakenly use nested transactions and expect them to behave in a
certain way.

On Tue, Jun 6, 2017 at 10:52 AM, Mike Moore <notifications@github.com>
wrote:

[2017-06-06 18:05] blowmage commented on #1519
Okay, so does #1522 satisfy this request?

[2017-06-06 22:59] quartzmo opened #1523 "Update Translation for end of Premium Edition (Beta)"
The Translation API release notes from April 6 state:

Should we remove discussion of Premium Edition and Beta (service, not library) from docs?

[2017-06-06 23:10] geigerj commented on #1438
@qingling128 Sorry for the slow response. The GAPIC library (i.e., `Google::Cloud::Logging::V2::LoggingServiceV2Client`) simply wraps the gRPC error -- it doesn't do any processing of the error itself. @apolcyn may be able to help with any changes required on the gRPC side.

[2017-06-07 08:10] RavenXce opened #1524 "beginOffset for AnalyzeEntitySentiment is always -1"
Reproduction script:

[code]

`annotate(text).entities.first.mentions.first.text.begin_offset` always gives `-1`. It should instead return the entity's position within the original text.

See: https://cloud.google.com/natural-language/docs/analyzing-entity-sentiment

[2017-06-07 17:29] patrickbrownsync commented on #1462
This did not work for me, it still crashes with the same error

[2017-06-07 18:10] hxiong388 commented on #1462
If you're seeing the same error, likely the gRPC client may still be instantiated prior to the process forking. Can you please double check `require "google/cloud/logging"` and `Google::Cloud::Logging.new` are only invoked after process fork.

Meanwhile, please provide the version of gems you're using. Such as rails, delayed_job, daemons, google-cloud-logging, etc.

Finally, we can also try disabl

[2017-06-07 18:11] hxiong388 commented on #1462
@patrickbrownsync  Actually, it would be better if you can provide the full Gemfile.lock.

[2017-06-07 18:28] quartzmo commented on #1524
@RavenXce Thank you for reporting this issue. I'll take a look at it later today and let you know what I find.

[2017-06-07 20:51] JasonLunn commented on #712
For anyone still following along, JRuby support for gRPC is blocked on https://github.com/grpc/proposal/pull/13 before work can begin in earnest...

[2017-06-07 21:16] blowmage commented on #1523
/cc @geigerj

[2017-06-07 22:42] patrickbrownsync commented on #1462
@hxiong388 I had other google cloud gems installed via stackdriver, after disabling those and using your solution it seemed to work.

Thanks!

[2017-06-07 22:42] #1462 closed

[2017-06-08 00:52] geigerj commented on #1523
I'm following up and will update when I know more.

[2017-06-08 01:12] hxiong388 opened #1526 "Google::Cloud::Logging::AsyncWriter terminates prematurely."
If the application is terminated while calling `Google::Cloud::Logging::AsyncWriter#write_entries`, it would error out and drop all the queued entries without submitting them, because of [this line](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/12eb9d41d52ab7d1092e60f3a4b5031fce30bce3/google-cloud-logging/lib/google/cloud/logging/async_writer.rb#L149).

[2017-06-08 04:45] RavenXce commented on #1524
Hi @quartzmo, I just realized the issue is on my incorrect usage of the API, sorry.

Setting the encoding type as `None` caused the above to happen (as specified by the API): https://cloud.google.com/natural-language/docs/reference/rest/v1/EncodingType?hl=pt

[2017-06-08 04:45] #1524 closed

[2017-06-08 05:27] sidguptajhs opened #1527 "Undefined method silence for Rails 5.1.1"
I'm running a standard rails web app with Rails 5.1.1
In rendering the assets I'm getting this error.

#<NoMethodError: undefined method `silence' for #<Google::Cloud::Logging::Logger:0x000000060f0608>>
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sprockets-rails-3.2.0/lib/sprockets/rails/quiet_assets.rb:11:in `call'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/google-cloud-logging-1.1.0/lib/google/cloud/logg

[2017-06-08 06:53] AlfonsoUceda opened #1528 "Create, configure and load table in one call"
Regarding to issue https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/939 I'm opening this issue to allow the creation of `Dataset#load`.

@blowmage as you said me in this comment https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/939#issuecomment-284005734

I would like to know if this operation can be supported, we have this use case: we create the table or truncate it

[2017-06-08 16:14] geigerj commented on #1523
Communication from the API team was to go ahead and remove all mentions of Premium Edition/Beta from the docs.

[2017-06-08 18:37] hxiong388 commented on #1527
Hi @sidguptajhs. Thanks for reporting the issue. The `Google::Cloud::Logging::Logger` is implemented to match `::Logger` specs, but it doesn't have the additional methods that `ActiveSupport::Logger` adds on top of `::Logger`, such as `ActiveSupport::Logger#silence`. We'll look into filling the gap.

/cc @dazuma

[2017-06-08 20:22] quartzmo opened #1529 "Improve Spanner test coverage"
This issue is from @danoscarmike:

<img width="1147" alt="screen shot 2017-06-08 at 10 53 55 am" src="https://user-images.githubusercontent.com/205445/26949043-aba2f7e8-4c55-11e7-997a-32961ad36825.png">

[2017-06-08 20:50] hxiong388 commented on #1527
@sidguptajhs It seems like `ActiveSupport::Logger` actually injects the "#silence" method onto `Google::Cloud::Logging::Logger` in development environment, but not in production. Are you using the 'config.assets.quiet = true' in your production configuration? You may be temporarily workaround this error by disabling this setting for now.

[2017-06-09 13:42] quartzmo commented on #1528
@AlfonsoUceda Are you opening a pull request?

[2017-06-09 13:43] AlfonsoUceda commented on #1528
@quartzmo sorry I wanted to say: issue

[2017-06-09 13:46] quartzmo commented on #1528
OK, thanks for the clarification. I'll let @blowmage comment on it. But I would be happy to work on the pull request for it if there is agreement that it should be added.

[2017-06-09 18:31] apolcyn commented on #1438
When I run that repro posted above by @geigerj, I get:

[code]

This received headers and trailers received shows:
(traced with `GRPC_TRACE=all,-queue_pluck,-queue_timeout`)
[code]

It looks like grpc is attaching the `grpc-message` and the custom trailers received, to the thrown error, as intended. It wouldn't ever be doing any extra processing on the received trailing metadata before bubbling up

[2017-06-09 19:40] quartzmo commented on #1528
@AlfonsoUceda We are planning to begin work on this feature today.

[2017-06-09 20:47] AlfonsoUceda commented on #1528
@quartzmo thank you so much :)

[2017-06-12 18:57] blowmage opened #1535 "Publishing messages without data"
The current Pub/Sub API allows messages to be published without a data payload.

[code]

Should this continue to be allowed? Or is `data` required for publishing to a topic?

[2017-06-12 19:05] blowmage opened #1536 "Encoding of data when publishing"
In #1530 there are several discussions of how to deal with publishing data that is not already binary encoded. The current behavior is to match the REST implementation's use of Base64 and to use `#force_encoding`. @lukesneeringer has asked for the following:

1) Change the implementation to not allow data that is not already binary encoded. That would mean to raise an error when publishing data th

[2017-06-12 19:14] geigerj commented on #1536
In the short term at least, I would prefer option 1 for consistency with the Python/Node client libraries. Consistency is especially important here because a Publisher may be using a different client library than the subscriber, and we don't want to imply by auto-encoding the publish request that the Subscriber will know how to decode it. (We can also relax this restriction after the first iterati

[2017-06-12 20:11] thagomizer commented on #1536
If we have to pick between the two I would prefer #2. AFAIK we haven't had any issues with the current handling of encoding and raising an error will alert users if there may be an issue.

[2017-06-12 20:17] geigerj commented on #1535
@tbkneeland

[2017-06-12 20:39] blowmage commented on #1536
I should have added a third option to keep things as they are. That is my preference, FWIW. :)

All strings or IO objects can be expressed as a series of bytes, which is what we are currently sending as the message data. All `#force_encoding` is doing now is taking the existing list of bytes and changing the encoding associated with it so it can be sent to the RPC. It isn't modifying the bytes.

[2017-06-12 20:50] #1528 closed

[2017-06-12 20:55] quartzmo opened #1537 "Add public Schema creation, and schema option to Dataset#create_table and Dataset#load"
From @AlfonsoUceda's comments in PR #1533:

[code]

More on  @AlfonsoUceda's usage:

[code]

[2017-06-12 21:06] blowmage commented on #1536
Here is another way to look at the existing implementation. Say the user publishes the UTF-8 string "👍". That string has the following bytes:

[code]

If you pack each byte number as an 8-bit unsigned byte, you get the following:

[code]

This is the same as calling `#force_encoding`:

[code]

So the current behavior is to take whatever bytes the user provides, regardless of encoding, and publish

[2017-06-12 23:59] lukesneeringer commented on #1536
@blowmage, thank you for separating out this issue for discussion. I do want to /cc @tbkneeland because this has been an issue that the Pub/Sub team has been passionate about.

I also do want to copy over my original commentary in full; I will follow up momentarily with responses.

------------

Summoning @remi and @tbkneeland; we need discussion here. :-)

So, disclaimer: I am a Python guy so I h

[2017-06-13 01:48] lukesneeringer commented on #1536
Apparently my definition of "momentarily" was different than that of most dictionaries. Flying, what can you do?

[2017-06-13 02:12] lukesneeringer commented on #1536
Okay, now sitting down to write a real reply to this. :-)

First, a quick one: I said (based on naive looks at Stack Overflow) to use `.encode('BINARY')`, but I see you are saying `.encode('ASCII-8BIT')`. You are the expert on how Ruby encodings are spelled, so I completely defer to you. :-)  If you see references to `BINARY` in anything I write (past or future) you may consider them to be interch

[2017-06-13 02:18] lukesneeringer commented on #1535
@tbkneeland The use case for this would be if you wanted attributes, but no data. There is code in the Ruby client only that allows this, and you can send just the attributes as the first argument (it figures it out because you send a hash).

[2017-06-13 10:00] blowmage commented on #1536
When encoding, the `BINARY` is an alias for `ASCII-8BIT` and can be used interchangeably.

[code]

[2017-06-13 10:21] blowmage commented on #1536
The more I think about this, the more I'm convinced the current implementation is probably correct. The thing is, any passed in String or IO object is _already_ a binary blob. But it is a binary blob with an encoding. What we are doing is taking the bytes from that blob and passing them to Pub/Sub. For now, let's leave the issue of `#force_encoding` and `#encode!` aside and focus on the behavior.

[2017-06-13 10:31] blowmage commented on #1536
If we can agree that we should accept the bytes that are provided, then we can return to the discussion of the best way to accomplish this. `#force_encoding` leaves the source bytes as is, which is what we want, but mutates the source's encoding, which is likely something we don't want. `#encode!` mutates both the source bytes and encoding, converting it from the encoding it was to the new encodin

[2017-06-13 10:38] blowmage commented on #1536
This comment is a side note about how we signal to the user that we are returning bytes. Both BigQuery and Spanner return bytes from their respective data stores, and the library wraps the binary encoded string in a StringIO object to differentiate it from other strings. I think that is a change we should make in Pub/Sub for similar reasons. So instead of `Message#data` returning a binary encoded

[2017-06-13 10:51] blowmage commented on #1536
My apologies for confusing the threading of the discussion a bit. I wanted to make this point before the side not about StringIO:

If we still really don't like the use of `#force_encoding` in `bytes = source.dup.force_encoding "BINARY"`, we could remove the method call completely and replace it with `bytes = source.bytes.pack("C*")`. Both are doing the exact same thing.

The reason I advocate for

[2017-06-13 13:43] AlfonsoUceda commented on #1537
@quartzmo thanks!

[2017-06-13 16:20] kumudt opened #1539 "`assertion failed` error on multi core machines with google-cloud-logging ruby gem"
Our environment:
[code]

We are pushing logs to Google Stackdriver from our Rails app using google-cloud-logging gem. We are using Docker to package and run our app.
When we run any rake tasks of our app (inside Docker container) on multi-core Linux machines we are getting this error.
[code]
The same Docker deployment is not causing any issues on single core Linux machines or multicore OSX machine

[2017-06-13 16:22] lukesneeringer commented on #1536
This is a good thread.

So, I intuitively understand how `#encode!` mutates the bytes and encoding if you, say, take a latin1 string and encode it to utf-8. What happens exactly when going to binary?

I know you would _definitely_ end up with an error if you ended up with bytes that were invalid for the encoding. (I assert we want this.) If it is valid, what exactly happens?

Yes, definitely.

No

[2017-06-13 17:16] blowmage commented on #1536
`#encode!` will raise an error for any encoded character that does not fit into ASCII. So assuming latin1 is compatible with 8-bit ASCII, no error will be raised. (I don't know for sure they are compatible, I just assume it.)

Here is an example of a UTF-16 string before and after having `.encode! "BINARY"` called on it:

[code]

As you can see, calling `.encode! "BINARY"` changes the bytes in the

[2017-06-13 17:40] quartzmo opened #1540 "Add requester pays to Storage Bucket"
Requester Pays enables the owner of a bucket to indicate that a user accessing the bucket or an object it contains should assume the transit costs related to the access. The feature is whitelist only at present.

- [ ] Add a metadata flag on a bucket to indicate that it is a requester pays bucket.
- [ ] Add documentation of whitelist-only availability to API docs and guide.

[2017-06-13 18:16] hxiong388 commented on #1539
Hi @kumudt. Thanks for reporting the issue. Unfortunately, I'm not able to replicate error you reported. I ran a dockerized Rails 3.2 app on my local multicore Linux machine and it's able to submit log entries to Stackdriver Logging service. If you're using a customized Dockerfile to build your Docker image, would you be able to provide that?

@apolcyn This error seems to be coming from [grpc gem]

[2017-06-13 19:01] apolcyn commented on #1539
I can't say off the bat what would cause this.

But +1 in order to repro, it would be great to get the docker image, and possibly a code/task to run

[2017-06-13 19:19] quartzmo opened #1541 "Add userProject to support requester pays in Bucket and File operations"
Requester Pays enables the owner of a bucket to indicate that a user accessing the bucket or an object it contains should assume the transit costs related to the access. The availability of this feature is whitelist-only at present.

- [ ] Add a`user_pays` flag or `user_project` string to the relevant `Bucket` and `File` methods.
- [ ] When param above is true or given, send a project ID in the `u

[2017-06-13 19:22] kumudt commented on #1539
@hxiong388 @apolcyn

My Dockerfile looks like this
[code]
container-script.sh contains
[code]
And it is giving me that error while executing `bundle exec rake assets:precompile`

[2017-06-13 19:52] hxiong388 commented on #1539
@kumudt Still no luck with the Dockerfile above (I don't have your "staging" configuration, so I tried both `RAILS_ENV=development` and `production`). My vanilla Rails 3.2 app is able to run without any errors. Are you able to to test the `google-cloud-logging` gem on a vanilla Rails 3.2 app? Also, can you be more specific on which "multi-core Linux machine" you're using?

[2017-06-13 20:04] kumudt commented on #1539
@hxiong388 I am running this docker on a kubernetes 1.6.4 cluster with Ubuntu 16.04.2 LTS nodes (AWS m4.large and r4.large running kernel 4.4.0-1013-aws). It is running fine on m3.medium nodes running the same Ubuntu and kernel version.

Also, can you share this vanilla rails app? I will try to replicate the error on that app and share that with you.

[2017-06-13 20:33] hxiong388 commented on #1539
@kumudt It's practically a new Rails 3.2 app with nothing but `google-cloud-logging` gem and your Dockerfile. You can see it [here](https://github.com/hxiong388/rails_3_2).

[2017-06-13 21:34] qingling128 commented on #1438
I would guess so, but I'm not sure. Seems it's kind of hard to locate the root cause with multiple components involved: Ruby client, gRPC, Logging API, One Platform. I just set up a quick real-time sync tomorrow and invited Jacob, Alexander, Shreekanth and you. Hopefully that could help shed some light on the issue.

[2017-06-13 21:57] kumudt commented on #1539
@hxiong388 I have added our code to your Rails app and I am able to reproduce it with [this code](https://github.com/kumudt/rails_3_2.git).

[2017-06-14 00:04] hxiong388 commented on #1539
@kumundt I still can't get your sample app to reproduce the error. It submitted logs to Stackdriver Logging without any problem, and I didn't see anything suspicious behavior that may cause this error from reading the code.

It probably really have to do with the AWS environment that requires further diagnosis.

[2017-06-14 00:29] quartzmo commented on #1540
From the gapi discovery doc:

[code]

[2017-06-14 03:35] lukesneeringer commented on #1536
Okay, this is useful.

To put it in perspective, the requirement in Python is to take `str` objects and encode them into `bytes` (e.g. `s.encode('utf8')`); similarly, in Node, we only take `Buffer` objects. My understanding is that Java and Go are similar.

So...that is the equivalent of _what_ exactly here?

[2017-06-14 07:45] kumudt commented on #1539
Hi @hxiong388
You are right. This issue is specific to certain hardware. This is happening on AWS r4.large or similar instances (I have reproduced this on r4.large and i3.large).
So, I think this error is coming on all Intel Xeon E5-2686 v4 based instances.
You can reproduce this by running on r4.large or i3.large or any Intel Xeon E5-2686 v4 based instances.
[code]
The above image built from [thi

[2017-06-14 14:15] blowmage commented on #1536
Its hard for me to say because each environment is so different. In Java you have a Buffer, but you also have a ByteBuffer, which would probably be more useful for Pub/Sub. In Ruby we have a StringBuffer, not a separate ByteBuffer or CharBuffer.

A byte in Ruby is an instance of a String object. A character in Ruby is also an instance of a String object. Ruby doesn't have separate classes for thes

[2017-06-14 20:50] geigerj commented on #1438
From offline discussion:
- This problem is almost certainly not Ruby- or logging-specific
- V1 vs V2 is irrelevant for gRPC; all gRPC errors are V2
- gRPC cannot handle deserialization of custom error types, since it doesn't know about the custom error protos
- The responsibility of handling deserialization should therefore fall on the GAPIC layer
- @geigerj to follow up internally about getting t

[2017-06-14 21:12] qingling128 commented on #1438
Thanks @geigerj for summarizing this! And thanks to everyone for helping out. Glad we were able to figure out an approach. :)

[2017-06-15 16:57] reneklacan commented on #1232
@quartzmo @blowmage hi guys, how does it please looks with AR adapter? any plans for it?

[2017-06-15 18:11] reneklacan commented on #1232
That is kind of stupid from your employer :-/

@blowmage Anything I can do to help?

[2017-06-15 18:16] blowmage commented on #1232
Contribute what you can to [supership-jp/activerecord-spanner-adapter](https://github.com/supership-jp/activerecord-spanner-adapter). It looks like @yugui has been making changes, but I'm sure she would appreciate more eyes on the project.

[2017-06-15 20:21] blowmage opened #1545 "New zone file gem breaks DNS build"
Today [zonefile 1.06](https://rubygems.org/gems/zonefile/versions/1.06) was released, which google-cloud-dns has a dependency on. Some change in the gem is causing the builds to fail.

[code]

[2017-06-15 21:56] #1545 closed

[2017-06-16 16:10] tbkneeland commented on #1535
Our publicly documented API should be clearer on this point. Better language would be:

"Each message must contain either non-empty data, or at least one attribute."

I've filed an (internal) bug to clarify the docs (b/62701766)

[2017-06-16 16:17] tbkneeland commented on #1535
That is, my position is that every language's client library must allow users to publish all of:

- Message with data only
- Message with attributes only
- Message with both data and attributes

As for a message with no data or attributes: I don't think we should get into the business of client-side validation (beyond that which is necessary to avoid string/bytes confusion as discussed elsewhere).

[2017-06-16 16:21] tbkneeland commented on #1536
As Luke said: Yes, the CP/S team is very passionate about these encoding / interop issues... but I'll defer commenting on this until after reviewing the Publisher/Subscriber PRs

[2017-06-16 17:04] blowmage commented on #1535
Fantastic! Thank you very much for the clarification.

[2017-06-19 21:40] hxiong388 commented on #1462
Ahhhhh, right, all the google-cloud-ruby gems/clients that use gRPC share this same problem on process forking. Hope gRPC can fix this problem in the future.

[2017-06-20 01:05] geigerj opened #1550 "Error message when project not specified is confusing"
### What

When the Spanner client library doesn't know what project you're using, it fails with a confusing GAX error message. Instead, we should fail earlier with an error message noting the missing value and hinting at how to configure it. I'm not sure whether this is unique to Spanner.

### To reproduce

Clear project-related environment variables, and run the Spanner [create_instance example](

[2017-06-21 01:46] bjwatson commented on #1519
@vkedia Can we get a review of https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1522? Thanks!

[2017-06-21 20:58] blowmage commented on #1519
Closed via #1522.

[2017-06-21 20:58] #1519 closed

[2017-06-21 22:09] #1527 closed

[2017-06-22 16:46] blowmage commented on #1485
Delivered in #1502

[2017-06-22 16:46] #1485 closed

[2017-06-22 17:30] #1550 closed

[2017-06-22 21:53] #1540 closed

[2017-06-22 21:53] #1541 closed

[2017-06-26 14:08] lukesneeringer commented on #1535
Great. Thank you @tbkneeland.

[2017-06-26 14:08] #1535 closed

[2017-06-26 14:36] brettgriffin opened #1562 "google-cloud-pubsub: No such file to load -- google/gax (LoadError)"
I'm getting an error that seems to be related to #1194 and googleapis/gax-ruby#54 despite using a version of `google-cloud-pubsub` that is greater than 0.23.0.  Can someone tell me if I'm doing something wrong here?

Error at runtime in Docker container:

[code]

Pertinent Gemfile.lock lines:

[code]

This is my Dockerfile:

[code]

My application runs fine locally, but I suspect this is related t

[2017-06-26 14:53] blowmage commented on #1562
Hi @brettgriffin, thanks for opening the issue. I've verified the file permissions in google-gax 0.8.3 are indeed missing global read. I'll escalate to the google-gax team.

[2017-06-27 17:48] blowmage commented on #1514
This appears to be a characteristic of the Google Cloud Pub/Sub service. The [Subscriber Overview](https://cloud.google.com/pubsub/docs/subscriber) states:

So even assuming that the message was acknowledged within the subscriptions ack deadline, it _may_ be pulled from the subscription again.

[2017-06-27 19:24] blowmage commented on #1562
@brettgriffin The google-gax library just released 0.8.4 with updated file permissions. Does this new release resolve this issue for you?

[2017-06-27 19:37] danoscarmike commented on #1181
@landrito @geigerj can you please revisit?  Is priority P0 appropriate here - critical issue / imminent release blocking?  Thanks.

[2017-06-27 19:39] landrito commented on #1181
I think this can be resolved. @eoogbe made this https://github.com/googleapis/toolkit/pull/1358 which should address this. @geigerj @eoogbe can you confirm?

[2017-06-27 19:46] geigerj commented on #1181
@danoscarmike This is blocking for all new beta-level releases. I'm not clear on the distinction between P0 and P1 that we're using. As @landrito said, @eoogbe is actively working on this.

[2017-06-28 03:55] danoscarmike commented on #1181
@swcloud can you please verify and close this issue if resolved?  Thanks!

[2017-06-28 08:43] #1514 closed

[2017-06-28 15:40] geigerj commented on #1181
@danoscarmike this issue is not resolved; there is still WIP. It's not blocking _any_ imminent releases, but it is blocking _beta_ releases. I think P0 is probably still accurate.

[2017-06-28 16:03] blowmage commented on #1536
I believe this is resolved by #1564.

[2017-06-28 16:03] #1536 closed

[2017-06-28 16:09] danoscarmike commented on #1181
Understood.  Thanks @geigerj

[2017-06-28 19:37] #1537 closed

[2017-06-29 23:45] jochenseeber commented on #1118
Is there any news on this? I really would be able to use BigTable :-)

[2017-06-30 00:11] geigerj commented on #1118
@jochenseeber Sorry, no updates yet.

[2017-07-03 16:31] palladius commented on #1521
So it looks like the culprit is this: https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/entry.rb#L461-L466

You add content to entry.payload. Then:
1. If it belongs to class Google::Protobuf::Any ==> protobuf
2. Else if it is hashable (responds to :to_hash) ==> JSON
3. Else convert to string.

I created a has payload and it works lik

[2017-07-03 19:40] #1451 closed

[2017-07-05 18:45] quartzmo commented on #1529
The lowest 3 in this report are GAPIC code that should be excluded:

`/lib/google/cloud/spanner/v1/spanner_client.rb`
`...spanner/admin/database/v1/database_admin_client.rb`
`...spanner/admin/instance/v1/instance_admin_client.rb`

[2017-07-05 19:19] frankyn commented on #542
Ping @geigerj could you take a look at this issue?

In addition, I understand the Ruby client doesn't require a user to manually set Compute Engine credentials, but different forms of authentication have been requested for new auth docs -> https://cloud.google.com/docs/authentication/production.

It would be helpful to at least document the different authentication workflows for the Client Library

[2017-07-05 20:17] geigerj commented on #542
@frankyn There is work in progress to add a (documented!) `keyfile` parameter to the initializer for the GAPICs. @landrito is on point for this, and we expect it to come in with the next refresh of the GAPICs, within the month.

IIUC from @blowmage's comment above,  for the existing manually written client libraries, we just need to document the `keyfile` parameter for the per-service use case? If

[2017-07-06 03:10] danoscarmike commented on #1529
@lukesneeringer @geigerj can you look at updating CI to exclude the 3 x GAPIC files identified by @quartzmo above?  TY!

[2017-07-06 13:32] #1529 closed

[2017-07-06 15:22] quartzmo opened #1576 "Exclude low-level (GAPIC) code from CI test coverage reports"
Per @danoscarmike's [comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1529#issuecomment-313283584) in #1529,:

Should this exclusion should be applied to all generated code files in all packages?

[2017-07-06 16:09] frankyn commented on #542
Thanks @geigerj!

[2017-07-06 16:18] zedalaye opened #1577 "Expose Google::Cloud::BigQuery::InsertResponse::InsertError.index"
I'm sending database record to BigQuery and I want to map insert errors back to my database. I cannot access the InsertError.index variable because it's hidden from InsertResponse::InsertError.

I had to hack InsertResponse to get @gapi instance variable and manually iterate over insert_errors to find the row index :

[code]

Can you please expose the index property in InsertResponse::InsertError

[2017-07-06 16:32] quartzmo commented on #1577
@zedalaye Thank you for reporting this issue (and providing the detailed example). I will look into it today.

[2017-07-06 18:52] #1576 closed

[2017-07-06 20:35] quartzmo commented on #1577
@zedalaye We are definitely in favor of this change (and apologize for the omission.) Would you like to submit a pull request exposing `index` on `InsertError`? If not, I will do a PR early next week, but we are always happy to get contributions.

[2017-07-06 21:05] zedalaye commented on #1577
Sure !

[2017-07-07 22:21] eoogbe opened #1584 "jsondoc doesn't handle URL links"
The YARD format for URL links is `{url title}`, e.g. `{https://cloud.google.com/logging/quota-policy quota limit}` which should look like [quota limit](https://cloud.google.com/logging/quota-policy). When generating the docs for a page with correctly formatted URL links, jsondoc will issue a warning like:
[code]
and the page will show the URL instead of the title. This looks weird when the text is

[2017-07-07 22:38] quartzmo commented on #1584
@eoogbe Can you format the links in markdown instead? `[title](url)`, e.g. `[quota limit](https://cloud.google.com/logging/quota-policy)`.

The project's `.yardopts` configurations specify: `--markup markdown`

[2017-07-07 22:57] eoogbe commented on #1584
Thanks, the markdown link format works.

[2017-07-07 23:03] quartzmo commented on #1584
@eoogbe OK to close this issue?

[2017-07-07 23:07] #1584 closed

[2017-07-07 23:22] quartzmo commented on #1521
What changes are needed to resolve this issue, if any?

[2017-07-07 23:27] #1523 closed

[2017-07-10 17:02] #1577 closed

[2017-07-11 07:25] semmiverian opened #1587 "[datastore] Undefined method `value_type' for #<Hash:0x007fea54bdc180>"
Hi i've been trying to do a queries to the data store on ruby with this corresponding code

`query = dataset.query('builder-callout-extensions')
                                                                         .where('language', '=', language)
                                                                         .where('vertical', '=', vertical)
                dataset.run query`

but i

[2017-07-11 07:43] blowmage commented on #1587
I don't get that error. What version of google-cloud-datastore are you using? What version of ruby are you using? What platform are you using?

[2017-07-11 12:22] semmiverian commented on #1587
Hi @blowmage thanks for the reply

i don't know why but when i delete the gemfile.lock and redoing the bundle install, everything works fine 😄

[2017-07-11 12:22] #1587 closed

[2017-07-11 14:35] blowmage commented on #1587
Glad to hear it resolved itself!  If you have any other problems please open another issue.

[2017-07-13 12:43] mtricolici opened #1588 "Caller does not have storage.buckets.get access"
[code]

via ruby it doesn't work using the same service-account.json! why?!

[code]

...
forbidden: Caller does not have storage.buckets.get access to bucket 'some-bucket'

[2017-07-13 12:44] mtricolici commented on #1588
I don't need to list buckets! I just want to list all files in a bucket that service account has access to!

[2017-07-13 13:01] mtricolici opened #1589 "google bucket. list files in current directory only (NOT recursive listing)"
How to list files/directories in a bucket without recursive listing?

[2017-07-13 13:29] #1589 closed

[2017-07-13 13:39] mtricolici opened #1590 "list folders in a bucket"
[code]

code above lists only files. How to see folders?

[2017-07-13 15:46] bkoski opened #1592 "Vendorizing google-cloud-ruby only packages google-protobuf for current OS"
If you vendorize a gemset that includes google-cloud-ruby (`bundle package --all`), the vendor folder will only include the google-protobuf .gem for the current platform.  This results in a missing gem error if you try to `bundle install --local` on another platform.

For example: if I `bundle package --all` on OS X, vendor/cache will include google-protobuf-3.3.0-universal-darwin.gem.  If I try t

[2017-07-13 17:34] blowmage commented on #1592
This looks like a Bundler issue to me. Can you suggest any changes we can make to support the behavior you are looking for?

My understanding is that for Bundler to support multiple platforms you need to add the platform using [`bundle lock`](http://bundler.io/v1.15/man/bundle-lock.1.html#SUPPORTING-OTHER-PLATFORMS), and then to package using the [`--all-platforms`](http://bundler.io/v1.15/man/bun

[2017-07-13 18:11] mtricolici commented on #1590
[code]

[2017-07-13 18:13] #1590 closed

[2017-07-13 20:37] quartzmo commented on #1590
Please note that the example above is NOT RECOMMENDED as it uses undocumented access to `storage.service` to use the underlying [google-api-client](http://www.rubydoc.info/gems/google-api-client/Google/Apis/StorageV1/StorageService) implementation. This implementation is subject to change at any time without warning, and has in fact been changed in many of the other packages in google-cloud-ruby.

[2017-07-13 20:53] quartzmo commented on #1588
Unfortunately, it is not possible to list files without access to the bucket that contains them. This is due to the current design of the library, which requires that the bucket is loaded before listing its files.

I believe one of the founding goals of this project was a "clean, OOP-inspired design", which comes at some cost to flexibility. For more flexibility, the [google-api-client/Google/Apis

[2017-07-14 01:54] bkoski commented on #1592
Thanks for the lead!  Did some more tracing and there is a bug/undocumented quirk in bundler 1.15.1 where the `--all-platforms` flag doesn't work unless the `specific_feature` feature flag is tripped.

Here's what ended up working for me:
[code]

This results in a vendor/cache with
[code]
which works nicely because the platform-less version will compile at `bundle install` time on platforms withou

[2017-07-14 01:54] #1592 closed

[2017-07-14 02:04] blowmage commented on #1592
Glad you figured it out. Thanks for sharing the solution!

[2017-07-14 03:00] remi opened #1593 "List available methods in class documentation"
Some libraries, like Monitoring, include a list of available methods after the class overview

![screen shot 2017-07-13 at 7 57 06 pm](https://user-images.githubusercontent.com/280/28196432-801ccb82-6805-11e7-9f4a-915af46de473.png)

Most other libraries don't currently list the available methods for a documented class.

The index is really helpful.

Request: can we add this to all documented class

[2017-07-14 05:39] mtricolici commented on #1588
I've managed to list bucket files/dirs (using the same service account) using the code bellow:
`storage.service.list_files( ...`

[2017-07-14 05:49] mtricolici commented on #1590
thanks @quartzmo . unfortunately your example requires service account to have 'storage.buckets.list' permission.

[2017-07-14 14:30] quartzmo commented on #1590
See #1588 for discussion of bucket access.

[2017-07-14 14:32] quartzmo commented on #1588
Please note that calling `storage.service.list_files( ...` as suggested above is NOT RECOMMENDED as it uses undocumented access to `storage.service` to use the underlying [google-api-client](http://www.rubydoc.info/gems/google-api-client/Google/Apis/StorageV1/StorageService) implementation. This implementation is subject to change at any time without warning, and has in fact been changed in many o

[2017-07-14 14:37] quartzmo commented on #1588
I can think of two possible solutions for this issue:

1. Expose [`Objects.list`](https://cloud.google.com/storage/docs/json_api/v1/objects/list) as a top-level method (`Project#files`) that accepts the bucket name.
1. Add a mode (option) to `Project#bucket` to return a stub containing the given bucket name without retrieving the bucket metadata. This stub could then be used to call `Bucket#files`

[2017-07-14 15:33] blowmage commented on #1593
The reason the list is missing is that the Angular documentation app has this list as part of the constructor method documentation. Most of the Google Cloud Ruby classes hide the constructor, as instances should be created by calls on other objects, so this list isn't shown.

This list can be added, but we need to change how the Angular app is designed/implemented to do it.

[2017-07-14 20:38] remi commented on #1593
Ack. I'd file this under *"annoying but not super critical"*

For what it's worth, the way that I consume the https://googlecloudplatform.github.io/google-cloud-ruby class documentation is to ⌘f search the page for instances of "#" to browse the class's methods. I've also used irb to print class.methods.sort - Object.methods instead of the documentation on occasion 😕

It would be a greatly appreci

[2017-07-14 20:47] remi opened #1596 "Spanner: could Database#client be an alternate way of getting a client?"
Based on existing idioms used throughout the Google Cloud Client libraries for Ruby, I presumed that the following would work:

[code]

Today, you can get a Database via either the Project or the Instance

[code]

And similar idioms are used throughout google-cloud-ruby to get resource object.

tl;dr I found it surprising that database.client wasn't available and I have to pass the instance_id and

[2017-07-14 23:07] blowmage commented on #1596
It wasn't implemented that way because Spanner is really a combination of 3 different APIs:

* Data
* Instance
* Database

The Client uses the Data API, and is the real star of the library. We expect most users will focus on the Data API. `Project#instances` and `Project#instance` and `Instance` use the Instance API. `Project#databases`, `Project#database`, `Instance#databases`, `Instance#database

[2017-07-15 03:59] remi commented on #1596
*AH* that makes perfect sense.  From an implementation point of view & helping users from shooting themselves in the foot, I totally understand.

As a new user using the library *(only considering the library interface)*, I found it surprising *(and a bit silly)* that my Database object couldn't give me a Client.

[code]

**Me:** *"Seriously?!"*

But... if my application were only given Data API a

[2017-07-17 20:37] quartzmo commented on #1588
@remi This issue raises a tension that I think is shared by #1596, which is that between granular access control and the hierarchical access of an OOP-inspired design. We would love to get your input on this issue as well.

[2017-07-18 21:57] remi commented on #1588
There's an existing idiom in the client libraries for doing this, eg.

[code]

The Pub/Sub skip_lookup option is [documented](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.35.0/google/cloud/pubsub/project?method=topic-instance) as such:

This issue is one of the trade-offs/cons of the approach that these Ruby Google Cloud libraries take.  One of the benefits is tha

[2017-07-18 22:33] quartzmo commented on #1596
OK to close this issue?

[2017-07-18 22:34] quartzmo commented on #1588
Thank you @remi.

@blowmage What is your opinion on adding `skip_lookup` behavior similar to that in Pub/Sub to all relevant methods in Storage? Do you have any reservations about having taken this approach with Pub/Sub?

[2017-07-18 22:58] #1596 closed

[2017-07-19 03:37] danoscarmike opened #1599 "Main README does not mention Cloud Video Intelligence, Monitoring (Alpha)"
Add links and starter code for Video Intelligence

[2017-07-19 18:02] frankyn opened #1601 "Add code examples demonstrating usage of file generation/versions"
Hi!

Is it possible to list available file generations using the Storage Client? Also is it possible to select a generation when accessing a file from a bucket?

Thank you!

[2017-07-19 18:27] quartzmo commented on #1601
Yes, both of these are supported:

1. To list available generations for a file, call [`Bucket#files`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/bucket.rb#L493) with the `prefix` option set to the name of the file and the `versions` option set to `true`. The `versions` option:

1. To select a generation when accessing a file f

[2017-07-19 19:12] frankyn commented on #1601
Thanks @quartzmo! I missed these two options in the docs. As always your help is greatly appreciated!

[2017-07-19 19:26] quartzmo commented on #1601
@frankyn Feel free to make a case for adding code examples to demonstrate file versioning if you feel it is important.

[2017-07-19 20:30] blowmage commented on #1588
I worry about unforeseen complications adding `skip_lookup` to libraries not originally designed for it. I sat on this question overnight and while I still have my concerns, I don't think they should stop progress and granting users additional control over the API calls made (or not made).

[2017-07-19 20:40] frankyn commented on #1601
Reopened to use as a request:

I was doing a parity check on functionality of the Storage client. After reviewing the documentation, it would be helpful to have examples of using different generations of a file. The library uses version and generation interchangeably and that confused me when searching for versioning related information about the client.

Example: `Bucket#file` uses parameter gene

[2017-07-19 21:04] quartzmo commented on #1601
I feel this is a valid request. We can update the title of this issue to match it.

The option names `generation` and `versions` match the names in the service API. For continuity with official documentation, I feel it is important to keep these names unchanged. However, adding a discussion of versioning to our [Storage guide](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-c

[2017-07-19 21:56] hxiong388 commented on #896
PR google/google-auth-library-ruby#97 has been merged and released in googleauth v0.5.2.

[2017-07-19 21:57] #896 closed

[2017-07-19 22:40] arhamahmed opened #1602 "Resource Manager policy example fails"
Calling `policy` on a project I own fails.

Example:
[code]

The error:
[code]

[2017-07-19 22:43] quartzmo commented on #1602
@arhamahmed Thanks for finding and reporting this error! We will attempt to reproduce and fix if needed. Appreciate the help!

[2017-07-19 22:44] frankyn opened #1603 "[Storage] Request to add Bucket#storage_class= to change default storage class"
Hi,

This is a request to add `Bucket#storage_class=` to the Storage Client library.

Expected documented example:
[code]

[2017-07-19 22:52] quartzmo commented on #1603
I don't see that it is currently possible, but it appears that we are now able to add `Bucket#storage_class=`, since `storageClass` is marked writeable in the [Buckets](https://cloud.google.com/storage/docs/json_api/v1/buckets#resource) resource API docs.

@frankyn Would you like to update the title and description for this issue to request it?

[2017-07-19 23:00] frankyn commented on #1603
I updated the title and description @quartzmo! Thank you!

[2017-07-20 00:04] blowmage commented on #1601
This might be a good candidate to use a helper method. Perhaps something like `File#generations` that would return multiple File objects for each generation tracked in GCS.

[2017-07-20 00:20] quartzmo commented on #1601
@frankyn Thanks for testing through the lifecycle, and good observation!

(FYI I think you used `bucket.copy` and `bucket.delete` when you must have meant `file.`)

[2017-07-20 02:23] frankyn commented on #1601
@quartzmo yes! I have updated the description. Sorry about the confusion!

@blowmage it would be a great helper method to list generations of a file!

[2017-07-20 15:36] blowmage commented on #1603
This looks like another change to the API that we were unaware of. This value used to be set on bucket creation only, but the docs now show that it can be updated.

[2017-07-20 17:44] bootstraponline opened #1604 "Generate clients for missing APIs?"
I'm using `google-api-ruby-client` to interact with Google Sheets. That library has been put in maintenance mode in favor of using `google-cloud-ruby`. What is the migration path for non-google-cloud APIs like sheets?

What does `google-cloud-ruby` use to generate the client bindings?

- https://github.com/google/google-api-ruby-client/pull/597#issuecomment-314051742

[2017-07-20 21:23] danoscarmike commented on #1604
Right now there is no migration plan.

"Maintenance mode" means that the `google-api-ruby-client` are considered mature and complete; so we do not expect to add any more major features.

We will continue to support these libraries, fix bugs, and add minor features as required to support ongoing changes.  And we will continue to release new versions of all API libraries as they are available.

I'll

[2017-07-20 21:23] #1604 closed

[2017-07-20 21:50] bootstraponline commented on #1604
Would you clarify the relationship between the code generation tech used in `google-cloud-ruby` and the new approach as described on [googleapis/toolkit](https://github.com/googleapis/toolkit)?

It looks like there's [some sort of effort](https://github.com/GoogleCloudPlatform/google-cloud-go/issues/266#issuecomment-221083266) to use clients generated from toolkit?

[2017-07-20 21:56] bootstraponline commented on #1604
FYI there is no option for regular users to re-open an issue. They'd have to be made a member of the project or otherwise granted permission.

[2017-07-20 21:57] blowmage commented on #1604
The toolkit repo is used to generate low level API clients built on top of the gRPC library accessing the gRPC API endpoints, where Google API Client is an older effort that build low level API clients on top of the JSON API endpoints. The Google Cloud libraries are (mostly) high level, hand-written clients built on top of the low level clients, which provide several conveniences and adhere to man

[2017-07-20 21:59] bootstraponline commented on #1604
Cool. Thanks for explaining.

[2017-07-20 23:19] danoscarmike commented on #1604
My apologies!  I'll look into that.  And thanks @blowmage for jumping in 👍

[2017-07-21 20:55] blowmage commented on #1562
Closing as I believe this is resolved. Please comment if this is still an issue.

[2017-07-21 20:55] #1562 closed

[2017-07-21 21:00] #1602 closed

[2017-07-21 21:01] blowmage commented on #1283
@geigerj Is this something that should also be done now that we are actively working on Pub/Sub?

[2017-07-21 21:04] geigerj commented on #1283
Sure, we can move forward on this now, but if the other work is finished first and we are able to create a beta release, don't block on this feature. It has lower priority than the other Pub/Sub work because it is not a requirement for declaring the library beta.

[2017-07-22 14:56] sidguptajhs commented on #1527
Thanks. I'd done an alternate workaround by implementing the missing methods. Seems like that has been addressed in #1551

[2017-07-24 18:04] remi opened #1610 "Can't create link to headings/methods on the latest version of the docs"
I'm trying to create URLs to link directly to headings and methods in the https://googlecloudplatform.github.io/google-cloud-ruby documentation for the *latest* version, but #heading-ids and ?method=querystrings are being stripped out.

Steps to reproduce...

### Link to heading

To get to the latest spanner page:
https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-spanner/

[2017-07-24 18:04] remi commented on #1610
@frankyn FYI

[2017-07-24 20:08] #1603 closed

[2017-07-24 21:03] frankyn commented on #1603
Thank you both!

[2017-07-24 22:09] quartzmo commented on #1610
@remi I opened a gcloud-common site PR that fixes this issue (for me locally at least ;)).

[2017-07-25 20:57] omaray opened #1611 "Add the README content to Monitoring landing page"
**ISSUE**
There is currently no information on the landing page of the Monitoring API in the client library reference documentation:

![image](https://user-images.githubusercontent.com/6609430/28593297-b1d07c0c-7140-11e7-8287-4de15cf131c9.png)

**EXPECTED RESULT**
Given that we have a [README for the Monitoring API](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-

[2017-07-25 21:01] thagomizer commented on #1611
Dupe of this: https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1470

[2017-07-25 23:03] quartzmo commented on #1610
Fixed by GoogleCloudPlatform/gcloud-common#226

[2017-07-25 23:03] #1610 closed

[2017-07-25 23:04] quartzmo commented on #1593
Fixed by GoogleCloudPlatform/gcloud-common#227

[2017-07-25 23:04] #1593 closed

[2017-07-26 00:04] frankyn commented on #1588
Ping: @blowmage I'm working on a sample where I could really find this feature request very useful. Do you have an ETA?

[2017-07-26 09:55] BookOfGreg opened #1612 "BigQuery Dataset does not appear to have :name"
Hi team,

I was following the example provided at
[google-cloud-bigquery-0.26.0/lib/google/cloud/bigquery/dataset/list.rb:80](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/dataset/list.rb#L80)
And it resulted in an Argument Error as seen in the below block.

[code]

When I inspect what a dataset is, I can see it does not have a

[2017-07-26 11:45] BookOfGreg commented on #1612
Appears in documentation at:
http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v0.27.1/google/cloud/bigquery
That dataset.dataset_id is the replacement for name. Maybe just old docs. Shall I PR new docs in here?

[2017-07-26 13:10] blowmage commented on #1588
@frankyn Hoping to have something up for review by the end of the week.

[2017-07-26 13:20] blowmage commented on #1612
Hi Greg, thanks for opening the issue. Apologies for the troubles you are having.

Dataset has both [`dataset_id`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v0.27.1/google/cloud/bigquery/dataset?method=dataset_id-instance) _and_ [`name`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v0.27.1/google/cloud/bigquery/data

[2017-07-26 13:31] blowmage commented on #1610
@quartzmo I think this issue may need to be reopened. I just tried the examples in the description, and while this works for query string (after the `?`) it doesn't work for the bookmarks (after the `#`). Thoughts?

[2017-07-26 13:32] BookOfGreg commented on #1612
The error came from another gem, coderay. I misdiagnosed this as an issue with calling name.
[code]
I had placed a pry (the first ruby section) inside another pry (next to the puts in the second ruby section) and coderay is a dependency of pry. This was my mistake in nesting my debuggers.

Sorry for wasting your time on a rookie mistake!

[2017-07-26 13:32] #1612 closed

[2017-07-26 13:50] blowmage commented on #1612
No problem, glad you got it figured out.

[2017-07-26 16:17] frankyn commented on #1588
Awesome! No rush, I'm excited for this feature. Thank you!

[2017-07-26 16:39] frankyn opened #1614 "[Spanner] Quiet Client#update error"
Hi,

I was using the Spanner client library to debug a bug from a sample. I found that the Client#update method doesn't raise an error when adding a secondary index and a column it uses doesn't exist. I provided an example below along with the error.

Open-question, should this be handled by users? If so, could an example be added for handling these errors?

Expected error to be raised:
[code]

Ex

[2017-07-26 16:57] blowmage commented on #1614
The job is done but that doesn't mean the job was successful. `job.error?` returns `true`, `job.error` returns the error information, and `job.database` will return `nil`.

Because the operation is asynchronous it us up to the user to handle this. @quartzmo has recently updated this in #1595, but I do not believe those changes are released yet. Are those documentation changes sufficient?

[2017-07-27 00:16] frankyn commented on #1614
Thanks @blowmage, this will help. As a follow-up request, would it be too extraneous to include the error handling on each sample where appropriate, because it may confuse developers not seeing that they need to handle errors in contrast to say Storage which raises errors instead?

[2017-07-27 17:58] frankyn commented on #1588
Hey @blowmage (follow-up).

Adding more rationale for this enhancement.

Turns out to use requester pays to download files with the client library this is a necessary enhancement. For a user to download a file using requester pays with the Ruby client, they need to provide permission to `storage.buckets.get`, `storage.objects.list`, and `storage.objects.get` to allUsers (public bucket/objects for

[2017-07-27 18:26] frankyn commented on #1521
Following-up from internal bug:

The change was to document Hash payloads when logging entries. Currently `Entry#payload=` doesn't show an example of how to do this.

![fhhcechb4rz](https://user-images.githubusercontent.com/1907648/28685820-ed4e67e8-72bd-11e7-9b82-1914666ed0d4.png)

There is an example for String payloads, but no Hash payload examples from

![r3lklk47csm](https://user-images.githu

[2017-07-28 19:24] quartzmo opened #1623 "Use getQueryResults to wait for queries"
`QueryJob#wait_until_done!` and the high-level methods `Project#query` and `Dataset#query` should use  `jobs.getQueryResults` to wait for completion.

- [x] The implementation should generate a job ID on the client (#1624).
- [x] Call `jobs.insert` (not `jobs.query`)
  - [x] With generated ID to create the job
  - [x] With retry and backoff on any transient error, *including internal error (HTTP 5

[2017-07-28 19:27] quartzmo opened #1624 "Support client-side job ID generation with optional user-supplied prefix"
See [Generating a job ID](https://cloud.google.com/bigquery/docs/managing-jobs#generate-jobid) for background.

[2017-07-28 22:07] quartzmo opened #1626 "Review polling rate of Job#wait_until_done!"
Job polling should use a "constant 60s interval, optionally with exponential ramp-up."

[2017-07-28 22:31] quartzmo opened #1627 "Support create/update/get of Table.timePartitioning"
See `timePartitioning` attributes in the [`Table` resource](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#resource).

[2017-07-28 22:38] quartzmo opened #1628 "Support querying external data sources"
This feature is also known as "external tables." See [Querying External Data Sources](https://cloud.google.com/bigquery/external-data-sources) for requirements.

[2017-07-28 22:46] quartzmo opened #1629 "Support ETags in Dataset CRUD"
CRUD operations on datasets should use the ETag header for optimistic locking. See [Using patch in a read-modify-write cycle](https://cloud.google.com/bigquery/docs/api-performance#read-patch-write).

Questions:

* Opt-in or opt-out?
* Raise error on outdated ETag?
* Provide some kind of force overwrite?

[2017-07-28 22:47] quartzmo opened #1630 "Support ETags in Table CRUD"
CRUD operations on tables should use the ETag header for optimistic locking. See [Using patch in a read-modify-write cycle](https://cloud.google.com/bigquery/docs/api-performance#read-patch-write).

Questions:

* Opt-in or opt-out?
* Raise error on outdated ETag?
* Provide some kind of force overwrite?

[2017-07-28 22:51] quartzmo opened #1631 "Support Table.streamingBuffer"
Expose `Table.streamingBuffer` (output-only field). See [Tables](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables).

[2017-07-28 22:55] quartzmo opened #1632 "Support Dataset labels and Project#datasets filter param"
Add CRUD methods for Dataset labels. Also add a `filter` param for labels filtering to `Project#datasets`.

See [Labels overview](https://cloud.google.com/bigquery/docs/labels) and [Labeling datasets](https://cloud.google.com/bigquery/docs/labeling-datasets).

[2017-07-28 22:59] quartzmo opened #1633 "Review/ensure that all Job fields are exposed"
See [Jobs](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#resource) for the full list of fields.

- [x] `userDefinedFunctionResources` (`query`)
- [x] `nullMarker` (`load`)
- [x] `autodetect` (`load`)
- [x] `labels` (`[Experimental]`)
- [x] `user_email`

Unsupported fields in the Jobs json schema:

[code]

[2017-07-28 23:03] quartzmo opened #1634 "Expose Job.statistics.query.queryPlan"
Expose `Job.statistics.query.queryPlan` as a custom class. See [Jobs](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#resource).

[2017-07-28 23:09] quartzmo opened #1635 "Add insert method that creates table if not found"
Add a new streaming insert method that calls `TableData.insertAll` and creates a destination table if the named table is not found.

Behavior:

* Add `Dataset#insert`
* If insert does not find the table, try creating using exponential backoff with first delay >= 1m
* Retry insert, create table if failed, wait another minute, repeat

[2017-08-01 05:58] wurde opened #1637 "execution expired (Faraday::ConnectionFailed)"
My keyfile on my development machine no longer allows me to access the Google Translate API. It's within the last couple days that it just times out. My production code on the Google Compute servers can access the Translation API just fine still, but that's because authentication is auto-magically handled there.

google/cloud/translate

This is preventing me from supporting different languages for

[2017-08-01 09:30] zedalaye opened #1638 "Plugin system for experimental features"
Don't know if you care or already have ideas on this subject but I just found that and think you could be interrested in to build a plugin system and have toggleable experimental features :

https://twin.github.io/the-plugin-system-of-sequel-and-roda/

[2017-08-01 13:07] wurde commented on #1637
Moving this to google-omniauth-oauth2 gem as the likely source of the problem with their recent release.

[2017-08-01 13:07] #1637 closed

[2017-08-01 18:55] quartzmo commented on #1638
@zedalaye Thank you for this suggestion.

[2017-08-01 22:45] remi opened #1639 "Speech docs point to unreleased library's generated documentation!"
https://googlecloudplatform.github.io/google-cloud-ruby/#/ --> [Read the Docs]

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.37.0/google/cloud --> [Speech]

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.37.0/google/cloud/speech

![screen shot 2017-08-01 at 3 44 48 pm](https://user-images.githubusercontent.com/280/28850249-652ca610-

[2017-08-01 22:46] remi commented on #1639
@blowmage @quartzmo @geigerj /cc @lukesneeringer

[2017-08-01 23:29] remi commented on #1639
*[offline chat]*

Thanks so so much @blowmage and @quartzmo for looking into this so quickly, late in the day! Your dedication to quality knows no bounds!

[2017-08-02 00:05] #1639 closed

[2017-08-02 17:23] blowmage commented on #1601
The `File#generations` method is [released in 1.4.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-storage%2Fv1.4.0).

[2017-08-02 17:23] #1601 closed

[2017-08-02 17:28] blowmage commented on #1588
We have added the ability to create Bucket and File objects without first accessing the Storage API by using `skip_lookup` in the [1.4.0 release](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-storage%2Fv1.4.0).

This means that you should be able to accomplish this using the following code:

[code]

[2017-08-02 17:28] #1588 closed

[2017-08-02 17:56] frankyn commented on #1601
Thanks @blowmage !!!

[2017-08-03 16:29] quartzmo commented on #1624
The [google-cloud-dotnet implementation](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.BigQuery.V2/Google.Cloud.BigQuery.V2/BigQueryClientImpl.JobCrud.cs#L245-L255) uses UUID.

[2017-08-03 16:38] blowmage commented on #1624
Reading through the docs, I would have a prefix of "job" and use a UUID.

[code]

So something like this:

[code]

[2017-08-04 17:01] quartzmo opened #1648 "Raise appropriate Error subclasses for BigQuery job errors"
BigQuery `Project#query` and `Dataset#query` will be updated per #1623 to create and manage jobs internally. If a job fails, these methods should raise errors that communicate the code (a.k.a. "reason") listed in [Troubleshooting Errors](https://cloud.google.com/bigquery/troubleshooting-errors).

Many of these codes, such as `notFound`, appear to be the same as or similar to the general Google Clo

[2017-08-04 23:37] quartzmo opened #1650 "Fix acceptance test instructions in CONTRIBUTING"
From @jeremywadsack:

[In `google-cloud-bigquery`] `CONTRIBUTING.md` says to run `rake test:acceptance` but the command appears to be `rake acceptance`.

[2017-08-07 16:46] blowmage commented on #1120
AppVeyor was updated to not run acceptance tests on tag builds.

[2017-08-07 16:46] #1120 closed

[2017-08-07 16:47] blowmage commented on #1287
Support for the streaming API has been added to master, awaiting release.

[2017-08-07 16:47] #1287 closed

[2017-08-07 16:59] quartzmo commented on #1611
Closing as duplicate.

[2017-08-07 16:59] #1611 closed

[2017-08-07 17:03] geigerj commented on #1387
@palladius This should be fixed after the `0.8.4` release of `google-gax`, so closing. If you continue to have issues, please re-open or comment on this issue.

[2017-08-07 17:03] #1387 closed

[2017-08-07 17:05] geigerj commented on #1399
Thank you for filing this issue. We investigated and determined that this is actually a server-side issue. Please re-file it with the appropriate Google Cloud issue tracker: https://cloud.google.com/support/docs/issue-trackers. If you believe that part of this issue still needs to be addressed in this client library, then feel free to re-open this issue with more information.

[2017-08-07 17:05] #1399 closed

[2017-08-07 17:06] geigerj commented on #1413
@blowmage Are you still seeing this behavior in your recent development on Pub/Sub?

[2017-08-07 17:10] geigerj commented on #1419
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2017-08-07 17:10] #1419 closed

[2017-08-07 17:13] geigerj commented on #1460
Closing as a duplicate issue.

[2017-08-07 17:13] #1460 closed

[2017-08-07 17:16] geigerj commented on #1436
Thank you for filing this issue. We investigated and determined that this is actually a server-side issue. Please re-file it with the appropriate Google Cloud issue tracker: https://cloud.google.com/support/docs/issue-trackers. If you believe that part of this issue still needs to be addressed in this client library, then feel free to re-open this issue with more information.

[2017-08-07 17:16] #1436 closed

[2017-08-07 17:19] geigerj commented on #1457
@blowmage Has this already been done?

[2017-08-07 17:21] geigerj commented on #1472
This feature request was escalated to @anthmgoogle and is now being tracked through internal documents. There is no immediate plan to make this change in the external codegen.

[2017-08-07 17:21] #1472 closed

[2017-08-07 17:23] geigerj commented on #1473
Closing, as duplicate of googleapis/toolkit#1312 (where the actual implementation was done). GAPIC generator changes will show up in the docs on the next GAPIC refresh.

[2017-08-07 17:23] #1473 closed

[2017-08-07 17:26] geigerj commented on #1474
I did look into this and made an external doc demonstrating how to initialize these values. I'll leave this open until I've moved the example to the external `googleapis/googleapis` repo.

@omaray is now working on the general problem of how to do this for all GAPIC samples that need configuration.

[2017-08-07 17:37] blowmage commented on #1457
No, not yet. I'll work on it this week.

[2017-08-07 17:40] blowmage commented on #1413
No, I don't think I've ever seen this behavior. I've published messages and been able to pull them immediately many, many times. We even have acceptance tests that do this. I'm not sure why this user saw this delayed behavior, but I'm certain it isn't anything in the ruby client.

[2017-08-07 17:43] geigerj commented on #1413
Closing this issue, since we haven't been able to reproduce. @mpcm, if you're still running into this issue, please re-open with some sample code to help us reproduce.

[2017-08-07 17:43] #1413 closed

[2017-08-07 17:46] blowmage commented on #1413
@mpcm, FWIW, I think the upcoming Subscriber object is going to be very beneficial for your use case.

[2017-08-07 17:51] geigerj commented on #1475
ISTM this would be better tracked server-side rather than client side. Feel free to follow up with me internally.

[2017-08-07 17:51] #1475 closed

[2017-08-07 17:53] geigerj commented on #1476
Closing as duplicate of googleapis/toolkit#1311, googleapis/toolkit#1313, since this will be fixed in the GAPIC generator, rather than here.

[2017-08-07 17:53] #1476 closed

[2017-08-07 17:58] quartzmo commented on #1638
Closing for now since we are not going to implement this immediately. Appreciate the link though!

[2017-08-07 17:58] #1638 closed

[2017-08-07 18:02] geigerj commented on #1477
Acknowledged. @omaray is driving the general solution of getting us to comprehensive autogen samples across all methods/APIs.

[2017-08-07 18:03] geigerj commented on #1480
@quartzmo Did you have a chance to look into this? Do you know if there something we're doing wrong with the GAPIC docs that causes these classes not to be displayed?

[2017-08-07 18:06] geigerj commented on #1526
@dazuma @hxiong388 Please attach the appropriate priority label to this bug. Thanks!

[2017-08-07 18:08] quartzmo commented on #1480
@geigerj No, sorry. Taking a quick look now.

[2017-08-07 18:11] blowmage commented on #1638
We've definitely looked into it previously. There are design decisions that we have made that makes supporting a plugin system a challenge. Especially if we have multiple plugins trying to modify the same code that calls an API endpoint.

[2017-08-07 18:13] hxiong388 commented on #1526
Assigned P2, for backlog.

[2017-08-07 20:11] quartzmo commented on #1480
The issue is the inclusion of files such as [`language_service_pb.rb`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-language/lib/google/cloud/language/v1beta2/language_service_pb.rb) in the YARD output. The `Document` constant in `language_service_pb.rb` shadows the `Document` class in the `docs` directory. I will submit a PR excluding these non-documentation f

[2017-08-07 20:32] #1627 closed

[2017-08-07 20:56] #1480 closed

[2017-08-08 19:16] #1457 closed

[2017-08-09 19:18] #1283 closed

[2017-08-09 22:31] quartzmo commented on #1624
I wonder if `SecureRandom#urlsafe_base64` is a better choice than `SecureRandom#uuid`?(@blowmage I think you suggested this first.) It seems closer to the BigQuery service's ids, if that is desirable.

### Examples

BigQuery service:

[code]

Using `SecureRandom.uuid`:

[code]

Using `SecureRandom.urlsafe_base64(21)`:

[code]

[2017-08-09 23:28] geigerj commented on #1470
Closing as duplicate of https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1181.

[2017-08-09 23:28] #1470 closed

[2017-08-09 23:31] geigerj commented on #1181
@landrito temporarily assigning this to you, as this will be resolved by the global GAPIC refresh you are working on in `api-client-staging` currently. When the `api-client-staging` refresh is done, we'll need to create PRs to this repo and push the documentation updates. You can either do that or reassign to me to do so once the CI passes on `api-client-staging`.

[2017-08-09 23:53] geigerj commented on #1444
Done on rubygems.org.

[2017-08-09 23:53] #1444 closed

[2017-08-10 16:38] blowmage commented on #1624
I'm definitely in favor of using `SecureRandom.urlsafe_base64`. I might even go so far as to suggest using `SecureRandom.urlsafe_base64(32)`...

[2017-08-11 07:38] ravindranathakila commented on #1467
This happens in the Python SDK as well. Is this an SDK error?

[2017-08-11 16:28] #1648 closed

[2017-08-11 21:18] geigerj commented on #1599
This applies as well to DLP, monitoring.

[2017-08-11 22:10] #1599 closed

[2017-08-11 22:13] geigerj commented on #1383
Assuming this continues to be blocked on API server-side support, downgrading priority to P2+.

[2017-08-11 22:14] geigerj commented on #1471
Closing as code generator change is tracked in googleapis/toolkit#1324.

[2017-08-11 22:14] #1471 closed

[2017-08-11 22:16] geigerj commented on #1118
Closing, as this is being tracked internally. The ETA for support is currently 2017Q4.

[2017-08-11 22:47] mbrukman commented on #1118
Thanks for the update, @geigerj! We're all looking forward to it.

[2017-08-14 16:06] quartzmo commented on #1624
Closed by #1664.

[2017-08-14 16:06] #1624 closed

[2017-08-14 19:06] geigerj opened #1667 "Support specific_install"
### What

Add support for installing gems from GitHub using [`specific_install`](specific_install). This may require modifying the Rakefile to define a `package` Rake task, since running the command fails currently with:

[code]

### Why

We're testing a new new workflow to hand off work-in-progress client libraries for code sample and technical documentation where tech writers and DPEs will insta

[2017-08-14 20:47] blowmage commented on #1667
The current git repository already works with the [`specific_install`](https://github.com/rdp/specific_install) plugin. The problem you are having is that the repo does not define a single gem at the root directory. The repo contains multiple gems, each in their own directory.

To specify the directory to install the gem from, you must use the `-d` argument and pass the gem directory, which is alw

[2017-08-14 20:49] geigerj commented on #1667
Thanks for the clarification, @blowmage.

[2017-08-14 20:49] #1667 closed

[2017-08-14 20:52] blowmage commented on #1667
One potential problem with this approach is that is is possible that some of the dependent gems within the Google Cloud family might also have unreleased changes. For example, `google-cloud-language` currently depends on `google-cloud-core` and `google-cloud-env`. If there are unreleased changes in those gems then users will have to install those dependencies using `specific_install` as well. Othe

[2017-08-14 20:58] blowmage commented on #1667
Another possible solution for using the gem as defined in the repo is to use [Bundler](http://bundler.io) and a `Gemfile`. The `Gemfile` is used to declare dependencies, and you can specify that the github repo should be used instead. Simply change the `Gemfile` from this:

[code]

To this:

[code]

Bundler will locate the correct directory for the gem, so there are no other configurations to make

[2017-08-14 21:53] quartzmo commented on #1634
Question: We currently do not expose `statistics` as a custom class, but rather simply as a hash. Should (including the `statistics.query` fields other than `queryPlan`) also be exposed as a custom class?

[2017-08-15 15:54] quartzmo commented on #1623
In this requirement:

Each call to `getQueryResults` with `maxResults=0` blocks for a response. We do not understand the point of adding additional wait time to the loop, so marking this as done. Please open a new issue to discuss if we are mistaken.

[2017-08-15 15:54] quartzmo commented on #1623
Closed by #1657.

[2017-08-15 15:54] #1623 closed

[2017-08-15 16:09] blowmage commented on #1633
Most of those fields are marked `[Experimental]`. The direction we've been given is to _not_ implement those fields until they are no longer experimental, or we are given specific direction to add them. Are we sure all these fields are to be added?

[2017-08-15 16:11] quartzmo commented on #1634
The answer to this is no. We expose a number of useful fields from the `statistics` data in custom methods, such as [`QueryJob#bytes_processed`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb#L101-L105).

The array of custom `QueryJob::QueryPlan` objects should be exposed in the same way.

[2017-08-15 19:29] quartzmo commented on #1633
@tswast

The `schemaUpdateOptions` and `configuration.labels` properties are marked `[Experimental]` in the API docs. Should we expose them at this time?