[2018-08-20 15:16] blowmage commented on #2322
@apolcyn can you give us some insight on this error?

[2018-08-20 15:52] apolcyn commented on #2322
[code]

This is definitely strange. The two places where this seemingly bad header could be coming from would be:
1) something above the gRPC library is passing this header in as RPC "custom metadata"
2) the metadata that is attached by call credentials (e.g. OAuth creds)

[2018-08-21 10:56] Draiken commented on #2271
@blowmage seems to have fixed this issue for me. Thank you very much.

[2018-08-21 14:54] #2271 closed

[2018-08-21 15:06] blowmage commented on #2322
@apolcyn If you look at the backtrace, the call is coming from google-cloud-pubsub. We aren't setting any custom metadata, and we don't expose a way to set custom metadata in the Ruby API. If this were something in the call credentials, would it be something that could be set after auth token refresh?

[2018-08-21 15:06] blowmage commented on #2322
@sgringwe How are you authenticating? Are you using a service account's `keyfile.json` file? Something else?

[2018-08-21 15:07] blowmage commented on #2322
@sgringwe Also, have you experienced this behavior on google-cloud-pubsub 0.32.0?

[2018-08-21 15:17] apolcyn commented on #2322
I'm not familiar with ruby's google call creds implementation, but I believe so - the metadata hash that the call cred is returning <i>could</i> possibly be triggering this error.

[2018-08-21 15:44] sgringwe commented on #2322
@blowmage We are authenticating using GOOGLE_CLOUD_KEYFILE_JSON. We'll be upgrading to 0.32.0 today. Usually it takes a day or so for this error to occur on one of the pods, so it will be at least a few days before we know if 0.32.0 fixes it.

[2018-08-21 15:57] blowmage commented on #2322
@apolcyn Well, we aren't doing anything unusual with the call credentials, as you can see here:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/service.rb#L58

We basically pass the credential object's `updater_proc` as-is. The credential's `updater_proc` is defined here:

https://github.com/google/google-auth-library-ruby/blob/mast

[2018-08-21 16:06] blowmage opened #2324 "Storage Documentation warning"
We get the following warning when generating the documentation:

[code]

[2018-08-21 16:07] sgringwe commented on #2322
@blowmage This is what I am getting from ruby prompt, let me know if there is another preferred method or debug call to make

[code]

[2018-08-21 16:10] blowmage opened #2325 "Tasks Documentation warnings"
We get the following warnings when generating the documentation. Most are links to protobuf entities that are represented as methods in Ruby, not constants. There are also some warnings for unescaped literal braces.

Here are the warnings:

[code]

[2018-08-21 16:20] blowmage opened #2326 "Trace documentation warnings"
We get the following warnings when generating the documentation. Most are warnings for unescaped literal braces. Some are warnings that look to be coming from calls to protobuf. We haven't seen those errors before, not sure why these constants are problematic.

Here are the warnings:

[code]

[2018-08-21 16:24] blowmage opened #2327 "Video Intelligence Documentation warnings"
We get the following warnings when generating the documentation. Half are from not hiding OperationsClient (ala #2311), and half are links to protobuf Operations entities that are represented as methods in Ruby, not constants. I don't know how much sense it makes to document these Operations entities, especially as `OperationsClient` and `Operations::Service::Stub` are being marked as private.

He

[2018-08-21 16:59] blowmage opened #2328 "Vision Documentation warnings"
We get the following warnings when generating the documentation. Most of the warnings are "Undocumentable constant" for

A minor amount of errors are from not hiding OperationsClient (ala #2311), and links to protobuf Operations entities that are represented as methods in Ruby, not constants.

Here are the warnings:

[code]

[2018-08-21 17:05] blowmage opened #2329 "stackdriver-core Documentation warning"
[code]

[2018-08-21 17:34] blowmage commented on #2322
Thanks @sgringwe, that all looks fine. A couple more questions:

1) Can you look into your authentication environment variable and tell us what the auth_uri and token_uri values are? Are they "https://accounts.google.com/o/oauth2/auth" or are they something else?

2) Do you happen to know how many messages you are publishing at a time? How large are the messages?

[2018-08-21 17:43] #2298 closed

[2018-08-21 17:46] #2324 closed

[2018-08-21 18:29] sgringwe commented on #2322
@blowmage

1. Yes - the values are like that string

2. Currently we aren't sending anymore than ~10k/minute. When this issue started happening we were at an even smaller scale of ~2k/minute. Message sizes vary. They will typically be small, but may have some large text fields from time to time.

[2018-08-21 18:40] dgpokl opened #2332 "It is not possible to install google-cloud 0.56 due to bad dependency @ rubygems"
It's not currently possible to install the `google-cloud` gem due to a bad dependency reported by rubygems on the gems `google-cloud-container` and `google-cloud-dataproc`. Other gems in this project may also have the issue — it's hard for me to tell without inspecting every one in rubygems which I haven't completed yet.

### How to reproduce issue:

1. Create a new Gemfile containing:
[code]
2. `

[2018-08-21 18:47] dgpokl commented on #2332
n.b.
`bundler` avoids this if you instruct it to install `google-cloud` without specifying a version — it will just install `0.54.0` which seems to be the last version that didn't have this impossible dependency problem. Explicitly specifying:

- just `gem 'google-cloud'` -> installs 0.54.0
- `gem 'google-cloud', '~> 0.55'` -> this error
- `gem 'google-cloud', '~> 0.56'` -> this error

[2018-08-21 19:12] blowmage commented on #2332
Thank you for the report. We have verified this and are releasing updated versions of google-cloud-container and google-cloud-dataproc.

[2018-08-21 20:39] blowmage commented on #2332
We have just released google-cloud-container 0.2.0 and google-cloud-dataproc 0.2.0. This seems to have fixed the conflicting dependencies.

[code]

[2018-08-21 20:39] #2332 closed

[2018-08-21 20:40] blowmage commented on #2332
Thank you @dgpokl for filing this issue!

[2018-08-21 20:59] blowmage commented on #2322
K, if you are doing 10k publishes a minute, that is ~166 API calls a second. I wonder if this might be some concurrency issue with updating the access token. Perhaps a call sees that the token is about to expire and starts the process of refreshing it. But at nearly the same time, another process tries to make a call with the same token.

As it is, I have been unable to reproduce this behavior.

[2018-08-21 21:29] sgringwe commented on #2322
@blowmage interesting thought. I should clarify that the 10k/minute number is a mix of `publish` and `publish_async`, with most of those being `publish_async`. We have noticed that this issue has only been caused by `publish` calls, and has not yet been caused by a `publish_async` call. Does `publish_async` have the same potential concurrency issue updating the access token? How often is the acces

[2018-08-21 22:15] blowmage commented on #2322
`publish_async` was created for your exact use case. You have many concurrent updates and you want to batch them together to minimize the total number of API calls being made. It theoretically has the same concurrency issue with updating the access token, but practically you would need an order of magnitude more messages to hit it.

That said, I have not verified this is an issue with token refres

[2018-08-22 20:41] blowmage opened #2334 "GAPIC generated copyright header"
The GAPIC generated files need to have 2 blank lines between the copyright header and the `require` lines or the generated code. Both the code files and the documentation files. This is because the copyright header is being recognized as documentation by YARD. If a comment is 2 or more blank lines between code YARD will not consider it documentation.

This can be seen on the current Datastore docs

[2018-08-22 20:42] blowmage commented on #2334
/cc @jbolinger @dazuma

[2018-08-22 20:58] dazuma commented on #2334
Ack I'll open an issue to track this in the generator, and patch it for now via a synth transform.

[2018-08-22 21:01] dazuma commented on #2334
@blowmage To clarify, does this mean we need two newlines (i.e. one blank line) or three newlines (i.e. two blank lines)?

[2018-08-22 22:44] blowmage commented on #2334
Two blank lines, so 3 newline characters. We need it to look like [this](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore.rb#L14-L15), not [this](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore/v1/datastore_client.rb#L21).

[2018-08-22 22:53] blowmage commented on #2334
(FWIW, the Protobuf-generated files don't need this because we are excluding them from the documentation.)

[2018-08-23 00:05] #2292 closed

[2018-08-23 00:15] dazuma commented on #2314
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2320

[2018-08-23 00:15] #2314 closed

[2018-08-23 00:16] dazuma commented on #2313
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2320

[2018-08-23 00:16] #2313 closed

[2018-08-23 00:43] suhasm21 opened #2339 "Couple of acceptance test in Ruby-Storage fail"
URL: https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/google-cloud-storage/acceptance

Steps:
1. git clone https://github.com/GoogleCloudPlatform/google-cloud-ruby
2. cd google-cloud-ruby/google-cloud-storage
3. bundle update
4. bundle exec rake "acceptance[project_id,path_to_json_key_file]"

RESULT:
79 runs, 633 assertions, 0 failures, 2 errors, 2 skips
Finished in 227.637763s

[2018-08-23 16:51] JohnSmall opened #2343 "Google Drive and Google Cloud Print"
It's nice to have all this stuff, but what about the basics? I can't find the api for Google Drive or Google Cloud Print are they not here?

[2018-08-23 18:29] blowmage commented on #2343
Hi @JohnSmall, thanks for the question. This repo is contains the ruby libraries for clients of the [Google Cloud Platform APIs](https://cloud.google.com). Unfortunately, Google Drive and Google Cloud Print are not GCP APIs and because of that their gems would not be hosted in the git repo.

[Google Drive](https://developers.google.com/drive/api/v3/about-sdk) has an API and clients. You can find o

[2018-08-23 20:21] UsmannK opened #2344 "Labels on Pub/Sub topics not supported"
There doesn't seem to exist a way to retrieve labels on a Pub/Sub topic right now. Is this correct?

Thanks!

[2018-08-23 20:34] quartzmo commented on #2344
@UsmannK Thank you for this question.

You are correct. There is no way to set, modify, or retrieve user labels on Pub/Sub Topics or Subscriptions right now, although these features are available in the service API and we do plan to implement them soon.

How urgent is your need for user labels in Pub/Sub and how do you intend to use them?

[2018-08-23 20:51] UsmannK commented on #2344
@quartzmo Thanks for the quick response.

We use labels to mark resources for things like whether or not they contain PII, so our cloud console and other downstream tools can treat them appropriately. It is not entirely urgent as I believe I can drop back to https://github.com/google/google-api-ruby-client/ which should do the trick? Please correct me if that's incorrect.

[2018-08-24 06:13] JohnSmall commented on #2343
Thanks for the quick reply. I'm new to the Google API ecosystem and finding it hard to find my way around. I'll check out the links you've included and see if I can work something out myself.

Is there a reason why Google Drive isn't part of the Google Cloud Platform APIs ? To me it suggests there's some sort of dividing line inside the Google suite so that some things you'd expect to be included

[2018-08-24 06:13] #2343 closed

[2018-08-24 13:50] blowmage commented on #2343
They are two separate products. Google Cloud Platform has a Storage API, similar to AWS's S3.

https://cloud.google.com/storage/

[2018-08-24 15:54] blowmage commented on #2343
I did find a couple open source gems for integrating with Cloud Print. I don't know anything about them other than they exist, however.

https://github.com/thegengen/cloudprint
https://github.com/dsaronin/kinokero

Good luck!

[2018-08-24 17:37] dazuma commented on #2339
We've seen Error 1 every so often in CI, and we're not sure what's causing it yet. https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2341 is an attempt to gather more information about it.

Error 2 is indeed a setup/config issue. It works in CI because of how we've set up the environment. You're right—we should set up something so the test can be run elsewhere.

[2018-08-24 20:12] wlipa opened #2350 ""Key :storage already exists. It will be replaced" warning"
I have a rails app that pulls in the storage and error reporting libraries via bundler, like so:

    gem 'google-cloud-storage'
    gem 'google-cloud-error_reporting'

Under ruby 2.5 on Ubuntu 18.04, I consistently get warnings on every app startup:

    Key :storage already exists. It will be replaced. at /home/ops/.gem/ruby/2.5.0/gems/google-cloud-storage-1.13.0/lib/google-cloud-storage.rb:124:

[2018-08-24 20:51] blowmage commented on #2350
Hi @wlipa, thanks for opening the issue. I am not sure why this is happening, because when the autoloader attempts to require the file that is requiring the autoloader, a circular require warning should be raised instead of loading the file again and overwriting the configuration.

Since you are using Bundler, could you help us debug this? I have a branch with some changes that I think might addre

[2018-08-24 21:12] blowmage commented on #2350
@wlipa, what version of `google-cloud-core` do you have specified in your Gemfile.lock file?

[2018-08-24 21:16] wlipa commented on #2350
Happy to test a branch.  Here are the 'goog' lines out of the Gemfile.lock:

      google-api-client (0.23.4)
        googleauth (>= 0.5, < 0.7.0)
      google-cloud-core (1.2.2)
        google-cloud-env (~> 1.0)
      google-cloud-env (1.0.2)
      google-cloud-error_reporting (0.30.1)
        google-cloud-core (~> 1.2)
        google-gax (~> 1.0)
      google-cloud-storage (1.13.0)
        googl

[2018-08-24 21:17] blowmage commented on #2350
@wlipa, what command are you running to generate the errors? I'm not able to reproduce using `rails server`, `rails console`, or `rails test`.

[2018-08-24 21:18] wlipa commented on #2350
It happens under both `rails server` and `rails console` which is all I've tried.

[2018-08-24 21:47] wlipa commented on #2350
Same results:

    $ rails c
    Key :storage already exists. It will be replaced. at /home/ops/.gem/ruby/2.5.0/bundler/gems/google-cloud-ruby-86adca585e08/google-cloud-storage/lib/google-cloud-storage.rb:121:in `<top (required)>'
    Key :error_reporting already exists. It will be replaced. at /home/ops/.gem/ruby/2.5.0/bundler/gems/google-cloud-ruby-86adca585e08/google-cloud-error_reporting/lib/g

[2018-08-24 21:54] blowmage commented on #2350
Are you configuring these gems in your app? If so, are you requiring the gems before you configure them?

[2018-08-24 22:03] quartzmo commented on #2344
I'll ask how quickly we can implement this and try to get back to you Monday with an answer.

[2018-08-24 22:08] wlipa commented on #2350
No, it's very plain vanilla.  I don't think there is any reference to GCP objects until after the app loads (after the warnings are printed).

[2018-08-24 22:36] blowmage commented on #2350
Ruby will only load a file once, and will indicate a circular require by raising a warning. My branch you added in your Gemfile protects against that, however. But you are still seeing this behavior, even with my branch. Therefore something else is going on in your app that is causing this.

[2018-08-24 22:40] wlipa commented on #2350
That isn't what I observe, oddly.

a.rb:

    $: << '.'

    puts "a.rb"
    require 'b'
    puts "a.rb over"

b.rb:

    puts "b.rb"
    require 'a'
    puts "b.rb over"

Run:

    $ ruby a.rb
    a.rb
    b.rb
    a.rb
    a.rb over
    b.rb over
    a.rb over

[2018-08-24 22:44] wlipa commented on #2350
Never mind that one, the first reference to a.rb wasn't a require.  I'll try to isolate it further.

[2018-08-24 22:46] blowmage commented on #2344
You can always use the low-level API in this gem to hit the Pub/Sub service. You don’t need to use a different gem.

[code]

[2018-08-25 00:28] UsmannK commented on #2344
Oh! That should work great. Cheers :)

[2018-08-25 15:47] Eli212 opened #2352 "test"

[2018-08-25 17:13] #2352 closed

[2018-08-26 18:57] kryali opened #2353 "Storage: uninitialized constant Signet::RemoteServerError"
Is there a wonky dependency thing happening here? I added the "google-cloud-storage" gem and it's failing to find the Signet error dependency.

[code]

[2018-08-26 19:35] blowmage commented on #2353
Can you post the error’s backtrace?

[2018-08-26 20:11] blowmage commented on #2353
I am away from a computer for the next several hours. Here is what I think is happening. This is an issue with dependencies. The gem `signet` was released and added the error class from the message in this issue. Then, `google-api-client` 0.23.5 was released and tries to use it, but dependency constraints won’t allow the latest version of `signet` to be used, even though the code is looking for th

[2018-08-27 02:57] kryali commented on #2353
You're right, downgrading `google-api-client` to 0.23.4 resolves this issue.

I'm afraid I don't have more of a stacktrace since this is from an interactive console.

[2018-08-27 14:17] wintheday opened #2354 "Pub/Sub: Infinite Loop on `sleep for a 1001 milliseconds` in Rails app."
Environment:

[code]

In the rails console I run:

[code]
[code]

When this runs with default settings the request just hangs.

I know that the config for Pubsub above is correct as I have used the same thing in a smaller Rails 5.2 application and it worked perfectly.

Also, when I run this against the pubsub emulator locally it works perfectly.

It seemed as though this issue was in the GRPC laye

[2018-08-27 14:39] blowmage commented on #2354
I just tried this from a rails app and it worked fine.

[code]

A few thoughts here.  Since this works for me on a Rails app, and it works for you on a "smaller Rails 5.2" app, then the problem is very likely something to do with your specific Rails app.

The GRPC library is also used when connecting to the pubsub emulator, so again, I would look for other explanations before diving too deep in to

[2018-08-27 14:46] wintheday commented on #2354
@blowmage Thanks for the advice I will step through my dependencies and see what is causing a conflict with the Cloud Pub/Sub gem.

Since this doesn't seem to be a direct issue in the Cloud Pub/Sub gem you can close this issue and I can post my findings on StackOverflow or I can follow up here and post what is causing the conflict whichever you would prefer.

[2018-08-27 14:47] blowmage commented on #2354
Are you seeing this in your local environment? Or your production environment?

[2018-08-27 14:49] wintheday commented on #2354
Both, this happens locally when I remove the emulator variable and in production when deployed to GKE.

[2018-08-27 14:55] blowmage commented on #2354
Are you running multiple threads locally? If so, are you creating a Pub/Sub client (or any other GRPC client) _pre-fork_?

[2018-08-27 15:00] wintheday commented on #2354
I create a single Pub/Sub client pre-fork, make some GRPC calls to ensure that the connection is valid than fork treads to start multiple listeners against PubSub subscriptions.

If you are interested the gem/repo I created for this is public and available here: [Subserver](https://github.com/lifechurch/subserver).

Note: The subserver gem works perfectly in the same Rails 5.2 environment mentione

[2018-08-27 15:08] blowmage commented on #2354
Unfortunately you can't create a GRPC client pre-fork. This is because GRPC is currently unable to be forked. You need to delay creating any GRPC client until after the web server forks the main thread to create worker threads. See the discussion on this in #691 and #1860, and the GRPC bug grpc/grpc#7951.

The workaround we suggest is adding something like the following to your `config/application

[2018-08-27 15:20] wintheday commented on #2354
Ahh, I see good to know.  I will update Subserver accordingly so that all threads create their own GRPC client after they are forked.  With that said how would you advise validating the
[code]
In the main thread before the application forks?

Also, would this still have an impact on the originally posted hangup issue since it was occurring in the rails console in a single thread environment?

[2018-08-27 15:33] blowmage commented on #2354
If you create a GRPC client and then fork the thread, the GRPC client will hang on the forked threads.

I don't know about the console, I'm not seeing that behavior. You will still have to debug what your app is doing to cause that. I would assume its related to your configuration and forking though.

[2018-08-27 16:09] quartzmo commented on #2319
/cc @jiren @sduskis

[2018-08-27 17:43] wintheday commented on #2354
@blowmage Thanks for your help.  It turns out it was related to some older google dependencies that we are no longer using.

specifically these
[code]

Removing those fixed the hangup issue.  Thanks for your help.

Now, I can open another issue / question on this if needed but as you pointed out above you can't create a GRPC client prior to forking threads. So, how do you recommend testing that va

[2018-08-27 18:02] blowmage commented on #2354
If each thread has a connection I would think each thread verifies the connection. You can do that as part of the creation process.

[2018-08-27 18:32] wintheday commented on #2354
Okay sounds good.  Thanks again for your help, and for your work on this gem.

If you are at all interested and have the time, I would love any other feedback you may have on my implementation of Google Pubsub in [Subserver](https://github.com/lifechurch/subserver).

[2018-08-27 18:32] #2354 closed

[2018-08-28 17:00] frankyn opened #2371 "Release GCS Ruby client library"
Hi,

Is it possible to release the Storage client library for Ruby?

I'd like the new method service_account_email to be available. Unless there exist concerns.

[2018-08-28 17:04] blowmage commented on #2371
I believe that is already released. google-cloud-storage 1.13.1 was released August 21, 2018.

[2018-08-28 17:09] frankyn commented on #2371
Whoops, I missed that. Thanks @blowmage!

[2018-08-28 17:10] frankyn commented on #2371
Linking to: https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-storage%2Fv1.13.1

[2018-08-28 17:10] #2371 closed

[2018-08-29 00:09] sgringwe commented on #2322
@blowmage we have not seen this error since upgrading to 0.32.0 about a week ago. We're still on `publish` (not `publish_async`). Throughput is same / increased.

I think that 0.32.0 did fix this.

If it's helpful here is what upgrades happened during that gem upgrade:

* google-cloud-pubsub 0.31.1 -> 0.32.0
* google-gax 1.0 -> 1.3
* googleauth 0.6.4 -> 0.6.5
* signet 0.8.1 -> 0.9.0

Nothing else

[2018-08-29 12:34] blowmage commented on #2322
@sgringwe I am very glad to hear that!

[2018-08-29 12:34] #2322 closed

[2018-08-30 06:13] wlipa commented on #2350
It looks like the issue is to do with a symbolic link in the bundle path.  I have a .bundle/config like this:

    ---
    BUNDLE_PATH: "/home/ops/apps/myapp/shared/bundle"
    BUNDLE_FROZEN: "true"
    BUNDLE_WITHOUT: "development:test"

where `/home/ops/apps/myapp/shared/bundle` is a symbolic link:

    lrwxrwxrwx 1 ops ops   14 Jul 20 11:29 bundle -> /home/ops/.gem

Changing BUNDLE_PATH to poin

[2018-08-30 14:33] blowmage commented on #2350
Wow, that is wild. I suppose that the autoloader is discovering the files using their real location, and so the same file gets required twice, once with the symlink, and then once again with the real file path.

Can you change your configuration to use a symbolic link again and use my branch? I updated the branch to pass all the comparisons through `File.realpath` and I wonder if that solves the c

[2018-08-30 20:14] #2334 closed

[2018-08-30 20:50] blowmage commented on #1762
@jbolinger Is this something we can start doing now?

[2018-08-30 21:12] jbolinger commented on #1762
@blowmage yup, we'll need to update the protos to get started. Either @dazuma or I can do that part pretty easily. Do we want to do this for all 4 versions of the API (I suspect yes)?

[2018-08-30 21:46] wlipa commented on #2350
The autoload-remove-configuration-warning  branch seems to fix it (no error is shown, but if I comment out the branch gem, it is).

[2018-08-30 22:04] dazuma commented on #1762
I'd actually prefer to wait until after next week to get started on this, as we're going to need to coordinate some synth script changes to alias the old names, and I'm slammed for the next week due to ElixirConf. Unless someone else would like to tackle the synth script changes?

[2018-08-30 23:34] quartzmo commented on #2339
I believe the solution to Error 2 is to obtain the service account email used in the test from [`Storage::Project#service_account_email`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/project.rb#L88-L91). I will submit a PR that changes the test (and the documentation examples) to use this method to obtain the email.

[2018-08-30 23:38] blowmage commented on #2350
Great news! I will submit those changes to be released then.

[2018-08-31 00:27] dazuma commented on #2296
This was fixed in https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/2333282818b26a323786f06982109c0a99fb9e6b

[2018-08-31 00:27] #2296 closed

[2018-09-04 12:20] AteqEjaz commented on #951
Still having the same issue with Ruby version 2.4.4 thanks

[2018-09-04 19:45] quartzmo opened #2403 "Document Storage::Bucket::Cors::Rule"
[Storage::Bucket::Cors::Rule](http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-storage/v1.13.1/Google/Cloud/Storage/Bucket/Cors/Rule.html) is not documented but is included in the documentation. My guess is that this class should be marked `@private` and excluded from the public api.

[2018-09-04 23:23] harrisreynolds opened #2404 "[Documentation Issue]"
The link to "Authentication Guide" just takes you right back to this page.  Kinda useless and annoying.

[2018-09-04 23:35] quartzmo commented on #2404
This should be fixed with #2338. In the meantime, you can view the authentication guide in GitHub at:

`https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/<gem_name>/AUTHENTICATION.md`

For example:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/AUTHENTICATION.md

Thank you for your patience!

[2018-09-05 04:08] kryali opened #2405 "Spanner: Session not found error"
[code]

Our spanner client started throwing these errors yesterday for around 12 hours. Is there something with session management here that needs to be configured? More insight into this error would be helpful as well.

We're using  `google-cloud-spanner (1.6.1)`

[2018-09-05 12:55] apoloval opened #2406 "Pubsub: Client config is not propagated to the publisher"
In Pubsub initialization, it's possible to provide a client config that will override some of the settings at the GAX level. This is how the client config is propagated across the different layers:
* In `Google::Cloud::Pubsub.new` ([code](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub.rb#L563-L565)), the `client_config` param is rec

[2018-09-05 13:12] apoloval commented on #2406
It seems @quartzmo forgot to include the param in commit 580b8feb16e980f50327cba20d88a325712e689e.

[2018-09-05 15:30] blowmage commented on #2406
Might be a good idea to double-check the other gems to make sure this isn’t happening anywhere else.

[2018-09-05 15:43] blowmage commented on #2405
Hi @kryali, thanks for the issue. When were these error occurring? The Spanner client maintains a pool of sessions, and that pool is supposed to ensure that the session resource is valid, and when it isn't it is supposed to replace it with a session resource that is valid.

[2018-09-05 15:53] quartzmo commented on #2406
I checked (including generated code), but I didn't find any usages missing `client_config: client_config` other than the Pub/Sub emulator case [mentioned here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2407#issuecomment-418773945).

[2018-09-05 19:08] blowmage commented on #2304
@dazuma Do you know what the link to `Railtie.use_error_reporting?` is meant to resolve to?

[code]

This is the last warning for Error Reporting but I don't know how to resolve it.

[2018-09-05 19:29] brianarpie opened #2408 "Set gRPC Channel Config for google-cloud-speech Operation (4MB max_receive_message_length limit)"
I want this functionality for google-cloud-speech:
https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1513/commits/42ee4014ec3b6691bd50c46af68e223688e610ea

I keep hitting the 4MB limit when enabling speaker diarization for long audio files (because every speech recognition result includes word info from the beginning of the audio).

I got to this point from here:
https://issuetracker.g

[2018-09-05 19:46] kryali commented on #2405
The session not found errors were occurring pretty frequently between 9/3 11PM and 9/4 11AM PST (~200K errors).  After that, we had a blip on 9/4 8:30PM - 8:45PM PST.

[2018-09-05 19:47] blowmage commented on #2408
Hi @brianarpie, I will show you how to construct a gRPC channel object, so you can specify channel arguments, but I do not think this will help. Speech has some specific [content limits](https://cloud.google.com/speech-to-text/quotas#content) and changing the connection configuration won't make the API behave differently.

Here is how to construct a channel object with arguments:

[code]

[2018-09-05 19:48] blowmage commented on #2405
I apologize, I meant what operation was being performed when these errors occurred? Do you have any logging information you can share? A backtrace would be very helpful.

[2018-09-05 19:54] brianarpie commented on #2408
Thank you for the swift response @blowmage, this is exactly what I needed !

I'm well aware of the content limits. I'm hitting the 4MB message limit with audio files well below the 180 minute audio length limit. I can transcribe long audio files no problem, except when I enable speaker diarization. I'm fairly certain it's because of the extremely large payload response, due to the way word_info on

[2018-09-05 19:58] kryali commented on #2405
We were doing both row reads via key and row upserts to the same table. It looks like we dropped the backtrace, but I'll capture it the next time it happens.

[2018-09-05 20:06] blowmage commented on #2405
Was this within a transaction or outside of a transaction?

[2018-09-05 20:10] kryali commented on #2405
Outside of a transaction. Here are the api calls we're making with the ruby client

[code]

[2018-09-06 15:32] blowmage commented on #2404
This has been changed in #2338. Some links may not work until the gem are released.

[2018-09-06 15:32] #2404 closed

[2018-09-06 19:35] brianarpie commented on #2408
@blowmage thanks again, your snippet fixed the issue for us.
Watch out for this message limit for long audio files w/ speaker diarization enabled... I'm probably not going to be the last one to hit this.

[2018-09-06 19:35] #2408 closed

[2018-09-07 21:13] quartzmo commented on #2403
After discussion with @blowmage, the fix for this will be to document `Storage::Bucket::Cors::Rule`, since the class is indeed in the public API as shown below:

[code]

[2018-09-07 22:15] blowmage commented on #2403
Updated description.

[2018-09-08 16:05] #2403 closed

[2018-09-10 17:48] blowmage commented on #2295
This gem continues to have documentation warnings. Here are the current warnings:

[code]

[2018-09-10 17:49] blowmage opened #2417 "Datastore Documentation warnings"
We get the following warnings when generating the documentation:

[code]

[2018-09-10 17:50] blowmage commented on #2304
This gem continues to have documentation warnings. Here are the current warnings:

[code]

[2018-09-10 17:51] blowmage commented on #2305
This gem continues to have documentation warnings. Here are the current warnings:

[code]

[2018-09-10 17:51] blowmage commented on #2308
This gem continues to have documentation warnings. Here are the current warnings:

[code]

[2018-09-10 17:52] blowmage commented on #2316
This gem continues to have documentation warnings. Here are the current warnings:

[code]

[2018-09-10 17:53] blowmage commented on #2328
This gem continues to have documentation warnings. Here are the current warnings:

[code]

[2018-09-11 10:50] tragiclifestories opened #2423 "Require errors in google-cloud-core 1.2.4 on macOS"
OS: 10.12.6
Ruby version: 2.5.1
Bundler version: 1.16.1 & 1.16.4

A routine version bump has caused google-cloud-core to blow up when requiring the various gems, on my machine at least.

[code]

It looks to me like this was introduced in #2392. in [`Google::Cloud::auto_load_gems`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-core/lib/google/cloud.rb#L192-L194)

[2018-09-11 14:17] blowmage commented on #2423
Thank you for the issue. We will get a new release out that fixes this ASAP. Until then, you can downgrade to google-cloud-core 1.2.3 to avoid the error.

[2018-09-11 14:29] tragiclifestories commented on #2423
Thanks!

[2018-09-11 17:01] blowmage commented on #2423
This should be fixed in google-cloud-core 1.2.5. Can you please upgrade and give it a try?

[2018-09-11 17:07] tragiclifestories commented on #2423
Will do when I get home. Thanks again.

On Tue, 11 Sep 2018, 18:01 Mike Moore, <notifications@github.com> wrote:

[2018-09-11 18:13] blowmage commented on #2339
Have you seen error 1 recently?

[2018-09-11 18:19] blowmage commented on #2212
This is included in the most recent release.

http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-speech/latest/Google/Cloud/Speech/V1p1beta1/RecognitionConfig.html#enable_speaker_diarization-instance_method

[2018-09-11 18:19] #2212 closed

[2018-09-11 18:19] blowmage commented on #2216
Closing as this is now supported.

[2018-09-11 18:19] #2216 closed

[2018-09-11 18:20] blowmage commented on #2211
@snehashah16 Ping.

[2018-09-11 18:33] suhasm21 commented on #2339
After the fix to Error 2, I re-ran the test and I did not see any issues.

[2018-09-12 15:38] billyjacobson opened #2431 "The column family rules in the table admin sample are not correct"
Please take a look at the column family example rules as they don't seem to be doing the correct thing as stated by their comments.

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/76b7f31b902ed4000c6a5f4bdc7db7955f15fc0c/google-cloud-bigtable/samples/tableadmin.rb#L98

[2018-09-12 15:49] blowmage commented on #2431
@jiren Can you take this issue? I am unable to assign issues to you, so you need to assign this issue to yourself.

[2018-09-13 00:24] 9mm opened #2434 "How can I access WebDetection"
If you use the frontend debugging tool for Cloud Vision, it shows the page title and extra metadata about the website that it appeared on.

From what I have gathered, all I can get out of this ruby gem is the page `url` and `score`. How do I access all this extra info:

- `pagesWithMatchingImage` (I have URL but I don't have...)
  - `pageTitle` and `fullMatchingImages`
- `visuallySimilarImages`

h

[2018-09-13 00:32] 9mm commented on #2434
I actually see how to get label_annotations, but I can't find the extra fields about "pages"

[2018-09-13 05:11] blowmage commented on #2434
Unfortunately you won't be able to use `Google::Cloud::Vision.new` to access this functionality. You have to use a lower level API to access this, specifically using `Google::Cloud::Vision::V1::ImageAnnotatorClient`.

https://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-vision/latest/Google/Cloud/Vision/V1/ImageAnnotatorClient.html

[code]

Does this answer your question?

[2018-09-13 05:12] 9mm commented on #2434
Yes it does, thank you!!!

[2018-09-13 05:12] #2434 closed

[2018-09-14 20:14] #2344 closed

[2018-09-14 22:44] quartzmo opened #2446 "Should updating number fields to nil raise TypeError?"
Currently, an attempt to update a number type on Subscription to `nil`:

[code]

raises `TypeError: Expected number type for integral field.`

This error is raised by the underlying Protobuf layer.

Is this the correct behavior, or should the veneer layer raise `ArgumentError` instead?

I believe changing the error will constitute a breaking change.

[2018-09-14 23:08] blowmage commented on #2446
I'm good with either keeping the current behavior, or changing it to raise `ArgumentError`. I don't think it should be considered a breaking change, however.

[2018-09-17 08:45] jiren commented on #2431
@blowmage I will update example.

[2018-09-17 17:47] #2431 closed

[2018-09-17 21:19] blowmage commented on #2213
This was added in #2309 and [released in `0.31.0`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-speech%2Fv0.31.0). Closing.

[2018-09-17 21:19] #2213 closed

[2018-09-17 21:38] snehashah16 commented on #2211
hey @untoldone  -

I would one of the following
- use the Batch(Read|Query) API to perform large reads. These can be parallelized and therefore reduce chances of timeout
- (Mike to confirm @blowmage ) set timeouts on the API requests per request or API.

[2018-09-17 23:48] blowmage commented on #2211
@snehashah16 Thanks for weighing in. When the Spanner client was first implemented it was very specific that broken streams should be retried for only UNAVAILABLE errors. But it seems that a stream might fail for other reasons that can be recovered from, such as the situation offered in this issue.

So let me rephrase my question:

Can you please confirm that the only error streams should be recov

[2018-09-17 23:51] blowmage commented on #2211
To support my assertion that we may want to rethink how Spanner recovers from broken streams, here are the errors that Firestore is [currently recovering from](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-firestore/v0.24.1/google-cloud-firestore/lib/google/cloud/firestore/watch/listener.rb#L272-L274):

[code]

[2018-09-18 02:47] danoscarmike opened #2451 "[Documentation Issue] Links to cloud.google.com should be to 'memorystore' not to 'redis'"
Replace 'cloud.google.com/redis' with 'cloud.google.com/memorystore' in http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-redis/v0.1.0/Google/Cloud/Redis.html

[2018-09-18 02:50] danoscarmike commented on #2451
Actually -- this looks like an old page. Should there be redirects in place?

[This page](https://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-redis/latest/Google/Cloud/Redis/V1beta1.html) has the correct links.

[2018-09-18 03:15] blowmage commented on #2451
I don’t know if it is just me, but this URL works:

https://cloud.google.com/memorystore/

But this URL gives me a 404:

https://cloud.google.com/memorystore

[2018-09-18 14:32] elja commented on #1759
Hello there!

I have similar issue on rails 5.2 + ruby 2.5.1. Is there any workaround?

[2018-09-18 15:11] blowmage commented on #1759
@elja Can you open a new issue with the full backlog and full segmentation fault report?

[2018-09-18 17:02] blowmage commented on #2451
@danoscarmike Those old versions are all generated from the protobuf files using the GAPIC tools. I think @dazuma knows about those links and why they were changed. We don't really have a way to go back and replace code or documentation for a previously released gem.

[2018-09-18 17:16] dazuma commented on #2451
The page you cited with the broken links, was the gapic-generated documentation for an old version of the library before we had used synthtool to fix a bunch of incorrect links. Documentation for current versions of the library have the correct links. As Mike mentions, we don't have a way to go back and correct links in previously-released versions of the documentation, as they are connected to th

[2018-09-18 17:16] #2451 closed

[2018-09-18 18:06] danoscarmike commented on #2451
Thanks for clarifying!

[2018-09-19 07:43] uiureo opened #2453 "Segmentation fault on stackdriver + ruby 2.5 + rails"
I got segmentation fault when using stackdriver gem with rails application

ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux]
rails 5.2.1

The app is deployed on unicorn

[code]

full log:  https://gist.github.com/uiureo/ba3cd795134dfec41410d92f801323d4

[2018-09-19 13:23] jacobat opened #2459 "Hanging Resque worker when using Stackdriver logging"
Using the logging for Stackdriver in a Rails project risks running into a deadlock.

We've been looking at an issue where the Stackdriver logging caused a Resque worker process to hang. By retrieving a backtrace from the process we can see that the stackdriver logging is the cause. The backtrace showed the same `wait` and `sleep` on multiple occurrences. After removing Stackdriver the Resque worke

[2018-09-19 14:31] blowmage commented on #2459
@jacobat Thank you for the report. We will look into this.

[2018-09-19 14:32] blowmage commented on #2453
@uiureo Thank you for the detailed information. We will look into this.

[2018-09-19 17:31] blowmage opened #2460 "Bigtable acceptance tests failing"
We are seeing failures on CI while running the Bigtable acceptance tests.

[code]

[2018-09-19 17:36] blowmage commented on #2460
@jiren Do you know anything about this? The PR #2454 just changed the connection values for this endpoint.

it was previously configured with this:

[code]

But it is now configured with this:

[code]

[2018-09-19 20:34] blowmage opened #2463 "Expose MetricDescriptor and MetricDescriptorMetadata"
The PR #2455 added `MetricDescriptorMetadata`, which is not currently exposed in the Ruby API. (Not the low-level protobuf layer, the top-level hand-written layer.) Should this data be exposed? If so, how?

Monitoring also had this added, but it is a purely generated gem and there is no hand-written layer for it.

[2018-09-19 21:08] snehashah16 commented on #2211
@blowmage - Spanner Java Client retries for the following:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/e8cff3f90645c38723d08a8fecfacb8635fe64ea/google-cloud-clients/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerExceptionFactory.java#L123

TKIM, Aborts should also be retried w/ backoff sleep duration from the response:
https://github.com/GoogleCloudPlatform/go

[2018-09-19 21:16] blowmage commented on #2460
cc @sduskis

[2018-09-20 04:08] maxhungry opened #2468 "Firestore querying time with rails throws ArgumentError: comparison of Rational with NaN failed"
This following snippet works on ruby 2.3.3, but broke in ruby 2.3.7+ (with rails/ActiveSupport)

[code]

I had a look, here's the line that caused the issue; it is trying to compare NAN with an instance of Time.
https://github.com/googleapis/google-cloud-ruby/blob/2394fc371dc4602380c01bb17d14ba69eeffc696/google-cloud-firestore/lib/google/cloud/firestore/query.rb#L940

It broke because ruby 2.3.7 t

[2018-09-20 04:13] jiren commented on #2460
@blowmage "drop rows" is an admin operation and it takes significant amount of time. So when default request deadline time is not sufficient to perform drop rows then BigTable respond with increase deadline timeout error.

[2018-09-20 04:52] #2460 closed

[2018-09-20 04:56] blowmage commented on #2468
@maxhungry Thanks for opening the issue. We will start on this ASAP. Can you post a full backtrace?

[2018-09-20 05:28] maxhungry commented on #2468
Btw great work on google-cloud-ruby :heart:
here's the backtrace:
[code]

[2018-09-20 09:15] lucaong commented on #2453
I have the same Segmentation fault error. It only occurs when I add the `stackdriver`. Our app is running on Puma, with Ruby 2.5.1 on GKE.

Full log here: https://gist.github.com/lucaong/63e815c05b0db59618baebed56b4616b

Interestingly, we run two different kubernetes deployments of the same app, one is the web application and the other is the background job workers. Only the latter seem to be affe

[2018-09-20 09:52] lucaong commented on #2453
Possibly related to https://github.com/protocolbuffers/protobuf/issues/4460

There is no mention of `protobuf` in the stacktrace, but the chain of methods that get called when `/google-cloud-logging-1.5.4/lib/google/cloud/logging/async_writer.rb:322` calls `MonitorMixin::ConditionVariable#broadcast` and wakes up awaiting threads ends up calling this: `https://github.com/googleapis/google-cloud-rub

[2018-09-20 14:48] blowmage commented on #2468
@maxhungry I think I have identified a solution for this. Could you check my fix on your project? To do this you should replace your Gemfile's `google-cloud-firestore` dependency with the following:

[code]

[2018-09-20 16:00] blowmage commented on #2072
I believe this can be closed now that JSONDOC has been retired and we are on YARD produced documentation.

[2018-09-20 16:00] #2072 closed

[2018-09-20 16:01] #2075 closed

[2018-09-20 16:37] #2468 closed

[2018-09-20 16:39] blowmage commented on #2468
I'm 98+% sure #2471 will fix this for you. We will be releasing a new gem with this fix included shortly.

[2018-09-20 21:28] maxhungry commented on #2468
:tada: that fixed it.

[2018-09-20 22:11] blowmage commented on #2468
Great. Expect a release in the next couple hours.

[2018-09-21 00:43] blowmage commented on #2468
Can you upgrade to [google-cloud-firestore 0.24.2](https://github.com/googleapis/google-cloud-ruby/releases/tag/google-cloud-firestore/v0.24.2) and see if that also fixes the issue for you?

[2018-09-21 01:37] maxhungry commented on #2468
Confirmed, it is fixed in the new release. Thanks, that was fast ✨

[2018-09-21 16:38] blowmage commented on #2319
@sduskis @jiren Do you folks know if the InstanceAdmin API is supported by the emulator? I also tried implementing emulator support and got the same error when trying to do anything related to instances.

After I added support for the emulator to the ruby code, I started the emulator:

[code]

And then I can connect to the emulator, but I cannot list instances:

[code]

I am able to create, access

[2018-09-21 20:57] blowmage commented on #1987
@stevenbarragan I have not been able to reproduce this behavior, but we made some changes to the most recent version of the gem that may help. Can you upgrade to `google-cloud-logging` version 1.5.5 and let us know if you still experience this behavior?

[2018-09-21 20:59] blowmage commented on #1762
It has been a few weeks. Are we ready to start on this? If not, when do we expect we can make this change?

[2018-09-24 16:52] blowmage commented on #2406
This was released in [google-cloud-pubsub 0.32.1](https://github.com/googleapis/google-cloud-ruby/releases/tag/google-cloud-pubsub/v0.32.1).

[2018-09-24 16:52] #2406 closed

[2018-09-24 20:27] joe1chen commented on #1860
This is still not working for us as well with google-cloud-debugger 0.32.4 and stackdriver 0.15.2.

[2018-09-24 20:52] blowmage commented on #1860
Can you upgrade google-gax to 1.3.0 and grpc to 1.15.0 and see if the behavior is the same?

[2018-09-24 22:14] blowmage commented on #1860
@locriani @joe1chen Can each of you open new issues explaining the behavior you are seeing and include all relevant information. Ruby runtime versions, rails version, operating system, backtraces, etc. A simple rails application that reproduces the behavior is extremely useful, if you don't want to share too much about your applications.

Right now we don't have enough information from either of y

[2018-09-24 22:14] #1860 closed

[2018-09-24 23:02] blowmage commented on #2295
@dazuma @TheRoyalTnetennba Half of the remaining errors are due to using `self::` in the OperationsClient definition. It looks like this:

[code]

This is confusing YARD, which doesn't know how to handle `self`. Would it be possible to change this code using `synth.py` to the following instead?

[code]

I am not sure why `self::` was prepended, but it appears to work just fine without it.

[2018-09-24 23:05] blowmage commented on #2295
@dazuma @TheRoyalTnetennba The other remaining errors are coming from the documentation added because the GAPIC client uses `Google::Longrunning::Operation`. Well actually, it uses `Google::Gax::Operation`, which isn't documented. Would it be possible to use `synth.py` to remove the non-`Google::Longrunning::Operation` documentation, and possible add `Google::Gax::Operation` documentation?

(These

[2018-09-25 18:30] beccasaurus opened #2482 "Add Vision helper method for Object Localization"
Please add helper method (partial) to Vision for [Feature.Type `OBJECT_LOCALIZATION`](https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1p3beta1#google.cloud.vision.v1p3beta1.Feature.Type)

See related PHP issue: https://github.com/googleapis/google-cloud-php/issues/1303
And related C# change: https://github.com/googleapis/google-cloud-dotnet/commit/367420a1602950bdf3271294ff

[2018-09-25 18:31] beccasaurus commented on #2482
🤞 _no more additions to this hand-written after this_ 😕😁

[2018-09-25 22:11] beccasaurus commented on #2482
Removed the v1p3beta1 – this Feature.Type should be available on V1 /cc @dizcology

[2018-09-26 00:18] beccasaurus commented on #2482
Thank you so much @blowmage! 🙏

[2018-09-26 14:45] matti opened #2486 "ClusterManagerClient support for regional clusters"
http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-container/v0.1.0/Google/Cloud/Container/V1/ClusterManagerClient.html#create_cluster-instance_method

This requires a zone - how can we create regional clusters?

[2018-09-26 16:35] blowmage commented on #2486
I am not very familiar with the compute API, but I did find this link discussing how to create regional clusters:

https://cloud.google.com/kubernetes-engine/docs/how-to/creating-a-cluster#regional

The link uses the `gcloud` CLI. It is possible this functionality is not yet available via the API. @dazuma @TheRoyalTnetennba, do you have more information about regional clusters? Or can you tag some

[2018-09-26 17:19] #2482 closed

[2018-09-26 20:58] blowmage commented on #2482
This is released in [google-cloud-vision 0.31.0](https://github.com/googleapis/google-cloud-ruby/releases/tag/google-cloud-vision%2Fv0.31.0).

[2018-09-26 21:43] sduskis commented on #2319
@blowmage, The instance API is not currently supported.  There are requests like [this issue](https://github.com/GoogleCloudPlatform/google-cloud-go/issues/1092) for additional emulator support.

[2018-09-26 22:19] beccasaurus commented on #2482
Thank you kindly!

[2018-09-26 23:33] #2319 closed

[2018-09-27 03:03] echan00 opened #2491 "When can we expect AutoML support?"
I would be very interested in using AutoML translate

[2018-09-27 03:55] blowmage commented on #2491
@dazuma @TheRoyalTnetennba Do either of you know the answer to this question?

[2018-09-27 18:40] raivil opened #2492 "Possible incompatibility with Airbrake gem"
Hi,

I'm upgrading a Rails application to version 5.2.1 and some gems were updated.
[code]

Looks like all executables (rails console, db migrations), when exiting, are raising an exception. This causes the return value from executables to be 1.

I'm unsure if this is an airbrake issue or a gcloud logging issue.

Can anyone help?

Example:
[code]

[2018-09-27 21:49] raivil commented on #2492
@blowmage The app doesn't have a lof of specific configs and nothing specific (or custom) to stop those.

I can't reproduce this error on macos, only on a docker container.
I'm still investigating and testing configurations to see if anything changes.

Config samples:
Airbrake config is pretty much default
[code]

and Stackdriver code is super simple:
[code]

[2018-09-27 21:58] blowmage commented on #2492
Ah, very interesting. Can you provide more information? Host platform? Container OS? Base image? etc.

[2018-09-27 22:07] raivil commented on #2492
GKE 1.9.7-gke.6 with Container-Optimized OS (cos)
ruby official image: ruby:2.4.2-stretch

[2018-09-28 11:43] kyrylo commented on #2492
Airbrake Ruby developer here.

The race assumption is interesting and seems to be a good clue. To support that theory, I can add that Airbrake Ruby doesn't attempt to send any exceptions when it's closed. We have a check against that:

https://github.com/airbrake/airbrake-ruby/blob/64e91179f5a25f2fe35e3deb68e36e84e4ef98bc/lib/airbrake-ruby/notifier.rb#L58-L61

I am not familiar with `google-cloud-

[2018-09-28 12:49] blowmage commented on #2492
@raivil do you only see this behavior when being run from a container? Or when being run in production? Are you using a forking web server? If so, which one?

[2018-09-28 13:09] raivil commented on #2492
@blowmage I see this error only on a container in staging. Happens running rake db:migrate or after_party:run, rails console, sidekiq, but not puma (v3.8.2 with one worker).

[2018-09-28 14:12] blowmage commented on #2492
Can you try reproducing in a separate dummy app that only adds Google Cloud Logging and Airbrake, and any other dependency that is needed to demonstrate the behavior? Having a known-working reproducible app would help the diagnosis immensely.

[2018-10-01 18:54] jrun opened #2498 "Unable to add defs to DescriptorPool: couldn't resolve name '.google.api.MonitoredResourceMetadata' in message 'google.monitoring.v3.TimeSeries'"
After upgrading the google-cloud-monitoring gem from version `0.28.0` to `0.29.2`, I'm receiving what appears to be a protobuf related error while loading the library.

Here are a couple of examples which demonstrate the problem:

[code]

[code]

Installed Google related gems:

[code]

[2018-10-01 20:11] jrun commented on #2498
I had previously reinstalled select gems. Given you can't repro, I purged all installed gems and reinstalled everything. It worked outside of the Rails app in question but not within.  I found a couple of transient dependencies that I missed and tried again and it worked (🙄 ).

Not sure exactly what happened but I suspect upgrading googleapis-common-protos from 1.3.5 to 1.37 played a part in resol

[2018-10-01 20:37] blowmage commented on #2498
Glad you got it working!

[2018-10-01 20:37] #2498 closed

[2018-10-03 22:32] blowmage commented on #2492
@raivil Can you try upgrading to [1.5.6](https://github.com/googleapis/google-cloud-ruby/releases/tag/google-cloud-logging%2Fv1.5.6) and let us know if you still see this behavior?

[2018-10-03 23:36] raivil commented on #2492
@blowmage I'm not able to reproduce the error locally with the app or another new app.
I'll try the new version and let you know.

[2018-10-04 13:05] raivil commented on #2492
Same issue with 1.5.6.
[code]

[2018-10-04 13:30] blowmage commented on #2492
Thanks for trying. I am still not seeing where or how the Logger is being closed. Airbrake logs that it is being closed, and the error is being raised because the Logger is already closed. I’ll keep looking. Any reproduction of this behavior that you can share is very much appreciated.

[2018-10-04 14:36] blowmage commented on #2492
@raivil I was looking through your previous comment and noticed something I missed earlier. The inspect of the `Rails.logger` object shows that is is a `Google::Cloud::Logging::Logger` object, and it also shows the logger's AsyncWriter has this:

[code]

This ivar is set on the writer object when there is an error in the background thread. The background thread is where the API call to the Logging

[2018-10-04 18:52] raivil commented on #2492
@blowmage I'll dig further on this. i'm not sure what permisison may be missing because logs are being sent to stackdriver as expected.

Also I just realized that before upgrading rails, while using 4.2.x , the `Rails.loger` is `RailsStdoutLogging::StdoutLogger:`.
On Rails 5.2 with the "same" config the `Rails.logger` is a `Google::Cloud::Logging::Logger`.
One big difference is that we removed rai

[2018-10-05 00:47] echan00 commented on #2491
Is there something I can use in the meantime until AutoML is supported?

The AutoML REST API requires 'gcloud auth print-access-token' as authentication, not entirely sure how to obtain this authentication key on a rails server

[2018-10-05 16:01] blowmage commented on #1987
Closing as we haven't heard back. If anyone runs into this please open a new issue and reference this issue.

[2018-10-05 16:01] #1987 closed

[2018-10-05 20:56] quartzmo commented on #2405
@kryali Have you continued to have this issue with the Spanner: Session not found error?

[2018-10-05 22:46] kryali commented on #2405
This hasn't popped up in a while as far as I can tell, didn't change
anything.

On Fri, Oct 5, 2018 at 3:57 PM Chris Smith <notifications@github.com> wrote:

[2018-10-08 14:52] blowmage commented on #2492
@raivil Have you been able to confirm whether or not your staging environment is configured for Google Cloud correctly?

[2018-10-08 15:39] blowmage commented on #2486
@matti Does this answer your question?

[2018-10-08 19:01] raivil commented on #2492
@blowmage not yet.

[2018-10-08 20:04] dazuma commented on #2486
The [API itself](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/create) does support regions. (In general, if the gcloud command line supports it, then the API supports it, since gcloud calls the API internally.) But the Ruby client is out of date and hasn't picked up the region-related changes. I'm investigating why.

[2018-10-10 23:35] beccasaurus opened #2515 "Add path helpers to ServiceClients (as instance methods)"
**REQUEST:** please add path helpers as instance methods on ServiceClients! 🙏

### What I want

I _keep_ trying to call these path helpers on the client, like some other languages support...

[code]

### Currently supported

But that doesn't work. Here is what works today:

[code]

**Note:** _trying `Google::Cloud::Kms.location_path()` also blows up (which makes sense to us, knowing the implementa

[2018-10-10 23:38] quartzmo commented on #2515
Makes sense to me.

[2018-10-10 23:40] quartzmo commented on #2515
@beccasaurus Which APIs/services would benefit most from the addition of such helpers? All?

[2018-10-10 23:54] jbolinger commented on #2515
We plan to add this as part of the generator refresh. @frankyn has requested this multiple times as well: https://github.com/googleapis/gax-ruby/issues/125

Unless we plan to add these manually, or need them ASAP on a particular API, let's move the discussion to the new generator repo once it is live: https://github.com/googleapis/gapic-generator-ruby.  I'll open the issue there when ready but fee

[2018-10-11 00:02] blowmage commented on #2515
I would very much like to see this change on all GAPIC-generated clients. We could add them via the synth.py files, but I would be okay waiting for the new generator.

[2018-10-11 00:45] beccasaurus commented on #2515
Love it  👍

Might also allow for further usability discussions of resource paths? 🙂
Various other ways to think about improving the developer experience.

Like... maybe path helpers isn't the right approach.
e.g. Can haz resource name parts flattened as method params? 😇

Regardless of what the pattern is that gets implemented in the new generator:

+💯

[2018-10-11 01:00] blowmage commented on #2515
There are some instances where the path value is retrieved from some other resource object, and it would be painful to pass in every value as a separate argument instead of the single path string argument. I'm thinking Spanner and Firestore. But I can see allowing users to pass in a Hash instead of a String, and passing values from the hash to the path helper.

[code]

Of course the class helper h

[2018-10-11 06:34] fruwe commented on #2453
same here, on puma with the same ruby and rails versions

[2018-10-11 10:51] tobyaherbert opened #2516 "Broken pipe when uploading files (cloud storage)"
We use GCS to store backups and for the last two days multiple servers have thrown a 'Broken pipe' exception when performing their backups.

I've tried uploading a similar size file on my machine locally but it throws the same exception so I don't think it's a network related issue.

Strangely, I can upload a 100MB file but trying to upload a 1.29GB file or larger causes the broken pipe.

Here's a

[2018-10-11 12:55] blowmage commented on #2516
@tobyaherbert Thanks for the issue. The log shows the broken pipe after the upload has been active for ~5 seconds. Is that 5 seconds constant? Or does it vary?

[2018-10-12 14:10] dkkerr commented on #2516
We're experiencing this too.

Uploads with the same hosts/files/buckets via gsutil succeed.

[2018-10-12 14:22] blowmage commented on #2516
@dkkerr Is there a file size that this starts happening for you? Or is it all file sizes?

[2018-10-12 17:00] dkkerr commented on #2516
Does seem to primarily affect larger files. The behavior is random though so it's hard to get a good fix on it. Seems files less than 1GB generally work, 1.5GB and larger generally fail.

I have attached output of a test harness for various file sizes.

[gcs-keepalive-1.txt](https://github.com/googleapis/google-cloud-ruby/files/2473946/gcs-keepalive-1.txt)

Enabling HTTPClient debugging shows an i

[2018-10-12 18:49] dkkerr commented on #2516
Success rates at various upload sizes after 100 attempts of each:

900m 100%
1000m 98%
1010m 87%
1500m 0%

Looks like the GC Python client bundles JSON resumable uploads in 100MB chunks to be consistent with gcsutil and based on advice of the GCS team. I wonder if GCS endpoints now limit these transactions.

[2018-10-12 19:24] quartzmo opened #2520 "Bug in BigQuery partitioned tables doc examples"
Doc examples show [query jobs with time partitioning](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb#L906-L922) but no destination table, which results in the following error:

[code]

In these examples, a destination table must be set.

[2018-10-12 19:28] quartzmo commented on #2520
Doc examples show [query jobs with time partitioning](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/query_job.rb#L906-L922) but no destination table, which results in the following error:

[code]

In these examples, a destination table must be set.

[2018-10-12 21:04] blowmage commented on #2516
Apologies for being so quiet, I've been actively looking at this and don't have much to share just yet. I have been able to reproduce this, however. Last time I actively worked on uploads we successfully uploaded large files, 5GB+, so this does seem to be a recent change in behavior. I don't know if this is intentional or not.

The upload implementation has changed a couple of times previously, an

[2018-10-12 21:09] blowmage commented on #2516
Here is my repro script using google-api-client instead of google-cloud-storage:

[code]

[2018-10-12 21:21] tobyaherbert commented on #2516
@blowmage Great, thanks!

[2018-10-12 22:35] dkkerr commented on #2516
Much appreciated - thanks Mike. Does appear to be a recent change; we were operating successfully until a day or two ago.

[2018-10-12 22:44] georgeclaghorn commented on #2516
We also started seeing this today.

We maintain a minimal, internal GCS client for EOLed versions of Ruby. It’s based on Faraday and Net::HTTP and performs resumable uploads via the publicly documented [JSON API](https://cloud.google.com/storage/docs/json_api/). Using our custom client, I successfully uploaded a file that triggers this error in the official client.

[2018-10-12 23:03] blowmage commented on #2516
@georgeclaghorn Not sure I understand. Are you saying your internal client is seeing the same behavior? Where connections for uploading larger files are being closed by the server? Or are you saying that your internal client can upload larger files, while google-cloud-storage cannot?

[2018-10-12 23:04] georgeclaghorn commented on #2516
Our internal client doesn’t see the same behavior.

[2018-10-12 23:06] blowmage commented on #2516
@georgeclaghorn Okay, thanks for the clarification. Does your internal client upload in chunks?

[2018-10-13 00:37] georgeclaghorn commented on #2516
No, we send as much data as we can at once, like the official client does now.

[2018-10-15 17:30] quartzmo commented on #2135
This should have been closed by #2130. Closing now.

[2018-10-15 17:30] #2135 closed

[2018-10-15 22:41] #2520 closed

[2018-10-16 08:46] jlebray commented on #2516
Hi,
Our large uploads didn't work from October 12th to October 15th. I was about to apply the patch you submitted but it seems the issue has been fixed today.

[2018-10-16 08:52] tobyaherbert commented on #2516
Yup, seems to be fixed here too - all the large uploads are working again.

Sounds like it's been fixed server side.

[2018-10-16 12:13] blowmage commented on #2516
We heard from the GCS team last night. They identified a possible culprit and deployed a fix. My repro script that was raising is now working as well.

We also received confirmation that large uploads of a known size should be sent all at once, and not in chunks. So the current behavior is correct.

It looks like this has fixed so I will close this issue now. A huge thanks to everyone who particip

[2018-10-16 12:13] #2516 closed

[2018-10-16 20:04] dazuma commented on #2486
Quick update on this. We found the internal issue that was preventing the client libraries from being updated to receive new service features for this service. It appears to be limited to container (GKE) service. The team is working on a fix now, and we hope to release an updated client in the next week or so.

[2018-10-16 20:44] blowmage commented on #2492
@raivil Have you been able to confirm your staging environment configuration?

[2018-10-16 20:48] blowmage commented on #2405
K, I haven't been able to reproduce. If you are not seeing this then I will close this issue. If you see this again, please open a new issue with all the relevant information (gem version, ruby version, platform, backtrace, etc.), and reference this issue. If you can cleanly reproduce outside of your app that would also be very helpful.

[2018-10-16 20:48] #2405 closed

[2018-10-16 20:57] rickthomasjr opened #2526 "safe_search does not include racy"
When using the gem to perform a safe search detection, the results contain everything but whether the image is racy.  Is this intentional, or is the gem missing a feature?

![image](https://user-images.githubusercontent.com/516470/47047012-7edabf80-d164-11e8-9392-1c48046cdc7d.png)

[2018-10-16 21:36] #2136 closed

[2018-10-16 22:29] quartzmo commented on #2526
@rickthomasjr Thanks for bringing this omission to our attention.

Would you like to see `racy` added to the top-level API? If so, I'll re-label this issue as a feature request.

It is already [present and available for use](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-vision/lib/google/cloud/vision/v1/doc/google/cloud/vision/v1/image_annotator.rb#L412-L417) in the lowe

[2018-10-17 14:02] raivil commented on #2492
@blowmage
I'm still trying to figure it out.

The code snipped that you sent has an error as the `@writer` is not an `Google::Cloud::Logging::AsyncWriter`

[code]

[2018-10-17 14:41] blowmage commented on #2492
Oops, I had a mistake in my code. The first argument should be this instead:

[code]

So the code should really be this:

[code]

[2018-10-17 16:08] raivil commented on #2492
@blowmage Thanks.
Executing that I get a `Google::Cloud::PermissionDeniedError: 7:The caller does not have permission` as mentioned before.

I'm working with my Infrastructure team to understand this permisison issue.
I believe nothing was changed regarding permissions on our staging accounts, but we'll check it out.
The problem appeared right after deploying the rails 5 update.

Also staging envi

[2018-10-17 20:35] blowmage commented on #2492
Does calling `Rails.logger.writer.logging.warn("another test")` also work?

[2018-10-17 20:43] raivil commented on #2492
Private method there, but calling `Rails.logger.writer.logging.send(:warn,"another test")` works.

[code]

[2018-10-17 21:35] blowmage commented on #2492
My apologies again, I gave you more bad code to try. I'll try to get my head in the game.

I'm trying to make it as simple as possible to reuse the configuration to make an API call. I think the simplest is to run the code I posted previously:

[code]

Does that work? The code you tried previously is not calling Google Cloud Logger API, and is the equivalent to doing this:

[code]

[2018-10-17 22:10] raivil commented on #2492
@blowmage Yes, that code works and I can see the logs on stackdriver.

[2018-10-17 23:02] blowmage commented on #2492
Okay, verifying the error still occurs when staging environment is properly configured is very helpful. I'll try to reproduce this again. Any other information about your application that you can share is very helpful. A clean dummy app that reproduces this is the most helpful, of course.

The error is happening because the logger object is closed (either by an error or manually) when Airbrake log

[2018-10-18 14:51] blowmage commented on #2492
@raivil Did you mean to close this issue? Did you find the cause?

[2018-10-18 15:32] quartzmo commented on #2526
Closing, since Vision is likely to be migrated to a GAPIC-only library. If you have an urgent need for this feature, please use the lower-level API linked above.

[2018-10-18 15:32] #2526 closed

[2018-10-18 15:42] raivil commented on #2492
@blowmage Github closed it automatically based on another private pr of mine.

[2018-10-23 17:16] dazuma commented on #2486
The GKE team is working on it internally. It's taking a bit longer than expected because of the number of changes. (The client is nearly a year out of date.) I'll contact the engineer involved and see if we can get an ETA.

[2018-10-24 13:50] brauliobo opened #2535 "bigquery: please don't authenticate on require"
On `require 'google/cloud/bigquery'` it is doing a network request and authenticating with the server.

This is contrary to (almost) all ruby libraries that authenticate later on initialization or usage call. For instance, AWS SDK, pg (for postgresql), Rails, etc.

Because of this behaviour I cannot require bigquery in rake tasks, specs or environments that don't have authentication keys, so I nee

[2018-10-24 14:02] quartzmo commented on #2535
@brauliobo I'm sorry, but I can't reproduce this issue. I have executed the `require` statement without a network connection, but there is no network call. I only see a network call when I initialize the `BigQuery` client.

[code]

Can you please provide detailed steps to reproduce this issue in a simple environment? Thanks!

[2018-10-24 14:05] brauliobo commented on #2535
@quartzmo checking in an isolated scenario

[2018-10-24 14:17] brauliobo commented on #2535
sorry for the wrong report @quartzmo, I can reproduce your test case and indeed I was using `Bigquery.new` at class level. Although I have the feeling that this used was true before, good that it is fine now :smile:

[2018-10-24 14:17] #2535 closed

[2018-10-24 16:12] #2141 closed

[2018-10-24 16:37] blowmage commented on #951
The recently released [`googleauth` 0.7.0](https://rubygems.org/gems/googleauth/versions/0.7.0) will support the functionality to extract the `project_id` from service account credentials, but both `google-api-client` and `google-gax` pin the dependency on `googleauth` to a version lower than 0.7.0. We will have to coordinate the loosening of the downstream dependencies before we can start making

[2018-10-24 16:38] blowmage commented on #951
I'm going to reclose this issue and open a new issue for the remaining work.

[2018-10-24 16:38] #951 closed

[2018-10-24 16:44] blowmage opened #2537 "Use project_id in service account credentials"
Allow users to not specify the project_id, but instead use the project_id contained in the service account credentials. So users can call this:

[code]

instead of this:

[code]

The recently released [`googleauth` 0.7.0](https://rubygems.org/gems/googleauth/versions/0.7.0) added the functionality to extract the `project_id` from service account credentials, but both `google-api-client` and `googl

[2018-10-24 23:37] blowmage commented on #2453
@uiureo @lucaong @fruwe I've been asked to look into this more and am wondering if we can get more information about when you see this. Is this segfault happening immediately on app start? Or does it happen after the app has been running? How often do you see this segfault? How heavy is your app being run when you see this? How many threads/workers are you running when you see this?

Any informati

[2018-10-25 08:13] fruwe commented on #2453
@blowmage Thanks a lot. I already removed the gem until it is fixed, but as far as I can remember, the segfault happened on startup and without any load (staging environment). We were using 2 threads and 2 workers

[2018-10-25 10:34] lucaong commented on #2453
Same here, the segfault was happening both on staging and in production (staging with no load). In our case though, only the background job workers were affected.

The workers are Rails ActiveJob running with Sneakers (RabbitMQ job queues for Ruby) on 4 workers per machine, 10 maximum threads per worker.

We removed the gem and instead wrote a log formatter and exception logger for the Stackdriver

[2018-10-25 12:02] blowmage commented on #2453
Was this using docker? If so, was it using a common or custom image?

[2018-10-25 12:18] lucaong commented on #2453
In our case, it runs on Docker, on an image derived from the official `ruby:2.5.1` image. On top of it, we basically just install NodeJS and build our Rails 5.2 app.

[2018-10-25 20:41] quartzmo commented on #2080
The deliverables for GoogleCloudPlatform/ruby-docs-samples#359, or the Python examples that it links, may be useful here.

[2018-10-25 20:46] blowmage commented on #2080
@quartzmo FWIW, I think this issue should be closed in favor of GoogleCloudPlatform/ruby-docs-samples#359.

[2018-10-25 20:50] quartzmo commented on #2080
OK, I will close on the assumption that the deliverables for GoogleCloudPlatform/ruby-docs-samples#359 will be published at  https://cloud.google.com/monitoring/docs/reference/libraries. If this is incorrect, please reopen.

[2018-10-25 20:50] #2080 closed

[2018-10-29 23:43] quartzmo opened #2545 "Speech unit test failures on Ruby 2.5"
These errors occur consistently on the [Kokoro CI job for Speech on OS X](https://source.cloud.google.com/results/invocations/2318344c-2596-4af5-ac03-0fb900d7313e/log), which uses Ruby 2.5.

[code]

[2018-10-30 16:37] blowmage commented on #2545
These failures are due to a [known issue](https://github.com/protocolbuffers/protobuf/issues/4469) in the protobuf gem. The pre-compiled gem for OS X has a problem on Ruby 2.5. This doesn't looks to be an issue with the C code, but the pre-compiled files in packaged gem. Other Google Cloud gems are also affected by this issue and CI is failing for them on OS X/Ruby 2.5 as well.

The pre-compiled O

[2018-10-31 11:59] brauliobo opened #2562 "Bigquery: limit amount of bytes queried"
I can't find a way to prevent big queries to run

[2018-11-01 18:15] quartzmo opened #2574 "Upgrade Rubocop to 0.60.x"
Rubocop [0.60.0](https://rubygems.org/gems/rubocop/versions/0.60.0) was released. The google-cloud-ruby gems currently declare `~> 0.59.2`.

[2018-11-01 18:19] blowmage commented on #2574
The release cadence seems to be a minor release every month or so. Do we intend on performing an upgrade on all gems every month?

[2018-11-01 18:22] quartzmo commented on #2574
Maybe not forever, but I think it might be smart to do so while we work on the generator.

[2018-11-06 00:07] quartzmo opened #2579 "Add tracking tags to Spanner acceptance tests"
Example 'tags' are:

`spanner_write_read_bool_array`
`spanner_write_read_empty_int64_array`
`spanner_write_read_null_int64_array`
`spanner_write_read_int64_array`
`spanner_write_read_empty_float64_array`
`spanner_write_read_null_float64_array`
`spanner_write_read_float64_array`

These tags should surround applicable tests in comments. For combined tests multiple tags may be nested.
[code]

[2018-11-06 21:00] untoldone commented on #2211
@snehashah16 @blowmage tried switching to batch client and still have the same issues... at this point, the queries take long enough even from a gcp box to spanner that this query no longer runs successfully.

[2018-11-06 22:06] snehashah16 commented on #2211
@blowmage  - was my response (from Sep 17) useful and did u have a chance to repro this scenario ? Can the customer set a custom timeout ?

+ @crwilcox @JustinBeckwith - FYI

[2018-11-06 22:09] blowmage commented on #2211
@untoldone You can pass in connection configuration values using the `client_config` argument on the [`Google::Cloud::Spanner.new` method](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-spanner/v1.7.1/Google/Cloud/Spanner.html#new-class_method). I believe this structure is the same as the values for the `"google.spanner.v1.Spanner"` key in the [spanner_client_config.json](https://

[2018-11-06 22:20] blowmage commented on #2211
Oh, there is also a `timeout` argument on [`Google::Cloud::Spanner.new` method](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-spanner/v1.7.1/Google/Cloud/Spanner.html#new-class_method, which is probably useful as well. :)

[2018-11-08 22:48] beccasaurus opened #2593 "Request: Vision API Helper Method for PRODUCT_SEARCH"
Vision service client should have a helper method added for invoking just the `PRODUCT_SEARCH` [`Feature.Type`](https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1p3beta1#type_1)

See similar previous issues for `OBJECT_LOCALIZATION`:
 - PHP https://github.com/googleapis/google-cloud-php/issues/1303
 - Go https://github.com/GoogleCloudPlatform/google-cloud-go/issues/1160
 - R

[2018-11-08 22:49] beccasaurus commented on #2593
Related issues for `PRODUCT_SEARCH`:
 - PHP https://github.com/googleapis/google-cloud-php/issues/1412
 - Go https://github.com/GoogleCloudPlatform/google-cloud-go/issues/1214
 - Ruby https://github.com/googleapis/google-cloud-ruby/issues/2593
 - C# https://github.com/googleapis/google-cloud-dotnet/issues/2677

[2018-11-08 23:56] blowmage commented on #2593
We recently switched Vision from a hand-written library to a 100% generated library. This is not yet released, but we are very close to releasing. The updated generated code includes [ProductSearch methods](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-vision/master/Google/Cloud/Vision/V1/ProductSearchClient.html#create_product-instance_method). Is this sufficient for this issue?

[2018-11-09 01:35] blowmage commented on #2211
You’ll need to update your other dependencies to use the latest version of the signet gem.

[2018-11-09 03:03] untoldone commented on #2211
Cool -- the queries now complete with your branch while removing the client config overrides.

FYI: had to remove signet from my Gemfile.lock as no constraints pushed it to the correct version.

[2018-11-09 16:51] blowmage commented on #2211
Great news! I will create a PR to merge this change and release it.

Unfortunately, the exact version of google-api-client you are using had the issue and it was [fixed](https://github.com/googleapis/google-api-ruby-client/issues/708) in the next version, released a day later.

[2018-11-09 17:50] blowmage commented on #2138
Man, I am really, really nervous about this change. I fear the unintended consequences of how the String objects that are created in the gem are used outside of the gem. For example, consider a user uses a Google Cloud gem to retrieve a record from a data store. Whether it is Datastore or Spanner or Firestore. The user mutates the `title` value on the record, which is a string, and saves the recor

[2018-11-09 17:54] quartzmo commented on #2138
I think I have to agree. I'll close this issue now. Please create new issues for performance problems related to strings, and we will address them in a narrower scope.

[2018-11-09 17:54] #2138 closed

[2018-11-13 19:25] quartzmo opened #2599 "Add support for Firestore Emulator"
**Is your feature request related to a problem? Please describe.**
It is inconvenient to test against real Firestore instances.

 **Describe the solution you'd like**
A way to configure the google-cloud-firestore client to run against a [local Firestore emulator](https://cloud.google.com/firestore/docs/security/test-rules-emulator). Note that the current emulator docs state: "The only SDK that cur

[2018-11-15 11:51] tobsch opened #2604 "Stackdriver trace does not allow setting a service name?"
As we have many applications on the gcloud - What's best practice to separate them for trace?
At least the ruby gem does not support a lot of options but the interface offers a filter for appengine serrvices?

[2018-11-15 15:30] dshimy opened #2605 "Error Reporting is not Ignoring Classes"
#### Environment details

  - OS: GKE/Debian (Stretch)
  - Rails: 5.2.1
  - Ruby version: 2.4.5
  - Gem name and version: stackdriver (0.15.3)

#### Steps to reproduce

We want to ignore the following errors: ActiveRecord::RecordNotFound, ActionController::RoutingError.  This is not something that broke recently, we never got it to work.

1. Edit the production.rb (see below) file to ignore the cl

[2018-11-16 17:43] alixhami opened #2609 "BigQuery: Run job in one project that uses resources from another"
This is a feature request if it is not supported by the library. See last line for tldr. I am updating a ruby sample to match the [python sample for extracting a table](https://github.com/googleapis/google-cloud-python/blob/cf04f6d15615b09c1de9e584bb3462653f0770f1/bigquery/docs/snippets.py#L1890). The python sample extracts the bigquery-public-data shakespeare table to a GCS bucket. When attemptin

[2018-11-16 17:47] quartzmo commented on #2609
@alixhami Thanks for this issue! I'm going to initially label it as a question, but I'll change it to a feature request if needed.

[2018-11-16 18:00] alixhami opened #2610 "BigQuery: dataset.exists? acts in unexpected ways"
Why doesn't [dataset.exists?](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-bigquery/v1.9.0/Google/Cloud/Bigquery/Dataset.html#exists%3F-instance_method) call the API? I see that it is a cached property of a dataset, but it does not update when a dataset is deleted. I would expect this method to call the API to determine if the dataset exists, or at minimum the delete method shou

[2018-11-16 18:29] quartzmo commented on #2610
@alixhami I agree. Thanks for catching this.

[2018-11-16 18:39] alixhami commented on #2610
FWIW, [we got rid of the exists method](https://cloud.google.com/bigquery/docs/python-client-migration#dataset-exists) in the python client library because it was somewhat of a wasted API call. We recommend wrapping whatever table/dataset fetching operation with error handling if there's a risk it doesn't exist. It seems that would be the current recommendation in ruby now anyway, since `exists?`

[2018-11-16 18:47] quartzmo commented on #2610
Removing `#exists?` would require a `2.0.0` release, which seems a bit drastic at this point. I think first we should attempt to fix it.

[2018-11-16 23:03] quartzmo commented on #2610
@alixhami PTAL at #2612.

If you can point me to this recommendation in the python client documentation, I can try to adapt it and include it in #2612.

[2018-11-16 23:11] alixhami commented on #2610
The only documentation we have of it is in the [python migration guide](https://cloud.google.com/bigquery/docs/python-client-migration#dataset-exists). Other than that, we don't have anything docs explaining why we don't have an exists method because it's not part of the API so there isn't an expectation to have the method.

[2018-11-16 23:16] quartzmo commented on #2610
Sorry, I meant documentation recommending wrapping the fetch operation with error handling to avoid unnecessary API calls.

[2018-11-20 16:02] danielnc commented on #2492
Any updates? 🆙

[2018-11-20 23:05] #2610 closed

[2018-11-21 09:19] eskerber opened #2660 "Using "delimiter" parameter returns no results"
#### Environment details

  - OS: macOS 10.13.6
  - Ruby version: 2.4.5
  - Gem name and version: google-cloud-storage (1.15.0)

#### Steps to reproduce

  1. Do not have list access (see: https://github.com/googleapis/google-cloud-ruby/issues/1590)

  2. Attempt to use `delimiter` in [#files](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-storage/latest/Google/Cloud/Storage/Bucke

[2018-11-21 11:37] yoshi-automation opened #2663 "Synthesis failed for asset"
Hello! Autosynth couldn't regenerate asset. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2664 "Synthesis failed for bigquery-data_transfer"
Hello! Autosynth couldn't regenerate bigquery-data_transfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2665 "Synthesis failed for bigtable"
Hello! Autosynth couldn't regenerate bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2666 "Synthesis failed for container"
Hello! Autosynth couldn't regenerate container. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2667 "Synthesis failed for dataproc"
Hello! Autosynth couldn't regenerate dataproc. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2668 "Synthesis failed for datastore"
Hello! Autosynth couldn't regenerate datastore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2669 "Synthesis failed for debugger"
Hello! Autosynth couldn't regenerate debugger. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2670 "Synthesis failed for dialogflow"
Hello! Autosynth couldn't regenerate dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2671 "Synthesis failed for dlp"
Hello! Autosynth couldn't regenerate dlp. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2672 "Synthesis failed for error_reporting"
Hello! Autosynth couldn't regenerate error_reporting. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2673 "Synthesis failed for firestore"
Hello! Autosynth couldn't regenerate firestore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2674 "Synthesis failed for kms"
Hello! Autosynth couldn't regenerate kms. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2675 "Synthesis failed for language"
Hello! Autosynth couldn't regenerate language. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2676 "Synthesis failed for logging"
Hello! Autosynth couldn't regenerate logging. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2677 "Synthesis failed for os_login"
Hello! Autosynth couldn't regenerate os_login. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2678 "Synthesis failed for redis"
Hello! Autosynth couldn't regenerate redis. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2679 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2680 "Synthesis failed for tasks"
Hello! Autosynth couldn't regenerate tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2681 "Synthesis failed for text_to_speech"
Hello! Autosynth couldn't regenerate text_to_speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2682 "Synthesis failed for trace"
Hello! Autosynth couldn't regenerate trace. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 11:37] yoshi-automation opened #2683 "Synthesis failed for video_intelligence"
Hello! Autosynth couldn't regenerate video_intelligence. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9f6e7826-0eb9-425e-81ea-7fe65981cb4d).

[2018-11-21 14:30] Fonsan opened #2684 "Streaming Google storage upload"
I am trying to solve the case of uploading files in a streaming fashion without keeping the full contents in memory

I have previously implemented the same feature in https://github.com/aws/aws-sdk-ruby/pull/1711

As identified in https://github.com/googleapis/google-cloud-ruby/issues/1997
There are some limitations in `google-api-client` which hard codes the use of the content length header

I ha

[2018-11-21 14:31] Fonsan commented on #1997
@quartzmo @artm @210rain https://github.com/googleapis/google-cloud-ruby/issues/2684

[2018-11-21 18:08] #2682 closed

[2018-11-21 18:08] #2680 closed

[2018-11-21 18:08] #2683 closed

[2018-11-21 18:08] #2679 closed

[2018-11-21 18:08] #2681 closed

[2018-11-21 18:08] #2676 closed

[2018-11-21 18:08] #2677 closed

[2018-11-21 18:08] #2678 closed

[2018-11-21 18:08] #2674 closed

[2018-11-21 18:08] #2675 closed

[2018-11-21 18:08] #2672 closed

[2018-11-21 18:08] #2673 closed

[2018-11-21 18:08] #2671 closed

[2018-11-21 18:08] #2669 closed

[2018-11-21 18:08] #2670 closed

[2018-11-21 18:08] #2667 closed

[2018-11-21 18:08] #2668 closed

[2018-11-21 18:08] #2664 closed

[2018-11-21 18:08] #2665 closed

[2018-11-21 18:08] #2666 closed

[2018-11-21 18:08] #2663 closed

[2018-11-22 22:11] ce07c3 opened #2686 "Race condition in stream.rb on ack deadline modification"
#### Environment details

  - OS: Mac OS X 10.14.1
  - Ruby version: 2.5.3
  - Gem name and version: `gem("google-cloud-pubsub", require: "google/cloud/pubsub")`, locked at `0.33.2`

#### Steps to reproduce

  1. Create a job that executes in negligible time by using the thread pool implementation provided by `subscription.listen`
  2. The default `ack` deadline set on the `subscription` will be u

[2018-11-24 11:36] yoshi-automation opened #2688 "Synthesis failed for debugger"
Hello! Autosynth couldn't regenerate debugger. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/06474423-98cb-4173-b61a-924027dfcec2).

[2018-11-25 11:36] yoshi-automation commented on #2688
Autosynth passed, closing! :green_heart:

[2018-11-25 11:36] #2688 closed

[2018-11-26 18:23] blowmage commented on #2686
I haven't reproduced this, but I think that this is possible, and is an unintended consequence of moving acks and mod_acks from the stream to concurrent unary RPC calls. The unary RPC calls are added to a thread pool so they can called concurrently, and there is no run order guarantee on the thread pool.

I believe the following situation is possible.

1) Stream receives 200 messages.
2) Stream mo

[2018-11-26 20:27] sebright opened #2690 "Support the LogEntry "trace_sampled" field in GoogleCloudPlatform/fluent-plugin-google-cloud"
https://github.com/googleapis/googleapis/commit/7b34e5a3ed10775fe14d15ffa842870dc3b5400e added the `trace_sampled` field to the Stackdriver `LogEntry` proto.  It would be nice if the Stackdriver Logging agent handled `trace_sampled` similarly to the `trace` and `span_id` fields and used a special field in the Fluentd log event to set `LogEntry.trace_sampled` (See https://cloud.google.com/logging/d

[2018-11-27 01:51] quartzmo commented on #2609
Unfortunately this approach turned out to be extremely disruptive and error-prone, so I have have opened #2692 to add `project_id` to the extract methods.

[2018-11-27 19:17] mikesaltsman opened #2693 "Error when using KEYFILE_JSON env var with Storage and Shrine"
I'm using [Shrine's google cloud storage](https://github.com/renchap/shrine-google_cloud_storage) for uploads and when using the Keyfile location as a path it works just fine in dev, but I'm needing to have the JSON key in an environment variable for production. As per the [Google Cloud docs](https://github.com/googleapis/google-cloud-ruby/blob/master/AUTHENTICATION.md) I've created the environmen

[2018-11-27 19:33] quartzmo commented on #2693
It appears that [shrine-google_cloud_storage is calling](https://github.com/renchap/shrine-google_cloud_storage/blob/v1.0.1/lib/shrine/storage/google_cloud_storage.rb#L146) `Google::Cloud::Storage.new` with no args. Then, given the configuration you provided, [`storage.rb`](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage.rb#L163) is loading

[2018-11-27 19:45] quartzmo commented on #2693
I did a quick test of `Google::Cloud.configure` and it does NOT appear to automatically convert a JSON string to a hash:

[code]

[2018-11-27 19:57] blowmage commented on #2693
I concur with @quartzmo, the issue here is that you are not using the environment variable, you are shortcutting it by specifying the value in `Google::Cloud.configure`. If you do not specify the configuration value, the environment variable will be checked and used. Or, you can do as @quartzmo suggests and parse the JSON string.

[2018-11-27 20:05] quartzmo commented on #2693
Yes, the best solution (if it works) would be to remove your `Google::Cloud.configure` block and set just the `GOOGLE_CLOUD_KEYFILE_JSON` env var. The no-args construction (`Google::Cloud::Storage.new`) in the Shrine plugin should then work correctly.

[2018-11-27 20:55] mikesaltsman commented on #2693
That did it. Removing the configuration from production worked... Thank you for the help!

[2018-11-27 21:03] #2693 closed

[2018-11-28 13:56] giovannibonetti opened #2696 "Cloud trace slows down the app apparently making synchronous call to other region"
Thank you for the hard work on the Ruby gems for integrating with Google Cloud!
I created the issue here since I thought it could benefit from an open discussion on Github.

--------------------------------------------
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https:

[2018-11-28 15:20] quartzmo commented on #2696
@giovannibonetti Thank you for opening this issue. I'm not sure if there is anything we can do to fix it in the client library, but as you say, hopefully it will benefit from an open discussion on GitHub.

[2018-11-28 15:44] giovannibonetti commented on #2696
Hi, @quartzmo, thanks for the quick reply!

Is there a way to pass an option for the client library to make an async request, like [Sentry](https://github.com/getsentry/raven-ruby#async)?

Another option is make usage of background jobs with ActiveJob - when running Rails - like [Airbrake](https://github.com/airbrake/airbrake/blob/master/lib/airbrake/rails.rb#L63-L69).

[2018-11-28 16:13] blowmage commented on #2696
Trace should already be making API calls asynchronously, but I am not as familiar with the middleware. I am starting some work on Trace shortly, and will dive deeper into the middleware. Thank you for opening this issue.

[2018-11-28 18:43] qingling128 commented on #1867
We are seeing this issue as well with fluent-plugin-google-cloud plugin in a cluster with very few logs:
[code]

Note that error code doesn't match actual error type. See https://github.com/grpc/grpc-go/blob/master/codes/codes.go#L146

16 in fact corresponds to `Unauthenticated`. It could be due to credential expirations.

[2018-11-28 19:15] blowmage commented on #1867
@qingling128 Can you open a new issue with all the relevant details?

[2018-11-28 19:47] blowmage commented on #2696
@giovannibonetti Are you using a custom configuration for `Google::Cloud::Trace::Middleware`? Or does your call look like this?

[code]

[2018-11-28 19:58] blowmage commented on #2696
Is this slow down immediate? Or does it run for a while before slowing down? How many RPM does this endpoint get?

[2018-11-29 13:18] giovannibonetti commented on #2696
Hi, @blowmage, thanks for the help!

I'm using the stackdriver gem, which uses the middleware approach. All of the middleware running in production are listed [here](https://gist.github.com/giovannibonetti/99d03f873fdf0452e2a47ad4aa67996c).

I can't answer that with the metrics I have.

This is a very low traffic application, which gets about 10 rpm on this endpoint and about 60 rpm total.

The me

[2018-12-01 08:40] dazuma commented on #1979
Update: There's finally a patch in ruby-core: https://bugs.ruby-lang.org/issues/15362 which they expect to backport to the 2.5 branch. I haven't verified it yet for our case, but assuming the fix is real, we should be okay on Ruby >= 2.5.4

[2018-12-03 17:50] blowmage commented on #2084
I've started working on this, and I think one of the biggest improvements we can make is to add buffering to these classes that are currently using `Stackdriver::Core::AsyncActor`. I think we will see a large improvement in performance by buffereing items into larger batches that can trigger API calls by either the age of the buffer, number of items in the buffer, or byte size of the buffer.

[2018-12-03 18:56] blowmage commented on #2328
The latest release of Vision no longer has any documentation warnings.

[2018-12-03 18:56] #2328 closed

[2018-12-03 19:01] blowmage commented on #2265
There are several gems that are unable to clear all the YARD warnings because of the documentation that GAPIC generates. The current path to resolve these warnings is to replace GAPIC with a new code generator that we can have more control over.

@googleapis/yoshi-ruby, do you think these issues should remain open? Or should we close them all now and revisit this when the new generator is ready?

[2018-12-03 19:43] dazuma commented on #2265
This is a good point; there are a lot of open issues covered by this. I hesitate to close them since you've already done a lot of analysis work on what the issues are and what direction the new generator might need to go to solve them, analysis that will still be really useful and that we shouldn't throw away. Could we consolidate that data into one issue, or maybe throw it into a wiki on the new

[2018-12-03 19:49] blowmage commented on #2265
Yes, we could move this issue to the backlog wiki.

[2018-12-03 20:12] quartzmo commented on #2265
I vote to close these issues here, and open an issue for YARD compliance on the new generator repo. Fwiw, the example output for the new generator has no YARD warnings.

[2018-12-03 20:57] blowmage commented on #2265
That is because the example proto input/output doesn't have long running operations, and the current GAPIC generated docs for long running operations references classes that do not exist in Ruby.

[2018-12-03 21:51] #2609 closed

[2018-12-03 21:56] quartzmo commented on #2265
There were a couple warnings that I fixed.

[2018-12-04 07:19] takose opened #2705 "Would like to use dryrun"
Hi 👋

In the changelog below, it reports that `dryrun` was removed from `Project#query` . However We would like to use this function to confirm the cost with execute the query.

https://github.com/googleapis/google-cloud-ruby/blob/25922085247bcee5004565dd46f0187cea7af366/google-cloud-bigquery/CHANGELOG.md#change-details

Is there a way to do it?
We have been used this `dryrun` function by using ol

[2018-12-04 14:18] quartzmo commented on #2705
Hi @takose! Thank you for opening this issue. I'll try my best to help you with this later today.

[2018-12-04 18:31] sduskis commented on #2690
It looks like #2611 is tackling `trace_sampled`

[2018-12-04 22:17] quartzmo commented on #2562
@brauliobo Thank you for this question!

Both [`Project#query_job`]() and [`Dataset#query_job`]() have a `maximum_bytes_billed` option which is described as follows:

You can read more at [BigQuery Best Practices: Controlling Costs - Limit query costs by restricting the number of bytes billed](https://cloud.google.com/bigquery/docs/best-practices-costs#limit_query_costs_by_restricting_the_number_o

[2018-12-04 22:17] #2562 closed

[2018-12-04 22:55] blowmage commented on #2295
Moving to backlog.

[2018-12-04 22:55] #2295 closed

[2018-12-04 22:55] blowmage commented on #2297
Moving to backlog.

[2018-12-04 22:55] #2297 closed

[2018-12-04 22:55] blowmage commented on #2417
Moving to backlog.

[2018-12-04 22:55] #2417 closed

[2018-12-04 22:55] blowmage commented on #2299
Moving to backlog.

[2018-12-04 22:55] #2299 closed

[2018-12-04 22:55] blowmage commented on #2301
Moving to backlog.

[2018-12-04 22:55] #2301 closed

[2018-12-04 22:56] blowmage commented on #2302
Moving to backlog.

[2018-12-04 22:56] #2302 closed

[2018-12-04 22:56] blowmage commented on #2303
Moving to backlog.

[2018-12-04 22:56] #2303 closed

[2018-12-04 22:56] blowmage commented on #2304
Moving to backlog.

[2018-12-04 22:56] #2304 closed

[2018-12-04 22:56] blowmage commented on #2305
Moving to backlog.

[2018-12-04 22:56] #2305 closed

[2018-12-04 22:56] blowmage commented on #2306
Moving to backlog.

[2018-12-04 22:56] #2306 closed

[2018-12-04 22:56] blowmage commented on #2307
Moving to backlog.

[2018-12-04 22:56] #2307 closed

[2018-12-04 22:56] blowmage commented on #2308
Moving to backlog.

[2018-12-04 22:56] #2308 closed

[2018-12-04 22:56] blowmage commented on #2312
Moving to backlog.

[2018-12-04 22:56] #2312 closed

[2018-12-04 22:56] blowmage commented on #2315
Moving to backlog.

[2018-12-04 22:56] #2315 closed

[2018-12-04 22:56] blowmage commented on #2316
Moving to backlog.

[2018-12-04 22:56] #2316 closed

[2018-12-04 22:56] blowmage commented on #2318
Moving to backlog.

[2018-12-04 22:56] #2318 closed

[2018-12-04 22:56] blowmage commented on #2325
Moving to backlog.

[2018-12-04 22:56] #2325 closed

[2018-12-04 22:56] blowmage commented on #2326
Moving to backlog.

[2018-12-04 22:56] #2326 closed

[2018-12-04 22:56] blowmage commented on #2327
Moving to backlog.

[2018-12-04 23:01] blowmage commented on #2265
This issue has been moved to the [backlog wiki](https://github.com/googleapis/google-cloud-ruby/wiki/Feature-backlog). All of the remaining warnings are from generated files, and outside of our direct control in this repo.

[2018-12-04 23:01] #2265 closed

[2018-12-05 00:01] quartzmo commented on #2491
This question has also been asked for Google API Client in googleapis/google-api-ruby-client#721.

[2018-12-05 16:30] #2686 closed

[2018-12-05 18:23] quartzmo commented on #2327
Moved to backlog, closing.

[2018-12-05 18:23] #2327 closed

[2018-12-05 18:37] quartzmo commented on #2234
Moved to backlog, opened googleapis/gapic-generator-ruby#5.

[2018-12-05 18:37] #2234 closed

[2018-12-05 20:03] quartzmo commented on #2233
This issue was fixed by #2428. If a new Datastore version is generated and is missing these files, please re-open or reference in a new issue.

[2018-12-05 20:03] #2233 closed

[2018-12-05 22:17] beccasaurus commented on #2515
/fyi @alixhami @frankyn @TheRoyalTnetennba

[2018-12-05 23:42] blowmage commented on #2515
Moving this issue to googleapis/gapic-generator-ruby#6 and closing.

[2018-12-05 23:42] #2515 closed

[2018-12-06 00:53] dazuma commented on #2491
I spoke with the AutoML team, and the current plan is to produce the Ruby clients during early 2019. Until then, you can talk directly to the REST API as documented [here](https://cloud.google.com/natural-language/automl/docs/reference/rest/).

@echan00 For authentication from Rails, our recommendation is to create a service account. Since as you mention, the access token from gcloud auth probably

[2018-12-06 00:53] #2491 closed

[2018-12-06 05:43] immadikiran commented on #1503
I just tried with Chicago4 video. It worked well. If I want to analyze my own video now, do I need to place that video in the Google cloud storage?  Appreciate your inputs. Appreciate your help.

[2018-12-06 06:17] blowmage commented on #1503
It doesn’t sound like your question is the same as downloading a file from GCS. Can you open a new issue with all the relevant details?

[2018-12-06 18:34] quartzmo commented on #2463
I can't see any reason *not* to expose `Google::Api::MetricDescriptor` in the `Metric` class, other than demand/priority, so I think this issue is a feature request rather than a question.

[2018-12-06 20:19] blowmage commented on #2463
K, I'll start on this while I'm doing the other Stackdriver stuff.

[2018-12-06 21:10] sebright commented on #2690
@blowmage Thanks for working on this feature!

Is #2611 the correct link?  It looks like it's related to buffering log entries, not transforming entries in the logging agent.

[2018-12-06 22:36] blowmage commented on #2690
That is not the correct link. I have just started this, and 2611 is for a different change.

[2018-12-07 01:39] blowmage commented on #2492
We have changes coming to AsyncWriter that will _not_ close the writer object when it gets an error. I suspect this change will fix this issue. But until I can reproduce I can't be 100% confident.

[2018-12-07 18:01] quartzmo commented on #2705
@takose The `dryrun` param is now available in [`Project#query_job`](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-bigquery/v1.10.0/Google/Cloud/Bigquery/Project.html#query_job-instance_method) and [`Dataset#query_job`](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-bigquery/v1.10.0/Google/Cloud/Bigquery/Dataset.html#query_job-instance_method) in [v1.10.0](https:

[2018-12-08 17:51] blowmage commented on #2604
Hi @tobsch, I have a request into Google asking for more information about best practices. Unfortunately, we only work on the Ruby gems in this repo, and aren't familiar with the UI. it might also be a good idea to ask about best practices on [StackOverflow](https://stackoverflow.com/questions/tagged/google-cloud-trace).

Here is what I have tried. You can set a label on your root span that will i

[2018-12-10 15:36] blowmage commented on #1762
We are looking into setting `ruby_namespace` in the protobuf files to resolve this.

[2018-12-10 15:40] blowmage commented on #2117
I've been looking into this. Some upcoming changes will hopefully make errors easier to deal with.

[2018-12-10 21:31] blowmage commented on #2486
Hi @matti, thank you for your patience on this. We just released [google-cloud-container 0.3.0](https://github.com/googleapis/google-cloud-ruby/releases/tag/google-cloud-container%2Fv0.3.0) which adds support for regional clusters.

The previous way to work with clusters was to provide the `project_id` and `zone` as positonal arguments in method calls:

[code]

This will continue to work. However,

[2018-12-10 21:31] #2486 closed

[2018-12-11 19:36] quartzmo opened #2716 "Should Rubocop enforce omitting parentheses in method calls?"
Our libraries consistently use a "no parens" style, but this isn't currently enforced by Rubocop. The following configuration will require it with the exception of multiline calls:

[code]

See [Style/MethodCallWithArgsParentheses](https://github.com/rubocop-hq/rubocop/blob/master/manual/cops_style.md#enforcedstyle-omit_parentheses) for details and examples.

[2018-12-11 19:59] blowmage commented on #2716
I haven't felt the need to enforce this because there are times when it is useful, especially when forcing code to fit other Rubocop rule. For instance, if another method is called inline.

[code]

But I do think we would benefit from a more cohesive style guide.

[2018-12-11 20:45] quartzmo commented on #2716
This line would be good with the configuration above:

[code]

[2018-12-11 21:14] blowmage commented on #2716
K, I'll have to enable this on some libraries and see what would need to change to enable this rule then.

[2018-12-12 03:00] yossy-ok opened #2717 "Logging custom labels config doesn't work in Rails"
I'm using stackdriver logging (`appengine` gem) on App Engine Flexible Environment.
I enabled logging middleware on staging environment by `config.google_cloud.use_logging = true`, and I could get really good stackdriver UI. Thank you.

And I want to log user id, so I configured `config.google_cloud.logging.labels`, but any customized label was not logged.

[code]

I tried to configure in `config/

[2018-12-12 17:28] quartzmo opened #2718 "Set Rubocop's AllCops.TargetRubyVersion to 2.2 in all gems' .rubocop.yml"
Users of Ruby version managers who use `.ruby-version` to set a version later than `2.2` may encounter Rubocop errors that are inconsistent with our style guide. I have seen these errors at times. The majority of the errors is `Style/FrozenStringLiteralComment`, which I believe is enabled by default for `2.3+`.

The Rubocop configuration guide [states](https://github.com/rubocop-hq/rubocop/blob/ma

[2018-12-12 18:35] blowmage commented on #2717
Hi @yossy-ok, thanks for the question. As I read the [Stackdriver Instrumentation Configuration](https://github.com/googleapis/google-cloud-ruby/blob/master/stackdriver/INSTRUMENTATION_CONFIGURATION.md) document, and as my testing has shown, the configuration can be added to either the `config/application.rb` file, or the `config/environments/*.rb` files. Any configuration added to `config/initial

[2018-12-12 18:41] blowmage commented on #2717
One more thing. The original code you provided is not syntactically correct, and will raise an error when run.

[code]

This will raise a `SyntaxError`. So if this is indeed the code that is being used it is possible that the configuration isn't loaded at all because of the error.

[2018-12-12 20:19] yossy-ok commented on #2717
Thank you for your courteous reply. I understand `config/application.rb`, `config/environments/*.rb` and `config/initializers/*.rb` relationships.

And I was mistaken. I was seeing `nginx.request` (`projects/(MyProject)/logs/appengine.googleapis.com%2Fnginx.request`) labels field in Stackdriver UI, but I should see `ruby_app_log` (`projects/fanc-dev/logs/ruby_app_log`).
`ruby_app_log` logs have my

[2018-12-12 20:20] #2717 closed

[2018-12-12 23:15] theSociableme opened #2723 "Permission Denied Error - Pub/Sub - Subscriber Role - Bug"
#### Environment details

  - OS:  OSX  10.13.6
  - Ruby version: 2.4.1
  - Gem name and version:  'google-cloud-pubsub'

#### Steps to reproduce

  1. Create a Service Account with only Pub/Sub Subscriber Role
  2. Run code below

#### Code example

[code]

Stack Trace
[code]

This Error does not happen with the same SA Role using the GO library

There seems to be a difference in the permissions

[2018-12-12 23:34] blowmage commented on #2723
@theSociableme Can you try with specifying the `skip_lookup` option?

[code]

[2018-12-12 23:36] blowmage commented on #2723
Here is the method [documentation](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-pubsub/latest/Google/Cloud/Pubsub/Project.html#subscription-instance_method).

[2018-12-12 23:37] quartzmo commented on #2723
Using `skip_lookup` might well work (since it won't make the `subscriber.get_subscription` API call), but shouldn't this work without `skip_lookup`? I quickly looked over the code and I can't see anything that involves Publisher, so it seems like it should work.

[2018-12-12 23:41] blowmage commented on #2723
When `skip_lookup` is not specified, the subscription resource is retrieved form the API. If the authenticated user does not have view permissions they will see the permission denied error shown in this issue.

[2018-12-12 23:43] quartzmo commented on #2723
Ah, gotcha. Role `roles/pubsub.subscriber` does not have permission `pubsub.subscriptions.get`.

https://cloud.google.com/pubsub/docs/access-control#tbl_roles

[2018-12-12 23:44] quartzmo commented on #2723
That's not exactly intuitive, but I'll change the issue type back to `question`.

[2018-12-13 15:03] theSociableme commented on #2723
Skip Lookup does not work as it fails further downstream, where it tries to get the subscription name again.

[2018-12-13 16:59] blowmage commented on #2723
What method is pulling the name? Can you send an error backtrace?

[2018-12-13 19:45] blowmage commented on #2723
Still waiting for a response, _but_ if you are creating a `Subscriber` object by calling `Subscription#listen`, then you will need to pass the optional `deadline` argument to avoid a `projects.subscriptions.get` call.

[code]

[2018-12-13 21:21] #2718 closed

[2018-12-14 18:35] blowmage commented on #2604
@tobsch Ping.

[2018-12-14 18:50] theSociableme commented on #2723
It fails on this line
[code]
If it only has the Pub/Sub Subscriber Role,  I will see If I can locate the other call and update this ticket.

[2018-12-14 18:53] theSociableme commented on #2723
Actually scratch that....   You are getting the topic. I don't believe Pub/Sub Subscriber Role has access to the topic.  See my original example:
[code]
This line still fails
[code]

[2018-12-14 18:55] blowmage commented on #2723
It probably fails on the line previous. My apologies. The code I posted was wrong. You should not create a `topic` object. the line should be:

[code]

[2018-12-14 19:05] blowmage commented on #2723
You actually can create a topic object as long as you also pass the `skip_lookup` argument to that as well.

[code]

[2018-12-14 19:07] blowmage commented on #2723
I don't see how it could. That call does not make any API calls. Can you post a backtrace of the error you are seeing, please?

[2018-12-17 10:46] dirkjonker commented on #2453
I am also getting random segfaults, cannot always reproduce
Ubuntu 18.04, ruby 2.5.1 using rbenv, Rails 5.2.1, stackdriver gem latest
`require 'stackdriver'` in config/application.rb
opening the Rails console `rails c`
running an arbitrary command such as `Rails.logger` to see that it uses the Google::Cloud::Logging::Logger
exiting with `CTRL+D` -> causes segfault

[2018-12-17 13:31] blowmage commented on #2453
Thanks @dirkjonker, does the following workaround fix this for you?

https://github.com/protocolbuffers/protobuf/issues/4460#issuecomment-434631296

[2018-12-19 15:37] paulpyrb commented on #2453
Hi, I'm facing the same segmentation issue on GAE, I'm able to deploy and run my migrations (via the appengine gem) without any issues, but it responds with a 503 when trying to access it.

The app is running on Ruby 2.5.3 and Rails 5.2.0, appengine 0.4.6

Logs and Gemfile.lock are available in this gist: https://gist.github.com/paulpyrb/1161a24ba970391a2f8a94f85207a494

@blowmage I tried the work

[2018-12-19 17:42] axalix commented on #2453
Same issue here and the workaround didn't for me either.

[2018-12-19 17:52] blowmage commented on #2453
@axalix, unfortunately yours looks like a separate issue. The segfault is from a different method, and the backtrace shows you are using a pre-compiled gem. You need to install the pure-ruby gem which will compile the C-code.

[2018-12-21 09:18] dirkjonker commented on #2453
@blowmage I'm having some issues trying the "fix" as I cannot seem to build V8 from scratch without some effort

[2018-12-21 16:01] jarv commented on #2453
@axalix this works for me:
[code]

[2018-12-21 18:51] blowmage commented on #2723
@theSociableme Ping.

My tests show that providing the `skip_lookup` and `deadline` arguments on these methods avoid the API calls that you client is not authorized to make.

[2018-12-21 18:59] blowmage commented on #2604
@dazuma Any word on best practices for identifying applications in traces? Is this label the one to use?

[2018-12-21 19:04] blowmage commented on #2492
The changes mentioned previously have (finally) made their way to master, but we are in a release freeze over the holidays so we won't see a release until next year. However, you can try these changes out now if you add the following to your `Gemfile`:

[code]

@danielnc Can you try this and let me know if these changes address your problem? You may also consider setting `Google::Cloud::Logging.co

[2018-12-21 20:43] blowmage commented on #2605
Hi, I'm looking into this and I'm a little confused. You are showing a Logging log entry, but you are asking about Error Reporting. The `ignore_classes` configuration is for the ErrorReporting service, not the Logging service. Are you asking that these requests not be logged?

[2018-12-27 18:31] blowmage commented on #2723
@theSociableme Can you post a backtrace of the error you get when you call:

[code]

[2018-12-27 19:06] #2690 closed

[2018-12-28 16:10] dirkjonker commented on #2453
@blowmage I have some issues related to the grpc forking issues. I am loading the stackdriver gem conditionally and it seems to load some grpc component before forking. I'll have to investigate a bit further, I might open a new ticket for it.

[2018-12-29 16:47] blowmage commented on #2453
@Viktor-Ivliev Can you open a new issue with all the relevant details?

[2018-12-30 09:54] dirkjonker commented on #2453
@blowmage thanks, the fix seems to work, just submitted #2742 to fix one issue I have with it

[2018-12-30 16:44] blowmage commented on #2453
@dirkjonker Glad to hear it.

@uiureo I have been unable to reproduce the exact segfault you have reported. I see that you are using Unicorn. Are you seeing the segfault pre or post-fork? Can you try updating to use the code in the repo and see if that helps?

[2019-01-02 17:54] blowmage commented on #2723
Closing for lack of response. If you follow the instructions above and still get errors, please open a new issue and reference this one.

[2019-01-02 17:54] #2723 closed

[2019-01-02 17:56] blowmage commented on #2605
@dshimy Can you clarify the behavior you are expecting to see here?

[2019-01-02 18:13] blowmage commented on #2492
@raivil Can you try using the code in master to see if it resolves this behavior for you?

[2019-01-03 13:01] stabenfeldt opened #2746 "Google::Cloud::InvalidArgumentError: 3:ReportedErrorEvent.context must contain a location unless `message` contain an exception or stacktrace."
#### Environment details

  - OS
    - Ubuntu (ruby:2.4-slim-jessie)
  - Ruby version
     -  ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux]
  - Gem name and version:
    - stackdriver (0.15.0)
    - stackdriver-core (1.3.0)

#### Steps to reproduce

  1. Give the service acount "Compute Engine default service account" access to Stackdriver API.
  2. Log into a kubernetes node and start

[2019-01-03 14:05] stabenfeldt commented on #2746
Digging around the source code I found an [example](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-error_reporting/lib/google/cloud/error_reporting/service.rb#L52-L70) for reporting errors:

        #   error_event =
        #     error_reporting.error_event "Error Message with Backtrace",
        #                                 event_time: Time.now,
        #

[2019-01-03 14:05] #2746 closed

[2019-01-04 00:57] #2599 closed

[2019-01-04 23:59] giovannibonetti commented on #2696
Thank you, @blowmage! That is awesome!
I will give it another try soon! 🙂

[2019-01-04 23:59] #2696 closed

[2019-01-05 00:04] blowmage commented on #2696
If you want to try this before it is released, you can tell your `Gemfile` to use the code in the GitHub repo:

[code]

[2019-01-05 00:07] #2574 closed

[2019-01-05 00:34] dazuma commented on #2604
I'm getting some more detailed information from the Stackdriver UI team, but here is some preliminary information.

(1) The App Engine Service and Version dropdowns are populated only if an actual App Engine service of that name and version is deployed. That's probably why you're not able to filter by them in the UI. In general, if you're actually deploying to App Engine, then this is the easiest

[2019-01-05 00:41] giovannibonetti commented on #2696
Yeah, I will do that! Thanks! 👍🏻

[2019-01-05 07:15] stabenfeldt commented on #2746
As a consumer of open source, I strive to give feedback and small patches wherever I can. Fun to see that I lead to a patch and improvement of the software! 🎉 😀

[2019-01-07 05:55] leechou commented on #1357
Is there an update to this?  are there plans to make a better interface to using namespaces?

[2019-01-07 06:36] leechou commented on #1357
@blowmage
I realize that it's only a suggestion, but it would be useful for how I'm using datastore. I haven't found a method to query by key.

It seems like there's no way of setting up the query such that it's only searching for the namespace

`datastore.run datastore.query "MyKind" ` would only return things from the namespace "" and filters wouldn't be able to retrieve entities from other name

[2019-01-07 07:07] blowmage commented on #1357
You can specify namespace when running a query:

[code]

[2019-01-07 09:16] leechou commented on #1357
thanks for the response~ sorry that I wasn't clear about what I wanted to do. I'm trying to make model objects that will wrap the datastore so that the way the data is stored is separated from from how to access the data.
Using ancestor key for strong consistency models can be hidden by making default queries that have that key, but it seems like namespaced data can't be done in a similar way. It

[2019-01-07 20:43] blowmage opened #2775 "Pub/Sub ExpirationPolicy?"
PR #2764 added ExpirationPolicy to the low level API. Does this need to be exposed in the public API?

[2019-01-09 11:41] yoshi-automation opened #2783 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d2cc8794-e8b5-489f-9bd2-6d8e29b58710).

[2019-01-09 19:19] #2537 closed

[2019-01-10 00:09] jadekler opened #2785 "Pub/Sub: remove delay!"
AFAIK, the [delay! alias](https://github.com/googleapis/google-cloud-ruby/blob/d6ec4d8ff336db553e3b171962e60324ea6d580d/google-cloud-pubsub/lib/google/cloud/pubsub/received_message.rb#L163) is misleading users into a use case that Pub/Sub does not outright support. Can we remove this method?

/cc @kolea2 @kamalaboulhosn

[2019-01-10 00:12] blowmage commented on #2785
Removing it would be a breaking change. Users that currently use it would break when upgrading.

[2019-01-10 00:15] jadekler commented on #2785
This library appears to be beta, so that seems doable despite being unfortunate. @kamalaboulhosn is the authority, but I believe this change will cause the ruby library to be inline with other library's API surfaces, which is AFAIK a blocker towards it being considered GA. Let me know if you know otherwise, though!

[2019-01-10 00:46] kamalaboulhosn commented on #2785
Yes, I would consider this a GA blocker. The delay! API (or something similar) is something we'd consider adding in the future, but we need to make sure it is built in a way that matches our intended use and is consistent across all 7 client libraries.

[2019-01-10 11:42] yoshi-automation commented on #2783
Autosynth passed, closing! :green_heart:

[2019-01-10 11:42] #2783 closed

[2019-01-10 18:35] #2785 closed

[2019-01-14 15:45] blowmage opened #2789 "Firestore V1"
[Firestore V1 protos](https://github.com/googleapis/googleapis/tree/master/google/firestore/v1) have been released. Should google-cloud-firestore be updated to use v1 instead of v1beta1?

[2019-01-14 16:17] blowmage commented on #2605
@dshimy Ping.

[2019-01-14 18:08] quartzmo commented on #2789
Yes, I think this is what we are supposed to do right now.

[2019-01-14 23:50] blowmage commented on #2789
@dazuma @TheRoyalTnetennba can one of you take this issue?

[2019-01-16 17:06] blowmage opened #2793 "Firestore: Add new transform types"
PR #2792 added transform_type options increment, maximum, and minimum to the low-level API. These options should be exposed to public API.

[2019-01-16 17:07] blowmage opened #2794 "Firestore: Add field_mask argument to get_all method"
From the design document:

[2019-01-16 22:33] dazuma opened #2797 "Logging: Add support for a default insert_id for LogEntry objects"
Today, insert_id on a LogEntry will default to an empty string. If we could add support for it to default to unique identifier it would enable the backend to better deduplicate logs in the case it writes a log twice.

(See https://github.com/googleapis/google-cloud-python/issues/7133)

[2019-01-16 23:09] blowmage commented on #2797
Is a UUID sufficent?

[2019-01-17 03:27] jmarbach opened #2800 "Support Audio File Extension Tags"
Hi,

I am attempting to programmatically convert my audio files with ffmpeg before I create a Google Speech transcribe operation, however, I receive the following error that stops the execution of my program:

[code]

I've debugged this issue extensively and I noticed that when I convert my audio files manually at the command line, rather than through a system call in my program, they produce a fi

[2019-01-17 14:40] dshimy commented on #2605
@blowmage Sorry for the delay and confusion.

What we want to do is prevent ActiveRecord::RecordNotFound and ActionController::RoutingError errors from showing up in the GCP Error Reporting interface.

From the documentation, there is an `error_reporting.ignore_classes` option on this page: https://github.com/googleapis/google-cloud-ruby/blob/master/stackdriver/INSTRUMENTATION_CONFIGURATION.md#err

[2019-01-17 17:58] blowmage commented on #2605
What version of google-cloud-error_reporting are you using?

[2019-01-17 18:14] blowmage commented on #2605
Are you also setting `ignore_classes` on `Google::Cloud::ErrorReporting.configure` anywhere else in your app? The runtime checks for values at `Google::Cloud::ErrorReporting.configure.ignore_classes` before checking `Rails.application.config.google_cloud.error_reporting.ignore_classes`.

[2019-01-17 18:17] quartzmo commented on #2800
Hi @jmarbach,

Thanks for opening this issue!

Do you mean files **with** the extension tag or audio files **without** the extension tag?

[2019-01-17 18:36] quartzmo commented on #2800
I'm having a little trouble following exactly you are doing, can you provide more detail in the form of example code, audio file name/headers, and full backtrace? Most likely this issue can't be addressed in this client, but we're more than happy to take a look at it with you. (However, if a change in the Speech API service is what is needed, it might help to open a question on Stack Overflow with

[2019-01-17 20:09] blowmage commented on #2605
Are you doing anything extra, like calling `Google::Cloud::ErrorReporting.report` somewhere? What I'm seeing is that by default Rails already handles `ActiveRecord::RecordNotFound` and `ActionController::RoutingError` and those errors are not reported to ER. I have not been able to get either of those errors to show up on the Error Reporting dashboard.

I should note that `ignore_classes` is only

[2019-01-17 20:11] tbpg opened #2825 "Add support and tests for Ruby 2.6"
cc @TheRoyalTnetennba @frankyn

Found while testing github.com/GoogleCloudPlatform/ruby-docs-samples with Ruby 2.6.

[2019-01-17 20:12] tbpg commented on #2825
Example failure:

[code]

[2019-01-17 21:06] blowmage commented on #2825
We are still waiting on a `google-protobuf` release that includes a precompiled binary for ruby 2.6. You can install the gem and specify the platform as `ruby` and the gem will compile the library. More information at protocolbuffers/protobuf#5161.

[2019-01-17 21:30] quartzmo commented on #2684
@Fonsan Can you see a backward-compatible way to add [this functionality](https://github.com/Fonsan/gcs_stream_upload/blob/v0.1.0/lib/gcs_stream_upload.rb#L5-L26) to googleapis/google-api-ruby-client? I think that might be the first step toward incorporating it into google-cloud-storage. Even then, however, I'm not sure if other considerations might prevent adding this feature, for example the use

[2019-01-17 22:36] NathanBockrath opened #2826 "Google::Cloud::Vision::ImageAnnotator does not exit from the process after all client code is executed."
Hello, Google Tech Support;

When we try to run a simple example using the ruby gem with google-cloud-vision (0.32.2), we see that the script/program hangs and does not return to the shell prompt after completing all of it's image related tasks.

Similar examples run from CSharp or Java do not show this behavior.

Here is the template info:
#### Environment details

  - OS:   Windows 10 Enterprise

[2019-01-17 22:51] quartzmo commented on #2826
Hi @NathanBockrath,

Thank you for this very thorough issue, we really appreciate the detail.

I ran your script on mac OS 10.13.6 with Ruby 2.4.5p335 and the current master branch for this repo, and I could not reproduce the hang. The script exits immediately after executing, as it should.

[code]

[2019-01-17 23:07] blowmage commented on #2826
Thank you for the detailed report. We will look into this.

[2019-01-18 05:03] jmarbach commented on #2800
Hey @quartzmo,

Thanks so much for offering to take a look! To answer your first question, I am hoping that the Speech-to-Text API will support files **with** the extension tag, e.g. `audio/x-flac`.

I ran into this problem because I need to convert my `MP3` encoded files to one of the following Speech-to-Text API compatible encodings:

`FLAC`, `LINEAR16`, `MULAW`, `AMR`, `AMR_WB`, `OGG_OPUS`, `SP

[2019-01-18 07:52] Fonsan commented on #2684
@quartzmo Given the way `request_header` works in `#send_start_command`; it fails even if we would stub the `#size` method on objects that do not respond to size when passed and then stub `#to_s` we would still end up in a scenario where `UPLOAD_CONTENT_LENGTH => nil`. This still sets the header and the GCS backend service fails in that scenario currently.

What I am describing above is a bit of a

[2019-01-18 15:06] dshimy commented on #2605
Here are the answers to your questions:

1. The version is `google-cloud-error_reporting (0.30.5)`
2. We are not setting it again.  Here is the config, just two lines:

        config.google_cloud.error_reporting.service_name = "MyApp"
        config.google_cloud.error_reporting.ignore_classes = [ActiveRecord::RecordNotFound, ActionController::RoutingError]

3. I searched the code for `RecordNotFo

[2019-01-18 15:06] #2605 closed

[2019-01-18 18:13] blowmage commented on #2800
It looks to me like the problem you are having is uploading a file with the correct content type. The default content type for an unknown binary file is `application/octet-stream`. So this makes me think the uploaded files are not using a well known file extension.

The Ruby Google Cloud Storage gem attempts to identify a default content type for a well known file extension when a storage file is

[2019-01-18 21:45] quartzmo commented on #2684
Should this conversation be moved to a new issue on googleapis/google-api-ruby-client ?

[2019-01-18 22:48] quartzmo commented on #2684
@Fonsan If it's OK with you, I will [transfer this issue](https://help.github.com/articles/transferring-an-issue-to-another-repository/) to googleapis/google-api-ruby-client for further discussion.

[2019-01-18 23:32] blowmage commented on #2826
@NathanBockrath what version of the grpc gem are you running?

[2019-01-18 23:40] NathanBockrath commented on #2826
grpc (1.18.0 x64-mingw32, 1.17.1 x64-mingw32, 1.17.0 x64-mingw32)
grpc-google-iam-v1 (0.6.9)

From: EXTERN Mike Moore <notifications@github.com>
Sent: Friday, January 18, 2019 5:33 PM
To: googleapis/google-cloud-ruby <google-cloud-ruby@noreply.github.com>
Cc: Nathan Bockrath <Nathan.Bockrath@fresenius-kabi.com>; Mention <mention@noreply.github.com>
Subject: Re: [googleapis/google-cloud-ruby] Googl

[2019-01-19 03:46] jmarbach commented on #2800
@blowmage Thanks so much for providing all your help! You were right regarding the problem being related to the file that I am uploading. To solve this issue, I did the following:

1. I started specifying the `content_type` attribute to ensure that the file I was uploading matches a supported content type.
2. I started specifying an explicit destination path on file upload. The previous destinatio

[2019-01-19 11:14] jamiegalbreath commented on #706
I am getting this Issue anyone get it solved?

[2019-01-19 12:45] #2800 closed

[2019-01-22 01:50] sebright commented on #2690
Thanks for the fix!

[2019-01-22 02:48] blowmage opened #2828 "Firestore: Add list_documents to CollectionReference"
The semantics are a bit different than `CollectionReference#get`, which runs a query for documents in the collection.

From the design document:

[2019-01-23 00:26] blowmage opened #2835 "Investigate Speech acceptance test failures"
The Speech acceptance tests are [failing on OS X](https://source.cloud.google.com/results/invocations/05831dfd-45d2-457f-a2fd-3900cf283120/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-ruby%2Fcontinuous%2Fosx%2Fspeech/log) in our CI environment, but not failing on a development OS X machine. Investigate this behavior.

[2019-01-23 08:47] danielmbarlow opened #2836 "Sidekiq Middleware"
**Is your feature request related to a problem?**
Yes. The google-cloud-trace gem doesn't send any metrics for Sidekiq jobs

 **Describe the solution you'd like**
I would like to offer some code to add a Sidekiq Middleware to trace Sidekiq jobs (much as you have Rack and Faraday middleware already in the project.)

 **Describe alternatives you've considered**
We could keep the code in our own proj

[2019-01-23 08:50] danielmbarlow opened #2837 "[Documentation Issue]"
URL: https://googleapis.github.io/google-cloud-ruby/docs/google-cloud-trace/latest/file.AUTHENTICATION

Doc states:
[code]
(or something similar)

This might be more accurate:
[code]

[Google::Cloud::Trace::V2::Credentials](https://googleapis.github.io/google-cloud-ruby/docs/google-cloud-trace/latest/Google/Cloud/Trace/V2/Credentials.html) doc is as follows:
[code]

[2019-01-23 19:55] joamaral opened #2839 "Create Intent API issue: TypeError: wrong argument type Symbol"
Hello all, I'm getting an error while trying to create an Intent through the API with a custom payload:

from lib/google/cloud/dialogflow/v2/intents_client.rb:465

The code I'm using is the following:

[code]

I don't have a clue why am I getting the error, since I'm able to create an intent providing text as a response instead of a custom payload:
[code]

Can you please tell me if this is a gem i

[2019-01-23 21:14] perezpaya commented on #2825
Hello, I am also experiencing issues while using Bigtable in Ruby 2.5.1 while creating a mutation entry:
I found someone having a similar trace here: https://github.com/protocolbuffers/protobuf/issues/4469

This is the code I am running
`ruby
require 'google/cloud/bigtable'

bigtable = Google::Cloud::Bigtable.new

instance = bigtable.instance('test')

table = instance.table('test')

unless table.e

[2019-01-23 21:42] blowmage commented on #2839
Using hashes to represent the values will only work so far. The issue you are running into is creating a `Google::Protobuf::Struct` object. The `Google::Protobuf::Struct#fields` attribute is not a Ruby Hash, but a `Google::Protobuf::Map`. `Map` acts like a statically typed `Hash`, and this one requires a `String` key and a `Google::Protobuf::Value` value. So the first error you are getting is beca

[2019-01-23 21:45] blowmage commented on #2825
@perezpaya The problem you describe is different than the one this issue is for. A workaround is described in protocolbuffers/protobuf#4469, and next google-protobuf release should include the fix for this.

[2019-01-23 22:58] joamaral commented on #2839
@blowmage thank you so much for your help. Understood! One last question: How could I append another hash inside the `fields` hash?

Meaning:

[code]

I've been trying to do achieve this, and I believe I should use Google::Protobuf::Struct, am I right?

[2019-01-24 19:35] blowmage commented on #2835
Hah! It isn't the acceptance tests that are failing, it is the unit tests.

[2019-01-28 18:41] #2794 closed

[2019-01-28 19:46] awinograd commented on #2117
I'm having a similar issue here.

[code]

These manual logs through rails console do show up in the stackdriver UI, but none of the Rails logs from the server process are showing up

[2019-01-28 21:41] blowmage commented on #2117
@awinograd We recently updated the gem. What version are you using?

[2019-01-28 21:54] awinograd commented on #2117
@blowmage, my Gemfile.lock says `1.6.0`

` google-cloud-logging (1.6.0)                                                                                  `

Please let me know if there's any other info I can provide

[2019-01-29 00:47] dazuma commented on #2789
Verified internal issue 122732041. Fixed by #2852.

[2019-01-29 00:47] #2789 closed

[2019-01-29 17:58] quartzmo commented on #2837
@danielmbarlow If you are using the google-cloud-trace package as it is generally used, via middleware, or by initializing the handwritten `Google::Cloud::Trace` client:

[code]
then the existing docs:

[code]
are correct. The authentication for this client [calls `Google::Cloud::Config.credentials_from_env`](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-trace/lib/google

[2019-01-29 22:52] quartzmo commented on #2660
I reproduced this without Step 1 (access) as follows:

[code]

Investigating now whether the cause might be in google-cloud-storage, or if these parameters are simply passed through to the Storage API service.

[2019-01-30 23:21] BenWhitehead opened #2854 "Different API between Transaction and ReadOnlyTransaction for Datastore"
#### Environment details

  - OS: Linux 64-Bit Debian base kernel 4.18.10
  - Ruby version: `ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]`
  - Gem name and version: `google-cloud-datastore 1.4.0`

#### Steps to reproduce
When attempting to update some code to use a `read_only_transaction` I encountered the following error:
[code]

It appears that this is due to the fact that `ReadOnly

[2019-01-31 17:10] xth1 opened #2855 "Mysterious SignatureDoesNotMatch error"
Hi there,
In the last 24 hours I have tried many approaches to generate a signed_url that can be used to upload a file to the GCS bucket.

That is the method I use to generate the signed_url:

[code]
I then use the signed url generated to try upload a file:
[code]

However I always receive the error bellow:

[code]

I have tried to create the signed_url with and without content-type, but none of t

[2019-01-31 22:21] quartzmo commented on #2660
@eskerber Can you please try adding a trailing slash (`/`) to your `prefix` string? I think the problem is that because your prefix ends with `foo` (without a trailing slash), the resulting substrings for the "files" in the "foo directory"  all begin with a slash. And the [service API docs for `delimiter`](https://cloud.google.com/storage/docs/json_api/v1/objects/list) state:

I tested this myself

[2019-01-31 23:16] blowmage commented on #2854
@quartzmo I agree with your assessment.

[2019-02-01 23:36] qingling128 opened #2876 "Segmentation fault with mix of arrays and hashes"
#### Environment details

  - OS: Debian Rodete
  - Ruby version: 2.4
  - Gem name and version: google_cloud_logging 1.5.5

#### Steps to reproduce

$ ruby repro.rb
[code]

#### Error

[code]

[2019-02-04 07:38] Rob117 opened #2881 "enable_speaker_diarization not recognized in config settings even with beta"
#### Environment details

  - OS: macMojave 10.14.2
  - Ruby version: 2.5.3
  - Gem name and version: google-cloud-speech, 0.33.0

#### Problem

`enable_speaker_diarization` in config settings gives `ArgumentError (Unknown field name 'enable_speaker_diarization' in initialization map entry.):` error.

#### Code example
initiaizer:

[code]

Actual calling code
[code]

I specifically required the be

[2019-02-04 17:58] quartzmo commented on #2660
Ping @eskerber

[2019-02-04 17:58] quartzmo commented on #2854
Ping @BenWhitehead

[2019-02-04 18:11] quartzmo commented on #2881
@Rob117 Thanks for reporting this issue! Can you post the entire error backtrace?

[2019-02-04 18:24] blowmage commented on #2881
You can either pass the options as arguments to the initializer:

[code]

Or you can create the object and set each attribute separately:

[code]

[2019-02-04 22:59] blowmage opened #2883 "Update release branch naming convention"
Currently we are using the naming convention `release-<gem>-v<version>` for the branch used to create a release, and `<gem>/v<version>` for tag that is created once the release is completed. I suggest changing the release branch to use the convention `release/<gem>/v<version>` instead, as we don't allow `/` in gem names, but we do allow (and use) `-` in them. This should help extracting the `<gem>

[2019-02-05 04:21] eskerber commented on #2660
Making a note to test this tomorrow (or Weds). Thanks for following up!

Apologies - just caught me at the end of a paternity leave and need to dust off the old computer 😁

[2019-02-06 02:32] eskerber commented on #2660
Gosh dang that was it - thanks for the tip!

[2019-02-06 05:40] dazuma commented on #2876
@quartzmo Does this look like any of the other protobuf segfaults we've seen? It seems to be related to the depth of the JSON payload structure.

[2019-02-06 11:19] danielmbarlow commented on #2836
Hi @dazuma I have been given approval to offer this code as a PR, but I would first like to know if you would like to include Sidekiq middleware in the gem.

[2019-02-06 13:31] quartzmo commented on #2876
@dazuma I don't know, but I will investigate.

[2019-02-06 16:19] dazuma commented on #2836
I would recommend instead adding such middleware to the [opencensus](https://github.com/census-instrumentation/opencensus-ruby) gem. We will shortly be separating out the instrumentation code (e.g. middleware) out of google-cloud-trace, and delegating it to opencensus.

[2019-02-06 16:28] danielmbarlow commented on #2836
Thanks. I'll have a look into it and if necessary open a PR there.

[2019-02-06 16:28] #2836 closed

[2019-02-06 20:13] melihalan opened #2884 "undefined method `new` for Google::Cloud::Vision:Module"
Hi, I`m trying to run following tutorial to actually start building something but to no avail!

[https://codelabs.developers.google.com/codelabs/cloud-vision-api-ruby/index.html?index=..%2F..io2018#7]

My setup is ruby 2.6.0 on a windows machine. Gem versions updated so shouldn't be a copy of existing thread.

google-api-client (0.28.3, 0.10.1)
google-cloud-core (1.3.0, 0.21.1)
google-cloud-env (1

[2019-02-06 21:18] wfarr opened #2885 "ResourceManager does not support Folders or specifying Parents for Projects"
**Is your feature request related to a problem? Please describe.**

Our GCP organization makes use of IAM on a folder basis. Some of these libraries (eg. ResourceManager) do not appear to be parent-aware at the moment, which means we're best off digging into lower-level abstractions.

 **Describe the solution you'd like**

I'd like for ResourceManager to be both support CRUD operations on Folders,

[2019-02-06 22:23] BenWhitehead commented on #2854
Thanks for the pointers, I'll look at duplicating the `query` helper method on `ReadOnlyTransaction` and try to get a PR.

[2019-02-06 22:26] quartzmo commented on #2884
Hi @melihalan, thanks for opening this issue and reporting the trouble you've been having. Can you please paste in the full backtrace for this error?

[2019-02-06 22:35] wfarr commented on #2885
Sure thing!

[code]

Happy to answer any further questions!

[2019-02-06 22:38] melihalan commented on #2884
Thanks for so quick reply Chris ! There you go;

`irb(main):001:0> require "google/cloud/vision"`
`irb(main):002:0> vision = Google::Cloud::Vision.new`
`Traceback (most recent call last):`
        `4: from C:/Ruby26-x64/bin/irb.cmd:31:in '<main>'`
        `3: from C:/Ruby26-x64/bin/irb.cmd:31:in 'load'`
       ` 2: from C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/irb-1.0.0/exe/irb:11:in '<top (required

[2019-02-06 23:00] blowmage commented on #2885
Because you say you have monkey-patches in place already, do you have a preference for remaining on the V1 API? Or would you prefer to use the V2 API?

[2019-02-06 23:13] Rob117 commented on #2881
@quartzmo  @blowmage
I just gave it a go, and it works!
For those who come after:
[code]

[2019-02-06 23:15] #2881 closed

[2019-02-06 23:53] quartzmo commented on #2884
Thanks, I reproduced on OS X with ` google-cloud-vision-0.32.2`:

[code]

[2019-02-07 00:17] awinograd commented on #2117
Logging appears to be working for me now

[2019-02-07 00:20] quartzmo commented on #2884
@melihalan I think the tutorial you used is out of date, and I'll see if I can find a way to report that.

Meanwhile, please try out the Preview in the API docs for the gem: http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-vision/v0.32.2/

[2019-02-07 00:23] quartzmo commented on #2884
Or, if you would rather continue with the tutorial you linked, try using the older version of the gem, which the tutorial specifies in this step](https://codelabs.developers.google.com/codelabs/cloud-vision-api-ruby/index.html#4):

[code]

[2019-02-07 00:38] quartzmo commented on #2884
I made an attempt to notify the author of the tutorial that it needs to be updated.

Please note that the `0.32.0` release introduced breaking changes relative to the previous release, `0.31.0`. For more details and instructions to migrate your code, please visit the [migration guide]: (https://cloud.google.com/vision/docs/ruby-client-migration).

[2019-02-07 00:39] #2884 closed

[2019-02-07 09:11] RSpace opened #2888 "Forking related Runtime error when using Stackdriver gems with multiple Puma workers"
As described in https://github.com/googleapis/google-cloud-ruby/issues/1860, I too am unable to use the Stackdriver ruby gem when using Puma with multiple workers.

Attempting to do so results in a "RuntimeError: grpc cannot be used before and after forking" error, and neither debugger, error reporting, logging or trace works, as they all seem to encounter the same error when they try to use GRPC.

[2019-02-07 15:41] blowmage commented on #2888
Can you post the backtrace of the error?

[2019-02-07 15:42] blowmage commented on #2888
Three of the Stackdriver gems have recent releases that include fixes for running in forking environments. Can you upgrade to the following gems are see if you still see this?

* google-cloud-logging 1.6.0
* google-cloud-debugger 0.33.0
* google-cloud-error_reporting 0.31.0

[2019-02-07 15:54] blowmage commented on #2117
@CraigCottingham Are you still using google-cloud-logging? We have introduced new error semantics that will make it easier to track errors raised while writing log entries, as well as making the logging client more resilient when errors are raised. With these changes it should be much easier to diagnose the issue you are having.

[2019-02-07 16:06] CraigCottingham commented on #2117
@blowmage No, I am not.

[2019-02-07 16:20] blowmage commented on #2117
Okay, I am going to close this specific issue then. If someone reads this issue and has a similar problem, please open a new issue providing all the requested information about your environment.

There have been several changes to the ruby libraries since this issue was first opened. The grpc gem now raises a RuntimeError instead of hanging when being use both pre and post fork. This will help tho

[2019-02-07 16:20] #2117 closed

[2019-02-07 17:04] danielmbarlow opened #2890 "Need to change concurrent-ruby version in gemspec"
#### Environment details

  - OS: linux
  - Ruby version: 2.5
  - Gem name and version: 0.15.2 + 0.15.3
  - Rails 5.1.4

#### Steps to reproduce

#### Code example

Create `test.rb` containing:
[code]
Run `bin/rails r test.rb`

Result:
[code]

#### Full backtrace

[code]

Cause:
`concurrent-ruby` doesn't contain `Concurrent::Promises`:
https://github.com/ruby-concurrency/concurrent-ruby/tree/v1.0.

[2019-02-07 17:45] blowmage commented on #2890
Thanks for opening this issue, we will get the dependency updated ASAP.

[2019-02-07 17:50] #2660 closed

[2019-02-07 20:06] #2890 closed

[2019-02-07 23:03] blowmage opened #2900 "Prepare for google-protobuf 3.7"
The upcoming release of google-protobuf 3.7.0 will change how Protobuf resources are serialized to/from JSON. It looks like both `Debuggee#to_grpc` and `ErrorEvent#to_grpc` are relying on the current behavior, and will break when using the upcoming release.

There are also many test fixtures that rely on the current behavior, and those tests will need to be updated when new gem is released.

[2019-02-07 23:24] blowmage opened #2901 "Release builds are not generating documentation"
The release build is not building the documentation for each release.

[2019-02-08 14:34] RSpace commented on #2888
I stand corrected. I thought I had the newest gem versions, but after upgrading to the newest version everything started to fine with multiple Puma workers. So the fixes for running in forking environments seems to be working!

[2019-02-08 14:34] #2888 closed

[2019-02-08 19:08] wfarr commented on #2885
A brief glance seems to indicate V2 has the Folder support we'd hope for, but does not contain Projects. V1 contains projects, but lacks Folder support for CRUD operations (as best I can tell with a quick glance through the auto generated code).

Seems like we'll probably end up needing to use both in this case.

This aligns with the experience monkeypatching `Google::Cloud::ResourceManager::Manag

[2019-02-09 14:43] haitte opened #2908 "`Assertion failed ` protobuf error on Windows 10"
#### Environment details

  - OS: Windows 10 Home
  - Ruby version: ruby 2.5.3p105 (2018-10-18 revision 65156) [x64-mingw32]
  - Gem name and version: google-cloud-firestore (0.25.0)

#### Steps to reproduce
1)
[code]
2) ruby example.rb
#### Full backtrace

[code]

[2019-02-11 18:27] blowmage commented on #2908
Hi @haitte, thanks for opening the issue. We need more information from you. We need the full error details. The error object has an attribute, `backtrace`, that includes the call stack when the error happened. Or, you can send the "Traceback" generated when the error is printed. For example, here is the error information printed while using IRB:

[code]

And, here is the same error printed by an

[2019-02-12 01:22] LandonSchropp opened #2911 "Access Scopes Documentation"
#### Environment details

  - OS: macOS 10.14.2
  - Ruby version: 2.6.1
  - Gem name and version: stackdriver 0.15.3

#### Steps to reproduce

The [Stackdriver gem readme](https://github.com/googleapis/google-cloud-ruby/blob/master/stackdriver/README.md) states:

My team is trying to install Stackdriver into a Rails app running in GKI and having a difficult time with this. [This link](https://clou

[2019-02-12 01:23] LandonSchropp commented on #2911
Sorry in advance if this isn't a documentation bug.

[2019-02-12 03:25] blowmage commented on #2911
Hi, thanks for the issue. I believe that the guide you link to is stating that previously there were specific access scopes that were granted automatically, and with Google Kubernetes Engine version 1.10 those specific scopes are no longer granted automatically. But access scopes as a concept remain in Google Kubernetes Engine. So yes, automatically granting those specific scopes (`compute-rw`, `s

[2019-02-12 18:22] DanielJoyce commented on #2911
So we have to rebuild the cluster with those scopes for stackdriver logging to work?

[2019-02-12 18:30] directionless opened #2912 "Custom formatters for ruby/rails logging"
I'm a big fan of structured logging. In my rails apps, I often log using hashes. I've often used a formatter that forces everything into a hash, and adds metadata. Something akin to https://gist.github.com/directionless/82365344df7ea4d5954f276d17d78d2e

In stock rails, this is pretty easy to use, I can set `config.log_formatter`

But, now I want my logs in stackdriver. I don't see an easy way to a

[2019-02-12 18:51] LandonSchropp commented on #2911
Thanks for the quick reply @blowmage. And thanks for being patient with me. I'm new to GKE and its permissions.

We're trying to understand the steps we need to take to enable communication with the error reporting API. After digging around a bit more, I found [this documentation](https://cloud.google.com/compute/docs/access/service-accounts#accesscopesiam) on access scopes.

My impression after r

[2019-02-12 19:31] blowmage commented on #2912
Hi @directionless, thanks for the issue. The Ruby Logger in Stackdriver Logging is a bit different than most other loggers in that it isn't meant to write to a local file. That said, the logger's entries are structured by default, using the structure of the [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rpc/google.logging.v2#google.logging.v2.LogEntry). The google-cloud-logging Rack

[2019-02-12 20:30] bendillinger opened #2913 "Non-UTF8 strings in Google-Cloud-Language response"
#### Issue

We have been getting poorly encoded strings from `Google::Cloud::Language::V1::AnalyzeEntitiesResponse` in production sparingly on February 11th, and much more frequently on February 12th (today).
This error has never happened on thousands of API calls before yesterday.
After some investigation, it looks like a fancy apostrophe `’` is being returned as `\xE2\x80` but only when it's the

[2019-02-12 20:47] directionless commented on #2912
Thanks for replying! My being confused is certainly plausible, and  perhaps it would be more sensible to do everything inside the `labels` construct. But, I'm not sure how to get there.

I understand that this logs to stackdriver, and not to a file. But stackdriver itself supports both `textPayload` and `jsonPayload`. One of the appeals of a formatter, is that I can coerce _all_ logs into a json p

[2019-02-12 20:58] LandonSchropp commented on #2911
It looks some somebody else ran into the same issue we're experiencing and posted it on StackOverflow: https://stackoverflow.com/questions/54019706/stackdriver-error-reporting-for-ruby-running-on-gke.

[2019-02-12 21:12] blowmage commented on #2911
It sounds like these are all questions about GKE, and not specific to the Ruby clients. Unfortunately, we don't have the expertise in GKE to provide in-depth support for it. I would suggest asking questions on StackOverflow, or creating an issue in the Google Cloud Support console if you have a support contract with Google.

[2019-02-12 21:12] renchap opened #2914 "Storage: batch operations"
Thanks for stopping by to let us know something could be better!

 **Is your feature request related to a problem? Please describe.**
I want to delete a lot of files in GCS at the same time, and I can't use batched requests to do it

 **Describe the solution you'd like**
A way to batch calls to GCS, similar to what the underlying lib does: https://github.com/googleapis/google-api-ruby-client#batch

[2019-02-12 21:12] TheRoyalTnetennba commented on #2913
Thank you so much for posting this. I've filed a [bug](http://b/124320099) with the Natural Language API team. I will post updates when they are available.

[2019-02-12 21:13] blowmage commented on #2912
@dazuma What are your thoughts on supporting a formatter?

[2019-02-12 21:34] quartzmo commented on #2914
@renchap Thank you for your work with [shrine-google_cloud_storage](https://github.com/renchap/shrine-google_cloud_storage/)! We really appreciate this integration. In October I helped a Google Cloud Storage user with some authentication problems. I believe he attempted to contribute some helpful documentation but it seems he made a mistake and [the PR](https://github.com/renchap/shrine-google_clo

[2019-02-12 21:35] quartzmo commented on #2914
/cc @frankyn

[2019-02-12 21:57] LandonSchropp commented on #2911
I completely see what you mean about how this may be a support issue. However, I do think the current documentation is either incomplete or does not reflect the current state of GKE. After following the instructions, we're still unable to send errors from GKI. Is there a way to update the documentation?

[2019-02-12 22:00] DanielJoyce commented on #2911
https://cloud.google.com/kubernetes-engine/docs/how-to/access-scopes

This says they're basically deprecated.

[2019-02-12 23:18] nburt opened #2916 "Datastore requests hang with 4:Deadline Exceeded when run using RSpec in test env"
We've been having some issues while testing an API endpoint where the backend hits Datastore. The test is hitting the endpoint and expecting JSON to be returned, some of the JSON body is pulled from our PostgresQL db, the rest is from Datastore.

I've wrapped the test in a `VCR.use_cassette` block to capture the Datastore requests and play them back for future test runs.

Whenever I run the test t

[2019-02-12 23:40] quartzmo commented on #2911
@LandonSchropp Yes, if we can make a case that this statement is out of date and should be removed:

We can certainly submit a PR in this repo to update the documentation. It may take a little time to figure out exactly what replacement content to add to the README. In fact, if you are interested in contributing, feel free to open the PR yourself; otherwise we will try to get to it as quickly as w

[2019-02-12 23:43] LandonSchropp opened #2917 "Unable to log in locally via a service account credentials file."
#### Environment details

  - OS: macOS 10.14
  - Ruby version: 2.6.1
  - Gem name and version: 0.15.3

#### Steps to reproduce

1. Create a service account and add the project owner role. (I know this is overkill, but we haven't been able to get this to work at any role level.)
2. Download the credentials and copy them into a file named `service-account.json`.
3. In the `config/application.rb` fi

[2019-02-12 23:45] LandonSchropp commented on #2917
After digging into this for a while, we think the problem might be here: https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-error_reporting/lib/google/cloud/error_reporting/async_error_reporter.rb#L187

When we commented out that line, our promise was fufilled.

[2019-02-13 00:00] LandonSchropp commented on #2917
We were able to get the promise to be fufilled by monkey patching the `ErrorReporing` module.

[code]

This isn't something we want to keep in our code base, but it might be a quick workaround.

[2019-02-13 00:02] LandonSchropp commented on #2917
Even with this monkey patch, we don't see any errors showing up in Stackdriver. The only way we've been able to get errors to show up is by using `gcloud auth application-default login`.

[2019-02-13 00:16] blowmage commented on #2916
The google-cloud-datastore gem depends on the grpc gem to connect to the Datastore API. And it communicates to the Datastore API via gRPC, which is based on HTTP/2, not HTTP/1.1. I don't know that the VCR gem supports HTTP/2, gRPC, or the grpc gem, and I don't see the grpc gem listed on its [README](https://github.com/vcr/vcr). My guess here is VCR is not the right tool to use to mock the Datastor

[2019-02-13 00:22] blowmage commented on #2917
I believe you should be using `config.google_cloud.project_id`, not `config.project_id`.

[2019-02-13 00:23] blowmage commented on #2917
Ugh, that's unfortunate. I'm pushing a fix right now. We will investigate how this was not caught in the test coverage.

[2019-02-13 00:31] LandonSchropp commented on #2917
Thanks for the quick reply and the continued help @blowmage!

Good call on #3. That fixed that problem.

With the monkey patch, we were able to get a fulfilled state in our promise. However, the errors never did show up in `Stack Driver Error Monitoring`. I double checked the credentials inside of the gem and they're definitely for the service account we created.

Currently, we've still only seen

[2019-02-13 00:33] LandonSchropp commented on #2917
Are there different configuration objects for the different authentication methods? Maybe that error wasn't caught in test coverage because one of the other approach, such as `gcloud`, creates a different configuration object that includes the `configuration` method. The tests would then be able to exercise that code path.

Just speculating.

[2019-02-13 00:35] LandonSchropp commented on #2917
Also, if you guys are curious about what the process of integrating the Stackdriver gem has looked like from an outside perspective, we've be happy to hop on a call and show you. 😃

[2019-02-13 00:37] blowmage commented on #2917
Can you try adding something like the following to your monkey-patch to see what errors are being raised by ErrorReporting as it tries to call the API?

[code]

[2019-02-13 00:49] LandonSchropp commented on #2917
Ah ha! The error was being masked by the promise, and my old monkey patch discarded it.

[code]

So after all that, the real issue was we hadn't turned on the API. 😟

Is that the normal level of error reporting from the `stackdriver` gem? It would be really helpful if it printed that out by default while trying to set up the gem for the first time. Barring that, a debugging section in the readme m

[2019-02-13 00:52] LandonSchropp commented on #2911
@quartzmo Thanks for the reply! That would be really helpful. I'm always happy to contribute to open source, but I still don't feel like I have a good grasp on what that section should say. My team has just managed to get this working locally with the help of @blowmage but we haven't had a chance to push that up to GKE yet.

[2019-02-13 00:55] blowmage commented on #2917
Awesome! I'm glad that you can get it to work. We will get the fix released ASAP.

We have a problem with clients based on gRPC. The grpc gem can't be used both before and after a fork, because of how resources are acquired. Because of this we delay instantiating a gRPC connection until it is needed, hopefully post-fork. This means we can't make an API call on app boot to make this check. So unfor

[2019-02-13 00:56] jorge0136 commented on #2917
Regarding `config.project_ID` vs. `config.google_cloud.project_id`:

I know this documentation is well outside of this repo but as an FYI please search for "You can also set shared configuration for all Stackdriver gems using:" on the following [google documentation page](https://cloud.google.com/logging/docs/setup/ruby).

[2019-02-13 05:36] blowmage commented on #2917
I see the following code example for “You can also set shared configuration for all Stackdriver gems using”:

[code]

[2019-02-13 06:39] dazuma commented on #2912
It makes sense to me. A formatter is just a data transformation that we want to apply to all logs output by a Logger. We could certainly generalize it by allowing it to return either a String (text_payload) or a Hash (json_payload) for the Stackdriver Logger object.

[2019-02-13 14:26] nburt commented on #2916
That's fair in regards to VCR, I can look into other options there. Do you have recommendations outside of the emulator or stubbing?

I experience the same problems without VCR, do you know of issues related to RSpec or test environments?

[2019-02-13 14:43] nburt commented on #2916
I was curious about whether VCR would work or not and it at least works for the authentication request (`POST https://oauth2.googleapis.com/token`) and the yml file recording the request does get written correctly. The request just hangs on `datastore.run(query)`.

[2019-02-13 15:16] blowmage commented on #2916
That makes sense as the Oauth request for a token is an HTTP/1.1 request, while the Datastore requests are HTTP/2 request using gRPC.

I do not. In our tests we mock the requests and responses using the client object, not at the network level.

I am not aware of any issues.

[2019-02-13 16:03] blowmage commented on #2912
As I understand it, the Rails log formatter would only enable formatting of the payload. It would not allow changing of labels or the other structured data on Entry.

[2019-02-13 16:07] quartzmo commented on #2911
@LandonSchropp No problem. After you've reached the goal that you stated above:

Please let us know if you see an opportunity to improve the documentation.

[2019-02-13 16:59] blowmage commented on #2917
There is a second code example that also uses "You can also set shared configuration for all Stackdriver gems using", but it shows using `Google::Cloud.configure`, not `Rails.application.configure`:

[code]

[2019-02-13 17:00] blowmage commented on #2917
Oops, I didn't mean to close this issue last night.

[2019-02-13 17:01] blowmage commented on #2917
Oh wait, I did mean to close this one with the PR. Re-closing.

[2019-02-13 17:01] #2917 closed

[2019-02-13 17:36] directionless commented on #2912
I think that's correct -- Using a formatter would only change the payload.

I think there's a related question about how to enrich the logs with details from the rails environment. Naively, I think I could do this in a formatter. Yes, it's in the body, not the labels, but that's better than nothing.

[2019-02-13 17:45] blowmage commented on #2912
I would look at the [rack middleware](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/middleware.rb) for how the rails environment is currently applied to the Logger.

[2019-02-13 18:00] directionless commented on #2912
Empirically, I can use `Current` in the dynamic labels. eg, this works:
[code]

So that's great for me. Formatter would be a great addition.

[2019-02-13 18:06] blowmage opened #2920 "Occasional Debugger acceptance test failure"
We occasionally see Debugger acceptance tests failures like this:

[code]

This is due to to entries unexpectedly containing a `nil` value.

[code]

[2019-02-13 19:01] #2854 closed

[2019-02-13 19:55] directionless commented on #2912
I monkeypatched a formatter into `Google::Cloud::Logging::Logger.add` and it seems to work okay. I'm not PR'ing it, as I don't think I can plumb the configs through.

Adding it to `write_events` with some logic around label additions would be interesting, but be too magic.

[2019-02-13 22:04] quartzmo commented on #2855
@xth1 Thanks for reporting this, and sorry for the slow response. Have you found a solution to this issue?

[2019-02-13 23:29] blowmage commented on #2855
If you add the `-v` option you will see what headers are being sent. It looks to me like curl is sending the content type header as `text/plain; boundary=------------------------82b7291662ea6439`, instead of `text/plain`. I believe this is the default behavior when using `-F`. You may try replacing `-F` with `--data-binary`:

[code]

[2019-02-15 21:59] quartzmo commented on #2914
@frankyn Does this generally sound OK to you?

[2019-02-15 22:01] quartzmo commented on #2855
@xth1 Does the solution proposed by @blowmage solve the issue for you?

[2019-02-15 22:15] #2716 closed

[2019-02-15 22:31] frankyn commented on #2914
Thanks for the ping @quartzmo, I'm still gathering context on this feature and if it should be supported in google-cloud-ruby. There's future feature expectations that aren't aligned with batch operations. I'll follow-up soon. I appreciate your patience!

[2019-02-15 23:48] qingling128 commented on #2876
Hi @quartzmo, do we have a rough idea how much effort it would take to resolve this issue?

[2019-02-16 00:18] quartzmo commented on #2876
@qingling128 Sorry, no, but I will try to make some progress with it next week. Thanks for the ping.

[2019-02-16 12:28] renchap commented on #2914
Maybe some new methods for batched base operations could be an alternative? Like `Bucket#delete_files("object1", "object2")` which does a single batched request?

[2019-02-18 17:57] blowmage opened #2932 "Update Firestore Emulator Guide to use gcloud CLI"
The gcloud CLI now supports a [firestore emulator](https://cloud.google.com/sdk/gcloud/reference/beta/emulators/firestore/). Update the [Firestore Emulator Guide](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-firestore/latest/file.EMULATOR.html) to instruct users on how to install, configure, and use the emulator.

[2019-02-18 17:57] blowmage commented on #2932
Here is the output of the new gcloud CLI emulator:

[code]

It looks like the new emulator is only binding to an IPv6 address, and I was unable to connect to that address directly through the emulator.

[code]

I have `dev.local` defined in my `/etc/hosts` file, and I can connect using that name:

[code]

[2019-02-18 17:59] quartzmo commented on #2876
I reproduced this segfault using the supplied script (changing only the auth mechanism):

#### Environment details
* OS: macOS 10.13.6
* Ruby version: 2.4.5
* Gem name and version: google_cloud_logging 1.6.2

[code]

[2019-02-18 18:48] blowmage commented on #2876
I think you are running into issues because you are exceeding the maximum depth for encoding a protobuf resource:

[code]

[2019-02-18 18:49] blowmage commented on #2876
That said, the protobuf gem should not be segfaulting...

[2019-02-19 09:44] Avemark opened #2933 "[Documentation Issue]"
"[Setup Authentication](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-dialogflow/v0.2.3/)" link does not actually link to Authentication information. Further links on the following page leads to an "[authentication guide](https://googleapis.github.io/google-cloud-ruby/docs/google-cloud/latest/file.AUTHENTICATION)" that does not as much explain authentication as inform you that yo

[2019-02-19 18:20] frankyn commented on #2914
Clarified future expectations with the GCS team. @quartzmo could you mark this as a FR to surface the batch API in google-cloud-ruby? Batch operations should be available in the library.

[2019-02-20 00:31] quartzmo commented on #2933
@Avemark Thank you for reporting the broken link at "Setup Authentication". And I agree that the top-level authentication guide for google-cloud-ruby that you link seems incomplete.

What do you think of the [authentication guide for google-cloud-datastore](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-datastore/v1.5.1/file.AUTHENTICATION.html)? Is it adequate?

[2019-02-20 17:04] quartzmo commented on #2855
@xth1 Please reopen this issue if you still need help, thank you.

[2019-02-20 17:04] #2855 closed

[2019-02-20 17:07] quartzmo commented on #2911
@LandonSchropp Do you still feel like the Stackdriver gem README needs to be changed?

[2019-02-20 17:10] quartzmo commented on #2914
@frankyn Can you please specify what can be surfaced, and when? Thanks!

[2019-02-21 00:48] TheRoyalTnetennba commented on #2913
@bendillinger I believe this has been resolved. Can you confirm that the api response is now as expected?

[2019-02-21 00:53] bendillinger commented on #2913
Everything looks good now!  Thanks for the update.

[2019-02-21 00:54] #2913 closed

[2019-02-21 06:52] LandonSchropp commented on #2911
@quartzmo Maybe it's just a knowledge gap on my part or my team's part, but we were never able to get Stackdriver working in GKE with authentication happening automatically. We eventually gave up, created a service account and injected the credentials directly into the gem's configuration. At least from our perspective, what was provided wasn't enough information to actually get it working.

I rec

[2019-02-22 01:59] awinograd commented on #2142
Same for me with stackdriver `0.15.3` and google-cloud-debugger `0.33.0` in a rails application

[2019-02-22 17:57] quartzmo commented on #2933
@Avemark If we fix the "Setup Authentication" to link to an authentication guide that is similar to the [authentication guide for google-cloud-datastore](http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-datastore/v1.5.1/file.AUTHENTICATION.html) (but adapted to google-cloud-dialogflow), will that work for you?

[2019-02-25 17:12] quartzmo commented on #2911
@LandonSchropp Thank you, we'll keep this issue open and try to improve the documentation. Appreciate all your help!

[2019-02-25 18:11] quartzmo commented on #2914
Ping @frankyn: Just want to be clear about what batch feature(s) to surface and when is OK to release them?

[2019-02-25 21:06] LandonSchropp commented on #2911
Thank you!

[2019-02-26 03:16] uiureo commented on #2453
I've tried the latest version of the gem, and it works perfectly in our environment with ruby 2.5.3 + rails 5.2.2.
I don't run into this problem anymore.

Thanks!

[2019-02-26 03:16] #2453 closed

[2019-02-26 04:53] directionless opened #2942 "Sidekiq integration"
It'd be awesome if the error handling hooked into sidekiq. It seems like sidekiq expects this to be done by the error handling gems

[2019-02-26 05:13] directionless commented on #2942
Well, maybe it's as simple as:
[code]

And any kind of gem changes are overkill

[2019-02-26 14:56] blowmage commented on #2942
I'll look at adding Sidekiq and other integrations to the Stackdriver gems.

[2019-02-26 15:54] directionless commented on #2942
FWIW, the somewhat overkill monkey patch I have:
[code]

There may be some interesting ways to enrich the error with the data from the sidekiq context. I haven't seen much docs for it outside this commit https://github.com/mperham/sidekiq/pull/3161/commits/6a029074ae3ce20f299641028e04b045c4550d3d

[2019-02-26 23:03] igorpeshansky commented on #2908
Is this https://github.com/protocolbuffers/protobuf/issues/5025?

[2019-02-26 23:23] blowmage commented on #2908
Does using google-protobuf 3.7.0.rc.3 make this error go away?

[2019-02-27 17:13] blowmage commented on #2914
Is this feature affected by the [discontinuation of global HTTP Batch endpoints](
https://developers.googleblog.com/2018/03/discontinuing-support-for-json-rpc-and.html)?

[2019-02-28 03:25] awinograd commented on #2150
@Mexxerio, can you share how you manually registered the agent?

[2019-02-28 06:48] Mexxerio commented on #2150
@awinograd

I basically just created an initializer called `stackdriver.rb`:
[code]

[2019-02-28 10:40] ce07c3 opened #2965 "Occasional duplicates in pull mode"
#### Environment details

  - OS: Linux
  - Ruby version: `2.5.3`
  - Gem name and version: `google-cloud-pubsub`, `0.34.0`

#### Steps to reproduce

Unclear. Pulling messages leads to duplicates (`pull`), while using the `listen` method on subscriptions does not lead to the same issues. Roughly 3% duplication (hundreds of thousands of messages). Duplication is detected in a worker class that is i

[2019-02-28 10:41] rexhuynh opened #2966 "We can not access the URL currently. Please download the content and pass it in."
**We are using google-cloud-vision gem and facing this bug**

After i upload Image to S3 i received this bug, but the url is correct.
It not always happened, out of 20 requests i just got 1 error.
Please, check my issue, thank a lot.

[2019-02-28 12:45] ce07c3 commented on #2965
Perhaps an issue in other code, will reopen if not so.

[2019-02-28 12:45] #2965 closed

[2019-02-28 15:00] blowmage commented on #2966
Hi, thanks for the issue. The error you received is from the backend API, not something created as a result of the Ruby client. There is a StackOverflow article about it [here](https://stackoverflow.com/questions/45119587/we-can-not-access-the-url-currently).

The error happened because the backend API was unable to access the image URL provided. To ensure the API gets the image, you can download

[2019-02-28 15:11] awinograd commented on #2150
Thanks, I'll have to give that a go. Though I had an initializerer like that (without the require) and it didn't work, so I suppose we'll see!

[2019-02-28 15:28] blowmage commented on #2150
I would make sure you are using the most recent releases to get all bug fixes. If the debugger agent doesn’t start as expected, I would call `start` in an `after_fork` hook, not an initializer, because of the reasons @dazuma mentioned previously.

[2019-03-01 05:56] rexhuynh commented on #2966
Hi @blowmage  thank you for reply.
It quite weird, i can make sure the url always exist because i  have checked many time and seem like not only me facing this issue.
[https://github.com/googleapis/google-cloud-java/issues/2276#issuecomment-370898357](url)
And this is my code.
<img width="903" alt="screen shot 2019-03-01 at 12 52 13 pm" src="https://user-images.githubusercontent.com/13968562/53619

[2019-03-01 07:14] blowmage commented on #2966
I don't know what the cause is, but I am confident is does not originate with the Ruby client. I don't see your code accessing the URL, but even accessing the URL successfully from your network is no guarantee that the Vision API can access it from its network. That is why the error message is suggesting to send the URL contents directly.

[2019-03-01 23:19] frankyn commented on #2914
Apologies @quartzmo, I think it's best to file this request across languages to have a consistent experience. That will en-queue it for some time under other priorities.

The feature is GA and the FR can be marked as help wanted until it's prioritized.

HTH for now.

[2019-03-02 00:13] frankyn commented on #2914
@blowmage I missed your question. No, last I checked Cloud Storage isn't part of that deprecation. I'll double check next week if that's still the case.

[2019-03-02 16:57] awinograd commented on #2150
No luck on my end...tried adding the following to `config/environments/production.rb`

[code]

[2019-03-04 18:56] frankyn commented on #2914
Hi @renchap, I have a few clarifying questions.

1. Are you attempting to delete an entire bucket or are there special conditions for deletion?
2. There's a limitation of 100 files per batch request, and it would require you to list all objects in a bucket then adding them to a delete batch request. Does this still meet your expectation for batch requests? Source: https://cloud.google.com/storage/

[2019-03-05 00:43] dazuma opened #2980 "[KMS] Acceptance/smoke test"
KMS is a gapic-generated library (and gapic doesn't generate any smoke test itself), but the team is asking for a basic smoke test for it. It should be sufficient to make a simple call to `list_key_rings`.

[2019-03-05 00:45] dazuma opened #2981 "[KMS] Getting-started example in the readme"
KMS team is asking for a getting-started example in the readme. Note that `README.md` for this library is generated by gapic, so we'd have to figure out how to inject a getting-started section (maybe using synth).

[2019-03-05 00:55] quartzmo commented on #2981
Where should the getting-started example live? `synth.metadata`, or some other configuration file?

[2019-03-05 01:03] quartzmo commented on #2980
Do you know why some generated packages appear to have been generated with smoke tests?

For example, `google-cloud-ruby/google-cloud-bigquery-data_transfer/acceptance/google/cloud/bigquery/data_transfer/v1/data_transfer_service_smoke_test.rb`, which was added with the following commit message?

[code]

[2019-03-05 01:17] blowmage commented on #2981
Speech has the README changes in the [`synth.py` file](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-speech/synth.py#L79-L118).

[2019-03-05 01:20] blowmage commented on #2981
Vision has ERB templates in a [`synth` directory](https://github.com/googleapis/google-cloud-ruby/tree/3b39b01a222da92dbca9faac9b1e2b96d9369db4/google-cloud-vision/synth).

[2019-03-05 01:53] dazuma commented on #2980
As far as I can tell, some of the gapic configs include a smoke test specification, which the current gapic generator (for Ruby) turns into both an acceptance test and a "preview" in the library readme. For BigQuery Data Transfer, [this is the config](https://github.com/googleapis/googleapis/blob/master/google/cloud/bigquery/datatransfer/v1/bigquerydatatransfer_gapic.yaml#L79). KMS doesn't include

[2019-03-05 02:06] jbolinger commented on #2980
@dazuma you are correct - the Ruby gapic has a known issue where the smoke test and example config values are mixed up (https://github.com/googleapis/gapic-generator/issues/2106).

I can fix it if you'd like to alter the config and try to go that route (if the values actually need to be different) However, I'm pretty sure that your other suspicion is correct (i.e. this feature is not working corre

[2019-03-05 02:15] dazuma commented on #2980
@jbolinger I'd rather not muck with the config at this point, since the libraries are trying to go GA. In addition:
* The current sample generation isn't great as-is. I'd rather hand-write a simple sample if it's going on the README.
* The current smoke test generation doesn't seem to be able to generate actual assertions—for other libraries where it is configured, it just makes a call and drops t

[2019-03-05 02:26] blowmage opened #2982 "Windows Build Failures"
The Windows build using google-protobuf 3.7.0 is failing with the following error:

[code]

[2019-03-05 02:27] blowmage opened #2983 "Windows Debugger Build Error"
The Windows build is failing with the following error when compiling Debugger:

[code]

[2019-03-05 02:46] jbolinger commented on #2980
@dazuma that's exactly what I wanted to hear. Just wanted to let you know the door was open if you needed it.

[2019-03-05 05:19] blowmage commented on #2982
Well, [this](https://github.com/protocolbuffers/protobuf/blob/v3.7.0/ruby/ext/google/protobuf_c/upb.c#L14125-L14129) is unfortunate...

[2019-03-05 14:43] blowmage opened #2986 "Kokoro OS X Authentication Problem"
The master and nightly OS X builds are failing when running the full acceptance tests. It looks like the authentication is missing or not set up correctly. Here is the build output:

[code]

[2019-03-05 17:44] #2982 closed

[2019-03-05 22:40] #2980 closed

[2019-03-05 22:40] #2981 closed

[2019-03-05 23:53] quartzmo commented on #2933
Should the scope of this issue be expanded to all generated packages that currently lack an authentication guide?

[2019-03-07 10:28] aadityataparia commented on #2825
What's the status now that protobuf 3.7.0 was released?

[2019-03-07 16:35] blowmage commented on #2825
This is being worked on in #2851.

[2019-03-07 17:51] igorpeshansky commented on #2876
https://github.com/protocolbuffers/protobuf/pull/5752 has been released in [v3.7.0](https://github.com/protocolbuffers/protobuf/releases/tag/v3.7.0).

[2019-03-07 18:43] qingling128 commented on #2876
I tried the [Ruby snippet](https://github.com/googleapis/google-cloud-ruby/issues/2876#issue-405914583) again with the latest `google-cloud-ruby` and `google-protobuf`. Still getting the segfault.

Here are the versions I tried
[code]

[2019-03-07 18:53] qingling128 commented on #2876
BTW, when we were trying to reproduce the segmentation fault, one observation is that:
The JSON has to be very specific to trigger it.

Works: (Recursion = 22)
'{"a":{"a":{"a":[{"a":{"a":[{"a":[{"a":{"a":[{"a":[{"a":{"a":[{"a":[{"a":{"a":{"a":"a"}}}]}]}}]}]}}]}]}}]}}}'

Works: (Recursion = 20)
'{"20": {"19": {"18": {"17": {"16": {"15": {"14": {"13": {"12": {"11": {"10": {"9": {"8": {"7": {"6": {"5

[2019-03-07 20:12] jbolinger commented on #2876
It does look like protocolbuffers/protobuf#5752 should have made it into 3.7 from the history. However,  I can reproduce the crash from the last json example on 3.7 but not locally on master. I'm not familiar with how the releases are created so perhaps it didn't make it in?

[2019-03-08 16:58] qingling128 commented on #2876
Turned out that this fix did not get in `3.7.0`. Will need to wait for the next release.

[2019-03-13 16:22] blowmage opened #3022 "Debugger breakpoints on the first line of a method fail on Ruby 2.6"
We get the four following failures when running debugger unit tests on Ruby 2.6.1

[code]

[2019-03-13 16:22] blowmage commented on #3022
This is the issue holding up #2851.

[2019-03-13 17:06] blowmage commented on #3022
I suspect this is specific to 2.6. I don't see any release notes for changes to the threading implementation in 2.6, but there was the [#15499](https://bugs.ruby-lang.org/issues/15499) bug filed by the grpc team. Hope that helps.

[2019-03-14 07:55] danielmbarlow commented on #2942
@blowmage I mentioned this in another thread.
https://github.com/googleapis/google-cloud-ruby/issues/2836

I put together a proof of concept that traces Sidekiq jobs, which seems to work OK. At the moment I'm working on a PR to include it in the `opencensus` gem.

Have you made any progress on Sidekiq integration?

[2019-03-14 13:20] blowmage commented on #2942
I’ve looked into it some. Whatever approach we take should be consistent across the family of gems.

[2019-03-14 13:27] danielmbarlow commented on #2942
I can mention you on the PR as soon as it is ready so you can check that it follows the approach you are expecting, but overall are we in agreement that it should go into `opencensus` as @dazuma suggests here: https://github.com/googleapis/google-cloud-ruby/issues/2836#issuecomment-461084943  ?

[2019-03-15 00:51] dazuma commented on #3022
I have a patch for these that should unblock the tests. However, the underlying issue is unsolved. I'll try to describe it as I understand it so far:

Ruby 2.6 changed the behavior of TracePoint with regard to line tracing at the beginning of a method. The Debugger code sometimes responds to a `call` tracepoint by enabling a `line` tracepoint. In Ruby < 2.6, this works and allows the first line in

[2019-03-18 15:35] Avemark commented on #2933
@quartzmo The linked authentication guide seems a lot more thorough, and a direct link to something similar would have cut down on the time needed for my discovery process a lot.

[2019-03-18 15:59] brauliobo opened #3033 "Incompatibility with http-cookie 1.0.3 gem"
[code]

and

[code]

[2019-03-18 16:24] quartzmo commented on #3033
@brauliobo Thank you for reporting this issue. Can you please include the following information?

#### Environment details

  - OS:
  - Ruby version:
  - Gem name and version:

#### Steps to reproduce

  1. ...

#### Code example

[code]

[2019-03-18 18:11] blowmage commented on #3033
I haven not been able to reproduce these errors. I have run our test suite against all versions shown in the error backtrace:

* google-cloud-bigquery, 1.7.0
* google-api-client, 0.23.1
* httpclient, 2.8.3
* http-cookie, 1.0.3

We will need more information to reproduce this.

[2019-03-20 16:52] sduskis commented on #2775
Yes, please.

[2019-03-20 16:55] sduskis opened #3048 "PubSub: Support authentication_method / oidc_token"
Please add support for Pub/Sub [`Subscription.PushConfig.authentication_method`](https://github.com/googleapis/googleapis/blob/eae7fe03e6e0ca90d0a3e20211f31dca6fb2cb87/google/pubsub/v1/pubsub.proto#L672)

[2019-03-26 19:11] drcapulet opened #3058 "Incompatibility with Bundler Standalone Mode"
Bundler has a standalone installation mode that alleviates the need to use Bundler or Rubygems at runtime by generating a file that adds each gem to the load path like so:

[code]

Unfortunately there are numerous usages of `Gem.loaded_specs['google-cloud-foo'].version.version` which subsequently causes errors (```NoMethodError: undefined method `version' for nil:NilClass```). Can y'all instead us

[2019-03-26 19:18] blowmage commented on #3058
@dazuma @TheRoyalTnetennba is this something we can replace using `symth.py` in the gems that have a version file? The GAPIC-only gems set the version in the `gemspec` file and don't have a version file.

[2019-03-26 19:25] quartzmo commented on #3058
[Example of `Gem.loaded_specs['google-cloud-asset'].version.version`](https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-asset/lib/google/cloud/asset/v1/asset_service_client.rb#L154) in `google-cloud-asset`.

[2019-03-27 08:39] danielmbarlow commented on #2942
Sorry @directionless I now realise that you were talking about Error handling not Tracing.

I have implemented Error handling by adding Sidekiq middleware which wraps the job run in a `begin ... rescue` block, calls `Google::Cloud::ErrorReporting.report` and the runs `raise` so that Sidekiq can handle the exception as well.

[2019-03-28 03:24] prapicault opened #3064 "Can not obtain a signed url for a file with a space in its name"
#### Environment details
  - OS: MacOS
  - Ruby version: 2.4.4
  - Gem name and version: google-cloud-storage 1.17.0

#### Steps to reproduce
1 - Create a bucket `my-todo-app`
2 - Create a folder called `foo`
3 - Add a file called `file with space.txt`
4 - Generate a signed_url following the code at http://googleapis.github.io/google-cloud-ruby/docs/google-cloud-storage/latest/#Using_Signed_URLs
5

[2019-03-28 09:07] nagarjunac commented on #3064
I am facing the same issue.  I have found out the cause for it.
https://github.com/googleapis/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/file/signer.rb
On line no 46 => "CGI.escape node" is substituting 'spaces' in filename with '+' instead of unicode char '%20'.
By overriding that line with  "Addressable::URI.escape node" is working for me.

[2019-03-28 14:00] prapicault commented on #3064
Thanks @nagarjunac. I had noticed that line of code as well and I tried URI.escape without success. Glad you found the `Addressable::URI`
I'll look into providing a patch for this.

[2019-03-28 15:02] blowmage commented on #3064
How are you pulling the signed url? Is your client replacing the `+` in the path with `%20`?

[2019-03-28 15:09] prapicault commented on #3064
I'm copying and pasting into chrome.

[2019-03-28 15:22] blowmage commented on #3064
Is it consistently erring in every client? Does it work for you in Firefox or curl or wget?

[2019-03-28 15:25] nagarjunac commented on #3064
Yes it is consistently erring in every client. It is not working in Firefox and curl as well.

[2019-03-28 15:40] prapicault commented on #3064
While researching this, I've also played with the bucket webclient, and the API https://cloud.google.com/storage/docs/json_api/v1/buckets/get and you can notice that the whitespaces are encoded with `%20`, not with `+`. HTH.

[2019-03-28 16:53] blowmage commented on #3064
This looks like a [regression](https://github.com/googleapis/google-cloud-ruby/pull/1923/files#diff-030a250aa9bc3edca850f0e6158da318L44) introduced in #1923.

Unfortunately we don't have any acceptance tests using spaces to catch this. Here is an acceptance test that fails:

[code]

[2019-03-28 17:08] blowmage commented on #3064
This bug affects 1.17.0 and 1.16.0.

[2019-04-01 13:28] blowmage commented on #3058
@dazuma @TheRoyalTnetennba Ping.

[2019-04-01 13:29] #2966 closed

[2019-04-01 13:31] blowmage commented on #2942
This is still on my docket, but nothing has been done beyond investigation. We have a couple other higher priorities that should be ramping down in the next couple weeks.

[2019-04-01 13:32] #2916 closed

[2019-04-01 13:41] #2839 closed

[2019-04-01 13:42] blowmage commented on #2826
This is fixed in grpc 1.19.0. Thanks!

[2019-04-01 13:42] #2826 closed

[2019-04-01 13:51] blowmage commented on #2084
Here is the status for this change:

- [x] Google::Cloud::Logging::AsyncWriter
- [x] Google::Cloud::ErrorReporting::AsyncErrorReporter
- [x] Google::Cloud::Trace::AsyncReporter
- [ ] Google::Cloud::Debugger::Agent
- [x] Google::Cloud::Debugger::Transmitter

All have been converted to use concurrent except for Debugger's Agent.

[2019-04-01 13:57] blowmage commented on #2492
Closing to lack of response.

We have made several changes to the stackdriver gems address running in multi-threaded webservers such as puma and unicorn. And we have added the `#on_error` callback that will be called when errors are raised on background threads, and made background actors more resilient to errors. The only way I could reproduce the behavior in this issue was to raise such an error

[2019-04-01 13:58] #2604 closed

[2019-04-01 13:59] blowmage commented on #1979
Fixed in Ruby 2.5.4.

[2019-04-01 13:59] #1979 closed

[2019-04-01 14:35] blowmage opened #3084 "Investigate BigQuery Acceptance Test Failures"
Nightly CI builds regularly fail due to BigQuery. The failures are usually something like this:

[code]

Investigate why these tests are so inconsistent while running on Kokoro. Are delays needed to overcome BigQuery's eventual consistent nature?

[2019-04-02 12:18] directionless commented on #2942
@danielmbarlow To be honest, though this was originally opened about Errors, I'm equally interesting in tracing.

I did a bit of digging into how the sidekiq middleware worked, tracing looked pretty easy. But I wasn't able to PoC it

[2019-04-02 12:23] danielmbarlow commented on #2942
This might be of interest then: https://github.com/census-instrumentation/opencensus-ruby/pull/102

[2019-04-02 20:25] #2775 closed

[2019-04-03 01:14] akshaymoghe commented on #1893
I am consistently hitting a similar issue (`DeadlineExceeded`). Here is a sample backtrace:
[code]

[2019-04-03 22:02] blowmage commented on #3064
There is a fix contributed to fix this in #3081, but we are waiting on a signed CLA to accept.

[2019-04-03 22:32] blowmage commented on #1762
We have requested `ruby_namespace` to be set in the proto files, but haven't seen the change made yet. We hope this will happen in the next couple weeks.

[2019-04-03 22:49] blowmage commented on #1893
I'll look into this.

[2019-04-03 22:55] blowmage commented on #1893
@akshaymoghe Next time you see one of these errors, can you also iteratively log the error's cause objects? I am curious about the error and how it seems to avoid the `rescue` in the `retryable` proc.

[2019-04-03 22:59] blowmage commented on #1759
HI all, I am going to close this issue. The google-cloud-logging gem has moved from AsyncActor to the concurrent gem. If you see a segfault using the recent gem please open a new issue with all the relevant information. Thanks!

[2019-04-03 22:59] #1759 closed

[2019-04-03 23:00] blowmage commented on #2459
Does this still happen on the latest versions of the google-cloud-logging and grpc gems?

[2019-04-03 23:12] #2983 closed

[2019-04-04 17:29] blowmage commented on #1893
Do you happen to have `Thread.abort_on_exception = true` set in your application?

[2019-04-04 17:46] akshaymoghe commented on #1893
This isn't a custom application - it is `fluentd` (obtained via debian pkgs , where it is known as `td-agent`) .

[2019-04-09 17:46] blowmage opened #3108 "Update synth.py script for gems with updated dependency"
GRPC/GAPIC gems with protos using the new annotation files need an updated dependency on the googleapis-common-protos gem. This dependency was added previously, but not autosynth is trying to remove the dependency when generating the gemspec files. The affected gems are:

- [x] dialogflow #3101
- [x] dlp #3102
- [x] language #3103
- [x] redis #3104
- [x] scheduler #3105
- [x] tasks #3106

[2019-04-09 20:11] #3064 closed

[2019-04-10 11:16] jacobat commented on #2459
I don't know as we're no longer using these gems, sorry.

[2019-04-10 12:50] renchap commented on #2914
I guess you mean deleting an entire bucket *contents*. If there is a way to do this with 1 call, then it would cover some use-cases. For example in `shrine-google_cloud_storage` we want to clear the bucket's content after each test in the test suite (but not create a new bucket for each one).
Users requested to be able to provide a condition to only delete some files (see https://github.com/rencha

[2019-04-10 15:22] blowmage commented on #2459
Okay, thanks. The implementation has changed significantly from the time this issue was opened. Many issues that could have caused this were resolved. But that is only a guess as I never did reproduce this behavior. I am going to close this issue because the implementation has changed. If anyone has issues like this please open a new issue.

Thanks!

[2019-04-10 15:22] #2459 closed

[2019-04-10 15:25] blowmage commented on #2986
This has been resolved.

[2019-04-10 15:25] #2986 closed

[2019-04-10 15:33] blowmage commented on #1539
A lot has changed since this issue was opened. The biggest change was made in #2448, which made several changes to make Stackdriver Logging's Logger implementation thread-safe. Also, buffering and batching has also been added, so the gem's Logger and middleware can be used instead of the additional code linked to in this issue.

Because of this, I am going to close this issue as resolved. If you h

[2019-04-10 15:33] #1539 closed