[2018-01-25 19:37] boris-layvant commented on #1951
Thank you for the clarification.

[2018-01-25 19:37] #1951 closed

[2018-01-26 01:10] blowmage commented on #1830
@geigerj Is this something that should be addressed in the GAPIC generator configuration?

[2018-01-27 03:19] michaelawyu opened #1953 "Does pub/sub subscriber swallow all the exceptions?"
For example, running the code
[code]
will not throw an error. The exception raised is trapped in
[code]
and does not propagate to the main thread.

[2018-01-29 16:28] blowmage commented on #1953
Hi @michaelawyu, thanks for the question. Exceptions raised in the subscriber callback are "swallowed" in that they are handled by the callback thread pool and and not re-raised. This is not something that the Ruby Pub/Sub client is actively doing, but performed by the thread pool provided by concurrent-ruby. We believe this behavior conforms to best practices.

So, while calling `Thread.abort_on_

[2018-01-29 22:32] blowmage commented on #1943
@brauliobo Have you been able to use the benchmark the code improvements?

[2018-01-31 00:27] #1940 closed

[2018-01-31 00:31] blowmage commented on #1943
Closing as we have made fairly significant improvements to BigQuery performance and haven't heard from back the user. If there are more concerns about performance please open a new issue and reference this issue. Thanks!

[2018-01-31 00:31] #1943 closed

[2018-01-31 00:51] blowmage opened #1955 "Firestore Watch"
Implement ability to receive realtime updates as outlined in the specification document.

[2018-01-31 00:57] blowmage opened #1956 "Firestore Use DocumentSnapshot as Cursors"
Allow DocumentSnapshot objects to be passed into `Query#start_at`, `Query#start_after`, `Query#end_before`, `Query#start_at`.

[2018-01-31 09:30] brauliobo commented on #1943
thanks @blowmage, it looks promissing!

[2018-02-05 17:56] blowmage commented on #1942
FWIW, grpc version `1.9.0.pre3` has been released. If you can, please try it and let the grpc team know if you have any issues running on Ruby 2.5.

[2018-02-05 17:57] blowmage commented on #1953
@michaelawyu, does this help? Do you have additional questions?

[2018-02-05 18:14] michaelawyu commented on #1953
Hi @blowmage! Sorry for the late reply :( It helps a lot, thanks! I will include that in the updated sample.

[2018-02-06 14:26] BenBach commented on #1772
Did someone figure out this problem? We have the same :-(

[2018-02-06 14:53] blowmage commented on #1772
@BenBach What version of the grpc gem are you using?

[2018-02-06 15:05] BenBach commented on #1772
@blowmage `1.8.3`

[2018-02-06 15:18] BenBach commented on #1940
@blowmage What is the recommend way to keep the connection open on an heroku worker?

[2018-02-06 15:41] blowmage commented on #1772
@BenBach Can you post your backtrace?

[2018-02-06 15:48] blowmage commented on #1940
I am not familiar with Heroku workers. I'd suggest asking this on StackOverflow.

[2018-02-06 16:34] choenden opened #1960 "Add support for BigQuery customer-managed encryption keys"
BigQuery customer-managed encryption keys allow users to specify a Cloud KMS key to protect their BigQuery table.

- [x] Jobs: https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs `destinationEncryptionConfiguration` field, which indicates which Cloud KMS key should be used for the destination.
  - [x] Add `destinationEncryptionConfiguration` field to query job configuration.
  - [x] Add

[2018-02-06 23:11] blowmage commented on #1960
@geigerj @jbolinger The features being asked for here are marked `experimental`. The policy has been not to implement experimental features, but exceptions have been made. What can you tell us about this feature?

[2018-02-06 23:19] geigerj commented on #1960
This feature request is not currently on our feature roadmap, so I would not make an exception in this case.

@danoscarmike FYI; do you know whether there's any internal tracking of this feature that I'm not aware of?

[2018-02-07 02:08] choenden commented on #1960
Hey, to clarify, the experimental tag has been removed and this is awaiting rollout. I will send internal bugs and docs your way.

[2018-02-07 18:53] geigerj commented on #1960
Thanks for the clarification, @choenden!

[2018-02-09 05:11] Nakilon commented on #1588
Does OOP say everything have to be instantiated and self-inspected? I don't think so. It is about how we write code, not how it is being executed.
It is lazyness and Ruby is fine with it.

I won't say it's challenging. Just put it in documentation that this stuff is lazy and if you really want to fail immediately do some intermediate check. I would love `skip_lookup` to see `true` by default and s

[2018-02-12 02:13] johnunclesam opened #1964 "Error "SignatureDoesNotMatch". Google Cloud Storage Bucket PUT."
I'm loosing my mind.

I'm using Shrine (https://github.com/janko-m/shrine) with Google Cloud Storage (https://github.com/renchap/shrine-google_cloud_storage), but when I start the `PUT` call I get this:

[code]

I followed this info (http://shrinerb.com/rdoc/classes/Shrine/Plugins/PresignEndpoint.html) for `presign_endpoint`, but still nothing:

[code]

**I tried with and without this** (restartin

[2018-02-12 17:16] quartzmo commented on #1964
Hi @johnunclesam,

Can you try the operation in IRB directly with [google-cloud-storage](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/google-cloud-storage). You can provide your credentials in code as shown in [the guide](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/latest/google/cloud/storage).

[2018-02-12 17:34] johnunclesam commented on #1964
@quartzmo I'm sorry, I'm trying to understand if the problem is here: https://github.com/renchap/shrine-google_cloud_storage/issues/22 or here: https://github.com/janko-m/shrine/issues/250.

[2018-02-12 18:14] tswast commented on #1960
FYI: I won't be able to resume work on this until Wednesday, so if this is still time sensitive someone will need to follow-up my PRs with one that adds the key to query and copy jobs.

[2018-02-12 18:14] quartzmo commented on #1964
I'll take a look at renchap/shrine-google_cloud_storage#22 to see if I can help.

[2018-02-12 18:16] johnunclesam commented on #1964
@quartzmo but maybe the problem is here: https://github.com/janko-m/shrine/blob/master/lib/shrine/plugins/presign_endpoint.rb

[2018-02-12 22:43] quartzmo commented on #1964
I read through the linked issues and Shrine code/docs today but couldn't debug the issue. I agree that it seems the problem is likely to be related to the usage or configuration of the Shrine `PresignEndpoint` plugin. I'm going to close this issue since I currently see no evidence that the issue is in google-cloud-storage. Please re-open if you can isolate the problem to google-cloud-storage, othe

[2018-02-12 22:43] #1964 closed

[2018-02-12 23:56] janko-m commented on #1964
@quartzmo I managed to isolate the issue.

[code]

Note that if I remove the `:content_type` option, the upload succeeds.

[2018-02-13 00:00] johnunclesam commented on #1964
@janko-m thanks for this discovery.

[2018-02-13 00:07] janko-m commented on #1964
@johnunclesam I just found the documentation for the `:content_type` option:

<img width="751" alt="screen shot 2018-02-13 at 01 03 38" src="https://user-images.githubusercontent.com/795488/36126656-c3eaa59e-1059-11e8-81f2-9858793b65af.png">

It seems that the problem is that the PUT request needs to include the `Content-Type: text/plain` header. When I change

[code]

to

[code]

the upload works

[2018-02-13 00:35] quartzmo commented on #1964
@janko-m Thank you for clarifying this. How does this behavior in google-cloud-storage relate to the [problem with the PresignEndpoint configuration](https://github.com/renchap/shrine-google_cloud_storage/issues/22#issuecomment-364994262)? (Feel free to answer in that issue and link back from here.)

[2018-02-13 00:49] janko-m commented on #1964
@quartzmo Shrine's presign endpoint returns URL, fields and headers that the client (browser) needs to upload to. The `Shrine::Storage::GoogleCloudStorage#presign` method, which the presign endpoint calls, never returns any headers, which means that the presign endpoint always returns `"headers": {}` in the response. When the browser then tries to upload the file to the URL, but because the reques

[2018-02-13 01:43] frankyn opened #1965 "[Storage] When a bucket-level IAM policy has no assigned users with roles undefined method error is raised."
Hi all,

When I clear the IAM policy of a bucket using the UI or the Ruby client, I'm unable to view the policy or add new members as I receive the error `NoMethodError: undefined method 'each_with_object' for nil:NilClass`.

Steps to reproduce:
1. Remove all bucket-level IAM bindings

[code]

2. Trying to `puts` the bucket policy continues to error.

[code]

Gem Version `google-cloud-storage-1.9.

[2018-02-13 02:14] quartzmo commented on #1964
@janko-m Thank you for this clear explanation and for the PR. If we can ever do anything to facilitate integration with Shrine, please immediately open an issue here to discuss. We really appreciate your efforts to support and include Google Cloud Storage.

[2018-02-13 14:47] blowmage commented on #1965
It looks like this might be coming from a Policy protobuf resource that has no bindings because it is now empty.

[code]

We should add a guard that checks if bindings is `nil`.

[2018-02-13 14:52] blowmage commented on #1965
@frankyn Can you post your error's backlog?

[2018-02-13 22:40] frankyn commented on #1965
@blowmage Apologies for the delay, the backlog is:

[code]

[2018-02-13 22:44] frankyn commented on #1965
Reviewing PR now.

[2018-02-13 22:44] blowmage commented on #1965
K, I have been able to reproduce that, and #1966 adds test coverage for it's fix.

[2018-02-14 00:42] geigerj opened #1967 "Test against Ruby 2.5"
gRPC has just released 1.9.1, which adds Ruby 2.5 support. We should add Ruby 2.5 to the CI configuration. @quartzmo @blowmage could one of you take this on?

cc @jbolinger

[2018-02-14 00:52] blowmage commented on #1967
Currently working on this on the [ruby-2.5 branch](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/ruby-2.5).

[2018-02-14 01:24] blowmage commented on #1967
We've run into an issue running doctests on Ruby 2.5. We have some failures and it isn't clear why. I am currently working through the `yard-doctest` source to try to get more information about the failures. No ETA yet.

[2018-02-14 01:25] blowmage commented on #1967
You can see the builds here:

* [CircleCI](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/tree/ruby-2.5)
* [Travis-CI](https://travis-ci.org/GoogleCloudPlatform/google-cloud-ruby/builds/341211298)

[2018-02-14 20:23] averikitsch opened #1969 "Ruby NLP API side bar links broken"
<img width="284" alt="screen shot 2018-02-14 at 12 17 07 pm" src="https://user-images.githubusercontent.com/6519888/36226011-6e2160f2-1181-11e8-9c11-efb84ab40ca5.png">

The side bar from [this page](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.49.0/google/cloud/language) has broken links to [Project](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/g

[2018-02-14 20:45] quartzmo commented on #1969
Thanks for finding this. These types were removed from the Natural Language API, but the nav for the `google-cloud` meta-package was never updated, although the nav for the `google-cloud-language` package was correctly updated. I'll fix it now. Please refer to the [`google-cloud-language` docs](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-language/v0.29.0/google/clou

[2018-02-14 23:55] #1969 closed

[2018-02-15 17:18] blowmage commented on #1967
The [ruby-2.5 branch](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/ruby-2.5) has been merged into master, and both CircleCI and Travis-CI are running builds against Ruby 2.5.

[2018-02-15 17:18] #1967 closed

[2018-02-15 17:45] jlara310 opened #1971 "Broken link for Firestore client"
On the left hand menu, the Firestore link to https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.49.0/google/cloud/firestore leads to a 404.

[2018-02-15 21:29] ohboyotero opened #1972 "Datastore.new API is incredibly confusing"
The following code is an abuse of programming concepts, leads to user confusion, and exacerbates the already confusing documentation.

[code]

![image](https://user-images.githubusercontent.com/110791/36281792-d1dcfd0e-1253-11e8-9207-c069935853e9.png)

A constructor for the type `Datastore` should not return a different type!

To make matters worse, all of the documentation uses the variable name

[2018-02-15 23:52] ohboyotero opened #1975 "Documentation of method arguments is incorrect"
![image](https://user-images.githubusercontent.com/110791/36287161-ff721c36-1267-11e8-97e7-3672a8fd8847.png)

This table suggests that the `#key` method takes three arguments when in fact it only takes two. The second and third argument shown in this table are actually just accepted keys on the real second argument: an options hash.

I imagine that this is not the only place where this convention

[2018-02-15 23:52] ohboyotero commented on #1975
(Also for what it's worth, `null` is not a thing in Ruby. It's used everywhere in the docs.)

[2018-02-15 23:59] blowmage commented on #1975
If you look at the [source code for the method](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore/dataset.rb#L771-L781), you will see that there are indeed three parameters:

[code]

The last two are [optional named parameters](https://robots.thoughtbot.com/ruby-2-keyword-arguments).

[2018-02-16 00:00] blowmage commented on #1975
I believe this is a byproduct of the angular application that delivers the documentation. @quartzmo, is this something that be configured?

[2018-02-16 00:07] #1965 closed

[2018-02-16 00:52] quartzmo commented on #1972
This is generally true of other packages as well:

[code]

[2018-02-16 00:54] #1971 closed

[2018-02-16 01:01] quartzmo commented on #1975
The "(may be null)" string [is configured in](https://github.com/GoogleCloudPlatform/google-cloud-common/blob/master/site/src/app/styles/_main.scss#L907) CSS for the Angular site app and in theory might possibly be overridden. However, there is nothing about CSS in the
[Angular app README](https://github.com/GoogleCloudPlatform/google-cloud-common/blob/master/site/README.md), so I'm not sure how i

[2018-02-16 01:18] dazuma commented on #1972
I agree it can be confusing to see that the "constructor" for `Google::Cloud::Datastore` (which btw is a module, not a class) creates an object whose class has a different name. However, I'd also remind the reader that that Ruby types are fundamentally duck types, not class-based types. The actual class of an object (the fact that it is a `Dataset` or a `Bigquery::Project` or any other class) is a

[2018-02-16 01:27] frankyn commented on #1965
Thanks @blowmage!

[2018-02-16 02:11] ohboyotero commented on #1972
@dazuma totally agree with the superficials, and if this was C++/C#/Java and `Datastore` was an interface or abstract class, and there was some implementation called `Dataset` which implemented that public API, that'd be great.

But that's not what's happening here.

1. You're right that a) Ruby doesn't actually have "constructors" per se, and b) Datastore is a module. But the choice was made to u

[2018-02-16 02:48] dazuma commented on #1972
Ah, okay. I'm hearing that when you see `Datastore.new`, you (rightly) expect that you can find the *documentation* for the resulting object under the class `Datastore`, and it's surprising and confusing that you have to look for a different class `Dataset` for this information.

A different name for the factory method does seem like a reasonable approach. @blowmage What do you think? We were tryi

[2018-02-16 16:15] blowmage commented on #1972
These are great points and I generally agree with them. I can explain the history behind how we got here if you are interested. Unfortunately, however, I am very unlikely to support changing the names at this point in time.

I am sorry that the original naming decision has elicited such a strong negative reaction. Our goal has always been to craft a delightful and productive experience.

[2018-02-16 21:24] ohboyotero commented on #1972
Mostly I'm interested in the reasoning behind your standpoint so I can understand. If that includes a history lesson, that's fine with me!

If the names are set in stone, what room is there to improve the documentation? What is auto-generated vs. human-specified?

[2018-02-16 21:32] ohboyotero commented on #1975
@blowmage Ah, right you are, but functionally the docs are still broken. They list three arguments with no further clarification, and thus one would expect the following code to work:

[code]

...but it doesn't. One does not know from the current docs that the second two arguments have to be treated differently than the first (i.e., named).

**Can we update the documentation to generate clear labe

[2018-02-16 22:22] quartzmo commented on #1975
Does the documentation for [`Dataset#key` on rubydoc.info](http://www.rubydoc.info/gems/google-cloud-datastore/1.3.0/Google/Cloud/Datastore/Dataset#key-instance_method) meet your needs?

[2018-02-16 22:34] quartzmo commented on #1972
As I remember the history, these libraries originally exposed their top-level types through module methods such as [`Google::Cloud.datastore`](http://www.rubydoc.info/gems/google-cloud-datastore/1.3.0/Google/Cloud#datastore-class_method), and they still do. At some point there was a request to provide creation of these types via `new`, and the method was added.

[2018-02-17 00:29] quartzmo commented on #1972
We'd love to get your help improving the documentation. The docs source for `Datastore.new` is [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore.rb#L569-L617) and is not generated. Feel free to open a PR (or just post some changes on this issue if that's easier.)

[2018-02-17 00:52] ohboyotero commented on #1975
@quartzmo yessir it does!

It's unfortunate that the auto-generated OSS docs are better than the official docs hosted at https://googlecloudplatform.github.io. What can we do to fix it?

[2018-02-17 19:48] quartzmo commented on #1975
Cool. So I am beginning to understand that this issue is a request for the official API docs to presented in a Ruby community-standard format. Since the API doc source is already organized using [YARD](https://yardoc.org/) markup, the format of the default YARD output (see [rubydoc.info](http://www.rubydoc.info/)) is a pragmatic choice. Applying a GCP theme may also be acceptable as long as it doe

[2018-02-20 19:30] quartzmo commented on #1935
Yes, we should probably update/expand the README examples.

[2018-02-20 19:42] blowmage opened #1979 "Segfault on Ruby 2.5"
We are seeing segfaults on CI running Ruby 2.5. Currently only seeing this on OS X, but the segfaults are consistent. Every run segfaults.

Here are some of the failed builds:

* https://travis-ci.org/GoogleCloudPlatform/google-cloud-ruby/jobs/341727015
* https://travis-ci.org/GoogleCloudPlatform/google-cloud-ruby/jobs/341983725
* https://travis-ci.org/GoogleCloudPlatform/google-cloud-ruby/jobs/34

[2018-02-20 21:43] geigerj commented on #1979
cc @jbolinger

From https://travis-ci.org/GoogleCloudPlatform/google-cloud-ruby/jobs/341727015:

[code]

It looks like this is happening in [rly](https://github.com/farcaller/rly), rather than gRPC/protobuf, which is where we've frequently seen segfaults in dependencies in the past. This is pretty surprising, since rly appears to be a pure-Ruby library.

[2018-02-20 21:47] geigerj commented on #1979
GAX uses `rly` to parse path templates. From practical experience, it seems like using a full-blown lexer/parser to handle path templates is probably overkill; I believe Go GAPICs were [able to switch successfully](https://github.com/googleapis/toolkit/pull/1400) to just using string concatenation to do the same tasks. If this winds up being a problem in `rly` removing this dependency might be a p

[2018-02-20 22:22] blowmage commented on #1979
Yes, @dazuma and I discussed removing `rly` and using `addressable` last week. This would be a workaround, and we are still unable to diagnose the cause.

[2018-02-20 22:35] geigerj commented on #1979
@blowmage If you conclude that this is best worked around in GAX rather than fixed elsewhere, please file an issue in https://github.com/googleapis/gax-ruby/, and either @jbolinger or I can take a look at swapping out `rly` for `addressable`.

[2018-02-21 22:46] blowmage commented on #1935
The quickest fix might be to add a schema to the create_table call.

[2018-02-21 23:31] quartzmo commented on #1935
@Paxa We want to replace the README example with one from the guide. Which do you think is the best choice? For example [(1) Creating a table without insert](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery.rb#L281-L292) or [(2) A query of public data that does not show table creation](https://github.com/GoogleCloudPlatform/google

[2018-02-22 16:31] otobrglez opened #1980 "google-cloud-pubsub - Support for "messageId""
Hey guys!

I was wondering if there is a way to publish a message via [Pub/Sub wrapper](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/google-cloud-pubsub) with custom `messageId`? According to [API documentation here](https://cloud.google.com/pubsub/docs/reference/rest/v1/PubsubMessage) this should be possible. However `google-cloud-pubsub` gem does not support it.

Thanks f

[2018-02-22 16:34] #1980 closed

[2018-02-22 16:35] otobrglez commented on #1980
This should not be possible. `messageId` is assigned by the server. Ignore me.

[2018-02-22 21:57] blowmage commented on #1979
I removed all calls to `rly` and [still see a segfault](https://travis-ci.org/GoogleCloudPlatform/google-cloud-ruby/jobs/344828728), which makes me think the issue is not specific to `rly`.

[code]

[2018-02-22 23:56] dazuma commented on #1979
Confirmed, I can still repro it on my macbook pro.

Now, I'm getting the crash from a variety of different tests and contexts, but according to the C backtrace, it's always coming from the same place in the GC.

[code]
This is the same C backtrace that is being reported in https://github.com/colszowka/simplecov/issues/652

[2018-02-23 01:02] dazuma commented on #1979
I re-tried applying the [patch](https://bugs.ruby-lang.org/projects/ruby-trunk/repository/revisions/62396) for https://bugs.ruby-lang.org/issues/14357 but I can still reproduce the segfault. I also removed simplecov from the bundle, and can still reproduce the segfault. I also reconfirmed that the segfault goes away when I disable the GC completely.

Based on this, I reopened https://bugs.ruby-lan

[2018-02-23 01:10] blowmage commented on #1979
Thank you, I’m still very weak from the flu. Can you run point on this for now?

[2018-02-23 02:44] dazuma commented on #1979
Yeah, continuing to investigate.

For now, C backtrace when I recompile Ruby with `-O0`. The segfault still happens in the same place:
[code]

[2018-02-23 23:09] quartzmo commented on #1975
@ohboyotero Is there anything else to discuss on this issue, or can I close it?

[2018-02-23 23:10] quartzmo commented on #1972
@ohboyotero Is there anything else to discuss on this issue, or can I close it?

[2018-02-24 16:22] nrser commented on #1772
I want to post a little follow up for everyone...

This was a major issue. It **crashed** the app. Yeah... the logging library, which - in my opinion -
 should do everything in it's power to *never* disrupt your application and whatever business it's doing.

On top of that, it's Google's own libraries for premium Google features. So I was paying them to crash my app and/or paying them for a servic

[2018-02-27 22:58] #1972 closed

[2018-02-28 09:36] duttski commented on #1759
Hello - we've just had a similar issue.

[code]

I have full stack trace and core dump, but given comment above I'm not sure if this is the right place for it.

We're running a 'vanilla' GAE ruby (basically the tutorials) on a new R&D project, so no traffic or load to speak of. It was in a sidekiq worker. Faults at the same `run_batch` call to grpc as OP.

[code]

[2018-02-28 22:29] dazuma commented on #1979
Progress!

The following much smaller code snippet now reliably triggers the segfault on my machine (mid 2015 model Macbook Pro on OSX 10.13.3).

[code]

The following is a C level backtrace on a Ruby 2.5.0 compiled with `-O0`:

[code]

Note that I've been able to remove all google-cloud code from the repro case.

[2018-02-28 23:15] dazuma commented on #1979
Update: concurrent-ruby is not the culprit. The following code triggers the segfault:

[code]

This is now a Ruby-core bug. I'll report it upstream.

[2018-02-28 23:39] dazuma commented on #1979
https://bugs.ruby-lang.org/issues/14561

[2018-03-01 21:38] dazuma commented on #1875
google-cloud-debugger 0.31 includes the improvements here.

[2018-03-01 21:38] #1875 closed

[2018-03-01 23:06] ndbroadbent opened #1984 "The "audio_config" method uses a "words" argument for "enable_word_time_offsets""
In this method: https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/4d806dfcc991bb976b0fbb31e459fdc9c5923eb0/google-cloud-speech/lib/google/cloud/speech/project.rb#L618-L633

The method has the arguments: `phrases: nil, words: nil`.  I think it's confusing that the `words` argument actually controls `enable_word_time_offsets`.

[The examples for all the other programming languages](https

[2018-03-02 00:42] grosser opened #1985 "google-cloud-core uses signet and googleauth but does not depend on them"
they should either depend on them or maybe do a `gem 'signet'` before trying to just require files from these gems

Usecase: only using google-cloud-core since I only need `Google::Cloud::Credentials`

[2018-03-02 00:44] blowmage commented on #1985
`Google::Cloud::Credentials` was never part of the public API and is deprecated. You should use `Google::Auth::Credentials` instead.

[2018-03-02 00:52] grosser commented on #1985
thx, works! 🎉

switched that for:
[code]

[2018-03-02 00:52] #1985 closed

[2018-03-02 01:28] quartzmo commented on #1984
@ndbroadbent Thanks for raising this issue. I completely understand your confusion: The choice of the option name `words` is reductionist to the point that most of the information provided by the original name is lost.

A big change is in the works for this library (PR #1977) that will replace the API surface above with a slightly lower-level API that uses the original names from the Cloud Speech

[2018-03-02 01:28] #1984 closed

[2018-03-02 18:04] quartzmo commented on #1935
I'm going to go with a `create_table`, `load` (make-believe CSV from GCS), and `query` example that includes a schema as requested by @blowmage. There will be no real CSV available, however.

[2018-03-02 18:44] #1935 closed

[2018-03-02 18:46] quartzmo commented on #1919
Any progress on a PR for this feature?

[2018-03-02 18:48] stevenbarragan opened #1987 "RuntimeError: can't add a new key into hash during iteration"
```RuntimeError: can't add a new key into hash during iteration```
I added the gem into one on my rails app and I'm getting this error consistently.

I'm using ruby 2.5.0 and I'm running puma with a couple of workers and threads I'm not sure if it's related, I can share more details if need it.

[code]

[2018-03-02 19:07] jeremywadsack commented on #1919
Not yet. It's on my list but we've been busy with other things and I haven't had time. I hope to get to it soon

[2018-03-02 19:25] blowmage commented on #1987
@dazuma Are you aware of anything that iterates `request_info`?

[2018-03-02 20:48] dazuma commented on #1987
`Logger#trace_ids` does iterate `@request_info` but I don't think we have anything that calls it directly.

[2018-03-02 20:49] stevenbarragan commented on #1987
I am not, maybe newrelic? I can see it in the logs

[2018-03-02 20:54] blowmage commented on #1987
I was looking for a call to `trace_ids` as well but didn’t see it in the backtrace. Can you share more information?

[2018-03-02 20:58] blowmage commented on #1987
Do we need to consider making Logger threadsafe?

[2018-03-02 21:16] blowmage commented on #1987
@stevenbarragan Can you add the following code to your application and see if this helps?

[code]

[2018-03-02 22:13] stevenbarragan commented on #1987
Isn't threadsafe? if it's not that's probably it.

[2018-03-03 00:03] Paxa commented on #1935
Thank you

[2018-03-05 15:37] Jiyu-Zhang-Zendesk opened #1991 "Can't specify insertId for BigQuery to do de-duplication"
According to BigQuery's document the user can specify `insertId` for each row. And if the same insertId is inserted twice . BigQuery can de-duplicate the data:
https://cloud.google.com/bigquery/streaming-data-into-bigquery

But actually the user can't. And `insertId` is actually "hardcoded" to some uuid here:
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquer

[2018-03-05 17:37] quartzmo commented on #1991
Hi @Jiyu-Zhang-Zendesk, thank you for opening this issue.

Currently, this library [automatically and repeatedly retries](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery.rb#L464-L485) failed idempotent operations such as `tabledata.insertAll`. Ensuring that the retry works correctly was [a priority of the BQ team](https://github.

[2018-03-05 17:44] blowmage commented on #1979
Waiting for action from Ruby-lang, should we keep this issue open until then?

[2018-03-05 17:46] blowmage commented on #1942
The grpc versions 1.9.1 and 1.10.0 both include support for Ruby 2.5. We also have Ruby 2.5 running on CI. Closing this issue.

[2018-03-05 17:46] #1942 closed

[2018-03-05 18:09] ronan-mch commented on #1991
Hi @quartzmo , Jiyu has opened the issue because we would like to take advantage of the best effort deduplication that the `insertId` enables. To do this, we set the `insertId` to a value that is unique for the event that triggers the insertion. However as far as we can see from the code that Jiyu linked to, the `insertId` is populated by the BigQuery gem itself and thus the value that we enter in

[2018-03-05 18:20] dazuma commented on #1979
I still think we should keep it open, but maybe mark it as on hold or something. We should still:
* Document the issue in google-cloud-spanner and any others that might use grpc enumerators.
* Keep [poking ruby-core](https://bugs.ruby-lang.org/issues/14561) until a fix actually shows up in a patch release.

[2018-03-05 18:27] quartzmo commented on #1991
I think this depends on the cause of your duplication problem. If the duplication problem is due to requests failing, and the solution is to retry the requests with backoff, then this situation is handled for you by the library. If the cause is something other than the requests failing, then maybe a change is needed. Hopefully we can get some input from the BQ team because they have (obviously) ve

[2018-03-05 18:51] blowmage commented on #1979
We don't have a label for "on hold", so I'll mark this issue as "blocked".

[2018-03-05 20:06] xinyunh0929 opened #1993 "Couldn't get the topic belonging to other project in Pubsub API via Ruby"
Our customer want to publish pubsub message to the pubsub under our project.

However, they received permission alert when they try getting the topic since it isn't under their project.

Sample code;
require "google/cloud/pubsub"

pubsub = Google::Cloud::Pubsub.new(
project_id: "xinyunh-jobs-api",
credentials: "/usr/local/google/home/xinyunh/key/key.json",
scopes: ["https://www.googleapis.com/auth

[2018-03-05 20:26] blowmage commented on #1993
We don't have any plans to change the API for [`#topic`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-pubsub/v0.30.0/google/cloud/pubsub/project?method=topic-instance), which currently supports both the `project` and the `skip_lookup` arguments. Their use of the Ruby library is valid and supported.

The permission denied error is most likely because of the call to [`

[2018-03-05 23:00] quartzmo commented on #1993
Yes, as @blowmage commented above, the following is correct and can be considered a "permanent solution":

[code]

Does this answer your question? Can we close this issue?

[2018-03-06 00:49] xinyunh0929 commented on #1993
Yes, thanks for the answer.

[2018-03-06 00:49] #1993 closed

[2018-03-06 01:26] lsimoneau commented on #1919
FWIW this would be super useful for my team as well.

[2018-03-06 06:09] stevenbarragan commented on #1987
@blowmage I added your code to a rails initializer, it didn't work.

[2018-03-06 08:35] Jiyu-Zhang-Zendesk commented on #1991
Hi @quartzmo, good to know that we have retry logic in the library. But our problem is a bit different here. We are handling streaming data and it's possible for the same message to be processed twice. That's why we need to leverage BQ's de-duplication mechanism, which is to set the `insertId`. Is that possible for the user to set `insertId` instead of setting by the library?

[2018-03-06 14:00] blowmage commented on #1987
Okay, that means this isn’t because of `trace_ids` then. We need more information to diagnose the cause.

[2018-03-06 16:23] quartzmo commented on #1991
@Jiyu-Zhang-Zendesk I just noticed something in the official docs that suggests your use case may not be supported:

I believe in your use case, although it's possible for the same row to be processed twice, the **set** of rows in the request will always be different, is that correct?

[2018-03-06 21:40] irvingwashington opened #1994 "Increasing thread count / RSS"
Hey there, we’re observing a weird issue with the `google-cloud-pubsub` gem.
On processes that start a subscriber, sleeping threads count increases without a limit.

The script below is enough for me to reproduce the issue, after 20 minutes the thread count is about 40, if I leave it for few hours it goes into hundreds. The highest count I've seen so far was over 3'000.

(subscriber.rb)
[code]
I r

[2018-03-06 21:44] blowmage commented on #1994
@apolcyn Can you weigh in on this?

[2018-03-06 22:07] apolcyn commented on #1994
@irvingwashington thanks for the details and the stack trace of the blocked thread. Is it easy for you to also print out the exception that's occurring in the read loop?

e.g.,:

[code]

?

From the looks of it, I'm guessing that the RPC is failing somehow and at the same time the writer thread (the thread running `write_loop`) of the bidi call is probably pulling on an enumerable that is still "a

[2018-03-06 22:47] blowmage commented on #1994
I'm actively working on a couple of tests, but need to let them run for a while.

[2018-03-07 00:25] blowmage commented on #1994
@irvingwashington Thank you for this issue and the clear repro. It's clear and wonderfully written. I've been able to repro the slow increase in open threads using your script. I didn't let it run for very long, but I did see it slowly increase from what looks to be a baseline of 11 to 20 in about 10 minutes.

The first thing I did was modify your script to one that didn't use a Subscriber with it

[2018-03-07 09:22] irvingwashington commented on #1994
Wow, thanks for timely answers, I wasn't ready for that 😄

For the record, the read loop exception was
`14:The service was unable to fulfill your request. Please try again. [code=8a75]`

Regarding the changes to `enumerator_queue.rb` and `stream.rb`, I ran them and it looks well. The thread count stays low (12) when idle. When publishing, it stays at 64 which I guess is the thread count of full po

[2018-03-07 14:02] Jiyu-Zhang-Zendesk commented on #1991
@quartzmo Regarding your questions:
(1) Will all of your duplicates fall within the 1-minute limit?
Not 100% of them. But even de-deduplication within 1-minute can help us a lot.
(2) What type of unique value do you intend to use for insertId? &
(3) What is the scope of the value's uniqueness?
We have something called `event_id` which is globally unique. We can use that for `insertId` if `insertId

[2018-03-07 15:35] shaneog commented on #1860
Sadly this is a complete blocker for me. We use Passenger Enterprise and see the same issue.

If there is no fix coming, can there be an official workaround that works with a default Rails project, which uses Puma?

[2018-03-07 16:02] quartzmo commented on #1423
Moved to the public [planning wiki](wiki/Planning) due to the delay in implementing the new documentation site.

[2018-03-07 16:02] #1423 closed

[2018-03-07 16:02] quartzmo commented on #1422
Moved to the public [planning wiki](wiki/Planning) due to the delay in implementing the new documentation site.

[2018-03-07 16:02] #1422 closed

[2018-03-07 16:02] quartzmo commented on #1370
Moved to the public [planning wiki](wiki/Planning) due to the delay in implementing the new documentation site.

[2018-03-07 16:02] #1370 closed

[2018-03-07 16:02] quartzmo commented on #1258
Moved to the public [planning wiki](wiki/Planning) due to the delay in implementing the new documentation site.

[2018-03-07 16:02] #1258 closed

[2018-03-07 16:02] quartzmo commented on #1252
Moved to the public [planning wiki](wiki/Planning) due to the delay in implementing the new documentation site.

[2018-03-07 16:02] #1252 closed

[2018-03-07 16:03] 210rain opened #1997 "Stream file from third party provider to Google Cloud Storage?"
I'm looking for a way to initiate a download of a file and upload said file without ever writing the file to disk or having the entire file in memory as some of the files we will be transferring may be large. I was trying to use IO.pipe to pass a reader to the upload_file method in Google::Cloud::Storage but it seems to want a file it can rewind which obviously you can't do with a stream. Is there

[2018-03-07 16:15] quartzmo commented on #1991
@jjolma Any thoughts on this use case?

[2018-03-07 16:51] blowmage commented on #1994
Agreed that 64 threads seems right for both publishing and subscribing. I'll try to get a release out with this fix today.

[2018-03-07 17:49] quartzmo commented on #1997
Hi @210rain, thanks for reporting this issue.

Do you have an error backtrace, and if possible, a short script for reproducing? Thanks!

[2018-03-07 18:09] jcondit commented on #1991
Just to recap: The BQ Ruby client automatically generates an insertId internally, and uses that ID for any internal retries that it issues. However, there's a feature request for allowing the client code to specify a custom insertId so that they can do higher-level deduplication--in other words, the client code wants to deduplicate across several client-level calls to insertAll, rather than just d

[2018-03-07 18:26] quartzmo commented on #1991
@jcondit Your recap sounds correct to me. Thanks for responding!

[2018-03-07 18:43] blowmage commented on #1991
@jcondit Does exposing `insertId` to users change how the client code needs to handle `InsertAll` calls? Part of the change to treat `InsertAll` as idempotent was having a reliable `insertId` value. If users are able to specify an `insertId` value (possibly with something less reliable) does that affect the client treating `InsertAll` as idempotent?

[2018-03-07 18:57] #1994 closed

[2018-03-07 19:07] jcondit commented on #1991
IMO if the client code decides to provide an insertId, then they are taking responsibility for the deduplication semantics, and all the library needs to do is pass the insertId through using the existing API invocation and retry logic. The only risk to the client code is that they could get more deduplication than they intend if they pass the reuse an insertId for unrelated rows--but that's on the

[2018-03-07 19:17] blowmage commented on #1991
Sounds good. Thanks for the clarification.

[2018-03-07 19:40] geigerj commented on #1762
Recap of this issue:

* There are currently two very similar Video Intelligence modules (`Google::Cloud::VideoIntelligence` and `Google::Cloud::Videointelligence` -- differing on the casing of the `i` in `intelligence`), which should probably be merged.
* The GAPIC code is generated into `Google::Cloud::VideoIntelligence`, whereas protoc-generated code  is in `Google::Cloud::Videointelligence`
* T

[2018-03-07 23:28] quartzmo commented on #1991
@jcondit Is it true that the scope of `insertId` uniqueness is the entire project, rather than the table? Is the uniqueness scope of `insertId` documented anywhere?

[2018-03-08 20:30] blowmage commented on #1994
This is released in google-cloud-pubsub 0.30.1

[2018-03-08 21:44] Orevarc opened #1999 "How to authenticate Google Language using API keys"
I am looking to authenticate with the Google Language platform using API keys. According to the docs [here](https://cloud.google.com/docs/authentication/api-keys), Google Language is a service that supports API key authentication.

When going through the docs and source for the `google-cloud-ruby` client, I am unable to determine how to authenticate with a given `project_id` and `api_key`. I only

[2018-03-08 22:06] blowmage commented on #1999
@geigerj @jbolinger Do you guys have an answer for this? Do the GAPIC-only clients have support, or plan to support, use of API Keys instead of service account credentials?

[2018-03-08 23:29] jbolinger commented on #1999
There is no plan to support this.

On Thu, Mar 8, 2018 at 2:06 PM Mike Moore <notifications@github.com> wrote:

[2018-03-09 00:12] blowmage commented on #1999
@Orevarc, the direction given for authentication with the Google Cloud libraries has been to support service accounts as the primary authentication mechanism. The only library that currently supports API Keys is Translate (google-cloud-translate). Looking at the [Using API Keys](https://cloud.google.com/docs/authentication/api-keys) document you linked to, it also says that service accounts should

[2018-03-09 00:27] blowmage commented on #1987
@stevenbarragan We need the additional detail you offered in order to resolve this.

[2018-03-09 12:13] Orevarc commented on #1999
@blowmage @jbolinger Thank you for both the quick responses! Looks like I'll either have to switch to querying the REST API endpoint or obtain service account credentials and use this gem.

[2018-03-09 13:59] blowmage commented on #1999
Thanks for the question. Best of luck!

[2018-03-09 13:59] #1999 closed

[2018-03-10 19:47] jopotts commented on #1860
I have a Rails app running on passenger in a container in a kubernetes cluster on GKE, and am trying to get logging to stackdriver working. I can log to STDOUT which works ok, but I wanted to use the stackdriver gem (for google-cloud-logging) instead.

The problem is that the logs aren't getting through, so I'm wondering if it's the same issue as described here?

I can log into a pod in the cluste

[2018-03-12 10:45] jopotts commented on #1860
I had problems getting the logging working on a Rails app running on Passenger from GKE (currently only staging). Thought it might be this issue.

However, it turned out to be `config.google_cloud.use_debugger = true` that was stopping the other services working when using the `stackdriver` gem. When set to false, the logging now works. I think it's a service account permissions issue.

Also worth

[2018-03-12 16:19] quartzmo commented on #1997
@210rain Can you provide some error details for this issue? Thank you!

[2018-03-12 18:38] quartzmo commented on #1991
I'm starting work on a PR for this feature.

[2018-03-12 19:38] ronan-mch commented on #1991
Sounds good, looking forward to seeing it.

[2018-03-12 21:11] jcondit commented on #1991
@quartzmo Scope of insertId uniqueness should be only the table, not the project.

[2018-03-13 02:57] raypitmon commented on #1772
FYI, it's not just in GKE.  I ran into this in Minikube, v1.9.0

[2018-03-13 23:00] 210rain commented on #1997
Sorry for the delay, here's an example of what i'm trying to do:
[code]

And stack trace:
[code]

[2018-03-13 23:42] blowmage commented on #1997
@210rain I think that the code you posted isn't doing what you think. `RestClient.get` will always return a `String` of the request. Its actually a subclass of a String, but the point is that the entire response is loaded into memory.

There are a couple ways to get your code working without using IO streams:

The first is to put the response into a `StringIO` object:

[code]

The second is to use

[2018-03-13 23:52] blowmage commented on #1997
@210rain I've looked into this a bit. There doesn't appear to be any code in `google-cloud-storage` that would preclude use of an IO stream (the special case IO object returned by `IO.pipe`). The problem looks to lie in `google-api-client`, which is used to make the actual API call. There may also be issues using IO streams in `httpclient`, but I haven't been able to make the changes to get that f

[2018-03-14 01:25] 210rain commented on #1997
That answers my question, thanks!
On Tue, Mar 13, 2018 at 6:52 PM Mike Moore <notifications@github.com> wrote:

[2018-03-14 10:53] MatUrbanski opened #2006 "undefined method `silence_logger' for #<Google::Cloud::Logging::Logger:0x00000007d4c090> Did you mean? silencer"
I've tried to use it on one of my projects but the following error appears:

[code]

Backtrace looks like this:

[code]

App is using `ruby 2.4.1` and `Rails 4.2.8`

Any ideas?

[2018-03-14 13:41] blowmage commented on #2006
Hi @MatUrbanski, thanks for the question. If you look at the [activerecord-session_store README](https://github.com/rails/activerecord-session_store) it states:

[2018-03-15 16:53] blowmage opened #2007 "Google Cloud docs not showing BigQuery Guide"
Yesterday google-cloud 0.51.0 was released and added google-cloud-bigquery-data_transfer. The [side navigation for the meta package](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.51.0/google/cloud) links to BigQuery DataTransfer, but the result gives a 404. I think this may be because BigQuery DataTransfer is nested under BigQuery, and the angular app is not treati

[2018-03-15 16:57] quartzmo commented on #2007
I'll build the docs today locally, and see what (if anything) can be done about this.

[2018-03-15 19:14] quartzmo commented on #2007
If you select `master` version in the left pulldown, then the link to [BigQuery DataTransfer](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/master/google/cloud/bigquery/datatransfer) works! BUT the "guide" content at [BigQuery](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/master/google/cloud/bigquery) is missing!

[2018-03-15 19:16] tswast commented on #2007
The PHP team is having similar problems at https://github.com/GoogleCloudPlatform/google-cloud-php/issues/826

[2018-03-15 19:23] quartzmo commented on #2007
@tswast Thanks, good to know.

[2018-03-15 19:58] blowmage commented on #2007
Good news, I got it to work. I had missed some files in my manual fix to the docs and adding all of them has [fixed the nav](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.51.0/google/cloud/bigquery/datatransfer).

[2018-03-15 22:32] quartzmo commented on #2007
I'm going to change "DataTransfer" to "Guide" in the title of this issue, since we still have that problem.

[2018-03-15 22:33] quartzmo commented on #2007
Remaining issue: The "guide" content at [BigQuery](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/master/google/cloud/bigquery) is missing!

[2018-03-16 06:04] jadekler opened #2008 "pubsub: hanging in alpine"
I'm trying to use pubsub. I have a very basic subscriber - [full code here](https://gist.github.com/jadekler/ac4fde6c7fe45e8c274dad579921f415). I have a very basic alpine dockerfile - [full code here](https://gist.github.com/jadekler/ac8ef447662cad3ae13ad70abfac7cc3).

When I run this dockerfile, `require 'google/cloud/pubsub'` hangs forever.

What gives?

edit: For the record, it works fine outsi

[2018-03-16 16:35] jadekler commented on #2008
Possibly related to https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1351

[2018-03-16 16:59] blowmage commented on #2008
Hi @jadekler, I'm looking into this, but what you are describing is certainly perplexing. Have you tried replacing your code with only the require to see if it also hangs?

When you say it works on other requires, what requires do you mean? Does it work with Google Cloud Datastore?

[2018-03-16 17:02] blowmage commented on #2008
How are you running your Docker container? Are you running it locally on your mac? If so, are you running Docker for Mac or Docker Toolbox? Or are you running this on a server? If so, where?

[2018-03-16 17:02] jadekler commented on #2008
Wayyyy later I get this error:

[code]

I've also tried installing `ca-certificates` to no avail.

[2018-03-16 17:04] jadekler commented on #2008
@blowmage

- Removing everything except the require, no more problem. So, must be further down despite my logging (logs not working as I'd expect for some reason?). Looking into this more..
- I've tried `require json` and it works fine
- This is running locally on docker for mac. I'm using `docker run foo`; no bells and whistles

[2018-03-16 17:15] jadekler commented on #2008
So, another update: I've individually remove line by line and there doesn't seem to be any issue with any individual line. When I place the loop [1] back in, that's when I start having issues - my logs apart from the very first one before the `require` don't work, I never receive any messages, etc. I'm wondering whether the loop is the problem. What's the idiomatic way to "wait for messages foreve

[2018-03-16 17:26] blowmage commented on #2008
We usually encourage calling sleep with no arguments.

[2018-03-16 18:09] jadekler commented on #2008
Right on. I put that in, same problem. @blowmage any other ideas?

[2018-03-16 18:12] jadekler commented on #2008
This fails on other OSes too; just tried jessie.

[2018-03-16 18:39] jadekler commented on #2008
New error:

[code]

[2018-03-16 20:34] blowmage commented on #2008
To be clear, this is failing for you on debian _inside_ a docker container? Not in a normal VM, right?

[2018-03-16 20:40] blowmage commented on #2008
Can you make a couple changes and let us know what output you get. (If its too big for a comment can you put it in a gist?)

Set the following environment variables: `GRPC_TRACE=all` and `GRPC_VERBOSITY=debug`

When you create the subscriber object, can you pass the argument `streams: 1`? This will reduce the number of messages a bit and make the output easier to follow.

[2018-03-16 21:01] jadekler commented on #2008
Hey @blowmage. I probably won't have time to today, and I'm about to go on vacation unfortunately. I'll check in on this issue periodically, and @jonparrott may also. The code above should be enough to repro, though - let me know if you're not able to.

[2018-03-16 21:01] jadekler commented on #2008
And, yessir, a container running on a mac.

[2018-03-16 22:59] blowmage commented on #2008
Unfortunately, I have yet to successfully reproduce the behavior you are seeing. I have [posted my repro files here](https://gist.github.com/blowmage/8f65e8c186a5a822c85ab26d7aeea386). The only substantive change I made was to remove the custom SSL certificate and creating the `SSL_CERT_FILE` environment variable. From my tests so far I don't think a custom SSL cert is needed when running on Alpin

[2018-03-16 23:01] blowmage commented on #2008
I should add that I am also using Docker for Mac, Version 17.12.0-ce-mac55 (23011).

[2018-03-17 00:05] jadekler commented on #2008
AH. `-it`. It was working fine, but for some reason the `STDIN` must have been getting unattached. Man. Thank you, you rock.

[2018-03-17 00:05] #2008 closed

[2018-03-17 00:08] quartzmo commented on #2008
Yes, great work @blowmage!

[2018-03-17 23:40] jadekler opened #2010 "pubsub: errors warning every 10 minutes"
Every 10 minutes, on the dot, I get errors about bidi connections. These do not seem to be preventing the app from pulling messages, or crashing the app, but they are quite concerning. Any idea what's going on here?

![screen shot 2018-03-17 at 4 37 49 pm](https://user-images.githubusercontent.com/3584893/37561047-c203abd8-2a01-11e8-917a-646a43d4a7ec.png)

![screen shot 2018-03-17 at 4 41 46 pm](h

[2018-03-18 00:40] jadekler commented on #2010
Under load (~30 million messages in the subscription), the app entirely stops receiving new messages.

Here's the app:

[code]

Here's a graph show this:

![screen shot 2018-03-17 at 5 40 00 pm](https://user-images.githubusercontent.com/3584893/37561367-3faa517e-2a0a-11e8-8e0e-cdb9b29db474.png)

[2018-03-19 13:26] blowmage commented on #2010
The GAPIC client is configured to keep streaming connections open for 10 minutes. After 10 minutes it closes the streaming connection and raised an error. The Pub/Sub Subscriber handles the error by recreating the streaming connection, adding the messages in the stream inventory to the new connection. So this is not something to be concerned about.

We would love to be able to keep a streaming con

[2018-03-19 13:28] blowmage commented on #2010
Your second comment seems to be a completely different issue. Can you open a new issue with any additional information, such as GRPC logs? If you stop and restart the process does it do the same thing?

[2018-03-19 13:38] jadekler opened #2011 "pubsub: consumer crashes / stops receiving messages after couple minutes"
Under load (~30 million messages in the subscription), the app entirely stops receiving new messages.

Here's the app:

[code]

Here's a graph show this:

![screen shot 2018-03-17 at 5 40 00 pm](https://user-images.githubusercontent.com/3584893/37561367-3faa517e-2a0a-11e8-8e0e-cdb9b29db474.png)

At this point, the app no longer emits any logs. And, although kubernetes tells me the app is still ali

[2018-03-19 13:38] jadekler commented on #2010
Done! https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/2011

[2018-03-19 13:38] #2010 closed

[2018-03-19 14:17] blowmage commented on #2011
Does this happen as soon as the Ruby process is started? Or does the Ruby process run for a while, and then the spike happens?

[2018-03-19 17:23] Jarob22 opened #2012 "How to stream microphone input for Google Cloud Speech API in Ruby, Mac OS X?"
Hi! I decided to use this project as part of our company hack days to build a voice activated game, but struggled finding how to stream microphone input into it. After digging through the docs, there's some examples using "MicrophoneInput.read" but no link to what this is supposed to be.

After searching around a bit, I found easy_audio https://github.com/lsegal/easy_audio but it was not easy to w

[2018-03-19 17:32] quartzmo commented on #2012
@Jarob22 Thanks for opening this issue! We definitely want to help people get up and running quickly with these awesome (and fun) ML APIs like Cloud Speech API.

@blowmage Any ideas on how we might provide a bit more onboarding help in our Speech docs with microphone input?

[2018-03-19 17:48] blowmage commented on #2012
@Jarob22 What platform are you targeting? Most of the libraries used to access a microphone are platform specific, which is why we used a made-up library in the code examples. Unfortunately, your observations matches ours, collecting audio from an input is not well supported or difficult to use.

Here is a streaming speech example running on OS X using the [coreaudio](https://github.com/nagachika/

[2018-03-19 18:00] blowmage commented on #2012
If you want to watch me stumble through live coding this example you can see it [here](https://youtu.be/U1d0Erc2MK4?t=24m2s).

[2018-03-19 18:09] Jarob22 commented on #2012
Hi @blowmage,

I'm using Mac, and even this would have been preferable to easy_audio. I spent an entire day being stuck because of some arcane issues existing between the C ffi and the GIL!

What data does CoreAudio return? One of the other confusions with easy_audio (well really portaudio) was that the data it returned was not a series of floats -1 to +1, but a series of floats from -? to +? (I n

[2018-03-19 18:30] blowmage commented on #2012
CoreAudio returns an [NArray](https://github.com/ruby-numo/numo-narray) of a pair of Integers. Most of CoreAudio is C and Objective C, so I remember looking at the source a lot to figure out how it works.

[2018-03-19 18:49] Jarob22 commented on #2012
Ah, are these integers between -32768 and 32767? I was converting portaudio's floats and capping them at those values to get a stream of ints, then converting to little endian samples and packing. I guess this would work - what I was trying to do was set the stream going, append the audio input to a temporary buffer, then when the amplitude went above a threshold, start actually listening for a co

[2018-03-19 19:16] blowmage commented on #2012
I believe OS X CoreAudio uses 16bit samples for audio, so it should be fine.

[2018-03-19 19:51] Jarob22 commented on #2012
Alright. The code I initially used to record a simple command is in https://github.com/Jarob22/uocum_ludum/blob/master/sokoban.rb at the bottom if you wanted to use it for examples. Yours would be a great one to have, @blowmage.

[2018-03-19 20:45] quartzmo commented on #2012
The [current Speech example for streaming](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-speech/lib/google/cloud/speech/project.rb#L537-L559) looks like this:

[code]

The `MicrophoneInput.read` is explained as: "Actual implementation of microphone input varies by platform". Personally I'm hesitant about getting deeper into platform-specific details, or showing

[2018-03-19 20:48] quartzmo commented on #2012
Rewrote the issue title for SEO.

[2018-03-19 21:07] quartzmo commented on #2012
Closing, since @blowmage is in agreement that replacing `MicrophoneInput.read` with real-world code in the API doc example is currently problematic due to the platform-specific nature of the solutions.

[2018-03-19 21:07] #2012 closed

[2018-03-19 21:09] quartzmo commented on #2012
Thanks again for bringing this up @Jarob22, I'm sure the code that @blowmage posted and the code that you've linked will be very helpful for other users.

[2018-03-19 22:05] Jarob22 commented on #2012
@quartzmo No worries, hope this helps future people. In lieu of replacing the current documentation with platform specific stuff, maybe at least a link to this ticket for "a couple of real world examples" or similar wording would be useful?

[2018-03-19 22:27] quartzmo commented on #2012
Let's see what @frankyn has to say.

[2018-03-19 22:52] Jarob22 commented on #2012
Ok!

[2018-03-20 15:19] quartzmo commented on #2007
@blowmage The JSON resource files for `google-cloud` are the copied files of all its included packages. The problem is that since the files for Data Transfer contain `google/cloud/bigquery.json` (due to this module being present in Data Transfer), and Data Transfer follows BigQuery in the copying process, the `bigquery.json` containing the guide is now overwritten by the blank `bigquery.json` from

[2018-03-20 15:44] blowmage commented on #2007
Would building the docs for the meta package in a different order, with `bigquery-data_transfer` running _before_ `bigquery`, preserve the `bigquery.json` file we want to see?

[2018-03-20 15:51] quartzmo commented on #2007
@blowmage That's a definitely possibility that should solve this particular problem with no side effects that I can think of... (This module overlap may still produce some other problem after the reversal, but I can't think of it.)

I'll try it out locally.

[2018-03-20 16:30] quartzmo commented on #2007
It works, here's the patch:

[code]

[2018-03-20 16:42] blowmage commented on #2007
how about this instead:

[code]

We want the verification that `gems` gives us, but the order that `google_cloud_gems` gives us. Doing an intersection of the two arrays should maintain that.

[2018-03-20 16:58] quartzmo commented on #2007
Works, good idea.

[2018-03-20 17:12] #2007 closed

[2018-03-21 00:09] bshaffer opened #2013 "Stackdriver Trace not working locally"
I followed [the setup instructions](https://cloud.google.com/trace/docs/setup/ruby) for Rails:

  1. added `gem "stackdriver"` and
  1. I ran `bundle install`
  1. added `require "google/cloud/trace/rails"` to `application.rb`
  1. set the environment variable `GOOGLE_PROJECT_ID` (and `GCLOUD_PROJECT_ID` and `GOOGLE_CLOUD_PROJECT` to be safe)
  1. set the environment variable`GOOGLE_APPLICATION_CR

[2018-03-21 01:14] blowmage commented on #2013
@dazuma Can you weigh in on this?

[2018-03-21 01:20] blowmage commented on #2013
@bshaffer Are you setting the `use_trace` configuration to `true`? My (limited) understanding is that Trace is not enabled by default unless Rails is running in production, but you can override this using that setting. See the [Stackdriver Configuration guide](http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/stackdriver/v0.14.0/guides/instrumentation_configuration) for more.

[2018-03-21 02:33] blowmage commented on #2011
@jadekler Can you answer these questions? Also, about how long does it run, and about how many messages does it acknowledge, before it stops processing?

[2018-03-21 05:30] jadekler commented on #2011
Hey Mike, sorry for the long delay. I'm out of the country atm (and south africa has very inconsistent wifi availability) so I'll be pretty slow next couple weeks in replying. The failure happened some 10 minutes after the process started. About 300,000 messages were acked at a rate of about 37,000 per minute.

I was able to repro this just now by just restarting the pod. This is all being run on

[2018-03-21 13:27] artm commented on #1997
I would like this to be reopened, or re-reported to the correct place.

My use case is piping a long output from a process on the remote host into a storage object.
The data won't comfortably fit into the memory of the instance where the ruby code is running and I would like to avoid writing it to a temporary file either (there are no guarantees about available space on the local file system). The

[2018-03-21 17:01] bshaffer commented on #2013
Ahh, then this is more of an issue for the [setup instructions](https://cloud.google.com/trace/docs/setup/ruby), as there is no mention of `use_trace` on there.

[2018-03-21 17:18] thagomizer commented on #2013
@bshaffer @blowmage I've tried testing locally both with just `bundle exec rails s` and `RAILS_ENV=production bundle exec rails s` and I'm still not seeing traces. And I'm getting an error in the trace background task.

[2018-03-21 17:35] blowmage commented on #1997
Hey @artm, thanks for your comment.

Ruby allows your to step through from error to error using [`Error#cause`](https://ruby-doc.org/core-2.5.0/Exception.html#method-i-cause). Using this you will see that the error is caused by the `google-api-client` gem calling `#size` on the IO object to set an HTTP header for the upload. It also calls `#rewind`, which will raise when called on an IO stream obj

[2018-03-21 17:37] blowmage commented on #2013
I haven't worked on any of the Stackdriver gems except for Logging. @dazuma, what can you tell us about this?

[2018-03-21 21:13] artm commented on #1997
Thanks for the gem link, now I can investigate further.

There must be a way to avoid calling `#size` and `#rewind` becase [some tools support streaming into storage](https://cloud.google.com/storage/docs/streaming).

But [apparently not in ruby](https://github.com/google/google-api-ruby-client/issues/413) as of 2 years ago.

[2018-03-22 22:24] thagomizer commented on #2013
Error:

Google::Cloud::PermissionDeniedError: 7:The caller does not have permission
	/Users/ajahammerly/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/google-cloud-trace-0.27.2/lib/google/cloud/trace/service.rb:161:in `rescue in execute'
	/Users/ajahammerly/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/google-cloud-trace-0.27.2/lib/google/cloud/trace/service.rb:158:in `execute'
	/Users/ajahammerl

[2018-03-22 23:03] blowmage commented on #2013
@thagomizer Can you verify the Trace service has been enabled on your account?

[2018-03-22 23:31] blowmage opened #2017 "Support BigQuery Job Regionalization"
We need to support BigQuery Regionalization by adding `location` to various Job-related methods and API calls:

* `jobs.get`
  * - [ ] Add `location` optional argument to `Project#job`
* `jobs.cancel`
  * - [ ] Send `location` value to API call made in `Job#cancel`
* `jobs.getQueryResults `
  * - [ ] Send `location` value to API call made by `Job#data`
  * - [ ] Send `location` value to API call m

[2018-03-22 23:40] tswast commented on #2017
It might be helpful to reference the Python changes at https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5071. The system test was especially useful in finding gaps in the implementation.

[2018-03-23 11:07] andresbravog opened #2018 "Support service account creds in VideoIntelligenceApi"
# What

The Authentication Docs stand that we can use `GOOGLE_CLOUD_PROJECT`  and `GOOGLE_CLOUD_KEYFILE_JSON` pair for credentials but `VideoIntelligenceApi` uses https://github.com/google/google-auth-library-ruby/blob/v0.6.0/lib/googleauth/credentials_loader.rb#L74 that only looks at `GOOGLE_APPLICATION_CREDENTIALS` being impossible to set up without a json cred file.

[2018-03-23 14:11] sduskis commented on #1118
We're still working on this.  We have plenty of code written, and we have some PRs (#1990 for an improved admin and #2001 for the data API).  We need to get them reviewed.  We'll still have a bit of engineer work for a fully reliable production grade client.  We'll do what we can to move that forward in Q2.

[2018-03-23 15:12] blowmage commented on #2018
@andresbravog The [Credentials configuration](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-video_intelligence/lib/google/cloud/video_intelligence/credentials.rb#L24-L25) lists `GOOGLE_CLOUD_KEYFILE_JSON`, so this should be supported. Can you post an example of the code you are using that is not using this? Are you calling `Google::Cloud::VideoIntelligence.new`

[2018-03-23 16:50] andresbravog commented on #2018
Thanks @blowmage, that's the expected behavior, to have the `Google::Cloud::VideoIntelligence` using `GOOGLE_CLOUD_KEYFILE_JSON`, but is not, you get a failure unless you set `GOOGLE_APPLICATION_CREDENTIALS`.

In this example you can see how you can easily replicate this issue having `GOOGLE_CLOUD` env vars set and `VideoIntelligence` will fail while `Vision` will work nicely:

[code]

This is bec

[2018-03-23 16:56] andresbravog commented on #2018
@blowmage, actually, I saw the issue, check trailing commas here

[code]

[2018-03-23 16:58] andresbravog commented on #2018
fixed on https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/b1802995b869aa518bd4ee7c27fd230e3909657d#diff-3c8bc4993d803145ca54225578109f7c

[2018-03-23 17:04] andresbravog commented on #2018
I just need to bump the gem version. We can close this, sorry for the inconvenience.

[2018-03-23 17:04] #2018 closed

[2018-03-23 17:47] blowmage commented on #2018
Glad you got it figured out! Thanks for opening the issue. Hopefully it will be found by others who run into this.

[2018-03-23 19:00] pchaganti opened #2021 "Installing on Ruby 2.5.0 (OSX) - error with protobuf"
[code]

[2018-03-23 19:01] pchaganti commented on #2021
Also opened an issue in the protobuf repo - https://github.com/google/protobuf/issues/4410

[2018-03-23 19:15] blowmage commented on #2021
This is because the gem is an older release and the pre-compiled gem is compiled only for the Ruby versions that existed when the gem was released.

[code]

Notice that the gem that was fetched is `google-protobuf-3.2.0.2-universal-darwin.gem`, the OS X specific version. However, you can tell your system to not install the pre-compiled version and instead install the ruby version that will compile

[2018-03-23 19:29] pchaganti commented on #2021
Confirming that this worked for me to install the gem separately.

thanks!

[2018-03-26 16:28] #2021 closed

[2018-03-27 00:04] krogebry opened #2023 "Updated monitoring functionality"
Monitoring service recently started supporting policy things.  Can we please have an update which would include functionality for these shiny new bits?

My use case for this is to be able to create lots of awesome policies so we can move away from the old, crufty thing we're using in AWS::CloudWatch.

I was thinking about trying to crank out the work myself, but it almost seems like you have a way

[2018-03-27 09:06] pugsiman opened #2024 "Bucket#signed_url for resumable uploads"
Hey, I've been reading a lot lately about how to initiate resumable uploads for my bucket.
I'm trying to implement a feature where I directly upload a file to a bucket from the UI in a resumable fashion. I thought a good way to implement that would be to get a signed url back from my back-end and PUT directly to it. I had great success with the normal method of uploading this way, but sadly it doe

[2018-03-27 11:15] chrisface opened #2025 "Logs within Kubernetes Namespace appear in wrong namespace"
We've been using `google-cloud-logging` for an application that is running on Kubernetes in GKE.

After applying namespaces to our applications in K8s we saw that could filter the logs by the GKE namespace. The namespaced logs however only included logs from STDOUT and STERR, those coming directly from the running containers.

Application logs that were being reported via `google-cloud-logging` we

[2018-03-27 13:24] premist commented on #2013
@thagomizer

You will need to enable Cloud Trace Agent (roles/cloudtrace.agent) IAM role as described in [this document](https://cloud.google.com/trace/docs/iam#roles).

Also, when you're running code on non-GCP environment (such as your local laptop), you need to be subscribed to [Stackdriver Premium Tier](https://cloud.google.com/stackdriver/pricing#service_tiers) to get Trace working. I was scr

[2018-03-29 00:36] quartzmo opened #2027 "QueryJob::Updater incorrectly configures DatasetReference"
When PR #2003 moved [`Service#dataset_ref_from`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/google-cloud-bigquery/v1.1.0/google-cloud-bigquery/lib/google/cloud/bigquery/service.rb#L370-L383) to [`QueryJob::Updater#dataset_ref_from`](https://github.com/tswast/google-cloud-ruby/blob/57309528c475abd94af9cc0ec97e14e000106472/google-cloud-bigquery/lib/google/cloud/bigquery/query_job.

[2018-03-29 00:37] tswast commented on #2027
Thanks for catching.

[2018-03-29 00:39] quartzmo commented on #2027
@tswast Sure thing, not a problem.

[2018-03-29 12:49] larribas opened #2029 "Schema::Field#string? , boolean? and the likes relying on mode instead of type"
Correct me if I'm wrong, but shouldn't these methods compare the type instead of the mode?

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/schema/field.rb#L198

[2018-03-29 15:45] blowmage commented on #2023
@dazuma Can you take this issue?

[2018-03-29 16:03] blowmage commented on #2025
@dazuma What can you tell us about this? Is this a value that can be retrieved from the instance metadata?

[2018-03-29 16:06] blowmage commented on #2013
@bshaffer Has your question been answered satisfactorily? Can this issue be closed?

[2018-03-29 17:49] krogebry commented on #2023
If possible, I'd love to know how you ended up doing this.  Was it just a matter of writing the code, or do you have fancy scripts to make this easier?  I'm happy to throw down on this if someone could maybe throw me a checklist of things that would need to be done.

[2018-03-29 23:45] quartzmo commented on #1991
Status update: I have switched to working on a new feature for BigQuery, but I still hope to find time to finish this work before the next release of google-cloud-bigquery. Thanks for your patience.

[2018-03-30 15:57] quartzmo commented on #2017
@tswast Any idea what is causing this error?

[code]

[code]

I'm using project `helical-zone-771`, which is supposed to be whitelisted. Is it something to do with the public dataset?

[2018-03-30 15:58] quartzmo commented on #2017
Line 157 of the test is: `rows = job.data`

[2018-03-30 16:14] tswast commented on #2017
@quartzmo Public datasets live in the `US` location. Unfortunately, that means they cannot be queried from the `EU`.

[2018-03-30 16:17] tswast commented on #2017
In the Python system tests, I loaded a teeny table to query in a non-US region. https://github.com/GoogleCloudPlatform/google-cloud-python/blob/d44dc25bb05f94c71dba0beef32c5303eaa38641/bigquery/tests/system.py#L610-L706

[2018-03-30 16:30] quartzmo commented on #2017
@tswast Great, thank you! I'll do the same.

[2018-03-30 18:33] #2029 closed

[2018-04-02 16:30] quartzmo commented on #2024
@pugsiman Thanks for opening this issue, and sorry for the delay in responding. We'll look into this today for you.

[2018-04-02 16:48] blowmage commented on #2011
@jadekler We have released google-cloud-pubsub 0.30.2, which works around an [GRPC client issue](grpc/grpc#14853) as well as adds some performance tweaks. I've been able to process 10 million records in ~30 minutes on a 1vCPU GCE compute instance. Can you please update to the latest release and try your perf test again?

[2018-04-02 16:57] blowmage commented on #2011
/cc @jonparrott

[2018-04-02 18:55] jadekler commented on #2011
@blowmage Prelim results look good! I'll leave it running for ~3 days

![screen shot 2018-04-02 at 11 55 10 am](https://user-images.githubusercontent.com/3584893/38210594-b777c7b8-366c-11e8-9c27-db30d5d19624.png)

[2018-04-02 21:50] jadekler opened #2037 "pubsub: consumer receives many grpc errors"
![screen shot 2018-04-02 at 2 48 57 pm](https://user-images.githubusercontent.com/3584893/38217987-2cafd8c8-3685-11e8-943a-efa68a26b8ba.png)

No special config / setup. Unbounded queue.

[2018-04-02 21:54] blowmage commented on #2037
@jadekler I believe this is the same issue covered in grpc/grpc#14853. We can work around the unhandled errors raised by GRPC, but we cannot prevent them.

/cc @apolcyn @jonparrott

[2018-04-02 21:58] jadekler commented on #2037
Ah! Super, you're already on it. I'll close out this issue in that case.

[2018-04-02 21:58] #2037 closed

[2018-04-04 20:29] quartzmo commented on #1960
Thanks. Do you want us to take care of it?

[2018-04-04 20:32] tswast commented on #1960
Yeah, when you get a chance. No rush.

[2018-04-04 20:42] jadekler commented on #2011
Looks great! Chugged through 50m messages with no problems 👍

[2018-04-04 20:42] #2011 closed

[2018-04-04 21:25] quartzmo commented on #1960
@tswast OK, will do.

[2018-04-04 21:45] #1991 closed

[2018-04-05 14:45] #1960 closed

[2018-04-05 22:42] quartzmo commented on #2024
Sorry for the delay. I found some additional background info:

* [Using signed URLs with resumable uploads](https://cloud.google.com/storage/docs/access-control/signed-urls#signing-resumable)
* [JSON API - Performing a Resumable Upload](https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload)
* [`createResumableUpload` in google-cloud-node/storage](https://cloud.google.com/nodej

[2018-04-06 15:36] quartzmo commented on #2024
@stephenplusplus I'm wondering if you might be able to take a quick look at what we have now, and perhaps comment on what we might consider adding? We have [`Bucket#signed_url`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/bucket.rb#L850-L956) (which delegates to [`File::Signer#signed_url`](https://github.com/GoogleCloudPlatform

[2018-04-06 15:46] stephenplusplus commented on #2024
This sounds like something we recently implemented in Node.js, and were caught off guard by that it even existed (as such, advanced apologies that I'm not as good of a resource as @frankyn might be).

Here's the issue we got: [whole thing](https://github.com/googleapis/nodejs-storage/issues/20) or [just the important part](https://github.com/googleapis/nodejs-storage/issues/20#issuecomment-3312935

[2018-04-06 16:03] quartzmo commented on #1997
@artm Have you discovered anything that will allow us to resolve this issue? We are not able to address it directly in this library as far as I know.

[2018-04-06 16:03] quartzmo commented on #1919
@jeremywadsack Any update on this one?

[2018-04-06 16:05] quartzmo commented on #2024
@stephenplusplus Thank you!

@frankyn Do you have any suggestions regarding this request?

[2018-04-06 16:53] jeremywadsack commented on #1919
I've got a start on it with working code for loading and an acceptance test. I need to figure out how to write a doctest and then add unit tests. Then write the `dump` code and class methods and test those.

I noticed there aren't any unit tests for the `Schema` class. Are you ok if I add one? I think it's more "unit" and also makes it easier to write a test rather than having to put tests into `t

[2018-04-06 18:44] quartzmo commented on #1919
@jeremywadsack Sounds good!

The unit tests for the `Schema` class are in [schema_test.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/test/google/cloud/bigquery/schema_test.rb). If all the logic is in `Schema`, then personally I think it's ok to just add tests there. The tests at the level of `table`, `table_reference`, `dataset`, and `dataset_refere

[2018-04-06 18:45] quartzmo commented on #1919
If you have any trouble with doctest, please ping me here.

[2018-04-06 18:49] jeremywadsack commented on #1919
Ah, I see that Mike added those schema unit tests last week, which is why I didn't see it. :) Great. I'll rebase and add to that. All the logic is in `Schema`.

[2018-04-06 22:36] frankyn commented on #2024
Hi all,
Clarifying, `storage.googleapis.com` is the XML API endpoints for GCS. I'd recommend following documentation [here](https://cloud.google.com/storage/docs/xml-api/resumable-upload). Signed URLs only work for the XML API.

IIUC @pugsiman you want to generate a signedURL with `POST` method.  Then forward that to the UI then use a Javascript AJAX request to perform the `PUT`.

Unless I have mi

[2018-04-08 05:51] frankyn commented on #2024
Full example with **no error recovery**. Example reads from STDIN and can be ran by using:
[code]

### stream_upload.rb
[code]

[2018-04-08 21:36] jeremywadsack commented on #1919
@blowmage I just noticed, in the new `test/google/cloud/bigquery/schema_test.rb` you used  `Google::Apis::BigqueryV2::TableSchema.from_json`. I didn't know about that call.

I had written up something like you suggested (and similar to what we're using) to iterate through the fields and add them ([diff here](https://github.com/GoogleCloudPlatform/google-cloud-ruby/compare/master...keylimetoolbox:1

[2018-04-09 13:26] blowmage commented on #1919
We should use th same format as the [CLI JSON File](https://cloud.google.com/bigquery/docs/schemas#using_a_json_schema_file).

[2018-04-09 15:57] quartzmo commented on #2024
@frankyn Thank you for these solutions, and perhaps most critically, for identifying [Resumable Uploads with the XML API](https://cloud.google.com/storage/docs/xml-api/resumable-upload) as the best instructions for resumable uploads with Google Cloud Storage. (@frankyn noted also that: "Signed URLs only work for the XML API.") I will update my earlier comment on background info.

[2018-04-09 16:02] quartzmo commented on #2024
@pugsiman Can you try @frankyn's [solution](https://gist.github.com/frankyn/9a5344d1b19ed50ebbf9f15f0ff92032) and let us know if it works for you?

[2018-04-09 17:15] jeremywadsack commented on #1919
Oh, right. You said that before. :) And I did.

Can you think of any reason why I shouldn't use `Google::Apis::BigqueryV2::TableSchema.from_json` in place of more parsing code in this gem? (I can modify the JSON to match the expected format for that call.)

[2018-04-09 17:28] blowmage commented on #1919
As long as the API is correct and the tests pass it doesn’t matter to me (much) how it is implemented. Using the private `.from_json` is fine for the implementation.

[2018-04-10 08:03] artm commented on #1997
I agree that the solution is outside the scope of your library. `google-api-ruby-client` itself [uses a third party library][1] to implement a HTTP functionality ([httpclient][2]) and limited by their choice in what they can provide.

I would just clarify in the documentation where it suggests that the upload API accepts an `IO` instance, that it only can handle `IO` objects that implement `.size`

[2018-04-11 13:58] pugsiman commented on #2024
@quartzmo @frankyn @stephenplusplus Thank you everyone for helping! I was sick in the last week so I didn't get a chance to try frankyn's solution, I'll update here my results as soon as I have the chance.

[2018-04-13 22:27] #1997 closed

[2018-04-15 00:32] frankyn commented on #2024
Thanks for getting back to us!

Are you using the script or did you try implementing your own? Could you
share what you have?

If you are using the script it may be a mismatch between headers and query
parameters with the signed url. The request needs to match the signed url
form.

On Sat, Apr 14, 2018, 4:23 PM Aviv Levinsky <notifications@github.com>
wrote:

[2018-04-15 02:45] bchurchill opened #2047 "Bigtable: Broken link "Client Library Documentation" in README"
There are two links in the Bigtable README (https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/google-cloud-bigtable) to "Client Library Documentation" but they are both broken.  The link is to here:

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigtable/latest/google/bigtable/v2

but it redirects to:

https://googlecloudplatform.github.io/google-cl

[2018-04-15 02:48] blowmage commented on #2047
The Bigtable is still under active development and not yet released. When it is released this links will start working.

[2018-04-15 03:02] bchurchill commented on #2047
I see, thanks for the quick reply.  I'm looking for a fast key-value store that I can access with a ruby client.   Availability, durability, and scale aren't important in my case, nor do I need any kind of transactions/atomicity.  But latency for both reads and writes is important.  Of the released clients, what would you recommend?  Cloud Firestore?  Cloud Datastore?

[2018-04-15 15:42] blowmage commented on #2047
You might consider Datastore. Firestore is newer and built on Spanner, and both are still considered Beta. But we would love to get any feedback on the relative performance of the clients.

[2018-04-17 04:37] ryanmats opened #2050 "Firestore Nested Field Paths"
Hi!
I am trying to update a nested field in Firestore like in the API reference (http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.52.0/google/cloud/firestore/documentreference?method=update-instance) but am not getting the right result.

Here is [the code I'm running](https://gist.github.com/ryanmats/3f3bb5b3672126871ca5c3f59650135e).

When I look in the Firebase conso

[2018-04-17 06:23] ryanmats opened #2051 "Firestore Delete Collection Error"
Hi! I'm trying to run a piece of code to delete all documents in a Firestore collection. Here is [the code I'm using](https://gist.github.com/ryanmats/6c587c4feec696e19b6cd99cfa2c1422).

However, when I run this, I get [this error message](https://gist.github.com/ryanmats/c2084909aca7bc0a84119438de18a438). (Note that line 70 in the error message corresponds to line 10 in the gist).

I have been ab

[2018-04-17 06:43] shenbakeshkishore commented on #305
Hi,

Is it possible to upload StringIO or BytesIO file in google-cloud-storage now?
If yes, please share the guideline to be followed for python...

[2018-04-17 14:49] blowmage commented on #2050
I think this is a problem with the code example in the documentation.

This code:

[code]

Is the same as this:

[code]

But you don't want to use the `:nested_field_path` _symbol_, you want to use the `nested_field_path` _object_ you created the line previous. So the correct code should be:

[code]

I'll fix all the code examples to demonstrate using the object instead of creating a new symbol.

[2018-04-17 14:51] blowmage commented on #2050
Optionally, you can pass in a dotted field path instead of creating/using a FieldPath object:

[code]

[2018-04-17 15:25] quartzmo commented on #305
@shenbakeshkishore I'm sorry, I don't understand. Is this request for [google-cloud-python](https://github.com/GoogleCloudPlatform/google-cloud-python/issues)?

[2018-04-17 16:17] quartzmo opened #2052 "Broken links in Dialogflow docs"
While releasing Dialogflow I discovered that the URL used for the product (https://cloud.google.com/dialogflow) appears to be incorrect or outdated. The current URL is https://cloud.google.com/dialogflow-enterprise.

While https://cloud.google.com/dialogflow forwards to https://cloud.google.com/dialogflow-enterprise, https://cloud.google.com/dialogflow/docs does not forward to https://cloud.google

[2018-04-18 01:49] jbolinger commented on #2052
Addressed in #2055

[2018-04-18 01:49] #2052 closed

[2018-04-18 16:04] quartzmo commented on #2024
@pugsiman Please let us know what we still need to do to close this issue, thanks!

[2018-04-18 22:00] quartzmo opened #2057 "Support Cloud KMS keys / Customer-managed encryption keys (CMEK) in Storage"
Support [Cloud KMS keys](https://cloud.google.com/kms/docs/) to provide customer-managed encryption keys (CMEK) for Storage files:

- [x] Add `kms_key_name` option to `Bucket#create_file`.
- [x] Add property of type `Encryption` to `Bucket`.
- [x] Add `default_kms_key_name` property to `Bucket.encryption`.
  - [x] Ensure that `default_kms_key_name` can be cleared as well as set.
- [x] Add `kms_key

[2018-04-19 06:51] #2051 closed

[2018-04-19 19:42] pugsiman commented on #2024
Well I ran it again and it worked, I have no idea what was changed so forgive me. My JS code looks something like this:
[code]

[2018-04-19 20:15] #2024 closed

[2018-04-22 11:14] mariokam opened #2062 "Wrong score from Natural Language Sentiment analysis"
I am getting very strange error from the ruby client API. This is my code:

[code]

and when I want to analyze the sentence:
`@sentiment = GoogleLanguageService.new({ text: "good luck on monday" }).analyze_sentiment`

`good luck on monday` it returns `score: -0.10000000149011612`

`Good luck on Monday!` returns `score: 0.0`

while on the [google demo](https://cloud.google.com/natural-language/) pa

[2018-04-23 15:58] quartzmo commented on #2062
Hi @mariokam, thanks for opening this issue! I suspect this behavior is determined by the service and is simply pass-through for this library, but I'll take a look at it today.

[2018-04-23 16:28] #2050 closed

[2018-04-23 16:55] blowmage commented on #2062
What error are you getting?

Also, what gem version are you using?

[2018-04-23 17:08] blowmage commented on #2062
FWIW, I saw the same results using the [Try the API](https://cloud.google.com/natural-language/) feature on the Natural Language page as I did using the Ruby client.

## Good luck on Monday!

<img width="743" alt="language-01" src="https://user-images.githubusercontent.com/730/39141883-4084c90a-46e6-11e8-81b1-afde01546420.png">

[code]

## good luck on monday

<img width="743" alt="language-02" sr

[2018-04-23 18:44] mariokam commented on #2062
Dear gents,

as I am saying again, the problem is in the ruby wrapper, and yes I am using probably older version of it, but it cannot be a reason to not work properly. Sending you some logs of my results using this version 0.25 of the wrapper.

/Users/mario/.rvm/rubies/ruby-2.3.0/bin/ruby -e at_exit{sleep(1)};$stdout.sync=true;$stderr.sync=true;load($0=ARGV.shift) /Users/mario/.rvm/gems/ruby-2.3.0

[2018-04-23 21:14] quartzmo commented on #2062
@mariokam Is it possible for you to update to the current version?

[2018-04-23 21:24] mariokam commented on #2062
ok, thank you guys!

good to know that :-) Maybe could be included in the documentation

[2018-04-23 22:33] 9mm opened #2063 "Batch request for Vision API "web"?"
Hey, is there a way to send batch requests when using the Vision API (`.image` and `.web` methods specifically)

[2018-04-24 00:00] blowmage commented on #2063
There is a way to submit a single API request for multiple images. You can do this using the [`Project#annotate`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.28.0/google/cloud/vision/project?method=annotate-instance) method:

[code]

`Image#web` will only annotate the single image. To process multiple images you must use `Project#annotate`.

[2018-04-24 07:12] mariokam commented on #2062
Guys, how is this possible??
thanks

[2018-04-24 14:02] quartzmo commented on #2062
I'm sorry, I was mistaken in closing this issue.

Can you please provide more detail for this question?

[2018-04-27 20:56] tareksamni commented on #739
@blowmage I'd like to work on this one .. did any pick it or should I?

[2018-04-27 21:14] quartzmo commented on #739
@jbolinger What do you think about adding this?

[2018-05-01 05:47] jbolinger commented on #739
Sounds perfectly reasonable to me @quartzmo, but I actually don't have much visibility or control of the backlog for things like this.

If you and @blowmage aren't sure how you'd like to handle it I know who we can ping for some additional advice, but otherwise I'll just defer back to you.

[2018-05-01 08:33] tareksamni commented on #739
@jbolinger @quartzmo @blowmage Apparently, GCP does not have an API for this but there is docker registry API that we can use to achieve the same results.

What would you like to do here? to implement and integrate with docker registry? or to wait for APIs from GCP?

[2018-05-01 11:48] henrahmagix commented on #1832
May we please have an update on expected delivery date for this?

I ask because I need to access the CloudKMS API, and at the moment the only gem I can use is [google-api-ruby-client](https://github.com/google/google-api-ruby-client) [0.10.3](https://github.com/google/google-api-ruby-client/releases/tag/0.10.3), which was released over a year ago (see reason below). My worry is that a 13-month old

[2018-05-01 14:49] quartzmo commented on #739
@jbolinger I think we will always need your guidance on adding APIs. We wouldn't want to duplicate work with generated support.

[2018-05-01 18:35] jbolinger commented on #739
@quartzmo totally understand, and I wish I had guidance to give 😄. Let's have @jonparrott take a look at this one so we're aligned with any potential changes on the GCP side that I wouldn't be aware of.

[2018-05-01 19:05] jbolinger commented on #1832
@jonparrott do you know what's planned for Cloud KMS?

[2018-05-01 19:11] jonparrott commented on #1832
Cloud KMS is on the roadmap, however, we do not generally discuss timelines. Once their API is live we can generate a client library relatively quickly, but that is the blocker.

In the meantime, you can continue to use the google-api-ruby-client. It is in maintenance mode and should not experience any significant changes at this point.

[2018-05-01 19:13] jonparrott commented on #739
gcr.io does not have a separate API beyond the normal Docker registry API. I would suggest using standard docker client libraries for this purpose.

[2018-05-02 19:52] dazuma commented on #2025
Sorry for the delay. I'm getting caught up on issues now.

It indeed looks like the environment variable in question is no longer being set in recent versions of kubernetes engine. I'll review the settings here and try to find alternative sources.

[2018-05-02 22:05] dazuma commented on #2023
[google-cloud-monitoring](https://rubygems.org/gems/google-cloud-monitoring) 0.28 was released a couple weeks ago, covering the v3 API. Closing.

[2018-05-02 22:05] #2023 closed

[2018-05-02 22:21] coryan opened #2070 "List links to other language doc pages in alphabetical order (and add link to C++)"
Please update drop down menu of [Ruby docs page(s)](https://googlecloudplatform.github.io/google-cloud-ruby/#/)

### Expected Behavior

.NET, C++, Go, Java, Node.js , PHP, Python, Ruby

### Actual Behavior

.NET, Go, Java, Node.js, PHP, Python, Ruby

![image](https://user-images.githubusercontent.com/6241635/39552042-892ddc90-4e35-11e8-9210-3f8153b44322.png)

[2018-05-03 17:10] blowmage commented on #2070
Manually updated the docs site with the new Angular code.

[2018-05-03 17:10] #2070 closed

[2018-05-03 22:12] quartzmo commented on #2063
@9mm Does this work for you? If so, can you close the issue? Thanks!

[2018-05-03 23:32] quartzmo opened #2072 "Blank docs pages for lower-level API links"
Blank pages:

- [ ] [Google::Cloud::Datastore::V1](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.52.0/google/cloud/datastore/v1)
- [ ] [Google::Cloud::ErrorReporting::V1beta1](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.52.0/google/cloud/errorreporting/v1beta1)
- [ ] [Google::Cloud::Logging::V2](https://googlecloudplatform.github.

[2018-05-03 23:33] #2062 closed

[2018-05-03 23:48] 9mm commented on #2063
Thanks! I'll give it a shot, I didn't get a chance yet.

[2018-05-03 23:48] #2063 closed

[2018-05-04 16:17] murjax opened #2073 "Google::Cloud::InvalidArgumentError: Bad image data."
I'm using `Google::Cloud::Vision` to perform a safe search operation on an image with an external url. I followed the docs for setup:
[code]

When I call `image.safe_search`, it throws `Google::Cloud::InvalidArgumentError: Bad image data.`. This is intermittent on some images I give it. [This is the one of the problem urls](https://s3.amazonaws.com/abnlive/photos/original/ea9bdc5fb0993016cc4402219

[2018-05-04 16:36] blowmage commented on #2073
Hi @murjax, thanks for the issue. It looks to me like you have a corrupted image file. When I view the image I see a large gray section at the bottom of the image. My assumption here is that that you are getting an invalid argument error because the image data is bad.

![bad-image](https://user-images.githubusercontent.com/730/39639938-c6e0d9c8-4f86-11e8-8e6b-d0237bb41bf7.png)

I have been able to

[2018-05-04 18:14] #2025 closed

[2018-05-04 20:38] quartzmo opened #2075 "Spanner Guide page shows V1 docs, while V1 page is blank"
The [Spanner docs landing page](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-spanner/v1.4.0/google/cloud/spanner) shows the content from [google/cloud/spanner/v1/doc/overview.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-spanner/lib/google/cloud/spanner/v1/doc/overview.rb#L17-L49) rather than the desired "guide" content from [g

[2018-05-04 21:08] jbolinger commented on #2075
@quartzmo yes, that's a perfectly fine workaround.

If doing the same move for monitoring will also give us a quick fix to #2072 let's just do them both manually I'll open a new issue for fixing the underlying bug in the generator and link it here.

[2018-05-04 22:20] jabubake opened #2076 "Update versioning in README.md"
States "It is currently in major version zero (0.y.z), which means that anything may change at any time and the public API should not be considered stable."

Although the changelog shows it being in GA

@jsimonweb FYI

[2018-05-04 22:32] #2076 closed

[2018-05-05 13:05] Bellman281 commented on #1414
Sir I still get the same error (using R functions to connect to the API) : (my file is 6.68 MB and 8 min length)
async <- gl_speech(audio, asynch = TRUE)
Request failed [400]. Retrying in 1.6 seconds...
Request failed [400]. Retrying in 1 seconds...
2018-05-05 16:02:10> Request Status Code: 400
Scopes: https://www.googleapis.com/auth/cloud-platform
Method: service_json
Error: API returned: Inline

[2018-05-05 16:45] blowmage commented on #1414
@Bellman281 The error you describe is different than the one discussed on this issue. Your error is because the audio (8 minutes) is too long for being inline. See [audio limits](https://cloud.google.com/speech-to-text/quotas).

[2018-05-07 16:25] quartzmo commented on #2073
@murjax Does this also seem to you like a problem isolated to this single image? If so, can you close this issue?

[2018-05-07 16:26] quartzmo commented on #2073
Sorry, I meant: isolated to images with bad data.

[2018-05-07 16:38] murjax commented on #2073
Yes, this was the issue. Thanks!

[2018-05-07 16:38] #2073 closed

[2018-05-08 08:21] karan101292 opened #2079 "Punctuation mark in transcript"
Hi, I was wondering if it is possible to get transcript with punctuation mark, as per their documentation it is possible and is still in beta phase (https://cloud.google.com/speech-to-text/docs/automatic-punctuation).

They have provided sample code for python but not for ruby. Is there any way we can try this in ruby?

I tried some syntax from python code reference but did not work.

[2018-05-08 22:03] dazuma commented on #2013
I confirmed with a new project that the `use_trace` setting needs to be covered (good catch @blowmage), but otherwise the steps work as is. I'll close this and open an internal issue to fix the documentation page.

[2018-05-08 22:03] #2013 closed

[2018-05-08 22:20] kryali opened #2080 "better cloud monitoring example (current is wrong for v3)"
The documentation around publishing metrics via ruby is sparse and inaccurate at best. Can we get a refresher here? Something along the lines of publishing a time series via ruby would be very helpful here.

java example is great here: https://cloud.google.com/monitoring/docs/reference/libraries#client-libraries-usage-java

This is the document I'm referring to: https://github.com/GoogleCloudPlatf

[2018-05-09 02:17] kryali commented on #2080
maybe a suggestion

[code]

[2018-05-09 20:10] #2057 closed

[2018-05-09 21:59] dazuma opened #2084 "Consider moving AsyncWriter classes to use concurrent-ruby"
Currently `Google::Cloud::Logging::AsyncWriter`, `Google::Cloud::ErrorReporting::AsyncErrorReporter`, `Google::Cloud::Trace::AsyncReporter`, and `Google::Cloud::Debugger::Agent` are all based on a custom actor-like class `Stackdriver::Core::AsyncActor`. We might consider changing this to use tools in the concurrent-ruby gem. (An example where this has been done is https://github.com/census-ecosyst

[2018-05-10 06:10] karan101292 commented on #2079
Hi @blowmage any idea on when we are planning to enable V1.1Beta1 API ?

[2018-05-10 12:36] blowmage commented on #2079
We have a big change coming to the gem in #1977. Those changes will have to be released before we can add V1.1beta1.

[2018-05-10 12:56] msdundar opened #2085 "Can not return more than 50 datasets"
[code]

I need to return all my datasets (380 datasets actually), however I can only return 50 datasets with this code, and couldn't find any documentation about raising this limit.

[2018-05-10 13:08] blowmage commented on #2085
Hi @msdundar, thanks for the issue. The method you are looking for is [`#all`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v1.4.0/google/cloud/bigquery/dataset/list?method=all-instance):

[code]

[2018-05-10 13:29] msdundar commented on #2085
Oh, thanks a lot. Solved my issue.

[2018-05-10 13:29] #2085 closed

[2018-05-11 16:14] blowmage commented on #2080
@jbolinger These code examples all come from the generated files. What is the process for updating the code examples on these files?

/cc @frankyn

[2018-05-11 19:09] jbolinger commented on #2080
@blowmage I think it's fine to override the generated example with a better example provided that it's reasonably short and standalone (i.e. no Rails references, etc.). Complex examples probably shouldn't live in the `README` since we have other places to put them.

Process wise, we should just have someone like @frankyn or a member of his team review any samples and decide where to put them befor

[2018-05-11 21:46] frankyn commented on #2080
@jbolinger I was under the impression that during a client library generation samples were also generated in the client library documentation. Is that no longer the case?

[2018-05-11 22:02] frankyn commented on #2080
A sample for monitoring/docs/reference/libraries: I can help write a quickstart sample for that page specifically during Q3. I'm out of bandwidth this quarter.

[2018-05-14 17:36] blowmage opened #2087 "Speech acceptance test failures"
We are seeing the Speech [acceptance tests fail](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/3759), where they were passing previously. The failure also prints the following warning:

[code]

[2018-05-14 17:39] blowmage commented on #2087
I've discovered the reason for the warning and failure. We stream the sound file contents, and then we pad the stream with 5 seconds of silence, to ensure the callbacks have time to be called. The problem is that we are [calculating the silent second wrong](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/8e27d6ddbe28aaffdbddf2c70c380fdec37cbfbd/google-cloud-speech/acceptance/speech/s

[2018-05-14 17:44] #2087 closed

[2018-05-14 18:25] blowmage opened #2088 "GCS Rate Limited on acceptance tests"
Over the past several weeks it has become very common for acceptance tests to fail with the following error:

[code]

Find a way to protect against this error in the acceptance tests that create/delete GCS buckets.

[2018-05-15 21:21] blowmage opened #2091 "Apply duplication guard on Policy"
Apply the same guard against duplicate role members on all the gems that have a IAM Policy class. See #2083.

- [x] Storage
- [ ] Pub/Sub
- [ ] Spanner
- [x] Resource Manager

[2018-05-16 21:29] dazuma commented on #1860
@jopotts Thanks for the tip about disabling the debugger. I spent some time investigating the debugger's behavior in the presence of preforking, and indeed it's opening a grpc connection too early, before the workers are forked, which appears to be wreaking all sorts of havoc with the grpc connection.

So yes, turning off the debugger should be an effective workaround for now. And this is *probabl

[2018-05-16 21:43] dazuma commented on #1772
Update: This could be the same issue as https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1860 — I'm sporadically seeing this error when reproducing that issue, which happens when the Stackdriver Debugger is enabled and you are running on a forking server (e.g. Puma in clustered mode, or some configurations of Passenger). The workaround is to disable the debugger, with a configuratio

[2018-05-18 09:59] tareksamni opened #2095 "Working on GCP Composer"
Hi,

I'll be working on [Cloud Composer](https://cloud.google.com/composer/) client. I'll follow the same design patterns and structure used in this project. I expect to finish it by next week.

Do you recommend that I open a WIP PR? to follow the progress or to just go and create the PR when I'm done?

Thanks

[2018-05-18 19:15] blowmage commented on #2095
Hi @tareksamni, thanks for opening the issue. I think either would work. If you want input during development then a PR would be a good vehicle for that. If not, then its up to you.

/cc @jbolinger

[2018-05-18 19:59] dazuma opened #2096 "Errors during trace reporting are not reported well."
If a call to the stackdriver trace API from the trace instrumentation middleware fails, the failure is difficult to find. It doesn't get reported or logged in the normal way because it originates from the async thread. Instead a warning is dumped into stderr and typically lost from there. Furthermore, the code in middleware.rb tries to rescue and report such exceptions, which may be leading users

[2018-05-18 20:45] quartzmo commented on #2091
Confirming that this was needed for Storage:

[code]

[2018-05-18 21:11] quartzmo commented on #2091
I could not reproduce the error for Pub/Sub. In Pub/Sub, which uses gRPC, the duplicate was ignored and not added without error.

[2018-05-18 23:07] tareksamni commented on #2095
Yes, I think I would need input (my first big contribution to this project). and with the fact that there is no slack for this project or any other way of communication I'd love to have a WIP PR.

Thanks

[2018-05-19 17:31] blowmage commented on #2095
There is a Slack for GCP. You can [sign up here](https://gcp-slack.appspot.com/), and find us in the the general `#ruby` channel or the project specific `#google-cloud-ruby` channel. We aren't heavy users of these slack channels, but we do maintain a presence there to discuss these gems with the community.

Our intention is to use GitHub issues and pull requests for as much of our communication as

[2018-05-20 22:00] danicuki opened #2098 "undefined method `new' for Google::Cloud::Vision:Module"
Qhen I try to run the first example, I get this error:

[code]

Why is this happening?
I am running ruby 2.3.4

[2018-05-20 22:28] blowmage commented on #2098
What file are you requiring?

[2018-05-21 14:16] danicuki commented on #2098
I am following the [examples here](https://cloud.google.com/vision/docs/detecting-properties#vision-image-property-detection-gcs-ruby)

[code]

[2018-05-21 14:43] blowmage commented on #2098
What version are you using? I am not seeing the behavior you are describing.

[code]

[2018-05-21 14:56] danicuki commented on #2098
[code]

[2018-05-21 15:37] #2091 closed

[2018-05-21 16:15] blowmage commented on #2098
Ah, `Google::Cloud::Vision.new` was added in 0.21.0. The current version is 0.28.0.

[2018-05-21 18:34] #1919 closed

[2018-05-22 14:29] jiren opened #2101 "Bigtable : Protobuf `UpdateAppProfileMetadata` class is missing and Longrunning operation needed Google::Gax::Operation wrapper"
- Protobuf class missing for `UpdateAppProfileMetadata` in [bigtable_instance_admin_pb.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigtable/lib/google/bigtable/admin/v2/bigtable_instance_admin_pb.rb)
Ref: [bigtable_instance_admin.proto](https://github.com/googleapis/googleapis/blob/46890c7e15d18423b26572c0ce90905f5dfefe74/google/bigtable/admin/v2/bigtable_

[2018-05-22 19:36] quartzmo commented on #2098
@danicuki Here is the documentation for [google-cloud-vision/v0.20.2](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.2/google/cloud/vision). The headline example is:

[code]

However, upgrading to the latest version is the best course of action, if you can do it.

Does this resolve your issue? If so, can you close it?

[2018-05-22 20:12] jbolinger commented on #2101
Yes, this is correct. I regenerated locally and it looks like all of those updates were included.

There were also a few other minor changes that it pulled in. I'll follow up with a PR shortly.

[2018-05-22 21:33] danicuki commented on #2098
@blowmage @quartzmo in fact, it was the version. Curiously, when I used only ```google-cloud-vision``` in the ```Gemfile```, it pulled version ```0.20.2```. I had to force the ```0.28.0``` version in the ```Gemfile``` to fix

[2018-05-22 21:35] danicuki commented on #2098
Maybe it would be a good idea to include a place with the gem version used in all documentation pages.

[2018-05-24 00:36] ryanmats opened #2103 "Firestore - Passing Information out of Transaction Functions"
In the [Firestore documentation](https://cloud.google.com/firestore/docs/manage-data/transactions#passing_information_out_of_transactions) we have code samples in the other languages for how to pass information out of Firestore Transactions back to the caller. (I/e a simple true/false boolean for whether population is updated).

Is it possible to do this using the Ruby client? If so, how would thi

[2018-05-24 14:49] blowmage commented on #2103
Hi @ryanmats, thank you for the question and for using the Ruby Firestore client.

It is possible to pass information back from a transaction, but to do this you should create a separate method context to pass values out. The Firestore transaction uses a Ruby closure which shares the [Binding](https://ruby-doc.org/core-2.5.0/Binding.html) that the closure is created in. But the transaction closure

[2018-05-24 14:50] blowmage commented on #2103
@beccca @frankyn Any idea why the Ruby example is not present on this documentation?

[2018-05-24 14:56] blowmage opened #2104 "Firestore: Allow DocumentReference#get to use a Transaction"
The most idiomatic way to retrieve a DocumentSnapshot object from a DocumentReference object is using `DocumentReference#get`. However, if users want to retrieve a DocumentSnapshot using a Transaction they must use `Transaction#get_all` which returns an Enumerator, so the user must choose to only get the first result. It would be nice to allow users to provide a Transaction to `DocumentReference#g

[2018-05-24 16:53] quartzmo commented on #2080
@dazuma I self-assigned this to comply with SLO, but I also labeled it `good first issue`, for Graham or anyone else.

[2018-05-24 17:37] frankyn commented on #2103
Hi @blowmage, by this documentation you mean the [Firestore Transactions documentation](https://cloud.google.com/firestore/docs/manage-data/transactions#passing_information_out_of_transactions). @ryanmats is writing samples for Ruby.

[2018-05-24 17:40] blowmage commented on #2103
Ah, gotcha. I see what's going on now. :)

[2018-05-24 18:33] jbolinger commented on #2101
Fixed by #2102.

[2018-05-24 18:33] #2101 closed

[2018-05-24 21:12] omnisyle commented on #2051
Thank you for the fix, can you do a release for this fix? We're encountering the same bug and specifying github repo with master branch in Gemfile doesn't pull this fix :(

[2018-05-24 22:13] blowmage commented on #2051
Sorry, I didn't realize these changes were still unreleased. This is released in [google-cloud-firestore 0.21.1](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-firestore%2Fv0.21.1).

[2018-05-25 15:52] jtoy commented on #2079
@karan101292 anyway to get the relevant code?

[2018-05-25 17:36] #1907 closed

[2018-05-25 17:54] Raghavan1993 opened #2107 "undefined method `download' for nil:NilClass (NoMethodError)"
Running into this error trying to download a file from GCS:
[code]
following this : https://cloud.google.com/storage/docs/downloading-objects

[2018-05-25 18:19] quartzmo commented on #2107
@Raghavan1993 Hi, thanks for opening this issue. Can you paste in the error backtrace? I don't see it.

[2018-05-25 18:28] blowmage commented on #2107
I think the problem is this line:

[code]

If the file does not exist it will return `nil`. So trying to call `#download` on that `nil` object will raise the error you are reporting. I’d check to make sure you get a File object.

[2018-05-25 18:41] Raghavan1993 commented on #2107
That was it  file naming automation script messed up Thanks !!

[2018-05-25 18:46] #2107 closed

[2018-05-26 00:36] ryanmats commented on #2051
hey @blowmage ! Thanks for updating the library.

One small issue is that I'm getting a warning message when I run my code (although it is working fine). Any idea what this may be?

`Key :firestore already exists. It will be replaced. at /Library/Ruby/Gems/2.3.0/gems/google-cloud-firestore-0.21.1/lib/google-cloud-firestore.rb:111:in `<top (required)>'`

[2018-05-26 02:58] blowmage commented on #2051
Are you doing any custom configuration? If so, you’ll want to require the gem before you perform the configuration

[2018-05-26 11:35] karan101292 commented on #2079
Hi @jtoy
You can refer google speech API documentation for that.
here - https://cloud.google.com/speech-to-text/docs/reference/rest/v1p1beta1/speech/longrunningrecognize

first of all this API need to be authenticated. Only API key wont help you. You need to generate access_code for that using Google OAuth 2.0

I used `googleauth` gem for that (https://github.com/google/google-auth-library-ruby)

[2018-05-29 16:05] quartzmo commented on #2098
@blowmage Any clue about this?

@danicuki We will be making some changes to the documentation, but unfortunately we probably won't be able to offer any additional indicators of the version, apart from the navigation and URL.

[2018-05-30 22:15] dazuma commented on #1860
We released [google-cloud-debugger 0.32.0](https://rubygems.org/gems/google-cloud-debugger/versions/0.32.0) and [stackdriver 0.15.0](https://rubygems.org/gems/stackdriver/versions/0.15.0) with a workaround that delays the debugger startup until after workers are forked. That should mitigate the problem for now. The root cause is https://github.com/grpc/grpc/issues/7951 which is being investigated.

[2018-05-30 22:18] dazuma commented on #1772
We released [google-cloud-debugger 0.32.0](https://rubygems.org/gems/google-cloud-debugger/versions/0.32.0) and [stackdriver 0.15.0](https://rubygems.org/gems/stackdriver/versions/0.15.0) with a fix that delays the debugger startup until after workers are forked. If you have been observing this problem, please check against the new gems and see if it persists.

[2018-05-31 03:00] premist opened #2116 "[Feature request] Support Stackdriver Profiler"
Currently [Stackdriver Profiler](https://cloud.google.com/profiler/docs/) only supports Go, Java, and Node.js, and it'll be nice if Ruby is also supported.

There were many cases where I had to ad-hoc debug OOMs and unintended high CPU usage, and Stackdriver Profiler can greatly increase application performance visibility alongside other Stackdriver tools like Trace. It can make debug much easier

[2018-05-31 16:03] CraigCottingham opened #2117 "Stackdriver logging not... logging"
Ruby 2.3.6, Rails 4.2.6, Stackdriver gem 0.15.0

I've followed the directions at https://cloud.google.com/logging/docs/setup/ruby, adding the gem to Gemfile and enabled it in my environment config file with `config.google_cloud.use_logging = true
`. I've also set `GKE_NAMESPACE_ID` to make sure that the namespace is set correctly.

After deploying the container, I can exec a shell in it, run `bund

[2018-05-31 19:18] timanovsky commented on #1467
I think this also applies to Datastore, when using `find_all` result can be large. Although it is not documented well, what is the server->client maximal packet size, I'd assume it is 10MB similar to client->server messages.

[2018-06-04 16:19] locriani commented on #1860
@dazuma This is still broken with 0.32.0 / 0.15.0 with a passenger setup:

Phusion Passenger 5.3.1
nginx version: nginx/1.14.0

[code]

Disabling forking causes all functionality (logging, tracing, error reporting) to work immediately, enabling forking causes it all to fail immediately.

[2018-06-05 15:18] sduskis commented on #1118
This is almost done.  We should be close to Alpha soon.

[2018-06-06 09:29] meddario opened #2119 "Create an array column in Bigquery table"
Hi,
from the docs i see that Bigquery supports array columns (https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#array-type), is there any way to create a column of this type from the ruby client?

Reading the [source](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/schema.rb) the only explicit types I can f

[2018-06-06 14:37] ianks opened #2120 "Lots of threads used in Pub/Sub, is this expected?"
I created a very simple example illustrating that a single subscriber will grow from 10 to 63 threads allocated after receiving published messages to a topic. In my application, I have many subscribers so this amount of thread usage may cause issues.

Can you clarify if using this number of threads this is the correct behavior? If so, what is the best way to minimize resource usage for many subscr

[2018-06-06 14:49] blowmage commented on #2120
This behavior is correct and intended. Each subscriber has a number of gRPC streams. Each stream has a thread to receive messages off the stream, and two thread pools, one to process callbacks, one to send batched acknowledge and delay messages. You can control the number of streams and the size of the streams' thread pools by passing `streams` and `threads` values to [`Subscription#listen`](https

[2018-06-06 15:01] blowmage commented on #2119
The Ruby BigQuery gem does support creating array columns. The terminology used in the BigQuery API is a "repeated" column. So as you define your columns you specify the column type and indicate that it is repeated (using the [`mode` optional named argument](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v1.5.0/google/cloud/bigquery/schema?method=string-instan

[2018-06-06 15:43] dazuma commented on #2116
Hi. Yes, this is on our radar. Stay tuned.

[2018-06-06 15:53] dazuma commented on #2117
Some things to check:
* Make sure the logging API is enabled (go to https://console.cloud.google.com/apis/dashboard to check). It generally gets enabled automatically when you deploy, but best to make sure and rule this out.
* See if there's an exception being thrown by the background thread:

[code]

[2018-06-06 22:08] blowmage opened #2124 "Migrate to CircleCI 2.0"
We are seeing the following message on the CircleCI builds:

[2018-06-07 14:39] CraigCottingham commented on #2117
[code]

The API is enabled. I have noticed that when I drill down into the Stackdriver Logging API from https://console.cloud.google.com/apis/dashboard it's showing errors on the method `google.logging.v2.LoggingServiceV2.WriteLogEntries`:

* 400: 2 errors
* 403: 8 errors
* 499: 3 errors

I don't see any way to see which one the latest error is. I'm going to try an explicit log again and see which

[2018-06-07 14:56] CraigCottingham commented on #2117
I _think_ the error code corresponding to the explicit log is 499.

[2018-06-07 18:21] blowmage commented on #1944
@quartzmo has taken this and is actively working on it.

[2018-06-07 18:22] blowmage commented on #1956
Ping.

[2018-06-07 18:22] blowmage commented on #1955
I've restarted working on this.

[2018-06-07 18:26] blowmage commented on #2103
BTW, my previous recollection was off. The original trade-off was to allow `Transaction#get` to get either a DocumentSnapshot or fulfill a Query. So instead of stating `snapshot = tx.get_all(city_ref).first` you can just say `snapshot = tx.get city_ref`.

[2018-06-07 18:30] blowmage commented on #2104
As I've looked at this more I've remembered that we choose a different trade-off for this. `Transaction#get` can either get a DocumentSnapshot or fulfill a query. It is possible to change the library to pass the transaction object to `DocumentReference#get`, but that seems inconsistent with the preferred API that the Firestore team has promoted. Therefore I think I will close this issue instead.

[2018-06-07 18:30] #2104 closed

[2018-06-07 18:30] blowmage commented on #2095
Closing as the questions seems to be answered.

[2018-06-07 18:30] #2095 closed

[2018-06-07 18:31] blowmage commented on #2079
We are still working to unblock this.

[2018-06-07 18:31] blowmage commented on #2006
Closing as this questions appears to be answered.

[2018-06-07 18:31] #2006 closed

[2018-06-07 18:47] blowmage commented on #1979
I've also seen this using Ruby 2.5.1.

[2018-06-07 20:19] quartzmo commented on #1979
@dazuma @blowmage Can we close this issue since we are unable to resolve it in google-cloud-ruby? Because it is a p1 bug older than 42 days, it is [out of SLO](https://github.com/JustinBeckwith/sloth/blob/master/src/slo.ts#L180-L238).

[2018-06-07 20:35] quartzmo commented on #1841
Moving to [wiki/Feature-backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) since this request is now more than 180 days old.

[2018-06-07 20:35] #1841 closed

[2018-06-07 20:37] quartzmo commented on #1832
Moving to [wiki/Feature-backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) since this request is now more than 180 days old.

[2018-06-07 20:37] #1832 closed

[2018-06-07 21:11] blowmage commented on #1979
Last time we discussed this we were told to keep it open, even if it was outside of SLO. But perhaps @JustinBeckwith would prefer we treat it differently now?

[2018-06-07 21:43] quartzmo commented on #1814
Moving to [wiki/Feature-backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) since this request is now more than 180 days old.

[2018-06-07 21:43] #1814 closed

[2018-06-07 21:54] quartzmo commented on #1812
Moving to [wiki/Feature-backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) since this request is now more than 180 days old.

[2018-06-07 22:03] quartzmo commented on #1772
@dazuma Do you think we can close this issue now, and reopen if the problem is seen again on the new release?

[2018-06-07 22:28] quartzmo commented on #1762
@jbolinger Is there any hope for resolution of this issue? It is now [out of SLO](https://github.com/JustinBeckwith/sloth/blob/master/src/slo.ts#L180-L238).

[2018-06-07 22:32] quartzmo commented on #1759
@dazuma Can this issue be closed here? (And perhaps re-opened elsewhere?)

[2018-06-07 22:34] quartzmo commented on #1539
@dazuma This issue is outside of SLO. Any ideas what we can do to resolve it?

[2018-06-07 23:19] quartzmo commented on #1816
Moving to [wiki/Feature-backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) since this request is now more than 180 days old.

[2018-06-07 23:19] #1816 closed

[2018-06-07 23:20] quartzmo commented on #1815
Moving to [wiki/Feature-backlog](https://github.com/GoogleCloudPlatform/google-cloud-ruby/wiki/Feature-backlog) since this request is now more than 180 days old.

[2018-06-07 23:20] #1815 closed

[2018-06-07 23:36] jbolinger commented on #1762
@quartzmo there's some good news here. I requested a `ruby_package` protoc option awhile back and it was implemented (details on  googleapis/artman#288). However, I'm not sure if it has been released and we haven't tried to use it yet (the docs don't mention the new option yet either).

We could ask for the protos to be updated to use the option, which should result in a single namespace. It will

[2018-06-08 03:15] Nakilon commented on #1867
@quartzmo the issue happened only once (2 weeks ago) during last months. I think it became rare because I've lowered a bit the memory consuption on my machine. But the gem version I use is now outdated anyway so it may be fixed already, so I don't mind if you close it and maybe some day someone will find this thread and bump it.

[2018-06-08 15:46] quartzmo commented on #1867
Thanks @Nakilon!

[2018-06-08 15:46] #1867 closed

[2018-06-08 15:50] quartzmo commented on #1762
@jbolinger Congratulations on the progress with artman! Regarding the breaking change, the package is `1.0.0`. I don't know who to ask about it.

[2018-06-08 16:31] blowmage commented on #1762
Perhaps identifying an internal owner is something @JustinBeckwith can help with. The code was first added by @swcloud in #1490.

A breaking change would require the library to go to 2.0, but I don't see that as being a problem.

[2018-06-11 16:27] dazuma commented on #1772
Yes, let's go ahead and close this. As far as we can tell, this is a symptom of https://github.com/grpc/grpc/issues/7951. The debugger/stackdriver releases should work around the issue for the main use case that was triggering it (stackdriver on preforking webservers).

[2018-06-11 16:27] #1772 closed

[2018-06-11 17:06] theacodes commented on #1762
Could we possibly make the old (bad) namespace an alias for the new, fixed namespace? We'd also need to exclude the old namespace from docs.

[2018-06-11 17:06] theacodes commented on #1762
This is actually a problem.

[2018-06-11 17:13] blowmage commented on #1762
We proposed this when the issue first came up, but were told that because this gem is 100% generated any changes would need to come from the generated code. This is why the issue has remained open for so long that it is out of SLO.

[2018-06-11 17:16] theacodes commented on #1762
That's silly. The whole point of our approach to client libraries is that we can make modifications. If you'll send a PR to add the alias, I'll codify it into a synthesis script for this package. We're experimenting with synthesis scripts in other languages specifically for reasons such as this.

Because ostensibly we have to support every major version for *at least* a year.

[2018-06-11 17:27] blowmage commented on #1762
So you are proposing the following:

1) Generate new ruby files from the protos that use the new `Google::Cloud::VideoIntelligence` namespace instead of `Google::Cloud::Videointelligence`.
2) I'll add a pr that aliases `Google::Cloud::VideoIntelligence` as `Google::Cloud::Videointelligence` to maintain backwards compatibility.
3) You'll update the generator to incorporate the alias changes.
4) We

[2018-06-11 17:29] theacodes commented on #1762
Basically. Except we won't actually merge #1 or #2, I'll incorporate those
into a single script and do a full regeneration using that.

On Mon, Jun 11, 2018, 10:27 AM Mike Moore <notifications@github.com> wrote:

[2018-06-11 17:31] blowmage commented on #1762
@jbolinger Can you open a PR that updates these files using the new namespace? I'll add the alias to maintain backwards compatibility to your PR.

[2018-06-11 17:52] jbolinger commented on #1762
@blowmage Sure, but we have to wait for the 3.6.0 protobuf release to land so we can use the new flag (shouldn't be long).

We've also merged the changes for `credentials.rb` that we discussed a few weeks ago into the generator so this might be a good time to develop a similar script to retain compatibility for it.

@theacodes who should make the proto changes? Can we just do it or should we reque

[2018-06-11 17:53] theacodes commented on #1762
@jbolinger is it just to change the protobuf package name for ruby? We can send a CL.

[2018-06-11 17:59] jbolinger commented on #1762
@theacodes Great - thanks for confirming. Yes, it's just a one line option like most of the other languages already have.

[2018-06-11 18:29] blowmage commented on #1762
Absolutely, I'll also make those changes that maintain backwards compatibility in your PR.

[2018-06-14 17:36] #1817 closed

[2018-06-14 19:27] blowmage commented on #2088
It looks like the changes made in #2090 has helped this situation. I'm going to close this issue.

[2018-06-14 19:27] #2088 closed

[2018-06-14 19:28] blowmage commented on #1987
@stevenbarragan Can you give us that additional detail you offered?

[2018-06-14 19:31] meddario commented on #2119
Hi, sorry for the delay, thanks for the answer, for now I switched to a fixed schema approach (not using the repeated columns), because of the easier integration with a CSV import (from the documentation i see that there isn't support to load repeated data from a CSV file).

Anyway, thank you very much for the answer, I'll keep the example for the next time!

[2018-06-14 20:03] ryanmats commented on #2103
@blowmage I think I'm good - thanks for all the help!

[2018-06-14 20:03] #2103 closed

[2018-06-14 21:43] ianks commented on #2120
I think so. One last question: does each RPC stream need it's own thread, or would it be possible to use a thread pool for all RPC streams?

[2018-06-14 21:53] blowmage commented on #2120
Each stream object needs its own background thread to pull messages from the GRPC stream connection.

[2018-06-15 18:17] quartzmo commented on #2120
@ianks Do you want further investigation, or OK to close this issue?

[2018-06-15 18:58] quartzmo opened #2135 "Update Rake in all packages"
Update the Rake dependency in all Gemfiles to `~> 12.3` (or highest possible version.)

This update should not be performed until #2130 ("Ruby 2.3 and later") has been merged.

This issue was derived from @dazuma PR #2130.

[2018-06-15 19:03] quartzmo opened #2136 "Update Rubocop in all packages"
Update the Rubocop dependency in the top-level Gemfile and the package gemspecs to `~> 0.57.0` (or highest possible version.)

This update should not be performed until #2130 ("Ruby 2.3 and later") has been merged.

[2018-06-18 16:23] quartzmo commented on #1812
I forgot to close this after moving to Feature Backlog. Closing now.

[2018-06-18 16:23] #1812 closed

[2018-06-18 17:28] quartzmo commented on #2075
This appears to be a duplicate of #1859, which documents this issue for other packages in addition to Spanner.

[2018-06-18 18:17] quartzmo opened #2138 "Enable frozen_string_literal magic comment in all manual packages"
Add the comment `# frozen_string_literal: true` to the top (first line) of non-generated source files in all manual packages.

This update should probably wait until after #2130 ("Ruby 2.3 and later") has been merged.

See #2122 for implementation example.

[2018-06-18 18:46] quartzmo commented on #1859
Closing this issue, since it has been duplicated by #2072, which is more comprehensive and breaks down the two issues (incorrect content and blank content) by package.

[2018-06-18 18:46] #1859 closed

[2018-06-18 18:47] quartzmo commented on #2075
Closing this issue, since it is a duplicate of #2072, which is more comprehensive and breaks down the two issues (incorrect content and blank content) by package.

[2018-06-18 18:51] quartzmo commented on #1118
@sduskis Can I close this issue now, since the release is imminent, and the PR(s) is/are a better place to continue discussion? Because of its age, this issue is out of SLO.

[2018-06-19 15:32] nfallen opened #2141 "Don't return query results from BigQuery DML/DDL statements"
This client library uses tabledata.list to fetch query results, and so even for a DML/DDL statement it fetches rows. Instead, you could use the jobs.getQueryResults API, which correctly does not return any rows for DML/DDL.

[2018-06-19 22:28] quartzmo commented on #2141
@nfallen Thank you for bringing up this issue. This library originally used `getQueryResults`, but was changed last year to use `tabledata.list` for better performance. I'm not sure if the performance difference still exists, however. I'll see what I can find out.

How many rows are you seeing?

[2018-06-19 22:29] quartzmo commented on #1118
@sduskis Any ETA?

[2018-06-20 14:30] danicuki opened #2142 "Stackdriver is not working on my Rails project"
I am running a Rails 4.2.6 project. I added the stackdriver gem to my Gemfile config:

```gem "stackdriver", '0.15.0'```

and also added
```config.google_cloud.project_id = <myprojectid>```
to the app config. Still, nothing seems to work. No logs go to loggin, no traces, no debug, no error reporting. I tried to run the app both on GCE and also on my local machine configuring the service account js

[2018-06-20 17:28] quartzmo commented on #2141
Thanks @nfallen, this is very helpful!

[2018-06-21 20:29] brianarpie commented on #2079
I'm looking forward to using beta features with this library!

[2018-06-21 20:51] quartzmo opened #2147 "Add schemaUpdateOptions to BigQuery LoadJob"
Add support for the `schemaUpdateOptions` array to BigQuery `LoadJob` and `LoadJob::Updater`.

[2018-06-21 21:12] blowmage commented on #2079
This is now available in [google-cloud-speech 0.30.0](https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-speech%2Fv0.30.0). Be sure to specify the `V1p1beta1` API version to enable this. Also see the [migration guide](https://cloud.google.com/speech-to-text/docs/ruby-client-migration) for converting your existing code to the new library, as there are breaking change

[2018-06-21 21:12] #2079 closed

[2018-06-22 09:26] SpringMT opened #2149 "undefined method `split' for nil:NilClass with an empty array backtrace at error_reporting"
When raising an exception with an empty array backtrace under error_repoting, `undefined method `split' for nil:NilClass` is happened at https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/facae7de22f29fe3be6af0a6c94a173d6e177fae/google-cloud-error_reporting/lib/google/cloud/error_reporting/error_event.rb#L223.

Example of an exception with an empty array backtrace is Unicorn::ClientShut

[2018-06-22 16:59] danicuki commented on #2142
I just noticed that some are actually working, but others not:

- Tracing: it shows a bunch of lines with "empty" in the URI. Nothing useful
![screen shot 2018-06-22 at 1 57 22 pm](https://user-images.githubusercontent.com/77552/41789068-505578da-7624-11e8-9aab-5b0a97509893.png)

- Debug: not working. Shows:  The debugger could not find any applications to debug. Please follow these instructions

[2018-06-22 17:14] danicuki opened #2150 "Debugger is not starting from unicorn web app"
I installed ruby debugger gem (using stackdrivem gem), but it is not working in my app. When I run it manually in the app terminal it works:
[code]

But , the web app runing under unicorn is not appearing in the debugger interface. Is there any special config I need to do to make it work?

[2018-06-22 18:49] quartzmo opened #2151 "Add TimePartitioning to BigQuery LoadJob and QueryJob"
Add support for `TimePartitioning` configuration for the destination table to:

- [ ] `LoadJob` and `LoadJob::Updater`
- [ ] `QueryJob` and `QueryJob::Updater`

[2018-06-25 17:01] blowmage commented on #1830
@jbolinger Is this something you can help with?

[2018-06-25 17:12] jbolinger commented on #1830
@blowmage sure - looks like this is simply adding the vars that end in `_CREDENTIALS`? Do you know if there was a reason for removing it (@landrito do you know?)

[2018-06-25 17:54] jbolinger commented on #1830
I see. I can certainly add it to the generator. When you said "generator configuration" before did you mean that this needs some kind of flag or setting vs. always generating it with the additional var names? Does it ever vary by API?

If we don't need additional configuration I can probably make the generator change today but, in any event, we don't need to wait for that if you'd like to resolve

[2018-06-25 18:43] blowmage commented on #1830
I don't know what is configuration vs. what is non-configuration. (I don't know how the generator works.)

[2018-06-25 18:45] blowmage commented on #1830
Yes, I believe we would like this applied to the other libraries as well.

[2018-06-25 19:58] jbolinger commented on #1830
@blowmage I've added it to the generator.

[2018-06-26 16:14] alixhami opened #2153 "Configuration warning when multiple gems are installed"
When I require the vision gem, I get an warning that the :vision key already exists:
[code]

[2018-06-26 16:18] blowmage commented on #2153
Do you have something else going on in your environment? I don't see this behavior.

[code]

[2018-06-26 17:32] alixhami commented on #2153
Could you give me more details on what I should look for in the environment? I don't work in ruby very often.

[2018-06-26 19:36] blowmage commented on #2153
Can you use my steps to reproduce the warning? Does it give you a warning on just your dev computer or does it give warning everywhere?

[2018-06-26 19:39] alixhami commented on #2153
Looks like I had 0.28.0 and 0.29.0 installed. I uninstalled both and reinstalled 0.29.0 and it fixed the problem.

[2018-06-26 19:43] blowmage commented on #2153
Interesting! I'll look into this.

[2018-06-26 21:42] blowmage commented on #2153
So this looks to be due to how we are discovering google-cloud-* gems for the auto-load feature. We currently have:

[code]

This code uses [`Gem.find_files`](http://ruby-doc.org/stdlib-2.5.0/libdoc/rubygems/rdoc/Gem.html#method-c-find_files), which works fine, except it will load for every installed gem it finds. If multiple versions of a gem are installed then each version's configuration will g

[2018-06-26 22:44] danicuki commented on #2150
My app receive many requests all the time. It does not activate the
debugger in any chance.
On Tue, Jun 26, 2018 at 7:27 PM Daniel Azuma <notifications@github.com>
wrote:

[2018-06-26 23:50] #2147 closed

[2018-06-26 23:50] #2151 closed

[2018-06-27 18:34] #2153 closed

[2018-06-28 20:07] quartzmo opened #2162 "ResourceExhaustedError in Instance Clusters::bigtable#test_0002_create cluster, update and delete"
Over the past 24 hours, all `master` branch builds on Circle CI either errored or timed out on [this acceptance test](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigtable/acceptance/bigtable/cluster_test.rb#L36). I added `skip` to the test to disable it and allow the build to succeed, but it needs to be re-enabled (remove `skip`) with changes to the test and/o

[2018-06-28 21:37] walterking opened #2163 "logging reading next does not work"
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/entry/list.rb#L73-L76

Because none of the instance variables are passed into the from_grpc method, the api responds with an error any time you call next with any parameters:

[code]

it seems like the from_grpc in the list.next should be called with all the params as https://github.c

[2018-06-28 21:53] blowmage commented on #2162
/cc @jiren

[2018-06-29 05:10] jiren commented on #2162
Production instance cluster required minimum 3 nodes. I will update cluster test case with development instance which will work with single cluster node.

[2018-07-01 16:34] utilum opened #2168 "circular require considered harmful"
Are you sure you need [this](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage.rb#L16) ?

See [Rails CI](https://travis-ci.org/rails/rails/jobs/398785895#L6068-L6107)

[2018-07-02 21:49] quartzmo commented on #2168
It looks to me like it is needed in case someone wants to load the library with:

[code]

The directive above will load the file `google/cloud/storage.rb`, which will then load the file `google-cloud-storage.rb` via the line you linked above. Remove [that line](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage.rb#L16), and you no lon

[2018-07-02 23:06] blowmage commented on #2168
The google-cloud-* gems should not be raising warnings. I thought we had warnings enabled as part of our build, but obviously we don't. This is a tricky issue however, and I'm actively looking at it.

[2018-07-03 02:05] SpringMT commented on #2149
Fixed!

[2018-07-03 02:05] #2149 closed

[2018-07-03 14:35] #2120 closed

[2018-07-03 14:35] #2119 closed

[2018-07-03 14:40] blowmage commented on #1987
We are blocked until we can get more information about this.

[2018-07-03 16:55] TheRoyalTnetennba opened #2171 "Tasks: Unable to create new client"
Following the instructions [here](https://github.com/GoogleCloudPlatform/google-cloud-ruby#cloud-tasks-api-alpha), creating a new client with `Google::Cloud::Tasks::V2beta2.new` fails with `ArgumentError: unknown keyword: interceptors" from google-gax-1.2.0/lib/google/gax/grpc.rb:110`.

[2018-07-03 16:58] TheRoyalTnetennba commented on #2171
Works when using google-gax-1.3.0.

[2018-07-03 17:04] blowmage commented on #2171
Updating the `google-gax` dependency to `~> 1.3` should fix this then. I would release this change as release `0.2.1`, and yank release `0.2.0`.

[2018-07-03 17:56] blowmage commented on #2171
The `interceptors` keyword argument is used by the updated GAPIC code in the following gems:

* `google-cloud-speech`
* `google-cloud-text_to_speech`
* `google-cloud-video_intelligence`
* `google-cloud-vision`

Not all of these gems have had releases since the GAPIC code was updated, but all gems should have the same fix applied, not just `google-cloud-tasks`.

[2018-07-03 18:28] dazuma commented on #2168
Perhaps we could set a constant when we include the file, and then check for it. Similar to the `#ifndef MY_HEADER_H` technique from C.

[2018-07-03 18:35] dazuma commented on #2171
Good catch @blowmage. So (1) we need to update those gemspecs, (2) the generated gemspec needs to be updated in gapic-generator, and (3) we need to figure out how to cause synthtool to update an existing gemspec the next time a regeneration requires a newer gax version.

@TheRoyalTnetennba can you update https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2172 to include the other gems?

[2018-07-03 18:37] quartzmo commented on #2171
@dazuma Would it also be possible to update the generator to add a test to each package covering this error?

[2018-07-03 18:43] dazuma opened #2173 "Synth scripts need to be smarter about updating gemspec dependencies"
If a gapic regeneration lists an updated gem dependency—say, a newer version of google-gax—the synth script needs to update the gemspec.

Currently we have synth scripts for:
* speech
* tasks
* text_to_speech
* trace
* video-intelligence
* vision

And it needs to be added to future synth scripts.

[2018-07-03 18:46] dazuma commented on #2171
@quartzmo Possibly yeah. In general, tests for problems with how regeneration is merging the newly generated code with the existing code. I'll think about that. It probably falls more on my and Graham's (and Thea's) plate than on gapic itself.

[2018-07-03 18:54] TheRoyalTnetennba commented on #2171
@dazuma @blowmage I merged. I'll make a new branch with the other gemspec fixes.

[2018-07-03 19:10] blowmage commented on #2171
It is possible the tests already cover the use of the `interceptors` named argument, since they are present. But CI is always building with the latest dependencies so we may have never saw it.

If CI was less painful it might be nice to run tests with the most up to date dependencies, and the most out of date.

[2018-07-03 19:14] TheRoyalTnetennba commented on #2171
Getting failures on the speech stream tests with and without changing gemspec. Does anyone have extra context on that?

[2018-07-03 19:36] blowmage commented on #2168
We could set a constant, but that wouldn’t work for older versions.

[2018-07-03 21:01] blowmage commented on #2171
What is the error? Have you enabled the API?

[2018-07-03 21:13] blowmage commented on #2163
I've reproduced this and am working on a fix. This defect is present in multiple places, unfortunately.

[2018-07-04 00:11] ludwick opened #2176 "Google cloud storage docs don't clearly indicate parameter types"
The docs for google storage do not clearly indicate which parameters to a method are position or named. For example, the docs for bucket create_file on [this page](http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/master/google/cloud/storage/bucket?method=create_file-instance), have parameters `file` (required), `path` (may be nil), `acl`, etc. The first two are po

[2018-07-04 01:46] #2163 closed

[2018-07-04 02:36] quartzmo commented on #2176
@ludwick Thanks for opening this issue. Please take a look at the same documentation on [rubydoc.info/gems/google-cloud-storage](https://www.rubydoc.info/gems/google-cloud-storage/Google/Cloud/Storage). Does the rubydoc.info version resolve all of the issues? If not, please let us know. We are in the process of transitioning to standard YARD generated documentation, very similar to what you see at

[2018-07-04 17:03] ludwick commented on #2176
Yep! That looks a lot better. Thank you!

[2018-07-04 17:03] #2176 closed

[2018-07-05 17:25] #2168 closed

[2018-07-05 21:39] quartzmo commented on #2162
We are getting repeated timeouts on `master` branch Circle CI builds (For example: [build 4143](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/4143) with the following message:

[code]

[2018-07-06 05:15] jiren commented on #2162
@quartzmo Looking into it.

Also, there is an issue with token quota
Token quota limit: [Build 4124](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/4124)

[code]

[2018-07-06 13:10] sduskis commented on #2162
The number of instances should remain below 30 per zone.  I would guess that the "*Insufficient node quota. You requested a node count of 5 nodes for your cluster, but this request would exceed your project's node quota of 30 nodes total across all clusters in this zone. Contact us to request a quota increase: https://goo.gl/pf2Su8*" message is due to the fact that the system tests are not cleanin

[2018-07-06 14:06] jiren commented on #2162
Above issue is solved using randomly selecting zone.

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/c020f5aebfced458f3f78a669e3ac7923b6fffe8/google-cloud-bigtable/acceptance/bigtable_helper.rb#L140-L150

Also, I am working on reducing admin API  frequency call for both API and test cases.
- APIs changes:  Perform table operations without fetching tables
- Test changes: Create a  ta

[2018-07-06 18:21] sduskis commented on #2162
Yes, you got around the fact that there should only be 30 nodes per zone.  I think that there needs to be additional changes:

1) The main instance for table / data testing should be a standard instance
2) There needs to be a step to delete old instances from "instance admin tests" that failed before in test clean up.

[2018-07-09 17:39] #2171 closed

[2018-07-13 17:27] jiren opened #2187 "[Bigtable] Add read table data apis wrapper"
- [x] Read row and Read rows with filters, limits and key ranges.
- [x] Sample row keys.
- [x] Check and mutate rows using a predicate filter.
- [x] Drop row ranges.
- [x] Read and mutations API acceptance changes

[2018-07-16 20:39] Heroturtle opened #2191 "Different json response in ruby"
Json response in ruby using .to_json respectively as_json:

[jsonruby.txt](https://github.com/GoogleCloudPlatform/google-cloud-ruby/files/2199249/jsonruby.txt)

Json response in python:
[python.txt](https://github.com/GoogleCloudPlatform/google-cloud-ruby/files/2199254/python.txt)

How can I receive the same response in all languages for easier parsing?

[2018-07-16 21:01] quartzmo commented on #2191
Are you asking if this library can be changed to return the same JSON response as the Python library? (In which case I will change the `type` of this issue to `feature request`.)

Or are you wondering how to write your own custom JSON serialization in Ruby to match the JSON output of the Python library?

[2018-07-16 21:41] Heroturtle commented on #2191
So there's indeed a difference between Python/JavaScript and Ruby?
For a quick solution, I wounder how to write my own custom JSON serialization first to match outputs, so I can use other libraries which are mostly not in Ruby. I already use two, one in Python and one in JavaScript and both don't match.
In the long term, it would be of course easier to have the same JSON response.
(Thanks for the

[2018-07-16 22:23] coryan opened #2192 "The Bucket::Acl class is not included the the documentation."
At least I cannot find it.  The documentation for the `acl` method in `Storage::Bucket` is here:

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v1.13.0/google%2Fcloud%2Fstorage%2Fbucket?method=acl-instance

it references a `Bucket::Acl` class, but that class is not included in the list of classes on the left panel.

[2018-07-16 23:33] quartzmo commented on #2192
@coryan Thank you for identifying this issue. While the `Bucket::Acl` class [is included in the documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-storage/v1.13.0/google/cloud/storage/bucket/acl), as you correctly observe it is not linked from the `Bucket#acl` method. This should be considered a bug in the documentation and should be fixed.

The left nav in

[2018-07-16 23:39] quartzmo commented on #2191
Please take a look at this article on [Clean Monkey Patching](https://blog.daveallie.com/clean-monkey-patching/) in Ruby, which coincidentally demonstrates adding a `to_pretty_json` method to the stdlib `Hash` class.

I think this would be a considerable undertaking, and is beyond the scope of just google-cloud-ruby. Maybe [google-cloud-common](https://github.com/GoogleCloudPlatform/google-cloud-c

[2018-07-17 05:30] frankyn opened #2193 "Storage: add support get_service_account method"
Feature request to add support for [projects.serviceAccount](https://cloud.google.com/storage/docs/json_api/v1/projects/serviceAccount/get)

The request gets the GCS managed service account that is used by GCS PubSub notifications and CMEK to allow GCS to access to PubSub and a KMS key respectively.

Examples of existing implementations:
* [PHP](https://github.com/GoogleCloudPlatform/google-cloud-

[2018-07-17 18:36] quartzmo commented on #2193
Are you OK with the [google-cloud-bigquery implementation](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/project.rb#L87-L96)?

[2018-07-17 18:43] frankyn commented on #2193
The implementation lgtm as the surface for accessing the GCS managed service.

Thanks Chris!

[2018-07-17 23:30] #2192 closed

[2018-07-18 15:35] r-kononov opened #2196 "Getting "no matching index found" when running example"
[code]

[2018-07-18 15:43] blowmage commented on #2196
This error is coming from the Datastore API. The [Indexes guide](https://cloud.google.com/datastore/docs/concepts/indexes) states:

Your query is using a built-in index so it should be available. How long did you wait between creating the first entity with that property and running the query? It may take a few seconds for the built-in index to become available.

[2018-07-18 15:47] r-kononov commented on #2196
It works perfectly from UI

![image](https://user-images.githubusercontent.com/40002763/42892637-1b81f8a8-8ad4-11e8-96fc-f05ec27f8efa.png)

[2018-07-18 15:47] r-kononov commented on #2196
So at least 10+ minutes

[2018-07-18 16:00] blowmage commented on #2191
It looks like you are generating JSON from the google-cloud-vision gem, is that correct?

Both the google-cloud-vision Ruby gem and the Python package use gRPC to communicate with the Vision API. The binary data being returned from the Vision API is encoded using Protocol Buffers. The Ruby gem is extracting the data from the Protocol Buffer object and storing it in Ruby objects, while it looks lik

[2018-07-18 16:09] r-kononov commented on #2196
Just recreated a project from the scratch and got the same

[code]

[2018-07-18 17:06] blowmage commented on #2196
I suspect there may be something else going on with your setup as I am unable to reproduce the error you are reporting. I just ran the following Ruby code in a new IRB session without any issues

[code]

I pasted the ruby code into the console so it ran as fast as possible. Here is the output:

[code]

I switched projects and got the same results. Is there anything else you can tell us about your

[2018-07-18 17:35] quartzmo commented on #2196
I'll try to reproduce as well.

[2018-07-18 17:37] blowmage commented on #2196
I created a new project named `temporary-datastore-test`, created service account credentials and downloaded the JSON file, and then visited the following URL to set up the database.

https://console.cloud.google.com/datastore/setup?project=temporary-datastore-test

I did not create an entity at that URL, I only created the database. Then I ran the previous Ruby code as soon as the web UI refreshe

[2018-07-18 17:37] #2193 closed

[2018-07-18 17:40] r-kononov commented on #2196
Seems like we found the root of the issue.

[2018-07-18 17:42] quartzmo commented on #2196
I could not reproduce in my own project, using @blowmage's snippet in [this comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/2196#issuecomment-406005030). I get the same results as @blowmage posted there.

[2018-07-18 17:43] treeder commented on #2196
Ok, we figured out how to work around this. We were creating the databases in firebase which leads you to cloud console for service accounts and says that you can use datastore libraries, and lastly it says that it also automatically creates indexes:

![screenshot 2018-07-18 at 10 40 02 am](https://user-images.githubusercontent.com/75826/42898146-2e3a29c8-8a77-11e8-9144-f2dcf5c3b49f.png)

So we tr

[2018-07-18 17:46] quartzmo commented on #2196
@treeder So would you consider this a problem with the documentation? Can you provide additional links/screenshots and a recommendation for changes? We do not have the ability to change console or cloud.google.com docs ourselves, but we may be able to get the attention of someone who can.

[2018-07-18 17:51] treeder commented on #2196
Well, I would just expect it to work. I assume these indexes should be there when created in Firebase since it says that they should be per the screenshot I posted above. I guess I'm also assuming that these libraries should work with Firestore too since from what I've read, Firestore is backed by Datastore?

Maybe those are wrong assumptions though... ? 😄

[2018-07-18 17:58] quartzmo commented on #2196
Fair enough, let's leave open the possibility that it could be a bug in the service. We will do what we can to raise this issue to Google, but please also pursue any other support channels you may have.

Both scenarios are out of scope for this library, so I'm closing this issue now. Feel free to reopen this issue or new ones if you discover anything we can do to improve this library and/or [googl

[2018-07-18 17:58] #2196 closed

[2018-07-18 18:32] pcostell commented on #2196
Databases created through Firebase create Cloud Firestore projects. Cloud Firestore and Cloud Datastore have some interoperability, however they have different query semantics (and thus different indexes). Like Cloud Datastore, Cloud Firestore has automatic indexes, but they are a different set of indexes, which is why your Cloud Datastore queries (with Cloud Datastore semantics) are missing an in

[2018-07-18 21:41] treeder commented on #2196
We found this lib and are giving it a try: https://github.com/firebase/firebase-admin-go You can probably chock this up to bad assumptions on our part. And the fact that this library partially works with Firestore (inserts, queries without filters, etc) which added to the confusion.

[2018-07-18 23:33] quartzmo commented on #2196
@treeder We let some Google folks know about this, thanks so much for opening this issue!

[2018-07-18 23:43] frankyn commented on #2196
Hi @treeder,

Thanks for filing the issue could you help me understand how you came across information stating you could Datastore client libraries to access Firestore?

After chatting with @pcostell, there does exist some interoperability but not enough to recommend that you use the Datastore client. Please continue to use Ruby Firestore client libraries.

Thanks!

[2018-07-21 11:21] lifeCoder123 commented on #2012
Is coreAudio gem support linux?

[2018-07-23 10:37] Goku-San commented on #1987
RuntimeError: can't add a new key into hash during iteration

Hello, I hope you solve this bug quickly, I am very new to rails and I had this bug yesterday and today and when I restart the server the error is gone,

I am on windows 7 x64, rails 5.2, ruby 2.3.3-p222, puma 3.11.4

Sorry I can't give more information I don't know how to...
All I can see from the server log is when visiting root page(

[2018-07-23 13:15] ManuSakrepatna opened #2200 "Ruby program with the line 'Google::Cloud::Speech::V1.new' is not terminating"
I have  a ruby script with the following 3  lines of code

require "google/cloud/speech/v1"
speech_client = Google::Cloud::Speech::V1.new
puts 'Hi'

It Works, authentication success, but program is not terminating after diplaying 'Hi'

What is the root cause, and what is my mistake?

[2018-07-23 15:30] blowmage commented on #2200
Hi, thanks for the question. I am unable to reproduce the behavior you are describing. Is there more you can tell us about hour system?

Here is my repro, where I created and ran the file:

[code]

Can you give us the OS version, Ruby version, and google-cloud-speech gem version you are using?

[2018-07-23 16:36] blowmage commented on #2012
No. The [coreaudio](https://rubygems.org/gems/coreaudio) gem is specific to OS X.

[2018-07-23 17:07] jiren commented on #2187
Pull request : https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2201

[2018-07-24 05:10] ManuSakrepatna commented on #2200
Hi, Thank you very much for your support.

I am working under Windows 7 - Professional -64 bit
My Ruby version is 2.1.8
google-cloud-speech gem  version is 0.30.0

[2018-07-24 05:40] jiren opened #2203 "[Bigtable] Add quick start examples"
- [x] Quickstart read data example
- [x] Instance api example
- [x] Table api example
- [x] Readme : how to run examples

[2018-07-24 05:40] jiren commented on #2203
I will be creating a pull request against this issue.

[2018-07-24 14:21] blowmage commented on #2200
How are you running the ruby code? Are you passing a file to `ruby.exe` or are you doing something else?

[2018-07-25 03:30] ManuSakrepatna commented on #2200
The above 3 lines of code is stored in sample.rb file. And I am using the command        ruby sample.rb

[2018-07-25 03:52] ManuSakrepatna opened #2204 "How to use Google::Cloud::Speech::V1 for asynchronous processing of speech audio file in RUBY"
I am using ruby version 2.1.8 under windows 7.
google cloud speech gem 0.30.0

I am Using Google::Cloud::Speech::V1  to process long audio files with duration more than one minutes and less than 180 minutes which are stored in the google cloud storage.

Using 'wait_until_done!' i am able to complete the operation successfully. But here I have to wait till the operation is completed. But my require

[2018-07-25 20:08] #1956 closed

[2018-07-26 12:15] hellupline opened #2206 "[PubSub] Sometimes subscriber.stop.wait! hangs forever"
Using the example code below,  `subscriber.stop.wati!` hangs waiting for some thread to stop, blocking the graceful shutdown of the subscriber

Example code:
[code]
this example code runs the subscriber for 60 seconds, then try to do a graceful shutdown, it always gets to the `stop.wait!`, sometimes, it does finish the script, sometimes it hangs indefinitely

this behaviour happens with both emula

[2018-07-26 16:19] quartzmo commented on #2206
@hellupline Thank you for reporting this issue!  Is there more you can tell us about your system, including Ruby and google-cloud-pubsub versions?

[2018-07-26 17:16] hellupline commented on #2206
sorry for the delay @quartzmo ,

ruby version: 2.4.3
google-cloud-pubsub gem version: 0.29.0
google-cloud gem version: 0.49.0

environmnet: kubernetes engine at google cloud platform, high cpu instance type
region us-east4

[2018-07-27 09:41] ManuSakrepatna commented on #2200
Yes Sir, I am closing it here. Thank you.

[2018-07-27 09:41] #2200 closed

[2018-07-27 17:05] brianarpie opened #2210 "Google Speech API Won't Accept Large Files"
Hi, I'm receiving a server error when trying to process large audio files. The audio files are originally audio/m4a @ 32kHz and per the recommendations of the documentation am converting/compressing them to audio/amr_wb @ 16kHz. These files are well below the 180 minutes of audio limit yet I'm still receiving a server error when processing them.

`GaxError Exception occurred in retry method that w

[2018-07-27 19:13] brianarpie commented on #2210
@quartzmo, thanks for the reply. I updated my question (perhaps a little too late) and noted that I'm already storing the files in GCS and am supplying the URI to the API. I am only having issues for files that are over a certain size.

Not that I'm sure it's relevant to my issue, I forked this library and added a few things:
* ability to pass the param enable_speaker_diarization to the api (and i

[2018-07-28 20:02] untoldone opened #2211 "Spanner: Long running queries on snapshots hit Google::Cloud::DeadlineExceededError"
While looping through rows on a very large table I get:

[code]

Code is pretty strait forward:

[code]

I couldn't find anywhere documented or undocumented that I could easily extend the deadline to prevent this. I would have expected either the library handles and prevents this error or at a minumum allows me to set a deadline value for this.

[2018-07-30 14:42] blowmage commented on #2211
Hi @untoldone, thanks for opening the issue about this. Can you tell us how long your code runs until you get a DeadlineExceededError? Do you know how many rows have been processed by the time you get an error? How much work is being performed in the `# Do some stuff` block?

[2018-07-30 15:23] blowmage commented on #1830
@dazuma What does it take to kick off the source code generation for a gem? I believe updating the generated source code for Natural Language will resolve this issue.

[2018-07-30 16:14] brianarpie commented on #2210
@quartzmo thanks for the explanation !

We can go ahead and close this ticket. I'll create separate tickets for the feature requests I added to my fork.

[2018-07-30 16:14] #2210 closed

[2018-07-30 16:20] brianarpie opened #2212 "Google Cloud Speech Support Speaker Diarization"
Google Speech API V1p1beta1 now supports a bunch of new recognition configurations.

I have forked this library in order to be able to pass values for these new parameters to the API.

I've added `enableSpeakerDiarization` and `diarizationSpeakerCount` to my fork, though there may be other new parameters the API now accepts that would be useful for other users of this library.

Also, the response

[2018-07-30 16:26] brianarpie opened #2213 "Google Cloud Speech V1p1beta Fetch Long Running Recognize Operation"
In order to take advantage of the asynchronous long running recognize method, I needed to be able to check on the status of a long running recognition without blocking the process it was initialized in while waiting for it to complete. My solution was to store the operation's name `operation.name` and periodically fetch the operation by it's name, wrapping the response as an instance of  `LongRunn

[2018-07-30 16:29] blowmage opened #2214 "String#unpack1 not available on Ruby 2.3"
Bigtable is currently using [`String#unpack1`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/196c9fae7cdb7bb99cfad0e1402c8d74e351a94a/google-cloud-bigtable/lib/google/cloud/bigtable/row.rb#L65), but this method does not exist on Ruby 2.3 and [CI is failing](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/4367) because of this.

[2018-07-30 16:29] blowmage commented on #2214
@jiren, can you take this issue?

[2018-07-30 16:30] dazuma commented on #1830
Not much. I can do it.

[2018-07-30 16:37] jiren commented on #2214
Sure, I will fix and create pull request against it.

[2018-07-30 17:04] blowmage commented on #2212
@dazuma These attributes look to have been added to `v1p1beta1` 3 weeks ago in https://github.com/googleapis/googleapis/commit/475d72b7405c92f06d7f2d4aba866278eb5ad8e9. Shouldn't these changes have already been propagated to this repo by now?

[2018-07-30 17:08] blowmage commented on #2213
@jbolinger @dazuma We had this functionality exposed as the [`Project#operation`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-speech/v0.29.0/google/cloud/speech/project?method=operation-instance) method back when Speech was a hand-written gem. But now that all value objects and API calls are generated code we are missing this. Is this something that can be added to

[2018-07-30 17:30] untoldone commented on #2211
I had a query that was running over a slow broadband internet connection (maybe 20mbps) that was slow but consistent in speed/reliability, it would get through about 110,000 rows of a 260,000 row table. I *think* it was running for about 2 min before throwing (didn't have an exact time as I only wrote times out every 10k rows).

"Do some stuff" was just writing rows to a CSV without any processing

[2018-07-30 17:33] blowmage opened #2215 "Intermittent Bigtable acceptance test failure"
We have seen occasional Bigtable acceptance test failures on `acceptance/bigtable/table/row_filter_test.rb:110`, both [on CI](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/4366) and locally.

[code]

[2018-07-30 17:33] blowmage commented on #2215
@jiren can you take this one as well?

[2018-07-30 17:41] blowmage commented on #2214
Great. Can you assign this issue to yourself then? Thanks!

[2018-07-30 18:17] #2124 closed

[2018-07-30 18:25] blowmage commented on #2211
FWIW, the only similar issue I can find is GoogleCloudPlatform/python-docs-samples#975.

[2018-07-30 18:30] blowmage commented on #2211
@snehashah16 Can you weigh on in this? Currently streaming executes and reads [rescue only on UNAVAILABLE](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/5171534819048c9e90ae743c1007cd762a07ec1c/google-cloud-spanner/lib/google/cloud/spanner/results.rb#L149-L168), and not DEADLINE_EXCEEDED. Should they? I notice that idempotent API endpoints are [currently configured](https://github.

[2018-07-30 18:35] blowmage commented on #2215
I can't. I don't have permissions. You need to assign it to yourself.

[2018-07-30 20:47] jbolinger commented on #2213
It sounds useful to me and I can't think of any reason not to add it back. I think we'd want to add it as a single method like `Project#operation` that worked for any operation in a client rather than having one for each method like in the example (although for this library the distinction doesn't make any difference).

It might help to get input from the folks working with @dazuma to see if this

[2018-07-30 21:54] blowmage commented on #2213
Interesting. Do some clients create more than one `@operation_client`?

[2018-07-30 21:58] blowmage commented on #2213
Are there any other methods on `@operations_client` other than `get_operation` that should also be delegated from the main client?

[2018-07-30 22:26] jbolinger commented on #2213
No, there's only one `@operation_client`. I suspect that delegating the get operation would be enough in most cases because you could fetch it, check the status, and then use the returned object to do whatever else.

[2018-07-31 00:52] blowmage commented on #2213
Yep, agreed.

[2018-07-31 19:01] romanvbabenko opened #2216 "v1p1beta1 does not recognise options"
- enable_automatic_punctuation - OK
- `initialize': Unknown field name 'enable_word_confidence'
- alternative_language_codes fails the same as enable_word_confidence

[2018-07-31 19:13] blowmage commented on #2216
This is currently being discussed on #2212.

[2018-07-31 19:17] blowmage commented on #2216
Oops, my mistake, that issue is for different options.

[2018-07-31 19:18] blowmage commented on #2216
@romanvbabenko Can you give us your gem and ruby versions, as well as a simple script to reproduce the behavior you are seeing?

[2018-08-02 15:48] #2214 closed

[2018-08-02 16:18] blowmage opened #2219 "Bigtable Acceptance Failures"
We had two failures in Bigtable acceptance tests. Builds [4395](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/4395) and [4397](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/4397).

[code]

[code]

@jiren, can you investigate and take ownership of this issue?

[2018-08-02 17:01] jiren commented on #2219
@blowmage Yes, I am working on it.

[2018-08-03 16:25] blowmage opened #2231 "Remove GAPIC generated API version documentation"
Now that the version-specific documentation has been moved, we now have duplicate documentation. Because of the way YARD loads documentation, the [API version documentation we want to see](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/fa3b2cafc0d04e736f897e80f7bb33b2f2e7b392/google-cloud-video_intelligence/lib/google/cloud/video_intelligence/v1.rb#L24-L111) is not being shown, but

[2018-08-03 16:25] blowmage commented on #2231
@jbolinger Is this something in your control?

[2018-08-03 16:29] blowmage commented on #2231
@dazuma Any thoughts on this?

[2018-08-03 17:34] jbolinger commented on #2231
@blowmage I believe it is. So, you want content at the second link to simply be removed? Does anything else need to be done?

[2018-08-03 17:40] blowmage opened #2233 "GAPIC documentation missing types"
The GAPIC documentation for common protobuf types is missing the following:

* `Google::Protobuf::NullValue`
* `Google::Protobuf::Timestamp`
* `Google::Type::LatLng`

The GAPIC client documentation also documents the `Google::Cloud::Datastore::V1::DatastoreClient#datastore_stub` attribute returning a `Google::Datastore::V1::Datastore::Stub` object, but `Google::Datastore::V1::Datastore::Stub` is n

[2018-08-03 17:40] blowmage commented on #2233
@jbolinger @dazuma Thoughts on this?

[2018-08-03 17:45] blowmage opened #2234 "Document GAPIC generated Credentials classes"
Currently the GAPIC generated Credentials class does not have any documentation on how to use it. Most of the behavior is inherited from `Google::Auth::Credentials`, but it would be good to document these classes, including come code examples, so users can better understand how they are to be used if they choose to use them.

[2018-08-03 17:46] blowmage commented on #2234
@jbolinger @dazuma Thoughts on this?

[2018-08-03 17:49] blowmage opened #2235 "GAPIC client OperationsClient class showing in documentation"
The OperationsClient that a GAPIC client creates is not being hidden from the generated YARD documentation. This class looks to be used by the client object only, and probably should be excluded from the generated documentation.

It might make sense to mark this class `@private` when the `get_operation` method is added to the client.

[2018-08-03 17:49] blowmage commented on #2235
@jbolinger @dazuma Thoughts on this?

[2018-08-03 17:52] blowmage commented on #2233
I just realized that Datastore doesn't have a `synth.py` file, so the GAPIC generated files may be out of data. it is possible the missing types have already been added to the generated documentation and the GAPIC files are regenerated these types will show up in the documentation.

[2018-08-03 17:54] blowmage commented on #2231
Nope, I believe removing the content at the second link should make a big improvement.

[2018-08-03 20:41] jbolinger commented on #2233
I believe at least one of those missing types should be generated. So, it's probably best to regenerate first and then I can add if we find anything is still missing.

I'm not sure about the `stub` part. I suspect using it is rare but I'm not sure if it's a good idea to make it private.

[2018-08-03 20:57] blowmage commented on #2233
@dazuma Is there a timeline for adding `synth.py` to the hand coded gems?

[2018-08-03 21:44] dazuma commented on #2233
I'm working on them now (actually first the gapic-only and partial gapics, then the hand-coded). I was hoping to have it done this week, but it's going slowly and will be well into next week.

[2018-08-03 22:32] dazuma commented on #2231
Agreed, the content in the second link should be removed.

[2018-08-03 22:33] dazuma commented on #2233
I'll frontload synth for datastore (probably Monday) and see if it fixes it.

[2018-08-03 22:36] dazuma commented on #2235
Can you point out an example of this class?

[2018-08-03 23:11] blowmage commented on #2235
VideoIntelligence has it when generating the YARD HTML docs.

[2018-08-05 04:39] romanvbabenko commented on #2216
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]
gem 'google-cloud-ruby', github: 'google-cloud-ruby'

[2018-08-06 08:33] #2187 closed

[2018-08-07 00:54] blowmage opened #2254 "Change core Credentials URLs"
The google-cloud-core Credentials class (deprecated) needs to have the URLs updated. We may need to coordinate this in conjunction with a googleauth release, depending on how it is released. [Parent issue](https://github.com/google/google-auth-library-ruby/issues/155)

The following specific library changes are required:

### OAuth 2.0 Authorization Grant Flow (aka 3LO)

For clients using this flo

[2018-08-07 15:08] sduskis commented on #2219
@jiren and @blowmage, has this been fixed?

[2018-08-07 15:08] sduskis commented on #2215
@jiren and @blowmage, has this been fixed?

[2018-08-07 15:09] sduskis commented on #2162
@jiren and @blowmage, has this been fixed?

[2018-08-07 15:26] blowmage commented on #2215
No. In fact, I opened #2257 last night to skip these tests to try to get our build passing again.

[2018-08-07 15:28] blowmage commented on #2162
I believe so, yes. I will close this issue.

[2018-08-07 15:28] #2162 closed

[2018-08-07 15:47] blowmage commented on #2219
No.

[2018-08-07 18:27] #2203 closed

[2018-08-07 18:45] blowmage opened #2260 "Firestore Transaction Retry Behavior"
In the Firestore Watch PR #2202 @schmidt-sebastian made the [following comment](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2202#discussion_r206967622) about Transaction retry:

Make sure Firestore Transactions are performing retries for all appropriate errors and with the correct delay (including incremental backoff).

[2018-08-07 22:07] dazuma commented on #2173
Fixed in synthtool and existing scripts.

[2018-08-07 22:07] #2173 closed

[2018-08-08 11:27] jiren commented on #2219
@sduskis Making changes in test cases and I will raise pull request for this issue.

[2018-08-08 14:56] snkashis commented on #2212
Is there an ETA on when these options will be rolled in here?

[2018-08-08 15:38] blowmage opened #2265 "YARD Parsing Warnings & Errors"
There are many gems that print warnings and errors while YARD is parsing the documentation. We should go through each gem and correct all the warnings and errors.

- [x] BigQuery #2293
- [x] BigQuery DataTransfer #2294
- [ ] Bigtable #2295
- [x] google-cloud-core #2296
- [ ] Dataproc #2297
- [ ] Datastore #2417
- [ ] Debugger #2299 and #2301
- [ ] Dialogflow #2302
- [ ] DLP #2303
- [ ] Error Repor

[2018-08-08 15:43] blowmage commented on #2212
I believe these were added in #2227. We are in the process of automating the generation of the ruby files when the underlying protobuf files are updated. Once that process is complete and we are confident everything is up to date we will release. I'm thinking later this week, or early next week.

[2018-08-08 18:01] blowmage opened #2266 "Storage download monkey patch leaking into documentation"
The code to correct some download behavior is leaking into the documentation. See [here](http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-storage/master/Google/Apis/StorageV1/StorageService.html).

[2018-08-09 11:05] blowmage commented on #2254
Closed by #2264

[2018-08-09 11:05] #2254 closed

[2018-08-09 11:11] blowmage commented on #2216
This is, in fact, the same issue as #2212.

[2018-08-09 16:16] sduskis commented on #2219
I spoke with @jiren offline.  The core of the problem relates to interaction between tests, and not to the individual tests.  Tests for reading rows should happen on a single row, or a set of rows that are written once in setup, and not mutated further.  Tests that perform mutations should set up their own rows, and operation on those rows.  If we do that, then we'll fix the tests and ensure that

[2018-08-09 16:21] blowmage commented on #2206
@hellupline You had 100% errors on the StreamingPull API? What types of errors?

[2018-08-09 16:22] blowmage commented on #2206
@hellupline @vnbrs how reliable is the subscriber hanging for you? Does it happen every time? Usually? Occasionally? Rarely?

[2018-08-09 17:03] blowmage commented on #2219
Great! The tests are run in a random order to tease out inter-test dependencies like this.

[2018-08-09 20:10] Draiken opened #2271 "Delay when waiting for Pub/Sub Subscriber to stop"
Hi there!

We wrap PubSub and [have a spec](https://gist.github.com/Draiken/889de426a8503814e3410414d69e31df) that ensures we correctly publish messages. I've noticed that RSpec would hang a bit longer with an error message:

[code]

After some retries, I didn't get the message all the time. I then decided to add a `sleep 0.1` **after** calling `subscriber.stop.wait!` and the error message disappe

[2018-08-09 20:34] blowmage commented on #2271
This message is printed by the `grpc` library during its cleanup. It is not an error. We have been told it is benign. See grpc/grpc#14180.

[2018-08-09 20:36] Draiken commented on #2271
I don't care much about the message, but the spec process hangs around a lot longer when that message pops up (2-3 seconds) which leads me to think it's not just a message

[2018-08-09 21:09] blowmage commented on #2271
I'll look into it.

[2018-08-10 11:10] dmush opened #2275 "Lookup seems to be limited to 300 records"
A have a single entity in datastore. I try to lookup (find_all) 426 keys at once. Among these 426 keys I have the key of existing entity. If the key is among first 300 items in array then the lookup result contains the entity. Otherwise lookup result doesn't contain it.

Is this a bug? Or am I doing something wrong?

[2018-08-10 17:18] blowmage commented on #2275
Hi @dmush, thanks for the question. You are doing nothing wrong, this is how the Datastore API works. Results have a max limit of the number of entities that can be returned, and a max limit for the amount of data that can be returned. If your entities were all ~1MB each, you would only get 4 in the response.

However, we have added the [`QueryResult#all`](http://googlecloudplatform.github.io/goog

[2018-08-10 17:42] dmush commented on #2275
Hi @blowmage, thanks for your answer. The thing here is that I didn't change anything except the keys order in an array that is argument to find_all. And the response is a single entity with two boolean fields. I don't think it reaches the data limit.

For example I have a single entity in Datastore with data of a size that below the limit. In this case if I generate 299 fake keys and add a valid

[2018-08-10 18:00] blowmage commented on #2275
I didn't real your question very well. Since you are using `find_all` you want to use [`LookupResults#all`](http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-datastore/latest/Google/Cloud/Datastore/Dataset/LookupResults.html#all-instance_method) instead of `QueryResult#all`. Apologies for my mixup.

[code]

300 is a very common limit for Datastore. I've occasionally seen mor

[2018-08-11 01:38] edivaldodelgado commented on #1909
I'm using DOCUMENT_TEXT_DETECTION to OCR old documents, but Google Vision API recognize for example, the sentence:

Save the date, 02/10/2012

As words,

'Save', 'the', 'date', ',', '02', '/', '10', '/', '2012'

Right now I am using the boundaries limits of each "word" and using a minimal distance between them to separate or put together this words or chars, however, the documents I've been runnin

[2018-08-11 02:31] sbr1601 commented on #1909
We were facing a similar issue, and that was the intention of this ticket. The problem is that there's nothing that the creators of this gem can do about it since it's the main Google API that has this inconsistency.

What we've done to overcome it, have a piece of code that combines the words that we consider important to be combined regardless of the delimiters used by Google (like dates, dollar

[2018-08-11 02:47] edivaldodelgado commented on #1909
I'm actually working on an algorithm using a similar idea, to define the spaces between words considering the important cases (',', '.', '-' etc). But, I don't think it's efficient and I don't think I can cover all the cases (the documents are very different), but it seems to be the best way. Thank you and let me know if you find another solution.

[2018-08-11 17:26] blowmage commented on #2206
I'm still looking into this. I have not been able to fully reproduce it yet, but I have some ideas on possible causes. Any additional information you can share would be very, very helpful.

[2018-08-11 17:39] hellupline commented on #2206
sorry for the delay,

I after some struggle, we decide to update all gems related, and it kind of fixed both issues, where  some threads stopped and google pubsub api errors where too high

but before the upgrade,our GCP console was 100% error rate ( I dont remember the error code, sorry ), but the lib did not report any error, even with the debug logging,

the erorrs reports on GPC console skyroc

[2018-08-11 17:49] blowmage commented on #2206
@vnbrs What version of the gem are you running?

[2018-08-11 17:51] vnbrs commented on #2206
I was running with `0.29` and I've updated it to `0.31`, along with `grpc` to `1.8.7`. Problem solved since then.

[2018-08-11 18:01] blowmage commented on #2206
Okay, there is an issue where an older GRPC library can fail for internal reasons, and we started recovering from that in google-cloud-pubsub 0.30.2. I had thought it was in an earlier release, but I just verified it was definitely 0.30.2.

So I'll close this issue. Thank you for your patience.

[2018-08-11 18:01] #2206 closed

[2018-08-13 02:03] cigar2010 commented on #2079
the punctuation function is embeded into voice to text function as an option, is there any individual api or function processing un taged text with adding punctuation into text?

[2018-08-13 18:38] dmush commented on #2275
It works, thanks. Sorry, that was my mistake. I missed the `.all`. Now it works expected.

[2018-08-13 18:38] #2275 closed

[2018-08-13 23:45] KeweiCodes opened #2282 "Blank page in Documentation"
http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.30.0/google/cloud/vision/project?method=annotate-instance

leads to the below:

<img width="1275" alt="screen shot 2018-08-14 at 11 44 40 am" src="https://user-images.githubusercontent.com/10202555/44064090-7a80498e-9fb7-11e8-806d-efb12c5a885b.png">

[2018-08-14 19:31] quartzmo commented on #2282
@KeweiCodes Thank you for reporting this issue!

I believe this is caused by the formatting of the documentation for the `requests` param in [Project#async_batch_annotate_files](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-vision/lib/google/cloud/vision/project.rb#L287-L288). Because the type information is placed on the next line, it winds up in the descriptio

[2018-08-14 22:19] quartzmo commented on #2266
[Google/Apis/Core/DownloadCommand.html](http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-storage/master/Google/Apis/Core/DownloadCommand.html) is also leaking into the docs.

[2018-08-15 02:09] dazuma commented on #2231
Fixed in artman, and regenerated all libraries. Closing.

[2018-08-15 02:09] #2231 closed

[2018-08-15 05:34] blowmage commented on #1955
This was merged into master in #2202.

[2018-08-15 05:34] #1955 closed

[2018-08-15 05:39] blowmage commented on #2213
@jbolinger Can you give us an update on this request?

[2018-08-15 05:39] blowmage commented on #2204
The solution to this is to store the operation name and poll for the operation status. Unfortunately, the generated code layer does not expose this directly. This is being discussed on #2213 and I believe this issue is a duplicate of it.

[2018-08-15 05:41] blowmage commented on #2211
@snehashah16 Ping.

[2018-08-15 05:44] blowmage commented on #2271
We have recently updated the threading implementation used by Subscriber, and we think it should be more reliable. This will go out in the next release.

[2018-08-15 05:58] blowmage opened #2292 "GAPIC files leaking Protobuf stub object"
The GAPIC generated files, such as Speech's SpeechClient are leaving the protobuf service stub object in the public API.

http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-speech/v0.30.0/Google/Cloud/Speech/V1p1beta1/SpeechClient.html#speech_stub-instance_method

This is a problem because `Speech::Service::Stub` is undocumented. If this accessor method is to remain in the AP

[2018-08-15 06:01] blowmage commented on #2235
Now that we have YARD producing HTML, I can link to an example. Here is one from Speech:

http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-speech/v0.30.0/Google/Cloud/Speech/V1p1beta1/SpeechClient/OperationsClient.html

If this is to remain as part of the public API, then I suggest that an accessor be added to the GAPIC client class to the instance object, and both the Clie

[2018-08-15 06:02] blowmage commented on #2215
This looks to be closed by #2281.

[2018-08-15 06:02] #2215 closed

[2018-08-15 06:02] blowmage commented on #2219
This looks to be closed by #2281.

[2018-08-15 06:02] #2219 closed

[2018-08-15 06:04] blowmage commented on #2233
FYI, I still don't see these types being documented in Datastore.

http://googlecloudplatform.github.io/google-cloud-ruby/docs/google-cloud-datastore/master/

[2018-08-15 06:07] blowmage opened #2293 "BigQuery Documentation warnings"
We get the following warnings when generating the documentation:

[code]

[2018-08-15 06:13] blowmage opened #2294 "BigQuery DataTransfer Documentation warnings"
We get the following warnings when generating the documentation. All of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

The text `"{project_id}"` is a YARD directive. To be valid YARD documentation it needs to be escaped, as `"\{project_id}"`.

Here are the warnings:

[code]

[2018-08-15 06:26] blowmage opened #2295 "Bigtable Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to Operations classes that are not documented.

Here are the warnings:

[code]

[2018-08-15 06:27] blowmage opened #2296 "google-cloud-core Documentation warnings"
We get the following warnings when generating the documentation:

[code]

[2018-08-15 06:29] blowmage opened #2297 "Dataproc Documentation Warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to Operations classes that are not documented.

Here are the warnings:

[code]

[2018-08-15 06:39] blowmage opened #2298 "Gems excluding low-level API from documentation"
The following gems are excluding files that are considered part of the "low-level API" from the documentation. Are we sure we want to continue doing this?

* Datastore
  * `lib/google/datastore/v1`
* Debugger
  * `lib/google/devtools`
* Error Reporting
  * `lib/google/devtools/clouderrorreporting/v1beta1`
* Firestore
  * `lib/google/firestore/v1beta1`
* Logging
  * `lib/google/logging/v2`
* Pub/Su

[2018-08-15 06:46] blowmage opened #2299 "Debugger Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

The text `"{project_id}"` is a YARD directive. To be valid YARD documentation it needs to be escaped, as `"\{project_id}"`.

There is also one warning for documenting a parameter name

[2018-08-15 07:05] blowmage opened #2301 "Debugger Ruby Warnings"
When running the Debugger tests in verbose mode, we see the following warnings:

[code]

(We see lots of them, this list has removed the duplicates.)

[2018-08-15 07:06] blowmage commented on #2301
Is this something we want to clean up as part of Debugger? Do we want to do this for all the gems? GRPC and GAX play loading games, so other gems have a number of  circular require warnings that we probably can't do much about.

[2018-08-15 07:11] blowmage opened #2302 "Dialogflow Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to linking to a class that is not included in the documentation.

Here are the warnings:

[code]

[2018-08-15 13:15] sduskis commented on #2295
@jiren, it looks like we have another release blocker.

[2018-08-15 13:56] sduskis commented on #2295
Thanks!

[2018-08-15 14:13] blowmage opened #2303 "DLP Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has one warning trying to link to a class that is not documented, and may not exist.

Here are the warnings:

[code]

[2018-08-15 14:13] #2282 closed

[2018-08-15 14:14] #2266 closed

[2018-08-15 14:17] blowmage commented on #2295
It looks like all of these warnings are coming from the GAPIC generated code. So the fix is likely in the generator, or in the `synth.py` file. We shouldn't be modifying those files by hand.

@dazuma I'm only part way through documenting all the warnings, do you have anything to add specific to Bigtable?

[2018-08-15 14:19] blowmage opened #2304 "Error Reporting Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

The text `"{project_id}"` is a YARD directive. To be valid YARD documentation it needs to be escaped, as `"\{project_id}"`.

There is also one warning for documenting a parameter name

[2018-08-15 14:29] blowmage opened #2305 "Firestore Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to classes that are not documented, don't exist, or using the wrong namspace. For example, the link `{Google::Firestore::V1beta1::Fire

[2018-08-15 14:44] blowmage opened #2306 "KMS Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to classes that are not documented, don't exist, or using the wrong namspace. For example, the link `{Google::Cloud::Kms::V1::KeyManag

[2018-08-15 14:52] blowmage opened #2307 "Language Documentation warnings"
We get the following warnings when generating the documentation. All of them look to be due to trying to link to classes that are not documented, don't exist, or using the wrong namspace. For example, the link `{Google::Cloud::Language::V1::LanguageService::AnalyzeEntities AnalyzeEntities}` is failing because the constant does not exist. This is a method, and in the GAPIC-generated client this is

[2018-08-15 14:55] blowmage opened #2308 "Logging Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

The text `"{project_id}"` is a YARD directive. To be valid YARD documentation it needs to be escaped, as `"\{project_id}"`.

It also has a couple warnings for documenting a parameter

[2018-08-15 15:13] blowmage commented on #2282
@quartzmo Can you manually fix the JSON files so the URL provided in this issue works?

[2018-08-15 15:45] jbolinger commented on #2213
No updates from my side @blowmage. I'd like to roll all new feature requests into the larger generator refresh unless there is some urgency, but that will take some time. Do you think we can wait and use the suggested workaround for the next few months or do you think this is a high priority?

[2018-08-15 16:34] sduskis commented on #2295
@blowmage, are these warnings release blockers?

[2018-08-15 16:45] blowmage commented on #2295
Probably not. Its all documentation related. Every other gem with these types of errors is already released. Some of them even GA.

[2018-08-15 16:51] blowmage commented on #2213
We can add a workaround on our side until the generator is updated, if everyone is okay with us modifying the GAPIC files. But the change we would make depends on what is wanted. Do you want to expose and document the client's `operations_client` object, and have users chain calls to get the operation? (`client.operations_client.get_operation op_name`) Or do you want a `get_operation` method added

[2018-08-15 18:08] jbolinger commented on #2213
@blowmage the timing is what I wanted to chat about next week. It should be a this year thing, but still not sure exactly when it's going to happen.

I think we should keep as much as possible within `Google::Gax::Operation` (i.e. cancel, delete, etc.) but we could add something for get and list. I don't have a strong opinion on adding the methods to the client vs. exposing the `operations_client`

[2018-08-15 18:54] blowmage commented on #2213
The more I've looked at it, the more I strongly favor adding methods to the client. I understand the arguments for only adding the `get_operation` and `list_operations` methods, and I would be okay with just those two.

@dazuma could this be added to `synth.py` as a gap solution until the new generator is implemented?

[2018-08-15 20:27] dazuma commented on #2233
Hmm, those docs files aren't getting generated. There might be a config missing. I'll investigate.

[2018-08-15 20:47] dazuma commented on #2213
Since speech is already a partial GAPIC, can we just add the methods to the `helpers.rb` files that are already present?

[2018-08-16 09:54] Mexxerio commented on #2150
I have the same issue.
I'm running rails 5.2 in a kubernetes container and the agent doesn't register automatically. I have to start it manually as well in order to see it in the debugger dashboard.

[2018-08-17 12:17] tobsch opened #2310 "Stackdriver exception handling shows "gke_instances" as context"
Hi there,

I'm not sure if it possible: For all exceptions I see "gke_instances" as context. Is there a chance to tag each project that I run on k8s individually?

Tobias

[2018-08-17 16:26] blowmage commented on #2310
@dazuma do you know the answer to this?

[2018-08-17 18:10] blowmage commented on #2271
@Draiken Please try google-cloud-pubsub 0.32.0. It overhauled the Subscriber threading and hopefully won't cause additional GRPC cleanup. Let us know how it performs and if it satisfies this issue.

[2018-08-18 00:08] dazuma commented on #2310
@tobsch I'm guessing that you're _not_ using the `stackdriver` gem or the `google-cloud-error_reporting` gem to report exceptions. If you are using those gems, then you should be able to set the `Google::Cloud.configure.service_name` configuration to set the context.

But if you're not, then probably what you're seeing is stackdriver's attempt to parse exceptions printed to standard out. In that c

[2018-08-18 11:42] blowmage opened #2312 "Monitoring Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to classes that are not documented, don't exist, or using the wrong namspace. For example, the link `{Google::Monitoring::V3::Notifica

[2018-08-18 11:44] blowmage opened #2313 "OSLogin Documentation warnings"
We get the following warnings when generating the documentation. All of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

Here are the warnings:

[code]

[2018-08-18 11:56] blowmage opened #2314 "Pub/Sub Documentation warnings"
We get the following warnings when generating the documentation. All of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

Here are the warnings:

[code]

[2018-08-18 12:00] blowmage opened #2315 "Redis Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to classes that are not documented, don't exist, or using the wrong namspace. For example, the link `{Google::Cloud::Redis::V1beta1::C

[2018-08-18 12:06] blowmage opened #2316 "Spanner Documentation warnings"
We get the following warnings when generating the documentation. Most of them look to be due to use of a generic templating syntax that needs to be escaped. For example, consider the following documentation:

[code]

It also has a handful of warnings trying to link to classes that are not documented, don't exist, or using the wrong namspace. For example, the link `{Google::Spanner::V1::Spanner::Ex

[2018-08-18 12:34] blowmage opened #2318 "Speech Documentation warnings"
We get the following warnings when generating the documentation. The first half will be fixed by #2311. The second half are from the Operations request and response objects. If we aren't exposing `OperationsClient` _or_ `Operations`, then I don't know how much sense it makes to document the request/response types. It would be much more helpful to document `Google::Gax::Operation` IMO.

Here are th

[2018-08-18 13:39] blowmage commented on #2206
Hi @hellupline and @vnbrs, we recently released version 0.32.0, with additional changes that should benefit long running subscribers. It would really help if you could try it out. We hope this is the last release before the gem goes 1.0.

[2018-08-18 14:48] Fonsan opened #2319 "BIGTABLE_EMULATOR_HOST support"
https://cloud.google.com/bigtable/docs/emulator

My attempt at running the V2 Bigtable client against a local emulator:

I figured out that I needed to add support for passing on `:this_channel_is_insecure` to the client sub
so I added the following code in the *Client classes
[code]
My attempt:
[code]
[code]

[2018-08-18 15:13] dazuma commented on #2235
Fixed via a synth transform. googleapis/gapic-generator#2232 will track fixing it in the generator.

[2018-08-18 15:13] #2235 closed

[2018-08-20 14:15] tobsch commented on #2310
@dazuma
I am using the stackdriver gem. It could be that it's not being used for exceptions for whatever reason - Do you see any? I just included it as gem in the production group and request time tracing seems to work.

The exceptions look strange anyways, I can imagine that it automatically parses exceptions since I changed the scope of my kubernetes cluster to allow this?

[2018-08-20 14:58] sgringwe opened #2322 "Google Pub/Sub 14:Deadline Exceeded and Google::Cloud::UnavailableError"
Environment: GKE 1.10.2.
Library version: 0.31.1

Gemfile.lock section:

[code]

We are seeing a "bad state" that our pods get into. So far, this has only affected publishing. When a pod gets into a bad state, publishing of messages gives frequent errors that look like below stacktrace.

We have discovered that about 10 minutes before a pod goes into this bad state, we see two log messages like th