[2016-10-14 16:13] Capstan commented on #955
Maybe `bucket.signed_url`for URL operations on existing buckets (list objects, write new object) and `storage.signed_url` for URL operations to create new buckets.

[2016-10-14 16:38] frankyn commented on #971
I don't want to leave you hanging Mike, I have forwarded your questions and waiting on a response!

[2016-10-14 16:41] filipjs commented on #971
Hi. We do not have a timeline yet for the field removal, but most likely that will happen in a couple of months. If you have an option to change your code to use resource_names, please do so.
Yes, we are in the process of renaming our docs from v2beta1 to v2, and there are no other changes planned. The endpoints also do not change.

[2016-10-14 19:42] blowmage commented on #971
@filipjs If a user is using the current release of the google-cloud-logging library, and does not upgrade to a new version that uses the new field, will their client stop working? Are you removing the field from the published protobufs? Or are you removing the field from the server API?

[2016-10-14 21:03] filipjs commented on #971
It will continue to work until it's removed from the protobuf, which means the service will stop accepting it.

[2016-10-14 22:10] blowmage opened #976 "Convert Speech to google-gax 0.6"
Switch Speech to use the longrunning code in the latest google-gax. Update the dependency to make sure it is always available.

[2016-10-14 22:35] #883 closed

[2016-10-14 23:09] gguuss commented on #966
I'm authenticating using default application credentials from the gcloud tool. All of the relevant code is from the [Ruby Vision sample](https://github.com/GoogleCloudPlatform/ruby-docs-samples/) and is completely unchanged.

The client library does not seem to correctly detect the project name so explicitly setting it on the path is necessary `using export GOOGLE_CLOUD_PROJECT="ANY_STRING_WORKS"`

[2016-10-15 16:01] #966 closed

[2016-10-15 18:09] #956 closed

[2016-10-15 18:39] blowmage commented on #966
The `project_id` is now being used and sent in an HTTP header and so this issue is closed. The larger discussion about retrieving the `project_id` from the gcloud SDK credentials should continue on #951.

[2016-10-15 18:50] quartzmo commented on #966
@gguuss Is it ok to close this issue given that a solution for #951 will automate setting the project name when authenticating with the `gcloud` tool and using the application default credentials? It's not quite the same as not requiring the project, so I want to be sure you are ok with the difference.

[2016-10-15 18:59] blowmage commented on #706
I suspect #975 may help this issue as well.

[2016-10-15 20:22] gguuss commented on #966
Thanks @quartzmo @blowmage - I'm all for closing the issue.

[2016-10-17 00:56] quartzmo commented on #226
In order to test that all examples can be run without error, yard-doctest appears to require modifications to support the following:

1. Execute all examples, including examples without output assertions (`#=>`).
1. Execute output assertions (`#=>`) that occur within blocks (see [comment on PR #969](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/969#issuecomment-254089595)).

[2016-10-17 15:13] blowmage commented on #226
Sounds like doctest should be using something like rubyparser instead of splitting the example source code string on `#=>`.

[2016-10-17 15:15] blowmage commented on #226
Either that, or the example source code string could be modified to add the assertions, but only eval'd once.

[2016-10-17 17:59] blowmage commented on #361
Gonna keep the names as they are.

[2016-10-17 17:59] #361 closed

[2016-10-18 04:43] #893 closed

[2016-10-18 15:16] blowmage commented on #831
This should have been re-closed by abcf98e.

[2016-10-18 15:16] #831 closed

[2016-10-18 17:17] voidmain commented on #818
I'm experiencing this issue with `google-cloud` gem version `0.20.1`. I'm also seeing issues with `openssl` on OS X Sierra. Everything seems to be failing when trying to compile `grpc` because it isn't using the binary versions.

[2016-10-18 17:30] hxiong388 opened #980 "Google::Cloud::Logging::Entry.extract_timestamp returns Time object with wrong precision"
Google::Cloud::Logging::Entry.extract_timestamp method calls
[code]
The nano second division logic returns wrong time precision. See this snippet:
[code]

[2016-10-18 17:33] hxiong388 commented on #980
One solution to fix this precision problem is to change code to:
[code]
This should maintain correct time precision.

[2016-10-18 17:36] blowmage commented on #980
Awesome. Thanks so much for the report and the solution. Are you working on a PR for this or should I?

[2016-10-18 17:40] hxiong388 commented on #980
I'm almost have the PR ready. :)

[2016-10-19 04:24] #955 closed

[2016-10-19 12:56] blowmage commented on #818
Sorry to hear. I thought the GRPC team had fixed the install issues. Can you open an issue on grpc/grpc that includes the full output when installing the gem?

[2016-10-19 18:53] #980 closed

[2016-10-19 19:47] blowmage commented on #305
Hey @tattansp, I spent some time on this and ran into issues when uploading a non-File IO object. By that I mean the file contents are provided in a StringIO object instead of a File object. The problem is that after uploading the file contents subsequent Storage API calls will fail. I suspect that somehow the upload process is being left open. Unfortunately I haven't been able to diagnose this co

[2016-10-19 20:20] #869 closed

[2016-10-19 20:54] swcloud opened #986 "Add GRPC documentation class for all GAPIC-enabled APIs"
Currently there are no documentation info available in GRPC classes (generated from protobuf). We should deliver classes containing documentation for these GRPC objects so that they are part of a gem and hence the documentation will be available on the rubydoc.info site.

[2016-10-20 07:27] #900 closed

[2016-10-20 07:27] #976 closed

[2016-10-20 20:24] dazuma commented on #898
Closing this, since the AsyncWriter work has been merged.

[2016-10-20 20:24] #898 closed

[2016-10-20 20:38] blowmage commented on #898
Thanks Dan!

[2016-10-22 00:19] hxiong388 opened #989 "Error Reporting Middleware doesn't work for Rack based frameworks other than Rails"
The middleware currently only creates valid HTTP status code when used in Rails applications. In other Rack based frameworks, the error event created by middleware has default 0 for HTTP status, then the error reporting process gets terminated prematurely by [this code](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/17f8d1412a26439afef6c2dbef65ad4eba5cfd62/google-cloud-error_reporti

[2016-10-23 10:13] FX-HAO commented on #818
Unfortunately i got this issue with the 1.0.0 again :(

[2016-10-24 20:33] remi opened #993 "Language : polarity only returns 0.0"
I'm using the language API to do sentiment analysis but the polarity that I'm receiving back is always 0.0

I expect `polarity` to be:

Here is an example of calling [`documents.analyzeSentiment`](https://cloud.google.com/natural-language/reference/rest/v1beta1/documents/analyzeSentiment) using the autogenerated REST client [[2](https://github.com/google/google-api-ruby-client/blob/403cf9f9e98f5e0

[2016-10-24 22:11] #989 closed

[2016-10-24 23:09] quartzmo opened #994 "Should all RubyGems URLs use SSL?"
I just noticed that [google-cloud-error_reporting/Gemfile](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-error_reporting/Gemfile) and [google-cloud-monitoring/Gemfile](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-monitoring/Gemfile) use SSL to access rubygems.org (`source 'https://rubygems.org'`), while the older Gemfiles do

[2016-10-24 23:48] quartzmo commented on #993
@remi Thanks for reporting this. I was about to comment that google-cloud-ruby has [acceptance testing](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-language/acceptance/language/text_test.rb#L30) asserting a `polarity` of `1.0` for a given sample string, when I noticed these errors in our [latest Travis CI build](https://travis-ci.org/GoogleCloudPlatform/google

[2016-10-24 23:56] quartzmo commented on #993
The fixture in the unit test [`sentiment_test.rb`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-language/test/google/cloud/language/annotation/sentiment_test.rb#L18-L23) looks ok to me compared to ([v1beta1/Sentiment](https://cloud.google.com/natural-language/reference/rest/v1beta1/Sentiment)), and this test is currently passing.

[2016-10-25 00:04] quartzmo commented on #993
The version of `google-gax` was [recently updated](https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/3b157ca1663e63658d9c7a211339d3ecd0af141e) to `0.6.0`. I tried running the acceptance tests after reverting to `0.5.0`, but this does not fix the issue.

[2016-10-25 17:38] blowmage commented on #993
I've looked into this using the recently released google-cloud-language 0.21.0 and the older google-cloud-language 0.20.2. Near as I can tell the GRPC API is returning `0.0` for all requests. Meaning, this is not a problem with google-cloud-language, but a problem with the upstream API. The REST/JSON API is behaving correctly though, so this seems to be a problem with the GRPC endpoints.

[2016-10-25 17:39] blowmage commented on #994
We should be using HTTPS across the board. I would also like to see the Gemfile, gemspec, and Rakefile files all consistent across the gems.

[2016-10-25 20:55] remi commented on #993
I filed a bug with the engineering team.  Waiting on response.

[2016-10-25 22:44] quartzmo commented on #994
@blowmage Can you link to examples of correct and incorrect usages?

[2016-10-25 22:46] blowmage commented on #994
Usages of what?

[2016-10-25 22:49] quartzmo commented on #994
Anything you know of that is currently inconsistent in Gemfile, gemspec, and Rakefile files. Feel free to open new issues, or just add to this one. Or do you want to just fix them in a PR sometime?

[2016-10-25 22:54] blowmage commented on #994
Inconsistent doesn't mean incorrect. But it would be easier to search/replace dependencies if the gemspec files looked similar, for example.

I don't think every inconsistency needs its own issue though.

[2016-10-26 22:19] Ricowere opened #997 "Outdated references to google/apis/vision_v1?"
Hi guys!

After having installed the version `'0.21.0'` of google-cloud-vision and following carefully the documentation (awesome docs by the way) that it's provided, I was stuck with a weird error.

`#<LoadError: cannot load such file -- google/apis/vision_v1>"`

After researching a bit in the gem I've discovered there are references in the code that may are outdated given the fact you're using p

[2016-10-26 22:22] blowmage commented on #997
Hi @Ricowere, thank you for opening the issue. Indeed, the latest release, 0.21.0 moved the implementation from using the Google API Client library to using GRPC and the generated protobuf code. These requires should have been removed. We will fix this and release a fix ASAP.

[2016-10-26 22:39] blowmage commented on #993
@remi, polarity seems to be working again. Can you confirm?

I just got this in my console:

[code]

[2016-10-26 22:52] remi commented on #993
Confirmed.  And I can confirm an API update that fixes this.  Closing! 😄

[2016-10-26 22:52] #993 closed

[2016-10-27 02:27] #997 closed

[2016-10-27 09:50] Ricowere commented on #997
@blowmage thanks! It was very quick.

[2016-10-27 13:20] blowmage commented on #997
@Ricowere This is fixed in google-cloud-vision 0.21.1. Please upgrade and let us know if that works for you. Thank you very much for reporting this issue to us!

[2016-10-27 22:42] Ricowere commented on #997
@blowmage `google-cloud-vision 0.21.1` working fine 💪 . Thanks guys.

[2016-10-31 19:35] blowmage opened #1004 "Update doctest examples"
The latest [version of yard-doctest](https://github.com/p0deje/yard-doctest/compare/v0.1.7...v0.1.8) has made it so several doctest examples now fail. The project [pinned the dependency to the previous release](https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/90ff2b1e0c273d8e5c3059b54f7617523a208072), but we should fix the examples and upgrade to the most recent release.

[2016-10-31 21:10] #908 closed

[2016-10-31 21:10] #994 closed

[2016-10-31 21:26] quartzmo commented on #913
This was fixed by the PRs linked above, and has been applied to the site.

[2016-10-31 21:26] #913 closed

[2016-10-31 22:37] quartzmo commented on #912
This was fixed today by updating `gcloud/docs/toc.json` in #1002.

[2016-10-31 22:37] #912 closed

[2016-10-31 22:39] quartzmo commented on #544
Fixed by the transition to gcloud-common Site.

[2016-10-31 22:39] #544 closed

[2016-10-31 22:43] quartzmo commented on #506
Closed by #992.

[2016-10-31 22:43] #506 closed

[2016-10-31 22:43] quartzmo commented on #1004
refs #226

[2016-10-31 22:45] quartzmo commented on #723
This is related to #808.  It should be resolved by documenting GAX `client_config` in most services.

[2016-11-01 15:32] #193 closed

[2016-11-01 15:32] #740 closed

[2016-11-01 22:28] blowmage commented on #723
Agreed. Backoff has been removed completely, so this could probably be closed.

[2016-11-02 14:55] quartzmo commented on #723
Closed by #959.

[2016-11-02 14:55] #723 closed

[2016-11-02 18:14] tswast opened #1008 "Support generic Batch HTTP requests"
We got feedback on this page that we don't have any code samples. https://cloud.google.com/bigquery/batch

The API clients support batch requests, https://developers.google.com/api-client-library/java/google-api-java-client/batch but I don't think the Cloud libraries do.

[2016-11-02 18:54] mustela opened #1009 "Difference between google/google-api-ruby-client and google-cloud-ruby"
Hey everyone, I'm starting an integration with Google Vision, and I realized that there are 2 libs from Google that supports it, this one and this one: https://github.com/google/google-api-ruby-client.

Wondering which is the difference and which one is the recommended one?

Thanks

[2016-11-02 19:18] quartzmo commented on #1009
Hi @mustela,

I am an open-source contributor to this library, so do not consider this an official answer from Google, but here is my own explanation which may help you decide.

Unlike `google-api-ruby-client`, which is a generated library that provides support for [a wide range of Google APIs](https://developers.google.com/api-client-library/ruby/apis/), this library has been hand-written in orde

[2016-11-02 19:29] mustela commented on #1009
Thanks @quartzmo! Those are good details. And it's true that I would use `google-cloud-vision` instead of the other one since it "feels" better, but do you know if there is plan to support other APIs like Drive for instance? Since the lack of this API would force me use the other one to not have 2 different ways to connect to the Google services.

Thanks

[2016-11-02 19:50] quartzmo commented on #1009
I don't think Drive will be supported by this library anytime soon, but of course I don't know the future, so I'm not absolutely certain of that.

I hope you will try this library for Cloud Vision, even if you need to use `google-api-ruby-client` for Drive. In addition to the "feel" (by which I really mean, a clear and concise API, boosting productivity), @blowmage and I worked hard on the [docume

[2016-11-02 20:35] #1009 closed

[2016-11-02 21:59] hxiong388 opened #1011 "Error Reporting instrumentation error on Rails startup"
Right now when user tries to use Error Reporting instrumentation with Rails app, they get this error on Rails startup:
[code]

I think this bug is introduced during the refactoring commits in PR #961.

[2016-11-02 22:00] blowmage commented on #1011
cc @hxiong388

[2016-11-02 22:25] mustela commented on #1009
Thanks for your time, this was really useful!

[2016-11-03 10:49] mberrueta opened #1014 "Validating the vision API"
Hello,
I have a question regarding the validation for the API
For the  translate API I'm able to set the API key by code, but for vision I always need the json file ?

[code]
is there any way to do something similar? (seems clear) like

[code]

[2016-11-03 16:03] quartzmo commented on #1014
Hi @mberrueta,

Good question, thanks for asking! Yes, you are correct. For all services except Google Translate API (which currently depends on an API key), the `google-cloud` libraries are intended to be used with [service account](https://cloud.google.com/docs/authentication#user_accounts_and_service_accounts) credentials, as explained in the [authentication guide](https://googlecloudplatform.g

[2016-11-03 16:07] mberrueta commented on #1014
Hello @quartzmo, pretty clear, thanks so much for the response.
It works perfect with the json.

[2016-11-03 16:07] #1014 closed

[2016-11-03 16:09] quartzmo commented on #1014
@mberrueta You bet. Enjoy using it, Vision API is so much fun! And do not hesitate to let us know if you find anything we can improve.

[2016-11-03 16:17] mberrueta opened #1015 "Vision Api - best performance question"
Hello all

Wondering in performance, I have currently my images stored in S3 and to get the tagging, I will need to download from the API, and then send to vision ( there are no way to send a public link to vision if I didn't seek bad)

It is (pretty sure it do) faster if instead of S3, I upload to GS and then send to vision with the gs path?
In other words, vision api take the image from GS and m

[2016-11-03 16:22] quartzmo commented on #1015
If you can upload your images to Google Storage instead of S3 in the first place, I believe that is the best approach, both for simplicity and performance. Please be sure to comment on this issue after you've tried it! We really appreciate hearing about real-world experiences.

[2016-11-03 16:26] quartzmo commented on #1015
Regarding performance in general, be sure to read the [official Cloud Vision API guides: Best Practices](https://cloud.google.com/vision/docs/best-practices), especially the section on file sizes.

[2016-11-03 16:39] mberrueta commented on #1015
Thanks @quartzmo , I will take this into account.

I'm seeking a way to upload directly from the client side (angular - without my API) to GS, and then call vision from my backend API.

I will post here my thoughts / conclusions

[2016-11-03 21:51] quartzmo commented on #1015
@mberrueta You might ask the maintainers of [google-cloud-node](https://github.com/GoogleCloudPlatform/google-cloud-node) if they have any ideas about client-side uploads to Google Cloud Storage. I recall that some time ago there was a `google-cloud-node` issue for client-side support, but I don't think it was ever implemented. I do believe they have considered it at some point.

I'll close this i

[2016-11-03 21:51] #1015 closed

[2016-11-03 22:00] hxiong388 commented on #1011
Closed by [PR#1013](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1013)

[2016-11-03 22:00] #1011 closed

[2016-11-04 01:22] #1004 closed

[2016-11-04 18:35] hxiong388 opened #1021 "Logging:Railtie class isn't use the async_writer"
The Logging::Railtie initializer code is using Logging::Logger.new instead of Logging::Project.logger. This causes the logger in question not to have the async_writer enabled and will have performance issue when large quantity of logs being fired.

[2016-11-04 19:33] hxiong388 opened #1022 "Logging should put timestamp on entries during creation"
The async_writer has a performance feature of log entries batching that reduces number of gRPC requests. Since the Logging:Logger doesn't create entries with timestamp, the Stackdriver Logging service fills in the timestamp at time of receiving, which implies all the log entries in a batch to have same timestamp. The design is acceptable in most cases, but has couple potentially problems:
1. Witho

[2016-11-04 20:00] quartzmo opened #1023 "DNS Zone supports creating Record, but not adding Record"
The docs for [`Zone#record`](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-dns/lib/google/cloud/dns/zone.rb#L307-L323) state:

And the example shows this as well:

[code]

However, while working on testing examples for #226, I discovered that `Zone#add` does not accept a record:

[code]

I cannot find any way to save the transient `Record` instance returned by `

[2016-11-04 20:03] blowmage commented on #1023
I believe the code example is wrong. It should be the following:

[code]

Only `update` takes Record objects. The `add` method take the individual record values, same as `record`. This is all documented in the method parameters. Only the code examples is wrong.

[2016-11-04 20:13] quartzmo commented on #1023
Thanks, I'll fix the example in my PR for DNS example testing.

[2016-11-05 01:36] #1021 closed

[2016-11-05 01:37] #1022 closed

[2016-11-08 16:13] quartzmo commented on #1023
Closed by PR #1026.

[2016-11-08 16:13] #1023 closed

[2016-11-08 23:53] frankyn opened #1032 "Outdated version of gems being installed when using gem "google-cloud""
What went wrong:
I was trying to include all the sub-gems in "google-cloud" and the gem versions (0.20.1 or 0.20.2) didn't match the latest version in the README (0.21.0). Reproduction steps are listed below.

Steps to reproduce:
1. Create a Gemfile (with source)
2. add **gem 'google-cloud'** [example](https://gist.github.com/frankyn/1ecbb5443b1a4c7f0373775bad23e353)
3. bundle install  (prints) --

[2016-11-08 23:59] blowmage commented on #1032
What version of ruby are you using? And what version of bundled do you have installed?

[2016-11-09 00:00] frankyn commented on #1032
Bundler version 1.13.4
Ruby: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]

[2016-11-09 00:02] hxiong388 commented on #1032
Do you previously have google-cloud 0.20 installed? In that case, your first call to bundle install could've just reused the existing v0.20 installation, instead of grabbing the latest 0.21 version.

[2016-11-09 00:02] remi opened #1033 "`gem install google-cloud` fails with dependency on google-cloud-error_reporting"
If I `gem install google-cloud` as shown in the [quickstart](https://github.com/GoogleCloudPlatform/google-cloud-ruby#quick-start), I get a failure:

[code]

[2016-11-09 06:50] blowmage commented on #1033
I've got a repo, when installing 0.20.0:

[code]

But when installing 0.21.0:

[code]

I've inspected the google-cloud and google-cloud-error_reporting gems, and their registration on rubygems.org, and everything looks to be correct. I don't see a reason for why the install is behaving this way.

[2016-11-09 07:02] blowmage commented on #1033
When using bundler and switching the dependency from 0.20.0 to 0.21.0 in the Gemfile I get the following error:

[code]

I don't understand where this behavior is coming from. The gem is available on rubygems. I suspect a bug in rubygems or the rubygems API, but I'm not sure where.

[2016-11-09 15:37] blowmage commented on #1032
I haven't been able to reproduce this. But I suspect it is related to #1033.

[2016-11-09 16:01] blowmage commented on #1033
So, near as I can tell, there is a bug in the rubygems API that is causing this.

If you look at the gem as it is defined on the rubygems API, the dependency on `google-cloud-error_reporting` is listed: https://rubygems.org/api/v1/gems/google-cloud.json

[code]

But, the rubygems CLI makes a different API call when installing, and this API does not list the `google-cloud-error_reoporting` dependen

[2016-11-09 16:37] frankyn commented on #1032
Thanks @blowmage, I'll watch that issue.

[2016-11-09 19:05] hxiong388 commented on #1033
I spent almost two hours yesterday diagnosing this bug. I read like 10 posts on the topic of gem dependencies, and still can't figure out why this is happening.

[2016-11-09 19:36] blowmage commented on #1033
I'm convinced this is a problem in the rubygems API. Something is caching an incomplete set of dependencies.

[2016-11-09 20:51] blowmage commented on #1033
We've fixed this. The root cause was that the rubygems API was showing incomplete dependencies for the `google-cloud` 0.21.0 gem. I think the dependencies were cached and there is no way to flush or rebuild the cache. So we released `google-cloud` 0.21.1 and that has fixed the dependency data for 0.21.0.

More info here: rubygems/rubygems.org#1489

[2016-11-09 20:52] blowmage commented on #1032
@frankyn Can you try this again? We found a problem with data being served by the rubygems API and I suspect this was the cause of the behavior you experienced. But I was never able to properly reproduce the behavior, so I can't say for sure.

[2016-11-09 21:26] quartzmo commented on #1033
Nice job @blowmage. It was impressive to pair with you on this and see you dig into the rubygems API and diagnose the issue. I assume you are waiting for @remi to verify, and close this issue?

[2016-11-09 23:19] blowmage commented on #1033
Yeah, if we can get confirmation that it works now then it can be closed.

[2016-11-09 23:25] hxiong388 commented on #1033
It's now working for me:
[code]

[2016-11-10 00:45] bjwatson commented on #1008
@quartzmo @blowmage I checked with @tswast, and we can wait on this until post-beta.

[2016-11-10 01:47] blowmage commented on #1008
kk

[2016-11-10 14:27] mberrueta opened #1035 "Vision image from buffer"
Hello, there is possible in any way to send to vision a image that I don't have in my fs?

My use case is that I will send a image that is on internet (I have the url only) so could be great send url, or at least a buffer in memory to avoid write the file in a temp file in my file system.

[2016-11-10 17:04] blowmage commented on #1035
Hi @mberrueta, Vision will accept an IO-ish object for the image data. So, you could read in the image from a URL, store the data in something like StringIO, and pass that to Vision.

Here is some code that does just that. It uses `open-uri` to retrieve the contents of an image from a URL. The `image` object is an instance of StringIO. Then we pass that object to vision to get the text of the imag

[2016-11-10 17:24] quartzmo commented on #1033
@remi Can we close this?

[2016-11-10 17:25] quartzmo commented on #1032
@frankyn We believe this is resolved. Can you test, and if it works now for you, close?

[2016-11-10 17:35] frankyn commented on #1032
Thank you!

I don't have a version issue anymore with this update.

Feedback: When I use "gcloud" it will download all related gems to "gcloud" and "google-cloud". If I use "google-cloud" it will only include "google-cloud" gems.

[2016-11-10 18:53] quartzmo commented on #1008
@bjwatson Thanks for looking into this!

[2016-11-10 18:54] blowmage commented on #1032
That is correct. The old name of the library was `gcloud`, but the new name is `google-cloud`. So all `gcloud` does is alias the constant `Gcloud` to `Google::Cloud` to maintain backwards compatibility.

[2016-11-10 18:55] blowmage commented on #1032
Fantastic! I'll mark this as closed then. Thank you for opening the issue and making us aware of this.

[2016-11-10 18:55] #1032 closed

[2016-11-10 18:56] blowmage commented on #1033
We have confirmation #1032 is fixed, so Imma close it. Please reopen if this is still an issue.

[2016-11-10 18:56] #1033 closed

[2016-11-10 20:24] bjwatson commented on #1008
No problem.

[2016-11-10 20:38] mberrueta commented on #1035
Awesome @blowmage it works nice!

thanks sooo much

[2016-11-10 20:38] #1035 closed

[2016-11-10 21:47] dazuma opened #1036 "Core environment functions incorrect for GAE Flex"
I noticed that when the new GAE Flex beta is in play (i.e. "env: flex"), the GAE-related functions in Google::Cloud::Core::Environment are incorrect. They are correct for the old MVM "vm: true" environment, however.

Here's an example ENV that I captured for env: flex

{"RBENV_VERSION"=>"2.3.1", "HOSTNAME"=>"788bbc098536", "NOKOGIRI_USE_SYSTEM_LIBRARIES"=>"1", "DEFAULT_RUBY_VERSION"=>"2.3.1", "GAE

[2016-11-11 23:12] quartzmo opened #1037 "Syntax: Use `analyze_syntax` where possible"
Use the new API method `analyze_syntax` instead of `annotate_text` when appropriate. Ensure that syntax support is symmetrical to entities and sentiment.

[2016-11-11 23:13] quartzmo opened #1038 "Syntax: Add new attributes to part_of_speech"
Change `token.part_of_speech` from symbol to object. Move current value to `tag` attribute, add all new attributes.

[2016-11-11 23:14] quartzmo opened #1039 "Entities: Add EntityMention.type attribute"
Return value should be a symbol since this is an enum field (two values).

[2016-11-11 23:14] quartzmo opened #1040 "Entities: Add Entity#mid"
Value returned is a string. This attribute is the same as `Entity#mid` in Vision, although it may be exposed differently in the Natural Language API.

[2016-11-11 23:15] quartzmo opened #1041 "Sentiment: Add Sentence#sentiment"
If possible, it should return the same `Sentiment` type as the entire document.

[2016-11-11 23:16] quartzmo opened #1042 "Sentiment: Replace polarity with score"
The new attribute `score` is different from `polarity`, so do not alias `polarity` to it.

[2016-11-11 23:16] quartzmo opened #1043 "Sentiment: Add sentences, with Sentiment at sentence level"
Response of analyzeSentiment now has "sentences".
Sentence message now has a sentiment message.

[2016-11-11 23:17] quartzmo opened #1044 "Sentiment: Add encoding_type param to Project#sentiment, Document#sentiment"
EncodingType is added to the analyzeSentiment request.

[2016-11-11 23:20] quartzmo opened #1045 "Update Natural Language docs and guides"
Update docs using new content from https://cloud.google.com/natural-language/docs/, as soon as it is available.

- [x] Update language limitations to full support for English, Spanish, and Japanese
- [x] Update all Syntax examples to use new `syntax` method. (#1037)
- [x] Resolve all docs `TODO`s (Most or all will be found in `PartOfSpeech`. (#1038)
- [x] Improve descriptions of `EntityMention.typ

[2016-11-12 01:29] quartzmo opened #1046 "Add Support for OAuth 2.0 and service account"
OAuth Scope: `https://www.googleapis.com/auth/cloud-platform`
API key auth must remain supported. If API key is provided then use it, otherwise use OAuth.

[2016-11-12 01:32] quartzmo opened #1047 "Use new base URL for Translation"

[2016-11-12 01:36] quartzmo opened #1048 "Support new model attribute"
This is both:

- [ ] a parameter
- [ ] a return value

The implementation should pass the original string value of `model` to/from REST API. The library shouldn’t do any validation or post-processing of `model` values.

[2016-11-12 01:38] quartzmo opened #1049 "Switch to POST with JSON payload"
Note that API key can’t be sent in JSON POST payload, it should still be passed in URL as a `key=INSERT_KEY` parameter.

[2016-11-14 22:36] #1046 closed

[2016-11-14 22:36] #1047 closed

[2016-11-14 22:36] #1048 closed

[2016-11-14 22:36] #1049 closed

[2016-11-14 23:58] #1037 closed

[2016-11-14 23:58] #1038 closed

[2016-11-14 23:58] #1039 closed

[2016-11-14 23:58] #1040 closed

[2016-11-14 23:58] #1041 closed

[2016-11-14 23:58] #1042 closed

[2016-11-14 23:58] #1043 closed

[2016-11-14 23:58] #1044 closed

[2016-11-14 23:58] #1045 closed

[2016-11-15 20:08] remi opened #1053 "Language sentiment example is ambiguous and does not return score or magnitude"
I'm having trouble using the latest 0.22.0 version of google-cloud-language

I'm trying this sample, as shown in the docs: [Annotating documents](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.22.0/google/cloud/language#annotating-documents)

[code]

If I try running this, I get 0.0 for both values:

[code]

[code]

I also tried setting `GOOGLE_CLOUD_PROJECT` and `G

[2016-11-15 21:13] quartzmo commented on #1053
@remi Thanks for reporting this. I have been getting the same result since yesterday. However, with a less ambiguous sentence, I get non-zero return values (and I expect you will too):

[code]

I have been hoping that the service results will at some point once again return a value > 0.0 for our current example, but if it does not happen soon, perhaps we should change the example.

[2016-11-15 22:28] remi commented on #1053
Great!  Confirmed!  Same for me.

 - *"I love pizza.  Pizza makes me happy and pleased."* --> ~ 0.8, 1.7
 - *"I hate you.  I am so angry.  Horrible things!"* --> ~ -0.5, 1.7

Renaming the issue to better reflect that this is more a problem with the documentation being misleading (I thought it didn't work 😕 )

[2016-11-15 23:01] quartzmo commented on #1053
Thanks @remi. I was really hoping to use a more nuanced example. However, given the new sentence scoping of sentiment analysis, changing to a multi-sentence example is probably good, so I will also change to something unambiguous that produces a positive result.

[2016-11-15 23:53] remi opened #1054 "google-cloud-logging errors - uninitialized constant Google::Cloud::Logging::VERSION"
google-cloud-logging 0.21.1

`Google::Cloud::Logging::VERSION` is passed as the value for `app_version` but it is not loaded by `"google/cloud/logging"`

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/service.rb#L74

[code]

[2016-11-16 00:07] blowmage commented on #1054
I've reproduced this by loading the gem without use of a Gemfile and Bundler. Every other service requires the version file, but Logging does not. The reason we haven't seen this previously is because Bundler will load the gemspec, which also loads the version file.

[2016-11-16 03:40] #1054 closed

[2016-11-16 05:53] blowmage commented on #1054
Stackdriver Logging 0.21.2 is released with this fix. Thanks for being so diligent in examining these gems @remi!

https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-logging%2Fv0.21.2
https://rubygems.org/gems/google-cloud-logging/versions/0.21.2

[2016-11-16 07:05] frankyn opened #1056 "Necessary Gems not included when using "google-cloud-translate""
This error has occurred here: [ruby-docs-samples/pull/113](https://github.com/GoogleCloudPlatform/ruby-docs-samples/pull/113)

**Issue:**
When using "google-cloud-translate" gem without using "google-cloud" gem has the following error:
[code]

**A way to get around this error**
Adding "google-cloud" gem helped get passed this error, but this shouldn't be required.

[2016-11-16 07:27] blowmage commented on #1056
I've confirmed this. The `google-cloud-translate` gem depends on the `google-cloud-core` gem. A future release of the `google-cloud-core` gem will declare a dependency on `googleauth`, which depends on `faraday`. Unfortunately, the currently released version of the `google-cloud-core` gem does not have that dependency. I am pushing out a `google-cloud-translate` 0.21.1 release that corrects the mi

[2016-11-16 07:42] blowmage commented on #1056
Okay, the `google-cloud-translate` 0.22.1 gem has been released and should resolve this problem. Please verify if this change resolved this for you and close the issue if it does. If not, them please let us know.

https://github.com/GoogleCloudPlatform/google-cloud-ruby/releases/tag/google-cloud-translate%2Fv0.22.1
https://rubygems.org/gems/google-cloud-translate/versions/0.22.1

Here is the outpu

[2016-11-16 15:37] frankyn commented on #1056
Verified! Thanks @blowmage!

[2016-11-16 15:38] #1056 closed

[2016-11-16 23:09] #1053 closed

[2016-11-17 18:27] quartzmo opened #1059 "Should we use Circle CI for Linux builds and to publish to RubyGems?"
Due to long wait times on Travis CI, I am proposing that we *add* [Circle CI](https://circleci.com/) to the project, in order to get quicker confirmation that a PR passes on Linux.

This is not a proposal to replace either Travis CI or AppVeyor, which I think will still be needed for OS X and Windows builds, respectively.

[2016-11-18 06:19] kcore opened #1061 "creating partitioned tables via the api"
I tried searching in the repo as well but couldn't find any documentation or even source to create/handle partitioned tables. Am I missing something here OR is this not yet supported? If yes any ETA on the same?

[2016-11-18 13:54] blowmage commented on #1061
Hi @kcore, thanks for opening this issue. Unfortunately table partitioning is marked "experimental, and the current policy is not to add features/options that are marked `[Experimental]`., like BigQuery Dataset location, in order to avoid having to deprecate and remove them if they are discontinued. That said, we already support reading the value, as you noted, which is now inconsistent.

[2016-11-18 14:09] blowmage commented on #1061
Hi @kcore, thanks for opening this issue. Unfortunately table partitioning is marked `[Experimental]`, and the current policy is not to add features/options that are marked experimental. This is because those features can change, or be removed completely. There are other BigQuery features also marked experimental that we also are unable to support yet.

[2016-11-18 18:58] frankyn opened #1062 "Audio language: does not accept :en symbol"
### Context
http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-speech/master/google/cloud/speech/audio

I'm trying to use the Speech API Japanese recognition. I'm not sure what the symbol, but I'm guessing it's `:jp`. I tried the snippet with english (I understand it's set by default),  but it fails with an invalid argument for string field.

### Snippet
[code]
### Error
[c

[2016-11-18 19:17] blowmage commented on #1059
If CircleCI supported both Linux and OS X on the same build then we could drop Travis-CI completely. But I don't see how to enable that on CircleCI.

[2016-11-19 00:39] blowmage commented on #1062
Thanks for the report. Will get this fixed ASAP.

[2016-11-19 00:45] frankyn commented on #1062
Thanks! :+1:

[2016-11-19 05:11] kcore commented on #1061
got it. thanks @blowmage appreciate the quick response

[2016-11-19 05:11] #1061 closed

[2016-11-19 05:23] #1062 closed

[2016-11-19 17:55] blowmage commented on #1062
This is fixed in google-cloud-speech 0.21.1. PTAL.

[2016-11-21 14:57] HaipengSu opened #1067 "Memory leaked as all network endpoints were not shut down"
I got an interesting scenario when using google-cloud-pubsub.

I would like to get all the topics in the pubsub, and my code is,

from google.cloud import pubsub
def list_topics(pubsub_client):
    """Lists all Pub/Sub topics in the current project."""
  topics= pubsub_client.list_topics()
  for topic in topics:
      print topic.name

pubsub_client=pubsub.Client()
list_topics(pubsub_client)

I ke

[2016-11-21 15:05] HaipengSu commented on #1067
Sorry, I posted in the wrong module, should be in google-cloud-python

[2016-11-21 15:05] #1067 closed

[2016-11-21 16:30] quartzmo commented on #1059
We are now using CircleCI for publishing to RubyGems! Closing.

[2016-11-21 16:30] #1059 closed

[2016-11-21 17:53] frankyn commented on #1062
@blowmage It now accepts :en, but It doesn't complain if I provide an incorrect language code such as ":ddddd". I think that's too flexible without an error message to provide feedback.

Thanks for your help!

[2016-11-21 18:30] blowmage commented on #1062
We think its best to now check language codes in the ruby client. Language codes are checked during the API calls, and history has shown that supported language codes will change over time. If the ruby client adds a check for the code then we will eventually be in the position where the ruby client errors on a code that the API supports, or vice-versa.

[2016-11-21 19:35] frankyn opened #1068 "Speech Stream isn't understandable"
Context: https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.22.0/google/cloud/speech/project?method=stream-instance

I'm not sure what the correct sending rate is given a sample size of 44100Hz with 16bit rate. I was informed to send 88200 bytes per second, and I also tried brute forcing different values. The error message doesn't help and additional information in the

[2016-11-21 20:53] quartzmo commented on #570
Closing, as I believe this was addressed by #788.

[2016-11-21 20:53] #570 closed

[2016-11-21 20:56] #656 closed

[2016-11-21 20:58] hxiong388 commented on #1068
I got this working on a .flac file, which is at 44100Hz, and I sent 88200 bytes per second (44100Hz * 1 channel * 16 bits = 88200 bytes per sec ).

Have you varified your .raw file is recorded at 44100Hz? Cause normally .raw file comes at 16000Hz I think. In case your raw file is at 16000Hz sample rate, then the sample size should be 16000Hz * 1 channel * 16 bit = 32000 bytes per sec.

[2016-11-21 20:58] quartzmo commented on #808
I believe this has been resolved by exposing the GAPIC client configuration. But please feel free to reopen if you still encounter issues with retry.

[2016-11-21 20:58] #808 closed

[2016-11-21 20:59] quartzmo commented on #899
@timanovsky Is this still an issue? If not, can you close?

[2016-11-21 21:06] quartzmo commented on #896
@blowmage and I have discussed this, and do not feel that google-cloud-datastore should wrap this exception, since it is unexpected and not related to the behavior of the Datastore service. @timanovsky Is it OK with you if we close this issue?

[2016-11-21 21:18] frankyn commented on #1068
Playing using `play` the following is printed:
[code]

[2016-11-21 21:19] quartzmo commented on #562
Is this something we want to take action on?

/cc @dazuma @hxiong388

[2016-11-21 21:20] blowmage commented on #1068
Are you sending the entire file at once? Or are you spacing the upload to it takes ~5 seconds?

[2016-11-21 21:20] frankyn commented on #1068
The spacing is ~1 second. I wasn't aware of the ~5 second spacing. I'll try that.

[2016-11-21 21:24] frankyn commented on #1068
I get an error of:
[code]

The script is the same as posted except the sleep time was extended to ~5 seconds.

[2016-11-21 21:29] blowmage commented on #1068
Oh, sorry. The `play` output showed the audio was one minute long, so it should take ~one minute to upload. My mistake, I thought it said 5 seconds.

[2016-11-21 21:48] frankyn commented on #1068
No worries. Hmm, I'm not sure what I might be going wrong.

[2016-11-21 21:51] blowmage opened #1070 "Support BigQuery Query Parameters"
[Query Parameters](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.query.queryParameters) are no longer marked `[experimental]`, so we should support them!

[2016-11-21 21:54] quartzmo opened #1071 "Document Datastore low-level API (GAPIC code)"
Types such as [v1/datastore_api.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore/v1/datastore_api.rb) are not currently published to the gh-pages documentation.

See GoogleCloudPlatform/gcloud-common#207 for detailed design and mockups.

- [x] Remove exclusions from `.yardopts`
- [ ] Add navigation to GAPIC/gRPC code

[2016-11-21 21:56] frankyn opened #1072 "Broken link and incorrect landing page in Speech Documentation"
Context:  http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.22.0/google/cloud/speech

Broken Links:
- https://www.rfc-editor.org/rfc/bcp/bcp47.txt
- Language Support goes here -> https://cloud.google.com/speech/docs/best-practices#language_support
    and it should go: https://cloud.google.com/speech/docs/languages

[2016-11-21 21:57] quartzmo opened #1073 "Document Logging low-level API (GAPIC code)"
Types such as [v2/logging_service_v2_api.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/v2/logging_service_v2_api.rb) are not currently published to the gh-pages documentation.

See GoogleCloudPlatform/gcloud-common#207 for detailed design and mockups.

- [ ] Remove exclusions from `.yardopts`
- [ ] Add navigation to GAPIC/gRP

[2016-11-21 21:59] quartzmo opened #1074 "Document Pub/Sub low-level API (GAPIC code)"
Types such as [v1/publisher_api.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/lib/google/cloud/pubsub/v1/publisher_api.rb) are not currently published to the gh-pages documentation.

- [x] Remove exclusions from `.yardopts`
- [x] Add navigation to GAPIC/gRPC code

[2016-11-21 22:07] frankyn commented on #1062
I understand. It might be helpful how to have a note about this in the client library documentation. I get confused for languages such as Chinese which has four language codes. How should I write the symbol for each? Would this be a correct symbol: `:cmn_Hant_TW`?

[2016-11-21 22:10] blowmage commented on #1062
According to [Language Support](https://cloud.google.com/speech/docs/languages) it would be `"cmn-Hant-TW"`.

[2016-11-21 22:13] blowmage commented on #1062
Ruby doesn't make it easy to create symbols with dashes in them, so if you want to express that as a symbol you can either use `"cmn-Hant-TW".to_sym` or `:"cmn-Hant-TW"`.

[2016-11-21 22:18] frankyn commented on #1062
Thanks! That was my question. That's where my confusion came from. Seeing the documentation have :en instead of :"en-US", when we have language codes with en-*. I guess it's assumed when someone writes "en" they mean "en-US".

[2016-11-21 22:21] hxiong388 commented on #562
I think it's ok to leave it to user to build the full destination string, as it matches consistently with the cloud.google.com documentations.

[2016-11-21 22:26] hxiong388 commented on #1068
After lots of Googling on audio file encoding, sample rate, bit rate, etc, I came to realize your array slicing logic is the culprit: `stream.send audio.grpc.content[bytes_sent, (bytes_sent + chunk_size)]`

Ruby array slice is ary[start index, length], so your code is graduating sending more and more data with each iteration. Just change it to `stream.send audio.grpc.content[bytes_sent, chunk_size

[2016-11-21 23:30] frankyn commented on #1068
Whomp. That was it. I completely missed that.

Thank you!

[2016-11-21 23:48] #1068 closed

[2016-11-21 23:52] hxiong388 commented on #1068
I think the current error message "Audio data is being streamed too fast" does explain the problem of too much content being pushed to speech service in short time, doesn't it?

[2016-11-21 23:59] frankyn commented on #1068
How fast is too fast and how slow is too slow? This is the information that's lost in that error message. This would limit the developer experience to more audio inclined developers.

[2016-11-22 00:02] quartzmo opened #1075 "Support GAE Flex environment in Core::Environment"
`Google::Cloud::Core::Environment` should support configuration for the new [GAE Flex environment](https://cloud.google.com/appengine/docs/flexible/).

[2016-11-22 00:06] quartzmo commented on #1075
After this issue is resolved, a follow-up PR to #1034 should change the configuration in the 3 `app.yaml.example` files from to `env: flex`, as [commented](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1034/files#r87913643).

[2016-11-22 00:12] hxiong388 commented on #1075
#1036 already exists for this problem. I have a PR ready to submit once #1034 is merged. :)

[2016-11-22 00:13] quartzmo commented on #1075
Thanks, I should have searched. Closing as dup.

[2016-11-22 00:13] #1075 closed

[2016-11-22 00:20] blowmage commented on #1068
The point of streaming is to process the audio from a live source. Like dictating a message with your phone. If you have an existing file it should be much simpler to use one of the other mechanisms to process it.

Here is some code that will [stream until an utterance is found](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/973#issuecomment-253890956).

[2016-11-22 00:38] frankyn commented on #1068
I understand your point.  I was trying to use streaming to subtitle a non-english video. Using the Speech API I streamed the audio and then the delay between received transcriptions was used to line up audio and subtitles. The subtitle timing wasn't too bad.

In this case an error message stating too fast or too slow would have been helpful.

[2016-11-22 01:01] quartzmo commented on #1072
Thanks for finding these, @frankyn!

[2016-11-22 01:11] frankyn commented on #1072
You're welcome!

[2016-11-22 02:13] #1036 closed

[2016-11-22 16:49] quartzmo commented on #1072
@frankyn The link to https://www.rfc-editor.org/rfc/bcp/bcp47.txt does not appear to me to be broken (it's just a big, unwieldy `.txt` document.) Can you suggest a better resource?

[2016-11-22 17:49] quartzmo opened #1077 "Should RuboCop check low-level files (GAPIC and associated)?"
I believe that the RuboCop configuration files for all packages containing GAPIC code exclude that code from analysis. Recently, a [question about style](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1018/files#r88767431) came up in a PR adding GAPIC code. Should this code be covered by RuboCop?

Updating these files to pass RuboCop analysis could require significant work. For exam

[2016-11-22 17:54] quartzmo opened #1078 "Missing .rubocop.yml in google-cloud-error_reporting"
RuboCop analysis should be added to cover `middleware.rb` and `rails.rb`. It should exclude GAPIC code pending any decision on #1077.

[code]

[2016-11-22 18:03] blowmage commented on #1072
The HTML page for bcp47 is here:

https://tools.ietf.org/html/bcp47

[2016-11-22 18:04] quartzmo commented on #1072
awesome, thanks @blowmage

[2016-11-22 18:06] frankyn commented on #1072
Sorry, I didn't pinpoint the specific page inside Speech documentation. I listed two pages where I have found it, but I think it might also exist elsewhere in the documentation.

Specific pages:

- http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.22.0/google/cloud/speech/project
- http://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.22.0/google

[2016-11-22 18:07] quartzmo commented on #1072
@frankyn Now I see the problem with the bcp47 links: `[https://www.rfc-editor.org/rfc/bcp/bcp47.txt](BCP-47)`. The title and target are reversed. Fixing and changing to the html version now.

[2016-11-22 18:20] quartzmo opened #1080 "JSON docs generation should raise error if return type missing"
The current gh-pages site is intolerant of a missing type declaration in `@return` tags. The JSON docs generator in `gcloud-jsondoc` branch should raise an error if missing, to avoid runtime errors that are hard to detect. For example, a missing return type currently causes the gh-pages site app to fail while rendering this view: https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/googl

[2016-11-22 18:39] #1072 closed

[2016-11-22 18:39] frankyn commented on #1072
@quartzmo thanks!

[2016-11-22 19:38] #971 closed

[2016-11-23 00:11] hxiong388 commented on #1077
I think the generate protobuf classes should remain exempt from rubocop linting, because the protobuf ruby compiler is an independent project of its own.

The GAPIC generated code could probably benefit from some simple linting, like [the missing new line at end of file](https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1018/files#r88767431). But I'm not sure how feasible it is to fix

[2016-11-24 14:39] bjwatson commented on #1070
@blowmage I added the "blocking beta" flag to this issue.

You also said there was an issue dealing with a "new flag for legacy SQL". Which issue is that? Is it also "blocking beta"?

[2016-11-24 15:19] blowmage commented on #1070
The legacy sql feature was added in #720. @quartzmo was going to follow up with some additional tweaks and documentation changes, but I don't think there is an issue open for that yet.

[2016-11-28 16:51] blowmage opened #1086 "Supplement Legacy SQL feature."
PR #720 added the legacy SQL feature, but the implementation wasn't complete. We need the following:

- [ ] Documentation
- [ ] Test Coverage
- [ ] Requested naming

[2016-11-28 16:52] blowmage commented on #1070
@bjwatson Just created #1086 to track the legacy SQL changes, and flagged it with "blocking beta".

[2016-11-28 18:50] blowmage commented on #1086
Looking at this closer, I think I would rather see a different method argument than `use_legacy_sql`. Perhaps something like:

[code]

Than:

[code]

Or, perhaps as an attribute on a Query object, like the one coming in the PR for #1070.

[2016-11-28 18:51] quartzmo commented on #1086
My 2c: I prefer `use_legacy_sql: true` so that people can more easily follow the thread from the service's API docs.

[2016-11-28 19:07] blowmage commented on #1070
I think I would like to break backwards compatibility in order to better support this. Specifically I'd like to remove the current optional arguments from the various query methods and yield a Query object so those settings can be made.

That means that this code:

[code]

Would instead look like this:

[code]

The benefit for making this backwards compatible change is that we may be able to suppo

[2016-11-28 19:12] quartzmo commented on #1070
I agree that supporting arbitrary SQL parameter names as keyword arguments is nice. Do we expect most calls to `query` to use this new feature?

[2016-11-28 19:20] blowmage commented on #1070
IMO the closest comparison we have is Datastore's [`gql` method](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-datastore/v0.21.0/google/cloud/datastore/dataset?method=gql-instance). The GqlQuery class allows both positional and named query parameters (Datastore calls them bindings), but the `gql` convenience method makes it very easy to use named parameters/bindings.

[2016-11-29 14:55] tswast commented on #1008
Closing this since batch is considered a legacy feature. It is not supported in new gRPC-native APIs.

[2016-11-29 14:55] #1008 closed

[2016-11-29 14:59] blowmage commented on #1008
@tswast Is BigQuery adding gRPC support? We are currently calling the JSON REST API.

[2016-11-29 19:31] quartzmo commented on #1077
Closing this question, based on @hxiong388's answer.

[2016-11-29 19:31] #1077 closed

[2016-11-29 21:50] blowmage opened #1088 "CircleCI is not running doctest tests"
The `doctest` task is used to test the code examples. This task runs locally, but does not run on CircleCI. The local task output is this:

[code]

But when run on CircleCI, the output is:

[code]

It looks like the `yard-doctest` plugin is not being recognized by yard. We may need to load the files manually, similar to how the `test` task loads the test files instead of relying on

[2016-11-30 19:44] #1078 closed

[2016-11-30 20:40] danoscarmike commented on #1070
@blowmage do you have anything blocking this solution?  Please let me know if so.  If not, do you have an estimate on time to completion?

[2016-11-30 20:41] blowmage commented on #1070
@danoscarmike Actively working on it now. Should be tonight or tomorrow.

[2016-11-30 21:32] quartzmo opened #1090 "Do not use deprecated projectIds field in Logging API entries.list"
The deprecated `projectIds`  field in Logging API `entries.list` method should no longer be used. Use `resourceNames` instead.

[2016-12-01 01:47] #1090 closed

[2016-12-01 02:19] frankyn opened #1093 "Segfault using Speech Stream API"
I'm having trouble with the Speech Stream API. I have a segmentation fault in Mac OS X. Below I have added the code with the segmentation fault. If there's any information I should provide please let me know.

Thank you.

### Environment information
[code]

### Segmentation Fault
https://gist.github.com/frankyn/6c8df2281b420d454228111dd11071b7

### Audio file
https://github.com/GoogleCloudPlatform

[2016-12-01 02:25] remi commented on #1093
#fyi I get the same error

Gemfile.lock and my error output: https://gist.github.com/remi/053a51baa2c374af1d29946e5f40bead

[2016-12-01 02:34] quartzmo commented on #1093
@frankyn Thanks for finding and reporting this. (And thanks for including your audio file!) I will try to reproduce.

[2016-12-01 20:05] thagomizer opened #1095 "Can't run db:migrate after adding stackdriver gem"
Repro:
1. Add stackdriver gem to the gem file of a project using App Engine Flex and Cloud SQL
2. run RAILS_ENV=production bundle exec rake db:migrate to migrate the database before deploying

Result:
Unable to initialize Google::Cloud::Logging with empty project_id

Expected:
To be able to migrate my cloud sql instance.

Notes
gcloud init and gcloud auth login had already been run. gcloud app dep

[2016-12-01 20:19] thagomizer opened #1096 "Segmentation Fault when trying to use stackdriver gem"
Repro:
1) Add stackdriver to the production group of a rails project Gemfile
2) Set LOGGING_PROJECT and GOOGLE_CLOUD_PROJECT
3) run RAILS_ENV=production rake db:migrate

Result:
/Users/ajahammerly/.gem/repos/seaf/bin/rake: [BUG] Segmentation fault at 0x00700000320108
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

Notes:
I'm using rbenv for version management and omg to handle gemset

[2016-12-01 20:37] quartzmo commented on #1095
@thagomizer Thank you for finding this!

@dazuma @hxiong388 I added the `stackdriver` label, but based on the error (`Unable to initialize Google::Cloud::Logging with empty project_id`), should this be considered just a Logging issue?

[2016-12-01 20:43] hxiong388 commented on #1095
Yeah, I think having both logging and stackdriver labels are appropriate.

[2016-12-02 00:33] hxiong388 commented on #1095
Ok, seems like this output is just a warning message coming from [railtie](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/ba0ebae7abf78c46fde61b8d8c687a5afd7e23ed/google-cloud-logging/lib/google/cloud/logging/rails.rb#L114-L115). It wouldn't have interrupted the db:migrate task.

The reason why the google-cloud-logging railtie prints warning message is because the default Rails logg

[2016-12-02 01:36] hxiong388 commented on #1095
After reading the [Rails source code](https://github.com/rails/rails/blob/92703a9ea5d8b96f30e0b706b801c9185ef14f0e/railties/lib/rails/application/bootstrap.rb#L32-L59), I think it's a bad idea to tamper with logger after Rails Logger has been initialized, because then we have to reset logging level with that ActiveSupport logic.

I'm now more inclined for option 3. @thagomizer does that work for y

[2016-12-02 02:48] #1070 closed

[2016-12-02 02:48] #1086 closed

[2016-12-02 03:06] dazuma commented on #1096
I'm able to reproduce this consistently. Here is some more data that may be useful.

It can be reproduced with only GOOGLE_CLOUD_PROJECT set, or with both LOGGING_PROJECT and ERROR_REPORTING_PROJECT set, but not with only one of the two services active. That is, both logging and error reporting must be active to trigger this segfault. This behavior is consistent and reproducible.

Furthermore, the

[2016-12-02 03:12] blowmage commented on #1096
@murgatroid99 Does anything about this stand out to you? Does this look like an issue with how we are dealing with threading? Or is this a problem with the GRPC client?

[2016-12-02 03:14] murgatroid99 commented on #1096
@ctiller @nicolasnoble Does this error look familiar to you?

[2016-12-02 03:16] dazuma commented on #1096
Just to clarify, we have two separate ruby threads making gRPC client calls, and as a result we are getting a segmentation fault out of the gRPC C code.

[2016-12-02 19:10] swcloud commented on #1071
Please also make sure the GAPIC/GRPC doc will surface on rubydoc.info website as well. I think once gapic code is included in the .yardopts, they should surface there, right? @quartzmo

[2016-12-02 19:10] swcloud commented on #1073
Please also make sure the GAPIC/GRPC doc will surface on rubydoc.info website as well. I think once gapic code is included in the .yardopts, they should surface there, right? @quartzmo

[2016-12-02 21:58] quartzmo commented on #1071
@swcloud The `.yardopts` file has only been included in the gemspec since sometime after the latest release. The GAPIC/gRPC code is currently excluded in `.yardopts`, so these excludes will need to be removed before the next release in order to expose the code. Thanks for bringing this to our attention!

[2016-12-02 22:03] blowmage opened #1099 "Add support for DATETIME, TIME, and BYTES query parameters"
BigQuery has [DATETIME](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#datetime-type), [TIME](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#time-type), and [BYTES](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#bytes-type) data types, but the current query parameter implementation does not yet support them. Make it so.

[2016-12-02 22:06] blowmage commented on #1099
Supporting BYTES should be fairly easy. We support bytes on other libraries and we can check for an IO-ish object. So users can provide a File or StringIO object containing the bytes they want written.

Supporting TIME is not going to be as easy. Ruby doesn't have an object that only represents time. So how will users format an object to indicate that the value should be a TIME type? What about us

[2016-12-02 22:14] blowmage commented on #1099
Another option is to use Ruby's DateTime for BigQuery's TIMESTAMP, Ruby's Time for BigQuery's TIME, and Ruby's Date for BigQuery's DATE.

[2016-12-02 22:31] quartzmo commented on #1071
Here is the list of JSON doc files that will be in the gh-pages site once the exclusions are removed from `.yardopts`:

[code]

@swcloud Does this look correct?

[2016-12-02 22:31] blowmage commented on #1099
@quartzmo Do you have an opinion on this? Thoughts?

[2016-12-02 22:35] quartzmo commented on #1099
@blowmage What about BigQuery's `DATETIME` type? Also Ruby's `Time`, correct?

I like this solution. Isn't this how Rails maps these types?

[2016-12-02 22:41] quartzmo commented on #1073
@swcloud If you have been wondering why GAPIC/gRPC code is visible in some of the `google-cloud` gems on rubydoc.info and not in others, it is because the `.yardopts` file has only been included in the gemspec since around 10/28/16. This is after the latest Datastore release, for example. Now that all gems include `.yardopts`, and the GAPIC/gRPC code is currently excluded in `.yardopts`, these exc

[2016-12-02 22:42] quartzmo commented on #1073
Here is the list of JSON doc files that will be in the gh-pages site once the exclusions are removed from `.yardopts`:

[code]

@swcloud Does this look correct?

[2016-12-02 22:42] blowmage commented on #1099
Ugh, I'm blind. I was going off a different set of types and didn't see those until I started looking for documentation. I agree it would be best to keep Ruby's DateTime for BigQuery's DATETIME, and Ruby's Time for BigQuery's TIMESTAMP. But then we are back to the original question of how do we represent BigQuery's TIME?

[2016-12-02 23:07] blowmage commented on #1099
Supporting TIME is looking more and more difficult. I'm starting to think we will need to add a new object to represent it. Perhaps a `Google::Cloud::Bigquery::Time` class or struct, and a `Project#time` helper to make creating a TIME easier.

[code]

Thoughts?

[2016-12-02 23:13] blowmage commented on #1099
Rails uses Ruby's Time for TIME because some databases can store TIME values larger than 24 hours, so it makes sorta sense to use Ruby's Time for that. But Ruby's Time is really a TIMESTAMP, so I think it best we allow it to represent that and create something new for TIME.

[2016-12-02 23:16] blowmage commented on #1099
We might also need a second pass on the documentation to make sure users understand how values passed in for query parameters will be converted to BigQuery data types.

[2016-12-02 23:27] quartzmo commented on #1099
@blowmage I also thought of a new object, and this seems OK to me given the situation.

[2016-12-02 23:58] danoscarmike commented on #1070
Thank you @blowmage and @quartzmo

[2016-12-03 00:08] swcloud commented on #1073
I'm not familiar with jsondoc tool. Can you provide some instructions?

From what I can see, most .rb files under 'lib/google' have a corresponding json file, but I don't seem to find json files for these files:

google-cloud-logging/lib/google/cloud/logging/v2/doc/google/logging/v2/log_entry.rb
google-cloud-logging/lib/google/cloud/logging/v2/doc/google/logging/v2/logging.rb
google-cloud-logging/

[2016-12-03 00:13] swcloud commented on #1071
I don't quite understand how these json files are generated.

For example, what is jsondoc/google/datastore/v1/readoptions/readconsistency.json? I don't find any corresponding .rb file

[2016-12-03 00:29] quartzmo commented on #1073
The inputs to the [jsondoc tool](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/gcloud-jsondoc) are YARD objects. From the [YARD Readme](https://github.com/lsegal/yard):

While the jsondoc outputs should be mostly 1-to-1 with the inputs, the disconnect you are seeing is that the YARD objects are not 1-to-1 with the code files. These are top-level code objects: classes and modules, I

[2016-12-05 19:42] jgeewax commented on #897
/cc @silvolu

need to update https://coveralls.io/github/GoogleCloudPlatform/gcloud-ruby

[2016-12-05 21:09] blowmage commented on #897
I created a new project on Coveralls. It doesn't have all the history of the old project, but CircleCI is configured to push coverage data to it now.

https://coveralls.io/github/GoogleCloudPlatform/google-cloud-ruby

[2016-12-05 21:09] #897 closed

[2016-12-06 00:19] hxiong388 commented on #1096
Latest findings:
1. When run the same db:migrate command on our Linux machines, we actually get an inconsistent error `E1205 15:21:59.891148503   67949 network_status_tracker.c:48] Memory leaked as all network endpoints were not shut down` instead of the segfault. There's strong collaboration between this error and the segfault symptom. But we don't have enough evidence to conclude these are the s

[2016-12-06 01:49] omaray opened #1102 "Update ReadMe to reflect quality levels of client libraries"
We will soon have client libraries at different quality levels. Let's make sure we reflect this information in our top-level ReadMe file the moment we cut the new release.

The update for [PHP's ReadMe](https://github.com/omaray/google-cloud-php/blob/readme-update-beta/README.md) has already be done (as a [Pull Request](https://github.com/GoogleCloudPlatform/google-cloud-php/pull/274) for now) and

[2016-12-06 15:45] quartzmo opened #1104 "Add doctest discussion to CONTRIBUTING.md"
Since `yard-doctest` testing (invoked with `rake doctest`) will eventually be part of the build for all packages, and must be maintained for all contributions, add discussion to CONTRIBUTING.md.

[2016-12-06 17:39] quartzmo opened #1106 "Latest Rake fails on pinnned version of Rubocop"
I encountered this error locally this morning, while working on #1105, using new rake `12.0.0` and pinned rubocop `0.35.1`.

[code]

Gem

[2016-12-06 19:32] #1106 closed

[2016-12-07 01:51] apolcyn commented on #1096
@hxiong388 is there possibly a certain setup needed for the database config to make the segfault happen?
`rake db:migrate` seems to be totally silent when running this on a new example rails app that's using `stackdriver`

[2016-12-07 02:17] hxiong388 commented on #1096
Just running `rake db:migrate` implies development environment, where the stackdriver instrumentation libraries don't activate by default. The instrumentation libraries activate when this condition is met: `Has project_id && Authenticates && (production environment || explicitly enabled in config)`.

[2016-12-07 17:13] quartzmo commented on #1102
@omaray Can a PR for this issue be merged into master now, or does it need to wait for release?

[2016-12-07 19:07] quartzmo opened #1112 "Change name/branding of Translate"
The service is now named [Cloud Translation API](https://cloud.google.com/translate/). All usages of the proper name of the service in docs should be updated. Renaming the package and gem can be discussed separately.

[2016-12-08 00:23] #1099 closed

[2016-12-08 04:21] mbrukman opened #1118 "Add support for Bigtable"
Could you please add support for Bigtable?

Support for the Bigtable Admin API can be added to the `master` branch as it does not require any additional work beyond just calling the gRPC APIs. We can start with the Bigtable Data API on a separate branch and merge to `master` once it's ready for general consumption; Bigtable protocol requires additional development beyond just calling the gRPC APIs

[2016-12-08 10:15] omaray commented on #1102
Hey! Let's wait until we do the release of the new gems. Then we can update the ReadMe on Friday (we'll send an email on Thursday to confirm it all).

[2016-12-08 11:58] quartzmo commented on #1102
Sounds good. Thanks @omaray.

[2016-12-08 23:21] #1071 closed

[2016-12-08 23:21] #1073 closed

[2016-12-09 00:35] apolcyn commented on #1096
seeing the segfault on OS X with the same minimal repro from https://github.com/grpc/grpc/issues/8983 (causing the resource leak instead on linux), tweaking ruby examples in the grpc repo:
[code]

on the client and

[code]

in the server's `say_hello` handler

[2016-12-09 02:48] #1102 closed

[2016-12-09 16:16] blowmage opened #1120 "AppVeyor is running full acceptance tests on tag build"
Tag builds should not run acceptance tests, but AppVeyor is.

[2016-12-09 16:18] blowmage opened #1121 "CircleCI not running on new PRs"
Sometime this week CircleCI stopped running on new PRs. Investigate why.

[2016-12-09 17:50] hxiong388 commented on #1096
@apolcyn I think I might have misunderstood your question from three days ago regarding how to generate the segfault.

Yes, we're seeing the same setup segfaulting on Mac OS and Memleak on Linux. But we were not sure if these are the same problem, because the errors produce a slightly different stack trace from Mac OS vs Linux. (You can find the Mac OS stack trace on one of the earlier comments on

[2016-12-09 20:02] blowmage commented on #1121
Related: https://discuss.circleci.com/t/pull-request-from-forked-repos-are-not-being-tested/8588

[2016-12-09 20:40] #1088 closed

[2016-12-09 21:01] apolcyn commented on #1096
@hxiong388 so far I think the linux leak and OS X segfault are separate issues.
https://github.com/grpc/grpc/pull/9024 addresses the leaked resources seen on linux, but doesn't fix the OS X segfault. So far still unclear on the OS X segfault.

relevant stack trace from the issue on OS X though, from `lldb`:
[code]

[2016-12-09 21:21] apolcyn commented on #1096
to add the logging from core lib, just before and going along with the stack trace is:
[code]

[2016-12-09 23:28] apolcyn commented on #1096
To update, it appears that the child thread which is making the call is getting stopped and cleaned up prematurely by ruby GC, since the child thread is **unjoined**.
At this point, there are grpc objects cleaned up by ruby GC on the main thread before process exit, but these objects reference pointers to the memory on the child thread's stack that got cleaned up early.
We end up getting `EXC_BAD_

[2016-12-09 23:35] dazuma commented on #1096
@apolcyn Thanks for the analysis here. This definitely looks probable. I'll try joining the background thread on my repro case and verify.

[2016-12-12 17:01] quartzmo commented on #1121
I'm wondering if the drastic (but low cost) move of deleting and re-enabling the Circle CI's integration with repo might work. We can certainly wait to see what happens with the issue you linked above.

[2016-12-12 18:44] blowmage commented on #1121
Tried that on Friday, it didn't change anything.

[2016-12-12 20:06] swcloud opened #1128 "rubydoc.info site does not have GAPIC/GRPC entries on the left navigation panel"
http://www.rubydoc.info/gems/google-cloud-logging

The low-level gapic/grpc documentation shows up on the 'index' page: http://www.rubydoc.info/gems/google-cloud-logging/index

but not on the left navigation panel.

[2016-12-12 20:10] blowmage commented on #1128
We believe the site is using some cached data on the navigation view on the left hand side. I am investigating how to rebuild the gems to get the correct navigation to show. Hope to have this fixed soon.

[2016-12-12 20:16] quartzmo commented on #1118
@mbrukman

We would be very happy to add support for Bigtable! The only issue of course is understanding how to prioritize it relative to our existing pipeline. I assume you are hoping for Q1 2017?

Can you provide links and/or more detail on this? I see that google-cloud-python and google-cloud-node have recently added Bigtable packages in master. Can they serve as examples for us?

[2016-12-12 20:17] blowmage commented on #1128
Compare the following URLs:

* http://www.rubydoc.info/gems/google-cloud-logging/index
* http://www.rubydoc.info/gems/google-cloud-logging/0.23.0/index

They should both be the same, but they are not. The default is to show the most recent gem version in both the navigation and content panes, but the first URL is showing a different navigation pane than what is in the content pane.

[2016-12-12 20:29] quartzmo commented on #1128
The left nav is loaded in an `iframe`: http://www.rubydoc.info/list/gems/google-cloud-logging/class

I don't believe we can do much to fix this.

[2016-12-12 22:00] blowmage commented on #1128
Informed the maintainers and they have cleared the app's cache and things work correctly now. Thanks for the heads up!

http://www.rubydoc.info/gems/google-cloud-logging/index

[2016-12-12 22:00] #1128 closed

[2016-12-13 01:18] frankyn opened #1131 "Consistency issue in Environmental Variable GOOGLE_CLOUD_PROJECT"
### Context

App Engine Flex Beta 2 was recently released and currently supports [GCLOUD_PROJECT](https://cloud.google.com/appengine/docs/flexible/ruby/runtime) as the environment variable which contains the project id. The **google-cloud-ruby** gem promotes the use of [GOOGLE_CLOUD_PROJECT](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/master/guides/authentication),

[2016-12-13 02:38] mbrukman commented on #1118
@quartzmo

Yes, please, though I'm not going to object to anything happening in Q4 2016. :-)

The `google-cloud-python` repo is more complete than `google-cloud-node`, so I would use that as a model. That said, the Bigtable implementation in `google-cloud-go` is even better.

There are several things above and beyond gRPC support that are necessary:

* reconstructing streaming replies from the ser

[2016-12-13 17:54] jdraths opened #1132 "Unable to Convert Base64 encoded data to an image - Google Cloud Vision api"
Hi, I'm using `google-cloud-vision` to upload a Base64 encoded image to google vision, but I get an error every time:

Here is my code:

[code]

I know this encoding `encoded_image = Base64.strict_encode64(open(image_url, &:read))` works because I can decode the image and open it afterwards. So what am I doing wrong with **google-cloud-vision**?

[2016-12-13 18:02] #1104 closed

[2016-12-13 18:21] jdraths commented on #1132
I got [this answer](http://stackoverflow.com/a/41127724/2628223) on stack overflow which solves this problem in a different way.

[2016-12-13 18:21] #1132 closed

[2016-12-13 18:29] blowmage commented on #1132
Hi @jdraths. The SO answer is to not base64 encode your image. Using base64 is an implementation detail of using the JSON REST API, but 1) google-cloud-vision should take care of that for you, and 2) google-cloud-vision is using gRPC/protocol buffers.

[2016-12-13 19:05] quartzmo commented on #1131
@frankyn We have discontinued using the name "gcloud" (or "GCLOUD") for this project, in order to avoid confusion with [the `gcloud` CLI in the SDK](https://cloud.google.com/sdk/gcloud/):

If it is at all possible, the best solution is to change any mention of `GCLOUD_PROJECT` to `GOOGLE_CLOUD_PROJECT`.

[2016-12-13 19:21] frankyn commented on #1131
@quartzmo, I think `GCLOUD_PROJECT` is the only supported environment variable in App Engine Flex Beta 2.

@JustinBeckwith, can App Engine Flex Beta 2 add support for GOOGLE_CLOUD_PROJECT?

[2016-12-13 20:19] blowmage commented on #1121
An [update](https://discuss.circleci.com/t/pull-request-from-forked-repos-are-not-being-tested/8588/4?u=blowmage) from CircleCI support:

The settings UI now has the new option and it has been enabled. If it works the next PR should have a build.

[2016-12-13 20:19] blowmage commented on #1121
![prs-menu](https://cloud.githubusercontent.com/assets/730/21157522/d7ac4fe2-c136-11e6-91a2-1857849f4239.jpg)

[2016-12-13 21:36] blowmage commented on #1121
New PRs are running builds again. Closing.

[2016-12-13 21:36] #1121 closed

[2016-12-13 23:51] blowmage commented on #1112
I think this needs to happen. It would be good to have all the documentation use the new name even if the gem can't be changed right away.

[2016-12-14 00:44] danoscarmike opened #1135 "Branding updates required for Translate API client libraries"
On November 15, 2016, Google launch a rebranding of Google Translate API to Google Cloud Translation API. This does not impact the method names but the URLbase as well as readmes, samples and comments.

URLbase has been already updated to translation.googleapis.com

We need to have update the Client library, the readme, client library docs, samples and code comments to use "Google Cloud Translatio

[2016-12-14 01:14] blowmage commented on #1135
Related #1112

[2016-12-14 01:15] blowmage commented on #1135
AFAIK Translation isn't one of the beta services, and beta was released last week, so is the `blocking beta` label accurate?

[2016-12-14 18:06] quartzmo commented on #1135
Is the scope different than #1112 in any way? Or is this a duplicate of #1112?

[2016-12-14 20:29] JustinBeckwith commented on #1131
Sure.  We'll have to keep support for GCLOUD_PROJECT (since we just added it) but this shouldn't be an issue.

[2016-12-14 20:36] quartzmo commented on #1131
Thanks @JustinBeckwith. To resolve this inconsistency, changing to `GOOGLE_CLOUD_PROJECT` is the right solution. (We will also keep support for `GCLOUD_PROJECT`.)

[2016-12-14 20:36] #1131 closed

[2016-12-14 22:02] frankyn commented on #1131
Thanks @JustinBeckwith !

[2016-12-14 23:19] quartzmo commented on #1080
Closed by #1134.

[2016-12-14 23:19] #1080 closed

[2016-12-15 03:30] omaray opened #1140 "Still showing "gcloud" in the title of client lib landing page"
We should update the title to `google-cloud-ruby`

![image](https://cloud.githubusercontent.com/assets/6609430/21210914/c7c43128-c233-11e6-9b2f-7d98859d92a4.png)

[2016-12-15 04:03] quartzmo commented on #1140
I believe this is a duplicate of #945, and that the fix must be in gcloud-common per GoogleCloudPlatform/gcloud-common#195.

[2016-12-15 04:09] quartzmo commented on #1140
@omaray I'll see if I can produce a fix tomorrow for GoogleCloudPlatform/gcloud-common#195.

[2016-12-15 06:52] remi opened #1141 "Low-level classes are displaying in the sidebar navigation of the documentation (Datastore::V1 and Logging::V2)"
The sidebar navigation is showing new top-level headings for [`Datastore::V1`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.23.0/google/cloud/datastore/v1/datastoreclient) and [`Logging::V2`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.23.0/google/cloud/logging/v2/loggingservicev2client)

![screen shot 2016-12-14 at 10 45 26 pm](

[2016-12-15 06:54] remi opened #1142 "Broken link to "Core" appears in the sidebar navigation of the documentation"
![screen shot 2016-12-14 at 10 53 59 pm](https://cloud.githubusercontent.com/assets/280/21214561/4888b416-c250-11e6-86d0-53949bcb79d2.png)

[2016-12-15 15:29] blowmage commented on #1142
I noticed this as well. #1143 will fix this, but we can fix it in a more direct way by labeling that module with `@private`.

[2016-12-15 15:33] blowmage commented on #1142
I agree, Core shouldn't be public. I think it used to be labeled "Errors" and showed all the shared error classes.

[2016-12-15 16:02] quartzmo commented on #1142
@blowmage You are saying that the error types in core *should* be public, and the nav item should read "Errors", correct?

[2016-12-15 16:04] blowmage commented on #1142
The error classes are part of the public API, so it would be good to have them documented somewhere. I _thought_ that they were documented before, but I think you would know better than I.

[2016-12-15 16:11] quartzmo commented on #1142
Honestly I can't remember what happened. On Oct 31, I added Core to the google-cloud TOC in [this commit](https://github.com/GoogleCloudPlatform/google-cloud-ruby/commit/e0afea0233659cdc0fe233304758c2c49f548420). I believe Core (with error types being the public members) must remain public. The issue here is that Core docs are not currently copied into the `google-cloud` docs. And, the TOC listing

[2016-12-15 16:27] blowmage commented on #1141
The documenting of the low-level API was intentional. This is one of the conditions for the library reaching 1.0. The issue outlining the inclusion is GoogleCloudPlatform/gcloud-common#207, but the current navigation structure is slightly different to workaround some inflexibility in the angular app.

FWIW, I agree that this is likely confusing to users. We have tried to minimize the confusion on

[2016-12-15 16:50] blowmage opened #1144 "Create changes rake task"
Automate the discovery of changes for a gem since the last release. Have the rake task query the git tags to find the most recent release and run `git diff` on the tag to master. For example:

[code]

Would run the following command:

[code]

[2016-12-15 18:44] quartzmo opened #1146 "Broken links to Protobuf types"
Because YARD (our docs library) generates output that is scoped to Ruby classes and modules, Protobuf types that are exposed as **Ruby constants** are not currently published. So links in the gh-pages site to types like `Google::Datastore::V1::BeginTransactionResponse` (defined as a constant in lib/google/datastore/v1/datastore_pb.rb) are broken.

[2016-12-15 18:51] quartzmo commented on #1146
@swcloud I am wondering how we might be able to generate JSON docs from these types that are defined as constants.

[2016-12-15 18:58] quartzmo opened #1147 "Left nav focus is broken for Protobuf types"
Clicking on nav items such as `Datastore::V1 -> BoolValue` displays the correct content, but the left nav loses focus and collapses. I am not sure why this occurs, but fixing it will probably involve changes to the Angular site app.

![left-nav-bool-value](https://cloud.githubusercontent.com/assets/205445/21237807/b9267448-c2bd-11e6-9f41-82780ec9e916.png)

[2016-12-15 19:57] swcloud commented on #1141
Adding @omaray.

The current github doc site does not seem to implement the design we intended. For example. "Datastore V1" should be a level below 'Datastore' and should be displayed as just 'V1'. Also the data types such as 'Duration' and 'Timestamp' should not show up in the left navigation panel. They should be just listed on a single page which is loaded by a single item on the left navigatio

[2016-12-15 20:11] swcloud commented on #1141
Regarding the rubydoc.info site: Google::Cloud::Datastore::Entity is a veneer-level class, which happens to have the same name of GRPC-level class Google::Datastore::V1::Entity. They have different name space hence they are differentiated by being displayed in the different places on the navigation hierarchy on the left side. IMO, it is self-explainable to the developers. That's why the concept of

[2016-12-15 20:15] swcloud commented on #1146
Google::Datastore::V1::BeginTransactionResponse is defined as a class below:

https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-datastore/lib/google/cloud/datastore/v1/doc/google/datastore/v1/datastore.rb#L82

[2016-12-15 20:30] blowmage commented on #1141
Correct. This is due to the inflexibility of the angular app mentioned earlier.

Also correct. See the "known issues" on #1117.

[2016-12-15 21:03] quartzmo commented on #1141
Moving these nav items to a deeper level depends on a fix for GoogleCloudPlatform/google-cloud-ruby#1141.

Will that alone close this issue? Or is there something else to consider?

[2016-12-15 21:30] remi commented on #1141
@swcloud Can you help me understand why the gRPC representation of `Entity` should show up in the documentation at all?

As a developer who has used Datastore using different client libraries and written/published some of our google-cloud-datastore samples, I actually find the presence of two `Entity` classes to be confusing, myself.

I filed this issue because, when I saw "Datastore::V1" last nig

[2016-12-16 00:54] frankyn opened #1149 "Why not store encryption_key in Google::Cloud::Storage::File Class"
**[Context]**
When I attempt to download an encrypted file from Cloud Storage, I must use the encryption_key twice. Once to create the File object and another to download the file to my local disk.

[code]

**[Question]**
Do we have a reason for not storing the encryption_key in the File object while it's being used?

Thank you.

[2016-12-16 01:17] dazuma commented on #1096
Verified the above analysis on my repro case. Fix PR in progress.

[2016-12-16 01:38] blowmage commented on #1149
We considered this when first implementing encryption keys, but found it added too much complexity. There are several methods that can take encryption key. Storing the key on a file object doesn't indicate which methods that key should be used for, so we would still need an opt-in (or opt-out) mechanism on those methods.

[2016-12-16 18:25] frankyn commented on #1149
Follow-up Question: Opt-in / Opt-out which would allow the encryption to be stored in the file object and still be passed in explicitly if the user wants to?

[2016-12-16 19:13] blowmage commented on #1149
In the end we decided using encryption keys was sensitive enough that users should be explicit about using them, which is why we implemented the API we have.

[2016-12-16 19:27] frankyn commented on #1149
Understood. Thank you!

[2016-12-16 19:51] frankyn commented on #730
@quartzmo, What's the status on the objects.rewrite operation?

[2016-12-16 22:11] quartzmo commented on #1149
@frankyn If good, can we close?

[2016-12-16 22:13] #1149 closed

[2016-12-16 22:13] quartzmo commented on #730
@frankyn Thanks for re-surfacing this issue!

@blowmage Does anything block us from implementing this one?

[2016-12-16 22:40] blowmage commented on #730
Nothing blocks us AFAIK. Not exactly sure how involved it will be to implement, but it looks fairly big. Lots of settings that can be set in that operation, and it can involve multiple requests based on whether the file is a composite.

[2016-12-16 22:49] swcloud commented on #1141
@remi My understanding is that we want to give developers an option from which they can directly call the vkit layer (gapic/grpc).

@omaray can explain more regarding the intention on this.

[2016-12-16 23:09] quartzmo commented on #1141
I am currently working on a PR to add a deeper level of nesting to the left nav (GoogleCloudPlatform/gcloud-common#209).

[2016-12-17 00:04] frankyn commented on #730
The Python client library currently has this implemented and here's a [sample](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/encryption.py#L96) of their surface.

[2016-12-17 00:31] quartzmo commented on #730
@frankyn Thanks!

[2016-12-20 00:00] quartzmo commented on #1135
Closing as duplicate of #1112.

[2016-12-20 00:00] #1135 closed

[2016-12-20 08:28] dlackty opened #1160 "Provide a simple interface for error reporting"
These are some common error reporting services' API to send exception:

[code]

Currently the only way to use  Stackdriver Error Reporting is to insert a rack middleware.

[2016-12-20 19:41] hxiong388 commented on #1160
Hi @dlackty. Thanks for raising this question. The [google-cloud-error_reporting](https://rubygems.org/gems/google-cloud-error_reporting) gem currently doesn't have a User API yet, but it does come with a lower level system API, [Stackdriver Error Reporting API Client](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-error_reporting/v0.21.2/google/cloud/errorreporting/v1

[2016-12-20 22:23] blowmage opened #1163 "Speech doctest fails when run in a certain order"
We've seen two build failures ([293](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/293), [294](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-ruby/294)) when the doctest for `google-cloud-speech.rb:105` is the first test to be run.

[code]

[2016-12-20 22:29] blowmage commented on #1163
The doctest helper has configuration for `Google::Cloud#speech`, but not for `Google::Cloud.speech`

[2016-12-20 22:55] #1163 closed

[2016-12-21 02:12] #1140 closed

[2016-12-21 20:59] quartzmo opened #1166 "Change name Translate to Translation in code"
This issue is a follow-up to PR #1165 (issues #1112, #1135).

### Summary

The scope is to update the following:

- [ ] Any code object names, such as the module name `Translate` or factory methods named `translate` to `Translation` (preserving case)
- [ ] Any sample code, including variables named `translate` to `Translation` (preserving case) Note: I feel it is best to wait change examples at th

[2016-12-21 21:12] blowmage commented on #1166
Placing on hold until we hear this change is ready to be made.

[2016-12-21 22:03] swcloud opened #1167 "The doc link inside README.md for google-cloud-language is broken."
It should be https://cloud.google.com/natural-language/

[2016-12-21 23:11] #1112 closed

[2016-12-21 23:16] blowmage opened #1169 "AppVeyor Builds Stopped"
The builds have stopped on AppVeyor. Some projects have builds queued up from 9 days ago.

[2016-12-21 23:16] #1167 closed

[2016-12-21 23:17] blowmage commented on #1169
@omaray @jgeewax It doesn't look like we have a [paid account](https://ci.appveyor.com/billing) for AppVeyor. Log on with your GitHub credentials and choose the `GoogleCloudPlatform` account.

[2016-12-23 19:17] quartzmo commented on #1147
@swcloud,

I have the design for the "Data Types" left nav in GoogleCloudPlatform/gcloud-common#207 working locally (Note: the page displays just one type, not all types, but that is another issue.) It requires moving the JSON doc files for the Protobuf types into the `v1` directory, as shown in the URL in the screenshot below:

![protobuf-data-types-nav](https://cloud.githubusercontent.com/assets

[2016-12-24 00:21] quartzmo commented on #1146
@swcloud Thank you. I have located the types in the YARD output, the problem is in the jsondoc generation.

[2016-12-27 16:33] BSalita commented on #706
Note to myself to use Natural Language API. Make sure project IS_ACTIVE:

gcloud config configurations list

If not, set project:

gcloud config set project woundify

Obtain Bearer token:

gcloud auth application-default print-access-token

No need to use environment variable GOOGLE_APPLICATION_CREDENTIALS

[2016-12-27 18:16] hxiong388 opened #1174 ""uninitialized constant Logger" error when using Google::Cloud::Logging::Logger"
When running the integration test on sinatra + GAE, the logging test throws this error:
[code]

I think this exception is introduced in d5af77d9e6ed815fa4bd2feb01d9eed1125b05bd, where the code references "::Logger::Formatter" module without first `require "logger"`.

[2016-12-27 18:18] blowmage commented on #1174
Wasn't this already addressed by #1173?

[2016-12-27 18:18] hxiong388 commented on #1095
closed via #1151

[2016-12-27 18:18] #1095 closed

[2016-12-27 18:24] hxiong388 commented on #1096
closed via #1150

[2016-12-27 18:24] #1096 closed

[2016-12-27 18:34] hxiong388 commented on #1174
Yeah, i didn't see #1173 was in already. Didn't expect y'all to work so hard on xmax eve.

closed via #1173

[2016-12-27 18:34] #1174 closed

[2016-12-28 20:05] quartzmo commented on #1146
Actually, the problem seems to be that YARD overwrites the output from the class definitions in `lib/google/cloud/datastore/v1/doc/google/datastore/v1/datastore.rb` with empty output from the constant definitions of the same name in `lib/google/datastore/v1/datastore_pb.rb`, so the class definition docs are lost. I think just adding an exclusion to `.yardopts` may fix this issue.

[2016-12-28 20:21] blowmage commented on #1146
This is because implementation-wise, those are constants. They get their implementation by calling a method, and YARD is doing the right thing. Perhaps if the doc files were loaded _after_ the implementation files?

[2016-12-28 20:29] quartzmo commented on #1146
@blowmage Perhaps. It might be easiest (and cleanest) to just to exclude the constants in cases like this in which hand-written docs are provided on classes with the same name.

But, this does raise another issue, which is that it appears that our current jsondoc generation does NOT document constants. The gcloud-common [`service.schema`](https://github.com/GoogleCloudPlatform/gcloud-common/tree/m

[2016-12-28 20:41] blowmage commented on #1146
IMO it would be better to document them as modules and classes and not constants. My point is that YARD is doing the right thing, and it's the weird implementation that is causing this.

[2016-12-28 20:55] blowmage commented on #1146
If the GAPIC documentation files are loaded by YARD first, instead of the actual implementation files, then the YARD output would use them. To test this, change the `.yardopts` to the following:

[code]

I'm of the opinion that the GAPIC documentation files should not be in `lib`. I think it would be better if the load directives read like this:

[code]

But that is tangental to this issue.

[2016-12-28 21:05] quartzmo commented on #1146
Thanks @blowmage, your options list above also works, I'll go with it.

[2016-12-28 21:48] quartzmo commented on #1146
The constants do produce a lot of YARD warnings like this one, however:

[code]

[2016-12-28 22:09] blowmage commented on #1146
Yeah, that's the price we pay for having multiple definitions.

[2016-12-30 15:43] #1146 closed

[2017-01-02 01:22] calavera opened #1177 "Storage POST objects with the xml-api using an html multipart form"
Hi! 👋

I'd like to upload objects to a storage bucket using signed post forms, like described in this guide:

https://cloud.google.com/storage/docs/xml-api/post-object

I thought everything I needed was already present in the [File::Signer class](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-storage/lib/google/cloud/storage/file.rb#L728-L813), but I'm having a h

[2017-01-02 02:43] blowmage commented on #1177
Hi @calavera, File::Signer is private and should not be used. I would use [Bucket#signed_url](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.23.0/google/cloud/storage/bucket?method=signed_url-instance) to create the URL and then POST the file to it.

[2017-01-02 06:14] calavera commented on #1177
I tried that, but that doesn't work, I get this error:

[code]

It's because the signed url is something like `https://storage.googleapi.com/BUCKET/KEY?QUERY_WITH_ALL_THE_DATA` but in order to send a file using a mutipart form I need each query attribute independently to send it in the form, like the example in the docs:

[code]

[2017-01-02 16:43] blowmage commented on #1177
Oh, do you mean using a [POST Object](https://cloud.google.com/storage/docs/xml-api/post-object)?

[2017-01-02 18:37] calavera commented on #1177
yes, that's what I meant. I didn't find support for it in this library and I wanted to add it, but I might have been looking at the wrong place.

[2017-01-02 23:17] calavera commented on #1177
I'd like to migrate user generated uploads from S3 to google cloud storage and not having this is a show stopper, since the migration would be much much harder if we had to support two different upload mechanisms. POST Object makes it drop-in replacement, since that's what we use currently with S3.

[2017-01-03 01:00] calavera commented on #1177
I took a first stab at implementing this in my fork, but I'm not sure if it's the best way to expose this:

https://github.com/calavera/google-cloud-ruby/commit/c356808fd5ce0a253d375fa4f43144f1488f4895

I can open a pull request if it looks correct-ish and we can iterate on it. It still needs documentation and more tests.

[2017-01-03 23:13] quartzmo commented on #616
@pcostell I noticed that the page https://cloud.google.com/datastore/docs/apis/gql/gql_reference still states:

[2017-01-03 23:34] pcostell commented on #616
Thanks for catching this -- I'll file a bug internally.

[2017-01-05 18:14] #1141 closed

[2017-01-05 18:14] swcloud opened #1180 "Generate content automatically for the table shown on the 'Data Types' page."
Right now, the content is manually added to the generated dummy ruby classes. We need to either generate the content for the table or add Angular app logic to extract the data from the ruby classes in order to display the table.

[2017-01-05 18:18] swcloud opened #1181 "Display the content for GAPIC/GRPC API version such as 'V1' menu item"
Right now, if a user clicks 'V1' menu item on the left navigation panel, the right side displays an empty page. We should add content for this menu item or find a way to not change the content on the right side when the menu item is clicked, i.e., when a user clicks 'V1', what it only does is to expand the sub menu items.

[2017-01-05 18:39] quartzmo commented on #1181
Currently, when any left nav item is clicked, related content is shown in the main page. Clicking any of the top-level "service" nav items ('BigQuery', 'Datastore', etc) results in the display of an overview discussion of the service. Example:

https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.23.0/google/cloud/datastore

I think for consistency we should stick to this

[2017-01-05 18:42] quartzmo commented on #1180
I agree.

[2017-01-05 18:55] quartzmo commented on #1147
I don't believe the Protobuf primitive types such as `BoolValue` are exposed by the GAPIC API at this time, so I'm closing this issue for now.

[2017-01-05 18:55] #1147 closed

[2017-01-05 21:35] quartzmo commented on #1142
Reopening, pending some work on the TOC and possibly also the Angular site app to activate the 'Core' nav item and display the sub nav containing the error subclasses.

[2017-01-09 22:19] quartzmo opened #1184 "Correct left nav nesting for GAPIC types"
Error Reporting, Monitoring, and Trace packages should use the same left nav structure as Datastore and Logging, with GAPIC types nested under an item showing the API version number:

[code]

See GoogleCloudPlatform/gcloud-common#207 for the full design.

[2017-01-09 22:22] quartzmo commented on #1184
As part of this issue, add Trace to the gh-pages docs.

[2017-01-11 01:39] frankyn opened #1185 "Bigquery Github documentation snippet bug"
## Issue
The following snippet lives in the Google-Cloud-Ruby Github documentation and errors when tested. The snippet can be found [here](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.23.0/google/cloud/bigquery). The error is shown below.

From a brief inspection the bug has to do with the query named parameter. When I swap the named  parameter with the actual val

[2017-01-11 18:00] tswast commented on #1185
Does the snippet use standard SQL syntax? You may have to set useLegacySql to false or prepend the query with a line that is just `#standardSQL`.

[2017-01-11 18:10] frankyn commented on #1185
@tswast
Yes the snippet uses standard SQL syntax and here's a related quote from the documentation:

A quick try explicitly using standard_sql results in the same error.

[code]

[2017-01-11 18:23] tswast commented on #1185
Can you debug the request by printing out the JSON it is sending? It's also possible it's not being populated correctly. (It is a bit tricky)

[2017-01-11 18:26] frankyn commented on #1185
Yes, I will try!

[2017-01-11 20:21] quartzmo commented on #1185
Stack Overflow issue: http://stackoverflow.com/questions/41492736/no-matching-signature-for-operator-in-for-argument-types-string-and-arraystrin

[2017-01-11 20:24] quartzmo commented on #1185
code.google.com issue: https://code.google.com/p/google-bigquery/issues/detail?id=873

[2017-01-11 20:36] quartzmo commented on #1185
I suspect passing an array is simply an incorrect argument. According to [Functions & Operators](https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#in-operators), the syntax is:

[code]

Notice that there is no array.

And replacing the array with a single string works:

[code]

[2017-01-11 20:40] quartzmo commented on #1185
It also works with the addition of ``, per the syntax guide linked above:

[code]

[2017-01-11 20:41] quartzmo commented on #1185
I think the best solution is to add `UNNEST` to the snippet.

[2017-01-11 20:48] frankyn commented on #1185
Thanks, Chris! I'll send a PR to add `UNNEST`.

[2017-01-11 20:53] quartzmo commented on #1185
I think that's the only option. I also tried embedding the elements in a string argument, but it didn't work, apparently the string argument is treated as a single element.

[code]

[2017-01-11 21:01] blowmage commented on #1185
Thanks for your work on this @quartzmo! I think adding `UNNEST` is a great solution!

[2017-01-11 22:01] #1185 closed

[2017-01-12 09:29] orcaman commented on #706
Had the same issue with Speech API just now.

`export GOOGLE_APPLICATION_CREDENTIALS=my_creds.json`

solved it for me as well.

[2017-01-12 10:13] BSalita commented on #706
Windows batch file which obtains a token.

`call gcloud auth application-default print-access-token > gcloudAuthAccessToken.txt
echo on
set /p AccessToken=<gcloudAuthAccessToken.txt
curl -s -k -H "Content-Type: application/json" -H "Authorization: Bearer %AccessToken%" https://language.googleapis.com/v1/documents:analyzeSyntax -d "@analyzeSyntax.json"`

[2017-01-12 16:37] quartzmo commented on #1180
My thinking is that until other platforms using the Angular site app have the same problem, it will be better to implement this in the `gcloud-jsondoc` build tool. I think the best approach will be a flag in `toc.json` that will currently only be processed by the build tool, but which could be handled by the Angular app at a later date with no change needed in the configuration. For example, a `ge

[2017-01-12 16:52] blowmage commented on #1180
We could build a YARD plugin to generate this, instead of putting it in gcloud-jsondoc.

[2017-01-12 17:08] quartzmo commented on #1180
I'd rather keep all these hacks in one place ;)

[2017-01-12 22:56] quartzmo commented on #1169
Looks to me like these are moving again. @blowmage Can we close this?

[2017-01-12 22:56] blowmage commented on #1169
Yep, this was fixed when I was on vacation. Closing.

[2017-01-12 22:57] #1169 closed

[2017-01-13 08:33] hamdibayhan opened #1188 "Documentation is wrong"
after I read your documentation for cloud vision and implemented my project, I got following error:

Then I solved the problem with I changed
`vision = Google::Cloud::Vision.new`
and
[code]
 So I think your documentation is wrong and needs correction.

[2017-01-13 12:54] quartzmo commented on #1188
@hamdibayhan Thank you for reporting this issue. Can you please provide your entire code example, and link to the specific documentation example? I cannot reproduce the error when I follow [the examples in the main guide](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.21.1/google/cloud/vision), for instance, although I do get it if I just omit the first line,

[2017-01-13 15:16] hamdibayhan commented on #1188
Unfortunately although I add X, I get the following error:

[code]

[2017-01-13 15:18] blowmage commented on #1188
What version of `google-cloud-vision` are you using? Some older versions did not have that constructor.

[2017-01-13 15:20] hamdibayhan commented on #1188
I am using

[2017-01-13 15:26] blowmage commented on #1188
Okay, that makes more sense. The `Google::Cloud::Vision.new` constructor was added, along with an update to the documentation to use it, in 0.21.0. If you compare the [0.20.0 documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-vision/v0.20.0/google/cloud/vision) to the [0.21.0 documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/googl

[2017-01-13 15:34] hamdibayhan commented on #1188
I've realized now, my fault, thank you for your help.

[2017-01-13 15:34] #1188 closed

[2017-01-13 15:37] blowmage commented on #1188
Not a problem! Thanks for using the Google Cloud libraries. Let us know if you have other questions.

[2017-01-13 21:04] #1074 closed

[2017-01-13 21:04] #1142 closed

[2017-01-13 21:27] quartzmo commented on #1184
This was closed by mistake in a commit message. I decided to update the Stackdriver (Error Reporting, Monitoring, and Trace) packages in a follow-up PR.

[2017-01-14 00:57] #1177 closed

[2017-01-17 20:40] omaray opened #1190 "Update "gcloud npmjs.com page" to mention it's deprecated"
SCENARIO
Navigating to the `gcloud` npmjs.com page shows our old package to our users: https://www.npmjs.com/package/gcloud.

EXPECTED RESULT
We need to add a mention at the top of the page that this package is deprecated and we should add a link to the new `google-cloud` package instead: https://www.npmjs.com/package/google-cloud.

This way if users stumble upon the old `gcloud` package by mistak

[2017-01-17 20:40] #1190 closed

[2017-01-17 22:43] #1184 closed

[2017-01-18 16:12] quartzmo commented on #1160
@hxiong388 Should this issue stay open? Do you plan to add a simple error method at some point?

[2017-01-18 17:58] hxiong388 commented on #1160
@quartzmo. Per previous discussion with @omaray, we don't have immediate plan to add the simple interface for Error Reporting. We can backlog this feature request or close it for now.

[2017-01-18 18:03] quartzmo commented on #1160
Thanks @hxiong388.

@dlackty I think this is a great suggestion, but I'm closing this issue for now. While @hxiong388's example above using the lower-level client is not a one-liner, hopefully it helps.

[2017-01-18 18:03] #1160 closed

[2017-01-19 15:43] jdraths opened #1193 "LoadError when using Unicorn and Nginx"
Having a crash in *production environment only* on the `require 'google/cloud/vision'` line.
This all works fine in development.
What could I have wrong in production?

**app/services/cloud_vision.rb**
[code]

I have `google-gax` in my **gemfile.lock**

[code]

**stack trace**
[code]

[2017-01-19 15:48] blowmage commented on #1193
Can you do a `gem list` on your production environment? Were the gems installed successfully?

[2017-01-19 15:55] jdraths commented on #1193
**gem list**
[code]

[2017-01-19 16:13] blowmage commented on #1193
I've double and triple checked all the gems and I don't see anything in the dependencies that would allow this. All my local checks pass just fine. What are the differences in your development and production environments?

Do you also get this error when issuing `require "google/cloud/vision"` or `require "google/gax"` in an rails console in the production environment?

[2017-01-19 16:17] jdraths commented on #1193
Yea, I'm racking my brain trying to think of what the critical difference is.

In production `require "google/cloud/vision"` works, but `require "google/gax" #=> false`

[2017-01-19 16:21] blowmage commented on #1193
Calling `require "google/gax"` will return `true` if the library hasn't been loaded yet, and return `false` if it has already been required. The bad behavior that you opened this issue for was the require raising `LoadError`, which it doesn't look like the rails console does. That is very interesting...

[2017-01-19 16:28] blowmage commented on #1193
@jdraths To help you debug this further, I will need to ask you more detailed information about your production environment, and we may not want to disclose that information on this public issue. Please hit me up on Google Hangouts at mike@blowmage.com.

[2017-01-19 17:39] blowmage commented on #1193
I debugged with @jdraths offline and this behavior is specific to Unicorn on Nginx. The error occurs when Unicorn is started, not when an HTTP request is made. The library is available when running a rails console.

I suggested a work-around of moving the requires to the `initialize` method to get him unstuck, but I don't have a solution for why this happened in the first place.

[2017-01-19 17:47] quartzmo commented on #1193
Nice work @blowmage!

[2017-01-19 18:01] blowmage commented on #1193
@jdraths I am wondering if this might be an issue with using two different rubies in RVM. If you look at the backtrace in the issue description, the first two steps use ruby-2.0.0-p353, and the rest use ruby-2.3.0. Perhaps

Are you using [RVM Wrappers](https://rvm.io/integration/init-d) in your unicorn configuration?

[2017-01-19 21:28] gousiosg opened #1194 "LoadError (google/gax) when using PubSub"
Hi, I am getting an error when trying to use `google/cloud/pubsub`.

[code]

My `Gemfile.lock` contains the `google-gax (0.6.0)`

[code]

The code that triggers the error is here: https://github.com/ghtorrent/ghtorrent-streaming/blob/master/lib/streaming/gpubsub.rb

[2017-01-19 21:50] quartzmo commented on #1194
Hi @gousiosg. Thank you for reporting this. Can you compare to #1193?

[2017-01-19 21:55] jdraths commented on #1193
@blowmage thanks for pointing that out. I had two rubies in my path. I removed the old one and now only have ruby-2.3.0... still have the same problem when the requires are moved outside of initialize. I'm digging into my unicorn setup to see if I have anything funky going on there.

[2017-01-19 22:23] blowmage commented on #1194
I've downloaded the application you linked to, configured a YAML file with my Google Cloud credentials, installed MongoDB, and run the command `bundle exec bin/ght-mongo-stream config.yaml`. I don't see the LoadError you are reporting.

I'd like to see if we can eliminate some variables. What OS are you using when you get the error? Can you duplicate this error on a different computer? Or on a dif

[2017-01-19 22:24] blowmage commented on #1194
/cc @jmuk

[2017-01-19 22:24] blowmage commented on #1193
/cc @jmuk

[2017-01-19 22:26] blowmage commented on #1193
@jdraths What OS are you running? Ubuntu 14.04?

[2017-01-19 22:28] jdraths commented on #1193
yes, Ubuntu 14.04

[2017-01-19 22:29] blowmage commented on #1194
@gousiosg Since I can't reproduce this, can you test something for me? Can you move the `require 'google/cloud/pubsub'` to the `configure` method in your `gpubsub.rb` file? Does that give you the same error?

Also, what version of bundler are you running?

[2017-01-19 22:38] hxiong388 commented on #1160
To clarify  a little bit, I believe the current plan is to use Stackdriver Error Reporting as a test bed for the GAPIC client only delivering approach. So we don't have any plans to add a hand written simple interface for Error Reporting. But maybe down the road, the generate GAPIC client will be able to provide similar interface.

[2017-01-19 22:40] blowmage commented on #1194
The Gemfile.lock says it was bundled with 1.11.2, is that the version you are still using? Does upgrading bundler change this at all?

[2017-01-19 23:00] blowmage commented on #1194
Also, what rubygems version are you running?

[2017-01-20 00:20] quartzmo opened #1196 "Expose objects.rewrite in File"
As a follow-up to #1195, which adds `File#rotate` based on `objects.rewrite`, I would like to expose the full power of `objects.rewrite` in `File`. It may make the most sense to replace the implementation of `File#copy` with something that uses `objects.rewrite` instead of `objects.copy`, since on the server `objects.copy` seems to just be a single-request version of `objects.rewrite` under the ho

[2017-01-20 00:45] #730 closed

[2017-01-20 00:59] blowmage commented on #1196
I agree that `rewrite` looks to be a better `copy`. From a Ruby API perspective, I think it makes a lot of sense to keep the existing API and swap out the implementations.

[2017-01-20 13:35] gousiosg commented on #1194
Hm, I 've failed to replicate this on my MacBook (10.12) with the following specs:

[code]

The original system is Ubuntu 15.10 with the following specs:

[code]

[2017-01-20 14:34] blowmage commented on #1194
I'm fairly certain that this is a problem in the environment, and not the google-cloud-pubsub or google-gax libraries. But I don't know exactly what the issue is. Hopefully I can get a reproduction to help me diagnose this further. The info you've given me will help a lot, thanks!

[2017-01-20 14:35] mia-0032 commented on #1194
It may be wrong, but I have encountered the similar situation before.
Since `gax.rb` has permission set to 0640, it may not be available if you install gem as a different user such as root user.

[2017-01-20 14:39] blowmage commented on #1194
@mia-0032 Oh, I didn't even think about file permissions! That would explain it as well. I'll follow up with the google-gax team today.

[2017-01-20 14:52] jdraths commented on #1194
@mia-0032 @blowmage that would most likely be the cause of my #1193 , as well. Makes sense now.

[2017-01-20 15:28] gousiosg commented on #1194
For what it's worth, I 've installed Ruby 2.3 with RVM on my machine and works like a charm now.

[2017-01-20 15:41] blowmage commented on #1194
@gousiosg Are you also now running the app with the same user that you installed the gem with?

[2017-01-20 15:58] blowmage commented on #1193
We have verified that googleapis/gax-ruby#54 is the cause for this, so I am going to close this issue. Thank you for opening the issue, helping diagnose the problem, and verifying the fix!

[2017-01-20 15:58] #1193 closed

[2017-01-20 16:02] blowmage commented on #1194
A work-around for this issue is to find the paths that the `google-gax` and `googleapis-common-protos` gems are installed in and to fix the file permissions.

[code]

[2017-01-20 16:03] blowmage commented on #1194
We are confident that googleapis/gax-ruby#54 is the cause for the error, so I am going to close this issue. Please follow that issue for progress on a fix. Thanks all!

[2017-01-20 16:03] #1194 closed

[2017-01-24 19:49] quartzmo opened #1205 "Document Speech low-level API (GAPIC code)"
Types such as [v1beta1/speech_api.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-speech/lib/google/cloud/speech/v1beta1/speech_api.rb) are not currently published to the gh-pages documentation.

- [] Remove exclusions from `.yardopts`
- [] Add navigation to GAPIC/gRPC code

[2017-01-24 19:51] quartzmo opened #1206 "Document Vision low-level API (GAPIC code)"
Types such as [v1/image_annotator_client.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-vision/lib/google/cloud/vision/v1/image_annotator_client.rb) are not currently published to the gh-pages documentation.

- [] Remove exclusions from `.yardopts`
- [] Add navigation to GAPIC/gRPC code

[2017-01-24 22:59] pbogle opened #1207 "Cloud Speech Ruby Veneer: Avoid "Job""
The veneer should avoid the use of the term “job” because this could cause confusion with first-class Job potentially added in a future version of the API. The V1 API will refer to this as LongRunningRecognize

[2017-01-24 23:00] pbogle opened #1208 "Cloud Speech Ruby Veneer: @private Methods not marked a private"
Several methods are documented as @private in the comment but not actually marked private in the ruby source code, should they be?  E.g. https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-speech/lib/google/cloud/speech/stream.rb#L265

[2017-01-24 23:01] pbogle opened #1209 "Cloud Speech Ruby Veneer: Sample code doesn't show how to wait until recognition is complete"
In stream.rb, none of the samples show how to wait until recognition completes; in fact they will potentially exit early before all processing is done.  Could you illustrate best practices in Ruby for doing this?

[2017-01-27 01:08] frankyn commented on #1093
@quartzmo , could I get an update on this? Thanks!

[2017-01-27 01:20] blowmage commented on #1093
@murgatroid99 Any input on this?

[2017-01-28 00:10] quartzmo opened #1212 "Natural Language docs nav does not have "Data Types""
Natural Language docs left navigation does not have "Data Types". Instead, the table of data types for the low-level API (GAPIC) is at the root location: [google/cloud/language/v1](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-language/master/google/cloud/language/v1). This is because unlike other packages, the `google-cloud-language/lib/google/cloud/language/v1/doc`

[2017-01-30 05:40] darrennix opened #1214 "Add Long Running Operations veneer"
Since asynchronous Speech recognize relies on Long Running Operations to communicate when processing is complete, it would be very handy to have a veneer around long-running ops as well.

```wait_until_done!``` is probably not going to get a lot of production use since that would tie up threads for a very long time, indeed.

Thanks for the excellent library @quartzmo

[2017-01-30 19:26] quartzmo commented on #1214
@darrennix You're welcome! But the real credit for this lib goes to @blowmage.

Anyway, sounds good. Feel free to provide a code example if you want, just to ensure that everyone is on the same page.

[2017-01-30 20:13] quartzmo commented on #1209
@pbogle Thank you for reporting this issue. If I understand correctly, the `5.times do` block used in the example below to take microphone input is problematic in that does not wait for a result? My understanding of the example is that the callback block given to `on_result` will continue to handle recognition results even after `stream.stop` is called. @blowmage any comment?

[code]

[2017-01-30 21:43] pbogle commented on #1209
It's very possible I don't understand how the Ruby streaming framework works;  perhaps will block until all results are sent and that side of the stream is closed and we've verified that with a test?

[2017-01-30 21:44] pbogle commented on #1209
I mean to say, perhaps stop() will block until all results are delivered to on_result?

[2017-01-30 21:56] quartzmo commented on #1209
I do not believe that the `stop` call will block. Very likely this example was developed in console, and thus execution was continued until all responses were received.

@blowmage While you work on Speech this week, can you modify the example so that it works if execution ceases after the last line? (Run it from a file, basically...)

[2017-01-31 13:59] blowmage opened #1215 "Consider dropping GRPCUtils"
Some of the internal shared code in google-cloud-core are some helper methods for dealing with common protobuf types such as `Google::Protobuf::Value`. It was assumed that all libraries would use these common types the same way, so these helper methods would be shared. However, we've learned that some libraries use these common types in slightly different ways, and the little reuse we were hoping

[2017-01-31 22:43] quartzmo commented on #1214
@darrennix Thank you! I'm going to assign this now to @blowmage, who is currently working on Speech.

[2017-02-01 01:30] blowmage commented on #1214
I think I understand what you are asking for now. How about the following implementation of this functionality?

[code]

Retrieving a job by id will be provided by the Ruby Speech API:

[code]

Would this work for you?

[2017-02-01 01:38] darrennix commented on #1214
Yup! That would be even better.  If I didn't have to interact with an LRO veneer and instead could just ping the Cloud Speech job for status asynchronously, that would be optimal.

Bear in mind that most people will probably be doing the pinging with ActiveJob, which can have trouble deserializing objects depending on the underlying provider (DJ / Sidekiq) so it's safest to just pass around ids (a

[2017-02-02 00:55] blowmage commented on #1209
I think if you put that code in a file and run it directly, the process will quit as soon as all the last line is run, and it will not wait until a result is returned. This is because the example code is written assuming it is being run as part of a longer running process.

[2017-02-02 00:57] blowmage commented on #1208
These methods are documented correctly. The `@private` directive is used by YARD to indicate that the method is not part of the public API. It does not describe the method level of access. This is used because ruby does not have the notion of package-level access, so these methods need to be `public`, even though they are not part of the public API. These methods can change in future versions with

[2017-02-02 01:03] blowmage commented on #1207
It is common for ruby libraries to call these types of objects "jobs". BigQuery uses the REST API but these objects are called "Job". A soon-to-be announced library uses GRPC and LongTermOperation, but the ruby library calls the object "Job". This is the standard term we have decided to use for the ruby Google Cloud libraries.

We aren't so much concerned with matching the terminology of the under

[2017-02-02 01:27] pbogle commented on #1207
As TL of the speech team, I need to make the call on this based on what I've been told by my OnePlatform API reviewers within Google.

Please feel free to escalate as appropriate if you have been told otherwise.

[2017-02-02 01:36] blowmage commented on #1207
I'm not trying to push back, just provide some context. 😄

The current speech methods are [`recognize`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-speech/v0.21.1/google/cloud/speech/project?method=recognize-instance), [`recognize_job`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-speech/v0.21.1/google/cloud/speech/project?method=recog

[2017-02-02 17:50] pbogle commented on #1207
Our API reviewer recently asked to renamed AsyncRecognize to LongRunningRecognize in the v1 API, due to the "Async" prefix causing issues in some languages.

How about "long_running_recognize" for Ruby as well, for consistency and clarity?

[2017-02-02 20:06] blowmage opened #1216 "Add logging to Google Cloud libraries"
It might be useful to add a ruby Logger to the Google Cloud libraries. This would allow users to optionally tap into the runtime of the libraries and get debug, info, warn, error, and fatal messages generated by the library.

[code]

[2017-02-02 22:09] blowmage commented on #1207
Has the naming change had been made public? We are still waiting on updated protobufs so we can make the changes. That's why I was being cagey about a "a future version of the Speech service API" before.

We agree with the confusion with "sync" and "async", which is why we didn't use those terms when first implementing the ruby library for the Speech API.

We will add `long_running_recognize` as a

[2017-02-02 22:43] pbogle commented on #1207
Please stay tuned.

[2017-02-02 23:21] remi opened #1217 "Links to classes are broken in Monitoring documentation"
Steps to reproduce:

 1. Visit [Google Cloud documentation](https://googlecloudplatform.github.io/google-cloud-ruby)
 2. Browse to [Monitoring > V3 > MetricServiceClient #create_metric_descriptor](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.24.0/google/cloud/monitoring/v3/metricserviceclient?method=create_metric_descriptor-instance)
 3. Click on the return type [

[2017-02-02 23:45] quartzmo commented on #1217
@remi Thanks for reporting this. I suspect we can generalize this issue, as it will probably be true for any linked type that does not have a namespace that includes the service name (in this case, `monitoring`).

This should only be a problem in the `google-cloud` package docs, because they are created by copying docs from the individual packages. In the `google-cloud-monitoring` docs, the page f

[2017-02-02 23:49] blowmage commented on #1217
I can confirm the class documentation is defined in [google-cloud-monitoring/lib/google/cloud/monitoring/v3/doc/google/api/metric.rb](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-monitoring/lib/google/cloud/monitoring/v3/doc/google/api/metric.rb#L128). Agree this looks to be a problem with the umbrella packaging... _le sigh_

[2017-02-03 20:53] echan00 opened #1218 "Google Cloud Speech API - AAC filetype encoding?"
Any plans to include additional filetype encodings such as AAC audio?

[2017-02-03 20:59] blowmage commented on #1218
The ruby library is limited by the encodings supported by the API. When the API supports more encodings the ruby library will also start to support them.

Here are the encodings supported now:

https://cloud.google.com/speech/reference/rpc/google.cloud.speech.v1beta1#google.cloud.speech.v1beta1.RecognitionConfig.AudioEncoding

[2017-02-03 21:02] echan00 commented on #1218
ok thanks!

[2017-02-03 21:02] #1218 closed

[2017-02-06 19:16] quartzmo commented on #1208
@pbogle Hope this is satisfactory, please reopen if not.

[2017-02-06 19:16] #1208 closed

[2017-02-06 19:17] quartzmo commented on #1209
@blowmage Are you saying the example should remain as it is now?

[2017-02-06 19:17] pbogle commented on #1208
Thanks for the explanation, sounds good.

[2017-02-06 20:37] blowmage commented on #1209
I'm saying I think the code as it is written now is fine, it just has some assumptions about where is is going to be used. But it would be preferable to add a helper method to block until the stream is completed.

[2017-02-06 20:46] pbogle commented on #1209
Please document those assumption in comments in the code; Ruby code doesn't necessarily run in a something that will wait for the stream to be completed. If we have a helper method to block until the stream is completed as suggested, couldn't we add it to the sample code?

[2017-02-06 20:52] mattsarney opened #1219 "Datastore with 0.6.3 gives error about Daily Limit exceeded"
I'm getting a daily limit exceeded response when calling find on a datastore using gcloud v0.6.3.  We are bound to v0.6.3 in our production environment because of some limitation or conflict with upgrading glibc.

Is there a way to get datastore working with v0.6.3?  I've captured the script and output below.  I get the datastore entity back (blob of XML in a property called 'xml') when using v0.1

[2017-02-06 22:48] quartzmo commented on #1212
I'm going to close this for now, in favor of solving the problem via #1180.

[2017-02-06 22:48] #1212 closed

[2017-02-06 23:08] blowmage commented on #1180
I am not in favor of having `gcloud-jsondoc` implement this, since the documentation won't be added to the ruby files and be available to services like rubydoc.info that generate documentation from the files distributed in the gems. Would it be possible to have GAPIC generate the "Data Types" documentation?

[2017-02-06 23:25] quartzmo commented on #1180
@blowmage I don't think access in rubydoc.info is a problem (see the left nav for [Google/Datastore/V1/AllocateIdsRequest](http://www.rubydoc.info/gems/google-cloud-datastore/Google/Datastore/V1/AllocateIdsRequest), for example.) The need for this table is purely in the gh-pages site, because of the lack of a complete "index" listing in the left nav, or am I mistaken?

[2017-02-06 23:30] blowmage commented on #1180
Right now the gh-pages site needs a namespace (module or class) to navigate to , so my assumption here is that this documentation will be added to a module or class. Are you thinking about creating a non-existing namespace for the gh-pages app to use?

[2017-02-06 23:45] quartzmo commented on #1180
That's all I can think of, yes. Probably called "DataTypes"!!!

[2017-02-06 23:47] quartzmo commented on #1180
Although, the types in jsondoc do not have a strict definition. In the Angular app, they are called "services".

[2017-02-06 23:50] quartzmo commented on #1180
Something like this:
`google/datastore/v1/datatypes.json`
[code]

[2017-02-06 23:54] blowmage commented on #1180
Okay.

[2017-02-07 20:34] mattsarney commented on #1219
Hi @blowmage - our situation regarding glibc is in reference to #713 - I work with arparker.  Our production environment is on an older OS version that doesn't have a patching path to a newer glibc version, updating glibc for us requires a new OS version.

Is there any way to patch 0.6.3 to work with datastore calls, even deprecated version?  This would likely tide us over until our apps move into

[2017-02-08 19:12] quartzmo commented on #1219
@mattsarney We really sympathize with your need, but we can't prioritize this right now above some other urgent deliverables we are working to release. Can you fork from `v0.6.3` and adapt that to use [Google Cloud Datastore API `v1`](https://cloud.google.com/datastore/docs/reference/rest/)?

[2017-02-08 19:13] quartzmo commented on #1215
@blowmage You want to leave this open until we remove `GRPCUtils`?

[2017-02-08 19:47] mattsarney commented on #1219
@quartzmo We are using cloud storage for this particular use case and seems to perform ok for what we need.  If for some reason our use of storage isn't working out we can fork or use the REST API directly for datastore.  We'll be moving to GCE soonish so can then use the current gem version.

[2017-02-08 19:48] quartzmo commented on #1219
@mattsarney Glad to hear it. OK to close this issue?

[2017-02-08 19:58] mattsarney commented on #1219
Yes

[2017-02-08 19:58] #1219 closed

[2017-02-08 20:41] blowmage commented on #1215
Not sure, I can see closing, and I can see keeping it open.

[2017-02-09 09:32] omaray opened #1223 "Storage: add support for Per-Object Storage Class"
We need to add support for Per-Object Storage Class (POSC).

Here some extra information to help:

- [POSC info from Cloud Storage documentation](https://cloud.google.com/storage/docs/per-object-storage-class)
- [POSC example with JSON API](https://cloud.google.com/storage/docs/changing-storage-classes)
- [Storage Class info from Cloud Storage documentation](https://cloud.google.com/storage/docs/s

[2017-02-09 23:49] darrennix commented on #1214
I tried to shortcut this in the mean time by marshalling the job but no dice when loading it back up
[code]

[2017-02-10 00:04] blowmage commented on #1214
We have some changes coming to Speech soon, and this change will be part of that. Hopefully it will become public soon.

[2017-02-10 00:44] blowmage commented on #1214
@darrennix To help get you unstuck, you can use the following to accomplish what you are trying to do:

[code]

This is using many private methods, and because of that is very specific to the current release. Which means this code may not work in the future when a proper public API is added for this functionality. Fair warning, we won't support this code in any way. :)

[2017-02-10 00:47] darrennix commented on #1214
Oh sick - thank you!  I'm following updates to the library closely and will reimplement when the public API is added.

[2017-02-10 08:03] blowmage commented on #1205
Speech will need the functionality covered in #1180 in order to properly expose the GAPIC types. The GAPIC and Protobuf classes share a common namespace.

[2017-02-11 04:51] welkie opened #1226 "Cannot require 'google/cloud/datastore'"
I'm having an issue using Datastore in a local (soon to go on Heroku) Rails app. I add it to my Gemfile with:

[code]

But when I try to create a Datastore object:

[code]

I get:

[code]

I did notice in the documentation that there is a require statement, so when I modifed my Gemfile:

[code]

I get this when launching the rails console:

[code]

Note that I added the GOOGLE_CLOUD_PROJECT and GO

[2017-02-11 05:28] blowmage commented on #1226
Hi @welkie, you need to use the require to call the `new` method. The LoadError is a know issue with the file permissions in the google-gax library. The gem's files are only readable by the user that was used to install the gem. A fix is to adjust the gem's file permissions. You can do this by finding the paths that the `google-gax` and `googleapis-common-protos` gems are installed in and to fix t

[2017-02-11 05:47] welkie commented on #1226
@blowmage Thanks for replying. I actually solved this by trying again at creating a Rails app to test this. I was able to instantiate a Datastore object after successfully requring Datestore. The first app I created, I had a lot of "skip" flags because I thought that less would be better. I was only testing Google Cloud Platform, nothing else:

[code]

My new app, I only skipped ActiveRecord, and

[2017-02-11 05:58] blowmage commented on #1226
Us too. Let us know how we can help.

You likely didn't have the LoadError because you installed the google-gax gem with the same user you were running the app as.

[2017-02-13 03:19] premist opened #1228 "Features use gRPC not compatible with Ruby 2.4"
google-protobuf gem is [not compatible](https://github.com/google/protobuf/issues/2541) with Ruby 2.4 until version 3.1.0, and version 3.2.0 is not pushed to the RubyGems repository.

[2017-02-13 04:31] blowmage commented on #1228
We are unfortunately aware of this and waiting on new releases of GRPC and Protobuf to support Ruby 2.4. See https://github.com/grpc/grpc/pull/9291 and https://github.com/google/protobuf/issues/2541

[2017-02-13 19:02] Draiken opened #1230 "Unexpected error RST_STREAM using PubSub"
We just migrated to Google Cloud today (yay) but we're having a zillion of these errors:
[code]
I have no idea where this comes from or how to fix it.
We're using:

Dep | Version
-----  | ---------
ruby | 2.2.5
google-cloud-core | 0.21.1
google-cloud-pubsub | 0.21.0

[2017-02-13 19:06] blowmage commented on #1230
@nicolasnoble @murgatroid99 Can either of you shed some light on this?

[2017-02-13 19:44] #1223 closed

[2017-02-13 19:52] blowmage commented on #1230
@swcloud Can we escalate this to the GRPC team?

[2017-02-13 21:02] blowmage commented on #1230
@Draiken Here is some context for the error. I'm not an expert at GRPC, so this is according to my own understanding. I hope others will correct me if needed. An [RST_STREAM frame](http://www.grpc.io/docs/guides/wire.html#http2-transport-mapping) is used when a message stream becomes corrupted. So this looks like it might be a network issue. Where is your app you hosted?

Also, the error message b

[2017-02-13 21:43] Draiken commented on #1230
This is being generated by background workers when publishing to pubsub. We're hosted on GKE so it's very unlikely that google's own networking is having so many problems.

We've had over 1M errors already (we flipped the switch to GKE today) and it's really hindering the performance of the workers. Seems completely random, didn't find any pattern on message size and we use just one topic.

We use

[2017-02-13 22:12] blowmage commented on #1230
Thank you for the backtrace. It shows the error is being wrapped by `Google::Cloud::InternalError`, so this is definitely an error that is being raised. From the backtrace it looks to me like it is being returned by the server, but I am not an expert and it may still be raised by the GRPC client. I don't see any API indents listed on the [Pub/Sub status](https://status.cloud.google.com) though.

T

[2017-02-13 22:14] blowmage commented on #1230
@danoscarmike Is this related at all to the client changes being made to the Java and Go Pub/Sub libraries?

[2017-02-13 22:28] blowmage opened #1231 "Add Ruby 2.4 to CI"
Ruby 2.4 support is coming with new versions of the grpc, google-protobuf, and google-gax gems. Add Ruby 2.4  to the CI environments when this happens.

[2017-02-13 22:29] blowmage commented on #1231
Right now we have configured the library with 4 nodes on CircleCI. Ruby 2.4 would require a 5th node. However, we may want to rewrite the build script so that we can deal with an arbitrary number of CircleCI nodes, and an arbitrary number of Ruby versions.

[2017-02-13 22:30] blowmage commented on #1231
See https://circleci.com/docs/parallel-manual-setup/#env-splitting

[2017-02-14 20:32] blowmage commented on #1093
@frankyn Do you still get a segfault using grpc 1.1.2?

[2017-02-14 20:56] reneklacan opened #1232 "Cloud Spanner Support?"
Hi, is there plan to add support for Cloud Spanner? If yes then any idea when?

[2017-02-14 20:58] quartzmo commented on #1232
Yes, for sure! Very soon!

[2017-02-14 21:09] reneklacan commented on #1232
@quartzmo Thank you for quick answer!

[2017-02-14 21:15] quartzmo commented on #1232
We are very excited about [Cloud Spanner](https://cloud.google.com/spanner/).

[2017-02-14 21:52] frankyn commented on #1093
@blowmage I test it again with the updated grpc gem. At first it looked like it worked, because it didn't segfault. Then I noticed there was no transcribed output from this script.

**I added a delay to the script shown below and then a segfault occurred again**.

# Script
[code]

# Gemfile
[code]

# Segfault
[code]

[2017-02-14 22:16] blowmage commented on #1093
@swcloud Can you escalate this to the GRPC team?

[2017-02-15 15:46] blowmage commented on #1093
@frankyn Looking at this again, I'm confused at what you are trying to do with the following code:

[code]

After you stream the bytes, you are keeping the stream alive for an additional 10 seconds. Then, you close the stream and immediately exit the ruby process. So the GRPC client, which is still in process of closing the stream, segfaults because it isn't handling the exit well. This effectivel

[2017-02-15 17:29] frankyn commented on #1093
@blowmage, I'm probably misunderstanding the [snippet](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.24.0/google/cloud/speech/project?method=stream-instance) provided in the client library docs.

I'm trying to use the Streaming API to transcribe an audio file. My end goal, which has not been added to this script, is to make a ML blog post with an example of using t

[2017-02-15 18:17] blowmage opened #1234 "Transaction Retry Loop"
Transaction failing with an `ABORTED` status it needs to be retried, with backoff. The backoff value from the `RetryInfo` object should be used. *All* user operations done under the aborted transaction need to be retried.

[2017-02-15 18:18] blowmage opened #1235 "Session Pool"
Use a pool to manage sessions. Session creation is expensive and the number of sessions that can be created is limited. Sessions and the pool will be hidden from end users, but the pool behavior can be configured by the following settings:

1. `min`: Minimum number of sessions that the pool will maintain at any point in time.
2. `max`: Maximum number of active sessions that the pool will have at a

[2017-02-15 18:18] blowmage opened #1236 "Resume broken streams"
The PartialResultSet object can contain a resume token which can be used to resume a broken stream. The resume token is not guaranteed to be in every message. Results should be buffered until a resume token is present before yielding.

If a stream is broken, a new API request should be made with the token, and results continued to yielded from the new streaming response. If the broken stream canno

[2017-02-15 18:18] blowmage commented on #1236
We are not yet sure what constitutes a broken stream, or how the returned Enumerator will behave when a stream is broken.

[2017-02-15 18:18] blowmage opened #1237 "Use google-cloud-resource-prefix Header"
Google Cloud Spanner should send the project name, instance name, or database name in the `google-cloud-resource-prefix` header. Currently only project is being sent, but we should send the most specific value that is available. All data requests made by the client should provide the database name in the header.

[2017-02-15 18:33] blowmage commented on #1093
Sleeping _after_ stopping the stream would be a big improvement. That would give all the events time to fire before exiting the process.

I also think if you actually used the result the process would not be exiting so early. Another thing we have done is use the `on_complete` callback to know when all results are returned.

[code]

[2017-02-16 09:53] omaray opened #1238 "Write more integration tests for BigQuery"
Please see email I sent about the details and test cases from @tswast .

Also, C# has [some examples](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.BigQuery.V2/Google.Cloud.BigQuery.V2.IntegrationTests/ExhaustiveTypesTest.cs) that might be worth looking at.

/cc @jskeet @jba @tswast @danoscarmike

[2017-02-16 16:22] qingling128 opened #1239 "Partial Success with Status Details"
We are writing log entries to Logging API using the `write_log_entries` [method](
https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-logging/lib/google/cloud/logging/v2/logging_service_v2_client.rb#L308), and we enabled `partial_success`.

When a request has a mix of failed and successful entries, it raised a `GRPC::BadStatus` error. However, we can't find a way to g

[2017-02-16 17:36] blowmage commented on #1239
Hi @qingling128, the [`GRPC::BadStatus`](http://www.rubydoc.info/gems/grpc/GRPC/BadStatus) object has a [`metadata`](http://www.rubydoc.info/gems/grpc/GRPC/BadStatus#metadata-instance_method) attribute. This is usually a hash, and I would expect it to include the detail you are looking for.

[2017-02-16 18:13] qingling128 commented on #1239
Hi @blowmage, thanks for taking a look. Yeah, I thought that too, and it was indeed a hash, but i got an empty hash instead.

The sample request I used (with unrelated fields replaced with "...") have three log entries. The first two should fail for invalid character ":" in the log names.
[code]

And the error I got is:

[code]

I was expecting something like

[code]

[2017-02-16 18:31] blowmage commented on #1239
@swcloud I haven't been able to get any meaningful information in the BadStatus metadata attribute either. Even by calling the GRPC directly, and bypassing GAPIC. Perhaps this is a problem in the GRPC client? Can you escalate to the GRPC team?

[2017-02-16 19:35] frankyn commented on #1093
Thanks Mike!

[2017-02-16 19:38] #1093 closed

[2017-02-16 23:48] danoscarmike commented on #1230
Sorry for delay.  Stand by...

[2017-02-17 00:11] apolcyn commented on #1230
Not sure it's possible but does Sidekiq happen to be used in a way that it's forking off child processes?

[2017-02-17 00:28] Draiken commented on #1230
I believe it used threads, but it's possible they changed to forking. I'll
have a look at their source code/docs to give you a better answer as soon
as I can

On Thu, Feb 16, 2017, 10:12 PM apolcyn <notifications@github.com> wrote:

[2017-02-17 00:35] blowmage commented on #1230
@Draiken What percentage of jobs are seeing this error?

[2017-02-17 00:45] Draiken commented on #1230
We send in average 1.2M messages a day and had 126k errors, so about 10%

On Thu, Feb 16, 2017, 10:35 PM Mike Moore <notifications@github.com> wrote:

@Draiken <https://github.com/Draiken> What percentage of jobs are seeing
this error?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/GoogleCloudPlatform/google-cloud-ruby/issu

[2017-02-17 06:22] swcloud commented on #1239
Adding @apolcyn

[2017-02-17 07:53] apolcyn commented on #1239
My first take on this is that it looks above gRPC. In general the `BadStatus` exception is thrown by the ruby client when a call results in a non-OK status. The metadata hash is for custom metadata and the details are for a custom message - they need to be filled in by the server that's returning the status. Is there expected metadata/message that isn't showing up here?

[2017-02-17 13:54] blowmage commented on #1239
@apolcyn Yes, we expect the `WriteLogEntriesPartialErrors` data to be returned, per the documentation.

[2017-02-17 17:42] qingling128 commented on #1239
Originally I thought it was this [wrapping logic](https://github.com/googleapis/gax-ruby/blob/e8c66e40fe2881cf9b606f33acf4e8b7d13cefdc/lib/google/gax/api_callable.rb#L249) from `GRPC::BadStatus` to `GaxError` in the GAX lib that dropped the metadata info. But a closer look indicated for some reason the wrapping did not take effect, and I was able to rescue the `BadStatus` directly.

My current hun

[2017-02-17 18:02] blowmage commented on #1239
@nicolasnoble @murgatroid99 Can you shed any light on the behavior of this Ruby client C code?

[2017-02-17 18:08] nicolasnoble commented on #1239
Well, the proper contact point with regards to the specifics of how the C core works would maybe be @ctiller. At that point, @apolcyn holds as much information than us on the Ruby client C code.

If you want more insights about the C core, and if you suspect a problem in the C core, you'd need to run the whole thing with [debugging and tracing on](https://github.com/grpc/grpc/blob/master/doc/envir

[2017-02-18 15:40] blowmage opened #1243 "Is OrderedHash needed?"
I've been going through the GRPC-based gems' dependencies and I noticed Logging's dependency on OrderedHash. I didn't know anything about this gem so I did some research. I couldn't find a repo for it, but I did notice that it hasn't had a release in [over eight years](https://rubygems.org/gems/orderedhash/versions/0.0.6). Looking at [the docs](http://www.rubydoc.info/gems/orderedhash/0.0.6/Ordere

[2017-02-18 16:03] quartzmo commented on #1243
It appears that @hxiong388 added this dependency on 10/13/16, so I'll wait for his comment. Afaik it should not be needed, but maybe there is some reason related to concurrency.

[2017-02-18 17:12] blowmage commented on #1231
We can't add Ruby 2.4 to the build just yet. We have a development dependency on Rails 4, and unfortunately Rails 4 won't support Ruby 2.4 until Rails 4.2.8 is released.

We may also have to unpin rubocop in order to support Ruby 2.4. So this change may end up being larger than we had hoped.

[2017-02-21 11:28] Draiken commented on #1230
Sidekiq does not use forks, only threads to handle workers.

Is there any kind of setup we need to perform after each thread is initialized?

Can I help on this with anything else? I feel like my hands are tied :confused:

[2017-02-21 14:26] blowmage commented on #1230
@swcloud Has the Pub/Sub team been notified of this?

[2017-02-21 18:01] swcloud commented on #1230
@blowmage I just notified them.

[2017-02-21 18:01] #1180 closed

[2017-02-21 18:01] #1206 closed

[2017-02-21 18:04] hxiong388 commented on #1243
I used OrderedHash for that exact purpose, preserve insertion order. I didn't know Ruby's built-in Hash already supports this feature. I will refactor the Logging gem to remove this dependency.

[2017-02-21 19:22] quartzmo opened #1252 "'Data Types' nav item not active when GAPIC type is viewed"
In the gh-pages docs (gcloud-common Angular site app), the special 'Data Types' nav item is not in the active (highlighted) state when a GAPIC type listed in it is viewed.

Steps to reproduce:

1. Navigate to a "Data Types" left nav item in **an individual package**, such as [`google-cloud-datastore/master/google/datastore/v1/datatypes`](https://googlecloudplatform.github.io/google-cloud-ruby/#/do

[2017-02-21 21:21] landrito opened #1255 "Natural Language: Remove encoding argument"
Based on internal feedback, we should default the encoding based on the fact that the user is using Ruby v2.0+.

[2017-02-21 21:32] blowmage opened #1256 "Update to google-api-client 0.10.x"
The Google API Client library has cut its first 0.10.x release. We should stay on the technology treadmill and upgrade to the latest version.

[2017-02-21 21:59] #1243 closed

[2017-02-21 22:03] blowmage commented on #1232
We don't have an ETA for the Spanner client, but it remains a high priority.

Is this issue resolved? Can it be closed?

[2017-02-21 22:04] quartzmo commented on #1232
Yes, closing. Spanner coming soon!

[2017-02-21 22:04] #1232 closed

[2017-02-21 22:06] blowmage commented on #1228
Today we released new versions of all GRPC-based gems. This release updates the dependencies on `grpc`, `google-protobuf`, and `google-gax` and adds Ruby 2.4 support.

@premist, can you verify these new releases for work you on Ruby 2.4?

[2017-02-21 22:07] blowmage commented on #1226
Hi @welkie, today we released new gems that reply on updated dependencies that fix this issue. Can you upgrade to the latest gems and verify that this fixes this issue or not? Thanks!

[2017-02-21 22:09] blowmage commented on #1193
This issue should be fixed with `google-cloud-datastore` version 0.24.0 that was released today. Please upgrade. Thanks for working with us on this!

[2017-02-21 22:10] blowmage commented on #1194
This issue should be fixed with `google-cloud-pubsub` version 0.23.0 that was released today. Please let us know how that works for you. Thanks for helping us on this!

[2017-02-21 22:11] blowmage commented on #1215
This change was made. All gems now own their own logic for dealing with core Protobuf types.

[2017-02-21 22:11] #1215 closed

[2017-02-21 22:41] blowmage commented on #899
@timanovsky Is this still happening with `grpc` 1.1.2?

[2017-02-21 23:33] qingling128 commented on #1239
Some updates:

I extracted the piece of code we use to make the call and test it on my dev box and a random GCP instance (the same one i used to run our agent in).

On my dev box (Ubiquity) it has the `WriteLogEntriesPartialErrors` I'm looking for in the metadata
[code]

While on the GCP instance it still shows empty metadata:
[code]

QUESTION: Is there some config / environment settings / params

[2017-02-22 00:37] reneklacan commented on #1232
👏

[2017-02-22 00:39] reneklacan commented on #1232
It's probably not scope of this repo but having ActiveRecord adapter from you guys would be really awesome and it would really help Spanner to get even more attention.

[2017-02-22 00:42] quartzmo commented on #1232
@reneklacan I'm glad you mentioned that!

[2017-02-22 01:00] blowmage commented on #1232
We have discussed an activerecord adapter, but there are several complications. I hope we can make something work.

[2017-02-22 01:05] quartzmo opened #1258 "gh-pages "umbrella" package nav not active when Protobuf type is viewed"
In the gh-pages docs (gcloud-common Angular site app), the left nav is not in the active (highlighted) state when a Protobuf type listed in the "Data Types" page is viewed.

Steps to reproduce:

1. Navigate to a "Data Types" left nav item in **the `google-cloud` package**, such as [`google-cloud/master/google/datastore/v1/datatypes`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/g

[2017-02-22 04:18] welkie commented on #1226
Works well for me today. Unfortunately, I'm not sure I even understand the issue I originally had. Your posts inferred that it was an issue with my permissions as I installed and used gems. A user mismatch. I thought it had to do with having so many skip switches in my ```rails new```.

Today, I used the exact same ```rails new``` as in my post above where I encountered the problem, with all the s

[2017-02-22 04:31] #1226 closed

[2017-02-22 09:24] timanovsky commented on #899
Hi, I haven't updated for awhile, I can give it a try. Does it have the
enhancement? I couldn't find anything related in the release notes.

Best regards,
Alexey Timanovsky.

On 22 February 2017 at 01:41, Mike Moore <notifications@github.com> wrote:

[2017-02-22 13:43] blowmage commented on #899
The [grpc 1.1.0 release](https://github.com/grpc/grpc/releases/tag/v1.1.0) made improvements to networking. If you install the latest gem you will get use that version. Curious if it improves your situation.

[2017-02-22 13:50] blowmage commented on #899
@murgatroid99 can you or someone else comment on keep alive in the GRPC lib?

[2017-02-22 19:54] ukd1 commented on #1232
@quartzmo is their a ticket where we can follow this? We are also interested in Ruby support.

[2017-02-22 20:20] quartzmo commented on #1232
@ukd1 This is the only issue, so the branch is the way to watch for progress.

[2017-02-22 20:27] blowmage commented on #1232
Now that Spanner is public all future development will be happening on master. I'll remove the spanner branch.

[2017-02-22 20:55] quartzmo commented on #1232
Oh yeah, sorry @ukd1, the branch has been merged. Look for new PRs with the `API: spanner` label that is on this issue.

[2017-02-23 04:55] apolcyn commented on #1239
@qingling128 I haven't reproduced yet but from the exception dumps on your dev box vs. gce, are there perhaps different versions of the grpc gem in these different environments? (The `GRPC::InvalidArgument` exception is introduced in v1.1.2, previous versions would throw the plain `GRPC::BadStatus`).

fyi:

AFAIK this should be showing up in both cases as long as it was sent.

Also it is correct t

[2017-02-23 10:04] Draiken commented on #1230
We went ahead and upgraded to 0.22.0 and the error finally disappeared...
Now I only have the occasional `DeadlineExceededError` which seems to be expected to happen sometimes

[2017-02-23 10:05] #1230 closed

[2017-02-23 14:07] Draiken opened #1261 "NoMethodError·undefined method `page_descriptor' for nil:NilClass"
This error seems to happen at random times on Sidekiq which leads me to believe it's a concurrency issue.

Happens on calls like
[code]

Stacktrace: https://gist.github.com/Draiken/25a67cb8a38feed8bcf3e25854cbbad6
Ruby: 2.2.5
PubSub: 0.22.0

[2017-02-23 14:20] blowmage commented on #1261
How often?

[2017-02-23 14:22] Draiken commented on #1261
Pretty rare. I figured I'd report it otherwise it wouldn't ever be fixed,
but I imagine this will be low priority for you guys

On Thu, Feb 23, 2017, 11:20 AM Mike Moore <notifications@github.com> wrote:

[2017-02-23 14:23] blowmage commented on #1261
What version of grpc are you using?

[2017-02-23 14:25] premist commented on #1228
Hi @blowmage, I verified that `google-cloud-trace` gem works with Ruby 2.4! Feel free to close this issue.

[2017-02-23 14:27] Draiken commented on #1261
1.1.2

On Thu, Feb 23, 2017, 11:23 AM Mike Moore <notifications@github.com> wrote:

[2017-02-23 14:49] blowmage commented on #1261
@swcloud @landrito Do you guys want to look at this? It seems that when a GAPIC client is created the call settings object being passed into the GAX code is `nil`. But this only happens rarely. Thoughts?

[2017-02-23 14:58] blowmage commented on #1230
@Draiken Great news! If you upgrade further to the 0.23.0 you should stop seeing those deadline exceeded errors, as that release contains a fix for the retry logic. Most requests that return that error should be automatically retried by the library.

[2017-02-23 15:00] blowmage commented on #1228
Wonderful! Thanks for verifying.

[2017-02-23 15:00] #1228 closed

[2017-02-23 18:15] danoscarmike commented on #82
Hi Mike, closing this.  Please reopen with more description if still relevant.  Thanks.  Dan

[2017-02-23 18:15] #82 closed

[2017-02-23 18:16] danoscarmike commented on #90
Hi Mike, closing this.  Please reopen with more description if still relevant.  Thanks.  Dan

[2017-02-23 18:16] #90 closed

[2017-02-23 18:17] danoscarmike commented on #93
Hi Mike, closing this.  Please reopen with more description if still relevant.  Thanks.  Dan

[2017-02-23 18:17] #93 closed

[2017-02-23 18:17] blowmage commented on #82
Backoff is now provided by GAPIC, so this can definitely be closed.

[2017-02-23 18:35] landrito commented on #1255
@danoscarmike Can you add this to the ML project.

[2017-02-23 18:42] bjwatson commented on #1217
@quartzmo Can you verify whether this affects the ML or GA candidate APIs? If so, we need to raise the priority of this issue.

[2017-02-23 18:51] danoscarmike commented on #1196
Ping on this.  If implemented will it amount to a breaking change?  If so, please apply Status: Release Blocking label.

[2017-02-23 18:52] bjwatson commented on #1196
Also, please bump this up to `Priority: P1` if this requires a breaking change. If it can be done later in a non-breaking manner, then let's leave this alone for now.

[2017-02-23 18:52] danoscarmike commented on #1181
@omaray to flesh out design.  At minimum we need to provide content / redirect.

[2017-02-23 18:53] danoscarmike commented on #1166
@omaray can you confirm the path here?  Can we "wont fix" this one?

[2017-02-23 18:56] danoscarmike commented on #1120
Hi Mike, what's a tag build?  Can you provide more description?  P2?

[2017-02-23 18:58] #986 closed

[2017-02-23 19:01] remi opened #1263 "Document Translate low-level API (GAPIC code)"
There's an issue to [Document Speech low-level API (GAPIC code)](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1205) #1205

Right now, the documentation for [Language](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.25.0/google/cloud/language) and [Vision](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.25.0/google/clo

[2017-02-23 19:02] bjwatson commented on #818
Is anyone still having this issue? If so, please re-open with a description of what you're seeing.

[2017-02-23 19:02] #818 closed

[2017-02-23 19:08] swcloud commented on #706
@jgeewax Is this still an issue?

[2017-02-23 19:21] blowmage commented on #1263
Right now there is no low level API for Translate. It used to use the Google API Client, but that was switched to use a custom implementation hitting the REST endpoints. The other low level API clients all use the GRPC endpoints, and that is what is being documented as the low level API. To fulfill this issue Translate would need to switch to a GRPC endpoint, but AFAIK that does not exist.

Can we

[2017-02-23 19:34] blowmage commented on #1120
We have 3 services running CI: CircleCI (Linux), Travis-CI (Mac), and AppVeyor (Windows). CircleCI is the main service, and runs builds on master, all PRs, and whenever we add a git tag. A git tag is a labeled commit that identifies the commit as a release, and CircleCI performs the build on a tag and releases the gem if the build is successful.

Travis-CI and AppVeyor do not perform releases, and

[2017-02-23 19:37] blowmage commented on #1166
@danoscarmike We were told this change was coming, but had been delayed for a bit. That's why we added the `on hold` label.

[2017-02-23 19:39] blowmage commented on #1196
I don't think this would be a breaking change.

[2017-02-23 19:49] blowmage commented on #1217
To be clear, this affects only the [GCP hosted documentation](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs), and does not affect the user's local documentation or documentation [hosted elsewhere](http://www.rubydoc.info/gems/google-cloud-datastore).

The documentation application's use of an "umbrella" package has been problematic for us. The approach is basically duplicating doc

[2017-02-23 22:40] quartzmo commented on #1263
@remi Do you maybe want to change this to "Use GAPIC in Translation" or something? I don't know how to address the docs inconsistency on its own.

[2017-02-23 22:42] qingling128 commented on #1239
I downgraded the grpc gem version on my dev box from `v1.1.2` to `v1.0.1` which is what the GCP instance has, and tried it again. Still the metadata showed up on my dev box. I did get `GRPC::BadStatus` instead of `GRPC::InvalidArgument` though.

[code]

[2017-02-23 23:28] dazuma commented on #407
This is now being worked on as part of the google-cloud-env gem (See https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/1259)

[2017-02-23 23:30] swcloud commented on #1255
@blowmage Can you make this priority since we want to fix this before March 3.

[2017-02-23 23:39] blowmage commented on #1255
Yep.

[2017-02-24 00:00] quartzmo commented on #1217
@bjwatson I started work on this yesterday and should have the fix complete today. The answer to your question is yes, but I hope to have it closed before you need to change the priority.

[2017-02-24 00:51] arthurbailao opened #1264 "How can I patch a complex BigQuery schema?"
Considering this schema, how can I add another `custom_data` field?
[code]

[Update 2017/02/24, @quartzmo:]

Deliverables:

- [ ] Create table schema with nested records
- [x] The ability to get an existing field on a schema so users don't have to redefine the entire table schema

[2017-02-24 01:01] quartzmo commented on #1264
Hi @arthurbailao, does this example help?

[code]

[2017-02-24 01:05] dazuma commented on #1231
Rails 4.2.8 landed on Feb 21.

I've been able to run test, doctest, and rubocop across all libraries on Ruby 2.4.0, so I think we're okay without having to pin rubocop for now. Rainbow 2.1.0 is giving a Ruby 2.4 warning, but it's not fatal. I haven't tried acceptance tests yet.

[2017-02-24 02:28] swcloud commented on #1180
@quartzmo Looks like you figured out a way to add toc without changing gapic, can you confirm?

[2017-02-24 04:24] quartzmo commented on #1180
@swcloud Yes, confirmed: In PR #1224. Then, to the best of my knowledge, in #1250 I removed all of the TOC docs that I manually added to GAPIC files.

[2017-02-24 13:42] timanovsky commented on #899
I've been running it for half a day, and I would say no change, connections
still die after some inactivity. Error text has changed though, now it is
GRPC::Internal  / 13 / "Transport closed"

Best regards,
Alexey Timanovsky.

On 22 February 2017 at 16:43, Mike Moore <notifications@github.com> wrote:

[2017-02-24 13:57] blowmage commented on #899
Thanks @timanovski!

[2017-02-24 14:27] blowmage commented on #1255
AFAICT this already happens. Actions that do not specify an encoding generate requests to the API that include `:UTF8`.

I submitted #1267 to update the documentation to make this more clear. Can this issue be closed?

[2017-02-24 14:45] blowmage commented on #608
I believe this has been resolved by GRPC. I am able to send an interrupt in IRB and the listen loop will halt immediately.

[2017-02-24 14:45] #608 closed

[2017-02-24 17:54] arthurbailao commented on #1264
Hi @quartzmo , thanks for help!!

I can't figure out how to add a single field to the custom_data nested field. I need to reproduce the whole mapping just to add a single field?

Furthermore, I've got the following error when trying to define a nested record type field

[code]

[2017-02-24 17:58] landrito opened #1268 "Update Gapic Clients to use new http headers."
This is a tracking meta-issue for updating the gapic clients to use the new http headers.

Each PR should:

  * The `lib_name` and `lib_version` keyword arguments to the GAPIC client for the clients that are wrapped by a hand-written layer.

Completion List:
  * [x] Datastore (#1269)
  * [x] Error Reporting (#1270)
  * [x] Language (#1271)
  * [x] Logging (#1272)
  * [x] Monitoring (#1273)
  * [x]

[2017-02-24 19:24] bjwatson commented on #1217
@quartzmo Thanks! But too late to stop me from changing the priority. ;)

[2017-02-24 20:00] landrito commented on #1268
Hopefully doing it like this will reduce your cognitive load @blowmage!

[2017-02-24 20:05] #1217 closed

[2017-02-24 20:59] blowmage opened #1279 "Add Entry#trace"
#1272 adds the protobuf definitions for LogEntry trace. Add support for this value in Logging Entry.

[2017-02-24 21:00] blowmage opened #1280 "Add Entry#source_location (SourceLocation)"
#1272 adds the protobuf definitions for LogEntry source_location. Add support for this value in Logging Entry.

[2017-02-24 21:01] blowmage opened #1281 "Add Project#logs (list_logs)"
#1272 adds the protobuf definitions for the ListLogs request/response. Add support for this value on Logging Project.

[2017-02-24 21:03] blowmage opened #1282 "Add Pub/Sub Data Types documentation"
#1274 adds the protobuf definitions to the generated GAPIC documentation. Add these classes to the jsondoc documentation.

[2017-02-24 21:05] blowmage opened #1283 "Add Pub/Sub Subscription#update"
#1274 adds the API call to update subscriptions. Add this ability as the Subscription#update method.

[2017-02-24 21:06] blowmage opened #1284 "Add Pub/Sub Snapshot"
#1274 adds the protobuf classes and API calls to create, list, and delete subscriptions.

[2017-02-24 21:08] blowmage opened #1285 "Add Pub/Sub Seek"
#1274 adds the API call to seek. Add this ability as the #seek method.

[2017-02-24 21:09] blowmage opened #1286 "Add Pub/Sub Subscription retain_acked/retention_duration"
#1274 adds the retain_acked/retention_duration values to subscriptions. Add these values to the model, create method, and update method.

[2017-02-24 21:14] blowmage opened #1287 "Support Pub/Sub streaming pull?"
The protobuf/GAPIC layer defines the ability to pull messages with a stream, instead of paging responses. Do we want to support streaming on pull requests?

[2017-02-24 22:41] quartzmo commented on #1264
@blowmage Can you remember why [this check](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-bigquery/lib/google/cloud/bigquery/schema.rb#L219) is here? (Why deeper nesting is disallowed?)

[2017-02-24 22:51] quartzmo commented on #1264
@arthurbailao Regarding your original topic:

My understanding is that we need to supply the complete schema in the the patch request, as explained in detail in [this Stack Overflow answer](http://stackoverflow.com/a/17113985/901096). So this means that you must reproduce the whole mapping, unfortunately.

[2017-02-24 23:40] quartzmo commented on #1282
The Pub/Sub documentation is already [configured for protobuf](https://github.com/GoogleCloudPlatform/google-cloud-ruby/blob/master/google-cloud-pubsub/Rakefile#L133-L134), but is there something new that doesn't match the existing configuration?

[2017-02-24 23:45] blowmage commented on #1282
So strange, I was looking at that file and task and it didn't have the configuration. Perhaps I was looking at an older branch...

[2017-02-24 23:45] #1282 closed

[2017-02-24 23:58] blowmage commented on #1264
We disallowed nested records because at the time BigQuery did not allow nested records and gave a pretty obscure error. So the ArgumentError was added. But this looks to be supported by BigQuery now, along with a bunch of other things.

We are actively working on BigQuery and hope to have a substantial update soon. Creating tables with nested records will be included in that. @quartzmo, I think we

[2017-02-25 00:01] quartzmo commented on #1264
SGTM, I will update the description of this issue with a checklist.

[2017-02-25 18:24] blowmage commented on #1231
Yeah, I was originally thinking that we would have to upgrade to Rake 12, since it ships with Ruby 2.4, but this doesn't seem to be a problem as long as we `bundle exec` all the build calls. I've run the full build on Ruby 2.4 locally, including acceptance tests. But I would still like to update the build to use an arbitrary number of CircleCI nodes.

We do need to stay on the technology treadmill

[2017-02-25 21:17] #1231 closed

[2017-02-25 22:03] blowmage commented on #1268
Closing as all these pull requests are now accepted.

[2017-02-25 22:03] #1268 closed

[2017-02-25 22:11] blowmage commented on #1255
Closing as this is already implemented.

[2017-02-26 16:36] blowmage opened #1293 "Fix BYTES query parameters"
Query parameters with BYTES values are not properly formatted. The values need to be base64 encoded.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1294 "Fix nested RECORD types"
Creating nested RECORD table fields is currently not supported and raises an error, but should not. When the implementation was first written creating the API would raise an error when creating nested RECORD fields. The error was judged to be confusing, so the Ruby client started raising a clearer error instead. The Ruby client should remove this error and the API now allows nested RECORD fields.

[2017-02-26 16:36] blowmage opened #1295 "Support creation of BYTES table columns"
The existing Schema implementation does not allow creating a BYTES table column.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1296 "Support creation of DATETIME table columns"
The existing Schema implementation does not allow creating a DATETIME table column.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1297 "Support creation of DATE table columns"
The existing Schema implementation does not allow creating a DATE table column.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1298 "Support creation of TIME table columns"
The existing Schema implementation does not allow creating a TIME table column.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1299 "Update format of returned BYTES values"
Data values retrieved with type BYTES, whether from table reads or queries, are not properly formatted. The value is the base64 encoded data. The value should be base64 decoded and returned as a StringIO, matching the BYTES format used for query parameters.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1300 "Update format of returned DATETIME values"
Data values retrieved with type DATETIME, whether from table reads or queries, are not properly formatted. The value is the formatted string data. The value should be returned as a DateTime, matching the DATETIME format used for query parameters.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1301 "Update format of returned DATE values"
Data values retrieved with type DATE, whether from table reads or queries, are not properly formatted. The value is the formatted string data. The value should be returned as a Date, matching the DATE format used for query parameters.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1302 "Update format of returned TIMESTAMP values"
Data values retrieved with type TIMESTAMP, whether from table reads or queries, are not properly formatted. The value is the formatted string data. The value should be returned as a Time, matching the TIMESTAMP format used for query parameters.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1303 "Update format of returned TIME values"
Data values retrieved with type TIME, whether from table reads or queries, are not properly formatted. The value is the formatted string data. The value should be returned as a Bigquery::Time, matching the TIME format used for query parameters.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1304 "Update format of returned repeated scalar values"
Data values retrieved with type of repeated scalars, whether from table reads or queries, are not properly formatted. The value is an array of hashes. The value should be returned as an array of formatted values, matching the format used for non-repeated scalar values and query parameters.

This was discovered by adding additional acceptance tests (#1238).

[2017-02-26 16:36] blowmage opened #1305 "Update format of returned record values"
Data values retrieved with type of RECORD, whether from table reads or queries, are not properly formatted. The value should be returned as an hash of formatted values, matching the format used for scalar values and query parameters. This should also work for repeated RECORD values, nested RECORD values, and repeated nested RECORD values.

This was discovered by adding additional acceptance tests

[2017-02-26 16:37] blowmage opened #1306 "Enhancements to updating an existing schema"
Updating an existing table schema is cumbersome, and requires manipulating the `fields` array directly. Add convenience methods for the following:

- [x] Retrieving a field by name
- [ ] ~Removing a field by name~ (This is not allowed, table definitions may be additive only)
- [x] Adding a field to a nested record

[refs #1264]

[2017-02-26 16:39] blowmage commented on #1238
The process of adding additional acceptance tests has uncovered several incomplete or missing features. New issues have been created for them.

[2017-02-27 03:13] #1256 closed

[2017-02-27 19:28] #1293 closed

[2017-02-27 19:28] #1295 closed

[2017-02-27 19:28] #1296 closed

[2017-02-27 19:28] #1297 closed

[2017-02-27 19:28] #1298 closed

[2017-02-27 19:28] #1299 closed

[2017-02-27 19:28] #1300 closed

[2017-02-27 19:28] #1301 closed

[2017-02-27 19:28] #1302 closed

[2017-02-27 19:28] #1303 closed

[2017-02-27 19:51] danoscarmike commented on #1263
@remi this one seems invalid.  Can we close?

[2017-02-27 19:51] #1263 closed

[2017-02-27 20:33] blowmage commented on #896
There is some movement on this. The PR google/google-auth-library-ruby#97 implements retry and incremental backoff on the authentication calls.

[2017-02-27 20:37] blowmage commented on #896
@danoscarmike I think we are okay to close this issue since, as @quartzmo points out, any changes to address this will be made to libraries other than `google-cloud-*` gems. What do you think?

[2017-02-27 21:17] blowmage commented on #1196
In the same way the Ruby API for Storage doesn't expose either of the `object.update` and `object.patch` API calls, I don't see a reason to change the Ruby API to take advantage of `object.rewrite` where it is using `object.copy` today. The Ruby API can take advantage of object.rewrite` without exposing the fact.

[2017-02-27 21:46] qingling128 commented on #1239
Hi, did anyone have a chance to take a quick look? Or any other thoughts that I can try poking around myself?

[2017-02-27 22:03] landrito commented on #1255
The encoding type is actually in regards to the encoding type the user expects from the API. Since Ruby's default encoding is UTF-8 for versions 2.0+ we should not even expose this parameter.

Heres the bit of documentation in regards to this: https://github.com/googleapis/googleapis/blob/master/google/cloud/language/v1/language_service.proto#L927

[2017-02-27 23:55] blowmage commented on #1239
@apolcyn ^

[2017-02-28 00:05] blowmage commented on #1255
@landrito Should the Ruby client always use `UTF8`? Or should it check if `Encoding.default_internal` is `Encoding::UTF_16` or `Encoding::UTF_32` and use that encoding?

[2017-02-28 03:18] apolcyn commented on #1239
The issue seen here is reproducing for me (with trailing metadata arriving locally but not on gce), but I'm not sure what the cause is so far.

noteworthy so far is with `export GRPC_VERBOSITY=DEBUG GRPC_TRACE=all,-queue_pluck,-queue_timeout`, running the repro here locally shows the "google.rpc.debuginfo-bin" trailer show up in c-core, while it doesn't on the gce instance

[2017-02-28 03:32] landrito commented on #1255
Since the api supports utf16 and utf32 I think it would be best to use utf8 if `Encoding::UTF_8` is found, utf16 if `Encoding ::UTF_16` is found and, utf32 if `Encoding::UTF_32` is found.

`Encoding.default_internal` can find other encodings besides utf8, utf16, or utf32. It's up in the air what we should do for that scenario. I'm leaning towards defaulting to utf8 if it is not utf16 or utf32. Tho

[2017-02-28 03:38] bjwatson commented on #1268
@blowmage @landrito Can you let me know when all of these updates packages have been published?

[2017-02-28 03:39] blowmage commented on #1255
I think it would be best to use UTF8 unless the system is set to UTF-16 or UTF-32. So if the system is set to ISO-8859-1 the API call will be made with UTF8. Does that work for you?

[2017-02-28 03:42] landrito commented on #1255
Works for me.

[2017-02-28 03:47] blowmage commented on #1268
Should be later this week or early next week.

[2017-02-28 04:53] arthurbailao commented on #1264
Great guys!! Thank you!!

[2017-02-28 22:35] blowmage commented on #1239
@apolcyn That's great you have a repro! Is it fair to say that this is an issue in GRPC on GCE? If so, would it make more sense to open a separate issue on GRPC and close this issue?

[2017-02-28 22:59] #1255 closed

[2017-02-28 23:52] apolcyn commented on #1239
This is still a guess at this point but to me it looks like the "google.rpc.debuginfo-bin" is actually not intended to arrive on GCE machines - this would be outside of GRPC's control. Please email me for internal details.

[2017-03-01 01:19] qingling128 commented on #1239
There is already an internal ticket for this. I've emailed you the number. We can have follow ups there.

Feel free to close this ticket. And thanks all for helping with the issue! :)

[2017-03-01 01:26] blowmage commented on #1239
Will there be a public issue created where we can get status updates?

[2017-03-01 01:29] blowmage commented on #1239
Closing since this has been identified as an upstream issue. Thanks all!

[2017-03-01 01:29] #1239 closed

[2017-03-01 04:35] bjwatson commented on #1268
@blowmage Please make every effort to deploy this week, especially for Vision and Logging. Every day we wait, we're losing usage metrics.

[2017-03-01 15:05] bmclean opened #1309 "ActiveModel Cloud Datastore Gem - Feedback Requested"
We are planning to use cloud datastore as the backend for another Rails project at Agrimatics.

So, we are considering turning [this](https://github.com/Agrimatics/active-model-cloud-datastore) into a gem.

According to the RubyGems naming [guide](http://guides.rubygems.org/name-your-gem) we should name the gem something like:

   "active_model-google-cloud-datastore”

Is it acceptable to use “goo

[2017-03-01 16:27] blowmage commented on #1309
@danoscarmike Can you comment on this?

[2017-03-01 16:33] qingling128 commented on #1239
Hi @blowmage, if this turns out to be an issue with GRPC, I'll create a public issue for status updates there. If this ends up being an issue with GCE machines, or if the details are internal only, I will give updates in this ticket when the problem is resolved.

[2017-03-01 16:42] blowmage commented on #1268
@bjwatson I can release them all today, except for Natural Language. Is that okay?

[2017-03-01 18:15] bjwatson commented on #1287
@garrettjonesgoogle Can you answer this question?

[2017-03-01 18:19] landrito commented on #1286
cc @garrettjonesgoogle Is this going to be release blocking?

[2017-03-01 18:19] garrettjonesgoogle commented on #1287
We do want to support it and actually make it the primary way of getting messages from Pub/Sub long-term because it is more performant. This should be hidden in the implementation though, such that the user doesn't have to know if a synchronous pull or asynchronous streaming is used under the hood. This implies that the surface should operate with a callback model.

For the moment the server metho

[2017-03-01 18:22] garrettjonesgoogle commented on #1286
@kir-titievsky does this feature block Pub/Sub beta in any languages?

[2017-03-01 18:26] quartzmo commented on #1264
This is now covered by follow-up issues.

[2017-03-01 18:26] #1264 closed

[2017-03-01 18:30] landrito commented on #1166
cc @omaray @tcoffee-google Can you provide insight here?

[2017-03-01 18:40] quartzmo commented on #924
Closing this for lack of interest.

[2017-03-01 18:40] #924 closed

[2017-03-01 18:50] blowmage commented on #829
This was implemented many moons ago.

[2017-03-01 18:50] #829 closed

[2017-03-01 18:51] #816 closed

[2017-03-01 18:52] #810 closed

[2017-03-01 18:53] blowmage commented on #764
This issue should have closed in November when the PR #757 was closed.

[2017-03-01 18:54] bjwatson commented on #759
@quartzmo Please scope this more tightly.

[2017-03-01 18:58] bjwatson commented on #755
We'll create a new issue when these protos are public.

[2017-03-01 18:58] #755 closed

[2017-03-01 18:58] blowmage commented on #753
Closing this issue. If this is still an issue for grpc 1.1.2 please open a new issue.

[2017-03-01 18:58] #753 closed

[2017-03-01 19:17] bjwatson commented on #1287
Should this be considered release blocking for Beta, or is it more of an implementation detail?

[2017-03-01 19:28] blowmage commented on #95
All these calls are made through Google API Client now, which supports retry with incremental backoff.

[2017-03-01 19:28] #95 closed

[2017-03-01 19:34] garrettjonesgoogle commented on #1287
I think that depends on the surface in Ruby. When support is added, will users have to change their code? If not, then it shouldn't block beta.

[2017-03-01 19:39] bjwatson commented on #1287
Thanks, @garrettjonesgoogle.

What do you think, @blowmage?

[2017-03-01 20:05] bjwatson commented on #1268
Sounds great! Thanks @blowmage.

[2017-03-01 20:06] blowmage commented on #1287
This looks additive to me. I think we should retain backwards compatibility.

[2017-03-01 20:09] bjwatson commented on #1287
Great! `P2+` it remains.

[2017-03-01 20:11] blowmage commented on #1287
I imagine we would just replace the internals of [`Subscription#listen`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-pubsub/v0.23.1/google/cloud/pubsub/subscription?method=listen-instance) to use the stream.

[2017-03-01 20:34] blowmage commented on #1268
@bjwatson All these changes are released, except for Natural Language, which has some breaking changes and will be released with the next batch of major releases.

[2017-03-01 20:35] bjwatson commented on #1268
Thanks Mike!

[2017-03-01 23:13] quartzmo commented on #759
I reviewed the acceptance testing for the three packages listed above (Datastore, Logging, and Pub/Sub), and feel that the coverage is adequate at this time. (Logging is also covered by integration tests.) So I will not be opening more tightly-scoped issues to replace this issue.

[2017-03-01 23:13] #759 closed

[2017-03-02 10:45] Rob117 commented on #899
I'm experiencing the same issue in a rails app.

In my config/initializers folder, I have

[code]

Then in the controller, I simply have:

[code]

This works, but if I wait 4 minutes, I get:

`Google::Cloud::InternalError (13:{"created":"@1488451071.891371320","description":"Transport closed","file":"src/core/ext/transport/chttp2/transport/chttp2_transport.c","file_line":1072}):`

And such as a re

[2017-03-02 22:16] #1238 closed

[2017-03-02 22:16] #1294 closed

[2017-03-02 22:16] #1304 closed

[2017-03-02 22:16] #1305 closed

[2017-03-03 16:46] blowmage commented on #939
I've looked into this in more detail, and I've decided to close this issue without implementing any changes. I want to explain why.

When we originally implemented BigQuery we were aware of the [options to define a schema](https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.load) for a table as part of the load process. However, we decided against implementing a mechanism to con

[2017-03-03 16:46] #939 closed

[2017-03-03 21:47] #1306 closed

[2017-03-05 08:30] dorinionescu commented on #706
for simple command line projects use

`set GOOGLE_APPLICATION_CREDENTIALS=E:\key\Apia_Bucuresti-e471c5971f29.json
`( or "export" on linux)

For complex projects use direct java control
[code]

where json creation and API activation are described here [Google Vision API Doc](https://cloud.google.com/vision/docs/)

Enjoy !

[2017-03-06 16:38] blowmage commented on #1264
@arthurbailao Last Friday we released a new google-cloud-bigquery version that adds some convenience methods that will make modifying an existing schema better. Adding a `store_id` column to `custom_data` can now look like this:

[code]

Thanks for opening this issue! If you have any problems with this new release please open another issue.

[2017-03-06 17:29] blowmage commented on #706
I've verified that this is still an issue when using the gcloud SDK when authenticating with a user's personal account. The ruby Vision code detects the project_id from the environment variable, but the credentials that API calls use are recognizing the project that the personal user account authenticated with, which is `google.com:cloudsdktool`. The `google-cloud-resource-prefix` header is sent w

[2017-03-07 16:43] arthurbailao commented on #1264
@blowmage I tested the new version and it works perfectly for me, thanks!!! Just fixing a typo in your code snippet:
[code]

[2017-03-09 17:03] blowmage commented on #1309
@swcloud Song, can you talk on naming concerns?

[2017-03-09 17:54] bmclean opened #1319 "Datastore - what controls the batch size of query results?"
What controls the batch size on the number of results returned from a datastore query?

For example, let's say I have 2000 recipes in datastore.
[code]
When I perform `run` on the query, I initially get 300 results.
`query_results = dataset.run query`

When I execute `all` on the QueryResults enumerator, I get all 2000 recipes 300 at a time.
`query_results.all`

But where is this batch size of 300

[2017-03-09 18:06] #737 closed

[2017-03-09 18:08] #717 closed

[2017-03-09 18:11] swcloud commented on #712
blocked by grpc team.

[2017-03-09 18:15] #706 closed

[2017-03-09 18:16] #614 closed

[2017-03-09 18:26] swcloud commented on #542
It should be done. To confirm by @blowmage

[2017-03-09 18:32] swcloud commented on #517
We cannot identify the underlying problem since we're using grpc now.

[2017-03-09 18:32] #517 closed

[2017-03-09 18:40] #316 closed

[2017-03-09 18:41] #764 closed

[2017-03-09 18:45] swcloud commented on #226
We will close this issue and @quartzmo will file separate issues for remaining APIs.

[2017-03-09 18:47] #203 closed

[2017-03-09 18:49] #194 closed

[2017-03-09 18:51] #97 closed

[2017-03-09 19:04] blowmage commented on #1319
Results are returned [in batches](https://cloud.google.com/datastore/docs/reference/rest/v1/projects/runQuery#QueryResultBatch), and the batch size is determined by the Datastore API. AFAIK there is no mechanism for controlling the size of a batch, but you can use [`Query#limit`](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-datastore/v0.24.2/google/cloud/datastore/qu

[2017-03-09 19:10] quartzmo opened #1320 "Test Pub/Sub example code"
Also known as: "snippets testing"

Provide automated testing in the Rake `ci` task for the Pub/Sub documentation examples (YARD's `@example` tag) using the [yard-doctest](https://github.com/p0deje/yard-doctest) library, as discussed in #226.

[2017-03-09 19:10] #1319 closed

[2017-03-09 19:11] quartzmo opened #1321 "Test Error Reporting example code"
Also known as: "snippets testing"

Provide automated testing in the Rake `ci` task for the Error Reporting documentation examples (YARD's `@example` tag) using the [yard-doctest](https://github.com/p0deje/yard-doctest) library, as discussed in #226.

[2017-03-09 19:12] quartzmo opened #1322 "Test Resource Manager example code"
Also known as: "snippets testing"

Provide automated testing in the Rake `ci` task for the Resource Manager documentation examples (YARD's `@example` tag) using the [yard-doctest](https://github.com/p0deje/yard-doctest) library, as discussed in #226.

[2017-03-09 19:16] quartzmo commented on #226
The remaining work in the description checklist is now covered by #1320, #1321, #1322. Closing.

[2017-03-09 19:16] #226 closed

[2017-03-09 19:48] bmclean commented on #1319
Thanks @blowmage. Yes, that helps. I think we can add a regression test for the missing `all` by validating Enumerator vs Google::Cloud::Datastore::Dataset::QueryResults.

[2017-03-09 20:02] dazuma commented on #613
This would be a breaking change. And I can see a pretty strong argument for leaving it as-is. A common case might be for an application to do some stuff that may buffer up 0 or more log entries, then transmit the entire buffer in a batch. You would expect that if the buffer size is 0, that the transmission might optimize itself away but shouldn't return an error.

[2017-03-10 01:07] quartzmo commented on #613
SGTM, thanks for your input @dazuma. Closing.

[2017-03-10 01:07] #613 closed

[2017-03-10 02:42] JasonLunn commented on #712
CC: @remi

[2017-03-10 02:50] JasonLunn commented on #712
I can confirm that protobuf has released version [3.1.0](https://rubygems.org/gems/google-protobuf/versions/3.1.0-java) with a `java` platform, which leaves grpc/grpc#6705 as the next known issue.

[2017-03-10 15:22] danoscarmike commented on #1309
@bmclean @blowmage apologies for the slow response - it's been a busy week around here ;)  I'll have to seek advice on this...please standby

[2017-03-10 15:43] lukesneeringer commented on #1309
@danoscarmike I would defer to the legal folks at Google (I am not a lawyer), but I am 99% sure the answer to this question is "no, do not use Google as part of the name".

Our code is distributed under the [Apache license][1], which explicitly forbids using the licensor's name in section 7, except as a way to describe origin and for posting of the original license. See also the explanation in [qu

[2017-03-10 15:57] blowmage commented on #1309
FWIW, I agree `active_model-datastore` is a better name, but I can't speak to any legalities. A proof-of-concept ActiveRecord adapter for Cloud Spanner exists under the name [`activerecord-spanner-adapter`](https://github.com/supership-jp/activerecord-spanner-adapter), which follows the same approach of dropping both `google` and `cloud`.

[2017-03-10 16:24] bmclean commented on #1309
Thank you everybody! We are dropping both google and cloud from the name and going with `active_model_datastore`.

[2017-03-10 16:24] #1309 closed

[2017-03-10 16:30] blowmage commented on #1309
I would suggest `activemodel-datastore` or `active_model-datastore`, but not `active_model_datastore`.

Rails loves to break norms, and does so with how they name their gems. The naming convention would be use `active_model`, but the actual gem name is `activemodel`. FWIW...

[2017-03-10 16:35] bmclean commented on #1309
Interesting. OK, `activemodel-datastore` it is!

[2017-03-10 17:25] #1279 closed

[2017-03-10 17:25] #1280 closed

[2017-03-10 22:41] landrito commented on #899
https://github.com/grpc/grpc/pull/9986 should be able to help.

[2017-03-11 03:47] timanovsky opened #1325 "Datastore / grpc: 413:Request Entity Too Large reported as GRPC::Unavailable: 14"
So we recently started seeing this new error:
`GRPC::Unavailable: 14:413:Request Entity Too Large` two problems with it:

1) not completely sure what it means, there is other error code for oversized entities:
`Google::Cloud::InvalidArgumentError: 3:The value of property "data" is longer than 1048487 bytes.` Documentation says nothing about code 413.

2) It is reported as `Unavailable` class, so p

[2017-03-13 15:24] bmclean commented on #1325
I am curious, did you try a retry and was it successful? I understand the confusion as HTTP 413 errors (Request Entity Too Large) mean the request entity is larger than the server is willing or able to process.

[2017-03-13 17:04] quartzmo commented on #1325
@timanovsky Is the issue here that the `Unavailable` wrapper is incorrect for `413 Payload Too Large`?

[2017-03-13 18:14] #1281 closed

[2017-03-13 18:42] danoscarmike commented on #1325
@lukesneeringer @swcloud: @blowmage suggests this must be coming from the datastore service itself.  GRPC returning unavailable (14) with a description detailing an HTTP error (413).  Can you please review with datastore team?

[2017-03-13 18:50] quartzmo commented on #1166
Closing for now, this can be reopened if needed.

[2017-03-13 18:50] #1166 closed

[2017-03-13 20:02] timanovsky commented on #1325
@quartzmo Yes, `Unavailable` assumes it is retriable I think
@bmclean Yes, tried to retry this without success

[2017-03-14 01:05] wrs opened #1327 "Subscriptions on threads segfault on exit"
Minimal repro:

- ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]
- google-cloud-core (0.21.1)
- google-cloud-pubsub (0.23.2)
- google-protobuf (3.2.0.1)
- googleapis-common-protos (1.3.5)
- grpc (1.1.2)

[code]

Crash:

[code]

It appears that `c->cb` points to unallocated address space here: https://github.com/grpc/grpc/blob/46357c882df1afc28f7a5228c40fde522093fa32/src/core/lib/iomgr/

[2017-03-14 01:12] blowmage commented on #1327
Thanks for the issue, and especially the repro, @wrs! This is great.

@swcloud Is this something that you can escalate to the GRPC team?

[2017-03-14 04:53] hiroshi opened #1328 "[Proposal] Make Google::Cloud::Storage::File#copy receive storage_class as a option."
We got following error sometimes when copying a object to another bucket.
`Google::Cloud::Error: uploadTooLarge: Copy spanning locations and/or storage classes could not complete within 30 seconds. Please use the Rewrite method (https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite) instead.`
In the source bucket storage class of objects vary.

To avoid this error, instead of using rew

[2017-03-14 05:06] blowmage commented on #1328
Related: #1196

[2017-03-14 06:03] swcloud commented on #899
@landrito can you work with @apolcyn to find out grpc 1.2 release plan, i.e. whether we can get 1.2 release before March 17?

[2017-03-14 06:17] swcloud commented on #1325
Currently the client library only does retry for non_idempotent methods. We have to yet propagate the commit here https://github.com/googleapis/googleapis/commit/b01f986d341005ee0c98ac3d3af764d974715091

to the client library.

[2017-03-14 06:22] swcloud commented on #1327
Adding @apolcyn

[2017-03-14 09:15] hxiong388 commented on #1327
Sounds similar to root cause of #1096. When the process terminates before gRPC connection  is able to terminate properly (ctrl C before thr.join returns in this case) results in connection leak and segfault.

[2017-03-14 17:10] arakanema opened #1329 "Typo"
In
[https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.26.0/google/cloud/datastore](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud/v0.26.0/google/cloud/datastore)

at **"Paginating records"**

❌ tasks.all do |task|
⭕️ tasks.all do |t|

❌
[code]
⭕️
[code]

[2017-03-14 17:32] quartzmo commented on #1329
@arakanema Thank you very much!

[2017-03-14 17:54] wrs commented on #1327
@hxiong388 When the `pull` completes, the join returns and there's a normal process exit.

[2017-03-14 20:52] #563 closed

[2017-03-14 20:53] #1329 closed

[2017-03-14 22:37] omaray opened #1333 "Test top 4 APIs on GAE Flex, GKE, and GCP"
Test BigQuery, Storage, Datastore, and Logging client libraries on all the GCP platforms (don't include GAE Standard).

Close this issue once we confirm it all works.

[2017-03-14 22:51] blowmage commented on #1333
@swcloud Any input on how to do this? Should this be automated?

[2017-03-14 23:12] quartzmo commented on #1333
I think the [Logging integration tests](https://github.com/GoogleCloudPlatform/google-cloud-ruby/tree/master/google-cloud-logging/integration) may serve as a foundation.

[2017-03-15 15:20] thagomizer commented on #1333
If it doesn't need to be automated I can help. I used logging on 2 flex apps (one in production). I used storage via fog but can switch to our storage library in both. And deploying that code to GCE and GKE is straightforward. I'm only testing the happy path but it is working great.

[2017-03-15 15:47] quartzmo commented on #1333
Thanks @thagomizer!

I will start down the automation path today, but manual tested may very well be needed depending on the schedule.

I also propose creating separate issues for each package and each GCP platform.

[2017-03-15 22:22] swcloud commented on #1325
@timanovsky the retry for non_idempotent methods for Unavailable has been merged to master. Please give it another try.

[2017-03-15 22:26] timanovsky commented on #1325
@swcloud I think there is a misunderstanding here. I don't have problems with the library (not) retrying the error, we use our own retry layar. The problem is that fatal error is reported as `Unavailable` which has retriable semantics.

[2017-03-15 22:41] swcloud commented on #1325
@timanovsky Can you let us know which API method call caused the error? Any code snippet to reproduce the error? That'll help a lot to investigate.

[2017-03-15 22:43] timanovsky commented on #1325
@swcloud It id batch `commit` operation which contains a couple of `save` operations

[2017-03-16 10:05] omaray commented on #1333
Hey guys - if automating is too much work let's hold off and chat at the next meeting. The idea was indeed to sanity check first to make sure we're not hitting anything obvious here that our customers would hit simply by deploying and calling our libraries.

But if we can easily automate, then yes that would also be awesome.

[2017-03-16 10:07] omaray opened #1336 "Question: is this snippet accurate?"
Found this code below in this [doc page](https://googlecloudplatform.github.io/google-cloud-ruby/#/docs/google-cloud-bigquery/v0.24.0/google/cloud/bigquery).  Is it accurate? I feel the second require (when the job doesn't fail) should be for storage, and not for bigquery.

[code]

[2017-03-16 12:41] blowmage commented on #1336
The second require should be for storage.

[2017-03-16 14:58] quartzmo commented on #1336
Thanks @omaray!

[2017-03-16 15:10] quartzmo opened #1337 "Test code examples in the BigQuery guide"
Because `yard-doctest` does not support testing the in-line examples in our guides (the long-form discussions formatted in markdown on the root package namespace), guide examples must be tested by ensuring that they are copied from API examples that are tested (these are marked with the`@example` tag).

Known error in BigQuery guide: #1336

[2017-03-16 15:11] quartzmo opened #1338 "Test code examples in the Datastore guide"
Because `yard-doctest` does not support testing the in-line examples in our guides (the long-form discussions formatted in markdown on the root package namespace), guide examples must be tested by ensuring that they are copied from API examples that are tested (these are marked with the`@example` tag).

[2017-03-16 15:12] quartzmo opened #1339 "Test code examples in the Storage guide"
Because `yard-doctest` does not support testing the in-line examples in our guides (the long-form discussions formatted in markdown on the root package namespace), guide examples must be tested by ensuring that they are copied from API examples that are tested (these are marked with the`@example` tag).

[2017-03-16 15:21] quartzmo opened #1340 "Test code examples in the Logging guide"
Because `yard-doctest` does not support testing the in-line examples in our guides (the long-form discussions formatted in markdown on the root package namespace), guide examples must be tested by ensuring that they are copied from API examples that are tested (these are marked with the`@example` tag).

[2017-03-16 15:32] quartzmo commented on #1333
@omaray I'll do a bit more research into test automation, so that we can have a better-informed discussion at the next meeting. I will also try to manually or semi-manually execute some tests as part of the exploration.

[2017-03-16 17:16] blowmage commented on #1325
@timanovsky Do you have a full backtrace?

[2017-03-16 21:02] quartzmo commented on #1333
@hxiong388 I believe I have successfully executed your amazing (and amazingly involved) automated GAE and GKE testing for Error Reporting and Logging, and I am hoping to use expand it to run tests for the packages in this issue. These tests will be as simple as possible, which I believe still involves deploying them within a Sinatra web app. At this point, I'm wondering: What is your take on testi

[2017-03-16 21:13] hxiong388 commented on #1333
GAE and GKE tests can be automated relatively easier, thanks to gcloud SDK and kubectl. While GCE may be a bit harder due to its IaaS nature. I think if we can get the tests automated on GAE and GKE, it may be sufficient to imply the coverage for GCE, because:
1. GAE and GKE are currently hosted from GCE vms.
2. The GCE environment's two main services, metadata service accessibility and applicatio